[Reference](https://towardsdatascience.com/understanding-args-and-kwargs-in-python-321937f49c5b)

In [1]:
def do_something(num1, num2, *args):
    print(num1)
    print(num2)

In [2]:
do_something(5,6)

5
6

In [3]:
do_something(5,6,7,8,9)

5
6

In [4]:
def do_something(num1, num2, *args, **kwargs):
    print(num1)
    print(num2)
    for arg in args:
        print(arg)

In [5]:
do_something(5,6,7)
do_something(5,6,7,8)
do_something(5,6,7,8,9)
do_something(5,6,7,8,9,True)
do_something(5,6,7,8,9,True,3.14)

5
6
7
5
6
7
8
5
6
7
8
9
5
6
7
8
9
True
5
6
7
8
9
True
3.14

In [7]:
def average(*args):
    return sum(args) / len(args)
    
print(average(1,2))            # 1.5
print(average(1,2,3))          # 2.0
print(average(1,2,3,4,5))      # 3.0
print(average(1,2,3,4,5, 6.1)) # 3.516666666666667

1.5
2.0
3.0
3.516666666666667

In [8]:
do_something(5,6,7,8,9)

5
6
7
8
9

In [9]:
values = (7,8,9)   # tuple

In [10]:
do_something(5,6,*values)

5
6
7
8
9

In [11]:
values = [7,8,9]   # list
do_something(5,6,*values)

5
6
7
8
9

In [12]:
do_something(5,6,x=7)
do_something(5,6,x=7,y=8)

5
6
5
6

In [13]:
def do_something(num1, num2, **kwargs):
    print(num1)
    print(num2)
    for k,v in kwargs.items():   # get each key/value pair one at a 
        print(k,v)               # time

In [14]:
def do_something(num1, num2, **kwargs):
    print(num1)
    print(num2)
    for k in kwargs.keys():    # retrieve all the keys
        print(k, kwargs[k])    # then get the value based on the key

In [16]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5,4), 
                  columns=['Summer','Winter','Autumn','Spring'])
df

     Summer    Winter    Autumn    Spring
0  0.773433  2.080715 -0.138742 -2.305345
1 -1.105263 -0.782013  2.027793 -0.215979
2 -0.856643 -2.536010 -1.939978  1.790229
3  0.793903 -1.478404 -1.482841 -0.481181
4  0.343594 -1.582932  1.086373 -0.403291

In [18]:
def fetch_data(**kwargs):
    for k,v in kwargs.items():
        print(df[[k]][df[k]>v])        # df[[k]] first returns the specified column (k) as a 
        # dataframe, then [df[k]>v] retrieves all the rows whose 
        # cell value is more than the value specified (v)

In [19]:
fetch_data(Summer=0.5)             # retrieve only the Summer column
fetch_data(Summer=0.5, Winter=0.2) # retrieve the Summer and Winter 
                                   # columns

     Summer
0  0.773433
3  0.793903
     Summer
0  0.773433
3  0.793903
     Winter
0  2.080715

In [20]:
fetch_data(Summer=0.5, Winter=0.2)

     Summer
0  0.773433
3  0.793903
     Winter
0  2.080715

In [21]:
kwpairs = {'Summer':0.5, 'Winter':0.2}    # dictionary
fetch_data(**kwpairs)
# same as
fetch_data(Summer=0.5, Winter=0.2)

     Summer
0  0.773433
3  0.793903
     Winter
0  2.080715
     Summer
0  0.773433
3  0.793903
     Winter
0  2.080715