[Reference](https://medium.com/dev-genius/filter-vs-itertools-filterfalse-in-python-d2e56ec54cae)

# filter

In [1]:
def even(x):
    if x%2==0:
        return True
num1=[1,2,3,4,5,6,7,8,9,10]

even=filter(even,num1)
print(even)
print(type(even))
print(list(even))

<filter object at 0x7fe7422b3dd8>
<class 'filter'>
[2, 4, 6, 8, 10]

In [3]:
d={'a':100,'b':40,'c':2}
d1=filter(lambda x:x>10,d.values())

print(d1)
print(type(d1))
print(list(d1))

<filter object at 0x7fe7422b3cc0>
<class 'filter'>
[100, 40]

In [4]:
num1=[1,0,2,3,{},False]
d1=filter(None,num1)
print(d1)
print(type(d1))
print(list(d1))

<filter object at 0x7fe7422b3b00>
<class 'filter'>
[1, 2, 3]

In [5]:
num1=["red","rain","region",'blue','purple']
d1=filter(lambda x:x.startswith("r"),num1)
print(d1)
print(type(d1))
for i in d1:
    print(i)

<filter object at 0x7fe7422b3f28>
<class 'filter'>
red
rain
region

In [6]:
t1=(1,2,3,4,5)
d1=filter(lambda x:x%2!=0,t1)
print(d1)
print(type(d1))
print(next(d1))
print(next(d1))
print(next(d1))

<filter object at 0x7fe741a4dfd0>
<class 'filter'>
1
3
5

# itertools.filterfalse

In [7]:
import itertools
#iterator will filter the elements from the iterable which returns False for the given function
num1=itertools.filterfalse(lambda x:x>4,[1,2,3,4,5,6,7,8,9])
print(num1)
print(list(num1))

<itertools.filterfalse object at 0x7fe741a4dc18>
[1, 2, 3, 4]

In [8]:
import itertools

def even(x):
    if x%2==0:
        return x
        
num1=[1,2,3,4,5,6,7,8,9,10]
num2=itertools.filterfalse(even,num1)

print(list(num2))

[1, 3, 5, 7, 9]

In [9]:
#If predicate is None, returns the items that are False.
num5=itertools.filterfalse(None,[0,1,2,3,4,5])
print(list(num5))

[0]

In [10]:
from itertools import filterfalse
num1=["red","rain","region",'blue','purple']

d1=filterfalse(lambda x:x.startswith("r"),num1)
print(d1)

print(type(d1))

for i in d1:
    print (i)

<itertools.filterfalse object at 0x7fe7422b3f28>
<class 'itertools.filterfalse'>
blue
purple

In [11]:
import itertools
t1=(1,2,3,4,5)
d1=itertools.filterfalse(lambda x:x%2!=0,t1)
print(d1)
print(type(d1))
print(next(d1))
print(next(d1))

<itertools.filterfalse object at 0x7fe741a554e0>
<class 'itertools.filterfalse'>
2
4