[Reference](https://python.plainenglish.io/lambda-expressions-with-map-and-filter-functions-in-python-42610881e046)

# Map

In [1]:
def square(num):
    return num**2

list_of_numbers = [1,2,3]

for i in map(square,list_of_numbers):
    print(i)

1
4
9

# Filter

In [2]:
def even_numbers(num):
    return num%2 == 0

list_of_numbers = [1,2,3]

for i in filter(even_numbers,list_of_numbers):
    print(i)

2

In [3]:
def square(num): return num**2

lambda num: num**2

In [4]:
list_of_numbers = [1,2,3]

for i in map(lambda num: num**2,list_of_numbers):
    print(i)

1
4
9

In [5]:
def even_numbers(num): return num%2 == 0

lambda num: num%2 == 0

In [6]:
list_of_numbers = [1,2,3]

for i in filter(lambda num: num%2 == 0,list_of_numbers):
    print(i)

2