[Reference](https://martinxpn.medium.com/functions-in-python-27-100-days-of-python-cb19ebf60def)

In [1]:
def greet():
    print('Hello, World!')

# You can call this function by simply typing its name followed by parentheses:
greet()

Hello, World!

In [2]:
def play_tutorial():
    print('Welcome to the tutorial.')
    print('Learn how to play the game.')
    print('Enjoy the game.')

play_tutorial()

Welcome to the tutorial.
Learn how to play the game.
Enjoy the game.

# Passing Arguments to Functions

In [3]:
def post_to_timeline(user_id, message):
    print(f'Posting {message} on {user_id}\'s timeline')

post_to_timeline('anna123', 'Hey there')

Posting Hey there on anna123's timeline

# Return Values from Functions

In [4]:
def calculate_discount(price, discount_percentage):
    return price - (price * discount_percentage / 100)

discounted_price = calculate_discount(100, 10)
print(discounted_price)

90.0

# Return Multiple Values from a Function

In [5]:
def calculate_cost_and_tax(price):
    tax = price * 0.08
    return price, tax

cost, tax = calculate_cost_and_tax(100)
print('Cost: ', cost)
print('Tax: ', tax)

Cost:  100
Tax:  8.0

In [ ]:
def date_to_day_month_year(date):
    day, month, year = date.split('-')
    return day, month, year

day, month, year = date_to_day_month_year('28-01-2023')
print('Day: ', day)
print('Month: ', month)
print('Year: ', year)