[Reference](https://levelup.gitconnected.com/10-cool-python-coding-tricks-for-programmers-1ae08f66d36c)

# 1. Count Objects Using a Counter

In [1]:
from collections import Counter
mylst = [1,1,1,2,2,2,2,3,3,3,3,3,4,4,5,6,6,6]
print(Counter(mylst))

Counter({3: 5, 2: 4, 1: 3, 6: 3, 4: 2, 5: 1})

# 2. Deleting redundant items from a list

In [2]:
Numbers = [30, 32, 14, 26, 18, 18, 20, 30, 28]
print("Original= ", Numbers)
Numbers = list(set(Numbers))
print("After removing duplicate= ", Numbers)

Original=  [30, 32, 14, 26, 18, 18, 20, 30, 28]
After removing duplicate=  [32, 14, 18, 20, 26, 28, 30]

# 3. Concatenate Strings

In [3]:
arr1 = ['T', 'r', 'i', 'c', 'k', 's']
res = "".join(arr1)
print (res)

Tricks

# 4. Swapping numbers:

In [4]:
i = 50
j = 100
temp = i
i = j
j = temp
print('The value of i after swapping: {}'.format(i))
print('The value of j after swapping: {}'.format(j))

The value of i after swapping: 100
The value of j after swapping: 50

In [5]:
i = 50
j = 100
i, j = j, i
print("i =", i)
print("j =", j)

i = 100
j = 50

# 5. Calculating memory used by an object

In [6]:
import sys
mylst = ['India', 'Paris', 'London', 'Italy', 'Rome']
print("size of list = ",sys.getsizeof(mylst))

size of list =  96

# 6. Reversing a String

In [7]:
text = "Learning python"[::-1]
print(text)

nohtyp gninraeL

# 7. Transposing a matrix

In [8]:
matrix=[(1,2,3),(4,5,6),(7,8,9),(10,11,12)]
t_matrix = zip(*matrix)
for row in t_matrix:
    print(row)

(1, 4, 7, 10)
(2, 5, 8, 11)
(3, 6, 9, 12)

# 8. Print a string multiple times

In [9]:
str ="Python"
print(str * 4)

PythonPythonPythonPython

# 9. Making Use of Generators Within Functions

In [10]:
sum(i for i in range(5) )

10

# 10. Print the elements of a list in any order

In [11]:
mylst = [10,20,30]
a,b,c = mylst
print(c, a, b )
print(a, c, b )

30 10 20
10 30 20