[Reference](https://towardsdatascience.com/10-idiotic-ways-to-refactor-your-python-code-cbb05bb0c820)

# 1. Comprehensions

In [1]:
# Create a list of numbers as our start point
numbers = list(range(5))
print(numbers)

# Instead of doing this:
squares0 = []
for number in numbers:
     if number%2 == 0:
         squares0.append(number*number)
 
print(squares0)


# The idiomatic way:
squares1 = [x*x for x in numbers if x%2 == 0]
print(squares1)

[0, 1, 2, 3, 4]
[0, 4, 16]
[0, 4, 16]

In [3]:
# Dictionary comprehension
{x: x*x for x in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [4]:
# Set comprehension
{x*x for x in range(5)}

{0, 1, 4, 9, 16}

# 2. F-Stings

In [5]:
# Define the conversion ratio
usd_to_eur = 0.89

# Instead of doing these:
print('1 USD = {rate:.2f} EUR'.format(rate=usd_to_eur))
print('1 USD = %.2f EUR' % usd_to_eur)

# The idiomatic way:
print(f'1 USD = {usd_to_eur:.2f} EUR')

1 USD = 0.89 EUR
1 USD = 0.89 EUR
1 USD = 0.89 EUR

# 3. Multiple Assignment and Tuple Unpacking

In [6]:
# Instead of doing this:
code = 404
message = "Not Found"

# The idiomatic way:
code, message = 404, "Not Found"

In [7]:
# Define a tuple and unpack it
http_response = (404, "Not Found")
code, message = http_response
print(f'code: {code}; message: {message}')

code: 404; message: Not Found

# 4. Catch-All Unpacking

In [8]:
# Define the tuple for unpacking
numbers = tuple(range(8))
numbers
(0, 1, 2, 3, 4, 5, 6, 7)

# Instead of doing this:
first_number0 = numbers[0]
middle_numbers0 = numbers[1:-1]
last_number0 = numbers[-1]

# The idiotic way:
first_number1, *middle_numbers1, last_number1 = numbers

# Verify the results
print(first_number0 == first_number1)

print(middle_numbers0 == middle_numbers1)

print(last_number0 == last_number0)

True
False
True

In [9]:
# Convert the unpacked list to tuple
print(middle_numbers0 == tuple(middle_numbers1))

True

# 5. Assignment Expression

In [12]:
# Define some helper functions
def get_account(social_security_number):
     pass
 
def withdraw_money(account_number):
     pass
 
def found_no_account():
     pass
 
# Instead of doing this:
account_number = get_account("123-45-6789")
if account_number:
     withdraw_money(account_number)
else:
     found_no_account()
 
# The idiomatic way:
if account_number := get_account("123-45-6789"):
     withdraw_money(account_number)
else:
     found_no_account()

# 6. Iteration with enumerate

In [13]:
# Create a list of students for iteration
students = ['John', 'Jack', 'Jennifer', 'June']

# Instead of doing this:
for i in range(len(students)):
     student = students[i]
     print(f"# {i+1}: {student}")

# The idiomatic way:
for i, student in enumerate(students, 1):
     print(f"# {i}: {student}")

# 1: John
# 2: Jack
# 3: Jennifer
# 4: June
# 1: John
# 2: Jack
# 3: Jennifer
# 4: June

# 7. Join Iterables With zip/zip_longest

In [14]:
# Create two lists of objects for zipping
students = ['John', 'Mike', 'Sam', 'David', 'Danny']
grades = [95, 90, 98, 97]

# Instead of doing this:
grade_tracking0 = {}
for i in range(min(len(students), len(grades))):
     grade_tracking0[students[i]] = grades[i]
 
print(grade_tracking0)

# The idiomatic ways:
grade_tracking1 = dict(zip(students, grades))
print(grade_tracking1)

from itertools import zip_longest
grade_tracking2 = dict(zip_longest(students, grades))
print(grade_tracking2)

{'John': 95, 'Mike': 90, 'Sam': 98, 'David': 97}
{'John': 95, 'Mike': 90, 'Sam': 98, 'David': 97}
{'John': 95, 'Mike': 90, 'Sam': 98, 'David': 97, 'Danny': None}

In [15]:
for student, grade in zip(students, grades):
     print(f"{student}: {grade}")

John: 95
Mike: 90
Sam: 98
David: 97

# 8. Concatenate Iterables

In [16]:
# Define the data and a helper function
from itertools import chain
group0 = ['Jack', 'John', 'David']
group1 = ['Ann', 'Bill', 'Cathy']

def present_project(student):
     pass
 
# Instead of doing these:
for group in [group0, group1]:
     for student in group:
         present_project(student)
 
for student in group0 + group1:
     present_project(student)
 
# The idiomatic way:
for student in chain(group0, group1):
     present_project(student)

# 9. Ternary Expression

In [18]:
# Define a helper function
from random import randint
def got_even_number():
     return randint(1, 10) % 2 == 0
 
# Instead of doing these: 
if got_even_number():
     state = "Even"
else:
     state = "Odd"
 
state = "Odd"
if got_even_number():
     state = "Even"
 
# The idiomatic way:
state = "Even" if got_even_number() else "Odd"

# 10. Use of Generators

In [20]:
# Define a helper function
def process_data(row_data):
     pass
 
# Instead of doing this:
with open('large_file') as file:
     read_data = file.read().split("\n")
     for row_data in read_data:
         process_data(row_data)

# The idiomatic way:
with open('large_file') as file:
     for row_data in file:
         process_data(row_data)