[Reference](https://towardsdatascience.com/10-neat-python-tricks-and-tips-beginners-should-know-805d92649592)

# 1. String input

In [5]:
return = map(lambda x:int(x) ,raw_input().split())
return

# 2. Checking anagrams

In [6]:
def is_anagram(word1, word2):
   """Checking whether the words are anagrams.
   word1 : string 
   word2 : string 
   returns : boolean
   """

In [7]:
from collections import Counter
def is_anagram(str1, str2):
   return Counter(str1)== Counter(str2)

In [8]:
is_anagram('abcd','dbca')

True

In [10]:
is_anagram('abcd','dbaa')

False

# 3. Convert it to a single list without using any loops

In [12]:
import itertools
a = [[1,2],[3,4],[5,6]]
list(itertools.chain.from_iterable(a))

[1, 2, 3, 4, 5, 6]

# 4. Print “BrandenBrandenBranden SmartSmartSmart” without using loops:

In [17]:
print(("Branden"*3)+ ' ' + ("Smart"*3))

BrandenBrandenBranden SmartSmartSmart

# 5. Swap two numbers

In [18]:
a = 4
b = 5
b,a = a,b
print(a)
print(b)

5
4

# 6. Combine two lists

In [19]:
list1 = [1,2,3,4]
list2 = ['a','b','c','d']

In [20]:
for x, y in zip(list1,list2):
    print(x,y)

1 a
2 b
3 c
4 d

# 7.Combine all the elements in the list

In [21]:
a = ["My","Name","is","Branden"]
print(" ".join(a))

My Name is Branden

# 8. Store all three values of the list in 3 new variables

In [22]:
a = [1, 2, 3]
x, y, z = a
print(x)
print(y)
print(z)

1
2
3

# 9. Transposing a Matrix

In [24]:
matrix = [[1, 2, 3], [4, 5, 6]]
list(zip(*matrix))

[(1, 4), (2, 5), (3, 6)]

# 10. Reversing a string in Python:

In [25]:
a = "AdvancePython"
print("Reverse is", a[::-1])

Reverse is nohtyPecnavdA