[Reference](https://medium.com/swlh/10-things-you-should-know-about-tuples-in-python-b71189bdba1f)

# 1. Create a tuple using a sequence of values

In [1]:
tuple0 = 1, 4, 5
print(tuple0)

(1, 4, 5)

In [2]:
tuple1 = (1, 2, 'three')
print(tuple1)

(1, 2, 'three')

In [3]:
tuple2 = (4, 7, ('a', 'b'), lambda x: x+1)
print(tuple2)

(4, 7, ('a', 'b'), <function <lambda> at 0x7fc77dcebf80>)

In [4]:
tuple3 = () 
print(tuple3)

()

In [5]:
tuple4 = 'one',
print(tuple4)

('one',)

# 2. Create a tuple using tuple()

In [6]:
tuple5 = tuple(['a', 'b'])
print(tuple5)

('a', 'b')

In [7]:
tuple6 = tuple('tuple')
print(tuple6)

('t', 'u', 'p', 'l', 'e')

In [8]:
tuple7 = tuple({'a': 1, True: 4})
print(tuple7)

('a', True)

In [9]:
tuple8 = tuple((1, 'two', [1, 2]))
print(tuple8)

(1, 'two', [1, 2])

# 3. Count the number of elements in a tuple

In [10]:
tuple_len = (1, 3, 'one', 'three', 'five')
len(tuple_len)

5

In [11]:
tuple_count = (1, 1, 2, 2, 2, 2, 3, 3, 3)
tuple_count.count(2)

4

In [12]:
tuple_count.count(3)

3

# 4. Access tuple’s individual elements using index

In [13]:
tuple_index = (100, 'text', False, {1: 'five', 2: True})
tuple_index[0]

100

In [14]:
tuple_index[-1]

{1: 'five', 2: True}

In [15]:
tuple_index[2]

False

In [16]:
tuple_index[6]

IndexError: ignored

# 5. Access tuple’s individual elements using unpacking

In [17]:
tuple_unpacking = (1, 'two', [3, 3, 3], {'four': 4})

In [18]:
a, b, c, d = tuple_unpacking

In [19]:
print(a)
print(b)
print(c)
print(d)

1
two
[3, 3, 3]
{'four': 4}

# 6. Advanced tuple unpacking

In [20]:
advanced_unpacking0 = (1, 2, 3)

In [21]:
a, _, c = advanced_unpacking0

In [22]:
print(a)
print(_)
print(c)

1
2
3

In [23]:
advanced_unpacking1 = (1, 2, 3, 4, 5, 11, 12, 13, 14, 15)
a, *middle, c = advanced_unpacking1
middle

[2, 3, 4, 5, 11, 12, 13, 14]

In [24]:
_, *tail = advanced_unpacking1
tail

[2, 3, 4, 5, 11, 12, 13, 14, 15]

In [25]:
head, *_ = advanced_unpacking1
head

1

# 7. Tuple concatenation

In [26]:
concat_tuple0 = (1, 2) + ('three', 4) + ('five', 6)
concat_tuple0

(1, 2, 'three', 4, 'five', 6)

In [27]:
concat_tuple1 = ('odd', 'event') * 4
concat_tuple1

('odd', 'event', 'odd', 'event', 'odd', 'event', 'odd', 'event')

# 8. Tuple immutability

In [28]:
immut_tuple = (3, 5, 7)
immut_tuple[0] = 1

TypeError: ignored

# 9. Mutable elements

In [44]:
example = (1, [1, 2, 3], {1: 'one', 2: 'two'})
example[1].append(3)
print(example)
example[2][3] = 'three'
print(example)

(1, [1, 2, 3, 3], {1: 'one', 2: 'two'})
(1, [1, 2, 3, 3], {1: 'one', 2: 'two', 3: 'three'})

# 10. Tuples in a for loop

In [31]:
tuple_for_loop = ('one', 'two', 'three')
for i in tuple_for_loop:
     print(i)

one
two
three

In [32]:
for (i, item) in enumerate(tuple_for_loop, start=1):
     print(str(i) + ': is ' + item)

1: is one
2: is two
3: is three