[Reference](https://python.plainenglish.io/11-python-tricks-to-boost-your-python-skills-significantly-1a5221dfa5c7)

In [1]:
numbers = [1, 2, 2, 3, 3, 3]
print(list(set(numbers)))

[1, 2, 3]

In [2]:
colors = ['blue', 'red', 'red', 'blue', 'red']
print(list(set(colors)))

['red', 'blue']

In [3]:
names = list(zip((1, 2), ['Anna', 'Alice']))
print(names)

[(1, 'Anna'), (2, 'Alice')]

In [4]:
names = list(zip(('Mrs', 'Mr'), ['Anna', 'Jack']))
print(names)

[('Mrs', 'Anna'), ('Mr', 'Jack')]

In [5]:
numbers = [1, 2, 3, 4, 5]
print(numbers[::-1])

[5, 4, 3, 2, 1]

In [6]:
s = "Hello"
print(s[::-1])

olleH

In [7]:
from collections import Counter

numbers = [1, 1, 1, 2, 1, 4, 4, 4, 3, 6]
c = Counter(numbers)
print(c)

Counter({1: 4, 4: 3, 2: 1, 3: 1, 6: 1})

In [8]:
from collections import Counter

ch = "aabcaaabccaaaa"
c = Counter(ch)
print(c)

Counter({'a': 9, 'c': 3, 'b': 2})

In [9]:
import sys
print(sys.version_info)

sys.version_info(major=3, minor=7, micro=10, releaselevel='final', serial=0)

In [10]:
username = "user"
host = "mail.com"

print(username, host,sep="@")

user@mail.com

In [11]:
print('25','06','2021', sep='-')

25-06-2021

In [12]:
mydict= {1: 11, 2: 22, 3: 33}

mydict = {i: j for j, i in mydict.items()}

print(mydict)

{11: 1, 22: 2, 33: 3}

In [13]:
mydict= {'John': 'Tesla', 'Jane': 'BMW'}
mydict = {i:j for j,i in mydict.items()}

print(mydict)

{'Tesla': 'John', 'BMW': 'Jane'}

In [15]:
s = 'Python'
e = enumerate(s)
print(list(e))

[(0, 'P'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [17]:
s = 'Hello'
e = enumerate(s)
print(list(e))

[(0, 'H'), (1, 'e'), (2, 'l'), (3, 'l'), (4, 'o')]

In [18]:
t1 = ["Africa"]
t2 = ["Africa"]
t3 = t2
print(t1 is t2)
print(t1 is t3)
print(t1 is not t2)

False
False
True

In [19]:
t1 = "Africa"
t2 = "Africa"
t3 = t2

print(t1 is t2)
print(t1 is t3)
print(t1 is not t2)

True
True
False

In [20]:
colors = ('blue', 'red') + ('yellow', 'green')
print(colors)

('blue', 'red', 'yellow', 'green')

In [21]:
numbers = (1, 2) + (3,) + (4, 5) 
print(numbers)

(1, 2, 3, 4, 5)

In [22]:
def double(n):
     print(n * 2)

double(5)
print(type(double(5)))

10
10
<class 'NoneType'>

In [23]:
def add_zero(l):
     l.append(0)
     
l = [1, 2, 3]
add_zero(l)
print(l)
print(type(add_zero(l)))

[1, 2, 3, 0]
<class 'NoneType'>