[Reference](https://towardsdatascience.com/12-examples-to-master-python-dictionaries-5a8bcd688c6d)

In [1]:
empty_dict = {}
grades = {'John':'A', 'Emily':'A+', 'Betty':'B', 'Mike':'C', 'Ashley':'A'}
grades

{'Ashley': 'A', 'Betty': 'B', 'Emily': 'A+', 'John': 'A', 'Mike': 'C'}

In [2]:
grades['John']

'A'

In [3]:
grades.get('Betty')

'B'

In [5]:
grades.keys()

dict_keys(['John', 'Emily', 'Betty', 'Mike', 'Ashley'])

In [6]:
grades.values()

dict_values(['A', 'A+', 'B', 'C', 'A'])

In [7]:
list(grades.values())[0]

'A'

In [8]:
grades.items()

dict_items([('John', 'A'), ('Emily', 'A+'), ('Betty', 'B'), ('Mike', 'C'), ('Ashley', 'A')])

In [10]:
grades['Edward'] = 'B+'
grades['John'] = 'B'
grades

{'Ashley': 'A',
 'Betty': 'B',
 'Edward': 'B+',
 'Emily': 'A+',
 'John': 'B',
 'Mike': 'C'}

In [11]:
grades = {'John':'A', 'Emily':'A+', 'Betty':'B', 'Mike':'C'}
grades_new = {'John':'B', 'Sam':'A', 'Betty':'A'}

In [12]:
grades.update(grades_new)
grades

{'Betty': 'A', 'Emily': 'A+', 'John': 'B', 'Mike': 'C', 'Sam': 'A'}

In [13]:
del(grades['Edward'])
grades.pop('Ashley')
grades

KeyError: ignored

In [14]:
for i in grades:
    print(i)

John
Emily
Betty
Mike
Sam

In [15]:
{x: x**2 for x in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [16]:
{word: len(word) for word in ['data','science','is','awesome']}

{'awesome': 7, 'data': 4, 'is': 2, 'science': 7}

In [18]:
a = [['A',4], ['B',5], ['C',11]]
dict(a)

{'A': 4, 'B': 5, 'C': 11}

In [19]:
b = [('A',4), ('B',5), ('C',11)]
dict(b)

{'A': 4, 'B': 5, 'C': 11}

In [20]:
import numpy as np
import pandas as pd
dict_a = {'names':['Amber','John','Edward','Emily'],
         'points':np.random.randint(100, size=4)}
df = pd.DataFrame(dict_a)
df

    names  points
0   Amber      69
1    John       7
2  Edward      31
3   Emily      99

In [21]:
len(grades)

5

In [23]:
grades.clear()
len(grades)

0

In [24]:
grades = {'John':'A', 'Emily':'A+', 'Betty':'B'}
dict1 = grades
dict2 = grades.copy()
dict3 = dict(grades)

In [27]:
x = {"key1": "value1 from x", "key2": "value2 from x"}
y = {"key2": "value2 from y", "key3": "value3 from y"}
x | y

In [28]:
y | x