[Reference](https://medium.com/geekculture/15-useful-python-shorthands-facb09740afa)

# 1. One-Liner If-Else

In [1]:
isReady = False

# A regular if-else
if isReady:
    print("Yay")
else:
    print("Nope")
    
# A neat little shorthand
print("Yay") if isReady else print("Nope")

Nope
Nope

# 2. One-Liner Functions

In [2]:
# Usually methods are defined on multiple lines
def sum(n1, n2):
    return n1+n2

# But there is a shorthand
def sum(n1, n2): return n1+n2

# 3. Swap Two Variables without a Helper Variable

In [3]:
a = 1
b = 2

a, b = b, a
print(a)
print(b)

2
1

# 4. Chain Comparisons

In [5]:
x = 100
x > 0 and x < 200

True

In [6]:
0 < x < 200

True

# 5. One-Liner For-Loops

In [7]:
numbers = [1, 2, 3, 4, 5]
[num * num for num in numbers]

[1, 4, 9, 16, 25]

In [8]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
{ key: num * num for (key, num) in dict1.items() }

{'a': 1, 'b': 4, 'c': 9, 'd': 16}

# 6. Lambda Expressions

In [9]:
lambda x : x * 3

In [10]:
numbers = [1, 2, 3, 4, 5, 6]
list(filter(lambda x : x % 2 == 0 , numbers))

[2, 4, 6]

# 7. Repeat Strings without Using Loops

In [11]:
"word" * 4

'wordwordwordword'

# 8. Reverse a String

In [12]:
sentence = "This is just a test"
sentence[::-1]

'tset a tsuj si sihT'

# 9. Simplify If-Statement Conditions

In [15]:
n = 0
if n == 0 or n == 1 or n == 2 or n == 3 or n == 4 or n == 5:
    pass

In [16]:
if n in [0, 1, 2, 3, 4, 5]:
    pass

# 10. Find the Most Frequent Element of a List

In [17]:
nums = [2, 2, 6, 2, 2, 3, 4, 2, 113, 2, 1]
max(set(nums), key = nums.count)

2

# 11. Tear Values to Variables from a List

In [18]:
arr = [1, 2, 3]
a, b, c = arr
print(a, b, c)

1 2 3

# 12. F-Strings

In [19]:
name = "Matt"
age = 25

sentence = f"Hi, I'm {name} and I'm {age} years old"
print(sentence)

Hi, I'm Matt and I'm 25 years old

# 13. Simulate Coin Toss

In [20]:
import random
random.choice(['Head',"Tail"])

'Head'

# 14. Join a List of Strings to One String

In [21]:
words = ["This", "is", "a", "Test"]
" ".join(words)

'This is a Test'

# 15. Create an Enumeration

In [22]:
def move(direction):
    if direction == "North":
        print("Moving North")
    elif direction == "East":
        print("Moving East")
    elif direction == "South":
        print("Moving South")
    elif direction == "West":
        print("Moving West")

In [23]:
class Direction:
    NORTH=1
    EAST=2
    SOUTH=3
    WEST=4

In [24]:
def move(direction):
    if direction == Direction.NORTH:
        print("Moving North")
    elif direction == Direction.EAST:
        print("Moving East")
    elif direction == Direction.SOUTH:
        print("Moving South")
    elif direction == Direction.WEST:
        print("Moving West")