[Reference](https://medium.com/better-programming/20-python-snippets-you-should-learn-today-8328e26ff124)

# 1. Reversing a String

In [1]:
# Reversing a string using slicing

my_string = "ABCDE"
reversed_string = my_string[::-1]

print(reversed_string)

EDCBA

# 2. Using rhe Title Case (First Letter Caps)

In [2]:
my_string = "my name is chaitanya baweja"

# using the title() function of string class
new_string = my_string.title()

print(new_string)

My Name Is Chaitanya Baweja

# 3. Finding Unique Elements in a String

In [3]:
my_string = "aavvccccddddeee"

# converting the string to a set
temp_set = set(my_string)

# stitching set into a string using join
new_string = ''.join(temp_set)

print(new_string)

avcde

# 4. Printing a String or a List n Times

In [5]:
n = 3 # number of repetitions

my_string = "abcd"
my_list = [1,2,3]

print(my_string*n)

print(my_list*n)

abcdabcdabcd
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [6]:
n = 4
my_list = [0]*n # n denotes the length of the required list
print(my_list)

[0, 0, 0, 0]

# 5. List Comprehension

In [7]:
# Multiplying each element in a list by 2

original_list = [1,2,3,4]

new_list = [2*x for x in original_list]

print(new_list)

[2, 4, 6, 8]

# 6. Swap Values Between Two Variables

In [8]:
a = 1
b = 2

a, b = b, a

print(a) # 2
print(b) # 1

2
1

# 7. Split a String Into a List of Substrings

In [9]:
string_1 = "My name is Chaitanya Baweja"
string_2 = "sample/ string 2"

# default separator ' '
print(string_1.split())

# defining separator as '/'
print(string_2.split('/'))

['My', 'name', 'is', 'Chaitanya', 'Baweja']
['sample', ' string 2']

# 8. Combining a List of Strings Into a Single String

In [10]:
list_of_strings = ['My', 'name', 'is', 'Chaitanya', 'Baweja']

# Using join with the comma separator
print(','.join(list_of_strings))

My,name,is,Chaitanya,Baweja

# 9. Check If a Given String Is a Palindrome or Not

In [11]:
my_string = "abcba"

if my_string == my_string[::-1]:
    print("palindrome")
else:
    print("not palindrome")

palindrome

# 10. Frequency of Elements in a List

In [12]:
# finding frequency of each element in a list
from collections import Counter

my_list = ['a','a','b','b','b','c','d','d','d','d','d']
count = Counter(my_list) # defining a counter object

print(count) # Of all elements

print(count['b']) # of individual element

print(count.most_common(1)) # most frequent element

Counter({'d': 5, 'b': 3, 'a': 2, 'c': 1})
3
[('d', 5)]

# 11. Find Whether Two Strings are Anagrams

In [13]:
from collections import Counter

str_1, str_2, str_3 = "acbde", "abced", "abcda"
cnt_1, cnt_2, cnt_3  = Counter(str_1), Counter(str_2), Counter(str_3)

if cnt_1 == cnt_2:
  print('1 and 2 anagram')
if cnt_1 == cnt_3:
  print('1 and 3 anagram')

1 and 2 anagram

In [14]:
cnt_1

Counter({'a': 1, 'b': 1, 'c': 1, 'd': 1, 'e': 1})

In [15]:
cnt_2

Counter({'a': 1, 'b': 1, 'c': 1, 'd': 1, 'e': 1})

In [16]:
cnt_3

Counter({'a': 2, 'b': 1, 'c': 1, 'd': 1})

# 12. Using the try-except-else Block

In [17]:
a, b = 1,0

try:
    print(a/b)
    # exception raised when b is 0
except ZeroDivisionError:
    print("division by zero")
else:
    print("no exceptions raised")
finally:
    print("Run this always")

division by zero
Run this always

# 13. Using Enumerate to Get Index/Value Pairs

In [18]:
my_list = ['a', 'b', 'c', 'd', 'e']

for index, value in enumerate(my_list):
  print('{0}: {1}'.format(index, value))

0: a
1: b
2: c
3: d
4: e

# 14. Check the Memory Usage of an Object

In [19]:
import sys

num = 21

print(sys.getsizeof(num))

28

# 15. Merging Two Dictionaries

In [20]:
dict_1 = {'apple': 9, 'banana': 6}
dict_2 = {'banana': 4, 'orange': 8}

combined_dict = {**dict_1, **dict_2}

print(combined_dict)

{'apple': 9, 'banana': 4, 'orange': 8}

# 16. Time Taken to Execute a Piece of Code

In [23]:
import time

start_time = time.time()
# Code to check follows
a, b = 1,2
c = a+ b
# Code to check ends
end_time = time.time()
time_taken_in_micro = (end_time- start_time)*(10**6)

print(" Time taken in micro_seconds: {0} ms".format(time_taken_in_micro))

 Time taken in micro_seconds: 128.5076141357422 ms

# 17. Flattening a List of Lists

In [25]:
!pip install iteration_utilities
from iteration_utilities import deepflatten

# if you only have one depth nested_list, use this
def flatten(l):
  return [item for sublist in l for item in sublist]

l = [[1,2,3],[3]]
print(flatten(l))

# if you don't know how deep the list is nested
l = [[1,2,3],[4,[5],[6,7]],[8,[9,[10]]]]

print(list(deepflatten(l, depth=3)))

Collecting iteration_utilities
  Downloading https://files.pythonhosted.org/packages/64/56/c220ada4b076408681645460fd54061e2fafeab72f5ef16590ed1e25d322/iteration_utilities-0.10.1-cp36-cp36m-manylinux2010_x86_64.whl (270kB)
     |████████████████████████████████| 276kB 2.6MB/s
Installing collected packages: iteration-utilities
Successfully installed iteration-utilities-0.10.1
[1, 2, 3, 3]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 18. Sampling From a List

In [26]:
import random

my_list = ['a', 'b', 'c', 'd', 'e']
num_samples = 2

samples = random.sample(my_list,num_samples)
print(samples)

['c', 'a']

In [27]:
import secrets # imports secure module.
secure_random = secrets.SystemRandom() # creates a secure random object.

my_list = ['a','b','c','d','e']
num_samples = 2

samples = secure_random.sample(my_list, num_samples)

print(samples)

['e', 'c']

# 19. Digitize

In [28]:
num = 123456

# using map
list_of_digits = list(map(int, str(num)))

print(list_of_digits)

# using list comprehension
list_of_digits = [int(x) for x in str(num)]

print(list_of_digits)

# Even simpler approach
list_of_digits = list(str(num))

print(list_of_digits)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
['1', '2', '3', '4', '5', '6']

# 20. Check for Uniqueness

In [29]:
def unique(l):
    if len(l)==len(set(l)):
        print("All elements are unique")
    else:
        print("List has duplicates")

unique([1,2,3,4])
# All elements are unique

unique([1,1,2,3])

All elements are unique
List has duplicates