[Reference](https://levelup.gitconnected.com/22-python-code-snippets-for-everyday-problems-4c6a216c33ae)

In [2]:
## Taking Two Integers as input
a,b = map(int,input().split())
print("a:",a)
print("b:",b)

## Taking a List as input
arr = list(map(int,input().split()))
print("Input List:",arr)

1 2
a: 1
b: 2
1,2,3,4,5

ValueError: ignored

In [3]:
arr = [2,4,6,3,8,10]

for index,value in enumerate(arr):
  print(f"At Index {index} The Value Is -> {value}")

At Index 0 The Value Is -> 2
At Index 1 The Value Is -> 4
At Index 2 The Value Is -> 6
At Index 3 The Value Is -> 3
At Index 4 The Value Is -> 8
At Index 5 The Value Is -> 10

In [4]:
import sys

a = 20
print(sys.getsizeof(a))

28

In [5]:
a = 20
name = 'branden'
deci = 6.6

print(id(a))
print(id(name))
print(id(deci))

94497581616224
139818434530736
139818435348144

In [6]:
def check_anagram(first_word, second_word):
  return sorted(first_word) == sorted(second_word)
  
print(check_anagram("silent", "listen"))   # True
print(check_anagram("ginger", "danger"))   # False

True
False

In [7]:
basic_information = {"name":['karl','Lary'],"mobile":["0134567894","0123456789"]}
academic_information = {"grade":["A","B"]}
details = dict() ## Combines Dict

## Dictionary Comprehension Method
details = {key: value for data in (basic_information, academic_information) for key,value in data.items()}
print(details)

## Dictionary unpacking
details = {**basic_information ,**academic_information}
print(details)

## Copy and Update Method
details = basic_information.copy()
details.update(academic_information)
print(details)

{'name': ['karl', 'Lary'], 'mobile': ['0134567894', '0123456789'], 'grade': ['A', 'B']}
{'name': ['karl', 'Lary'], 'mobile': ['0134567894', '0123456789'], 'grade': ['A', 'B']}
{'name': ['karl', 'Lary'], 'mobile': ['0134567894', '0123456789'], 'grade': ['A', 'B']}

In [8]:
# Brute force Method
import os.path
from os import path

def check_for_file():
	print("File exists: ",path.exists("data.txt"))

if __name__=="__main__":
   check_for_file()
    
'''
File exists:  False
'''

File exists:  False

'\nFile exists:  False\n'

In [9]:
# METHOD 1
from itertools import repeat

n = 5
squares = list(map(pow, range(1, n+1), repeat(2)))
print(squares)

# METHOD 2
n = 6
squares = [i**2 for i in range(1,n+1)]
print(squares)


"""Output
  [1, 4, 9, 16, 25]
"""

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]

'Output\n  [1, 4, 9, 16, 25]\n'

In [10]:
list1 = ['karl','lary','keera']
list2 = [28934,28935,28936]

# Method 1: zip()
dictt0 = dict(zip(list1,list2))

# Method 2: dictionary comprehension
dictt1 = {key:value for key,value in zip(list1,list2)}

# Method 3: Using a For Loop (Not Recommended)
tuples = zip(list1, list2) 
dictt2 = {} 
for key, value in tuples: 
  if key in dictt2: 
    pass
  else: 
    dictt2[key] = value
print(dictt0, dictt1, dictt2, sep = "\n")

{'karl': 28934, 'lary': 28935, 'keera': 28936}
{'karl': 28934, 'lary': 28935, 'keera': 28936}
{'karl': 28934, 'lary': 28935, 'keera': 28936}

In [11]:
list1 = ["Karl","Larry","Ana","Zack"]

# Method 1: sort()
list1.sort()

# Method 2: sorted()
sorted_list = sorted(list1)

# Method 3: Brute Force Method 
size = len(list1)
for i in range(size): 
  for j in range(size): 
    if list1[i] < list1[j]: 
       temp = list1[i] 
       list1[i] = list1[j] 
       list1[j] = temp
print(list1)

['Ana', 'Karl', 'Larry', 'Zack']

In [12]:
["Dvided By 5" if i%5 == 0 else i for i in range(1,20)]

[1,
 2,
 3,
 4,
 'Dvided By 5',
 6,
 7,
 8,
 9,
 'Dvided By 5',
 11,
 12,
 13,
 14,
 'Dvided By 5',
 16,
 17,
 18,
 19]

In [13]:
maths = [59, 64, 75, 86]
physics = [78, 98, 56, 56] 

# Brute Force Method
list1 = [
  maths[0]+physics[0],
  maths[1]+physics[1],
  maths[2]+physics[2],
  maths[3]+physics[3]
]


# List Comprehension
list1 = [x + y for x,y in zip(maths,physics)]

# Using Maps
import operator 
all_devices = list(map(operator.add, maths, physics))

# Using Numpy Library
import numpy as np
list1 = np.add(maths,physics)

'''Output
[137 162 131 142]
'''

'Output\n[137 162 131 142]\n'

In [14]:
dict1 = [
    {"Name":"Karl",
     "Age":25},
     {"Name":"Lary",
     "Age":39},
     {"Name":"Nina",
     "Age":35}
]

## Using sort()
dict1.sort(key=lambda item: item.get("Age"))

# List sorting using itemgetter
from operator import itemgetter
f = itemgetter('Name')
dict1.sort(key=f)


# Iterable sorted function
dict1 = sorted(dict1, key=lambda item: item.get("Age"))

'''Output
[{'Age': 25, 'Name': 'Karl'},
 {'Age': 35, 'Name': 'Nina'},
 {'Age': 39, 'Name': 'Lary'}]
'''

"Output\n[{'Age': 25, 'Name': 'Karl'},\n {'Age': 35, 'Name': 'Nina'},\n {'Age': 39, 'Name': 'Lary'}]\n"

In [16]:
# METHOD 1
import datetime
start = datetime.datetime.now()
"""
CODE
"""
print(datetime.datetime.now()-start)

# METHOD 2
import time
start_time = time.time()
main()
print(f"Total Time To Execute The Code is {(time.time() - start_time)}" )

# METHOD 3
import timeit
code = '''
## Code snippet whose execution time is to be measured
[2,6,3,6,7,1,5,72,1].sort()
'''
print(timeit.timeit(stmy = code,number = 1000))

In [17]:

addresses = [
  "12/45 Elm street",
  '34/56 Clark street',
  '56,77 maple street',
  '17/45 Elm street'

]
street = 'Elm street'
for i in addresses:
  if street in i:
    print(i)

'''output
12/45 Elm street
17/45 Elm street
'''

12/45 Elm street
17/45 Elm street

'output\n12/45 Elm street\n17/45 Elm street\n'

In [18]:
name = "Abhay"
age = 21

## METHOD 1: Concatenation
print("My name is "+name+", and I am "+str(age)+ " years old.")

## METHOD 2: F-strings (Python 3+)
print(f"My name is {name}, and I am {age} years old")

## METHOD 3: Join
print(''.join(["My name is ", name, ", and I am ", str(age), " years old"]))

## METHOD 4: modulus operator
print("My name is %s, and I am %d years old." % (name, age))

## METHOD 5: format(Python 2 and 3)
print("My name is {}, and I am {} years old".format(name, age))

My name is Abhay, and I am 21 years old.
My name is Abhay, and I am 21 years old
My name is Abhay, and I am 21 years old
My name is Abhay, and I am 21 years old.
My name is Abhay, and I am 21 years old

In [19]:
# Example 1
try:  
    a = int(input("Enter a:"))    
    b = int(input("Enter b:"))    
    c = a/b  
    print(c)
except:  
    print("Can't divide with zero") 
    
# Example 2
try:    
    #this will throw an exception if the file doesn't exist.     
    fileptr = open("file.txt","r")    
except IOError:    
    print("File not found")    
else:    
    print("The file opened successfully")    
    fileptr.close()  

# Example 3
try:
  fptr = open("data.txt",'r')
  try:
    fptr.write("Hello World!")
  finally:
    fptr.close()
    print("File Closed")
except:
  print("Error")

Enter a:1
Enter b:2
0.5
File not found
Error

In [20]:
def most_frequent(nums):
    return max(set(nums), key =nums.count)

In [21]:
import operator

action = {
  "+" : operator.add,
  "-" : operator.sub,
  "/" : operator.truediv,
  "*" : operator.mul,
  "**" : pow
}

print(action['*'](5, 5))    # 25

25

In [22]:

def add(a,b):
  return a+b

def sub(a,b):
  return a-b

a,b = 9,6
print((sub if a > b else add)(a, b))

3

In [23]:
a,b = 5,7

# Method 1
b,a = a,b

# Method 2
def swap(a,b):
  return b,a
swap(a,b)

(5, 7)

In [24]:
def has_duplicate(lst):
    return len(lst) != len(set(lst))

x = [1,2,2,4,3,5]
y = [1,2,3,4,5]
has_duplicate(x)
has_duplicate(y)

False