[Reference](https://python.plainenglish.io/22-helpful-python-tips-and-tricks-for-beginners-43c4a8f56a1c)

# 1. Swapping Numbers in Python

In [1]:
a = 5
b = 8
#Normal way

temp = a
a = b
b = temp
print(a)
print(b)

8
5

In [2]:
a, b = b, a
print(a)
print(b)

5
8

# 2. Reverse a String

In [3]:
string1 = "python"
string2 = "programming"
print(string1[: : -1]) #nohtyp
print(string2[: : -1]) #gnimmargorp

nohtyp
gnimmargorp

# 3. Converting a list to Dictionary

In [4]:
names=["ferb", "Jenny", "John"]
salary=["45000", "65000", "75000"]
employee=dict(zip(names,salary))
print(employee)

{'ferb': '45000', 'Jenny': '65000', 'John': '75000'}

# 4. Multiple User input

In [5]:
a = input("Enter name: ")
b = input("Enter age: ")
print(a, b)

Enter name: Branden
Enter age: 20
Branden 20

In [6]:
a, b = input("Enter name and age: ").split()
print(a, b)

Enter name and age: Branden 20
Branden 20

# 5. Walrus (:=) Operator

# 6. Shutting down your PC/Laptop

In [9]:
import os 
os.system("window -s")

# 7. Multiple Arguments function

In [10]:
def number(*num):
    for n in num:
        print(n)
        
number(2,3,5,6)
number(4,5,6,2,6,7,9,10)

2
3
5
6
4
5
6
2
6
7
9
10

# 8. Read Passwords as User input

In [11]:
from getpass import getpass

usern = input('Enter username : ')
passw = getpass('Enter password : ' )

Enter username : Branden
Enter password : ··········

# 9. Calculate Execution Time

In [12]:
import time

def add(a, b):
    a = a + 3
    b = b + 2
    c = a + b
    return c
    
startTime=time.time()

add(5,4)

endTime = time.time()

totalTime = endTime - startTime 
print(totalTime)

5.698204040527344e-05

# 10. Duplicate Removing from List

In [13]:
my_list = [10, 10, 22, 23, 27, 22, 89, 56, 25, 89]

my_list = list(set(my_list))
print(my_list)

[10, 22, 23, 56, 89, 27, 25]

# 11. Manipulating (append) Tuples

In [14]:
tuple1 = (1, 2, 3)
lst= list(tuple1)
lst.append(4)
lst.append(5)
tuple1 = tuple(lst)
print(tuple1)

(1, 2, 3, 4, 5)

# 12. Palindrome checking

In [15]:
w = "mom"
palindrome = bool(w.find(w[: : -1]) + 1)
print(palindrome)

True

# 13. List Comprehension

In [16]:
#normal way
x1= []
for x in range(1, 10):
    x1.append(x**2)
print(x1)

#List comprehension easy and fast
x1 = [x**2 for x in range(1, 10)]
print(x1)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81]

# 14. Dictionary Comprehension

In [17]:
dict1 = {x: x ** 2 for x in range(1, 4)}
print(dict1)

{1: 1, 2: 4, 3: 9}

# 15. Chain Operator Tip

In [18]:
num = 50
result =  25 < num < 58
print(result)

True

# 16. Breaking String

In [19]:
string = "Python Programming"
print(string.split())

['Python', 'Programming']

# 17. Handle speed of your Code

In [20]:
import time
time.sleep(2)
print("Python tips and tricks")

Python tips and tricks

# 18. Count Number of Word Appearance in a list

In [21]:
from collections import Counter
counter = Counter(['apple', 'mango', 'apple', 'pineapple', 'mango'])
print(counter)

Counter({'apple': 2, 'mango': 2, 'pineapple': 1})

# 19. For loop with Else

In [22]:
for x in range(1, 4):
    print(x)
else:
    print("Python")

1
2
3
Python

# 20. Lambda

In [23]:
num = lambda x: x**2
print(num(5))

25

# 21. Return multiple results from a function

In [24]:
def values():
    return 1, 2, 3

print(values())

(1, 2, 3)

# 22. Deep Copy

In [25]:
import copy
list1 = ["ferb", "haider", "Jenny"]
list2 = copy.deepcopy(list1)