[Reference](https://python.plainenglish.io/25-interesting-python-lines-of-code-733f5b2956b6)

# 1. Letter Anagram

In [1]:
from collections import Counter

s1 = 'below'
s2 = 'elbow'

print('anagram') if Counter(s1) == Counter(s2) else print('not an anagram')

anagram

# 2. Binary to Decimal

In [2]:
decimal = int('1010', 2)
print(decimal) #10

10

# 3. Convert String to Lowercase

In [3]:
print("Hi my name is Tony Xu".lower())
# 'hi my name is tony xu'

print("Hi my name is Tony Xu".casefold())
# 'hi my name is tony xu'

hi my name is tony xu
hi my name is tony xu

# 4. Convert String to Uppercase

In [4]:
print("hi my name is Tony Xu".upper())
# 'HI MY NAME IS Tony Xu'

HI MY NAME IS TONY XU

# 5. Convert String to Bytes

In [5]:
print("convert string to bytes using encode method".encode())
# b'convert string to bytes using encode method'

b'convert string to bytes using encode method'

# 6. Copy File

In [6]:
import shutil

shutil.copyfile('source.txt', 'dest.txt')

# 7. Quick Sort

In [7]:
qsort = lambda l: l if len(l) <= 1 else qsort([x for x in l[1:] if x < l[0]]) + [l[0]] + qsort([x for x in l[1:] if x >= l[0]])

print(qsort([17, 29, 11, 97, 103, 5]))
# [5, 11, 17, 29, 97, 103]

[5, 11, 17, 29, 97, 103]

# 8. Sum of N Numbers

In [8]:
n = 10

print(sum(range(0, n+1)))
# 55

55

# 9. Switch the Value of Two Variables

In [9]:
a, b = b, a

# 10. Fibonacci

In [10]:
fib = lambda x: x if x<=1 else fib(x-1) + fib(x-2)

print(fib(20))
# 6765

6765

# 11. Combine Nested Lists into One List

In [11]:
main_list = [[0, 1, 2], [11, 12, 13], [52, 53, 54]]

result = [item for sublist in main_list for item in sublist]
print(result)

[0, 1, 2, 11, 12, 13, 52, 53, 54]

# 12. Run an HTTP Server

In [12]:
python3 -m http.server 8000
python2 -m SimpleHTTPServer

# 13. Reverse a List

In [13]:
numbers = [0, 1, 2, 11, 12, 13, 52, 53, 54]

print(numbers[::-1])

[54, 53, 52, 13, 12, 11, 2, 1, 0]

# 14. Factorial

In [14]:
import math

fact_5 = math.factorial(5)
print(fact_5)

120

# 15. Use for and if in List Comprehensions

In [15]:
even_list = [number for number in [1, 2, 3, 4] if number % 2 == 0]

print(even_list)

[2, 4]

# 16. The Longest String in List

In [16]:
words = ['This', 'is', 'a', 'list', 'of', 'words']

result = max(words, key=len)
print(result)

words

# 17. List Comprehension

In [17]:
li = [num for num in range(0, 10)]

print(li)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# 18. Set Comprehension

In [18]:
num_set = {num for num in range(0, 10)}

print(num_set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

# 19. Dict Comprehension

In [19]:
dict_numbers = {x: x*x for x in range(1, 5)}

print(dict_numbers)

{1: 1, 2: 4, 3: 9, 4: 16}

# 21. Print with if and else

In [20]:
print("even") if 4 % 2==0 else print("odd")

even

# 22. Infinite Loop

In [22]:
while 1:0

# 23. Check Data Type

In [23]:
print(isinstance(2, int))
# True

print(isinstance("allwin", str))
# True

print(isinstance([3, 4, 1997], list))
# True

True
True
True

# 24. Print to File

In [24]:
print("Hello, World!", file=open('file.txt', 'w'))

# 25. Frequency of a Character in a String

In [25]:
print("umbrella".count('l'))

2