[Reference](https://towardsdatascience.com/2-must-know-oop-concepts-in-python-48d643a7385)

In [1]:
class Employee():   
    
    def __init__(self, emp_id, salary):
      self.emp_id = emp_id
      self.salary = salary  
      
    def give_raise(self):
      self.salary = self.salary * 1.05

In [3]:
emp1 = Employee(1001, 56000)
print(emp1.salary)

56000

In [4]:
emp1.give_raise()
print(emp1.salary)

58800.0

In [5]:
class Manager(Employee):
   pass

In [6]:
mgr1 = Manager(101, 75000)
print(mgr1.salary)

75000

In [7]:
class Manager(Employee):   
    
    def give_raise(self):
      self.salary = self.salary * 1.10

mgr1 = Manager(101, 75000)
print(mgr1.salary)
mgr1.give_raise()
print(mgr1.salary)

75000
82500.0

In [8]:
class Director(Employee):   
    
    def give_raise(self):
     self.salary = self.salary * 1.20

In [9]:
def bulk_raise(list_of_emps):
   for emp in list_of_emps:
      emp.give_raise()

In [10]:
emp1 = Employee(101, 45000)
emp2 = Manager(103, 60000)
emp3 = Director(105, 70000)
list_of_emps = [emp1, emp2, emp3]

In [11]:
bulk_raise(list_of_emps)
print(emp1.salary)
print(emp2.salary)
print(emp3.salary)

47250.0
66000.0
84000.0