[Reference](https://medium.com/pythonland/30-python-language-tricks-that-will-make-you-a-better-coder-f08f811a7b0f)

# 1. The Python Ellipsis

In [1]:
...

Ellipsis

In [3]:
my_awesome_func():
    ...

# 2. Data classes

In [4]:
from dataclasses import dataclass

@dataclass
class Card:
    rank: str
    suit: str
    
card = Card("Q", "hearts")

print(card == card)
# True

print(card.rank)
# 'Q'

print(card)
Card(rank='Q', suit='hearts')

True
Q
Card(rank='Q', suit='hearts')

Card(rank='Q', suit='hearts')

# 3. The Zen of Python

In [5]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# 4. Anonymous functions

In [6]:
add_one = lambda x: x + 1
add_one(3)

4

In [7]:
numbers = [1, 2, 3, 4]
times_two = map(lambda x: x * 2, numbers)
list(times_two)

[2, 4, 6, 8]

# 5. List Comprehensions

In [8]:
mylist = [i for i in range(10)]
print(mylist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
def some_function(a):
    return (a + 5) / 2
    
my_formula = [some_function(i) for i in range(10)]
print(my_formula)

[2.5, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5, 6.0, 6.5, 7.0]

In [11]:
filtered = [i for i in range(20) if i%2==0]
print(filtered)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

# 6. In place variable swapping

In [12]:
a = 1
b = 2
a, b = b, a
print(a)
print(b)

2
1

# 7. Named String Formatting

In [16]:
data = {'name':'Branden',
        'age':20,
        'country':'USA'}
"%(name)s is %(age)i and lives in %(country)s" % data

'Branden is 20 and lives in USA'

In [17]:
foo, bar = 'question', 123
"The %(foo)s is %(bar)i." % locals()

'The question is 123.'

# 8. Nested list comprehensions

In [18]:
[[j for j in range(3)] for i in range(4)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [20]:
m = [[j for j in range(3)] for i in range(4)]
[value
      for sublist in m
      for value in sublist]

[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

# 9. Required Keyword Arguments

In [21]:
def f(*, a, b):
     print(a, b)

f(1, 2)

TypeError: ignored

In [22]:
f(a=1, b=2)

1 2

# 10. Use The Underscore in The REPL

In [23]:
3 * 3

9

In [24]:
_ + 3

12

# 11. Check for a minimum required Python version

In [26]:
if not sys.version_info > (2, 7):
   # berate your user for running a 10 year
   # python version
elif not sys.version_info >= (3, 5):
   # Kindly tell your user (s)he needs to upgrade
   # because you're using 3.5 features

# 12. Decorate your functions

In [29]:
def print_argument(func):
    def wrapper(the_number):
        print("Argument for", 
              func.__name__, 
              "is", the_number)        
        return func(the_number)
    return wrapper

@print_argument
def add_one(x):
    return x + 1
print(add_one(1))

Argument for add_one is 1
2

# 13. Return multiple values

In [31]:
def get_user(id):
    # fetch user from database
    # ....
    return name, birthdate

name, birthdate = get_user(4)

# 14. Merging dictionaries

In [33]:
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
merged = { **dict1, **dict2 }

print (merged)
# {'a': 1, 'b': 3, 'c': 4}

# Python >= 3.9 only
merged = dict1 | dict2

print (merged)

# 15. Slicing a list

In [34]:
first_two = [1, 2, 3, 4, 5][0:2]
print(first_two)

[1, 2]

In [35]:
steps = [1, 2, 3, 4, 5][0:5:2]
print(steps)

[1, 3, 5]

In [36]:
mystring = "abcdefdn nimt"[::2]
print(mystring)

aced it

# 16. Check memory usage of your objects

In [37]:
import sys

mylist = range(0, 10000)
print(sys.getsizeof(mylist))

48

In [38]:
import sys

myreallist = [x for x in range(0, 10000)]
print(sys.getsizeof(myreallist))

87624

# 18. String to title case

In [39]:
mystring = "10 awesome python tricks"
print(mystring.title())

10 Awesome Python Tricks

# 19. Split a string into a list

In [40]:
mystring = "The quick brown fox"
mylist = mystring.split(' ')
print(mylist)

['The', 'quick', 'brown', 'fox']

# 20. Create a string from a list of strings

In [41]:
mylist = ['The', 'quick', 'brown', 'fox']
mystring = " ".join(mylist)
print(mystring)

The quick brown fox

# 21. Query JSON

In [43]:
!pip install jmespath

Collecting jmespath
  Downloading https://files.pythonhosted.org/packages/07/cb/5f001272b6faeb23c1c9e0acc04d48eaaf5c862c17709d20e3469c6e0139/jmespath-0.10.0-py2.py3-none-any.whl
Installing collected packages: jmespath
Successfully installed jmespath-0.10.0

In [44]:
import jmespath

persons = {
   "persons": [
     { "name": "erik", "age": 38 },
     { "name": "john", "age": 45 },
     { "name": "rob", "age": 14 }
   ]
 }

jmespath.search('persons[*].age', persons)

[38, 45, 14]

# 22. Reversing strings and lists

In [45]:
revstring = "abcdefg"[::-1]
print(revstring)

gfedcba

In [46]:
revarray = [1, 2, 3, 4, 5][::-1]
print(revarray)

[5, 4, 3, 2, 1]

# 23. Get unique elements from a list or string

In [47]:
mylist = [1, 1, 2, 3, 4, 5, 5, 5, 6, 6]
print (set(mylist))

{1, 2, 3, 4, 5, 6}

In [48]:
print (set("aaabbbcccdddeeefff"))

{'d', 'c', 'a', 'b', 'f', 'e'}

# 24. Use the _ in an interactive shell

In [49]:
3*3

9

In [50]:
_ + 3

12

# 25. Ternary Operator For Conditional Assignment

In [52]:
y = 3
x = "Success!" if (y == 2) else "Failed!"

In [53]:
x

'Failed!'

# 26. Counting occurrences in a list

In [54]:
from collections import Counter

mylist = [1, 1, 2, 3, 4, 5, 5, 5, 6, 6]
c = Counter(mylist)
print(c)

# And it works on strings too:
print(Counter("aaaaabbbbbccccc"))

Counter({5: 3, 1: 2, 6: 2, 2: 1, 3: 1, 4: 1})
Counter({'a': 5, 'b': 5, 'c': 5})

# 27. Chaining comparison operators

In [55]:
x = 10

# Instead of:
if x > 5 and x < 15:
    print("Yes")
# yes

# You can also write:
if 5 < x < 15:
    print("Yes")

Yes
Yes

# 28. Working with dates

In [57]:
from dateutil.parser import parse

logline = 'INFO 2020-01-01T00:00:01 Happy new year, human.'
timestamp = parse(logline, fuzzy=True)
print(timestamp)

2020-01-01 00:00:01

# 29. Using map()

In [58]:
def upper(s):
    return s.upper()
    
mylist = list(map(upper, ['sentence', 'fragment']))
print(mylist)

['SENTENCE', 'FRAGMENT']

In [60]:
list_of_ints = list(map(int, "1234567"))
print(list_of_ints)

[1, 2, 3, 4, 5, 6, 7]

# 30. Dictionary and set comprehensions

In [61]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [62]:
{s for s in range(1,5) if s % 2}

{1, 3}