[Reference](https://towardsdatascience.com/3-functions-to-use-with-pandas-groupby-that-you-probably-dont-use-724db94327ee)

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({  "Year": [2021, 2021, 2021, 2022, 2022, 2022, 2022, 2022],
  "Month": ["Jan", "Jan", "May", "Jan", "Feb", "Feb", "May", "Sep"],
  "Qty": np.random.randint(10, 100, size=8)
    
})

df

   Year Month  Qty
0  2021   Jan   31
1  2021   Jan   51
2  2021   May   96
3  2022   Jan   57
4  2022   Feb   85
5  2022   Feb   61
6  2022   May   75
7  2022   Sep   60

# 1. Nunique

In [2]:
df.groupby("Year")["Month"].nunique()

Year
2021    2
2022    4
Name: Month, dtype: int64

# 2. Nlargest

In [3]:
df.groupby("Year")["Qty"].nlargest(1)

Year
2021  2    96
2022  4    85
Name: Qty, dtype: int64

In [4]:
df.iloc[2]

Year     2021
Month     May
Qty        96
Name: 2, dtype: object

# 3. Cumsum

In [5]:
df["cumulative_sum"] = df.groupby("Year").cumsum()
df

   Year Month  Qty  cumulative_sum
0  2021   Jan   31              31
1  2021   Jan   51              82
2  2021   May   96             178
3  2022   Jan   57              57
4  2022   Feb   85             142
5  2022   Feb   61             203
6  2022   May   75             278
7  2022   Sep   60             338