[Reference](https://towardsdatascience.com/3-primary-methods-for-pandas-data-selection-you-should-know-21c3153b7fc1)

In [1]:
#importing the library
import pandas as pd
import seaborn as sns

mpg = sns.load_dataset('mpg')
mpg.head()

    mpg  cylinders  displacement  ...  model_year  origin                       name
0  18.0          8         307.0  ...          70     usa  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70     usa          buick skylark 320
2  18.0          8         318.0  ...          70     usa         plymouth satellite
3  16.0          8         304.0  ...          70     usa              amc rebel sst
4  17.0          8         302.0  ...          70     usa                ford torino

[5 rows x 9 columns]

In [2]:
#Getting the data column with bracket and the column name
mpg['mpg'].head()

0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
Name: mpg, dtype: float64

# 1. Selection by Label

In [3]:
#Selecting data on index 0
mpg.loc[0]

mpg                                    18
cylinders                               8
displacement                          307
horsepower                            130
weight                               3504
acceleration                           12
model_year                             70
origin                                usa
name            chevrolet chevelle malibu
Name: 0, dtype: object

In [4]:
#Selecting data from index 0 to 4
mpg.loc[0:4]

    mpg  cylinders  displacement  ...  model_year  origin                       name
0  18.0          8         307.0  ...          70     usa  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70     usa          buick skylark 320
2  18.0          8         318.0  ...          70     usa         plymouth satellite
3  16.0          8         304.0  ...          70     usa              amc rebel sst
4  17.0          8         302.0  ...          70     usa                ford torino

[5 rows x 9 columns]

In [5]:
#Selecting data from index 0,4,6
mpg.loc[[0,4,6]]

    mpg  cylinders  displacement  ...  model_year  origin                       name
0  18.0          8         307.0  ...          70     usa  chevrolet chevelle malibu
4  17.0          8         302.0  ...          70     usa                ford torino
6  14.0          8         454.0  ...          70     usa           chevrolet impala

[3 rows x 9 columns]

In [6]:
#Selecting data from index 0,4,6
mpg.loc[[0,4,6]]

    mpg  cylinders  displacement  ...  model_year  origin                       name
0  18.0          8         307.0  ...          70     usa  chevrolet chevelle malibu
4  17.0          8         302.0  ...          70     usa                ford torino
6  14.0          8         454.0  ...          70     usa           chevrolet impala

[3 rows x 9 columns]

In [7]:
#Set the 'origin' column as the new index using .set_index then selecting the data using .loc

mpg.set_index('origin').loc['europe']

         mpg  cylinders  ...  model_year                          name
origin                   ...
europe  26.0          4  ...          70  volkswagen 1131 deluxe sedan
europe  25.0          4  ...          70                   peugeot 504
europe  24.0          4  ...          70                   audi 100 ls
europe  25.0          4  ...          70                      saab 99e
europe  26.0          4  ...          70                      bmw 2002
...      ...        ...  ...         ...                           ...
europe  34.5          4  ...          81                   renault 18i
europe  28.1          4  ...          81     peugeot 505s turbo diesel
europe  30.7          6  ...          81                  volvo diesel
europe  36.0          4  ...          82           volkswagen rabbit l
europe  44.0          4  ...          82                     vw pickup

[70 rows x 8 columns]

# 2. Selection by Position

In [8]:
#Selecting the data in the index position two
mpg.iloc[2]

mpg                             18
cylinders                        8
displacement                   318
horsepower                     150
weight                        3436
acceleration                    11
model_year                      70
origin                         usa
name            plymouth satellite
Name: 2, dtype: object

In [9]:
mpg.set_index('origin').iloc['europe']

TypeError: ignored

In [10]:
mpg.set_index('origin').iloc[2]

mpg                             18
cylinders                        8
displacement                   318
horsepower                     150
weight                        3436
acceleration                    11
model_year                      70
name            plymouth satellite
Name: usa, dtype: object

In [11]:
#Selecting a sequence index based on position
mpg.iloc[0:4]

    mpg  cylinders  displacement  ...  model_year  origin                       name
0  18.0          8         307.0  ...          70     usa  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70     usa          buick skylark 320
2  18.0          8         318.0  ...          70     usa         plymouth satellite
3  16.0          8         304.0  ...          70     usa              amc rebel sst

[4 rows x 9 columns]

In [12]:
mpg.iloc[[0,4,6]]

    mpg  cylinders  displacement  ...  model_year  origin                       name
0  18.0          8         307.0  ...          70     usa  chevrolet chevelle malibu
4  17.0          8         302.0  ...          70     usa                ford torino
6  14.0          8         454.0  ...          70     usa           chevrolet impala

[3 rows x 9 columns]

In [13]:
mpg.iloc[[0,4,6], ['mpg', 'cylinders', 'origin']]

IndexError: ignored

# 3. Selection by Boolean

In [14]:
#Comparing the 'mpg' data with integer 17
mpg['mpg'] > 17

0       True
1      False
2       True
3      False
4      False
       ...
393     True
394     True
395     True
396     True
397     True
Name: mpg, Length: 398, dtype: bool

In [15]:
#Inputing the criteria within the square bracket
mpg[mpg['mpg'] > 17]

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
2    18.0          8  ...     usa         plymouth satellite
14   24.0          4  ...   japan      toyota corona mark ii
15   22.0          6  ...     usa            plymouth duster
16   18.0          6  ...     usa                 amc hornet
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[299 rows x 9 columns]

In [16]:
mpg[(mpg['mpg'] > 17) & (mpg['origin'] == 'japan')|~(mpg['horsepower'] <120)]

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
382  34.0          4  ...   japan             toyota corolla
383  38.0          4  ...   japan                honda civic
384  32.0          4  ...   japan         honda civic (auto)
385  38.0          4  ...   japan              datsun 310 gx
390  32.0          4  ...   japan           toyota celica gt

[188 rows x 9 columns]