[Reference](https://towardsdatascience.com/4-python-hacks-you-should-know-29acbc45addd)

# Duplicate a List using List Comprehension

In [1]:
original_list = [10,11,20,22,30,34]

In [2]:
duplicated_list = original_list.copy()

In [3]:
duplicated_list = [item for item in original_list]
duplicated_list

[10, 11, 20, 22, 30, 34]

# Multiply elements in a list using List Comprehension

In [4]:
original_list = [10,11,20,22,30,34]
multiplied_list = [item*5 for item in original_list]

In [5]:
multiplied_list

[50, 55, 100, 110, 150, 170]

In [6]:
import math
multiplied_list = [math.sqrt(item)**3 for item in original_list]
multiplied_list

[31.6227766016838,
 36.4828726939094,
 89.4427190999916,
 103.18914671611546,
 164.31676725154983,
 198.25236442474025]

In [7]:
def simple_function(item):
    item1 = item*10
    item2 = item*11
    return math.sqrt(item1**2 + item2**2)

multiplied_list = [simple_function(item) for item in original_list]
multiplied_list

[148.66068747318505,
 163.52675622050356,
 297.3213749463701,
 327.0535124410071,
 445.9820624195552,
 505.4463374088292]

# Remove negative elements in a List using List Comprehension

In [8]:
original_list = [10, 22, -43, 0, 34, -11, -12, -0.1, 1]
new_list = [item for item in original_list if item > 0]
new_list

[10, 22, 34, 1]

In [9]:
new_list = [item for item in original_list if item**2 > 200]
new_list

[22, -43, 34]

# Convert two lists into Dictionary Key-Value pair using dict()

In [10]:
fields = ['name', 'country', 'age', 'gender']
details = ['pablo', 'Mexico', 30, 'Male']
new_dict = {key: value for key, value in zip(fields, details)}
new_dict

{'name': 'pablo', 'country': 'Mexico', 'age': 30, 'gender': 'Male'}