[Reference](https://towardsdatascience.com/4-python-pandas-functions-that-serve-better-with-dictionaries-bbfcc6c39fa5)

In [3]:
import numpy as np
import pandas as pd

df = pd.DataFrame({
   "Group": ["A","B","B","C","A","A","C"],
   "Price": ["125","100","120","36","98","170","111"],
   "Weight": ["12.13","16.21","9.54","7.99","10.06","15.14","10.54"]
})

In [4]:
df.dtypes

Group     object
Price     object
Weight    object
dtype: object

# 1. Astype

In [5]:
df["Price"] = df["Price"].astype("int")
df["Weight"] = df["Weight"].astype("float")

df = df.astype({"Price":"int", "Weight":"float"})

In [6]:
df.dtypes

Group      object
Price       int64
Weight    float64
dtype: object

# 2. Replace

In [7]:
df["Group"] = df["Group"].replace(
    {"A": "Group A", "B": "Group B", "C": "Group C"}
)

# 3. Fillna

In [8]:
df.iloc[:2, :2] = np.nan

In [9]:
df = df.fillna({"Group": "Group A", "Price": 100})

# 4. Apply

In [10]:
df.apply({"Price": lambda x: x + 10, "Weight": lambda x: x * 1.1})

   Price  Weight
0  110.0  13.343
1  110.0  17.831
2  130.0  10.494
3   46.0   8.789
4  108.0  11.066
5  180.0  16.654
6  121.0  11.594