[Reference](https://towardsdatascience.com/4-rarely-used-yet-very-useful-pandas-tricks-b43ef4b726fb)

# NamedAgg

In [2]:
import numpy as np
import pandas as pd
cats = pd.Series(list('abc')*3).sample(n=9).reset_index(drop=True)

df = pd.DataFrame({
                   'A': cats, 
                   'B': np.random.randint(1,10, size=9),
                   'C': np.random.randint(1,20, size=9)
                }
            )

In [3]:
df.groupby('A').agg(
      average_B = pd.NamedAgg('B','mean'),
      total_C = pd.NamedAgg('C', 'sum')
   )

   average_B  total_C
A
a   5.666667       44
b   3.666667       27
c   4.666667       24

In [4]:
df['C'] = df.groupby('A').B.pipe(
    lambda x: (
        x.get_group('a') - x.get_group('b').mean()).
    append(
        x.get_group('b') - x.get_group('a').mean()
    )
)

In [5]:
df['D'] = df['B'].where(df['B'] > 5, 5)

In [6]:
np.where(df['B'] > 5, df['B'], 0)

array([0, 0, 0, 0, 7, 0, 8, 8, 0])

In [8]:
df2['Person_point'] = df2.lookup(df2.index, df2['Names'])