[Reference](https://towardsdatascience.com/4-tricks-to-use-python-f-strings-more-efficiently-4f389e890514)

In [1]:
age = 24
print(f"John is {age} years old.")

John is 24 years old.

In [2]:
number = 3454353453
print(f"The value of the company is {number}")

The value of the company is 3454353453

In [3]:
print(f"The value of the company is {number:,d}")

The value of the company is 3,454,353,453

In [4]:
from datetime import datetime
today = datetime.today().date()
print(f"Today is {today}")

Today is 2021-06-28

In [5]:
print(f"Today is {today:%B %d, %Y}")

Today is June 28, 2021

In [6]:
print(f"Today is {today:%m-%d-%Y}")

Today is 06-28-2021

In [7]:
a = 4
b = 123
print(f"Product numbers are \n{a:03} \n{b:03}")

Product numbers are
004
123

In [8]:
from datetime import datetime, timedelta
today = datetime.today().date()
print(f"The test was 3 days ago which is {today - timedelta(days=3)}")

The test was 3 days ago which is 2021-06-25

In [9]:
mylist = [1, 2, 4, 6, 3]
print(f"The list contains {len(mylist)} items.")

The list contains 5 items.