[Reference](https://blog.devgenius.io/4-tricks-to-enjoy-for-loops-in-python-b341c7314942)

# enumerate

In [1]:
a = [1, 4, 5, 3, 4, 2, 0]
for i in range(len(a)):
    item = a[i]
    print(item)

1
4
5
3
4
2
0

In [2]:
a = [1, 4, 5, 3, 4, 2, 0]
for i, item in enumerate(a):
    print(i, item)

0 1
1 4
2 5
3 3
4 4
5 2
6 0

# zip

In [3]:
a = ["Banana", "Strawberry", "Orange", "Apple"]
b = ["Yellow", "Red", "Orange", "Green"]
for i in range(len(a)):
    fruit = a[i]
    color = b[i]

In [4]:
a = ["Banana", "Strawberry", "Orange", "Apple"]
b = ["Yellow", "Red", "Orange", "Green"]
for fruit, color in zip(a,b):
    print(fruit, color)

Banana Yellow
Strawberry Red
Orange Orange
Apple Green

# tqdm

In [5]:
from tqdm import tqdm
for item in tqdm(range(10 ** 9)):
    pass

100%|██████████| 1000000000/1000000000 [04:29<00:00, 3709775.21it/s]

# Sorted/Reversed

In [6]:
dict_ = {"a": 0, "c": 2, "b": 1}
for k in sorted(dict_):
    print(k)

for k in reversed(dict_):
    print(k)

a
b
c
b
c
a