[Reference](https://medium.com/techtofreedom/the-4-types-of-comprehensions-in-python-2cf1096fffc0)

# List Comprehension

In [9]:
employees = ["Branden", "James", "Emma"]
list_comprehension = [name for name in employees]
print(list_comprehension)

['Branden', 'James', 'Emma']

In [11]:
employees = ["Branden", "James", "Emma"]
list_ = []
for name in employees:
    list_.append(name)
print(list_)

['Branden', 'James', 'Emma']

In [16]:
[i**2 for i in range(5) if i%2==0]

[0, 4, 16]

In [18]:
num = [(i, j) for i in range(2) for j in range(3)]
print(num)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2)]

# Generator Comprehension

In [12]:
employees = ["Branden", "James", "Emma"]
generator_comprehension = (name for name in employees)
print(generator_comprehension)
print(list(generator_comprehension))

<generator object <genexpr> at 0x7eff1d215308>
['Branden', 'James', 'Emma']

In [15]:
gen_comprehension = (x**2 for x in range(3))
print(gen_comprehension)
print(next(gen_comprehension))
print(next(gen_comprehension))
print(next(gen_comprehension))
print(next(gen_comprehension))

<generator object <genexpr> at 0x7eff1d2152b0>
0
1
4

StopIteration: ignored

# Set Comprehension

In [5]:
nums = [1, 1, 1, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 5, 5, 6, 6, 6, 7, 7, 2, 6, 8, 8, 8, 9, 9, 9, 1]
list_comprehension = [n for n in nums]
print(list_comprehension)

nums = [1, 1, 1, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 5, 5, 6, 6, 6, 7, 7, 2, 6, 8, 8, 8, 9, 9, 9, 1]
set_comprehension = {n for n in nums}
print(set_comprehension)

[1, 1, 1, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 5, 5, 6, 6, 6, 7, 7, 2, 6, 8, 8, 8, 9, 9, 9, 1]
{1, 2, 3, 4, 5, 6, 7, 8, 9}

# Dictionary Comprehension

In [13]:
employees = ["Branden", "James", "Emma"]
dict_comprehension = {id: name for id, name in enumerate(employees)}
print(dict_comprehension)

{0: 'Branden', 1: 'James', 2: 'Emma'}