[Reference](https://betterprogramming.pub/4-ways-to-level-up-your-python-code-f148a50efeea)

In [1]:
# Define a collection, such as list:
names = ['Nik', 'Jane', 'Katie', 'Jim', 'Luke']

# Using the range(len(collection)) method, you'd write:
for i in range(len(names)):
    print(i, names[i])

# Using enumerate, you can define this by writing:
for idx, name in enumerate(names):
    print(idx, name)

0 Nik
1 Jane
2 Katie
3 Jim
4 Luke
0 Nik
1 Jane
2 Katie
3 Jim
4 Luke

In [2]:
# Define a collection, such as list:
names = ['Nik', 'Jane', 'Katie', 'Jim', 'Luke']

# Using enumerate, you can define this by writing:
for idx, name in enumerate(names, start=1):
    print(idx, name)

1 Nik
2 Jane
3 Katie
4 Jim
5 Luke

In [3]:
nik = {
  'age':32,
  'gender':'male',
  'employed':True,
}

In [4]:
nik = {
  'age':32,
  'gender':'male',
  'employed':True,
}

print(nik['location'])

KeyError: ignored

In [5]:
nik = {
  'age':32,
  'gender':'male',
  'employed':True,
}

print(nik.get('location'))

None

In [6]:
names = ['Nik', 'Jane', 'Melissa', 'Doug']
ages = [32, 28, 37, 53]
gender = ['Male', 'Female', 'Female', 'Male']

# Old boring way:
for_looped = []
for i in range(len(names)):
    for_looped.append((names[i], ages[i], gender[i]))

print(for_looped)

[('Nik', 32, 'Male'), ('Jane', 28, 'Female'), ('Melissa', 37, 'Female'), ('Doug', 53, 'Male')]

In [7]:
names = ['Nik', 'Jane', 'Melissa', 'Doug']
ages = [32, 28, 37, 53]
gender = ['Male', 'Female', 'Female', 'Male']

# Zipping through lists with zip()
zipped = zip(names, ages, gender)
zipped_list = list(zipped)

print(zipped_list)

[('Nik', 32, 'Male'), ('Jane', 28, 'Female'), ('Melissa', 37, 'Female'), ('Doug', 53, 'Male')]

In [8]:
names = ['Nik', 'Jane', 'Melissa', 'Doug']
ages = [32, 28, 37, 53]
gender = ['Male', 'Female', 'Female', 'Male']

ages = dict(zip(names,ages))

print(ages)

{'Nik': 32, 'Jane': 28, 'Melissa': 37, 'Doug': 53}

In [9]:
some_variable = "HELLO!"

print(f"some_variable={some_variable}")

some_variable=HELLO!

In [11]:
some_variable = "HELLO!"

print(f"some_variable={some_variable}")

some_variable=HELLO!