[Reference](https://towardsdatascience.com/5-lesser-known-python-features-19989db6e13e)

# 1. Else statements with for and while loops

In [1]:
# list of numbers
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    if number == 6:
        break
    print(number, end=' ')

else:
    print('Unbroken loop')

1 2 3 4 5 Unbroken loop

In [2]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for number in numbers:
    if number == 6:
        break
    print(number, end=' ')

else:
    print('Unbroken loop')

1 2 3 4 5

# 2. Ternary operator

In [3]:
price = 400

price_bin = 'Expensive' if price > 500 else 'Low-Medium'
print(price_bin)
# Low-Medium

a = 15
b = 10

# determine the minimum number using a ternary operator
min_number = a if a < b else b
print(min_number)

Low-Medium
10

# 3. Operator precedence in expressions

In [6]:
5 * 2**2

20

In [7]:
a = None
is_object = a is None
is_object

True

In [8]:
5 == 5 and 1 == 1

True

# 4. None

In [9]:
numbers = [1, 2, 3, 4, 5]

return_len = len(numbers)
return_len

5

In [10]:
return_min = min(numbers)
return_min

1

In [11]:
return_eval = eval('1 + 8')
return_eval

9

In [12]:
return_print = print(numbers)
return_print

[1, 2, 3, 4, 5]

In [13]:
return_append = numbers.append(6)
numbers

[1, 2, 3, 4, 5, 6]

In [14]:
return_append

In [15]:
num1 = 4
num2 = 5

def sum_numbers(num1, num2):
    num1 + num2

In [16]:
def sum_numbers_return(num1, num2):
    return num1 + num2

In [17]:
sum_numbers(num1, num2)

In [18]:
sum_numbers_return(num1, num2)

9

# 5. Function arguments: *args and **kwargs

In [19]:
def variable_arguments(*args):
    print(type(args), args)
    
variable_arguments(1, 2, 3, 4, 5)

<class 'tuple'> (1, 2, 3, 4, 5)

In [23]:
def variable_arguments_2(*numbers):
    for number in numbers:
        if number%2 == 0:
            print(number)

variable_arguments_2(1, 2, 3, 4, 5)

2
4

In [21]:
def variable_keywords(**kwargs):
    print(type(kwargs), kwargs)
    
variable_keywords(num1=5, num2=7, num3=2)

<class 'dict'> {'num1': 5, 'num2': 7, 'num3': 2}

In [24]:
def variable_keywords_2(**numbers):
    for name, number in numbers.items():
        if number%2 == 0:
            print(name +' is even')
        else:
            print(name +' is odd')

variable_keywords_2(num1=5, num2=7, num3=2)

num1 is odd
num2 is odd
num3 is even

In [25]:
def multiple_type_arguments(arg, *args, **kwargs):
    print('standard argument: ', arg)
    print('*args: ', args)
    print('**kwargs: ', kwargs)
    
multiple_type_arguments(1, 2, 3, 4, num1=5, num2=6)

standard argument:  1
*args:  (2, 3, 4)
**kwargs:  {'num1': 5, 'num2': 6}