[Reference](https://sonery.medium.com/5-python-pandas-functions-you-should-not-forget-about-91a0acc8e718)

# 1. clip

In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(
    np.random.randint(-10, 10, size=(5, 5)), 
    columns=list("ABCDE")
)

df

   A   B   C  D   E
0  6 -10  -7  6   1
1  7  -6   5 -7 -10
2  0   0   0 -2   7
3  9  -6  -1 -5   5
4  2  -8 -10 -7  -2

In [2]:
df.clip(lower=-4)

   A  B  C  D  E
0  6 -4 -4  6  1
1  7 -4  5 -4 -4
2  0  0  0 -2  7
3  9 -4 -1 -4  5
4  2 -4 -4 -4 -2

In [3]:
df.clip(lower=-4, upper=4)

   A  B  C  D  E
0  4 -4 -4  4  1
1  4 -4  4 -4 -4
2  0  0  0 -2  4
3  4 -4 -1 -4  4
4  2 -4 -4 -4 -2

# 2. diff

In [4]:
df

   A   B   C  D   E
0  6 -10  -7  6   1
1  7  -6   5 -7 -10
2  0   0   0 -2   7
3  9  -6  -1 -5   5
4  2  -8 -10 -7  -2

In [5]:
# difference between consecutive rows
df.diff()

     A    B     C     D     E
0  NaN  NaN   NaN   NaN   NaN
1  1.0  4.0  12.0 -13.0 -11.0
2 -7.0  6.0  -5.0   5.0  17.0
3  9.0 -6.0  -1.0  -3.0  -2.0
4 -7.0 -2.0  -9.0  -2.0  -7.0

In [6]:
# difference between the row before
df.diff(periods=2)

     A     B     C    D     E
0  NaN   NaN   NaN  NaN   NaN
1  NaN   NaN   NaN  NaN   NaN
2 -6.0  10.0   7.0 -8.0   6.0
3  2.0   0.0  -6.0  2.0  15.0
4  2.0  -8.0 -10.0 -5.0  -9.0

In [7]:
# difference between consecutive columns
df.diff(axis=1)

    A   B   C   D   E
0 NaN -16   3  13  -5
1 NaN -13  11 -12  -3
2 NaN   0   0  -2   9
3 NaN -15   5  -4  10
4 NaN -10  -2   3   5

# 3. get_dummies

In [8]:
import pandas as pd

df = pd.DataFrame(

    {
        "age": [45, 53, 60, 42, 34],
        "gender": ["Female", "Male", "Female", "Female", "Male"]
    }
)

df

   age  gender
0   45  Female
1   53    Male
2   60  Female
3   42  Female
4   34    Male

In [9]:
pd.get_dummies(df)

   age  gender_Female  gender_Male
0   45              1            0
1   53              0            1
2   60              1            0
3   42              1            0
4   34              0            1

# pd.get_dummies(df)

In [10]:
df_new = pd.get_dummies(df)
df_new

   age  gender_Female  gender_Male
0   45              1            0
1   53              0            1
2   60              1            0
3   42              1            0
4   34              0            1

In [11]:
pd.from_dummies(df_new[["gender_Female", "gender_Male"]])

0  gender_Female
1    gender_Male
2  gender_Female
3  gender_Female
4    gender_Male

# 5. transform

In [12]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
   np.random.randint(0, 10, size=(5, 3)), 
   columns=list("ABC")
)

df

   A  B  C
0  4  8  9
1  9  2  3
2  2  6  6
3  6  2  9
4  2  3  1

In [13]:
df.transform([np.sqrt, np.square])

          A                B                C
       sqrt square      sqrt square      sqrt square
0  2.000000     16  2.828427     64  3.000000     81
1  3.000000     81  1.414214      4  1.732051      9
2  1.414214      4  2.449490     36  2.449490     36
3  2.449490     36  1.414214      4  3.000000     81
4  1.414214      4  1.732051      9  1.000000      1