[Reference](https://medium.com/better-programming/5-tricks-to-write-more-concise-python-code-f075f66336b6)

# 1. List, Dictionary, and Set Comprehensions

In [2]:
# Create a list for subsequent operations
numbers = [1, 2, 3, 4, 5, 6]

# Typical way to create a list consisting of squares
squares0 = []
for number in numbers:
    squares0.append(number*number)

# List comprehensions
squares1 = [number*number for number in numbers]

In [3]:
# Dictionary comprehension
squares_dict = {number: number*number for number in numbers}
squares_dict

# Set comprehension
numbers_dups = [1, 2, 3, 4, 3, 2, 1]
squares_set = {number*number for number in numbers_dups}
squares_set

{1, 4, 9, 16}

# 2. Named Tuples as Data Structure

In [4]:
# Use a custom class
class Student0:
    def __init__(self, name, gender, student_id):
        self.name = name
        self.gender = gender
        self.student_id = student_id

s0 = Student0('John', 'M', 2020001)
f"Name: {s0.name}; Gender: {s0.gender}; ID #: {s0.student_id}"

# Use the namedtuple
from collections import namedtuple
Student1 = namedtuple("Student1", ["name", "gender", "student_id"])
s1 = Student1('Jennifer', 'F', 2020002)
f"Name: {s1.name}; Gender: {s1.gender}; ID #: {s1.student_id}"

'Name: Jennifer; Gender: F; ID #: 2020002'

# 3. Iteration With enumerate() and zip()

In [6]:
# Create a list of students based on their arrival sequence
students = ['John', 'Aaron', 'Jennifer', 'Ashley']

# Lengthy way
for index in range(len(students)):
     student = students[index]
     print(f"Arrival # {index+1}: {student}")
     
# Concise way
for index, student in enumerate(students, 1):
     print(f"Arrival # {index}: {student}")

Arrival # 1: John
Arrival # 2: Aaron
Arrival # 3: Jennifer
Arrival # 4: Ashley
Arrival # 1: John
Arrival # 2: Aaron
Arrival # 3: Jennifer
Arrival # 4: Ashley

In [7]:
# Create two lists for zip(), with one to one match
names = ['John', 'Danny', 'Jennifer']
scores = [95, 99, 100]

# Lengthy way
for index in range(len(names)):
     name, score = names[index], scores[index]
     print(f"Name: {name}; Score: {score}")

Name: John; Score: 95
Name: Danny; Score: 99
Name: Jennifer; Score: 100

In [8]:
for name, score in zip(names, scores):
    print(f"Name: {name}; Score: {score}")

Name: John; Score: 95
Name: Danny; Score: 99
Name: Jennifer; Score: 100

# 4. String Formatting With f-Strings

In [9]:
# Construct a list for formatting/debugging
prime_numbers = [2, 3, 5, 7, 11]

# Show the list using format
print("Prime Numbers: {}".format(prime_numbers))

# Show the list using f-string
print(f"Prime Numbers: {prime_numbers}")

Prime Numbers: [2, 3, 5, 7, 11]
Prime Numbers: [2, 3, 5, 7, 11]

In [10]:
# The folder and extension
folder = './usr/images'
ext = '.jpg'

# File name is computed from this list
names = [10, 11, 12]
# Construct File paths
# Use + for concatenation
paths0 = [folder + '/' + str(x) + ext for x in names]

# Use join()
paths1 = [''.join([folder, '/', str(x), ext]) for x in names]

# Use f strings
paths2 = [f"{folder}/{x}{ext}" for x in names]

In [11]:
print(paths0)
print(paths1)
print(paths2)

['./usr/images/10.jpg', './usr/images/11.jpg', './usr/images/12.jpg']
['./usr/images/10.jpg', './usr/images/11.jpg', './usr/images/12.jpg']
['./usr/images/10.jpg', './usr/images/11.jpg', './usr/images/12.jpg']

# 5. Lambda Functions

In [12]:
# Create a list of students with their grading information
grades = [{'name': 'John', 'grade': 95}, {'name': 'Aaron', 'grade': 92}, {'name': 'Jennifer', 'grade': 100}]

# Sort using a regular function
def sort_grade(student):
    return student['grade']
 
sorted(grades, key=sort_grade)

# Sort using a lambda
sorted(grades, key=lambda x: x['grade'])

[{'grade': 92, 'name': 'Aaron'},
 {'grade': 95, 'name': 'John'},
 {'grade': 100, 'name': 'Jennifer'}]