[Reference](https://towardsdatascience.com/6-cool-python-tricks-you-should-know-bab1b6a42446)

# 1. Slices

In [1]:
s = slice(3,6)

lst = [1, 3, 'a', 'b', 5, 11, 16]
text = 'DataScience'
tpl = (1,2,3,4,5,6,7)

print(lst[s])
print(text[s])
print(tpl[s])

['b', 5, 11]
aSc
(4, 5, 6)

# 2. Swapping variables

In [2]:
a = 'John'
b = 'Emily'
c = a
a = b
b = c
print(a)
print(b)

Emily
John

In [3]:
a = 20
b = 50
a, b = b, a
print(a)
print(b)

50
20

# 3. Sorting a list of lists

In [4]:
lst = [[2, 7], [7, 3], [3, 8], [8, 7], [9, 7], [4, 9]]

In [5]:
lst.sort(key = lambda inner:inner[1])
print(lst)

[[7, 3], [2, 7], [8, 7], [9, 7], [3, 8], [4, 9]]

In [6]:
lst.sort(key = lambda inner:inner[0])
print(lst)

[[2, 7], [3, 8], [4, 9], [7, 3], [8, 7], [9, 7]]

# 4. Argument unpacking

In [7]:
def mult(a, b, c):
   return a * b * c
   
mult(2, 3, 4)

24

In [8]:
def mult(*args):
   result = 1
   for i in args:
      result *= i
   return result

In [9]:
mult(2, 3)

6

In [10]:
mult(2, 3, 4)

24

In [11]:
mult(2, 3, 4, 9)

216

# 5. Decompose a collection

In [12]:
tpl = (1, 2)
x = tpl[0]
y = tpl[1]
print(x, y)

1 2

In [13]:
x, y = tpl
print(x, y)

1 2

In [14]:
x, y, z = {1, 2, 3}
print(x, y, z)

1 2 3

In [15]:
x, y, z = ['a', 'b', 'c']
print(x, y, z)

a b c

# 6. F strings

In [16]:
name = 'John'
age = 15
print("{} is {} years old".format(name, age))

John is 15 years old

In [17]:
print(f"{name} is {age} years old")

John is 15 years old