[Reference](https://betterprogramming.pub/6-essential-python-tuple-unpacking-techniques-you-can-use-fc5d56a2c5f4)

In [6]:
# one-to-one unpacking
employee_data = ("Branden", "Data Science", "Machine Learning")
name, speciality, major = employee_data
print("Employee Name:", name)
print("Employee Speciality:", speciality)
print("Employee Major:", major)

Employee Name: Branden
Employee Speciality: Data Science
Employee Major: Machine Learning

In [7]:
# Access Individual Values Returned From a Function
def retrieve_employee_info(employee_id):
     # call some functions to retrieve the data
     employee_name = "Branden"
     employee_dep = "Data Science"
     return employee_name, employee_dep 
 
employee_name, employee_dep = retrieve_employee_info(20912)
print(employee_name)
print(employee_dep )

Branden
Data Science

In [9]:
employee_data = ("Branden", "Data Science", "Machine Learning")
name, _, major = employee_data
print(f"Name: {name}, Major: {major}")
print(f"Speciality: {_}")

Name: Branden, Major: Machine Learning
Speciality: Data Science

In [10]:
# User * to capture all
nums = (1, 2, 3, 4, 5, 6)
first_num, *middle_nums, last_num = nums
print("First Number:", first_num)
print("Last Number:", last_num)
print("Middle Numbers:", middle_nums)

First Number: 1
Last Number: 6
Middle Numbers: [2, 3, 4, 5]

In [12]:
first, *middle, last = (1, 2, 3)
print("Middle:", middle)

first, *middle, last = (1, 3)
print("Middle:", middle)

Middle: [2]
Middle: []

In [13]:
# Combine underscores and asterisks
nums = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
# Good unpacking
one, *_, seven, eight, nine, ten = nums
print(_)
# Bad unpacking
one, *_, middle, *big_nums, nine, ten = nums

[2, 3, 4, 5, 6]

SyntaxError: ignored

In [14]:
# Tuple packing and unpacking in functions
def search_fruits(*fruits):
     print("Fruits:", fruits)
     print("Type of fruits:", type(fruits))
     for fruit in fruits:
         print(fruit)
 
search_fruits("Kiwi", "Mango", "Apple", "Grape")

Fruits: ('Kiwi', 'Mango', 'Apple', 'Grape')
Type of fruits: <class 'tuple'>
Kiwi
Mango
Apple
Grape

In [18]:
first_tuple = ("Branden", "James")
second_tuple = (*first_tuple, "Lily")
print("First tuple:", first_tuple)
print("Second tuple:", second_tuple)
*first_tuple

First tuple: ('Branden', 'James')
Second tuple: ('Branden', 'James', 'Lily')

SyntaxError: ignored

In [19]:
*first_tuple,

('Branden', 'James')

In [20]:
print(*[1, 2, 3], 4)

1 2 3 4

In [21]:
print(*"Hello", *"Python")

H e l l o P y t h o n