[Reference](https://towardsdatascience.com/6-ways-ds-ml-gods-boost-accuracy-without-trying-1c89de6126df)

# Feature Scaling

In [4]:
import numpy as np

In [5]:
array = [5,10,15,20]
q = np.std(array)
mu = np.mean(array)
[(i-mu) / q for i in array]

[-1.3416407864998738,
 -0.4472135954999579,
 0.4472135954999579,
 1.3416407864998738]

In [7]:
avg = np.mean(array)
a = np.min(array)
b = np.max(array)
[(i-avg) / (b-a) for i in array]

[-0.5, -0.16666666666666666, 0.16666666666666666, 0.5]

# Removing Outliers

In [8]:
import pandas as pd
data = dict({"A": [5,10,15,20,25,30,35,40,85,-20,-60],
             "B": [5,10,15,20,25,30,35,40,90,-32,55]})

In [10]:
df = pd.DataFrame(data)
df.head()

    A   B
0   5   5
1  10  10
2  15  15
3  20  20
4  25  25

In [11]:
from scipy import stats
import numpy as np
z_scores = stats.zscore(df)
abs_z_scores = np.abs(z_scores)
filtered_entries = (abs_z_scores < 2).all(axis=1)
new_df = df[filtered_entries]
new_df.head(20)

    A   B
0   5   5
1  10  10
2  15  15
3  20  20
4  25  25
5  30  30
6  35  35
7  40  40