[Reference](https://towardsdatascience.com/9-one-liners-anyone-learning-python-should-know-29fdea7c540c?gi=ebb380b00d06)

# 1. If â€” Else Statement

In [1]:
age = 18
valid = "You're an adult"
invalid = "You're NOT an adult"
print(valid) if age >= 18 else print(invalid)

You're an adult

# 2. Create a list based on existing lists

In [2]:
words = ['united states', 'brazil', 'united kingdom']

capitalized = [word.title() for word in words]
capitalized

['United States', 'Brazil', 'United Kingdom']

# 3. Dictionary Comprehension

In [3]:
dict_numbers = {x:x*x for x in range(1,6) }
dict_numbers

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

# 4. Join Dictionaries

In [4]:
dict_1 = {'a': 1, 'b': 2}
dict_2 = {'c': 3, 'd': 4}
merged_dict = {**dict_1, **dict_2}
merged_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

# 5. Remove Duplicates in a List

In [5]:
numbers = [1,1,1,2,2,3,4,5,6,7,7,8,9,9,9]

list(set(numbers))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# 6. Assigning multiple variables in one line in Python

In [6]:
a, b, c = 1, "abc",  True
print(a)
print(b)
print(c)

1
abc
True

# 7. Filter values from a list

In [7]:
my_list = [10, 11, 12, 13, 14, 15]
list(filter(lambda x: x%2 == 0, my_list ))

[10, 12, 14]

# 8. Sort dictionary by keys

In [8]:
product_prices = {'Z': 9.99, 'Y': 9.99, 'X': 9.99}
{key:product_prices[key] for key in sorted(product_prices.keys())}

{'X': 9.99, 'Y': 9.99, 'Z': 9.99}

# 9. Sort dictionary by values

In [9]:
population = {'USA':329.5, 'Brazil': 212.6, 'UK': 67.2}
sorted(population.items(), key=lambda x:x[1])

[('UK', 67.2), ('Brazil', 212.6), ('USA', 329.5)]

In [10]:
population = {'USA':329.5, 'Brazil': 212.6, 'UK': 67.2}
{k:v for k, v in sorted(population.items(), key=lambda x:x[1])}

{'Brazil': 212.6, 'UK': 67.2, 'USA': 329.5}