[Reference](https://python.plainenglish.io/a-beginners-guide-to-pandas-library-of-python-8b04833a53e7)

# Attributes:

In [1]:
import pandas as pd
from sklearn import datasets

In [2]:
data = datasets.load_iris()

In [3]:
data.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [4]:
df = pd.DataFrame(data.data, columns=data.feature_names)
df['target'] = data.target
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [5]:
type(df['sepal length (cm)'])

pandas.core.series.Series

# Array Attribute:

In [6]:
df['sepal length (cm)'].array

<PandasArray>
[5.1, 4.9, 4.7, 4.6, 5.0, 5.4, 4.6, 5.0, 4.4, 4.9,
 ...
 6.7, 6.9, 5.8, 6.8, 6.7, 6.7, 6.3, 6.5, 6.2, 5.9]
Length: 150, dtype: float64

At Attribute:

In [7]:
df['sepal length (cm)'].at[149]

5.9

# Axis Attribute:

In [8]:
df['sepal length (cm)'].axes

[RangeIndex(start=0, stop=150, step=1)]