[Reference](https://medium.com/@amulyakandukuri4/a-beginners-guide-to-pandas-python-library-a2a1af510c21)

In [1]:
import pandas as pd

data = [1, 2, 3, 4, 5]
s = pd.Series(data)
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [2]:
import pandas as pd

data = {'Name': ['John', 'Jane', 'Mark', 'Emily'], 
        'Age': [25, 30, 35, 40], 
        'Salary': [50000, 60000, 70000, 80000]}
df = pd.DataFrame(data)
print(df)

    Name  Age  Salary
0   John   25   50000
1   Jane   30   60000
2   Mark   35   70000
3  Emily   40   80000

In [3]:
import pandas as pd

data = {'Name': ['John', 'Jane', 'Mark', 'Emily'], 
        'Age': [25, 30, 35, 40], 
        'Salary': [50000, 60000, 70000, 80000]}
df = pd.DataFrame(data)

# Filter data based on age greater than 30
filtered_df = df.loc[df['Age'] > 30]
print(filtered_df)

    Name  Age  Salary
2   Mark   35   70000
3  Emily   40   80000

In [4]:
import pandas as pd

data = {'Name': ['John', 'Jane', 'Mark', 'Emily'], 
        'Age': [25, 30, 35, 40], 
        'Salary': [50000, 60000, 70000, 80000]}
df = pd.DataFrame(data)

# Get the sum, mean, and count of the salary column
agg_df = df['Salary'].agg(['sum', 'mean', 'count'])
print(agg_df)

sum      260000.0
mean      65000.0
count         4.0
Name: Salary, dtype: float64