[Reference](https://medium.com/@unlockcoding1/advanced-python-sql-integration-techniques-a-comprehensive-guide-4560efeaa406)

In [1]:
import psycopg2

# Establish a connection to a PostgreSQL database
try:
    connection = psycopg2.connect(
        user="your_username",
        password="your_password",
        host="your_host",
        port="your_port",
        database="your_database"
    )
    # Connection successful
except (Exception, psycopg2.Error) as error:
    # Handle connection errors
    print("Error while connecting to PostgreSQL:", error)

In [2]:
# Execute a SELECT query
cursor = connection.cursor()
cursor.execute("SELECT * FROM your_table")
records = cursor.fetchall()
for record in records:
    print(record)

# Insert data into a table
insert_query = "INSERT INTO your_table (column1, column2) VALUES (%s, %s)"
data_to_insert = (value1, value2)
cursor.execute(insert_query, data_to_insert)

# Update and delete data
update_query = "UPDATE your_table SET column1 = %s WHERE column2 = %s"
data_to_update = (new_value, condition)
cursor.execute(update_query, data_to_update)

In [3]:
try:
    # Begin a transaction
    connection.begin()

    # Execute multiple SQL statements
    # Commit the transaction
    connection.commit()
except Exception as e:
    # Rollback the transaction in case of an error
    connection.rollback()

In [4]:
# Implement connection pooling with psycopg2
from psycopg2 import pool

connection_pool = pool.ThreadedConnectionPool(
    minconn=5,
    maxconn=20,
    user="your_username",
    password="your_password",
    host="your_host",
    port="your_port",
    database="your_database"
)

In [5]:
# Example: Automating a data import process
import pandas as pd

# Load data from a CSV file
data = pd.read_csv("data.csv")

# Insert data into the database
for index, row in data.iterrows():
    cursor.execute("INSERT INTO your_table (column1, column2) VALUES (%s, %s)", (row['value1'], row['value2']))

# Commit the changes
connection.commit()