[Reference](https://medium.com/@parkashsharma/basic-time-series-with-pandas-71110b1b7835)

In [7]:
import numpy as np

In [11]:
np.array(['2020-03-15', '2020-05-24', '2020-08-09'], dtype='datetime64')

array(['2020-03-15', '2020-05-24', '2020-08-09'], dtype='datetime64[D]')

In [12]:
np.array(['2020-03-15', '2020-05-24', '2020-08-09'], dtype='datetime64[Y]')

array(['2020', '2020', '2020'], dtype='datetime64[Y]')

In [13]:
np.arange(start='2020-06-01', stop='2020-06-23', step=7, dtype='datetime64[D]')

array(['2020-06-01', '2020-06-08', '2020-06-15', '2020-06-22'],
      dtype='datetime64[D]')

In [14]:
import pandas as pd
dates = np.array(['2020-03-15', '2019-05-24', '2018-08-09'], dtype='datetime64[D]')
idx = pd.DatetimeIndex(dates)
idx

DatetimeIndex(['2020-03-15', '2019-05-24', '2018-08-09'], dtype='datetime64[ns]', freq=None)

In [15]:
idx = pd.date_range('2020-07-01', periods=7, freq='D')
idx

DatetimeIndex(['2020-07-01', '2020-07-02', '2020-07-03', '2020-07-04',
               '2020-07-05', '2020-07-06', '2020-07-07'],
              dtype='datetime64[ns]', freq='D')

In [16]:
idx = pd.to_datetime(['Jan 01, 2020','1/2/20','03-Jul-2020',None])
idx

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-07-03', 'NaT'], dtype='datetime64[ns]', freq=None)

In [17]:
data = np.random.randn(7,2)
data

array([[ 0.53746281, -1.35792731],
       [-0.23071251,  0.17172801],
       [ 0.78666629, -0.18895838],
       [ 1.41874399, -0.50249651],
       [ 1.29712539, -0.01622628],
       [ 1.65936932,  0.46222434],
       [ 0.49811427,  0.64148702]])

In [18]:
df = pd.DataFrame(data,
                   index=pd.date_range(start='2020-07-01', periods=data.shape[0]),
                   columns=['A', 'B'])
df

                   A         B
2020-07-01  0.537463 -1.357927
2020-07-02 -0.230713  0.171728
2020-07-03  0.786666 -0.188958
2020-07-04  1.418744 -0.502497
2020-07-05  1.297125 -0.016226
2020-07-06  1.659369  0.462224
2020-07-07  0.498114  0.641487