[Reference](https://python.plainenglish.io/become-a-master-of-string-formatting-in-python3-252334a8269a)

# The % way ( C way )

In [1]:
x = 10
print("Number is %d" %x)

Number is 10

In [2]:
my_string = "cool"
print("Python is %s" % my_string)

Python is cool

In [3]:
a = 10
b = 20
c = 30
print("%d + %d = %d" % (a, b, c) )

10 + 20 = 30

![example](https://miro.medium.com/max/1400/1*QFEN2sOEQWTBucaYl-DkIA.png)

# The comma way

In [5]:
x = 11
print("The number", x, "is a prime number")

The number 11 is a prime number

# The + way

In [6]:
my_variable = "2021"
print("We are in " + str(my_variable) + " this year")

We are in 2021 this year

In [7]:
one = 1
two = 2
three = 3

In [8]:
print("The first 3 numbers are : " + str(one) + " " + str(two) + " " + str(three) )

The first 3 numbers are : 1 2 3

# The format way

In [9]:
my_message = "The number {} is the square root of {}"

In [10]:
my_formatted_message = my_message.format(2, 4)
print(my_formatted_message)

The number 2 is the square root of 4

In [11]:
print("{} + {} = {}".format(2, 3, 5))

2 + 3 = 5

In [12]:
first = 1
second = 2
print("The first printed is : {1} then : {0}".format(first, second))

The first printed is : 2 then : 1

In [13]:
month = "May"
year = 2021
print("We are in {month} of {year}".format(month=month, year=year))

We are in May of 2021

In [15]:
import math
print("pi = {:.5}".format(math.pi))

pi = 3.1416

In [16]:
x = 1
print("number :{:#5}".format(x))

number :    1

In [17]:
x = 1
print("number :{:#05}".format(x))

number :00001

In [18]:
import math
print("The value of PI is {pi:#010.7}".format(pi = math.pi))

The value of PI is 003.141593

In [23]:
x = 10
print("{x:#5X}")

{x:#5X}

In [24]:
x = 2021
print("2021 in binary : {x:b}")

2021 in binary : {x:b}

# F-strings

In [26]:
my_f_string = f"some string"
# or
my_f_string = F"some string"

In [27]:
x = 10
print("x is equal to {}".format(x))

x is equal to 10

In [29]:
x = 10
print("x is equal to {x}".format(x = x))

x is equal to 10

In [30]:
x = 10
print(f"x is equal to {x}")

x is equal to 10

In [31]:
import math
print(f"The value of pi is {math.pi:#010.6}")

The value of pi is 0003.14159