[Reference](https://medium.com/daily-programming-tips/day3-break-pass-and-continue-in-python-88710816b581)

In [2]:
for i in range(10):
    print(f'Num: {i}')
    if i == 1:
        pass
    if i == 5:
        continue
    if i == 8:
        break

    print(f'Squared Num: {i*i}')

Num: 0
Squared Num: 0
Num: 1
Squared Num: 1
Num: 2
Squared Num: 4
Num: 3
Squared Num: 9
Num: 4
Squared Num: 16
Num: 5
Num: 6
Squared Num: 36
Num: 7
Squared Num: 49
Num: 8

In [3]:
for i in range(15):
    print(f'Num: {i}')
    if i > 3:
        break
    print(f'Squared Num: {i*i}')

Num: 0
Squared Num: 0
Num: 1
Squared Num: 1
Num: 2
Squared Num: 4
Num: 3
Squared Num: 9
Num: 4

In [4]:
for i in range(15):
    print(f'Num: {i}')
    if i > 3:
        pass
    else:
        print(f'{i} is less than 3')
    print(f'Squared Num: {i*i}')

Num: 0
0 is less than 3
Squared Num: 0
Num: 1
1 is less than 3
Squared Num: 1
Num: 2
2 is less than 3
Squared Num: 4
Num: 3
3 is less than 3
Squared Num: 9
Num: 4
Squared Num: 16
Num: 5
Squared Num: 25
Num: 6
Squared Num: 36
Num: 7
Squared Num: 49
Num: 8
Squared Num: 64
Num: 9
Squared Num: 81
Num: 10
Squared Num: 100
Num: 11
Squared Num: 121
Num: 12
Squared Num: 144
Num: 13
Squared Num: 169
Num: 14
Squared Num: 196

In [5]:
for i in range(15):
    print(f'Num: {i}')
    if i > 3:
        continue
    else:
        print(f'{i} is less than 3')
    print(f'Squared Num: {i*i}')

Num: 0
0 is less than 3
Squared Num: 0
Num: 1
1 is less than 3
Squared Num: 1
Num: 2
2 is less than 3
Squared Num: 4
Num: 3
3 is less than 3
Squared Num: 9
Num: 4
Num: 5
Num: 6
Num: 7
Num: 8
Num: 9
Num: 10
Num: 11
Num: 12
Num: 13
Num: 14