[Reference](https://medium.com/@bubbapora_76246/clean-up-your-python-code-with-decorators-613e7ad4444b)

In [1]:
import pandas as pd

transaction_ids = [101, 102, 103, 104, 105]
item_ids = ['shirts', 'socks', 'jeans', 'socks', 'shirts']
sale_amts = [25, 12, 32, None, 20]

df = pd.DataFrame({'trans_id': transaction_ids,
                   'item_id': item_ids,
                   'sale_amt': sale_amts})

In [2]:
import functools

def tracking_decorator(func):
    @functools.wraps(func)
    def wrapper(*args, **kwargs):
        df = kwargs['data']
        original_trans_set = set(df['trans_id'])
        df = func(*args, **kwargs)
        post_filtering_trans_set = set(df['trans_id'])
        filtered_trans = list(original_trans_set - post_filtering_trans_set)
        return df, filtered_trans
    return wrapper

@tracking_decorator
def remove_nulls(data):
    return data.dropna()

In [3]:
df, dropped_transactions = remove_nulls(data=df)

In [4]:
print(df)

   trans_id item_id  sale_amt
0       101  shirts      25.0
1       102   socks      12.0
2       103   jeans      32.0
4       105  shirts      20.0

In [5]:
print(dropped_transactions)

[104]