[Reference](https://towardsdev.com/collections-module-in-python-fbd50615af85)

In [1]:
from collections import Counter

# Counting characters in a string
char_count = Counter("hello world")

print(char_count)

Counter({'l': 3, 'o': 2, 'h': 1, 'e': 1, ' ': 1, 'w': 1, 'r': 1, 'd': 1})

In [2]:
from collections import Counter

# Create a Counter object
word_counts = Counter("mississippi")

# Elements
print(list(word_counts.elements()))

# Most common elements
print(word_counts.most_common(2))

# Subtract counts
word_counts.subtract("miss")
print(word_counts)

['m', 'i', 'i', 'i', 'i', 's', 's', 's', 's', 'p', 'p']
[('i', 4), ('s', 4)]
Counter({'i': 3, 's': 2, 'p': 2, 'm': 0})

In [3]:
from collections import defaultdict

# Using an integer as the default value
int_default_dict = defaultdict(int)
int_default_dict['a'] += 1
int_default_dict['b'] += 2

print(int_default_dict)

defaultdict(<class 'int'>, {'a': 1, 'b': 2})

In [4]:
from collections import defaultdict

# Grouping items by their first letter
words = ['apple', 'banana', 'cherry', 'date', 'eggplant', 'fig']
grouped_words = defaultdict(list)

for word in words:
    first_letter = word[0]
    grouped_words[first_letter].append(word)

print(grouped_words)

defaultdict(<class 'list'>, {'a': ['apple'], 'b': ['banana'], 'c': ['cherry'], 'd': ['date'], 'e': ['eggplant'], 'f': ['fig']})

In [5]:
from collections import defaultdict

# Counting occurrences of each character in a string
char_count = defaultdict(int)
for char in "hello world":
    char_count[char] += 1

print(char_count)

defaultdict(<class 'int'>, {'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1})

In [6]:
from collections import OrderedDict

# Creating an OrderedDict
ordered_dict = OrderedDict([('a', 1), ('b', 2), ('c', 3)])

print("OrderedDict:", ordered_dict)

OrderedDict: OrderedDict([('a', 1), ('b', 2), ('c', 3)])

In [7]:
# Adding elements to the OrderedDict
ordered_dict['d'] = 4
ordered_dict['e'] = 5

print("Updated OrderedDict:", ordered_dict)

Updated OrderedDict: OrderedDict([('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)])

In [8]:
# Accessing elements
print("Value of key 'a':", ordered_dict['a'])
print("Value of key 'c':", ordered_dict.get('c'))

Value of key 'a': 1
Value of key 'c': 3

In [9]:
# Moving 'b' to the end
ordered_dict.move_to_end('b')
print("OrderedDict after moving 'b' to the end:", ordered_dict)

OrderedDict after moving 'b' to the end: OrderedDict([('a', 1), ('c', 3), ('d', 4), ('e', 5), ('b', 2)])

In [10]:
# Deleting an element
del ordered_dict['d']
print("OrderedDict after deleting 'd':", ordered_dict)

# Popping an element
popped_value = ordered_dict.pop('e')
print("Popped value:", popped_value)
print("OrderedDict after popping 'e':", ordered_dict)

OrderedDict after deleting 'd': OrderedDict([('a', 1), ('c', 3), ('e', 5), ('b', 2)])
Popped value: 5
OrderedDict after popping 'e': OrderedDict([('a', 1), ('c', 3), ('b', 2)])

In [11]:
# Iterating over an OrderedDict
for key, value in ordered_dict.items():
    print(key, value)

a 1
c 3
b 2

In [12]:
from collections import namedtuple

# Define a namedtuple called 'Point'
Point = namedtuple('Point', ['x', 'y'])

# Create an instance of Point
p = Point(10, 20)

print(p)

Point(x=10, y=20)

In [13]:
# Accessing fields
print(p.x)  # Output: 10
print(p.y)  # Output: 20

10
20

In [14]:
print(p[0])  # Output: 10
print(p[1])  # Output: 20

10
20

In [15]:
from collections import namedtuple

# Using namedtuple to return multiple values from a function
def calculate_circle(radius):
    from math import pi
    circumference = 2 * pi * radius
    area = pi * radius ** 2
    return namedtuple('Circle', ['circumference', 'area'])(circumference, area)

circle = calculate_circle(5)
print(f"Circumference: {circle.circumference}, Area: {circle.area}")

Circumference: 31.41592653589793, Area: 78.53981633974483

In [16]:
from collections import deque

dq = deque([1, 2, 3])
print(dq)

deque([1, 2, 3])

In [17]:
from collections import deque

# Queue implementation using deque
queue = deque()

# Enqueue elements
queue.append('a')
queue.append('b')
queue.append('c')
print("Queue:", queue)

# Dequeue elements
print("Dequeued:", queue.popleft())
print("Dequeued:", queue.popleft())
print("Queue after dequeuing:", queue)

Queue: deque(['a', 'b', 'c'])
Dequeued: a
Dequeued: b
Queue after dequeuing: deque(['c'])

In [18]:
from collections import deque

# Stack implementation using deque
stack = deque()

# Push elements
stack.append('a')
stack.append('b')
stack.append('c')

print("Stack:", stack)

# Pop elements
print("Popped:", stack.pop())
print("Popped:", stack.pop())
print("Stack after popping:", stack)

Stack: deque(['a', 'b', 'c'])
Popped: c
Popped: b
Stack after popping: deque(['a'])

In [19]:
from collections import ChainMap

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

chain = ChainMap(dict1, dict2)

print(chain['a'])  # Output: 1
print(chain['c'])  # Output: 3

1
3

In [20]:
chain['e'] = 5
print(dict1)  # Output: {'a': 1, 'b': 2, 'e': 5}

{'a': 1, 'b': 2, 'e': 5}

In [21]:
dict3 = {'f': 6}
chain = chain.new_child(dict3)  # Adds dict3 to the front of the chain
print(chain['f'])  # Output: 6

chain = chain.parents  # Removes the front dictionary
print('f' in chain)  # Output: False

6
False

In [22]:
from collections import UserDict

class MyDict(UserDict):
    def __missing__(self, key):
        return 'Default Value'


my_dict = MyDict()
print(my_dict['nonexistent_key'])  # Output: Default Value

Default Value

In [23]:
from collections import UserList

class TypedList(UserList):
    def __init__(self, initial_data, data_type):
        super().__init__(initial_data)
        self.data_type = data_type

    def append(self, item):
        if not isinstance(item, self.data_type):
            raise TypeError(f"Item must be of type {self.data_type.__name__}")
        super().append(item)


typed_list = TypedList([1, 2, 3], int)
typed_list.append(4)
print(typed_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [24]:
from collections import UserString

class VowelReplacer(UserString):
    def __init__(self, initial_string):
        super().__init__(initial_string)

    def replace_vowels(self, replacement):
        vowels = "aeiouAEIOU"
        return ''.join(replacement if char in vowels else char for char in self.data)


replacer = VowelReplacer("Hello World")
print(replacer.replace_vowels("*"))  # Output: H*ll* W*rld

H*ll* W*rld

In [25]:
from collections import namedtuple, defaultdict

Employee = namedtuple('Employee', ['id', 'name'])
department_employees = defaultdict(list)

employees = [Employee(1, 'John'), Employee(2, 'Jane'), Employee(1, 'Jake')]

for emp in employees:
    department_employees[emp.id].append(emp.name)

print(department_employees)

defaultdict(<class 'list'>, {1: ['John', 'Jake'], 2: ['Jane']})