[Reference](https://pythonflood.com/collections-in-python-where-data-finds-its-perfect-home-edb53d07895c)

# Counter:

In [1]:
from collections import Counter

my_list = [1, 2, 2, 3, 3, 3]
my_counter = Counter(my_list)
print(my_counter)

Counter({3: 3, 2: 2, 1: 1})

# OrderedDict:

In [2]:
from collections import OrderedDict

my_dict = OrderedDict()
my_dict['a'] = 1
my_dict['b'] = 2
my_dict['c'] = 3

print(my_dict)

OrderedDict([('a', 1), ('b', 2), ('c', 3)])

# defaultdict:

In [3]:
from collections import defaultdict

my_dict = defaultdict(int)
my_dict['a'] = 1
my_dict['b'] = 2

print(my_dict['a'])
print(my_dict['c'])

1
0

# deque:

In [4]:
from collections import deque

my_deque = deque([1, 2, 3])
my_deque.append(4)
my_deque.appendleft(0)

print(my_deque)

deque([0, 1, 2, 3, 4])

# namedtuple:

In [5]:
from collections import namedtuple

Person = namedtuple('Person', ['name', 'age', 'gender'])
person = Person('John', 30, 'Male')

print(person.name)
print(person.age)
print(person.gender)

John
30
Male

# ChainMap:

In [6]:
from collections import ChainMap

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = ChainMap(dict1, dict2)

print(combined_dict['a'])
print(combined_dict['d'])

1
4