[Reference](https://smartcodehub.com/column-and-row-operations-in-pandas-eae9239acf19)

In [1]:
import pandas as pd 
import numpy as np 
d = {'one': pd.Series([2, 4, 6, 8], index = ['a', 'b', 'c', 'd']), 'two': pd.Series([1, 3, 5, 7, 9], index = ['a', 'b', 'c', 'd', 'e'])} 
df = pd.DataFrame(d) 
print(df)

   one  two
a  2.0    1
b  4.0    3
c  6.0    5
d  8.0    7
e  NaN    9

In [2]:
print(df['one'])

a    2.0
b    4.0
c    6.0
d    8.0
e    NaN
Name: one, dtype: float64

In [3]:
print(df['two'])

a    1
b    3
c    5
d    7
e    9
Name: two, dtype: int64

In [4]:
#Adding a new column to the DataFrame by passing a Series 
print("Adding a new column to the existing DataFrame") 
df['three'] = pd.Series([12, 14, 16, 18, 20], index=['a', 'b', 'c', 'd', 'e']) 
print(df)

Adding a new column to the existing DataFrame
   one  two  three
a  2.0    1     12
b  4.0    3     14
c  6.0    5     16
d  8.0    7     18
e  NaN    9     20

In [5]:
#Performing addition on columns and storing the result in new column 
print("Adding columns 'one' and 'two' and storing the result in 'four'") 
df['four'] = df['one'] + df['two'] 
print(df['four'])

Adding columns 'one' and 'two' and storing the result in 'four'
a     3.0
b     7.0
c    11.0
d    15.0
e     NaN
Name: four, dtype: float64

In [6]:
#Deleting column 'two' 
df.pop('two') 
print(df)

   one  three  four
a  2.0     12   3.0
b  4.0     14   7.0
c  6.0     16  11.0
d  8.0     18  15.0
e  NaN     20   NaN

In [7]:
#Deleting column 'four' 
del df['four'] 
print(df)

   one  three
a  2.0     12
b  4.0     14
c  6.0     16
d  8.0     18
e  NaN     20

In [8]:
#Printing the row with 'b' 
print(df, "\n") 
print(df.loc['b'])

   one  three
a  2.0     12
b  4.0     14
c  6.0     16
d  8.0     18
e  NaN     20

one       4.0
three    14.0
Name: b, dtype: float64

In [9]:
#Printing the row at 2 
print(df, "\n") 
print(df.iloc[2])

   one  three
a  2.0     12
b  4.0     14
c  6.0     16
d  8.0     18
e  NaN     20

one       6.0
three    16.0
Name: c, dtype: float64

In [10]:
import pandas as pd 
#Creating two DataFrames 
d1 = pd.DataFrame([[2, 4, 6], [3, 5, 7]], columns=['a', 'b', 'c']) 
d2 = pd.DataFrame([[10, 20, 30], [40, 50, 60]], columns=['a', 'b', 'c']) 
#Inserting d2 in d1 
d1 = d1.append(d2) 
print(d1)

    a   b   c
0   2   4   6
1   3   5   7
0  10  20  30
1  40  50  60

In [11]:
#Deleting the rows with label 0 
d1 = d1.drop(0) 
print(d1)

    a   b   c
1   3   5   7
1  40  50  60

In [12]:
#Deleting the rows with label 1 
d1 = d1.drop(1) 
print(d1)

Empty DataFrame
Columns: [a, b, c]
Index: []