[Reference](https://medium.com/@faradnan/cool-python-tricks-01-b46c123712aa)

# List Comprehensions

In [1]:
squares = [x**2 for x in range(10)]  # Squares of numbers 0-9
print(squares)  # Output: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = [num for num in numbers if num % 2 == 0]
print(even_numbers)  # Output: [2, 4, 6]

[2, 4, 6]

In [4]:
matrix = [[1, 2], [3, 4], [5, 6]]
flattened_matrix = [num for row in matrix for num in row]
print(flattened_matrix)  # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [5]:
words = ["hello", "world", "Python"]
uppercase_words = [word.upper() for word in words]
print(uppercase_words)  # Output: ['HELLO', 'WORLD', 'PYTHON']

['HELLO', 'WORLD', 'PYTHON']

In [6]:
numbers = [-2, 5, 0, 1, 3]
positives_and_zero = [num if num >= 0 else "negative" for num in numbers]
print(positives_and_zero)  # Output: ['negative', 5, 0, 1, 3]

['negative', 5, 0, 1, 3]

# The “Zip” Function for Iterating over Multiple Lists

In [7]:
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 28]

for name, age in zip(names, ages):
    print(f"{name} is {age} years old")

Alice is 25 years old
Bob is 30 years old
Charlie is 28 years old

In [8]:
keys = ["name", "age", "city"]
values = ["Alice", 30, "New York"]
person_dict = dict(zip(keys, values))
print(person_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

# Copying Lists

In [10]:
my_list = [1, 2, 3, 4]
copy_of_list = my_list[:]  # Slice from beginning to end
copy_of_list[0] = 10

print(my_list)
print(copy_of_list)

[1, 2, 3, 4]
[10, 2, 3, 4]

# The “enumerate” Function for Looping with Indexes

In [11]:
colors = ["red", "green", "blue"]

for index, color in enumerate(colors):
    print(f"{index}: {color}")

0: red
1: green
2: blue

In [12]:
words = ["hello", "good", "world", "nice"]

for index, word in enumerate(words):
    if len(word) < 5:
        words[index] = word.upper()  # Safely modify in-place
print(words)

['hello', 'GOOD', 'world', 'NICE']

In [13]:
age = 25
status = "Eligible" if age >= 18 else "Not eligible"
print(status)

Eligible

In [14]:
num = 25
result = "Greater than 30" if num > 30 else "Greater than 10" if num > 10 else "Less than or equal to 10"
print(result)

Greater than 10