[Reference](https://medium.com/techtofreedom/3-ways-to-create-a-dictionary-in-python-34b394bc0892)

In [1]:
cities = {'London': 'UK', 'New York': 'US', 'Tokyo': 'Japan'}
print(cities)

{'London': 'UK', 'New York': 'US', 'Tokyo': 'Japan'}

In [2]:
cities = {}
cities['London'] = 'UK'
cities['New York'] = 'US'
cities['Tokyo'] = 'Japan'
print(cities)

{'London': 'UK', 'New York': 'US', 'Tokyo': 'Japan'}

In [3]:
cities = [('London', 'UK'), ('New York', 'US'), ('Tokyo', 'Japan')]
d_cities = dict(cities)
print(d_cities)

{'London': 'UK', 'New York': 'US', 'Tokyo': 'Japan'}

In [4]:
cities = ['London', 'Leeds', 'Birmingham']
d_cities = dict.fromkeys(cities,'UK') # set the default value to 'UK' 
print(d_cities)

{'London': 'UK', 'Leeds': 'UK', 'Birmingham': 'UK'}

In [5]:
cities = ['London', 'New York', 'Tokyo']
countries = ['UK', 'US', 'Japan']
d_cities = dict(zip(cities, countries))
print(d_cities)

{'London': 'UK', 'New York': 'US', 'Tokyo': 'Japan'}

# Dict Comprehension

In [6]:
cities = ['London', 'New York', 'Tokyo', 'Cambridge', 'Oxford']
countries = ['UK', 'US', 'Japan', 'UK', 'UK']
uk_cities = {city: country for city, country in zip(cities, countries) if country == 'UK'}
print(uk_cities)

{'London': 'UK', 'Cambridge': 'UK', 'Oxford': 'UK'}

In [7]:
cities = ['london', 'New York', 'Tokyo', 'cambridge', 'Oxford']
countries = ['uK', 'US', 'Japan', 'uK', 'UK']
uk_cities = {city.capitalize(): country.upper()
             for city, country in zip(cities, countries)
             if country in ('UK', 'uK')}
print(uk_cities)

{'London': 'UK', 'Cambridge': 'UK', 'Oxford': 'UK'}