[Reference](https://towardsdatascience.com/how-to-easily-create-tables-in-python-2eaea447d8fd)

In [1]:
pip install tabulate

Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (0.8.9)

In [2]:
from tabulate import tabulate

In [3]:
table = [['First Name', 'Last Name', 'Age'], ['John', 'Smith', 39], ['Mary', 'Jane', 25], ['Jennifer', 'Doe', 28]]

In [4]:
print(tabulate(table))

----------  ---------  ---
First Name  Last Name  Age
John        Smith      39
Mary        Jane       25
Jennifer    Doe        28
----------  ---------  ---

In [6]:
print(tabulate(table, headers='firstrow'))

First Name    Last Name      Age
------------  -----------  -----
John          Smith           39
Mary          Jane            25
Jennifer      Doe             28

In [7]:
print(tabulate(table, headers='firstrow', tablefmt='grid'))

+--------------+-------------+-------+
| First Name   | Last Name   |   Age |
+==============+=============+=======+
| John         | Smith       |    39 |
+--------------+-------------+-------+
| Mary         | Jane        |    25 |
+--------------+-------------+-------+
| Jennifer     | Doe         |    28 |
+--------------+-------------+-------+

In [8]:
print(tabulate(table, headers='firstrow', tablefmt='fancy_grid'))

╒══════════════╤═════════════╤═══════╕
│ First Name   │ Last Name   │   Age │
╞══════════════╪═════════════╪═══════╡
│ John         │ Smith       │    39 │
├──────────────┼─────────────┼───────┤
│ Mary         │ Jane        │    25 │
├──────────────┼─────────────┼───────┤
│ Jennifer     │ Doe         │    28 │
╘══════════════╧═════════════╧═══════╛

In [9]:
info = {'First Name': ['John', 'Mary', 'Jennifer'], 'Last Name': ['Smith', 'Jane', 'Doe'], 'Age': [39, 25, 28]}

In [10]:
print(tabulate(info, headers='keys'))

First Name    Last Name      Age
------------  -----------  -----
John          Smith           39
Mary          Jane            25
Jennifer      Doe             28

In [11]:
print(tabulate(info, headers='keys', tablefmt='fancy_grid'))

╒══════════════╤═════════════╤═══════╕
│ First Name   │ Last Name   │   Age │
╞══════════════╪═════════════╪═══════╡
│ John         │ Smith       │    39 │
├──────────────┼─────────────┼───────┤
│ Mary         │ Jane        │    25 │
├──────────────┼─────────────┼───────┤
│ Jennifer     │ Doe         │    28 │
╘══════════════╧═════════════╧═══════╛

In [12]:
print(tabulate(info, headers='keys', tablefmt='fancy_grid', showindex=True))

╒════╤══════════════╤═════════════╤═══════╕
│    │ First Name   │ Last Name   │   Age │
╞════╪══════════════╪═════════════╪═══════╡
│  0 │ John         │ Smith       │    39 │
├────┼──────────────┼─────────────┼───────┤
│  1 │ Mary         │ Jane        │    25 │
├────┼──────────────┼─────────────┼───────┤
│  2 │ Jennifer     │ Doe         │    28 │
╘════╧══════════════╧═════════════╧═══════╛

In [13]:
print(tabulate(info, headers='keys', tablefmt='fancy_grid', showindex=range(1,4)))

╒════╤══════════════╤═════════════╤═══════╕
│    │ First Name   │ Last Name   │   Age │
╞════╪══════════════╪═════════════╪═══════╡
│  1 │ John         │ Smith       │    39 │
├────┼──────────────┼─────────────┼───────┤
│  2 │ Mary         │ Jane        │    25 │
├────┼──────────────┼─────────────┼───────┤
│  3 │ Jennifer     │ Doe         │    28 │
╘════╧══════════════╧═════════════╧═══════╛

In [14]:
print(tabulate({'First Name': ['John', 'Mary'], 'Last Name': ['Smith', 'Jane', 'Doe'], 'Age': [39, 25, 28]}, headers="keys", tablefmt='fancy_grid'))

╒══════════════╤═════════════╤═══════╕
│ First Name   │ Last Name   │   Age │
╞══════════════╪═════════════╪═══════╡
│ John         │ Smith       │    39 │
├──────────────┼─────────────┼───────┤
│ Mary         │ Jane        │    25 │
├──────────────┼─────────────┼───────┤
│              │ Doe         │    28 │
╘══════════════╧═════════════╧═══════╛

In [15]:
print(tabulate({'First Name': ['John', 'Mary'], 'Last Name': ['Smith', 'Jane', 'Doe'], 'Age': [39, 25, 28]}, headers="keys", tablefmt='fancy_grid', missingval='N/A'))

╒══════════════╤═════════════╤═══════╕
│ First Name   │ Last Name   │   Age │
╞══════════════╪═════════════╪═══════╡
│ John         │ Smith       │    39 │
├──────────────┼─────────────┼───────┤
│ Mary         │ Jane        │    25 │
├──────────────┼─────────────┼───────┤
│ N/A          │ Doe         │    28 │
╘══════════════╧═════════════╧═══════╛