[Reference](https://medium.com/analytics-vidhya/crud-operations-in-mongodb-using-python-49b7850d627e)

In [1]:
pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.7/dist-packages (3.12.0)

In [2]:
import pymongo

In [3]:
connection_url="mongodb://localhost:27017/"
client=pymongo.MongoClient(connection_url)

In [5]:
client.list_database_names()

In [6]:
database_name="student_database"
student_db=client[database_name]

In [7]:
collection_name="computer science"
collection=student_db[collection_name]

In [9]:
student_db.list_collection_names()

In [10]:
document={"Name":"Raj",
"Roll No ":  153,
"Branch ": "CSE"}
collection.insert_one(document)

In [11]:
documents=[{"Name":"Roshan","Roll No":159,"Branch":"CSE"},{"Name":"Rahim","Roll No":155,"Branch":"CSE"},{"Name":"Ronak","Roll No":156,"Branch":"CSE"}]
collection.insert_many(documents)

In [12]:
query={"Name":"Raj"}
print(collection.find_one(query))

In [13]:
query={"Branch":"CSE"}
result=collection.find(query)
for i in result:
    print(i)

In [14]:
query={"Branch":"CSE"}
result=collection.find(query)
for i in result:
    print(i)

In [15]:
query={"Roll No ":{"$eq":153}}
print(collection.find_one(query))

In [16]:
query={"Roll No":{"$eq":153}}
present_data=collection.find_one(query)
new_data={'$set':{"Name":'Ramesh'}}
collection.update_one(present_data,new_data)

In [17]:
present_data={"Branch":"CSE"}
new_data={"$set":{"Branch":"ECE"}}
collection.update_many(present_data,new_data)

In [18]:
query={"Roll No":153}
collection.delete_one(query)

In [19]:
query={"Branch":"ECE"}
collection.delete_many(query)

In [20]:
collection.drop()