[Reference](https://towardsdatascience.com/data-preprocessing-with-python-pandas-part-4-standardization-ccd5b1608f1c)

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-regioni/dpc-covid19-ita-regioni.csv')
df.dropna(axis=1,inplace=True)
df.tail(10)

                     data stato  codice_regione  ... deceduti  totale_casi  tamponi
7319  2021-02-06T17:00:00   ITA              21  ...      897        44011   543822
7320  2021-02-06T17:00:00   ITA              22  ...     1160        28733   546110
7321  2021-02-06T17:00:00   ITA               1  ...     8994       227655  2178038
7322  2021-02-06T17:00:00   ITA              16  ...     3391       128325  1366157
7323  2021-02-06T17:00:00   ITA              20  ...     1016        39373   599083
7324  2021-02-06T17:00:00   ITA              19  ...     3657       140980  1936886
7325  2021-02-06T17:00:00   ITA               9  ...     4296       137950  2327331
7326  2021-02-06T17:00:00   ITA              10  ...      831        38102   671839
7327  2021-02-06T17:00:00   ITA               2  ...      408         7842    71659
7328  2021-02-06T17:00:00   ITA               5  ...     9253       316340  4348682

[10 rows x 17 columns]

In [2]:
from scipy.stats import zscore
df['zscore-deceduti'] = zscore(df['deceduti'])

In [3]:
from scipy.stats import zmap
zmap(df['deceduti'], df['terapia_intensiva'])

array([-0.49836682, -0.49836682, -0.49836682, ...,  5.58892754,
        2.49034088, 67.2823007 ])

In [5]:
import numpy as np
threshold = 2
df['outliers'] = np.where((df['zscore-deceduti'] - threshold > 0), True, np.where(df['zscore-deceduti'] + threshold < 0, True, False))

In [6]:
df.drop(df[df['outliers'] == True].index,inplace=True)

In [7]:
df.head()

                  data stato  ...  zscore-deceduti outliers
0  2020-02-24T18:00:00   ITA  ...        -0.476095    False
1  2020-02-24T18:00:00   ITA  ...        -0.476095    False
2  2020-02-24T18:00:00   ITA  ...        -0.476095    False
3  2020-02-24T18:00:00   ITA  ...        -0.476095    False
4  2020-02-24T18:00:00   ITA  ...        -0.476095    False

[5 rows x 19 columns]