[Reference](https://alexander-aw-wagner.medium.com/python-course-part-03-26b38ac736a2)

In [1]:
x=7
print("Variable x: ",x)

y=3
print("Variable y: ",y)

a=-x
print("Negation -x: ",a)

b=x+y
print("Addition x+y: ",b)

c=x-y
print("Subtraction x-y: ",c)

d=x*y
print("Multiplication x*y:",d)

e=x/y
print("Division x/y:",e)

f=x**y
print("Power x**y:",f)

g=x%y
print("Remainder of integer division x%y:",g)

h=x//y
print("Integer division x//y:",h)

Variable x:  7
Variable y:  3
Negation -x:  -7
Addition x+y:  10
Subtraction x-y:  4
Multiplication x*y: 21
Division x/y: 2.3333333333333335
Power x**y: 343
Remainder of integer division x%y: 1
Integer division x//y: 2

In [2]:
a=4
b=7.2
c=-6.1
d=4.0

print("a==b: %s"%(a==b))
print("a==d: %s"%(a==d))
print("a!=d: %s"%(a!=d))
print("a<=d: %s"%(a<=d))
print("b>c : %s"%(b>c))
print("c>d : %s"%(c>d))

a==b: False
a==d: True
a!=d: False
a<=d: True
b>c : True
c>d : False

In [3]:
a=4
b=7.2
c=-6.1
d=4.0

ef = (a==b) or (a==d)
print(ef)

gh = (a==b) and (a==d)
print(gh)
print(not gh)

# or arithmetic operations with logical operators

ef = (a==b) | (a==d)
print(ef)

gh = (a==b) & (a==d)
print(gh)
print(ef != gh)

True
False
True
True
False
True

In [4]:
x=3
print("Initial type of x: %s"%type(x))
x=float(x)
print("Type after float cast: %s"%type(x))
x=3
print("Type after int declaration: %s"%type(x))
x=3.9
print("Type after float declatation: %s"%type(x))
x=int(x)
print("Type after after int cast: %s"%type(x))
x = bool(x)
print("Type after boolean cast: %s"%type(x))

Initial type of x: <class 'int'>
Type after float cast: <class 'float'>
Type after int declaration: <class 'int'>
Type after float declatation: <class 'float'>
Type after after int cast: <class 'int'>
Type after boolean cast: <class 'bool'>

In [5]:
str1='my first string'
print(str1)
print(type(str1))

str2="my second string"
print(str2) 
print(type(str2))

str3="""using triple quotes
strings can be defined 
over multiple lines"""
print(str3)
print(type(str3))

my first string
<class 'str'>
my second string
<class 'str'>
using triple quotes
strings can be defined
over multiple lines
<class 'str'>

In [6]:
print("First element of str1 is %s"%str1[0])

print("The first 2 elements of str1 are: %s"%str1[:2])

print("The subsequence containing the 3rd, 4th, 5th, 6th, 7th an 8th element of s3 are: %s"%str1[2:8])

print("The last character of str3 is %s"%str1[-1])

print("The last 6 characters of str3 are: %s"%str1[-6:])

First element of str1 is m
The first 2 elements of str1 are: my
The subsequence containing the 3rd, 4th, 5th, 6th, 7th an 8th element of s3 are:  first
The last character of str3 is g
The last 6 characters of str3 are: string

In [7]:
print((str1 + ' ' + str2))
print((str1 + ' \t' + str2))
print((str1 + ' \n' + str2))

my first string my second string
my first string 	my second string
my first string
my second string

In [8]:
len(str1)

15

In [9]:
print(str1.index('first'))
print(str1.index('string'))

3
9

In [10]:
'abcdefg ' *5

'abcdefg abcdefg abcdefg abcdefg abcdefg '

In [11]:
print(str1.count('first'))
print(str1.count('i'))

1
2

In [12]:
print(str1)
print('fi' in str1)
print('ng' in str1)
print(' ' in str1)
print('\n' in str1)
print('\n' in str3)

my first string
True
True
True
False
True

In [13]:
li1=[1,2,3.4,"string1",False,['a','b','c']]
print(li1)
print(type(li1))

li2=list() 
print(li2)
print(type(li2))

li3=list(range(20))
print(li3)
print(type(li3))

li4=list(range(30,39,2))
print(li4)
print(type(li4))

[1, 2, 3.4, 'string1', False, ['a', 'b', 'c']]
<class 'list'>
[]
<class 'list'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
<class 'list'>
[30, 32, 34, 36, 38]
<class 'list'>

In [14]:
print(li1)
print(li1[2])
print(li1[-2])
print(li1[1:4])
print(li1[3:])

#The last element of list li1 is a list itself

print(li1[-1][1])

[1, 2, 3.4, 'string1', False, ['a', 'b', 'c']]
3.4
False
[2, 3.4, 'string1']
['string1', False, ['a', 'b', 'c']]
b

In [15]:
#Editing a single list element
li5=[6,8,10]
print(li5)

#Assign a new value to the third element
li5[2]=20
print(li5)

#Assign a new list to the third element
li5[2]=[21,22]
print(li5)

[6, 8, 10]
[6, 8, 20]
[6, 8, [21, 22]]

In [16]:
li6=[]
li6.append('a') 
print(li6)
li6.append('b') 
print(li6)

['a']
['a', 'b']

In [17]:
li6.append(['c','d','e'])
print(li6)
print(len(li6))

['a', 'b', ['c', 'd', 'e']]
3

In [18]:
print("pop() function:  ",li6.pop())
print("After pop() last element is removed:  ",li6)
print(li6)

li6.extend(['c','d','e','f'])
print("List extended: ",li6)
print("Another list extension: ",li6 + ['g','h','i'])

pop() function:   ['c', 'd', 'e']
After pop() last element is removed:   ['a', 'b']
['a', 'b']
List extended:  ['a', 'b', 'c', 'd', 'e', 'f']
Another list extension:  ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [19]:
li6.insert(0,'A') 
print(li6)

li6.insert(1,['B','C']) 
print(li6)

['A', 'a', 'b', 'c', 'd', 'e', 'f']
['A', ['B', 'C'], 'a', 'b', 'c', 'd', 'e', 'f']

In [20]:
print(li6)
li6[1:2]=[] 

print(li6)

li6[:5]=[] 
print(li6)

['A', ['B', 'C'], 'a', 'b', 'c', 'd', 'e', 'f']
['A', 'a', 'b', 'c', 'd', 'e', 'f']
['e', 'f']

In [21]:
myString="""Python is an interpreted, high-level and general-purpose programming language. Python's design philosophy
emphasizes code readability with its notable use of significant indentation. Its language 
constructs and object-oriented approach aim to help programmers write clear, logical code for small and 
large-scale projects
"""
myList=myString.split()
print(myList)

['Python', 'is', 'an', 'interpreted,', 'high-level', 'and', 'general-purpose', 'programming', 'language.', "Python's", 'design', 'philosophy', 'emphasizes', 'code', 'readability', 'with', 'its', 'notable', 'use', 'of', 'significant', 'indentation.', 'Its', 'language', 'constructs', 'and', 'object-oriented', 'approach', 'aim', 'to', 'help', 'programmers', 'write', 'clear,', 'logical', 'code', 'for', 'small', 'and', 'large-scale', 'projects']

In [22]:
myNormList=[word.strip('.,!?:\"()').lower() for word in myList]

print(myNormList)

['python', 'is', 'an', 'interpreted', 'high-level', 'and', 'general-purpose', 'programming', 'language', "python's", 'design', 'philosophy', 'emphasizes', 'code', 'readability', 'with', 'its', 'notable', 'use', 'of', 'significant', 'indentation', 'its', 'language', 'constructs', 'and', 'object-oriented', 'approach', 'aim', 'to', 'help', 'programmers', 'write', 'clear', 'logical', 'code', 'for', 'small', 'and', 'large-scale', 'projects']

In [23]:
myNumList=list(range(21))
csvString=','.join(str(e) for e in myNumList)
print("List:",myNumList)
print("List type:",type(myNumList))
print("csvString:",csvString)
print("csvString type:",type(csvString))

List: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
List type: <class 'list'>
csvString: 0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
csvString type: <class 'str'>

In [24]:
tup1=(2,4.6,8,10,'a','b','c','a tuple',(1,2,3,4,5))
print(tup1)
print(type(tup1))

(2, 4.6, 8, 10, 'a', 'b', 'c', 'a tuple', (1, 2, 3, 4, 5))
<class 'tuple'>

In [25]:
print(tup1[:5])

(2, 4.6, 8, 10, 'a')

In [26]:
tup1[1]=56

TypeError: ignored

In [27]:
mySet=set()
print(mySet)

set()

In [28]:
se="hello i am a small text i am a big text " 
seWord=se.split() 
print(se)
print(len(se))

vocab=set(seWord) 
print(vocab)
print(len(vocab))

hello i am a small text i am a big text
40
{'hello', 'big', 'a', 'am', 'i', 'text', 'small'}
7

In [29]:
vocab2=vocab.copy()
print(vocab2)
vocab2.add('new1')
print(vocab2)
vocab2.add('new2')
print(vocab2)
vocab2.remove('new1')
print(vocab2)

{'text', 'hello', 'big', 'small', 'a', 'am', 'i'}
{'text', 'hello', 'new1', 'big', 'small', 'a', 'am', 'i'}
{'new1', 'a', 'i', 'hello', 'big', 'am', 'text', 'small', 'new2'}
{'a', 'i', 'hello', 'big', 'am', 'text', 'small', 'new2'}

In [30]:
vocabInter=vocab2&vocab
print(vocabInter)

{'hello', 'big', 'a', 'am', 'i', 'text', 'small'}

In [31]:
vocabUn=vocab2|vocab
print(vocabUn)

{'hello', 'big', 'a', 'am', 'i', 'text', 'small', 'new2'}

In [32]:
vocabEx=vocab^vocab2
print(vocabEx)

{'new2'}

In [33]:
print('i' in vocab2)
print('sunshine' in vocab2)

True
False

In [34]:
print(vocab2<vocab)  #true if vocab 2 is subset of vocabulary
print(vocab2<=vocab) #true if vocab 2 is real subset of vocabulary (not equal)
print(set(['a','text']) <= vocab2)

False
False
True

In [35]:
vocabList=list(vocab2)
print(vocabList)
print(vocabList[6])

['a', 'i', 'hello', 'big', 'am', 'text', 'small', 'new2']
small

In [36]:
frozSet=frozenset(['a','b','c','d','e'])
print(frozSet)

frozSet.add('f')

frozenset({'b', 'a', 'e', 'c', 'd'})

AttributeError: ignored

In [37]:
c1=['Tesla','Model S','ELECTRIC',2020]
print(c1)
c2=['Audi','e-Tron','ELECTRIC',2021]
print(c2)
cars=[c1,c2]
print(cars)

['Tesla', 'Model S', 'ELECTRIC', 2020]
['Audi', 'e-Tron', 'ELECTRIC', 2021]
[['Tesla', 'Model S', 'ELECTRIC', 2020], ['Audi', 'e-Tron', 'ELECTRIC', 2021]]

In [38]:
car1 = {"brand": "Tesla",
        "model": "Model S",
        "fueltype": "ELECTRIC",
        "year": 2020,
        "colors": ["black", "white", "green"]}

print(car1)
type(car1)

car2 = {"brand": "Audi",
        "model": "e-Tron",
        "fueltype": "ELECTRIC",
        "year": 2021 }

print(car2)
type(car2)

{'brand': 'Tesla', 'model': 'Model S', 'fueltype': 'ELECTRIC', 'year': 2020, 'colors': ['black', 'white', 'green']}
{'brand': 'Audi', 'model': 'e-Tron', 'fueltype': 'ELECTRIC', 'year': 2021}

dict

In [39]:
print(len(car1))
print(len(car1['colors']))

5
3

In [40]:
print("Keys:\n",list(car1.keys()))
print("Values:\n",list(car1.values()))

Keys:
 ['brand', 'model', 'fueltype', 'year', 'colors']
Values:
 ['Tesla', 'Model S', 'ELECTRIC', 2020, ['black', 'white', 'green']]

In [41]:
print(list(car1.items()))

[('brand', 'Tesla'), ('model', 'Model S'), ('fueltype', 'ELECTRIC'), ('year', 2020), ('colors', ['black', 'white', 'green'])]

In [42]:
car1['model']

'Model S'

In [43]:
car3 = {"brand": "VW",
        "model": "ID.4",
        "fueltype": "ELECTRIC",
        "year": 2019,
        "year": 2021,
        "colors": ["yellow", "black", "purple"]}

print(car3)
type(car3)

{'brand': 'VW', 'model': 'ID.4', 'fueltype': 'ELECTRIC', 'year': 2021, 'colors': ['yellow', 'black', 'purple']}

dict

In [44]:
print(car3)
print(len(car3))
del car3['colors']
print("colors deleted")
print(car3)
print(len(car3))

{'brand': 'VW', 'model': 'ID.4', 'fueltype': 'ELECTRIC', 'year': 2021, 'colors': ['yellow', 'black', 'purple']}
5
colors deleted
{'brand': 'VW', 'model': 'ID.4', 'fueltype': 'ELECTRIC', 'year': 2021}
4

In [45]:
import json

with open("03_carFile.json","w") as f:
    json.dump(car3,f)

In [46]:
with open("03_carFile.json","r") as f:
    mycar=json.load(f)
print(mycar)

{'brand': 'VW', 'model': 'ID.4', 'fueltype': 'ELECTRIC', 'year': 2021}