[Reference](https://towardsdatascience.com/data-classes-in-python-8d1a09c1294b)

In [1]:
from dataclasses import dataclass

@dataclass
class Coordinate:
    x: int
    y: int
    z: int

In [2]:
from dataclasses import dataclass

@dataclass
class Coordinate:
    x: int
    y: int
    z: int

a = Coordinate(4, 5, 3)
print(a)  # output: Coordinate(x=4, y=5, z=3)

Coordinate(x=4, y=5, z=3)

In [3]:
from dataclasses import dataclass


@dataclass
class CircleArea:
    r: int
    pi: float = 3.14

    @property
    def area(self):
        return self.pi * (self.r ** 2)


a = CircleArea(2)
print(repr(a))  # output: CircleArea(r=2, pi=3.14)
print(a.area)  # output: 12.56

CircleArea(r=2, pi=3.14)
12.56

In [4]:
from dataclasses import dataclass


@dataclass
class CircleArea:
    r: int
    pi: float = 3.14

    @property
    def area(self):
        return self.pi * (self.r ** 2)


a = CircleArea(2)
a.r = 5
print(repr(a))  # output: CircleArea(r=5, pi=3.14)
print(a.area)  # output: 78.5

CircleArea(r=5, pi=3.14)
78.5

In [5]:
from dataclasses import dataclass


@dataclass(frozen=True)
class CircleArea:
    r: int
    pi: float = 3.14

    @property
    def area(self):
        return self.pi * (self.r ** 2)


a = CircleArea(2)
a.r = 5

FrozenInstanceError: ignored

In [6]:
from dataclasses import dataclass, field


@dataclass(order=True)
class Vector:
    x: int
    y: int

v1 = Vector(8, 15)
v2 = Vector(7, 20)
print(v2 > v1)

False

In [7]:
from dataclasses import dataclass, field


@dataclass(order=True)
class Vector:
    magnitude: float = field(init=False)
    x: int
    y: int

    def __post_init__(self):
        self.magnitude = (self.x ** 2 + self.y ** 2) ** 0.5


v1 = Vector(9, 12)
print(v1)  # output: Vector(magnitude=15.0, x=9, y=12)
v2 = Vector(8, 15)
print(v2)  # output: Vector(magnitude=17.0, x=8, y=15)
print(v2 > v1)  # output: True

Vector(magnitude=15.0, x=9, y=12)
Vector(magnitude=17.0, x=8, y=15)
True

In [8]:
from dataclasses import dataclass, asdict, astuple


@dataclass
class Vector:
    x: int
    y: int
    z: int


v = Vector(4, 5, 7)
print(asdict(v))  # output: {'x': 4, 'y': 5, 'z': 7}
print(astuple(v))  # output: (4, 5, 7)

{'x': 4, 'y': 5, 'z': 7}
(4, 5, 7)

In [9]:
from dataclasses import dataclass


@dataclass
class Employee:
    name: str
    lang: str

@dataclass
class Developer(Employee):
    salary: int

Halil = Developer('Halil', 'Python', 5000)
print(Halil)

Developer(name='Halil', lang='Python', salary=5000)

In [10]:
from dataclasses import dataclass


@dataclass
class Employee:
    name: str
    lang: str = 'Python'


@dataclass
class Developer(Employee):
    salary: int


Halil = Developer('Halil', 'Python', 5000)

TypeError: ignored

In [11]:
from dataclasses import dataclass


@dataclass
class Employee:
    name: str
    lang: str = 'Python'


@dataclass
class Developer(Employee):
    salary: int = 0


Halil = Developer('Halil', 'Python', 5000)

In [12]:
from dataclasses import dataclass


@dataclass
class Employee:
    name: str
    lang: str


Halil = Employee('Halil', 'Python')
print(Halil.__dict__)

{'name': 'Halil', 'lang': 'Python'}

In [13]:
from dataclasses import dataclass


@dataclass
class Employee:
    __slots__ = ('name', 'lang')
    name: str
    lang: str


Halil = Employee('Halil', 'Python')