[Reference](https://medium.com/dsights/basic-python-datetime-manipulations-to-start-with-ease-901fdf9d2990)

In [1]:
from datetime import date, time, datetime, timedelta

d = date(2020, 1, 26)
print(d)

2020-01-26

In [2]:
t = time(hour=23, minute=59, second=59)
print(t)

23:59:59

In [3]:
dt = datetime(2020, 1 , 26, 14, 11, 23)
print(dt)

2020-01-26 14:11:23

In [4]:
print(datetime.now())
print(date.today())

2021-07-22 12:03:06.370505
2021-07-22

In [5]:
today = datetime.now()

print('Year :', today.year)
print('Month :', today.month)
print('Day :', today.day)
print('Hour :', today.hour)
print('Minutes :', today.minute)
print('Seconds :', today.second)
print('Microseconds :', today.microsecond)

Year : 2021
Month : 7
Day : 22
Hour : 12
Minutes : 4
Seconds : 17
Microseconds : 931741

In [6]:
today = datetime.now()
print('Week Number :', today.isocalendar()[1])

Week Number : 29

In [7]:
d1 = date(year = 2018, month = 7, day = 12)
d2 = date(year = 2017, month = 12, day = 23)
d3 = d1 - d2

In [8]:
print("d3 = ", d3)
print("type of d3 =", type(d3))

d3 =  201 days, 0:00:00
type of d3 = <class 'datetime.timedelta'>

In [10]:
dt1 = datetime(year = 2018, month = 7, day = 12, hour=7, minute=9, second = 33)
dt2 = datetime(year = 2017, month = 12, day = 23, hour=5, minute=55, second = 13)
dt3 = dt1 - dt2

In [11]:
print("dt3 = ", dt3)
print("type of dt3 =", type(dt3))

dt3 =  201 days, 1:14:20
type of dt3 = <class 'datetime.timedelta'>

In [12]:
td1 = timedelta(weeks=2, days=5, hours=1, seconds=33)
td2 = timedelta(days=4, hours=11, minutes=4, seconds=54)

td3 = td1 - td2

In [13]:
print("td3 =",td3)

td3 = 14 days, 13:55:39

In [14]:
today = datetime.now()
print('Now : ', today)
print('Then :', today + timedelta(days=4))

Now :  2021-07-22 12:10:56.196613
Then : 2021-07-26 12:10:56.196613

In [15]:
now = datetime.now()
print("today_strf:", now.strftime("%d/%m/%Y, %H:%M:%S"))

today_strf: 22/07/2021, 12:11:25

In [16]:
date_string = "19 December, 2019"
print("today_strf:", now.strftime("%d/%m/%Y, %H:%M:%S"))

today_strf: 22/07/2021, 12:11:25

In [17]:
datetime.strftime(today, "%Y/%m/%d %I:%M %p")

'2021/07/22 12:10 PM'

In [18]:
datetime.strftime(today, "%Y/%m/%d %H:%M ")

'2021/07/22 12:10 '