[Reference](https://python.plainenglish.io/how-enumerate-works-in-python-be15e48c93ba)

In [1]:
nums = [100, 200, 300, 400, 500]
enumeratedNums = enumerate(nums)
print(enumeratedNums)

<enumerate object at 0x7f1536ad6230>

In [2]:
nums = [100, 200, 300, 400, 500]
enumeratedNums = enumerate(nums)
print(list(enumeratedNums))

[(0, 100), (1, 200), (2, 300), (3, 400), (4, 500)]

In [3]:
nums = [100, 200, 300, 400, 500]
enumeratedNums = enumerate(nums, 10)
print(list(enumeratedNums))

[(10, 100), (11, 200), (12, 300), (13, 400), (14, 500)]

In [5]:
nums = [100, 200, 300, 400, 500]
enumeratedNums = enumerate(nums)
for item in enumeratedNums:
    print(item)

(0, 100)
(1, 200)
(2, 300)
(3, 400)
(4, 500)

In [6]:
nums = [100, 200, 300, 400, 500]
enumeratedNums = enumerate(nums)

for index, item in enumeratedNums:
    print(f'Index: {index}, value: {item}')

Index: 0, value: 100
Index: 1, value: 200
Index: 2, value: 300
Index: 3, value: 400
Index: 4, value: 500

In [8]:
nums = [100, 200, 300, 400, 500]

for i in range(0, len(nums)):
    print(f'Index: {i}, value: {nums[i]}')

Index: 0, value: 100
Index: 1, value: 200
Index: 2, value: 300
Index: 3, value: 400
Index: 4, value: 500

In [10]:
students = ['Ron', 'Harry', 'Hermione', 'Draco', 'Newt', 'Luna', 'Dobby', 'Ginny']

evenStudents = []
oddStudents = []
for id, name in enumerate(students, 1):
    if id % 2 == 0:
        evenStudents.append((id, name))
    else:
        oddStudents.append((id, name))
        
print('Students with even id : ', evenStudents)
print('Students with odd id : ', oddStudents)

Students with even id :  [(2, 'Harry'), (4, 'Draco'), (6, 'Luna'), (8, 'Ginny')]
Students with odd id :  [(1, 'Ron'), (3, 'Hermione'), (5, 'Newt'), (7, 'Dobby')]