[Reference](https://medium.com/swlh/essential-collections-in-python-43fc0d445a4c)

# List

In [1]:
collection_list = []
collection_list = [1,2,3,4,5]
collection_list = ['a','b','c','d','e']
collection_list = list()

collection_list = [1] * 10 # [1,1,1,1,1,1,1,1,1,1]

In [2]:
particular_list = [1,2,3,4,5]
len(particular_list) # 5

print(particular_list[0])  # 1
print(particular_list[3])  # 4
print(particular_list[-1]) # 5

particular_list[4] = 100
print(particular_list) # 1,2,3,4,100

1
4
5
[1, 2, 3, 4, 100]

In [4]:
particular_list = ["one","two","three","four","five"]

if "one" in particular_list:  #true
    print("true")

true

In [5]:
number_list = [0,1,2,3,4,5,6,7,8,9]

number_list[0:4] # 0,1,2,3   !NOTE THAT 4 IS NOT INCLUDED IN RANGE

number_list[::2] # 0,2,4,6,8

number_list[::-1] # PRINT IN REVERSE : 9,8,7,6,5,4,3,2,1,0

number_list[7:1:-1] # 7,6,5,4,3,2

[7, 6, 5, 4, 3, 2]

In [8]:
given_list = ["one", "two", "three", "four"]

for element in given_list:    
    print(element)

for index, element in enumerate(given_list):
    print("index:{} {}".format(index, element))

print(given_list)

one
two
three
four
index:0 one
index:1 two
index:2 three
index:3 four
['one', 'two', 'three', 'four']

In [9]:
words = ["one", "two", "three", "four", "five"]

words.append("six")

words.extend(["seven", "eight"])

del words[2]
print(words)

['one', 'two', 'four', 'five', 'six', 'seven', 'eight']

In [10]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8]
print(min(numbers))
print(max(numbers))
print(sum(numbers))

1
8
36

In [11]:
word_list = ["python", "java", "c++"]
print(', '.join(word_list))

python, java, c++

In [12]:
numbers_list = [5,10,6,9,4,8,2,7,1,3]

print(sorted(numbers_list))
print(numbers_list)

numbers_list.sort()
print(numbers_list)

print(sorted(numbers_list, reverse=True))
numbers_list.sort(reverse=True)
print(numbers_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[5, 10, 6, 9, 4, 8, 2, 7, 1, 3]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# Dictionary

In [13]:
example_dict = {}
example_dict = dict()

example_dict = {
    "brands_us": ["apple", "hp", "google"],
    "brands_china": ["xiaomi", "meizu","lenovo"]
}

print(example_dict["brands_us"])

['apple', 'hp', 'google']

In [16]:
example_dict = {
    "brands_us": ["apple", "hp", "google"],
    "brands_china": ["xiaomi", "meizu","lenovo"]
}
print(example_dict["brands_us"])
print(example_dict["brands_uz"])

print(example_dict.get("brands_uz", "artel"))

['apple', 'hp', 'google']

KeyError: ignored

In [17]:
example_dict = {
    "brands_us": ["apple", "hp", "google"],
    "brands_china": ["xiaomi", "meizu","lenovo"]
}
if "brands_us" in example_dict:
    print("true")
else:
    print("false")

true

In [18]:
team_map = {
    "Temur": 'UX',
    "Zafar": 'IOS',
    "Abbos": 'Front-end',
}
print(team_map) 

team_map["Alexandra"] = '.NET'
print(team_map) 

del team_map["Abbos"]
print(team_map) 

team_map.update({
    "Temur": 'Android',
    "Kamoliddin": 'Python'
})
print(team_map)

{'Temur': 'UX', 'Zafar': 'IOS', 'Abbos': 'Front-end'}
{'Temur': 'UX', 'Zafar': 'IOS', 'Abbos': 'Front-end', 'Alexandra': '.NET'}
{'Temur': 'UX', 'Zafar': 'IOS', 'Alexandra': '.NET'}
{'Temur': 'Android', 'Zafar': 'IOS', 'Alexandra': '.NET', 'Kamoliddin': 'Python'}

In [19]:
team_map = {
    "Temur": 'UX',
    "Zafar": 'IOS',
    "Abbos": 'Front-end',
}
print(team_map.pop("Temur"))
print(team_map)

UX
{'Zafar': 'IOS', 'Abbos': 'Front-end'}

In [20]:
temp_dict = dict()
print(temp_dict.setdefault("key", 'value_1'))

print(temp_dict)

print(temp_dict.setdefault("key", 'value_2'))

value_1
{'key': 'value_1'}
value_1

In [21]:
team_map = {
    "Temur": 'UX',
    "Zafar": 'IOS',
    "Abbos": 'Front-end',
}

for key in team_map:
    print(key)

for key, value in team_map.items():
    print("{} does {}".format(key, value))

for value in team_map.values():
    print(value)

Temur
Zafar
Abbos
Temur does UX
Zafar does IOS
Abbos does Front-end
UX
IOS
Front-end

# Set

In [22]:
example_set = set()
example_set = {1, 2, 3, 3, 4, 5}

print(example_set)

print(3 in example_set)

{1, 2, 3, 4, 5}
True

In [23]:
first_set = set()

for x in range(10):
    first_set.add(x)

  
print(first_set)

first_set.remove(0)
print(first_set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [24]:
import random

first_set = set()
second_set = set()

for x in range(10):
    first_set.add(x)

for _ in range(10):
    second_set.add(random.randint(5,20))
  
  
union_set = first_set | second_set
union_set = first_set.union(second_set)

intersection_set = first_set & second_set
intersection_set = first_set.intersection(second_set)

difference_set = first_set - second_set
difference_set = first_set.difference(second_set)

symmetric_difference_set = first_set ^ second_set
symmetric_difference_set = first_set.symmetric_difference(second_set)


print(first_set)
print(second_set)
print(union_set)
print(intersection_set)
print(difference_set)
print(symmetric_difference_set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{5, 6, 7, 8, 11, 12, 15, 16, 20}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 15, 16, 20}
{8, 5, 6, 7}
{0, 1, 2, 3, 4, 9}
{0, 1, 2, 3, 4, 9, 11, 12, 15, 16, 20}