[Reference](https://medium.com/better-programming/exploring-data-classes-in-python-66b696506e55)

# Data Class

In [2]:
# @dataclass
class Employee:
    name: str
    id: int
    salary: int
    designation: str

In [7]:
class EmployeeRegularClass:
    def __init__(self, name: str,  id: int, designation: str, salary : int):
        self.name = name
        self.id = id
        self.designation = designation
        self.salary = salary

    def __repr__(self):
        return (f'{self.__class__.__name__}'
                f'(rank={self.name!r}, suit={self.id!r}, suit={self.designation!r}, suit={self.salary!r})')

    def __eq__(self, other):
        if other.__class__ is not self.__class__:
            return NotImplemented

In [8]:
employee = EmployeeRegularClass("Jessica", 2, 10000, "Manager")

print(employee) 

print(employee.name)

EmployeeRegularClass(rank='Jessica', suit=2, suit=10000, suit='Manager')
Jessica