[Reference](https://medium.com/towards-artificial-intelligence/exploratory-data-analysis-eda-dont-ask-how-ask-what-2e29703fb24a)

Dataset: https://www.kaggle.com/friedrichschneider/diabetic-dataset-for-readmission/data

In [1]:
import os
from google.colab import drive
drive.mount('/content/gdrive')
!pwd
os.chdir('gdrive/My Drive/Colab Notebooks')
!pwd

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive
/content
/content/gdrive/My Drive/Colab Notebooks

# Pandas Profiling

In [2]:
import pandas_profiling as pp
import pandas as pd

In [3]:
ds = pd.read_csv("diabetic_data.csv")

In [5]:
pp.ProfileReport(ds)

# Descriptive Statistics

In [6]:
ds.describe(include='all').T

                           count unique  ...          75%          max
encounter_id              101766    NaN  ...  2.30271e+08  4.43867e+08
patient_nbr               101766    NaN  ...  8.75459e+07  1.89503e+08
race                      101766      6  ...          NaN          NaN
gender                    101766      3  ...          NaN          NaN
age                       101766     10  ...          NaN          NaN
weight                    101766     10  ...          NaN          NaN
admission_type_id         101766    NaN  ...            4            8
discharge_disposition_id  101766    NaN  ...            6           28
admission_source_id       101766    NaN  ...            7           25
time_in_hospital          101766    NaN  ...            6           14
payer_code                101766     18  ...          NaN          NaN
medical_specialty         101766     73  ...          NaN          NaN
num_lab_procedures        101766    NaN  ...           49          129
num_procedures            101766    NaN  ...            2            6
num_medications           101766    NaN  ...           20           81
number_outpatient         101766    NaN  ...            0           42
number_emergency          101766    NaN  ...            0           76
number_inpatient          101766    NaN  ...            1           21
diag_1                    101766    717  ...          NaN          NaN
diag_2                    101766    749  ...          NaN          NaN
diag_3                    101766    790  ...          NaN          NaN
number_diagnoses          101766    NaN  ...            9           16
max_glu_serum             101766      4  ...          NaN          NaN
A1Cresult                 101766      4  ...          NaN          NaN
metformin                 101766      4  ...          NaN          NaN
repaglinide               101766      4  ...          NaN          NaN
nateglinide               101766      4  ...          NaN          NaN
chlorpropamide            101766      4  ...          NaN          NaN
glimepiride               101766      4  ...          NaN          NaN
acetohexamide             101766      2  ...          NaN          NaN
glipizide                 101766      4  ...          NaN          NaN
glyburide                 101766      4  ...          NaN          NaN
tolbutamide               101766      2  ...          NaN          NaN
pioglitazone              101766      4  ...          NaN          NaN
rosiglitazone             101766      4  ...          NaN          NaN
acarbose                  101766      4  ...          NaN          NaN
miglitol                  101766      4  ...          NaN          NaN
troglitazone              101766      2  ...          NaN          NaN
tolazamide                101766      3  ...          NaN          NaN
examide                   101766      1  ...          NaN          NaN
citoglipton               101766      1  ...          NaN          NaN
insulin                   101766      4  ...          NaN          NaN
glyburide-metformin       101766      4  ...          NaN          NaN
glipizide-metformin       101766      2  ...          NaN          NaN
glimepiride-pioglitazone  101766      2  ...          NaN          NaN
metformin-rosiglitazone   101766      2  ...          NaN          NaN
metformin-pioglitazone    101766      2  ...          NaN          NaN
change                    101766      2  ...          NaN          NaN
diabetesMed               101766      2  ...          NaN          NaN
readmitted                101766      3  ...          NaN          NaN

[50 rows x 11 columns]

# Missing Values
There are many ways to deal with missing values. If you are using a Decision Tree-based model (such as a GBM), then the tree can take a missing value as an input.

# Duplicate Rows

In [8]:
ds.drop_duplicates(inplace=True)