[Reference](https://medium.com/@anala007/exploring-window-functions-in-pandas-ff5aa29f65c)

In [1]:
import pandas as pd
df = pd.DataFrame({'A': ['one', 'one', 'two', 'two'], 
                   'B': ['a', 'b', 'a', 'b'], 
                   'C': [1, 2, 3, 4]}) 

df

     A  B  C
0  one  a  1
1  one  b  2
2  two  a  3
3  two  b  4

In [2]:
df['C'].rolling(2).sum()

0    NaN
1    3.0
2    5.0
3    7.0
Name: C, dtype: float64

In [3]:
df['C'].rolling(2).min()

0    NaN
1    1.0
2    2.0
3    3.0
Name: C, dtype: float64

In [4]:
df['C'].expanding(1).sum()

0     1.0
1     3.0
2     6.0
3    10.0
Name: C, dtype: float64