# Feature Engineering

[Reference](https://towardsdatascience.com/the-hitchhikers-guide-to-feature-extraction-b4c157e96631)

In [1]:
import featuretools as ft
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder
!pip install category_encoders
from category_encoders.binary import BinaryEncoder
from category_encoders.hashing import HashingEncoder

from sklearn import base
from sklearn.model_selection import KFold

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/44/57/fcef41c248701ee62e8325026b90c432adea35555cbc870aff9cfba23727/category_encoders-2.2.2-py2.py3-none-any.whl (80kB)
     |████████████████████████████████| 81kB 2.2MB/s
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.0.5)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.18.5)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5.1->category_encoders) (1.12.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (0.15.1)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
import os
from google.colab import drive
drive.mount('/content/gdrive',force_remount=True)
!pwd
os.chdir('gdrive/My Drive/Colab Notebooks/')
!pwd

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive
/content
/content/gdrive/My Drive/Colab Notebooks

## 1. Automatic Feature Creation using featuretools

In [3]:
data = ft.demo.load_mock_customer()

In [4]:
customers_df = data["customers"]

In [5]:
customers_df.head()

   customer_id zip_code           join_date date_of_birth
0            1    60091 2011-04-17 10:48:33    1994-07-18
1            2    13244 2012-04-15 23:31:04    1986-08-18
2            3    13244 2011-08-13 15:42:34    2003-11-21
3            4    60091 2011-04-08 20:08:14    2006-08-15
4            5    60091 2010-07-17 05:27:50    1984-07-28

In [6]:
sessions_df = data['sessions']

In [7]:
sessions_df.head(5)

   session_id  customer_id   device       session_start
0           1            2  desktop 2014-01-01 00:00:00
1           2            5   mobile 2014-01-01 00:17:20
2           3            4   mobile 2014-01-01 00:28:10
3           4            1   mobile 2014-01-01 00:44:25
4           5            4   mobile 2014-01-01 01:11:30

In [8]:
transactions_df = data["transactions"]

In [9]:
transactions_df.head(5)

   transaction_id  session_id    transaction_time product_id  amount
0             298           1 2014-01-01 00:00:00          5  127.64
1               2           1 2014-01-01 00:01:05          2  109.48
2             308           1 2014-01-01 00:02:10          3   95.06
3             116           1 2014-01-01 00:03:15          4   78.92
4             371           1 2014-01-01 00:04:20          3   31.54

In [10]:
# Create new entityset
es = ft.EntitySet(id = 'customers')

In [11]:
# Create an entity from the customers dataframe

es = es.entity_from_dataframe(entity_id = 'customers', dataframe = customers_df, 
                              index = 'customer_id', time_index = 'join_date' ,variable_types =  {"zip_code": ft.variable_types.Numeric})

In [12]:
es

Entityset: customers
  Entities:
    customers [Rows: 5, Columns: 4]
  Relationships:
    No relationships

In [13]:
es = es.entity_from_dataframe(entity_id="transactions",
                                 dataframe=transactions_df,
                                 index="transaction_id",
                               time_index="transaction_time",
                               variable_types={"product_id": ft.variable_types.Categorical})

In [14]:
ft.variable_types.ALL_VARIABLE_TYPES

[featuretools.variable_types.variable.Datetime,
 featuretools.variable_types.variable.Numeric,
 featuretools.variable_types.variable.Timedelta,
 featuretools.variable_types.variable.Categorical,
 featuretools.variable_types.variable.Text,
 featuretools.variable_types.variable.Ordinal,
 featuretools.variable_types.variable.Boolean,
 featuretools.variable_types.variable.LatLong]

In [15]:
es

Entityset: customers
  Entities:
    customers [Rows: 5, Columns: 4]
    transactions [Rows: 500, Columns: 5]
  Relationships:
    No relationships

In [16]:
es = es.entity_from_dataframe(entity_id="sessions",
            dataframe=sessions_df,
            index="session_id", time_index = 'session_start')

In [17]:
es

Entityset: customers
  Entities:
    customers [Rows: 5, Columns: 4]
    transactions [Rows: 500, Columns: 5]
    sessions [Rows: 35, Columns: 4]
  Relationships:
    No relationships

In [18]:
cust_relationship = ft.Relationship(es["customers"]["customer_id"],
                       es["sessions"]["customer_id"])

# Add the relationship to the entity set
es = es.add_relationship(cust_relationship)

In [19]:
sess_relationship = ft.Relationship(es["sessions"]["session_id"],
                       es["transactions"]["session_id"])

# Add the relationship to the entity set
es = es.add_relationship(sess_relationship)

In [20]:
es

Entityset: customers
  Entities:
    customers [Rows: 5, Columns: 4]
    transactions [Rows: 500, Columns: 5]
    sessions [Rows: 35, Columns: 4]
  Relationships:
    sessions.customer_id -> customers.customer_id
    transactions.session_id -> sessions.session_id

In [21]:
feature_matrix, feature_defs = ft.dfs(entityset=es,
                                        target_entity="customers",max_depth = 3)

In [22]:
feature_matrix

             zip_code  ...  MODE(sessions.MODE(transactions.WEEKDAY(transaction_time)))
customer_id            ...
1               60091  ...                                                  2
2               13244  ...                                                  2
3               13244  ...                                                  2
4               60091  ...                                                  2
5               60091  ...                                                  2

[5 rows x 113 columns]

In [23]:
len(feature_defs)

113

In [24]:
feature_defs

[<Feature: zip_code>,
 <Feature: COUNT(sessions)>,
 <Feature: NUM_UNIQUE(sessions.device)>,
 <Feature: MODE(sessions.device)>,
 <Feature: SUM(transactions.amount)>,
 <Feature: STD(transactions.amount)>,
 <Feature: MAX(transactions.amount)>,
 <Feature: SKEW(transactions.amount)>,
 <Feature: MIN(transactions.amount)>,
 <Feature: MEAN(transactions.amount)>,
 <Feature: COUNT(transactions)>,
 <Feature: NUM_UNIQUE(transactions.product_id)>,
 <Feature: MODE(transactions.product_id)>,
 <Feature: DAY(join_date)>,
 <Feature: DAY(date_of_birth)>,
 <Feature: YEAR(join_date)>,
 <Feature: YEAR(date_of_birth)>,
 <Feature: MONTH(join_date)>,
 <Feature: MONTH(date_of_birth)>,
 <Feature: WEEKDAY(join_date)>,
 <Feature: WEEKDAY(date_of_birth)>,
 <Feature: SUM(sessions.STD(transactions.amount))>,
 <Feature: SUM(sessions.MAX(transactions.amount))>,
 <Feature: SUM(sessions.SKEW(transactions.amount))>,
 <Feature: SUM(sessions.MIN(transactions.amount))>,
 <Feature: SUM(sessions.MEAN(transactions.amount))>,
 <Feature: SUM(sessions.NUM_UNIQUE(transactions.product_id))>,
 <Feature: STD(sessions.SUM(transactions.amount))>,
 <Feature: STD(sessions.MAX(transactions.amount))>,
 <Feature: STD(sessions.SKEW(transactions.amount))>,
 <Feature: STD(sessions.MIN(transactions.amount))>,
 <Feature: STD(sessions.MEAN(transactions.amount))>,
 <Feature: STD(sessions.COUNT(transactions))>,
 <Feature: STD(sessions.NUM_UNIQUE(transactions.product_id))>,
 <Feature: MAX(sessions.SUM(transactions.amount))>,
 <Feature: MAX(sessions.STD(transactions.amount))>,
 <Feature: MAX(sessions.SKEW(transactions.amount))>,
 <Feature: MAX(sessions.MIN(transactions.amount))>,
 <Feature: MAX(sessions.MEAN(transactions.amount))>,
 <Feature: MAX(sessions.COUNT(transactions))>,
 <Feature: MAX(sessions.NUM_UNIQUE(transactions.product_id))>,
 <Feature: SKEW(sessions.SUM(transactions.amount))>,
 <Feature: SKEW(sessions.STD(transactions.amount))>,
 <Feature: SKEW(sessions.MAX(transactions.amount))>,
 <Feature: SKEW(sessions.MIN(transactions.amount))>,
 <Feature: SKEW(sessions.MEAN(transactions.amount))>,
 <Feature: SKEW(sessions.COUNT(transactions))>,
 <Feature: SKEW(sessions.NUM_UNIQUE(transactions.product_id))>,
 <Feature: MIN(sessions.SUM(transactions.amount))>,
 <Feature: MIN(sessions.STD(transactions.amount))>,
 <Feature: MIN(sessions.MAX(transactions.amount))>,
 <Feature: MIN(sessions.SKEW(transactions.amount))>,
 <Feature: MIN(sessions.MEAN(transactions.amount))>,
 <Feature: MIN(sessions.COUNT(transactions))>,
 <Feature: MIN(sessions.NUM_UNIQUE(transactions.product_id))>,
 <Feature: MEAN(sessions.SUM(transactions.amount))>,
 <Feature: MEAN(sessions.STD(transactions.amount))>,
 <Feature: MEAN(sessions.MAX(transactions.amount))>,
 <Feature: MEAN(sessions.SKEW(transactions.amount))>,
 <Feature: MEAN(sessions.MIN(transactions.amount))>,
 <Feature: MEAN(sessions.MEAN(transactions.amount))>,
 <Feature: MEAN(sessions.COUNT(transactions))>,
 <Feature: MEAN(sessions.NUM_UNIQUE(transactions.product_id))>,
 <Feature: NUM_UNIQUE(sessions.MODE(transactions.product_id))>,
 <Feature: NUM_UNIQUE(sessions.DAY(session_start))>,
 <Feature: NUM_UNIQUE(sessions.YEAR(session_start))>,
 <Feature: NUM_UNIQUE(sessions.MONTH(session_start))>,
 <Feature: NUM_UNIQUE(sessions.WEEKDAY(session_start))>,
 <Feature: MODE(sessions.MODE(transactions.product_id))>,
 <Feature: MODE(sessions.DAY(session_start))>,
 <Feature: MODE(sessions.YEAR(session_start))>,
 <Feature: MODE(sessions.MONTH(session_start))>,
 <Feature: MODE(sessions.WEEKDAY(session_start))>,
 <Feature: NUM_UNIQUE(transactions.DAY(transaction_time))>,
 <Feature: NUM_UNIQUE(transactions.YEAR(transaction_time))>,
 <Feature: NUM_UNIQUE(transactions.MONTH(transaction_time))>,
 <Feature: NUM_UNIQUE(transactions.WEEKDAY(transaction_time))>,
 <Feature: MODE(transactions.DAY(transaction_time))>,
 <Feature: MODE(transactions.YEAR(transaction_time))>,
 <Feature: MODE(transactions.MONTH(transaction_time))>,
 <Feature: MODE(transactions.WEEKDAY(transaction_time))>,
 <Feature: SUM(sessions.NUM_UNIQUE(transactions.DAY(transaction_time)))>,
 <Feature: SUM(sessions.NUM_UNIQUE(transactions.YEAR(transaction_time)))>,
 <Feature: SUM(sessions.NUM_UNIQUE(transactions.MONTH(transaction_time)))>,
 <Feature: SUM(sessions.NUM_UNIQUE(transactions.WEEKDAY(transaction_time)))>,
 <Feature: STD(sessions.NUM_UNIQUE(transactions.DAY(transaction_time)))>,
 <Feature: STD(sessions.NUM_UNIQUE(transactions.YEAR(transaction_time)))>,
 <Feature: STD(sessions.NUM_UNIQUE(transactions.MONTH(transaction_time)))>,
 <Feature: STD(sessions.NUM_UNIQUE(transactions.WEEKDAY(transaction_time)))>,
 <Feature: MAX(sessions.NUM_UNIQUE(transactions.DAY(transaction_time)))>,
 <Feature: MAX(sessions.NUM_UNIQUE(transactions.YEAR(transaction_time)))>,
 <Feature: MAX(sessions.NUM_UNIQUE(transactions.MONTH(transaction_time)))>,
 <Feature: MAX(sessions.NUM_UNIQUE(transactions.WEEKDAY(transaction_time)))>,
 <Feature: SKEW(sessions.NUM_UNIQUE(transactions.DAY(transaction_time)))>,
 <Feature: SKEW(sessions.NUM_UNIQUE(transactions.YEAR(transaction_time)))>,
 <Feature: SKEW(sessions.NUM_UNIQUE(transactions.MONTH(transaction_time)))>,
 <Feature: SKEW(sessions.NUM_UNIQUE(transactions.WEEKDAY(transaction_time)))>,
 <Feature: MIN(sessions.NUM_UNIQUE(transactions.DAY(transaction_time)))>,
 <Feature: MIN(sessions.NUM_UNIQUE(transactions.YEAR(transaction_time)))>,
 <Feature: MIN(sessions.NUM_UNIQUE(transactions.MONTH(transaction_time)))>,
 <Feature: MIN(sessions.NUM_UNIQUE(transactions.WEEKDAY(transaction_time)))>,
 <Feature: MEAN(sessions.NUM_UNIQUE(transactions.DAY(transaction_time)))>,
 <Feature: MEAN(sessions.NUM_UNIQUE(transactions.YEAR(transaction_time)))>,
 <Feature: MEAN(sessions.NUM_UNIQUE(transactions.MONTH(transaction_time)))>,
 <Feature: MEAN(sessions.NUM_UNIQUE(transactions.WEEKDAY(transaction_time)))>,
 <Feature: NUM_UNIQUE(sessions.MODE(transactions.DAY(transaction_time)))>,
 <Feature: NUM_UNIQUE(sessions.MODE(transactions.YEAR(transaction_time)))>,
 <Feature: NUM_UNIQUE(sessions.MODE(transactions.MONTH(transaction_time)))>,
 <Feature: NUM_UNIQUE(sessions.MODE(transactions.WEEKDAY(transaction_time)))>,
 <Feature: MODE(sessions.MODE(transactions.DAY(transaction_time)))>,
 <Feature: MODE(sessions.MODE(transactions.YEAR(transaction_time)))>,
 <Feature: MODE(sessions.MODE(transactions.MONTH(transaction_time)))>,
 <Feature: MODE(sessions.MODE(transactions.WEEKDAY(transaction_time)))>]

In [25]:
# Lets talk about categorical features 
sessions_df.head()

   session_id  customer_id   device       session_start
0           1            2  desktop 2014-01-01 00:00:00
1           2            5   mobile 2014-01-01 00:17:20
2           3            4   mobile 2014-01-01 00:28:10
3           4            1   mobile 2014-01-01 00:44:25
4           5            4   mobile 2014-01-01 01:11:30

In [26]:
pd.get_dummies(sessions_df['device'],drop_first=True).head()

   mobile  tablet
0       0       0
1       1       0
2       1       0
3       1       0
4       1       0

## 2. Handling Categorical Features: Label/Binary/Hashing and Target/Mean Encoding

### Ordinal Encoding

In [27]:
df = pd.DataFrame(
       [[ 'low', 'London'], [ 'medium', 'New York'], [ 'high', 'Dubai']],
       columns=['Temperature', 'City'])

In [28]:
df

  Temperature      City
0         low    London
1      medium  New York
2        high     Dubai

In [29]:
map_dict = {'low':0,'medium':1,'high':2}
def map_values(x):
    return map_dict[x]
df['Temperature_oe'] = df['Temperature'].apply(lambda x: map_values(x))

In [30]:
df

  Temperature      City  Temperature_oe
0         low    London               0
1      medium  New York               1
2        high     Dubai               2

## Label Encoder

In [31]:
# create a labelencoder object
le = LabelEncoder()
# fit and transform on the data
sessions_df['device_le'] = le.fit_transform(sessions_df['device'])
sessions_df.head()

   session_id  customer_id   device       session_start  device_le
0           1            2  desktop 2014-01-01 00:00:00          0
1           2            5   mobile 2014-01-01 00:17:20          1
2           3            4   mobile 2014-01-01 00:28:10          1
3           4            1   mobile 2014-01-01 00:44:25          1
4           5            4   mobile 2014-01-01 01:11:30          1

In [32]:
sessions_df.head()

   session_id  customer_id   device       session_start  device_le
0           1            2  desktop 2014-01-01 00:00:00          0
1           2            5   mobile 2014-01-01 00:17:20          1
2           3            4   mobile 2014-01-01 00:28:10          1
3           4            1   mobile 2014-01-01 00:44:25          1
4           5            4   mobile 2014-01-01 01:11:30          1

### Binary Encoder

In [33]:
players = pd.read_csv("./fifa_data.csv")

In [34]:
len(players.Club.unique())

652

In [35]:
# create a Binaryencoder object
be = BinaryEncoder(cols = ['Club'],)
# fit and transform on the data
players = be.fit_transform(players)

In [36]:
players.head()

   Unnamed: 0      ID  ... GKReflexes  Release Clause
0           0  158023  ...        8.0         €226.5M
1           1   20801  ...       11.0         €127.1M
2           2  190871  ...       11.0         €228.1M
3           3  193080  ...       94.0         €138.6M
4           4  192985  ...       13.0         €196.4M

[5 rows x 99 columns]

### Hashing Encoder

In [37]:
players = pd.read_csv("./fifa_data.csv")

# create a HashingEncoder object
be = HashingEncoder(cols = ['Club'])
# fit and transform on the data
players = be.fit_transform(players)

In [38]:
players.head()

   col_0  col_1  col_2  ...  GKPositioning  GKReflexes  Release Clause
0      1      0      0  ...           14.0         8.0         €226.5M
1      0      0      0  ...           14.0        11.0         €127.1M
2      0      0      0  ...           15.0        11.0         €228.1M
3      0      0      0  ...           88.0        94.0         €138.6M
4      0      0      0  ...           10.0        13.0         €196.4M

[5 rows x 96 columns]

### Target/Mean Encoding

In [39]:
train = pd.read_csv("./titanic_train.csv")

In [40]:
train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [41]:
class KFoldTargetEncoderTrain(base.BaseEstimator, base.TransformerMixin):
    def __init__(self,colnames,targetName,
                  n_fold=5, verbosity=True,
                  discardOriginal_col=False):
        self.colnames = colnames
        self.targetName = targetName
        self.n_fold = n_fold
        self.verbosity = verbosity
        self.discardOriginal_col = discardOriginal_col
    def fit(self, X, y=None):
        return self
    def transform(self,X):
        assert(type(self.targetName) == str)
        assert(type(self.colnames) == str)
        assert(self.colnames in X.columns)
        assert(self.targetName in X.columns)
        mean_of_target = X[self.targetName].mean()
        kf = KFold(n_splits = self.n_fold,
                   shuffle = True, random_state=2019)
        col_mean_name = self.colnames + '_' + 'Kfold_Target_Enc'
        X[col_mean_name] = np.nan
        for tr_ind, val_ind in kf.split(X):
            X_tr, X_val = X.iloc[tr_ind], X.iloc[val_ind]
            X.loc[X.index[val_ind], col_mean_name] = X_val[self.colnames].map(X_tr.groupby(self.colnames)
                                     [self.targetName].mean())
            X[col_mean_name].fillna(mean_of_target, inplace = True)
        if self.verbosity:
            encoded_feature = X[col_mean_name].values
            print('Correlation between the new feature, {} and, {} is {}.'.format(col_mean_name,self.targetName,                    
                   np.corrcoef(X[self.targetName].values,
                               encoded_feature)[0][1]))
        if self.discardOriginal_col:
            X = X.drop(self.targetName, axis=1)
        return X

In [42]:
targetc = KFoldTargetEncoderTrain('Pclass','Survived',n_fold=5)
new_train = targetc.fit_transform(train)

Correlation between the new feature, Pclass_Kfold_Target_Enc and, Survived is 0.33349480268464116.

In [43]:
new_train[['Pclass_Kfold_Target_Enc','Pclass']].head()

   Pclass_Kfold_Target_Enc  Pclass
0                 0.242268       3
1                 0.642045       1
2                 0.248756       3
3                 0.640244       1
4                 0.242268       3

## 3. How best to use Latitude and Longitude features - Part 1:

In [44]:
train = pd.read_csv("./nyc_train.csv")

In [45]:
train = train.sample(500)

In [46]:
def haversine_array(lat1, lng1, lat2, lng2): 
    lat1, lng1, lat2, lng2 = map(np.radians, (lat1, lng1, lat2, lng2)) 
    AVG_EARTH_RADIUS = 6371 # in km 
    lat = lat2 - lat1 
    lng = lng2 - lng1 
    d = np.sin(lat * 0.5) ** 2 + np.cos(lat1) * np.cos(lat2) *      np.sin(lng * 0.5) ** 2 
    h = 2 * AVG_EARTH_RADIUS * np.arcsin(np.sqrt(d)) 
    return h

In [47]:
train['haversine_distance'] = train.apply(lambda x: haversine_array(x['pickup_latitude'], x['pickup_longitude'], x['dropoff_latitude'], x['dropoff_longitude']),axis=1)

In [48]:
def dummy_manhattan_distance(lat1, lng1, lat2, lng2): 
    a = haversine_array(lat1, lng1, lat1, lng2) 
    b = haversine_array(lat1, lng1, lat2, lng1) 
    return a + b

In [49]:
train['manhattan_distance'] = train.apply(lambda x: dummy_manhattan_distance(x['pickup_latitude'], x['pickup_longitude'], x['dropoff_latitude'], x['dropoff_longitude']),axis=1)

In [50]:
def bearing_array(lat1, lng1, lat2, lng2): 
    AVG_EARTH_RADIUS = 6371 # in km 
    lng_delta_rad = np.radians(lng2 - lng1) 
    lat1, lng1, lat2, lng2 = map(np.radians, (lat1, lng1, lat2, lng2)) 
    y = np.sin(lng_delta_rad) * np.cos(lat2) 
    x = np.cos(lat1) * np.sin(lat2) - np.sin(lat1) * np.cos(lat2) * np.cos(lng_delta_rad) 
    return np.degrees(np.arctan2(y, x))

In [51]:
train['bearing'] = train.apply(lambda x: bearing_array(x['pickup_latitude'], x['pickup_longitude'], x['dropoff_latitude'], x['dropoff_longitude']),axis=1)

In [52]:
train.loc[:, 'center_latitude'] = (train['pickup_latitude'].values + train['dropoff_latitude'].values) / 2 
train.loc[:, 'center_longitude'] = (train['pickup_longitude'].values + train['dropoff_longitude'].values) / 2

In [53]:
train.head()

                id  vendor_id  ... center_latitude center_longitude
1227341  id3668879          1  ...       40.748333       -73.978764
235133   id3630719          1  ...       40.768898       -73.967602
273157   id2587382          1  ...       40.762636       -73.983578
608932   id1718826          2  ...       40.754992       -73.980854
311199   id3915979          1  ...       40.790510       -73.943642

[5 rows x 16 columns]

### log feature transformation

In [54]:
!pip install plotly_express
import plotly_express as px

Collecting plotly_express
  Downloading https://files.pythonhosted.org/packages/d4/d6/8a2906f51e073a4be80cab35cfa10e7a34853e60f3ed5304ac470852a08d/plotly_express-0.4.1-py2.py3-none-any.whl
Requirement already satisfied: pandas>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from plotly_express) (1.0.5)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.6/dist-packages (from plotly_express) (1.18.5)
Requirement already satisfied: scipy>=0.18 in /usr/local/lib/python3.6/dist-packages (from plotly_express) (1.4.1)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.6/dist-packages (from plotly_express) (0.5.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from plotly_express) (0.10.2)
Requirement already satisfied: plotly>=4.1.0 in /usr/local/lib/python3.6/dist-packages (from plotly_express) (4.4.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.20.0->plotly_express) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.20.0->plotly_express) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5->plotly_express) (1.12.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly>=4.1.0->plotly_express) (1.3.3)
Installing collected packages: plotly-express
Successfully installed plotly-express-0.4.1

In [55]:
px.histogram(train,x='trip_duration')

In [56]:
train['log_trip_duration'] = train['trip_duration'].apply(lambda x: np.log(1+x))

In [57]:
px.histogram(train,x='log_trip_duration')