[Reference](https://towardsdatascience.com/five-killer-optimization-techniques-every-pandas-user-should-know-266662bd1163)

# 1. Input/Output on CSV

In [1]:
# import pandas as pd

# file_name = "path/to/csv/file.csv"
# data = pd.read_csv(file_name)

In [2]:
# import pandas as pd

# data = pd.read_csv("path/to/file.csv")

# ## To Pickle
# data.to_pickle("path/to/file.pickle")

# ## To Parquet
# data.to_parquet("path/to/file.parquet")

# ## To Feather
# data.to_feather("path/to/file.feather")

In [3]:
# import pandas as pd

# ## From Pickle
# pickle_data = pd.read_pickle("path/to/file.pickle")

# ## From Parquet
# parquet_data = pd.read_parquet("path/to/file.parquet")

# ## From Feather
# feather_data = pd.read_feather("path/to/file.feather")

In [4]:
# print("Pickle DataFrame Type: ", type(pickle_data))
# print("Parquet DataFrame Type: ", type(parquet_data))
# print("Feather DataFrame Type: ", type(feather_data))

In [5]:
!pip install datatable

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting datatable
  Downloading datatable-1.0.0-cp37-cp37m-manylinux_2_12_x86_64.whl (96.9 MB)
     |████████████████████████████████| 96.9 MB 83 kB/s
Installing collected packages: datatable
Successfully installed datatable-1.0.0

In [6]:
# import datatable as dt
# import pandas as pd

# csv_file = "path/to/file.csv"

# dt_df = dt.fread(csv_file)
# pd_df = dt_df.to_pandas()

# print("Data type of dt_df:", type(dt_df))
# print("Data type of pd_df:", type(pd_df))

In [7]:
# import datatable as dt
# import pandas as pd

# df_data = pd.DataFrame([[1, 2], [3, 4]], columns = list("AB"))

# dt_data = dt.Frame(df_data)
# dt_data.to_csv("path/to/file.csv")

# print("Data type of df_data:", type(df_data))
# print("Data type of dt_data:", type(dt_data))

# 2. Filtering Based on Categorical data

In [ ]:
import pandas as pd
import numpy as np
import random

city_list = ["New York", "Manchester", "California", "Munich", "Bombay", 
             "Sydeny", "London", "Moscow", "Dubai", "Tokyo"]

job_list = ["Software Development Engineer", "Research Engineer", 
            "Test Engineer", "Software Development Engineer-II", 
            "Python Developer", "Back End Developer", 
            "Front End Developer", "Data Scientist", 
            "IOS Developer", "Android Developer"]

cmp_list = ["Amazon", "Google", "Infosys", "Mastercard", "Microsoft", 
            "Uber", "IBM", "Apple", "Wipro", "Cognizant"]

data = []
for i in range(4_096_000):
  
    company = random.choice(cmp_list)
    job = random.choice(job_list)
    city = random.choice(city_list)
    salary = int(round(np.random.rand(), 3)*10**6)
    employment = random.choices(["Full Time", "Intern"], weights=(80, 20))[0]
    rating = round((np.random.rand()*5), 1)
    
    data.append([company, job, city, salary, employment, rating])
    
data = pd.DataFrame(data, columns=["Company Name", "Employee Job Title",
                                   "Employee Work Location",  "Employee Salary", 
                                   "Employment Status", "Employee Rating"])

In [ ]:
%%timeit
data[data["Company Name"] == "Amazon"]

In [ ]:
data_grp = data.groupby("Company Name")

In [ ]:
%%timeit
data_grp.get_group("Amazon")

In [ ]:
## Approach 1

df1 = data[data["Company Name"] == "Amazon"]
print("df1 type: ", type(df1))

## Approach 2

df2 = data_grp.get_group("Amazon")
print("df2 type: ", type(df2))

# 3. Merging DataFrames

In [ ]:
import pandas as pd

df1 = pd.DataFrame([["A", 1], ["B", 2]], columns = ["col_a", "col_b"])
df2 = pd.DataFrame([["A", 3], ["B", 4]], columns = ["col_a", "col_c"])

pd.merge(df1, df2, on = "col_a", how = "inner")

In [ ]:
import pandas as pd

df1 = pd.DataFrame([["A", 1], ["B", 2]], columns = ["col_a", "col_b"])
df2 = pd.DataFrame([["A", 3], ["B", 4]], columns = ["col_a", "col_c"])

In [ ]:
## Method 1: pd.merge()
%%timeit
pd.merge(df1, df2, on = "col_a", how = "inner")

In [ ]:
## Method 2: join()

## Make the merge column as the index.
df1.set_index("col_a", inplace=True)
df2.set_index("col_a", inplace=True)

In [ ]:
%%timeit
df1.join(df2)

In [ ]:
import pandas as pd

df1 = pd.DataFrame([["A", "B", 1], ["C", "D", 2]], 
                   columns = ["col_a", "col_b", "col_c"])
df2 = pd.DataFrame([["A", "B", 3], ["C", "D", 4]], 
                   columns = ["col_a", "col_b", "col_d"])

df1.set_index(["col_a", "col_b"], inplace=True)
df2.set_index(["col_a", "col_b"], inplace=True)

df1.join(df2)

# 4. Value_counts() vs GroupBy()

In [ ]:
data["Company Name"].value_counts()

In [ ]:
data.groupby("Company Name").size()

In [ ]:
%%timeit
data["Company Name"].value_counts()

In [ ]:
%%timeit
data.groupby("Company Name").size()

In [ ]:
%%timeit
data["Company Name"].value_counts(normalize=True)

In [ ]:
%%timeit
a = data.groupby("Company Name").size()
b = a/a.sum()

# 5. Iterating over a DataFrame

## Method 1: Iterate using range(len(df))

In [ ]:
import pandas as pd

def apply_loop(df):
    salary_sum = 0
    
    for i in range(len(df)):
        salary_sum += df.iloc[i]['Employee Salary']

    return salary_sum/df.shape[0]

In [ ]:
%%timeit
apply_loop(data)

## Method 2: Iterate using iterrows()

In [ ]:
import pandas as pd

def salary_iterrows(df):
    salary_sum = 0
    
    for index, row in df.iterrows():
        salary_sum += row['Employee Salary']
        
    return salary_sum/df.shape[0]

In [ ]:
%%timeit
salary_iterrows(data)

## Method 3: Iterate using itertuples()

In [ ]:
import pandas as pd

def salary_itertuples(df):
    salary_sum = 0
    
    for row in df.itertuples(): 
        salary_sum += row._4
        
    return salary_sum/df.shape[0]

In [ ]:
%%timeit
salary_itertuples(data)