[Reference](https://geomario1984.medium.com/python-pandas-for-loop-d52a9a547329)

In [1]:
import pandas as pd

data = {'foo':['one','one','one','two','two','two'],
        'bar':['A','B','C','A','B','C'],
        'baz':[1,2,3,4,5,6],
        'zoo':['x','y','z','q','w','t']}

In [2]:
df = pd.DataFrame (data, columns = ['foo','bar','baz','zoo'])
print(df)

   foo bar  baz zoo
0  one   A    1   x
1  one   B    2   y
2  one   C    3   z
3  two   A    4   q
4  two   B    5   w
5  two   C    6   t

In [3]:
for index, row in df.iterrows():
    print(index, row)

0 foo    one
bar      A
baz      1
zoo      x
Name: 0, dtype: object
1 foo    one
bar      B
baz      2
zoo      y
Name: 1, dtype: object
2 foo    one
bar      C
baz      3
zoo      z
Name: 2, dtype: object
3 foo    two
bar      A
baz      4
zoo      q
Name: 3, dtype: object
4 foo    two
bar      B
baz      5
zoo      w
Name: 4, dtype: object
5 foo    two
bar      C
baz      6
zoo      t
Name: 5, dtype: object

In [4]:
for index, row in df.iterrows():
    print(row["foo"])

one
one
one
two
two
two