[Reference](https://medium.com/@sidd.gcet/gather-data-from-api-in-python-17eb70929945)

In [1]:
import pandas as pd
import requests

In [2]:
URL = 'https://api.nobelprize.org/2.1/laureates'
params = {'limit':'1000', 'offset':'1'}
response = requests.get(URL,params=params)

In [3]:
print(response)

<Response [200]>

In [4]:
data = response.json()['laureates']
print(data)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [5]:
from pandas.io.json import json_normalize
df = json_normalize(data)
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

,id,fileName,gender,sameAs,links,nobelPrizes,knownName.en,knownName.se,givenName.en,givenName.se,...,givenName.no,familyName.no,fullName.no,foundedCountry.en,foundedCountry.no,foundedCountry.se,foundedCountryNow.en,foundedCountryNow.no,foundedCountryNow.se,foundedContinent.en
0,102,bohr,male,"[https://www.wikidata.org/wiki/Q103854, https:...","[{'rel': 'laureate', 'href': 'https://api.nobe...","[{'awardYear': '1975', 'category': {'en': 'Phy...",Aage N. Bohr,Aage N. Bohr,Aage N.,Aage N.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,779,ciechanover,male,"[https://www.wikidata.org/wiki/Q233205, https:...","[{'rel': 'laureate', 'href': 'https://api.nobe...","[{'awardYear': '2004', 'category': {'en': 'Che...",Aaron Ciechanover,Aaron Ciechanover,Aaron,Aaron,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,259,klug,male,"[https://www.wikidata.org/wiki/Q190626, https:...","[{'rel': 'laureate', 'href': 'https://api.nobe...","[{'awardYear': '1982', 'category': {'en': 'Che...",Aaron Klug,Aaron Klug,Aaron,Aaron,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1004,gurnah,male,"[https://www.wikidata.org/wiki/Q317877, https:...","[{'rel': 'laureate', 'href': 'https://api.nobe...","[{'awardYear': '2021', 'category': {'en': 'Lit...",Abdulrazak Gurnah,Abdulrazak Gurnah,Abdulrazak,Abdulrazak,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,114,salam,male,"[https://www.wikidata.org/wiki/Q28189, https:/...","[{'rel': 'laureate', 'href': 'https://api.nobe...","[{'awardYear': '1979', 'category': {'en': 'Phy...",Abdus Salam,Abdus Salam,Abdus,Abdus,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
962,826,nambu,male,"[https://www.wikidata.org/wiki/Q188120, https:...","[{'rel': 'laureate', 'href': 'https://api.nobe...","[{'awardYear': '2008', 'category': {'en': 'Phy...",Yoichiro Nambu,Yoichiro Nambu,Yoichiro,Yoichiro,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
963,927,ohsumi,male,"[https://www.wikidata.org/wiki/Q8056214, https...","[{'rel': 'laureate', 'href': 'https://api.nobe...","[{'awardYear': '2016', 'category': {'en': 'Phy...",Yoshinori Ohsumi,Yoshinori Ohsumi,Yoshinori,Yoshinori,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
964,265,lee,male,"[https://www.wikidata.org/wiki/Q243190, https:...","[{'rel': 'laureate', 'href': 'https://api.nobe...","[{'awardYear': '1986', 'category': {'en': 'Che...",Yuan T. Lee,Yuan T. Lee,Yuan T.,Yuan T.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
965,794,chauvin,male,"[https://www.wikidata.org/wiki/Q202146, https:...","[{'rel': 'laureate', 'href': 'https://api.nobe...","[{'awardYear': '2005', 'category': {'en': 'Che...",Yves Chauvin,Yves Chauvin,Yves,Yves,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
966,726,alferov,male,"[https://www.wikidata.org/wiki/Q183279, https:...","[{'rel': 'laureate', 'href': 'https://api.nobe...","[{'awardYear': '2000', 'category': {'en': 'Phy...",Zhores Alferov,Zhores Alferov,Zhores,Zhores,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
import pandas as pd
from pandas.io.json import json_normalize
import requests
URL = 'https://api.nobelprize.org/2.1/laureates'
params = {'limit':'1000', 'offset':'1'}
response = requests.get(URL,params=params)
data=response.json()['laureates']
df = json_normalize(data)
print(df)

       id     fileName gender  \
0     102         bohr   male
1     779  ciechanover   male
2     259         klug   male
3    1004       gurnah   male
4     114        salam   male
..    ...          ...    ...
962   826        nambu   male
963   927       ohsumi   male
964   265          lee   male
965   794      chauvin   male
966   726      alferov   male

                                                sameAs  \
0    [https://www.wikidata.org/wiki/Q103854, https:...
1    [https://www.wikidata.org/wiki/Q233205, https:...
2    [https://www.wikidata.org/wiki/Q190626, https:...
3    [https://www.wikidata.org/wiki/Q317877, https:...
4    [https://www.wikidata.org/wiki/Q28189, https:/...
..                                                 ...
962  [https://www.wikidata.org/wiki/Q188120, https:...
963  [https://www.wikidata.org/wiki/Q8056214, https...
964  [https://www.wikidata.org/wiki/Q243190, https:...
965  [https://www.wikidata.org/wiki/Q202146, https:...
966  [https://www.wikidata.org/wiki/Q183279, https:...

                                                 links  \
0    [{'rel': 'laureate', 'href': 'https://api.nobe...
1    [{'rel': 'laureate', 'href': 'https://api.nobe...
2    [{'rel': 'laureate', 'href': 'https://api.nobe...
3    [{'rel': 'laureate', 'href': 'https://api.nobe...
4    [{'rel': 'laureate', 'href': 'https://api.nobe...
..                                                 ...
962  [{'rel': 'laureate', 'href': 'https://api.nobe...
963  [{'rel': 'laureate', 'href': 'https://api.nobe...
964  [{'rel': 'laureate', 'href': 'https://api.nobe...
965  [{'rel': 'laureate', 'href': 'https://api.nobe...
966  [{'rel': 'laureate', 'href': 'https://api.nobe...

                                           nobelPrizes       knownName.en  \
0    [{'awardYear': '1975', 'category': {'en': 'Phy...       Aage N. Bohr
1    [{'awardYear': '2004', 'category': {'en': 'Che...  Aaron Ciechanover
2    [{'awardYear': '1982', 'category': {'en': 'Che...         Aaron Klug
3    [{'awardYear': '2021', 'category': {'en': 'Lit...  Abdulrazak Gurnah
4    [{'awardYear': '1979', 'category': {'en': 'Phy...        Abdus Salam
..                                                 ...                ...
962  [{'awardYear': '2008', 'category': {'en': 'Phy...     Yoichiro Nambu
963  [{'awardYear': '2016', 'category': {'en': 'Phy...   Yoshinori Ohsumi
964  [{'awardYear': '1986', 'category': {'en': 'Che...        Yuan T. Lee
965  [{'awardYear': '2005', 'category': {'en': 'Che...       Yves Chauvin
966  [{'awardYear': '2000', 'category': {'en': 'Phy...     Zhores Alferov

          knownName.se givenName.en givenName.se  ... givenName.no  \
0         Aage N. Bohr      Aage N.      Aage N.  ...          NaN
1    Aaron Ciechanover        Aaron        Aaron  ...          NaN
2           Aaron Klug        Aaron        Aaron  ...          NaN
3    Abdulrazak Gurnah   Abdulrazak   Abdulrazak  ...          NaN
4          Abdus Salam        Abdus        Abdus  ...          NaN
..                 ...          ...          ...  ...          ...
962     Yoichiro Nambu     Yoichiro     Yoichiro  ...          NaN
963   Yoshinori Ohsumi    Yoshinori    Yoshinori  ...          NaN
964        Yuan T. Lee      Yuan T.      Yuan T.  ...          NaN
965       Yves Chauvin         Yves         Yves  ...          NaN
966     Zhores Alferov       Zhores       Zhores  ...          NaN

    familyName.no fullName.no foundedCountry.en foundedCountry.no  \
0             NaN         NaN               NaN               NaN
1             NaN         NaN               NaN               NaN
2             NaN         NaN               NaN               NaN
3             NaN         NaN               NaN               NaN
4             NaN         NaN               NaN               NaN
..            ...         ...               ...               ...
962           NaN         NaN               NaN               NaN
963           NaN         NaN               NaN               NaN
964           NaN         NaN               NaN               NaN
965           NaN         NaN               NaN               NaN
966           NaN         NaN               NaN               NaN

    foundedCountry.se foundedCountryNow.en foundedCountryNow.no  \
0                 NaN                  NaN                  NaN
1                 NaN                  NaN                  NaN
2                 NaN                  NaN                  NaN
3                 NaN                  NaN                  NaN
4                 NaN                  NaN                  NaN
..                ...                  ...                  ...
962               NaN                  NaN                  NaN
963               NaN                  NaN                  NaN
964               NaN                  NaN                  NaN
965               NaN                  NaN                  NaN
966               NaN                  NaN                  NaN

    foundedCountryNow.se foundedContinent.en
0                    NaN                 NaN
1                    NaN                 NaN
2                    NaN                 NaN
3                    NaN                 NaN
4                    NaN                 NaN
..                   ...                 ...
962                  NaN                 NaN
963                  NaN                 NaN
964                  NaN                 NaN
965                  NaN                 NaN
966                  NaN                 NaN

[967 rows x 100 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead