[Reference](https://medium.com/geekculture/getting-started-with-sqlalchemy-d132d04c940)

In [1]:
!pip install sqlalchemy
!pip install pymysql

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (1.4.25)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (4.8.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (3.6.0)
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.0 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [2]:
try:
    import sqlalchemy as db
    from sqlalchemy import create_engine
    from sqlalchemy import *
    import pymysql
    print("all imported")
    
except:
    print("error in importing")

all imported

# Engine Configuration In SQLAlchemy

![SQLalchemy](https://miro.medium.com/max/1366/0*V6X3SPaO3--h4Rpc.png)

## For PostgreSQL

In [4]:
engine = create_engine('postgresql://scott:tiger@localhost/mydatabase')

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [6]:
# engine = create_engine ('postgresql+psycopg2://scott:tiger@localhost/mydatabase')
# engine = create_engine('postgresql+pg8000://scott:tiger@localhost/mydatabase')

## For MySQL

In [8]:
# engine = create_engine('mysql://scott:tiger@localhost/foo')
# mysqlclient
# engine = create_engine('mysql+mysqldb://scott:tiger@localhost/foo')
# PyMySQL
# engine = create_engine('mysql+pymysql://scott:tiger@localhost/foo')

## Oracle:

In [10]:
# engine = create_engine('oracle://scott:tiger@127.0.0.1:1521/sidname')

## Microsoft SQL Server

In [11]:
# engine = create_engine(mssql+pymssql://scott:tiger@hostname:port/dbname')

## SQLite

In [12]:
# engine = create_engine('sqlite:///foo.db')

## Let’s get started and Connect to my Mysql database :

In [14]:
# engine = db.create_engine('mysql+pymysql://root:shelvi31@127.0.0.1/errors?host=localhost?port=3306')
# connection = engine.connect()
# print(engine.table_names())

In [16]:
# from sqlalchemy import MetaData,Table 
# metadata = db.MetaData()
# #Defining table object by giving name of table stores in db:
# dummy = Table("dummy",metadata,autoload = True, autoload_with=engine)
# #Using Function repr to view the details of the table that we stored as dummy:
# print(repr(dummy));
# # Print only the column names
# print(dummy.columns.keys())

## Querying

In [18]:
query = db.select([dummy]).where(dummy.columns.seic >= 20)
result = connection.execute(query)
resultset = result.fetchall()
resultset[0:4]
#Converting the result database to df:
import pandas as pd 
df = pd.DataFrame(resultset)
df.columns = resultset[0].keys()
df.head(10)

In [19]:
query = db.select([dummy.columns.seic,dummy.columns.seic_benefit]).where(dummy.columns.seic >= 70)
result = connection.execute(query)

resultset = result.fetchall()
resultset[:10]

In [20]:
query = db.select([dummy.columns.seic,dummy.columns.seic_benefit]).where(dummy.columns.seic.in_([72.6,70,60]))

result = connection.execute(query)

resultset = result.fetchall()
resultset[:]

In [21]:
# SQL :
# SELECT * FROM dummy
# WHERE seic = 70 AND NOT scheme1_benefit = 'Eligible'

# SQLAlchemy :
query = db.select([dummy.columns.seic,dummy.columns.scheme1_benefit]).where(db.and_(dummy.columns.seic >= 80, dummy.columns.scheme1_benefit != 'Eligible'))
result = connection.execute(query)

resultset = result.fetchall()
resultset[:]
# SQL :
# SELECT * FROM dummy
# WHERE seic = 70 OR NOT scheme1_benefit = 'Eligible'

# SQLAlchemy :
query = db.select([dummy.columns.seic,dummy.columns.scheme1_benefit]).where(db.or_(dummy.columns.seic >= 80, dummy.columns.scheme1_benefit != 'Eligible'))
result = connection.execute(query)
resultset = result.fetchall()
resultset[:]

In [22]:
# SQL :
# SELECT * FROM dummy
# ORDER BY seic DESC, seic_benefit DESC

# SQLAlchemy :
query = db.select([dummy]).where(dummy.columns.seic==60).order_by(db.desc(dummy.columns.seic), dummy.columns.seic_benefit)

result = connection.execute(query)
resultset = result.fetchall()
resultset[:10]

In [23]:
# SQL :
# SELECT COUNT(seic)
# FROM dummy
# WHERE seic==70


# SQLAlchemy :
query = db.select([db.func.count(dummy.columns.seic)]).where(dummy.columns.seic==60)
result = connection.execute(query)
resultset = result.fetchall()
resultset[:10]

In [24]:
# SQL :
# SELECT SUM(seic) as SEIC
# FROM dummy
# GROPU BY scheme1_benefit

# SQLAlchemy :
query= db.select([db.func.sum(dummy.columns.seic).label('SEIC')]).group_by(dummy.columns.scheme1_benefit)
result = connection.execute(query)
resultset = result.fetchall()
resultset[:5]

In [25]:
# SQL :
# SELECT DISTINCT seic
# FROM dummy


# SQLAlchemy :
query = db.select([db.func.count(dummy.columns.seic.distinct())])
result = connection.execute(query)
resultset = result.fetchall()
resultset[:5]