[Reference](https://towardsdatascience.com/a-complete-guide-to-python-lists-6b592c8d5707)

In [32]:
num_list = [1, 2, 3, 4, 5, 6]

print(num_list[2])

print(num_list[-1])

print(num_list[8])

3
6

IndexError: ignored

In [1]:
num_list = [1, 2, 3, 4, 5, 6]
print(3 in num_list)

print(7 in num_list)

True
False

In [2]:
num_list = [1, 2, 3, 4, 5, 6]

print(num_list[1:3])

[2, 3]

In [6]:
print(num_list[2])

print(num_list[-1])

print(num_list[3:])

print(num_list[-3:])

3
6
[4, 5, 6]
[4, 5, 6]

In [9]:
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(sum(num_list))

print(max(num_list))

print(min(num_list))

print(num_list.index(5))

print(num_list.count(2))

55
10
1
4
1

In [10]:
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for num in num_list:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [12]:
country_list = ['Korea', 'Japan', 'China', 'Vietnam', 'Taiwan']
for index, country in enumerate(country_list):
    print(f"index {index}: {country}")

index 0: Korea
index 1: Japan
index 2: China
index 3: Vietnam
index 4: Taiwan

In [13]:
num_list = [1, 2, 3, 4, 5, 6]
num_list.append(7)

print(num_list)

[1, 2, 3, 4, 5, 6, 7]

In [15]:
num_list = [1, 2, 3, 4, 5, 6]
num_list.extend([7, 8, 9, 10])
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
name_list = ['Branden', 'James', 'Tom']
name_list.insert(1, 'Lily')
print(name_list)

['Branden', 'Lily', 'James', 'Tom']

In [19]:
name_list = ['Branden', 'James', 'Tom']
del name_list[2]

print(name_list)

['Branden', 'James']

In [20]:
num_list = [2,10,3,1,7,5,6,4,8,9]
print(sorted(num_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
# custom sort
string_list = ['science', 'rocks', 'data']
def second_char(string_element):
  return string_element[1]

string_list.sort(key=second_char, reverse=False)
print(string_list)

['data', 'science', 'rocks']

In [26]:
num_list = [1, 2, 3, 2, 4, 5, 6]

num_list.remove(2)
print(num_list) 

num_list.remove(2)
print(num_list) 

num_list.remove(7)

[1, 3, 2, 4, 5, 6]
[1, 3, 4, 5, 6]

ValueError: ignored

In [28]:
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
num_list.pop(2)
print(num_list)

num_list.pop()
print(num_list)

[1, 2, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 4, 5, 6, 7, 8, 9]

In [29]:
num_list = [x for x in range(20) if x % 2 == 0  if x % 3 == 0]
print(num_list)

[0, 6, 12, 18]

In [30]:
country_list = ['Korea', 'Japan', 'China', 'Vietnam', 'Taiwan']

print(', '.join(country_list))

Korea, Japan, China, Vietnam, Taiwan