[Reference](https://medium.com/swlh/handle-json-data-using-json-and-pandas-in-python-9ff6bbd0d356)

In [1]:
import json
import pandas as pd

# use the built-in json module
students = { 
    "student0":{ 
        "firstName":"John",
        "lastName":"Smith",
        "age":35,
        "city":"New York"
    },
    "student1":{ 
        "firstName":"Mary",
        "lastName":"Brown",
        "age":27,
        "city":"Los Angeles"
    },
    "student2":{ 
        "firstName":"Lily",
        "lastName":"Green",
        "age":45,
        "city":"Austin"
    }
}
with open('students.json', 'w+') as file:
    json.dump(students, file)

In [2]:
# use the built-in json module
with open('students.json') as json_file:
    students0 = json.load(json_file)

In [3]:
# use the pandas module
with open('students.json') as json_file:
    students1 = pd.read_json(json_file, orient='index')

In [4]:
print(students0)

{'student0': {'firstName': 'John', 'lastName': 'Smith', 'age': 35, 'city': 'New York'}, 'student1': {'firstName': 'Mary', 'lastName': 'Brown', 'age': 27, 'city': 'Los Angeles'}, 'student2': {'firstName': 'Lily', 'lastName': 'Green', 'age': 45, 'city': 'Austin'}}

In [5]:
print(students1)

         firstName lastName  age         city
student0      John    Smith   35     New York
student1      Mary    Brown   27  Los Angeles
student2      Lily    Green   45       Austin

In [6]:
# use the built-in json module
teacher = {'name': 'Mike', 'age': 50}
with open('teacher.json', 'w+') as file:
    json.dump(teacher, file)

In [7]:
# use the pandas module
activities = [['Mon', 'Basketball'], ['Wed', 'Soccer'], ['Sun', 'Karate']]
df = pd.DataFrame(activities, columns=['Day', 'Activity'])
with open('activities.json', 'w+') as file:
    df.to_json(file, orient='index')