[Reference](https://www.linkedin.com/feed/)

In [2]:
import pandas as pd

data = {'col0': [10,-2,0,-1,4]}

df = pd.DataFrame(data)

lower = df.col0.quantile(.05)
upper = df.col0.quantile(.95)

df.clip(lower=lower, upper=upper)

   col0
0   8.8
1  -1.8
2   0.0
3  -1.0
4   4.0