[Reference](https://ibexorigin.medium.com/have-mercy-on-yourself-and-learn-these-9-everyday-python-f-string-codes-e8104677d7c7)

In [1]:
from datetime import date

print(f"Today is {date.today()}")
print(f"This is result from a lambda: {(lambda x: x ** 2)(3)}")

Today is 2023-03-19
This is result from a lambda: 9

In [2]:
cheese_puffs = 3.14159265359

print(f"The value of pi is approximately {cheese_puffs:.4f}")

The value of pi is approximately 3.1416

# 1. Left/right/center align â€” {:(<>^)n}

In [3]:
banana = 42

print(f"The answer is {banana:<10}!")

The answer is 42        !

In [4]:
hammock = 42

print(f"The answer is {hammock:>10}!")

The answer is         42!

In [5]:
bubble_wrap = 42

print(f"The answer is {bubble_wrap:^10}!")

The answer is     42    !

In [6]:
bubble_wrap = 42

print(f"The answer is {bubble_wrap:_^10}!")

The answer is ____42____!

# 2. Sign indicator: {:+}

In [7]:
disco = 10
fever = -12

print(f"Positive number: {disco:+}, Negative number: {fever:+}")

Positive number: +10, Negative number: -12

# 3. Thousands separator: {:,}

In [8]:
fuzzy_logic = 1000000

print(f"A million: {fuzzy_logic:,}")
print(f"A trillion: {fuzzy_logic ** 2:,}")

A million: 1,000,000
A trillion: 1,000,000,000,000

# 4. Percentage formatting: {:.n%}

In [9]:
jumbo_shrimp = 0.4245

print(f"42% of something: {jumbo_shrimp:.0%}")
print(f"Percentage of something: {jumbo_shrimp:.1%}")
print(f"Percentage of another thing: {jumbo_shrimp:.2%}")

42% of something: 42%
Percentage of something: 42.4%
Percentage of another thing: 42.45%

# 5. Scientific notation: {:.ne}

In [10]:
ninja_turtles = 123456789

print(f"Scientific notation: {ninja_turtles:.1e}")
print(f"Scientific notation: {ninja_turtles:.2e}")

Scientific notation: 1.2e+08
Scientific notation: 1.23e+08

# 6. Printing the value of a variable: {=}

In [11]:
sassy = 1
pants = 0

print(f"{sassy=}")
print(f"{pants = }")

sassy=1
pants = 0

# 7. Pad zeros for integers : {:nd}

In [12]:
kangaroo_pouch = 42

print(f"{kangaroo_pouch:01d}")
print(f"{kangaroo_pouch:02d}") # Reached the string length of two
print(f"{kangaroo_pouch:03d}") # Now the 0s will show
print(f"{kangaroo_pouch:04d}")

42
42
042
0042

# 8. Mixing

In [13]:
taco_tuesday = 1240000.1235

print(f"{taco_tuesday = :+,.3f}")

taco_tuesday = +1,240,000.123

In [14]:
print(f"{taco_tuesday = : >+30,.6f}!")

taco_tuesday =              +1,240,000.123500!

# 9. Pretty printing dates

In [15]:
import datetime

now = datetime.datetime.now()

print(f"Today is {now:%A, %B %d, %Y}. The time is {now:%I:%M %p}.")

Today is Sunday, March 19, 2023. The time is 02:44 AM.