[Reference](https://medium.com/techtofreedom/higher-order-functions-in-python-e78daaeb37ae)

# The Map Function

In [1]:
def f(x):
    return x * x
r = map(f, [1, 2, 3, 4, 5, 6, 7, 8, 9])
print(list(r))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
names = ['yAnG', 'MASk', 'thoMas', 'LISA']
names = map(str.capitalize, names)
print(list(names))

['Yang', 'Mask', 'Thomas', 'Lisa']

# The Reduce Function

In [3]:
from functools import reduce

city = ['L', 'o', 'n', 'd', 'o', 'n', 2, 0, 2, 0]
city_to_str = reduce(lambda x, y: str(x) + str(y), city)
print(city_to_str)

London2020

# The Filter Function

In [4]:
names = ['yAnG', 'MASk', 'thoMas', 'LISA']
names = map(str.capitalize, names)
names = filter(lambda x: len(x) <= 4, names)
print(list(names))

['Yang', 'Mask', 'Lisa']

# The Sort Function

In [5]:
names = ['Yang', 'Robert', 'Tom', 'Gates']
names = sorted(names, key=len)
print(names)

['Tom', 'Yang', 'Gates', 'Robert']

 # Return a Function

In [6]:
def lazy_sum(numbers: list):
    def sum():
        s = 0
        for n in numbers:
            s += n
        return s

    return sum

func = lazy_sum([1, 2, 3, 4, 5])
print(func)

<function lazy_sum.<locals>.sum at 0x7f0799409ea0>

In [7]:
print(func()) # 15

15