[Reference](https://python.plainenglish.io/taking-multiple-inputs-from-user-in-python-3-6cbe02d03a95)

In [1]:
a,b = input("Enter 2 variables").split()
print("a is:",a)
print("b is:",b)

Enter 2 variableshi branden
a is: hi
b is: branden

In [2]:
a,b = input("Enter 2 variables").split()
print("a is:",a)
print("b is:",b)

Enter 2 variables12 34
a is: 12
b is: 34

In [3]:
x,y,z = input("Enter variables: ").split(",",3)
print(x,y,z)

Enter variables: how,are,you
how are you

In [4]:
x,y,z = input("Enter variables: ").split(",")
print(x,y,z)

Enter variables: how,are,you
how are you

In [5]:
x= input("Enter variables: ").split(",")
print(x)

Enter variables: how,are,you,branden
['how', 'are', 'you', 'branden']

In [6]:
x = list(map(int, input("Enter multiple value: ").split()))
print("List of students: ", x)

Enter multiple value: 100 90 80 70 50
List of students:  [100, 90, 80, 70, 50]

In [7]:
x = list(input("Enter multiple value: ").split())
print("List of students: ", x)

Enter multiple value: Hi I am 21 and I am Data Scientist
List of students:  ['Hi', 'I', 'am', '21', 'and', 'I', 'am', 'Data', 'Scientist']

In [8]:
x,y = [int(x) for x in input("Enter 2 values: ").split()]
print("x is ",x)
print("y is",y)

Enter 2 values: 100 90
x is  100
y is 90

In [9]:
x,y = [int(x) for x in input().split()]
print("x is ",x)
print("y is",y)

100 80
x is  100
y is 80

In [10]:
x = [int(x) for x in input().split()]
print("Number of list is: ", x)

100 80 90 70 100 90 99
Number of list is:  [100, 80, 90, 70, 100, 90, 99]

In [12]:
n = int(input())

# defining empy list:

L= []

# Taking multiple inputs based on n:

for i in range(n):
    t = input().split()

2
10 20
30 30

In [13]:
x = [int(x) for x in input().split(",")]
print("Number of list is: ", x)

1,2,3,4,5,6,7,8,9
Number of list is:  [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
string = " the King has the largest army in the entire world the"
# prints the string after removing "the" from beginning and end
print(string.strip(" the"))
# prints the string after removing ".the" from beginning and end
print(string.strip(" .the"))

King has the largest army in the entire world
King has the largest army in the entire world