[Reference](https://python.plainenglish.io/how-to-flatten-lists-in-python-502e9c7b1e0)

# Flattening 2D Lists

In [1]:
def flatten_2d(input_list: list) -> list:
   flattened = []
   for sublist in input_list:
      for element in sublist:
        flattened.append(element)
   return flattened

In [2]:
list_2d = [[1, 2], [3, 4], [5, 6]]
print(flatten_2d(list_2d))

[1, 2, 3, 4, 5, 6]

# Flattening 3D Lists

In [3]:
def flatten_3d(input_list: list) -> list:
  flattened = []
  for sublist in input_list:
    for sublist_2 in sublist:
      for element in sublist_2:
        flattened.append(element)
  return flattened

In [4]:
list_3d = [[[1, 2, 3, 4, 5, 6, 7, 8]]]
print(flatten_3d(list_3d))

[1, 2, 3, 4, 5, 6, 7, 8]

# Flattening Any List with NumPy

In [5]:
import numpy as np

def flatten_any(input_list: list) -> list:
  np_list = np.array(input_list)
  flattened = np_list.flatten()
  return flattened.tolist()

In [6]:
list_4d = [[[[1, 2, 3, 4, 5, 6, 7, 8]]]]
print(flatten_any(list_4d))

[1, 2, 3, 4, 5, 6, 7, 8]

# Flattening list Using itertools.chain

In [7]:
import itertools

original_list = [[1, 2, 3], [4, 5], [6, 7, 8]]
flattened_list = list(itertools.chain(*original_list))
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8]