[Reference](https://levelup.gitconnected.com/how-to-work-with-sql-databases-efficiently-in-pandas-9d0cdb07f457)

```
# Create a volume to persist the data.
$ docker volume create mysql8-data

# Create the container for MySQL.
$ docker run --name mysql8 -d -e MYSQL_ROOT_PASSWORD=root -p 13306:3306 -v mysql8-data:/var/lib/mysql mysql:8

# Connect to the local MySQL server in Docker.
$ docker exec -it mysql8 mysql -u root -proot

mysql> SELECT VERSION();
```

In [1]:
# !conda create --name pandas-sql python=3.11
# !conda activate pandas-sql

# !pip install -U "pandas>=1.5.0,<1.6.0"
# !pip install -U "SQLAlchemy>=2.0.0,<2.1.0"
# !pip install -U "pymysql>=1.0.0,<1.1.0"
# !pip install -U "cryptography>=40.0.0,<40.1.0"

# Create the database and table
```
CREATE DATABASE `data`;

CREATE TABLE `data`.`student_scores` (
  `student_id` smallint NOT NULL,
  `subject` varchar(50) NOT NULL,
  `score` tinyint DEFAULT '0',
  PRIMARY KEY (`student_id`,`subject`),
  KEY `ix_subject` (`subject`),
  KEY `ix_score` (`score`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci
;
```

# Write to SQL with pandas

In [2]:
import pandas as pd

df_to_sql = pd.DataFrame(
    columns=["student_id", "subject", "score"],
    data=[
        [1, "Literature", 90],
        [1, "Math", 60],
        [2, "Literature", 80],
        [2, "Math", 80],
        [3, "Literature", 70],
        [3, "Math", 95],
    ],
)

In [4]:
from sqlalchemy import create_engine

db_url = "mysql+pymysql://root:root@localhost:13306/data"

engine = create_engine(
    db_url, pool_size=5, pool_recycle=3600, isolation_level="AUTOCOMMIT"
)
con = engine.connect()

# Pitfalls when writing to SQL using pandas

In [8]:
df_to_sql.to_sql("student_scores", con=con, if_exists="replace", index=False)

```
SHOW CREATE TABLE `data`.`student_scores`;

CREATE TABLE `student_scores` (
  `student_id` bigint DEFAULT NULL,
  `subject` text,
  `score` bigint DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci
```

# Read data from SQL with pandas

In [9]:
df_from_sql = pd.read_sql_table("student_scores", con, schema="data")

In [10]:
df_from_sql = pd.read_sql_table(
    "student_scores", con, schema="data", columns=["student_id", "subject", "score"]
)

In [11]:
df_from_sql = pd.read_sql("SELECT * FROM data.student_scores", con=con)
df_from_sql = pd.read_sql_query("SELECT * FROM data.student_scores", con=con)

In [12]:
from sqlalchemy import text

df_from_sql = pd.read_sql(text("SELECT * FROM data.student_scores"), con=con)
df_from_sql = pd.read_sql_query(text("SELECT * FROM data.student_scores"), con=con)