[Reference](https://medium.com/@anala007/how-to-use-the-pandas-groupby-and-transform-functions-c7bbaf34e3c1)

In [1]:
import pandas as pd
df = pd.DataFrame({
    "population_millions": [17, 89, 20, 127, 37],
    "continent": ["Europe", "Europe" ,"Asia", "Asia", "North America"],
    "country": ["Holland","Germary", "Srilanka", "Japan", "Canada"],
})

# The groupby() Function

In [2]:
df.groupby('continent').apply(print)

   population_millions continent   country
2                   20      Asia  Srilanka
3                  127      Asia     Japan
   population_millions continent  country
0                   17    Europe  Holland
1                   89    Europe  Germary
   population_millions      continent country
4                   37  North America  Canada

Empty DataFrame
Columns: []
Index: []

# The transform() Function

In [3]:
# df.groupby('continent')['population_millions'].transform(mean)
# OR using lambda expression
df.groupby('continent')['population_millions'].transform(lambda x: x.mean())

0    53.0
1    53.0
2    73.5
3    73.5
4    37.0
Name: population_millions, dtype: float64