[Reference](https://medium.com/@tubelwj/how-to-remove-non-numeric-data-from-a-pandas-dataframe-c506ab9dbbbd)

# Using the `pd.to_numeric` function

In [1]:
import pandas as pd

# Create an example DataFrame
df = pd.DataFrame({
    "name": ["Adam", "Bill", "Charlie", "David", "Eva"],
    "salary": ["150.00", "5000", "-", "1000", "10%"]
})

# Convert the 'salary' column to numeric type; set non-numeric values to NaN
df["salary"] = pd.to_numeric(df["salary"], errors="coerce")

# Drop rows containing NaN in the 'salary' column
df.dropna(subset=["salary"], inplace=True)

# Print the result
print(df)

    name  salary
0   Adam   150.0
1   Bill  5000.0
3  David  1000.0

# Using the `str.isdecimal` method

In [2]:
import pandas as pd

# Create an example DataFrame
df = pd.DataFrame({
    "name": ["Adam", "Bill", "Charlie", "David", "Eva"],
    "score": ["190", "A", "90", "100%", "B"]
})

# Check if the 'score' column is of numeric type, returning a boolean series
is_numeric = df["score"].str.isdecimal()

# Use boolean indexing to select rows that meet the condition
df = df[is_numeric]

# Print the result
print(df)

      name score
0     Adam   190
2  Charlie    90

# Using Regular Expressions

In [3]:
import pandas as pd

# Create an example DataFrame
df = pd.DataFrame({
    "name": ["Apple", "Banana", "Carrot", "Durian", "Eggplant"],
    "price": ["$2.00", "Free", "1.50", "N/A", "$15.00"]
})

# Define a regular expression to match the format of numeric types, e.g., 1.00, -0.50, 1,234.56, etc.
regex = r"^[-+]?\d{1,3}(,\d{3})*(\.\d+)?$"

# Use the str.match method to match the 'price' column based on the regular expression; returns a boolean series
is_numeric = df["price"].str.match(regex)

# Use boolean indexing to select rows that meet the condition
df = df[is_numeric]

# Print the result
print(df)

     name price
2  Carrot  1.50