[Reference](https://medium.com/@akaivdo/how-to-iterate-over-rows-and-columns-in-a-dataframe-in-pandas-7e0f9edb5600)

# Preparing data

In [1]:
import pandas as pd

df = pd.DataFrame({
    "name": ["Kevin", "Jack", "Mary", "Bob", "Robert", "Amy"],
    "score": [80, 90, 95, 93, 88, 81],
    "class": ["A", "B", "A", "A", "B", "B"]
}, index=["K", "J", "M", "B", "R", "A"])

df

     name  score class
K   Kevin     80     A
J    Jack     90     B
M    Mary     95     A
B     Bob     93     A
R  Robert     88     B
A     Amy     81     B

# Use iterrows() of DataFrame to iterate over rows

In [2]:
for index, row in df.iterrows():
    print(f"{index}: {row['name']}")

K: Kevin
J: Jack
M: Mary
B: Bob
R: Robert
A: Amy

# Use iteritems() of Series to iterate over all values of Series

In [3]:
for k, v in df.loc["K"].iteritems():
    print(f"{k}: {v}")

name: Kevin
score: 80
class: A

# Use for â€¦ in Syntax to iterate over all columns

In [4]:
for col_name in df:
    print(col_name)

# OR

for col_name in df.columns:
    print(col_name)

name
score
class
name
score
class

In [5]:
for col_name in df:
    print(df[col_name])

K     Kevin
J      Jack
M      Mary
B       Bob
R    Robert
A       Amy
Name: name, dtype: object
K    80
J    90
M    95
B    93
R    88
A    81
Name: score, dtype: int64
K    A
J    B
M    A
B    A
R    B
A    B
Name: class, dtype: object

# Iterate all cells/values in a DataFrame

In [6]:
for index, row in df.iterrows():
    print(f"{index}----------")
    for col_name in df.columns:
        print(f"{col_name}: {row[col_name]}")

K----------
name: Kevin
score: 80
class: A
J----------
name: Jack
score: 90
class: B
M----------
name: Mary
score: 95
class: A
B----------
name: Bob
score: 93
class: A
R----------
name: Robert
score: 88
class: B
A----------
name: Amy
score: 81
class: B