[Reference](https://betterprogramming.pub/how-to-setup-data-classes-in-python-ffd85549523c)

In [1]:
class Employee:
    def __init__(self, name: str, salary: int, years_with_company: int = 0):
        self.name = name
        self.salary = salary
        self.years_with_company = years_with_company

    def __eq__(self, other: "Employee"):
        return (self.name == other.name and self.salary == other.salary and self.years_with_company == other.years_with_company)

first_employee = Employee("First", 80000)
second_employee = Employee("First", 80000)

print(first_employee)
print(first_employee == second_employee)

<__main__.Employee object at 0x7f82643410d0>
True

In [2]:
from dataclasses import dataclass

@dataclass
class Employee:
    name: str
    salary: int
    years_with_company: int = 0

first_employee = Employee("First", 80000)
second_employee = Employee("First", 80000)

print(first_employee)
print(first_employee == second_employee)

Employee(name='First', salary=80000, years_with_company=0)
True

In [4]:
from dataclasses import dataclass

@dataclass(frozen=True)
class Employee:
    name: str
    salary: int
    years_with_company: int = 0

employee = Employee("First", 80000)

# employee.name = "Test"

In [6]:
from dataclasses import dataclass

@dataclass()
class Employee:
    _name: str
    _salary: int
    _years_with_company: int = 0

    @property
    def name(self):
        return self._name

    @property
    def salary(self):
        return self._salary

    @salary.setter
    def salary(self, new_salary: int):
        if new_salary > self.salary:
            self._salary = new_salary
        else:
            print("New salary must be greater than previous!")


employee = Employee("First", 80000)

employee.salary = 75000
employee.salary = 85000
print(employee)
# employee.name = "this will fail"

New salary must be greater than previous!
Employee(_name='First', _salary=85000, _years_with_company=0)