[Reference](https://medium.com/python-in-plain-english/creating-immutable-classes-using-namedtuple-in-python-b7e6f5b92563)

In [3]:
tuple_ = (1,2,3,4,5)

print(tuple_[0])

tuple_[0] = 5

1

TypeError: ignored

In [5]:
from collections import namedtuple


Person = namedtuple(typename="Person", field_names=["name", "job"])

person = Person("Branden", "Data Scientist")

In [6]:
from collections import namedtuple

Person = namedtuple(typename="Person", field_names=["name", "job"])
person = Person("Branden", "Data Scientist")

print(person[0])
print(person[1])
print(person.name)
print(person.job)

Branden
Data Scientist
Branden
Data Scientist

In [7]:
name, job = person
print(name, job)
print(*person)

Branden Data Scientist
Branden Data Scientist

In [9]:
Person = namedtuple(typename="Person", field_names=["name", "job"])

class Programmer(Person):
    def programming(self):
        if self.job == "soft developer":
            return "Use JAVA"


it = Programmer("James", "soft developer")
print(it.programming())

Use JAVA

In [10]:
Programmer = namedtuple(typename="Programmer", field_names=Person._fields + ("use_java",))

it = Programmer("James", "soft developer", True)

print(it.use_java)
print(it.name)

True
James

In [15]:
from collections import namedtuple
import json

Person = namedtuple("Person", field_names=["name", "job", "speciality", "location"])

person = Person("Branden", "data scientist", "computer vision", "USA")

print(person._asdict())
print(json.dumps(person._asdict()))

OrderedDict([('name', 'Branden'), ('job', 'data scientist'), ('speciality', 'computer vision'), ('location', 'USA')])
{"name": "Branden", "job": "data scientist", "speciality": "computer vision", "location": "USA"}

In [13]:
person = Person._make(["James", "data engineer", "kubernetes", "Canada"])
print(person)

Person(name='James', job='data engineer', speciality='kubernetes', location='Canada')

In [16]:
from collections import namedtuple

Person = namedtuple("Person", field_names=["name", "job", "speciality", "location"])

person = Person("Branden", "data scientist", "computer vision", "USA")
updated_person = person._replace(speciality="natural language processing")
print(updated_person)

Person(name='Branden', job='data scientist', speciality='natural language processing', location='USA')