[Reference](https://levelup.gitconnected.com/introducing-pandas-e0581a6683c9)

# Installing Pandas

In [1]:
# jupyter cell
!pip install pandas

Terminal
pip install pandas

# Importing

In [2]:
import pandas as pd

# Reading Data Files

## CSV

In [3]:
df = pd.read_csv('file_path.csv', sep='separator character')
df = pd.read_csv('sales_202005.csv', sep=';')

## Excel

In [4]:
df = pd.read_excel('file_path.xlsx', sheet_name='')
df = pd.read_excel('sales_202005.xlsx', sheet_name='Jan')

# Show Data

## Head

In [5]:
df.head()

## T (Transposition)

In [6]:
df.T

## Dimensions

In [7]:
df.shape

## Information

In [8]:
df.info()

## Descriptive Statistics

In [9]:
df.describe()

# Working With Columns
## Add new columns

In [10]:
df['column_name'] = value
df['month_nm'] = df['date'].dt.month_name()

## Delete column

In [11]:
del df['column_name']

## Filtering Data Frame

In [12]:
#OneCondition
df[ df['column_name' == 'XPTO' ]
   
#MultipleCondition
df[ (condition 1) & (condition 2) ...  ]

#Exemple
df[ (df['date'] >= '2020-05-01') & (df['date'] <= '2020-05-31') ]

# Pivot or Group By
## Pivot

In [13]:
pd.pivot_table(df      #DataFrame Name
, index   = "day"      #Lines
, columns = "month_nm" #Columns
, values  = "price"    #Values
, aggfunc = "mean"     #Aggregation funtction
)

## Group By

In [14]:
df.groupby(['month_nm', 'day']).agg(
{  'price':   pd.Series.mean
, 'order_id': pd.Series.count
}
).reset_index()

# Visualization

## BoxPlot

In [15]:
ax = df.boxplot(column=['price'])

## Bar

In [16]:
ax = df.plot.bar(x='month', y='price', figsize=(16,5), rot=0)

## Line

In [17]:
ax = df.plot.line(x='date', y='price', figsize=(16,5), marker='o', legend=['price'])ax.set_xlabel('Date')
ax.set_ylabel('Price')
ax.set_title('Day Over Day x Total Sales Price')
ax

## Pie

In [18]:
ax = df.plot.pie(x='month_nm', y='price', figsize=(8,8))

## Histogram

In [19]:
ax = df['price'].hist(figsize=(10,5))

## Lmplot â€” Seborn

In [20]:
#New DF
dfLR = pd.DataFrame(
 df.groupby(['day', 'month_nm', 'month'])
  .agg(
   {'price': pd.Series.mean}
   ).reset_index()
)#Chart
ax = sns.lmplot(
data  = dfLR       # DataFrame Name
, x   = "day"      # Line
, y   = "price"    # Column
, hue = "month_nm" # Points break (colors)
, col = "month"    # Charts break
)