[Reference](https://decodebuzzing.medium.com/intro-into-python-basic-operations-12dd172a321c)

In [1]:
var = 'I am a variable'

In [2]:
name = 'Single Quoted'
name = "Double Quoted"
name = """ 
Triple quoted
Next line tooo
"""

In [3]:
var = 1
var2 = 20000000

In [4]:
10 > 9 # returns true
10 < 9 # returns False

False

In [5]:
var = 1.80

In [6]:
print("Hi All !!!!!!!!..Hello world")

Hi All !!!!!!!!..Hello world

In [7]:
if 5 > 10:  # Not true
  print("5 is greater than 10")  # Not true
elif 5 < 10:
  print("10 is greater than 5") # True
else:
  print("IDK") # if both the block would have been wrong then this statement would have run

10 is greater than 5

In [8]:
string = 'I am a string'
print(string[0]) # prints 'I'
print(string[1]) # prints space(empty beacuse there was a space)
print(string[2]) # prints 'a'
print(string[3]) # prints 'm'

I

a
m

In [9]:
string = 'I am a string'
print(string[0:1]) # prints 'I'
print(string[0:4]) # prints 'I am'
print(string[2:13]) # prints 'am a string'

I
I am
am a string

In [10]:
length = "Hello" 
print(len(length)) # Prints 5

5

In [11]:
string = 'I am a string'
print(string[0:len(string)]) # prints 'I am a string'

I am a string

In [12]:
string = 'Hello all!!!' 
print(string[0:len(string):2]) # print 'Hloal!'

Hloal!

In [13]:
string = 'Hello all!!!' 
print(string[len(string)-1::-1]) # print '!!!lla olleH'

!!!lla olleH

# String Functions/Methods in Python
- capitalize: Makes the first character to upper case
- isupper: Returns True if all characters in the string are upper case
- endswith: Returns true or false if the string ends with the specified value
- startswith: Returns true or false if the string starts with the specified value
- title: Converts the first character of each word to upper case
- isdigit: Returns True/False if all characters in the string are digits
- casefold:Converts string into lower case
- strip:Remove spaces at the beginning and at the end of the string
- isalpha: Returns True/False if all the characters are alphabet letters and doesnâ€™t include !#(space)? etc