[Reference](https://medium.com/@wilbossoftwarejourney/mastering-data-manipulation-in-python-with-pandas-joining-and-concatenating-data-f45df6b0c1d3)

# Joining Data

In [1]:
# Import Pandas library
import pandas as pd

# Create two data frames
customers = pd.DataFrame({'customer_id': [1, 2, 3, 4],
                          'name': ['Alice', 'Bob', 'Charlie', 'Dave']})
orders = pd.DataFrame({'order_id': [101, 102, 103, 104],
                       'customer_id': [2, 3, 1, 4],
                       'product': ['Widget', 'Gadget', 'Widget', 'Gizmo']})

# Merge the two data frames
merged_data = pd.merge(customers, orders, on='customer_id')

# Print the merged data frame
print(merged_data)

   customer_id     name  order_id product
0            1    Alice       103  Widget
1            2      Bob       101  Widget
2            3  Charlie       102  Gadget
3            4     Dave       104   Gizmo

# Concatenating Data

In [2]:
# Import Pandas library
import pandas as pd

# Create two data frames
customers = pd.DataFrame({'customer_id': [1, 2, 3, 4],
                          'name': ['Alice', 'Bob', 'Charlie', 'Dave']})
orders = pd.DataFrame({'order_id': [101, 102, 103, 104],
                       'customer_id': [2, 3, 1, 4],
                       'product': ['Widget', 'Gadget', 'Widget', 'Gizmo']})

# Concatenate the two data frames
concatenated_data = pd.concat([customers, orders], axis=1)

# Print the concatenated data frame
print(concatenated_data)

   customer_id     name  order_id  customer_id product
0            1    Alice       101            2  Widget
1            2      Bob       102            3  Gadget
2            3  Charlie       103            1  Widget
3            4     Dave       104            4   Gizmo