[Reference](https://medium.com/@ceren.bozada/lambda-function-in-python-22ba8be4135c)

In [1]:
double=lambda x:x *2
print(double(10))

20

In [2]:
x= lambda a,b:a*b
print(x(10,6))

60

In [5]:
max=lambda x,y:x if x>y else y
print(max(3,2))

3

In [4]:
def max(x,y):
    if x>y:
        return x
    else:
         return y
print(max(3,2))

3

# filter()

In [6]:
my_list=[1,2,3,4,5,6,7,8,9,0]
new_list=list(filter(lambda x:x %2 == 0,my_list))

print(new_list)

[2, 4, 6, 8, 0]

# map()

In [10]:
car_list=["audi","chevrolet","renault","ford","fiat","volkswagen"]
list(filter(lambda x:x.upper(), car_list))

print(car_list)

['audi', 'chevrolet', 'renault', 'ford', 'fiat', 'volkswagen']