[Reference](https://towardsdatascience.com/lambda-functions-with-practical-examples-in-python-45934f3653a8)

In [1]:
#Normal python function
def a_name(x):
    return x+x
    
#Lambda function
lambda x: x+x

# 1. Scalar values

In [2]:
(lambda x: x*2)(12)

24

# 2. Lists

In [4]:
list_1 = [1,2,3,4,5,6,7,8,9]
filter(lambda x: x%2==0, list_1)

In [5]:
list(filter(lambda x: x%2==0, list_1))

[2, 4, 6, 8]

In [6]:
list_1 = [1,2,3,4,5,6,7,8,9]
cubed = map(lambda x: pow(x,3), list_1)
list(cubed)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

# 3. Series object

In [8]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Luke','Gina','Sam','Emma'],
    'Status': ['Father', 'Mother', 'Son', 'Daughter'],
    'Birthyear': [1976, 1984, 2013, 2016],
})

In [9]:
df

   Name    Status  Birthyear
0  Luke    Father       1976
1  Gina    Mother       1984
2   Sam       Son       2013
3  Emma  Daughter       2016

In [10]:
df['age'] = df['Birthyear'].apply(lambda x: 2021-x)

In [11]:
list(filter(lambda x: x>18, df['age']))

[45, 37]

In [12]:
#Double the age of everyone
df['double_age'] = df['age'].map(lambda x: x*2)

In [13]:
df

   Name    Status  Birthyear  age  double_age
0  Luke    Father       1976   45          90
1  Gina    Mother       1984   37          74
2   Sam       Son       2013    8          16
3  Emma  Daughter       2016    5          10

In [14]:
#Conditional Lambda statement
df['Gender'] = df['Status'].map(lambda x: 'Male' if x=='father' or x=='son' else 'Female')

# 4. Lambda on Dataframe object

In [16]:
# df2.apply(lambda x:round(x,1))

In [18]:
#convert to lower-case
df[['Name','Status']] = df.apply(lambda x: x[['Name','Status']].str.lower(), axis=1)

In [19]:
#Bad
triple = lambda x: x*3

#Good
def triple(x):
     return x*3

In [21]:
list_3 = [-3, 2, 5]

In [23]:
#Bad
map(lambda x:abs(x), list_3)

#Good
map(abs, list_3)

#Good
# map(lambda x: pow(x, 2), float_nums)

In [24]:
#Conditional Lambda statement
df['Gender'] = df['Status'].map(lambda x: 'Male' if x=='father' or x=='son' else 'Female')

In [25]:
df['Gender'] = ''
df.loc[(df['Status'] == 'father') | (df['Status'] == 'son'), 'Gender'] = 'Male'
df.loc[(df['Status'] == 'mother') | (df['Status'] == 'daughter'), 'Gender'] = 'Female'