[Reference](https://medium.com/byte-tales/learning-data-analysis-with-python-pandas-series-missing-values-and-real-world-data-41caf0795f68)

In [2]:
import pandas as pd

In [3]:
s = pd.Series([0.0, 1, 1, 2, 3, 5, 8], index=[1, 2, 3, 4, 5, 6, 7])
s

1    0.0
2    1.0
3    1.0
4    2.0
5    3.0
6    5.0
7    8.0
dtype: float64

In [4]:
s.loc[3]

1.0

In [5]:
s.iloc[3]

2.0

In [6]:
s.reset_index()

   index    0
0      1  0.0
1      2  1.0
2      3  1.0
3      4  2.0
4      5  3.0
5      6  5.0
6      7  8.0

In [8]:
mass = pd.Series([0.33, 4.87, 5.97, 0.642, 1898, 568, 86.8, 102, 0.0146],index=['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto'])
print(mass)

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
dtype: float64

In [9]:
diameter = pd.Series([4879, 12104, 12756, 3475, 6792, 142984, 120536, 51118, 49528, 2370],index=['Mercury', 'Venus', 'Earth', 'Moon', 'Mars', 'Jupiter', 'Saturn',  'Uranus', 'Neptune', 'Pluto'])    
print(diameter)

Mercury      4879
Venus       12104
Earth       12756
Moon         3475
Mars         6792
Jupiter    142984
Saturn     120536
Uranus      51118
Neptune     49528
Pluto        2370
dtype: int64

In [11]:
import numpy as np
density = mass / (np.pi * np.power(diameter, 3) / 6)
print(density)

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.913302e-12
Mercury    5.426538e-12
Moon                NaN
Neptune    1.603427e-12
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
dtype: float64

In [12]:
pd.isna(density)

Earth      False
Jupiter    False
Mars       False
Mercury    False
Moon        True
Neptune    False
Pluto      False
Saturn     False
Uranus     False
Venus      False
dtype: bool

In [13]:
density[pd.isna(density)] = np.mean(density)
print(density)

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.913302e-12
Mercury    5.426538e-12
Moon       2.986303e-12
Neptune    1.603427e-12
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
dtype: float64