[Reference](https://medium.com/swlh/level-up-for-loops-in-python-with-4-simple-functions-da01173a834c)

In [1]:
employees = ['John', 'Danny', 'Jennifer']
for id_number, name in enumerate(employees, start=30001):
    print(f"{name}'s employee ID #: {id_number}")

John's employee ID #: 30001
Danny's employee ID #: 30002
Jennifer's employee ID #: 30003

In [3]:
meals = ['pizza', 'hamberger', 'pasta', 'ramen', 'salad']
for meal in reversed(meals):
    print(meal)

salad
ramen
pasta
hamberger
pizza

In [4]:
for meal in meals.reverse():
    print(meal)

TypeError: ignored

In [5]:
class Employee:
    def __init__(self, name, score):
        self.name = name
        self.score = score

employee0 = Employee('John Smith', 95)
employee1 = Employee('Mike Brown', 99)
employee2 = Employee('Jennifer Thompson', 97)
employees = [employee0, employee1, employee2]

In [6]:
for employee in sorted(employees, key=lambda x: x.score, reverse=True):
    print(f'{employee.name} Score: {employee.score}')

Mike Brown Score: 99
Jennifer Thompson Score: 97
John Smith Score: 95

In [7]:
numbers0 = [4, 5, 6]
numbers1 = [11, 12, 13]
for j, k in zip(numbers0, numbers1):
    print(f'{j} * {k} = {j*k}')

4 * 11 = 44
5 * 12 = 60
6 * 13 = 78

In [8]:
letters0 = 'abcde'
letters1 = 'xyz'
list(zip(letters0, letters1))

[('a', 'x'), ('b', 'y'), ('c', 'z')]