[Reference](https://medium.com/better-programming/how-to-use-for-loops-better-in-python-1dfbc3d9e91f)

In [2]:
students = ["Kang", "Park", "Lee", "Choi", "Kim"]
for student in students:
    print(student)

Kang
Park
Lee
Choi
Kim

# 1. items() and values()

In [3]:
scores = {"Kang": 100, "Park": 95, "Lee": 98, "Choi": 95, "Kim": 80}

In [4]:
for score in scores:
    print(score)

Kang
Park
Lee
Choi
Kim

In [5]:
for score in scores.items():
    print(score)

('Kang', 100)
('Park', 95)
('Lee', 98)
('Choi', 95)
('Kim', 80)

In [7]:
for name, score in scores.items():
    print("Name: " + name + ", Score: " + str(score))

Name: Kang, Score: 100
Name: Park, Score: 95
Name: Lee, Score: 98
Name: Choi, Score: 95
Name: Kim, Score: 80

In [8]:
for score in scores.values():
    print(score)

100
95
98
95
80

# 2. enumerate()

In [9]:
grades = ["Freshman", "Sophomore", "Junior", "Senior"]
for grade in enumerate(grades):
    print(grade)

(0, 'Freshman')
(1, 'Sophomore')
(2, 'Junior')
(3, 'Senior')

In [10]:
for year, name in enumerate(grades, start=1):
    print("Year " + str(year) + ": " + name)

Year 1: Freshman
Year 2: Sophomore
Year 3: Junior
Year 4: Senior

# 3. reversed()

In [14]:
students = ["Kang", "Park", "Lee", "Choi", "Kim"]
for student in reversed(students):
    print(student)

Kim
Choi
Lee
Park
Kang

# 4. sorted()

In [15]:
students = ["Kang", "Park", "Lee", "Choi", "Kim"]
for student in sorted(students):
    print(student)

Choi
Kang
Kim
Lee
Park

In [16]:
students = ["Kang", "Park", "Lee", "Choi", "Kim"]
for student in sorted(students, reverse=True):
    print(student)

Park
Lee
Kim
Kang
Choi

In [19]:
students = [{"name": "Kang", "id": 1}, {"name": "Kim", "id": 4}, {"name": "Sandra", "id": 2}, {"name": "Park", "id": 3}]
for student in sorted(students, key = lambda x: x["id"], reverse=True):
    print(student)

{'name': 'Kim', 'id': 4}
{'name': 'Park', 'id': 3}
{'name': 'Sandra', 'id': 2}
{'name': 'Kang', 'id': 1}

# 5. filter()

In [18]:
students = [{"name": "Kang", "id": 1}, {"name": "Kim", "id": 4}, {"name": "Sandra", "id": 2}, {"name": "Park", "id": 3}]
for student in filter(lambda x: x["id"] % 2 == 0, students):
    print(student)

{'name': 'Kim', 'id': 4}
{'name': 'Sandra', 'id': 2}

# 6. zip()

In [21]:
names = ["Kang", "Park", "Lee", "Choi", "Kim"]
ids = [1, 3, 2, 4, 5]

for student in zip(names, ids):
    print(student)

('Kang', 1)
('Park', 3)
('Lee', 2)
('Choi', 4)
('Kim', 5)