[Reference](https://medium.com/codex/python-make-your-code-fly-with-comprehensions-147873eea0ef)

In [3]:
numbers = [1, -2, 3, -4, 5]

new_nums = []
for num in numbers:
    if num > 0:
        new_nums.append(num)
        
print(new_nums) # prints [1, 3, 5]

[1, 3, 5]

In [4]:
new_nums = [num for num in numbers if num > 0]
print(new_nums) # prints [1, 3, 5]

[1, 3, 5]

In [5]:
squares = [num * num for num in numbers] # [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [6]:
nums = [1, 2, 3, 4, 5, 6, 7, 8]
dict = {}

for num in nums:
    if num % 2 == 0:
        dict[num] = str(num)
    
print(dict) # prints {2: '2', 4: '4', 6: '6', 8: '8'}

{2: '2', 4: '4', 6: '6', 8: '8'}

In [7]:
dict = {num: str(num) for num in nums if num % 2 == 0}

print(dict) # {2: '2', 4: '4', 6: '6', 8: '8'}

{2: '2', 4: '4', 6: '6', 8: '8'}

In [8]:
dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [9]:
triple_dict = {k:v*3 for (k,v) in dict.items()}

print(triple_dict) # {'a': 3, 'b': 6, 'c': 9, 'd': 12, 'e': 15}

{'a': 3, 'b': 6, 'c': 9, 'd': 12, 'e': 15}

In [10]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8] 
  
filtered_nums = set() 
  
for num in numbers: 
    if num % 2 == 0: 
        filtered_nums.add(num) 
  
print(filtered_nums) # {8, 2, 4, 6} (order doesnt matter with sets)

{8, 2, 4, 6}

In [11]:
filtered_nums = {num for num in numbers if num % 2 == 0}

print(filtered_nums) # {8, 2, 4, 6}

{8, 2, 4, 6}

In [12]:
def square_even(numbers):
    for number in numbers:
        if number % 2 == 0:
            yield(number * number)
numbers = [1, 2, 3, 4, 5, 6]
squared_numbers = square_even(numbers)

# Print a generator:
for number in squared_numbers:
    print(number)# prints 4 16 36

4
16
36

In [13]:
squared_numbers = (num * num for num in numbers if num % 2 == 0)

# Print a generator:
for number in squared_numbers: 
    print(number)# prints 4 16 36

4
16
36