[Reference](https://towardsdatascience.com/heres-how-to-make-pandas-iteration-150x-faster-20ccb5477128)

In [1]:
import pandas as pd

df = pd.DataFrame(
    data = {'Values': range(1, 100000)}
)

In [2]:
df.head()

   Values
0       1
1       2
2       3
3       4
4       5

In [3]:
df.shape

(99999, 1)

In [4]:
%%time

summed = 0

for _, row in df.iterrows():
  summed += row['Values']

summed

CPU times: user 8.19 s, sys: 3.68 ms, total: 8.19 s
Wall time: 8.2 s

In [6]:
%%time

summed = 0

for row in df.itertuples(index=False):
  summed += row.Values

summed

CPU times: user 68 ms, sys: 31 Âµs, total: 68 ms
Wall time: 70.7 ms