[Reference](https://medium.com/@etirismagazine/mastering-pythons-classmethod-a-complete-guide-2f43bff51ed6)

In [3]:
import datetime

class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    @classmethod
    def from_birth_year(cls, name, birth_year):
        age = cls.get_age(birth_year)
        return cls(name, age)

    @staticmethod
    def get_age(birth_year):
        return datetime.date.today().year - birth_year

person = Person.from_birth_year('John', 1990)
print(person.name)  # John
print(person.age)  # 33

John
33

In [4]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    @classmethod
    def from_tuple(cls, tuple):
        x, y = tuple
        return cls(x, y)

point = Point.from_tuple((3, 4))
print(point.x)  # 3
print(point.y)  # 4

3
4

In [5]:
class Car:
    total_cars_sold = 0

    def __init__(self, make, model):
        self.make = make
        self.model = model
        Car.total_cars_sold += 1

    @classmethod
    def get_total_cars_sold(cls):
        return cls.total_cars_sold

car1 = Car('Toyota', 'Camry')
car2 = Car('Honda', 'Civic')

print(Car.get_total_cars_sold())  # 2

2

In [6]:
class Car:
    total_cars_sold = 0

    def __init__(self, make, model):
        self.make = make
        self.model = model
        Car.total_cars_sold += 1

    @classmethod
    def get_total_cars_sold(cls):
        return cls.total_cars_sold

car1 = Car('Toyota', 'Camry')
car2 = Car('Honda', 'Civic')

print(Car.get_total_cars_sold())  # 2

2

In [7]:
class Student:
    all_students = []

    def __init__(self, name, grade):
        self.name = name
        self.grade = grade
        Student.all_students.append(self)

    @classmethod
    def get_highest_grade(cls):
        return max(cls.all_students, key=lambda student: student.grade)

    @classmethod
    def get_lowest_grade(cls):
        return min(cls.all_students, key=lambda student: student.grade)

student1 = Student('John', 90)
student2 = Student('Jane', 95)
student3 = Student('Alice', 80)

print(Student.get_highest_grade().name)  # Jane
print(Student.get_lowest_grade().name)  # Alice

Jane
Alice