[Reference](https://medium.com/@jdgb.projects/mastering-data-manipulation-with-pandas-in-python-a-comprehensive-tutorial-5cea2703e37d)

In [1]:
# Importing a sample DataFrame
import pandas as pd
df = pd.DataFrame({'A': [1, 2, 3, None, 5],
                   'B': [None, 20, 30, 40, 50],
                   'C': [100, 200, 300, 400, 500]})

# Dropping rows with missing values
df.dropna(inplace=True)

# Filling in missing values with the mean of the column
df['B'].fillna(df['B'].mean(), inplace=True)

# Dropping duplicate rows
df.drop_duplicates(inplace=True)

# Converting data types of columns
df['A'] = df['A'].astype('int32')
df['B'] = df['B'].astype('float64')

# Grouping and aggregating data

In [2]:
import pandas as pd
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
                   'B': [1, 2, 3, 4, 5, 6, 7, 8],
                   'C': [2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]})

grouped = df.groupby('A')
result = grouped['B'].sum()

# Merging and joining

In [3]:
import pandas as pd
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'],
                    'value': [1, 2, 3, 4]})
df2 = pd.DataFrame({'key': ['B', 'D', 'E', 'F'],
                    'value': [5, 6, 7, 8]})

result = pd.merge(df1, df2, on='key')

# Pivot tables

In [4]:
import pandas as pd
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
                   'B': [1, 2, 3, 4, 5, 6, 7, 8],
                   'C': [2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]})

result = df.pivot_table(values='B', index='A', columns='C', aggfunc='mean')

# Exporting data from Pandas

In [5]:
import pandas as pd
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

df.to_csv('data.csv', index=False)