[Reference](https://towardsdatascience.com/minimize-for-loop-usage-in-python-78e3bc42f03f)

In [1]:
x = [1,3,5,7,9]
sum_squared = 0

for i in range(len(x)):
    sum_squared+=x[i]**2

In [2]:
sum_squared

165

In [4]:
sum_squared = 0
for i in x:
    sum_squared+=i**2
sum_squared

165

In [5]:
sum_squared = sum([i**2 for i in x])

In [6]:
sum_squared

165

In [7]:
x = [1,2,3,4,5,6,7,8,9]
even_squared = [y**2 for y in x if y%2==0]
even_squared

[4, 16, 36, 64]

In [8]:
squared_cubed = [y**2 if y%2==0 else y**3 for y in x]
squared_cubed

[1, 4, 27, 16, 125, 36, 343, 64, 729]

In [9]:
L = ['blue', 'yellow', 'orange']

for i, val in enumerate(L):
    print("index is %d and value is %s" % (i, val))

index is 0 and value is blue
index is 1 and value is yellow
index is 2 and value is orange

In [10]:
x = [1,2,3,4,5,6,7,8,9]
{k:k**2 for k in x}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [14]:
x = [1,2,3,4,5,6,7,8,9]

{k:k**2 for k in x if k%2==0}

{2: 4, 4: 16, 6: 36, 8: 64}

In [15]:
x = [1,2,3,4,5,6,7,8,9]
{k:k**2 if k%2==0 else k**3 for k in x}

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729}