[Reference](https://towardsdatascience.com/how-to-be-fancy-with-python-part-2-70fab0a3e492)

In [5]:
class Student():
  def __init__(self,id, name):
    self.id, self.name = id, name
s = Student(1, "Kang")
print(s)

<__main__.Student object at 0x7f21c350f5c0>

In [6]:
class Studnet():
  def __init__(self,id, name):
    self.id, self.name = id, name
  def __str__(self):
    return f"Studnet {self.name} with id {self.id}"

In [7]:
s = Student(1, "Kang")
print(s)

<__main__.Student object at 0x7f21c35114a8>

In [12]:
class School():
  def __init__(self, students, grades):
    self.students, self.grades = students, grades
  def __len__(self):
    return len(self.grades)

students = [Studnet(1,"Kang"), Studnet(2,"Lee"), Studnet(3,"Park")]
grades = ['A+', 'B-', 'F']

school = School(students, grades)
print(school)

<__main__.School object at 0x7f21c3511240>

In [13]:
len(school)

3

In [14]:
class School():
  def __init__(self, students, grades):
    self.students, self.grades = students, grades
  def __getitem__(self, i):
    return self.students[i].name, self.grades[i]

students = [Studnet(1,"Kang"), Studnet(2,"Lee"), Studnet(3,"Park")]
grades = ['A+', 'B-', 'F']

school = School(students, grades)
school[0]

('Kang', 'A+')

In [17]:
class School():
  def __init__(self, students, grades):
    self.students, self.grades = students, grades
  def __getitem__(self, i):
    return self.students[i].name, self.grades[i]
  def __setitem__(self, i, g):
    self.grades[i] = g

students = [Studnet(1,"Kang"), Studnet(2,"Lee"), Studnet(3,"Park")]
grades = ['A+', 'B-', 'F']

school = School(students, grades)
school[1]

('Lee', 'B-')

In [18]:
school[1] = 'A-'
school[1]

('Lee', 'A-')

In [22]:
class School():
  def __init__(self, students, grades):
    self._all_attr = {}
    self.students, self.grades = students, grades
  def __setattr__(self, k, v):
    if not k.startswith("_"): self._all_attr[k] = v
    super().__setattr__(k,v)
  def print_all(self):
    for atr,val in self._all_attr.items():
      print(atr,val)

students = [Studnet(1,"Kang"), Studnet(2,"Lee"), Studnet(3,"Park")]
grades = ['A+', 'B-', 'F']

school = School(students, grades)
school.print_all()

students [<__main__.Studnet object at 0x7f21c34b1470>, <__main__.Studnet object at 0x7f21c34b1400>, <__main__.Studnet object at 0x7f21c34b14a8>]
grades ['A+', 'B-', 'F']

In [23]:
class School():
  def __init__(self, students, grades):
    self._all_attr = {}
    self.students, self.grades = students, grades
  def __iter__(self):
    for i in range(0, len(self.grades)):
      yield self.students[i].name, self.grades[i]

students = [Studnet(1,"Kang"), Studnet(2,"Lee"), Studnet(3,"Park")]
grades = ['A+', 'B-', 'F']

school = School(students, grades)
next(iter(school))

('Kang', 'A+')

In [24]:
for s,g in iter(school):
  print(s,g)

Kang A+
Lee B-
Park F

In [26]:
class Cost():
  def __init__(self, symbol, value):
    self.symbol, self.value = symbol, value

  def __add__(self, other):
    return self.value + other.value

pizza = Cost('$', 100)
burger = Cost('$', 50)

pizza + burger

150