[Reference](https://towardsdatascience.com/pandas-presentation-tips-i-wish-i-knew-earlier-8e767365d190)

In [6]:
import pandas as pd
import numpy as np
import random

In [7]:
n = 10
df = pd.DataFrame(
    {
        "col1": np.random.random_sample(n),
        "col2": np.random.random_sample(n),
        "col3": [[random.randint(0, 10) for _ in range(random.randint(3, 5))] for _ in range(n)],
    }
)

In [8]:
df_html = df.to_html()
with open('analysis.html', 'w') as f:
    f.write(df_html)

In [9]:
df_list = pd.read_html('analysis.html')
df_list

[   Unnamed: 0      col1      col2              col3
 0           0  0.255838  0.444212      [6, 0, 8, 6]
 1           1  0.283916  0.116647         [3, 7, 5]
 2           2  0.969698  0.501832         [6, 2, 1]
 3           3  0.038019  0.683933   [8, 3, 8, 1, 8]
 4           4  0.879127  0.525478        [5, 10, 3]
 5           5  0.340149  0.569880      [6, 5, 9, 2]
 6           6  0.098846  0.589882  [4, 5, 6, 6, 10]
 7           7  0.662567  0.749227         [1, 2, 0]
 8           8  0.524592  0.357755       [10, 10, 0]
 9           9  0.149940  0.194855   [7, 3, 9, 0, 8]]

# Writing Scientific papers using LaTex

In [10]:
df.to_latex()

'\\begin{tabular}{lrrl}\n\\toprule\n{} &      col1 &      col2 &              col3 \\\\\n\\midrule\n0 &  0.255838 &  0.444212 &      [6, 0, 8, 6] \\\\\n1 &  0.283916 &  0.116647 &         [3, 7, 5] \\\\\n2 &  0.969698 &  0.501832 &         [6, 2, 1] \\\\\n3 &  0.038019 &  0.683933 &   [8, 3, 8, 1, 8] \\\\\n4 &  0.879127 &  0.525478 &        [5, 10, 3] \\\\\n5 &  0.340149 &  0.569880 &      [6, 5, 9, 2] \\\\\n6 &  0.098846 &  0.589882 &  [4, 5, 6, 6, 10] \\\\\n7 &  0.662567 &  0.749227 &         [1, 2, 0] \\\\\n8 &  0.524592 &  0.357755 &       [10, 10, 0] \\\\\n9 &  0.149940 &  0.194855 &   [7, 3, 9, 0, 8] \\\\\n\\bottomrule\n\\end{tabular}\n'

In [11]:
print(df.to_latex())

\begin{tabular}{lrrl}
\toprule
{} &      col1 &      col2 &              col3 \\
\midrule
0 &  0.255838 &  0.444212 &      [6, 0, 8, 6] \\
1 &  0.283916 &  0.116647 &         [3, 7, 5] \\
2 &  0.969698 &  0.501832 &         [6, 2, 1] \\
3 &  0.038019 &  0.683933 &   [8, 3, 8, 1, 8] \\
4 &  0.879127 &  0.525478 &        [5, 10, 3] \\
5 &  0.340149 &  0.569880 &      [6, 5, 9, 2] \\
6 &  0.098846 &  0.589882 &  [4, 5, 6, 6, 10] \\
7 &  0.662567 &  0.749227 &         [1, 2, 0] \\
8 &  0.524592 &  0.357755 &       [10, 10, 0] \\
9 &  0.149940 &  0.194855 &   [7, 3, 9, 0, 8] \\
\bottomrule
\end{tabular}

# Writing on GitHub

In [12]:
print(df.to_markdown())

|    |      col1 |     col2 | col3             |
|---:|----------:|---------:|:-----------------|
|  0 | 0.255838  | 0.444212 | [6, 0, 8, 6]     |
|  1 | 0.283916  | 0.116647 | [3, 7, 5]        |
|  2 | 0.969698  | 0.501832 | [6, 2, 1]        |
|  3 | 0.0380191 | 0.683933 | [8, 3, 8, 1, 8]  |
|  4 | 0.879127  | 0.525478 | [5, 10, 3]       |
|  5 | 0.340149  | 0.56988  | [6, 5, 9, 2]     |
|  6 | 0.098846  | 0.589882 | [4, 5, 6, 6, 10] |
|  7 | 0.662567  | 0.749227 | [1, 2, 0]        |
|  8 | 0.524592  | 0.357755 | [10, 10, 0]      |
|  9 | 0.14994   | 0.194855 | [7, 3, 9, 0, 8]  |

# Using Excel

In [13]:
df.to_excel('analysis.xlsx', index=False)

In [14]:
pd.read_excel('analysis.xlsx')

       col1      col2              col3
0  0.255838  0.444212      [6, 0, 8, 6]
1  0.283916  0.116647         [3, 7, 5]
2  0.969698  0.501832         [6, 2, 1]
3  0.038019  0.683933   [8, 3, 8, 1, 8]
4  0.879127  0.525478        [5, 10, 3]
5  0.340149  0.569880      [6, 5, 9, 2]
6  0.098846  0.589882  [4, 5, 6, 6, 10]
7  0.662567  0.749227         [1, 2, 0]
8  0.524592  0.357755       [10, 10, 0]
9  0.149940  0.194855   [7, 3, 9, 0, 8]

# Writing documentation

In [15]:
print(df.to_string())

       col1      col2              col3
0  0.255838  0.444212      [6, 0, 8, 6]
1  0.283916  0.116647         [3, 7, 5]
2  0.969698  0.501832         [6, 2, 1]
3  0.038019  0.683933   [8, 3, 8, 1, 8]
4  0.879127  0.525478        [5, 10, 3]
5  0.340149  0.569880      [6, 5, 9, 2]
6  0.098846  0.589882  [4, 5, 6, 6, 10]
7  0.662567  0.749227         [1, 2, 0]
8  0.524592  0.357755       [10, 10, 0]
9  0.149940  0.194855   [7, 3, 9, 0, 8]