[Reference](https://medium.com/@akaivdo/pandas-timestamp-562f68ea5f5)

# Create a single Timestamp object

In [1]:
import pandas as pd
pd.Timestamp(2022,1,1)

Timestamp('2022-01-01 00:00:00')

In [2]:
# OR
pd.Timestamp(year=2022, month=1, day=1)

Timestamp('2022-01-01 00:00:00')

In [3]:
import datetime as dt
pd.Timestamp(dt.datetime(2021,12,31))

Timestamp('2021-12-31 00:00:00')

In [4]:
pd.Timestamp("2022/8/31")

Timestamp('2022-08-31 00:00:00')

In [5]:
# OR
pd.Timestamp("2022-8-31")

Timestamp('2022-08-31 00:00:00')

In [6]:
# OR
pd.Timestamp("8/31/2022")

Timestamp('2022-08-31 00:00:00')

In [7]:
# OR
pd.Timestamp("2022-08-31 00:00")

Timestamp('2022-08-31 00:00:00')

In [8]:
# OR
pd.Timestamp("2022-08-31 00:00:00 AM")

Timestamp('2022-08-31 00:00:00')

# Convert Timestamp to Pythonâ€™s type

In [9]:
pd.Timestamp("2022-08-31 00:00").to_pydatetime()

datetime.datetime(2022, 8, 31, 0, 0)

In [10]:
pd.Timestamp("2022-08-31 00:00").date()

datetime.date(2022, 8, 31)

In [11]:
pd.Timestamp("2022-08-31 12:34").time()

datetime.time(12, 34)

# Multiple Timestamps (DatetimeIndex, Series)

In [12]:
date_list = ["12/31/2022", dt.date(2022,11,1), pd.Timestamp(2021,10,10)]
pd.DatetimeIndex(date_list)

DatetimeIndex(['2022-12-31', '2022-11-01', '2021-10-10'], dtype='datetime64[ns]', freq=None)

In [13]:
dates = [
    pd.Timestamp("2022-4-1"),
    pd.Timestamp("2022-4-2"),
    pd.Timestamp("2022-4-3"),
]
s_temp = pd.Series(data={"temperature":[15,16,18]}, index=dates)
s_temp.index

DatetimeIndex(['2022-04-01', '2022-04-02', '2022-04-03'], dtype='datetime64[ns]', freq=None)

In [14]:
list_dt = pd.to_datetime(["2021-1-1", "2022/1/1", "12/31/2021"])
list_dt

DatetimeIndex(['2021-01-01', '2022-01-01', '2021-12-31'], dtype='datetime64[ns]', freq=None)

In [15]:
series_dt = pd.to_datetime(pd.Series(["2021-1-1", "2022/1/1", "12/31/2021"]))
type(series_dt)

pandas.core.series.Series

In [16]:
pd.to_datetime(["2021-1-1", "2022/1/1", "12/31/2021"]).to_series()

2021-01-01   2021-01-01
2022-01-01   2022-01-01
2021-12-31   2021-12-31
dtype: datetime64[ns]

In [17]:
pd.to_datetime(["2021-1-1", "2022/1/1", "12/31/2021"]).strftime("%Y-%m-%d").to_series()

2021-01-01    2021-01-01
2022-01-01    2022-01-01
2021-12-31    2021-12-31
dtype: object

In [18]:
df = pd.DataFrame(data={"name": ["Kevin", "Mary", "Tom"], "gender":["M", "F", "M"], "birth": ["1995/2/3", "1995/4/6", "1996/8/1"], "score": [88,90,85]})
df

    name gender     birth  score
0  Kevin      M  1995/2/3     88
1   Mary      F  1995/4/6     90
2    Tom      M  1996/8/1     85

In [19]:
type(df["birth"].iloc[0])

str

In [20]:
df["birth"] = pd.to_datetime(df["birth"])
print(df["birth"].iloc[0])
print(type(df["birth"].iloc[0]))

1995-02-03 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [21]:
df.dtypes

name              object
gender            object
birth     datetime64[ns]
score              int64
dtype: object