[Reference](https://pub.towardsai.net/pandas-dealing-with-categorical-data-7547305582ff)

In [4]:
import pandas as pd
a = pd.Series(["w", "x", "y", "w"])
a

0    w
1    x
2    y
3    w
dtype: object

In [5]:
s = pd.Series(["w", "x", "y", "w"], dtype="category")
s

0    w
1    x
2    y
3    w
dtype: category
Categories (3, object): ['w', 'x', 'y']

In [6]:
import pandas as pd
 
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [8]:
import pandas as pd
list1 = ["w", "x", "y", "w"]
df = pd.DataFrame(list1)
print(df)

   0
0  w
1  x
2  y
3  w

In [9]:
import pandas as pd
list1 = ["w", "x", "y", "w"]
df = pd.DataFrame(list1, columns=['c'])
print(df)

   c
0  w
1  x
2  y
3  w

In [10]:
import pandas as pd
s = pd.Series(["w", "x", "y", "w"], dtype="category")
s.cat.categories

Index(['w', 'x', 'y'], dtype='object')

In [11]:
s = pd.Series(["w", "x", "y", "w"], dtype="category")
s.cat.categories = ["Group %s" % a for a in s.cat.categories]
s

<ipython-input-11-e93ae03a76c7>:2: FutureWarning: Setting categories in-place is deprecated and will raise in a future version. Use rename_categories instead.
  s.cat.categories = ["Group %s" % a for a in s.cat.categories]

0    Group w
1    Group x
2    Group y
3    Group w
dtype: category
Categories (3, object): ['Group w', 'Group x', 'Group y']

In [12]:
import pandas as pd
s = pd.Series(["w", "x", "y", "w"], dtype="category")
s = s.cat.add_categories([4])
s.cat.categories

Index(['w', 'x', 'y', 4], dtype='object')

In [13]:
import pandas as pd
from pandas.api.types import CategoricalDtype
s = pd.Series(["w", "x", "y",
                     "w"]).astype(CategoricalDtype(ordered=True))
s.sort_values(inplace=True)
s

0    w
3    w
1    x
2    y
dtype: category
Categories (3, object): ['w' < 'x' < 'y']

In [14]:
s.min(), s.max()

('w', 'y')

In [15]:
import pandas as pd
s = pd.Series([3,4,5,3], dtype="category")
s = s.cat.set_categories([3,4,5], ordered=True)
s.sort_values(inplace=True)
s

0    3
3    3
1    4
2    5
dtype: category
Categories (3, int64): [3 < 4 < 5]

In [16]:
import pandas as pd
a = pd.Series([1,2,3,4])
b = pd.Series([1,1,3,2])
c = pd.Series([4,1,3,2])
a > b

0    False
1     True
2    False
3     True
dtype: bool

In [17]:
b == c

0    False
1     True
2     True
3     True
dtype: bool

In [19]:
import pandas as pd
a = pd.Series([4,1,3,3])
a.value_counts()

3    2
4    1
1    1
dtype: int64

In [20]:
s = pd.Series(["w", "x", "y", "w"])
s.value_counts()

w    2
x    1
y    1
dtype: int64

In [21]:
op = pd.Categorical(["w", "y", "z", "s", "w", "y", "y"],
                                 categories=["x", "y", "z", "s"])
df = pd.DataFrame({"op": op, "values": [3,2,5,6,5,6,3]})
df.groupby("op").mean()

      values
op
x        NaN
y   3.666667
z   5.000000
s   6.000000

In [22]:
import pandas as pd
list1 = ["w", "x", "y", "w"]
 
values = [1, 2, 3, 4]
df = pd.DataFrame({"list1": list1, "values": values})
print(df)

  list1  values
0     w       1
1     x       2
2     y       3
3     w       4

In [23]:
s = pd.Series(["happy"] * 1000)
#as object 
s.nbytes

8000

In [24]:
#as category
s.astype("category").nbytes

1008