[Reference](https://medium.com/@anala007/what-is-the-pivot-function-in-pandas-3070fc618592)

In [1]:
import pandas as pd
df = pd.DataFrame({'A': ['one', 'one', 'two', 'two'], 

                   'B': ['a', 'b', 'a', 'b'], 

                   'C': [1, 2, 3, 4]}) 
df

     A  B  C
0  one  a  1
1  one  b  2
2  two  a  3
3  two  b  4

In [2]:
df.pivot(index='A', columns='B', values='C')

B    a  b
A
one  1  2
two  3  4