[Reference](https://towardsdatascience.com/plydata-piping-for-pandas-e7ed4c2d8906)

In [1]:
pip install pydataset==0.2.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pydataset==0.2.0
  Downloading pydataset-0.2.0.tar.gz (15.9 MB)
     |████████████████████████████████| 15.9 MB 16.4 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pydataset==0.2.0) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pydataset==0.2.0) (2022.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pydataset==0.2.0) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pydataset==0.2.0) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pydataset==0.2.0) (1.15.0)
Building wheels for collected packages: pydataset
  Building wheel for pydataset (setup.py) ... done
  Created wheel for pydataset: filename=pydataset-0.2.0-py3-none-any.whl size=15939432 sha256=9f27b084bb8f83c35c57b25057127e89ba017a98a66cc790e01eb803d482d21f
  Stored in directory: /root/.cache/pip/wheels/32/26/30/d71562a19eed948eaada9a61b4d722fa358657a3bfb5d151e2
Successfully built pydataset
Installing collected packages: pydataset
Successfully installed pydataset-0.2.0

In [2]:
pip install plydata==0.4.3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting plydata==0.4.3
  Downloading plydata-0.4.3-py3-none-any.whl (299 kB)
     |████████████████████████████████| 299 kB 15.3 MB/s
Requirement already satisfied: pandas>=1.1.5 in /usr/local/lib/python3.7/dist-packages (from plydata==0.4.3) (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.5->plydata==0.4.3) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.5->plydata==0.4.3) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.5->plydata==0.4.3) (2022.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.1.5->plydata==0.4.3) (1.15.0)
Installing collected packages: plydata
Successfully installed plydata-0.4.3

In [3]:
from statistics import mean, stdev
from pydataset import data
from plydata import define, group_by, head, query, select, summarize

initiated datasets repo at: /root/.pydataset/

In [4]:
iris = data('iris')
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [5]:
print(iris >>  group_by('Species') >>  head(n=5))

groups: ['Species']
    Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
0            5.1          3.5           1.4          0.2      setosa
1            4.9          3.0           1.4          0.2      setosa
2            4.7          3.2           1.3          0.2      setosa
3            4.6          3.1           1.5          0.2      setosa
4            5.0          3.6           1.4          0.2      setosa
5            7.0          3.2           4.7          1.4  versicolor
6            6.4          3.2           4.5          1.5  versicolor
7            6.9          3.1           4.9          1.5  versicolor
8            5.5          2.3           4.0          1.3  versicolor
9            6.5          2.8           4.6          1.5  versicolor
10           6.3          3.3           6.0          2.5   virginica
11           5.8          2.7           5.1          1.9   virginica
12           7.1          3.0           5.9          2.1   virginica
13           6.3          2.9           5.6          1.8   virginica
14           6.5          3.0           5.8          2.2   virginica

In [6]:
print(
     iris >>
     group_by('Species') >>
     head(n=5)
 )

groups: ['Species']
    Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
0            5.1          3.5           1.4          0.2      setosa
1            4.9          3.0           1.4          0.2      setosa
2            4.7          3.2           1.3          0.2      setosa
3            4.6          3.1           1.5          0.2      setosa
4            5.0          3.6           1.4          0.2      setosa
5            7.0          3.2           4.7          1.4  versicolor
6            6.4          3.2           4.5          1.5  versicolor
7            6.9          3.1           4.9          1.5  versicolor
8            5.5          2.3           4.0          1.3  versicolor
9            6.5          2.8           4.6          1.5  versicolor
10           6.3          3.3           6.0          2.5   virginica
11           5.8          2.7           5.1          1.9   virginica
12           7.1          3.0           5.9          2.1   virginica
13           6.3          2.9           5.6          1.8   virginica
14           6.5          3.0           5.8          2.2   virginica

In [7]:
iris.columns = [name.lower().replace('.', '_') for name in iris.columns.tolist()]
iris.columns.values

array(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'], dtype=object)

In [8]:
def cv(x):
     """Calculate coefficient of variation of x."""
     return stdev(x) / mean(x)

In [9]:
summary_iris = (
    iris >>
    define(
        sepal_ratio='sepal_length/sepal_width',
        petal_ratio='petal_length/petal_width',
        species='"I. " + species'
    ) >>
    # select(contains=('width', 'length'), drop=True) >>
    group_by('species') >>
    summarize(
        mean_sepal_ratio='mean(sepal_ratio)',
        cv_sepal_ratio='cv(sepal_ratio)',
        mean_petal_ratio='mean(petal_ratio)',
        cv_petal_ratio='cv(petal_ratio)',
    )
)

In [10]:
summary_iris

,species,mean_sepal_ratio,cv_sepal_ratio,mean_petal_ratio,cv_petal_ratio
0,I. setosa,1.470188,0.080772,6.908000,0.413223
1,I. versicolor,2.160402,0.105841,3.242837,0.096353
2,I. virginica,2.230453,0.110736,2.780662,0.146500

In [11]:
print(
     iris >>
     query('sepal_width >= sepal_length*.75')
     )

    sepal_length  sepal_width  petal_length  petal_width species
16           5.7          4.4           1.5          0.4  setosa
23           4.6          3.6           1.0          0.2  setosa
33           5.2          4.1           1.5          0.1  setosa
34           5.5          4.2           1.4          0.2  setosa

In [12]:
print(
    iris >>
    query('sepal_width >= sepal_length*.5 and petal_width <= petal_length*.4') >>
    head(3)
    )

   sepal_length  sepal_width  petal_length  petal_width species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa