[Reference](https://medium.com/@ocrnshn/python-advanced-92991b8574e5)

# Variable Argument List

In [3]:
def addition(*args):
    result = 0
    for arg in args:
        result += arg
    return result

addition(1, 5, 3, 7)  # returns 16
myList = [1, 5, 3, 7]
addition(*myList)

16

In [4]:
def addition(nparam, *args):
    result = 0
    for arg in args:
        result += arg
    return result

addition(1, 5, 3, 7)  # returns 15
myList = [1, 5, 3, 7]
addition(*myList)     # returns 15

15

# Lambda Functions

In [5]:
def meters_to_inches(val):
    return val*39.37

def main():
    distances = [0, 12, 34, 100]
    distances_in_inches = list(map(meters_to_inches, distances))

In [6]:
def main():
    distances = [0, 12, 34, 100]
    distances_in_inches = list(map(lambda t: t*39.37, distances))

# Enforcing Keyword Arguments

In [8]:
def safe_division(number, divisor, *, ignore_overflow=False, ignore_zero_division=False):
    try:
        return number / divisor
    except OverflowError:
        if ignore_overflow:
            return 0
        else:
            raise
    except ZeroDivisionError:
        if ignore_zero_division:
            return float('inf')
        else:
            raise

if __name__ == '__main__':
    # throws TypeError: safe_division() takes 2 positional arguments but 4 were given
    print(safe_division(2,0,True,True))
    # throws ZeroDivisionError: division by zero
    print(safe_division(2,0))
    # prints inf
    print(safe_division(2,0, ignore_zero_division=True, ignore_overflow=False))

# Collections

In [9]:
import collections

# Declare a Coord named tuple by using factory - name: Coord, params: lat and lon
Coord = collections.namedtuple("Coord", "lat lon")

c1 = Coord(38.8951, -77.0364)
c2 = Coord(36.8951, -67.0364)

# access arguments by name
print(c1.lat, c1.lon)

# use _replace to create a new instance
c3 = c1._replace(lat=35.8951)
print(c1, c3)

38.8951 -77.0364
Coord(lat=38.8951, lon=-77.0364) Coord(lat=35.8951, lon=-77.0364)

In [10]:
from collections import OrderedDict

inventory = [("apple", 100), ("orange", 20),("banana", 80), ("dragonfruit", 20), ("watermelon", 15)]

# create an ordered dictionary of the fruits
inventory_dict = OrderedDict(inventory)
print("Fruits", inventory_dict)

# Get last added fruit
tm, wl = inventory_dict.popitem(False)
print("LIFO item: ", tm, wl)
print("Remaining fruits:", inventory_dict)

# Get first added fruit
tm, wl = inventory_dict.popitem(True)
print("FIFO item: ", tm, wl)
print("Remaining fruits:", inventory_dict)

inventory_dict.move_to_end("orange", True)
print("Fruits after move first item to end:", inventory_dict)

inventory_dict.move_to_end("orange", False)
print("Fruits after move last item to start:", inventory_dict)

Fruits OrderedDict([('apple', 100), ('orange', 20), ('banana', 80), ('dragonfruit', 20), ('watermelon', 15)])
LIFO item:  apple 100
Remaining fruits: OrderedDict([('orange', 20), ('banana', 80), ('dragonfruit', 20), ('watermelon', 15)])
FIFO item:  watermelon 15
Remaining fruits: OrderedDict([('orange', 20), ('banana', 80), ('dragonfruit', 20)])
Fruits after move first item to end: OrderedDict([('banana', 80), ('dragonfruit', 20), ('orange', 20)])
Fruits after move last item to start: OrderedDict([('orange', 20), ('banana', 80), ('dragonfruit', 20)])

In [11]:
from collections import defaultdict

lectures = ['mathematics', 'physics', 'chemistry', 'biology']

# Constuct a default dictionary
lecturesDict = defaultdict(int)

# Change the values of dictionary content
for i, lecture in enumerate(lectures):
    lecturesDict[lecture] += i
    print(f"{i} Adding {lecture} into dict: ")
    for (k, v) in lecturesDict.items():
        print(k + ": " + str(v))

0 Adding mathematics into dict:
mathematics: 0
1 Adding physics into dict:
mathematics: 0
physics: 1
2 Adding chemistry into dict:
mathematics: 0
physics: 1
chemistry: 2
3 Adding biology into dict:
mathematics: 0
physics: 1
chemistry: 2
biology: 3

In [12]:
from collections import Counter

str1 = "missisipi"
str2 = "tiptronic"

# Create a Counter for str1 and str2
c1 = Counter(str1)
c2 = Counter(str2)

# Accessing a content of the counter
print("Number of s in str1:",  c1["s"])

# Total number of elements in counter
print("Number of letters in str1:", sum(c1.values()))

# Combine counters
c1.update(str2)
print("Number of letters in str1 and str2:", sum(c1.values()))

# Find the 3 most common content
print(c1.most_common(3))

# Separate contents of counters
c1.subtract(str2)
print(c1.most_common(1))

# Finding common elements of two counters
print(c1 & c2)

Number of s in str1: 3
Number of letters in str1: 9
Number of letters in str1 and str2: 18
[('i', 6), ('s', 3), ('p', 2)]
[('i', 4)]
Counter({'i': 2, 'p': 1})

In [13]:
# list of sport teams with wins and losses
import collections

# construct a deque
d = collections.deque(["lorem", "ipsum", "dolor", "sit", "amet"])

# get len of deque
print("Initial len:", str(len(d)))

# append deque
d.append("hello")
d.appendleft("world")

# deque iterator
for elem in d:
    print(elem.upper(), end=",")

# pop deque
print("pop:", d.pop())
print("popleft:", d.popleft())
print("Current deque", d)

# rotate deque
d.rotate(3)
print("Final deque:", d)

Initial len: 5
WORLD,LOREM,IPSUM,DOLOR,SIT,AMET,HELLO,pop: hello
popleft: world
Current deque deque(['lorem', 'ipsum', 'dolor', 'sit', 'amet'])
Final deque: deque(['dolor', 'sit', 'amet', 'lorem', 'ipsum'])

# Enum

In [14]:
from enum import Enum, unique, auto

@unique # If we add DEBIAN=3, it will throw
        # ValueError: duplicate values found in <enum 'OpSys'>: DEBIAN -> MACOS
class OpSys(Enum):
    WINDOWS = 1
    UBUNTU = 2
    MACOS = 3
    CENTOS = auto()


def main():
    print(OpSys.WINDOWS)
    print(type(OpSys.WINDOWS)) # returns the type of the object
    print(repr(OpSys.WINDOWS)) # returns a printable representation of the given object

    # Enum name and value accessors
    print(OpSys.MACOS.name, OpSys.MACOS.value)

    # Auto method can be used for auto value-assignments
    print(OpSys.CENTOS.value)

    # enums can be used as keys
    oss = {OpSys.WINDOWS: "Microsoft Windows"}
    print(oss[OpSys.WINDOWS])

if __name__ == '__main__':
    main()

OpSys.WINDOWS
<enum 'OpSys'>
<OpSys.WINDOWS: 1>
MACOS 3
4
Microsoft Windows

In [15]:
class Planet:
    def __init__(self, name, average_density, num_satellites):
        self.name = name
        self.average_density = average_density
        self.num_satellites = num_satellites

    def __repr__(self):
        return ("<Planet name:{0}, average_density:{1}, num_satellites:{2}>"
                .format(self.name, self.average_density, self.num_satellites))

    def __str__(self):
        return "Planet {0} is {1} kg/m3 and have {2} satellites)".format(self.name, self.average_density, self.num_satellites)

    def __bytes__(self):
        val = "Planet:{0}:{1}:{2}".format(self.name, self.average_density, self.num_satellites)
        return bytes(val.encode('utf-8'))

    def __getattribute__(self, attr):
        print("__getattribute__", attr)
        return super().__getattribute__(attr)

    def __getattr__(self, attr):
        print("__getattr__", attr)
        if attr == "kg_per_m3":
            return self.name, self.average_density, self.num_satellites
        elif attr == "lb_per_ft3":
            return self.name, self.average_density*0.0624279606, self.num_satellites
        else:
            # raise AttributeError
            print("Non existing field")
            return None

    def __setattr__(self, attr, val):
        print("__setattr__", attr)
        if attr == "kg_per_m3":
            self.name = val[0]
            self.average_density = val[1]
            self.num_satellites = val[2]
        elif attr == "lb_per_ft3":
            self.name = val[0]
            self.average_density = val[1]*16.01846336783906
            self.num_satellites = val[2]
        else:
            super().__setattr__(attr, val)

    # list the available properties
    def __dir__(self):
        return "kg_per_m3", "lb_per_ft3"


def main():
    saturn = Planet("Saturn", 690, 62)

    print(repr(saturn))
    print(str(saturn))
    print("Formatted: {0}".format(saturn))
    print(bytes(saturn))

    # try to pint a non-existing field
    print(saturn.non_existing_field)

    # print computed values
    print(saturn.kg_per_m3)
    print(saturn.lb_per_ft3)

    # set computed attributes
    saturn.kg_per_m3 = ("Neptun", 1660, 14)

    # print computed values
    print(saturn.kg_per_m3)
    print(saturn.lb_per_ft3)

    # access a regular attribute
    print(saturn.average_density)

    # list the available attributes
    print(dir(saturn))

if __name__ == "__main__":
    main()

__setattr__ name
__setattr__ average_density
__setattr__ num_satellites
__getattribute__ name
__getattribute__ average_density
__getattribute__ num_satellites
<Planet name:Saturn, average_density:690, num_satellites:62>
__getattribute__ name
__getattribute__ average_density
__getattribute__ num_satellites
Planet Saturn is 690 kg/m3 and have 62 satellites)
__getattribute__ name
__getattribute__ average_density
__getattribute__ num_satellites
Formatted: Planet Saturn is 690 kg/m3 and have 62 satellites)
__getattribute__ name
__getattribute__ average_density
__getattribute__ num_satellites
b'Planet:Saturn:690:62'
__getattribute__ non_existing_field
__getattr__ non_existing_field
Non existing field
None
__getattribute__ kg_per_m3
__getattr__ kg_per_m3
__getattribute__ name
__getattribute__ average_density
__getattribute__ num_satellites
('Saturn', 690, 62)
__getattribute__ lb_per_ft3
__getattr__ lb_per_ft3
__getattribute__ name
__getattribute__ average_density
__getattribute__ num_satellites
('Saturn', 43.075292814, 62)
__setattr__ kg_per_m3
__setattr__ name
__setattr__ average_density
__setattr__ num_satellites
__getattribute__ kg_per_m3
__getattr__ kg_per_m3
__getattribute__ name
__getattribute__ average_density
__getattribute__ num_satellites
('Neptun', 1660, 14)
__getattribute__ lb_per_ft3
__getattr__ lb_per_ft3
__getattribute__ name
__getattribute__ average_density
__getattribute__ num_satellites
('Neptun', 103.630414596, 14)
__getattribute__ average_density
1660
['kg_per_m3', 'lb_per_ft3']

In [16]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, other):
        return Point(self.x + other.x, self.y + other.y)

    def __isub__(self, other):
        self.x -= other.x
        self.y -= other.y
        return self

    def __repr__(self):
        return "Point({0}, {1})".format(self.x, self.y)


def main():
    p1 = Point(0, 5)
    p2 = Point(10, 10)

    print("Initial points:", p1, p2)
    p3 = p1 + p2
    print("Point addition:", p1, p2, p3)
    p1 -= p2
    print("Points after in-place subtraction:", p1, p2)


if __name__ == "__main__":
    main()

Initial points: Point(0, 5) Point(10, 10)
Point addition: Point(0, 5) Point(10, 10) Point(10, 15)
Points after in-place subtraction: Point(-10, -5) Point(10, 10)

In [17]:
class Student:
    def __init__(self, name, grade):
        self.name = name
        self.grade = grade

    def __ge__(self, other):
        return self.grade >= other.grade

    def __lt__(self, other):
        return self.grade < other.grade

    def __eq__(self, other):
        return self.grade == other.grade

    def __ne__(self, other):
        return self.grade != other.grade

    def __repr__(self):
        return "Student({0}, {1})".format(self.name, self.grade)


def main():
    p1 = Student("Jane", 50)
    p2 = Student("Joe", 100)
    p3 = Student("Daniel", 70)
    p4 = Student("Daniel", 10)

    print("p1 >= p2:", p1 >= p2)
    print("p1 < p2:", p1 < p2)
    print("p1 == p2:", p1 == p2)
    print("p1 != p2:", p1 != p2)
    print("p1 <= p2:", p1 <= p2)

    students = sorted([p1, p2, p3, p4])
    print("students sorted:")
    for student in students:
        print(student)

if __name__ == "__main__":
    main()

p1 >= p2: False
p1 < p2: True
p1 == p2: False
p1 != p2: True
p1 <= p2: True
students sorted:
Student(Daniel, 10)
Student(Jane, 50)
Student(Daniel, 70)
Student(Joe, 100)

# Logging

In [18]:
import logging

extData = {'some_ext_data': 110}


def fnc():
    logging.debug("This is a debug-level log message", extra=extData)


def main():
    # formatters
    msg_frmt = "%(asctime)s: %(levelname)s: %(funcName)s Line:%(lineno)d extData:%(some_ext_data)d %(message)s"
    date_frmt = "%m/%d/%Y %I:%M:%S %p"

    # log config
    logging.basicConfig(filename="output.log",
                        level=logging.DEBUG,
                        filemode="a",
                        format=msg_frmt,
                        datefmt=date_frmt)

    logging.info("This is an info-level log message", extra=extData)
    logging.warning("This is a warning-level message", extra=extData)
    fnc()


if __name__ == "__main__":
    main()

WARNING:root:This is a warning-level message

# Comprehensions

In [19]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
new_list = []

# for loop
for x in fruits:
  if "a" in x:
    new_list.append(("fruit", x))
print(new_list)

# lambda
new_list = list(map(lambda e: ("fruit", e),
            filter(lambda e: "a" in e, fruits)))
print(new_list)

# comprehension
new_list = [("fruit", x) for x in fruits if "a" in x]
print(new_list)

[('fruit', 'apple'), ('fruit', 'banana'), ('fruit', 'mango')]
[('fruit', 'apple'), ('fruit', 'banana'), ('fruit', 'mango')]
[('fruit', 'apple'), ('fruit', 'banana'), ('fruit', 'mango')]

In [20]:
nums = [1, 8, 11, 125]

# Use a comprehension to build a dictionary
squares = {t: t*t for t in nums if t < 100}
print(squares)
print(squares[11])

# Merge two dictionaries with a comprehension
st1 = {"John": "A", "James": "B", "Jane": "A+"}
st2 = {"Heidi": "C", "Celine": "B+"}
stds= {k: v for team in (st1, st2) for k, v in team.items()}
print(stds)

{1: 1, 8: 64, 11: 121}
121
{'John': 'A', 'James': 'B', 'Jane': 'A+', 'Heidi': 'C', 'Celine': 'B+'}