[Reference](https://parthbpatel.medium.com/python-data-types-5a38f55ad8a6)

Text Type: str <br>
Numeric Types: int, float, complex <br>
Sequence Types: list, tuple, range <br>
Mapping Type: dict <br>
Set Types: set, frozenset <br>
Boolean Type: bool <br>
Binary Types: bytes, bytearray, memoryview <br>

In [1]:
a = 5
b = "hello"
c = 10.10
d = [1,2,3]
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'list'>

In [2]:
x = "Hello World" # to create str type
x = 20 # to create int type
x = 20.5 # to create float type
x = 1j # to create complex type
x = ["apple", "banana", "cherry"] # to create list type
x = ("apple", "banana", "cherry") # to create tuple type
x = range(6) # to create range type
x = {"name" : "John", "age" : 36} # to create dict type
x = {"apple", "banana", "cherry"} # to create set type
x = frozenset({"apple", "banana", "cherry"}) # to create frozenset type
x = True # to create bool type
x = b"Hello" # to create bytes type
x = bytearray(5) # to create bytearray type
x = memoryview(bytes(5)) # to create memoryview type

In [3]:
x = str("Hello World") # to create str type
x = int(20) # to create int type
x = float(20.5) # to create float type
x = complex(1j) # to create complex type
x = list(("apple", "banana", "cherry")) # to create list type
x = tuple(("apple", "banana", "cherry")) # to create tuple type
x = range(6) # to create range type
x = dict(name="John", age=36) # to create dict type
x = set(("apple", "banana", "cherry")) # to create set type
x = frozenset(("apple", "banana", "cherry")) # to create frozenset type
x = bool(5) # to create bool type
x = bytes(5) # to create bytes type
x = bytearray(5) # to create bytearray type
x = memoryview(bytes(5)) # to create memoryview type