[Reference](https://medium.com/geekculture/python-f-string-codes-i-use-every-day-e03558f12057?source=email-221e53167b31-1674668889210-digest.reader-9758482ba857-e03558f12057----3-98------------------4b9cb30c_f5c9_44ec_bd42_d875f8639540-1)

# Basic usage

In [1]:
author = "pawjast"
year = 2022

print(f"Example 1: {author}")  # string
print(f"Example 2: {year}")  # number
print(f"Example 3: {2 + 2}")  # expression

Example 1: pawjast
Example 2: 2022
Example 3: 4

In [2]:
text = "Data Science Blog"

print(f"{text=}")

text='Data Science Blog'

# Recap on numbers

In [3]:
int_1 = 1
int_with_separator = 1_000  # `int` with 1,000 separator
float_1 = 1.125
float_2 = 3.50
scientific_1 = 1.23e2  # 1.23 * 10^2

print(f"Example 1 - int: {int_1}")
print(f"Example 2 - int with _ as thousands separator: {int_with_separator}")
print(f"Example 3 - float: {float_1}")
print(f"Example 4 - float with trailing zero: {float_2}")
print(f"Example 5 - float in scientific notation: {scientific_1}")

Example 1 - int: 1
Example 2 - int with _ as thousands separator: 1000
Example 3 - float: 1.125
Example 4 - float with trailing zero: 3.5
Example 5 - float in scientific notation: 123.0

# Type f - floats

In [4]:
pi_val = 3.141592

print(f"Example 1: {pi_val:f}")
print(f"Example 2: {pi_val:.0f}")
print(f"Example 3: {pi_val:.1f}")
print(f"Example 4: {pi_val:.3f}")

Example 1: 3.141592
Example 2: 3
Example 3: 3.1
Example 4: 3.142

In [5]:
float_val = 1.5
precision = 3

print(f"{float_val:.{precision}f}")

1.500

# Type %

In [6]:
val = 0.5

print(f"Example 1: {val:%}")
print(f"Example 2: {val:.0%}")

Example 1: 50.000000%
Example 2: 50%

In [7]:
val = 1.255

print(f"Example 1: {val:.0%}")
print(f"Example 2: {val:.1%}")

Example 1: 125%
Example 2: 125.5%

# Type e/E - scientific notation

In [8]:
val = 1.23e3  # 1.23 * 10^3

print(f"Example 1: {val:e}")
print(f"Example 2: {val:E}")

Example 1: 1.230000e+03
Example 2: 1.230000E+03

In [9]:
# limited precision
val = 1.2345e3

print(f"{val:.2e}")

1.23e+03

In [10]:
# Printing regular number in scientific notation
val = 2022

print(f"{val:.3e}")

2.022e+03

# Type d - integers

In [11]:
val = 1

print(f"{val:d}")

1

In [12]:
# Printing thousands separator
int_1 = 1000
int_2 = 1000_000_000

print(f"{int_1:,d}")
print(f"{int_2:,d}")

1,000
1,000,000,000

# Type n - numbers

In [13]:
val_int = 1
val_float = 1.234
val_scient = 4.567e2

print(f"{val_int =: n}")
print(f"{val_float =: n}")
print(f"{val_scient =: n}")

val_int = 1
val_float = 1.234
val_scient = 456.7

In [14]:
val_float_1 = 1.234
val_float_2 = 20.234
val_float_3 = 123.456
print(f"{val_float_1 =: .2n}")  # prints as truncated float
print(f"{val_float_2 =: .2n}")  # prints as int
print(f"{val_float_3 =: .2n}")  # prints as scientific notation

val_float_1 = 1.2
val_float_2 = 20
val_float_3 = 1.2e+02

# Dates

In [15]:
from datetime import date, datetime

day = date(
    year=2022,
    month=9,
    day=1
)

print(f"{day}")

2022-09-01

In [16]:
# Recreate the default format
print(f"{day:%Y-%m-%d}")
print(f"{day:%Y/%m/%d}")  # use / as separator

2022-09-01
2022/09/01

In [17]:
# Turn month into text (short/long version)
print(f"{day:%Y %b %d}")
print(f"{day:%Y %B %d}")

2022 Sep 01
2022 September 01

In [18]:
# Re-use the same variable multiple times and in different formats
print(f"{day:%b or %B}?")
print(f"{day:%Y %Y %Y}")

Sep or September?
2022 2022 2022

In [19]:
print(f"{day:%Y %b %d (%A)}")

2022 Sep 01 (Thursday)

In [20]:
print(f"{day:%y.%m.%d}")

22.09.01

# Datetimes

In [21]:
day_and_time = datetime(
    year=2022,
    month=9,
    day=1,
    hour=17,
    minute=30,
    second=45
)
now = datetime.now()

print(f"{day_and_time}")
print(f"{now}")  # with microseconds

2022-09-01 17:30:45
2023-01-26 14:54:04.798325

In [22]:
# Recreate the default format:
print(f"{now:%Y-%m-%d %H:%M:%S.%f}")

2023-01-26 14:54:04.798325

In [23]:
type(f"{now:%Y-%m-%d %H:%M:%S.%f}")

str

In [24]:
# Recreate the default format and reduce precision on microseconds with slicing
print(f"{now:%Y-%m-%d %H:%M:%S.%f}"[:22])

2023-01-26 14:54:04.79

In [25]:
# Change 24hr format to 12hr format:
print(f"24hr: {day_and_time:%Y-%m-%d %H:%M:%S}")
print(f"12hr: {day_and_time:%Y-%m-%d %I:%M:%S}")
print(f"12hr with AM/PM: {day_and_time:%Y-%m-%d %I:%M:%S %p}")

24hr: 2022-09-01 17:30:45
12hr: 2022-09-01 05:30:45
12hr with AM/PM: 2022-09-01 05:30:45 PM

In [26]:
day = date(
    year=2018,
    month=9,
    day=17
)

print(f"The date: {day}")
print(f"Day of the year: {day: %j}")
print(f"Week of the year (Mon): {day: %W}")
print(f"Week of the year (Sun): {day: %U}")

The date: 2018-09-17
Day of the year:  260
Week of the year (Mon):  38
Week of the year (Sun):  37

# Padding

In [27]:
# Padding with empty space
val = 1

print(f"1: {val:1d}")
print(f"2: {val:2d}")
print(f"3: {val:3d}")

1: 1
2:  1
3:   1

In [28]:
# Padding with zeros
val = 1

print(f"1: {val:01d}")
print(f"2: {val:02d}")
print(f"3: {val:03d}")

1: 1
2: 01
3: 001

In [29]:
# Useful in loops
for i in range(11):
    print(f"{i:02d}")

00
01
02
03
04
05
06
07
08
09
10

# Sign: +, - or

In [30]:
positive = 1.23
negative = -1.23

print(f"1: {positive:+.2f}   {negative:+.2f}")
print(f"2: {positive:-.2f}   {negative:-.2f}")
print(f"3: {positive: .2f}   {negative: .2f}")

1: +1.23   -1.23
2: 1.23   -1.23
3:  1.23   -1.23

In [31]:
# print variable with name, limit precision and thousands separator
val = 11500.23456

print(f"{val = :,.3f}")

val = 11,500.235