[Reference](https://medium.com/@tubelwj/how-to-efficiently-store-data-using-hdf5-in-pandas-e884ea608322)

In [1]:
import pandas as pd

store = pd.HDFStore('example.h5',mode='w')
print(store)

<class 'pandas.io.pytables.HDFStore'>
File path: example.h5

In [2]:
import numpy as np

# create a series data object
s = pd.Series(np.random.randn(10),index=['1','2','3','4','5','6','7','8','9','10'])
print(s)

1     0.976726
2    -0.793165
3     1.526609
4    -1.369282
5     0.430611
6    -0.168730
7    -0.597328
8     0.278360
9    -0.121097
10   -0.461608
dtype: float64

In [4]:
# create a dataframe object
df = pd.DataFrame(np.random.randn(20, 3),
                 columns=['col-1', 'col-2', 'col-3'])
print(df)

       col-1     col-2     col-3
0  -1.137646  0.227373 -2.133855
1   0.042914 -1.811884 -0.519628
2  -0.825642  0.283054 -0.164526
3   1.055442 -0.472779  0.209853
4  -0.366718 -1.380333 -1.708436
5   0.563197  1.358584 -0.911532
6  -0.895523  1.856758 -0.002671
7  -0.550381 -0.901912  0.802584
8   0.992914  1.649688  0.797544
9  -0.049256 -0.026693  0.749874
10 -0.335003 -0.604986 -0.202995
11 -1.013000 -0.162675 -0.122958
12 -2.394313  0.203914 -0.355097
13  0.267504 -0.072416  0.751368
14  0.960970  2.013179 -0.829203
15 -0.419807  1.197628  0.802148
16 -0.602466 -1.545044  1.494019
17 -1.240532  1.334418  1.579872
18 -1.393093  1.714403 -2.760557
19  0.418806 -0.865781  0.891172

In [5]:
store['s'] = s
store['df'] = df

In [6]:
print(store.items)

In [7]:
print(store['df'])

       col-1     col-2     col-3
0  -1.137646  0.227373 -2.133855
1   0.042914 -1.811884 -0.519628
2  -0.825642  0.283054 -0.164526
3   1.055442 -0.472779  0.209853
4  -0.366718 -1.380333 -1.708436
5   0.563197  1.358584 -0.911532
6  -0.895523  1.856758 -0.002671
7  -0.550381 -0.901912  0.802584
8   0.992914  1.649688  0.797544
9  -0.049256 -0.026693  0.749874
10 -0.335003 -0.604986 -0.202995
11 -1.013000 -0.162675 -0.122958
12 -2.394313  0.203914 -0.355097
13  0.267504 -0.072416  0.751368
14  0.960970  2.013179 -0.829203
15 -0.419807  1.197628  0.802148
16 -0.602466 -1.545044  1.494019
17 -1.240532  1.334418  1.579872
18 -1.393093  1.714403 -2.760557
19  0.418806 -0.865781  0.891172

In [8]:
store.remove('s')

In [10]:
# Create a new DataFrame
df_ = pd.DataFrame(np.random.randn(8, 8))

# Export to an existing HDF5 file, a key must be specified here
df_.to_hdf(path_or_buf='example.h5', key='new_df_key')

# Create a store object to connect to the local example.h5 file for I/O operations
store = pd.HDFStore('example.h5')

# View all keys in the specified HDF5 file
print(store.keys())

['/df', '/new_df_key']

In [11]:
store = pd.HDFStore('example.h5')

# method 1
df1 = store['df']

# method 2
df2 = store.get('df')

print(df1 == df2)

    col-1  col-2  col-3
0    True   True   True
1    True   True   True
2    True   True   True
3    True   True   True
4    True   True   True
5    True   True   True
6    True   True   True
7    True   True   True
8    True   True   True
9    True   True   True
10   True   True   True
11   True   True   True
12   True   True   True
13   True   True   True
14   True   True   True
15   True   True   True
16   True   True   True
17   True   True   True
18   True   True   True
19   True   True   True

In [13]:
print(store.is_open)

True