[Reference](https://medium.com/swlh/python-list-comprehensions-vs-map-list-filter-functions-ebf0f8efe0e9)

# Map()

In [4]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def power_of_two(number):
    return number ** 2

worst_way_to_get_a_list_ever = list(map(power_of_two, numbers))

In [9]:
worst_way_to_get_a_list_ever

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# List Comprehension Version

In [5]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
def power_of_two(number):
    return number ** 2
omg_so_much_better = [power_of_two(number) for number in numbers]

In [8]:
omg_so_much_better

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Super Powers Version

In [6]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
def power_of_two(number):
    return number ** 2
    
def power_up_hero(name, value):
    return '{} now has power: {}'.format(name, power_of_two(value))

hero = 'Thor'
holy_smokes = [power_up_hero(hero, number) for number in numbers]

In [7]:
holy_smokes

['Thor now has power: 1',
 'Thor now has power: 4',
 'Thor now has power: 9',
 'Thor now has power: 16',
 'Thor now has power: 25',
 'Thor now has power: 36',
 'Thor now has power: 49',
 'Thor now has power: 64',
 'Thor now has power: 81',
 'Thor now has power: 100']

In [10]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
powers = [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

def power_of(number, power):
    return number ** power
    
not_bad = list(map(power_of, numbers, powers))

icky = [power_of(num, power) for num, power in zip(numbers, powers)]

In [11]:
not_bad

[1,
 4096,
 1594323,
 268435456,
 30517578125,
 2821109907456,
 232630513987207,
 18014398509481984,
 1350851717672992089,
 100000000000000000000]

In [12]:
icky

[1,
 4096,
 1594323,
 268435456,
 30517578125,
 2821109907456,
 232630513987207,
 18014398509481984,
 1350851717672992089,
 100000000000000000000]

# Filter()

In [13]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
def is_odd(number):
    return number % 2
gross = list(filter(is_odd, numbers))

In [14]:
gross

[1, 3, 5, 7, 9]

In [15]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
def is_odd(number):
    return number % 2
    
pretty = [number for number in numbers if is_odd(number)]

In [16]:
pretty

[1, 3, 5, 7, 9]

In [17]:
names = ['thor', 'ironman', 'spiderman']

def not_none(name):
    return name.upper()
    
bad_results = list(filter(not_none, names))

In [18]:
bad_results

['thor', 'ironman', 'spiderman']