[Reference](https://medium.com/analytics-vidhya/interesting-python-tips-and-tricks-6d033967b5a5)

# 1. Context Managers

```python
--------------------------------------------------------------
# Manually managing the resources
f = open('test.txt','r')
file = f.read()
f.close()
--------------------------------------------------------------
# Using with statement to manage the resources automaticallywith open('test.txt','r') as f:
   file = f.read()
--------------------------------------------------------------
```

# 2. Underscores in Numeric Literals

In [1]:
# grouping decimal numbers by thousands
amount = 10_000_000.0
amount

10000000.0

In [2]:
# same, for string conversions
flags = int('0b_1111_0000', 2)
flags

240

In [3]:
# grouping hexadecimal addresses by words
addr = 0xCAFE_F00D
addr

3405705229

# 3. Unpack a tuple / list / _  / *

In [4]:
t = (0, 1, 2)

a, b, c = t

print(a)
print(b)
print(c)

0
1
2

In [5]:
l = [0, 1, 2]

a, b, c = l

print(a)
print(b)
print(c)

0
1
2

In [6]:
t = (0, 1, (2, 3, 4))

a, b, c = t

print(a)
print(b)
print(c)

0
1
(2, 3, 4)

In [7]:
a, b, (c, d, e) = t

print(a)
print(b)
print(c)
print(d)
print(e)

0
1
2
3
4

In [8]:
t = (0, 1, 2)

a, b, _ = t

print(a)
print(b)
print(_)

0
1
2

In [9]:
t = (0, 1, 2, 3, 4)

a, b, *c = t

print(a)
print(b)
print(c)

0
1
[2, 3, 4]

In [10]:
a, *b, c = t

print(a)
print(b)
print(c)

0
[1, 2, 3]
4

In [11]:
print(a)
print(b)
print(c)

0
[1, 2, 3]
4

In [12]:
a, b, *_ = t

print(a)
print(b)
print(_)

0
1
[2, 3, 4]

In [13]:
a, b = t[0], t[1]

print(a)
print(b)

0
1

In [14]:
t = (0, 1, 2)

a, b, *c = t

print(a)
print(b)
print(c)

0
1
[2]

In [15]:
a, b, c, *d = t

print(a)
print(b)
print(c)
print(d)

0
1
2
[]

# 4. Use enumerate() and zip()

In [16]:
names = ['Alice', 'Bob', 'Charlie']
ages = [24, 50, 18]

for i, (name, age) in enumerate(zip(names, ages)):
    print(i, name, age)

0 Alice 24
1 Bob 50
2 Charlie 18

In [17]:
for i, t in enumerate(zip(names, ages)):
    print(i, t)

0 ('Alice', 24)
1 ('Bob', 50)
2 ('Charlie', 18)

In [18]:
for i, t in enumerate(zip(names, ages)):
    print(i, t[0], t[1])

0 Alice 24
1 Bob 50
2 Charlie 18

# 5. Get quotient and remainder with divmod() method

In [19]:
q = 10 // 3
mod = 10 % 3
print(q, mod)

3 1

In [20]:
q, mod = divmod(10, 3)
print(q, mod)

3 1

In [21]:
answer = divmod(10, 3)
print(answer)
print(answer[0], answer[1])

(3, 1)
3 1

# 6. random.shuffle() shuffles the original list

In [22]:
import random

l = list(range(5))
print(l)

[0, 1, 2, 3, 4]

In [23]:
random.shuffle(l)
print(l)

[1, 4, 0, 2, 3]

# 7. random.sample() returns a new shuffled list

In [24]:
l = list(range(5))
print(l)

[0, 1, 2, 3, 4]

In [26]:
lr = random.sample(l, len(l))
print(lr)

[2, 4, 0, 3, 1]

# 8. Shuffle strings and tuples

In [28]:
s = ['a','b','c','d','e']

In [29]:
sr = ''.join(random.sample(s, len(s)))
print(sr)

bcdea

In [31]:
t = (0,1,2,3,4)
tr = tuple(random.sample(t, len(l)))
print(tr)

(4, 1, 0, 2, 3)

# 9. Set a seed

In [32]:
random.seed(0)
l = list(range(5))
random.shuffle(l)
print(l)

[2, 1, 0, 4, 3]