[Reference](https://blog.devgenius.io/python-map-function-a-comprehensive-guide-for-data-transformations-f89417ab940c)

In [1]:
# Using the map() function to square each element of a list
numbers = [1, 2, 3, 4, 5]
squared_numbers = map(lambda x: x**2, numbers)
print(list(squared_numbers))

[1, 4, 9, 16, 25]

In [2]:
# Using the map() function with multiple iterables
numbers1 = [1, 2, 3, 4, 5]
numbers2 = [10, 20, 30, 40, 50]
result = map(lambda x, y: x + y, numbers1, numbers2)
print(list(result))

[11, 22, 33, 44, 55]

In [3]:
# Using the map() function with built-in functions
words = ['apple', 'banana', 'cherry']
lengths = map(len, words)
print(list(lengths))

[5, 6, 6]