[Reference](https://medium.com/@luuisotorres/mastering-linear-regression-with-statsmodels-95233a2a602e)

[Reference](https://medium.com/@techclaw/python-loop-dictionaries-6a998b5084c2)

In [1]:
my_dict = {"name": "John", "age": 30, "city": "New York"}

In [2]:
for key in my_dict:
    print(key, my_dict[key])

name John
age 30
city New York

In [3]:
my_dict = {"name": "John", "age": 30, "city": "New York"}

for key in my_dict.keys():
    print(key)

name
age
city

In [4]:
my_dict = {"name": "John", "age": 30, "city": "New York"}
for value in my_dict.values():
    print(value)

John
30
New York

In [5]:
my_dict = {"name": "John", "age": 30, "city": "New York"}
for key, value in my_dict.items():
    print(key, value)

name John
age 30
city New York

In [6]:
for key, value in my_dict.items():
    print(key, value)

name John
age 30
city New York

In [7]:
my_dict = {
    "person1": {"name": "John", "age": 30},
    "person2": {"name": "Jane", "age": 25},
}

In [8]:
for person, info in my_dict.items():
    print(f"{person}: {info['name']} is {info['age']} years old.")

person1: John is 30 years old.
person2: Jane is 25 years old.

In [9]:
my_dict = {"a": 1, "b": 2, "c": 3}

In [10]:
for key in list(my_dict.keys()):
    if my_dict[key] % 2 == 0:
        del my_dict[key]
print(my_dict)

{'a': 1, 'c': 3}