[Reference](https://towardsdatascience.com/python-tuple-the-whole-truth-and-only-the-truth-hello-tuple-12a7ab9dbd0d)

In [2]:
from pathlib import Path

ROOT = Path('__file__').resolve().parent

basic_names = [
    "file1",
    "file2",
    "file_miss_x56",
    "xyz_settings",
]
files = [
    Path(ROOT) / f"{name}.csv"
    for name in basic_names
]

In [3]:
basic_names = (
    "file1",
    "file2",
    "file_miss_x56",
    "xyz_settings",
)

In [4]:
x_tuple_1 = (1, 2, 3)
print(x_tuple_1)
x_tuple_2 = ([1, 2], 3)
print(x_tuple_2)

(1, 2, 3)
([1, 2], 3)

In [5]:
tuple((tuple(), tuple()))

((), ())

In [6]:
tuple([1, 2, 5])

(1, 2, 5)

In [7]:
tuple(i for i in range(5))

(0, 1, 2, 3, 4)

In [8]:
x_list = [1, 2, 3]
x_tuple = (1, 2, 3)
x_list[0] = 10
print(x_list)
x_tuple[0] = 10

[10, 2, 3]

TypeError: ignored

In [9]:
x_tuple = ([1, 2], 3)
x_tuple[0][0] = 10
x_tuple
x_tuple[1] = 10

TypeError: ignored

In [10]:
x = (1, 56, "string")
x = tuple(x**.5 for x in range(100))

In [11]:
x = 1, 56, "string"

In [12]:
x = {10, 20, 50},
x

({10, 20, 50},)

In [13]:
my_tuple = (1, 2, 3,)
a, b, c = my_tuple

In [14]:
x_tuple = ([1, 2], 3)
x, y = x_tuple
x

[1, 2]

In [16]:
x_tuple = (1, 2, 3, 4, 5)
a, b* = x_tuple
a

SyntaxError: ignored

In [17]:
b

2

In [19]:
*a, b = x_tuple
a

[[1, 2]]

In [20]:
a, *b, c = x_tuple
a

[1, 2]

In [21]:
b

[]

In [22]:
c

3

In [23]:
t = 1, 2, "a", "ty", 5, 5.1, 60
a, b, *_, c = t
a, b, c

(1, 2, 60)

In [26]:
from dataclasses import dataclass

@dataclass
class Rectangle:
    x: float
    y: float
    def area(self):
        return self.x * self.y
    def perimeter(self):
        return 2*self.x + 2*self.y
    def summarize(self):
        return self.area(), self.perimeter()
rect = Rectangle(20, 10)
rect

Rectangle(x=20, y=10)

In [27]:
rect.summarize()

(200, 60)

In [28]:
area = result[0]       # poor!
perimeter = result[1]  # poor!

NameError: ignored

In [29]:
area, perimeter = rect.summarize()
area

200

In [30]:
perimeter

60

In [31]:
from dataclasses import dataclass
KmSquare = float
@dataclass
class City:
    lat: float
    long: float
    population: int
    area: KmSquare
    def get_coordinates(self):
        return self.lat, self.long
Warsaw = City(52.2297, 21.0122, 1_765_000, 517.2)
lat, long = Warsaw.get_coordinates()
lat

52.2297

In [32]:
long

21.0122

In [33]:
cities = {
    "Warsaw": [(52.2297, 21.0122), 1_765_000, 517.2],
    "Prague": [(50.0755, 14.4378), 1_309_000, 496],
    "Bratislava": [(48.1486, 17.1077), 424_428_000, 367.6],
}

In [34]:
(lat, long), *rest = cities["Warsaw"]
lat

52.2297

In [35]:
long

21.0122

In [36]:
(lat, long), _, area = cities["Warsaw"]
lat, long, area

(52.2297, 21.0122, 517.2)

In [37]:
def foo(*args):
    return args
foo(50, 100)

(50, 100)

In [38]:
foo(50, "Zulu Gula", 100)

(50, 'Zulu Gula', 100)

In [39]:
a, *_, b = [i**2 for i in range(100)]
a, b

(0, 9801)

In [40]:
x = (i for i in range(10))
a, b, *c = x
c

[2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
x = (1, 2, 3)
y = ("a", "b", "c")
z = x + y
z

(1, 2, 3, 'a', 'b', 'c')

In [42]:
x = (1, 2, 3)
x * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [43]:
x = (1, 2, 3)
first_id = id(x)
y = ("a", "b", "c")
x += y
second_id = id(x)
first_id == second_id

False

In [44]:
x = (1, 2, 3)
x *= 3
x

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [45]:
x = (1, 2, 3)
1 in x
100 in x

False

In [46]:
y = ("a", "b", "c", "a", "a", "b", "C")
y.count("a")

3

In [47]:
y.count("b")

2

In [48]:
y[0]

'a'

In [49]:
y[4], y[5]

('a', 'b')

In [50]:
y = ("a", "b", "c", "a", "a", "b", "C")
print(y.index("a"))
print(y.index("b"))

0
1

In [51]:
y_iter = iter(y)
y_iter # doctest: +ELLIPSIS
next(y_iter)
next(y_iter)
for y_i in iter(y):
     print(y_i, end=" | ")

a | b | c | a | a | b | C |

In [52]:
import pickle
with open("x.pkl", "wb") as f:
    pickle.dump(x, f)
with open("x.pkl", "rb") as f: 
    x_unpickled = pickle.load(f)
x_unpickled

(1, 2, 3)