[Reference](https://pravash-techie.medium.com/python-going-beyond-basic-string-formatting-using-f-string-cba87ddb78fb)

In [2]:
name = "John"
age = 30
num_val = 10
print(f"My name is {name} and I am {age} years old.")
print(f"{age = }")
print(f"{num_val % 2 = }")

My name is John and I am 30 years old.
age = 30
num_val % 2 = 0

In [3]:
string = "Hi There 😁"
print(f"{string!a}")
print(f"{string!r}")
print(f"{string!s}")

'Hi There \U0001f601'
'Hi There 😁'
Hi There 😁

In [10]:
from datetime import datetime

val = 22.225
dt = datetime.utcnow()
print(f'{dt=:%Y-%m-%d}')
print(f'{val:.2f}')

dt=2023-03-22
22.23

In [11]:
class OwnClass:
    def __format__(self, format_type) -> str:
        print(f'OwnClass __format__ called with {format_type=!r}')
        return "OwnClass()"

print(f'{OwnClass():my formatting type %%MY_FORMAT%%}')

OwnClass __format__ called with format_type='my formatting type %%MY_FORMAT%%'
OwnClass()

In [12]:
sentence = '1 MB is equal to {:,.2f} bytes'.format(1000**2)
print(sentence)

1 MB is equal to 1,000,000.00 bytes

In [13]:
name = "John"
profession = "Artist"
place = "USA"
message = (
    f"Hi {name}. "
    f"Your profession is - {profession}. "
    f"And you are from {place}. "
)
print(message)

Hi John. Your profession is - Artist. And you are from USA.

In [15]:
age = 20
message = f"You are {'old' if age >= 18 else 'young'}" 
print(message) # Output: You are old

You are old

In [16]:
dct = {'a': 1, 'b': 2}
newline = "\n"  # \escapes are not allowed inside f-strings
print(f'{newline.join(f"{key}: {value}" for key, value in dct.items())}')

a: 1
b: 2

In [17]:
import timeit
print(timeit.timeit("""name = "Eric"; age = 74; '%s is %s.' % (name, age)""", number=10000))

0.0031964789999960885

In [18]:
import timeit
print(timeit.timeit("""name = "Eric"; age = 74; '{} is {}.'.format(name, age)""", number=10000))

0.018160649999970246

In [19]:
import timeit
print(timeit.timeit("""name = "Eric"; age = 74; '{name} is {age}.'""", number=10000))

0.0003518070000154694