[Reference](https://betterprogramming.pub/python-data-classes-196496c32d75)

In [1]:
from dataclasses import dataclass

@dataclass
class Fruit:
    name: str
    color: str
    weight: float

In [2]:
class Fruit:
    def __init__(self, name, color, weight):
        self.name = name
        self.color = color
        self.weight = weight

In [3]:
banana = Fruit("Banana", "Yellow", 0.2)
print(banana.color)

Yellow

In [4]:
from dataclasses import dataclass

@dataclass
class Fruit:
    name: str
    color: str
    weight: float

In [5]:
banana = Fruit("Banana", "Yellow", 0.1)
print(banana.color)

Yellow

In [6]:
class Fruit:
    def __init__(self, name, color, weight):
        self.name = name
        self.color = color
        self.weight = weight

In [7]:
banana = Fruit("Banana", "Yellow", 0.1)
print(repr(banana))

<__main__.Fruit object at 0x7fe6170efdf0>

In [8]:
class Fruit:
    def __init__(self, name, color, weight):
        self.name = name
        self.color = color
        self.weight = weight

    def __repr__(self):
        return f"Fruit(name='{self.name}', color='{self.color}', weight={self.weight})"

In [9]:
banana = Fruit("Banana", "Yellow", 0.1)
print(repr(banana))

Fruit(name='Banana', color='Yellow', weight=0.1)

In [10]:
class Fruit:
    def __init__(self, name, color, weight):
        self.name = name
        self.color = color
        self.weight = weight

    def __eq__(self, other):
        return self.name == other.name and self.color == other.color and self.weight == other.weight

In [12]:
fruit1 = Fruit("Banana", "Yellow", 0.1)
fruit2 = Fruit("Banana", "Yellow", 0.1)
print(fruit1 == fruit2)

True

In [13]:
from dataclasses import dataclass

@dataclass
class Fruit:
    name: str
    color: str
    weight: float

fruit1 = Fruit("Banana", "Yellow", 0.1)
fruit2 = Fruit("Banana", "Yellow", 0.1)

print(fruit1 == fruit2)

True

In [14]:
class Fruit:
    def __init__(self, name, color, weight):
        self.name = name
        self.color = color
        self.weight = weight

    def __eq__(self, other):
        return self.weight == other.weight

    def __ne__(self, other):
        return self.weight != other.weight

    def __lt__(self, other):
        return self.weight < other.weight

    def __gt__(self, other):
        return self.weight > other.weight

    def __le__(self, other):
        return self.weight <= other.weight

    def __ge__(self, other):
        return self.weight >= other.weight

In [15]:
banana = Fruit("Banana", "Yellow", 0.1)
apple = Fruit("Apple", "Red", 0.2)

print("banana < apple: ", banana < apple)
print("banana > apple: ", banana > apple)

print("banana <= apple: ", banana <= apple)
print("banana >= apple: ", banana >= apple)

print("banana == apple: ", banana == apple)
print("banana != apple: ", banana != apple)

banana < apple:  True
banana > apple:  False
banana <= apple:  True
banana >= apple:  False
banana == apple:  False
banana != apple:  True

In [16]:
from dataclasses import dataclass, field

@dataclass(order=True)
class Fruit:
    name: str = field(compare=False)
    color: str = field(compare=False)
    weight: float = field(compare=True)

In [17]:
banana = Fruit("Banana", "Yellow", 0.1)
apple = Fruit("Apple", "Red", 0.2)

print("banana < apple: ", banana < apple)
print("banana > apple: ", banana > apple)

print("banana <= apple: ", banana <= apple)
print("banana >= apple: ", banana >= apple)

print("banana == apple: ", banana == apple)
print("banana != apple: ", banana != apple)

banana < apple:  True
banana > apple:  False
banana <= apple:  True
banana >= apple:  False
banana == apple:  False
banana != apple:  True

In [18]:
class Fruit:
    def __init__(self, name, color, weight):
        self.name = name
        self.color = color
        self.weight = weight

    def __eq__(self, other):
        return self.name == other.name and self.color == other.color and self.weight == other.weight

    def __hash__(self):
        return hash((self.name, self.color, self.weight))

In [20]:
fruit1 = Fruit("Banana", "Yellow", 0.1)
fruit2 = Fruit("Banana", "Yellow", 0.1)
fruit3 = Fruit("Banana", "Brown", 0.2)

print(hash(fruit1))
print(hash(fruit2))
print(hash(fruit3))

-8820684721072581513
-8820684721072581513
-6082302777832065492

In [21]:
from dataclasses import dataclass

@dataclass(unsafe_hash=True)
class Fruit:
    name: str
    color: str
    weight: float

In [23]:
fruit1 = Fruit("Banana", "Yellow", 0.1)
fruit2 = Fruit("Banana", "Yellow", 0.1)
fruit3 = Fruit("Banana", "Brown", 0.2)

print(hash(fruit1))
print(hash(fruit2))
print(hash(fruit3))

-8820684721072581513
-8820684721072581513
-6082302777832065492

In [24]:
class Fruit:
    def __init__(self, name="Apple", color="Green", weight=0.1):
        self.name = name
        self.color = color
        self.weight = weight

In [25]:
apple = Fruit()
banana = Fruit("Banana", "Yellow", 0.1)

print(apple.name)
print(banana.name)

Apple
Banana

In [26]:
from dataclasses import dataclass

@dataclass
class Fruit:
    name: str = "Apple"
    color: str = "Green"
    weight: float = 0.1

apple = Fruit()
banana = Fruit("Banana", "Yellow", 0.1)

print(apple.name)
print(banana.name)

Apple
Banana

In [27]:
from dataclasses import dataclass

@dataclass
class Fruit:
    name: str
    color: str
    weight: float

    def __post_init__(self):
        self.info = f"This is a {self.color} {self.name} that weighs {self.weight} kilos"

In [28]:
banana = Fruit("Banana", "Yellow", 0.1)
print(banana.info)

This is a Yellow Banana that weighs 0.1 kilos

In [30]:
from dataclasses import dataclass

@dataclass(frozen=True)
class Fruit:
    name: str
    color: str
    weight: float

In [31]:
banana = Fruit("Banana", "Yellow", 0.1)
banana.name = "Apple"

FrozenInstanceError: ignored

In [32]:
from dataclasses import dataclass, astuple, asdict

@dataclass
class Fruit:
    name: str
    color: str
    weight: float

banana = Fruit("Banana", "Yellow", 0.1)

banana_tuple = astuple(banana)
print(banana_tuple)

banana_dict = asdict(banana)
print(banana_dict)

('Banana', 'Yellow', 0.1)
{'name': 'Banana', 'color': 'Yellow', 'weight': 0.1}