[Reference](https://medium.com/swlh/must-know-python-tips-tricks-in-2021-feb3dc25da8)

In [2]:
nums = [3, 4, 6, 10]
reversed = nums[::-1]
print(reversed)  # prints [10, 6, 4, 3]

[10, 6, 4, 3]

In [3]:
sentence = "How are you"
word_list = sentence.split()

print(word_list)  # prints ['How', 'are', 'you']

['How', 'are', 'you']

In [4]:
words = ['How', 'are', 'you']
sentence = (" ".join(words))
print(sentence) #prints How are you

How are you

In [5]:
import itertools
nums = [[4, 5], [6, 7], [11]]
flat_nums = list(itertools.chain.from_iterable(nums))
print(flat_nums) #prints [4, 5, 6, 7, 11]

[4, 5, 6, 7, 11]

In [6]:
nums = [3, 4, 6, 10, 10, 3, 3, 3]
mode = max(set(nums), key=nums.count) # mode = most frequent element
print(mode) #prints 3

3

In [7]:
nums = [1, 2, 3, 4, 5, 6, 7, 8]

divisible_by_two = []
for number in nums:
    if number % 2 == 0:
        divisible_by_two.append(number)
        
print(divisible_by_two) #prints [2, 4, 6, 8]

[2, 4, 6, 8]

In [8]:
nums = [1, 2, 3, 4, 5, 6, 7, 8]
divisible_by_two = [number for number in nums if number % 2 == 0]

print(divisible_by_two) #prints [2, 4, 6, 8]

[2, 4, 6, 8]

In [9]:
zeros = [0] * 1000

In [10]:
def func(*args):
    for arg in args:
        print(arg)

func(1)                       # prints 1
func('test', 2)               # prints test, 2
func(10, [2.71, 3.14], 'hi')  # prints [2.71, 3.14] hi

1
test
2
10
[2.71, 3.14]
hi

In [11]:
def func(**kwargs):
    for key, value in kwargs.items():
        print ('%s = %s' % (key, value))
        
func(var1='This', var2='is', var3='test')

var1 = This
var2 = is
var3 = test

In [12]:
def greet(who='you'):
    print('Hello, {}.'.format(who))
    
greet()
greet('Charlie')

Hello, you.
Hello, Charlie.

In [13]:
word = "Test"
reversed = word[::-1]

print(reversed) #prints tseT

tseT

In [14]:
a = 1
b = 2
c = 3

print(a < b < c) # prints True

True

In [15]:
x, y = 1, 2 #x=1, y=2
x, y = y, x #x=2, y=1

print(x, y) #prints 2 1

2 1