[Reference](https://medium.com/swlh/how-to-use-python-dictionaries-19c003afa65f)

In [1]:
# Create an empty dictionary
d = {}
print(d)

{}

In [2]:
# Add some key:value pairs to d
d["one"] = 1
d[2] = "two"
d["three"]= [1.1,2.22,3.333]
d[4] = {"cat": "dog", 555: "3 fives"}
print(d)

{'one': 1, 2: 'two', 'three': [1.1, 2.22, 3.333], 4: {'cat': 'dog', 555: '3 fives'}}

In [3]:
print(d.keys())

dict_keys(['one', 2, 'three', 4])

In [4]:
print(d.values())

dict_values([1, 'two', [1.1, 2.22, 3.333], {'cat': 'dog', 555: '3 fives'}])

In [5]:
val = d["three"]
val2 = d["three"][1]
print(type(val), type(val2))
print(val, val2)

<class 'list'> <class 'float'>
[1.1, 2.22, 3.333] 2.22

In [6]:
val3 = d["three"][1]
print(val3)

2.22

In [8]:
val4 = d[4]
val5 = d[4][555]
print(type(val4), type(val5))
print(val4, val5)

<class 'dict'> <class 'str'>
{'cat': 'dog', 555: '3 fives'} 3 fives

In [9]:
val6 = d[4][555]
print(val6)

3 fives

In [10]:
print(d.get("one"))

1

In [11]:
print(d.items())

dict_items([('one', 1), (2, 'two'), ('three', [1.1, 2.22, 3.333]), (4, {'cat': 'dog', 555: '3 fives'})])

In [12]:
print(d.pop("one"))

1

In [13]:
print(d.popitem())

(4, {'cat': 'dog', 555: '3 fives'})

In [14]:
print(d.setdefault("pie")) # default value is None if not specified
print(d.setdefault(2))

None
two

In [15]:
d2 = {
      "hot": "cold", 
      "three": 3 
     }
     
d.update(d2)
print(d)

{2: 'two', 'three': 3, 'pie': None, 'hot': 'cold'}

In [16]:
d.clear()
print(d)

{}

# Dictionary Comprehension

In [28]:
d = {chr(65+x):x for x in range(10)}
print(d)

{'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 5, 'G': 6, 'H': 7, 'I': 8, 'J': 9}

In [29]:
d = {k:v+1 for (k,v) in d.items()}
print(d)

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6, 'G': 7, 'H': 8, 'I': 9, 'J': 10}

In [30]:
d = {k:v if v%2==0 else v+5 for (k,v) in d.items()}
print(d)

{'A': 6, 'B': 2, 'C': 8, 'D': 4, 'E': 10, 'F': 6, 'G': 12, 'H': 8, 'I': 14, 'J': 10}

In [31]:
d = {k:[x for x in range(v)] for (k,v) in d.items()}
print(d)

{'A': [0, 1, 2, 3, 4, 5], 'B': [0, 1], 'C': [0, 1, 2, 3, 4, 5, 6, 7], 'D': [0, 1, 2, 3], 'E': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 'F': [0, 1, 2, 3, 4, 5], 'G': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], 'H': [0, 1, 2, 3, 4, 5, 6, 7], 'I': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], 'J': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]}

In [32]:
d = {k+"1":[x+10 if x%3 == 0 else "X" for x in v] for (k,v) in d.items()}

print(d)

{'A1': [10, 'X', 'X', 13, 'X', 'X'], 'B1': [10, 'X'], 'C1': [10, 'X', 'X', 13, 'X', 'X', 16, 'X'], 'D1': [10, 'X', 'X', 13], 'E1': [10, 'X', 'X', 13, 'X', 'X', 16, 'X', 'X', 19], 'F1': [10, 'X', 'X', 13, 'X', 'X'], 'G1': [10, 'X', 'X', 13, 'X', 'X', 16, 'X', 'X', 19, 'X', 'X'], 'H1': [10, 'X', 'X', 13, 'X', 'X', 16, 'X'], 'I1': [10, 'X', 'X', 13, 'X', 'X', 16, 'X', 'X', 19, 'X', 'X', 22, 'X'], 'J1': [10, 'X', 'X', 13, 'X', 'X', 16, 'X', 'X', 19]}

# Dictionary Iteration

In [23]:
%%time
# Iterate through the dictionary and add 3.14 else add "-ray"
for k, v in d.items():
    for x in range(len(v)):
        if type(v[x]) == int:
            d[k][x] = v[x] + 3.14 
        else:
            d[k][x] = v[x]+"-ray"

CPU times: user 34 µs, sys: 8 µs, total: 42 µs
Wall time: 44.3 µs

In [33]:
%%time
# Perform the same task as above except using a comprehension
d = {k:[x+3.14 if type(x)==int else x+"-ray" for x in v] for (k,v) in d.items()}

CPU times: user 32 µs, sys: 7 µs, total: 39 µs
Wall time: 43.4 µs