[Reference](https://datageeks.medium.com/python-lambda-functions-explained-e184df8e1fb6)

In [1]:
def combine_str(x,y):
       return f"{x} {y}"

In [2]:
combine_str('branden','Love Python')

'branden Love Python'

In [3]:
(lambda x,y:f"{x} {y}")('branden','Love Python')

'branden Love Python'

In [4]:
combine_str = lambda x,y:f"{x} {y}"
type(combine_str)
combine_str('branden','Love Python')

'branden Love Python'

In [5]:
(lambda x:x+10)(5)
(lambda x:['even' if i%2==0 else 'odd' for i in x])([1,2,3,4])

['odd', 'even', 'odd', 'even']

In [6]:
def multiplier(y):
       return lambda x:x*y
#call the above function with argument 10
#and store the return value in the 'output' variable
output=multiplier(10)
output(12)

120

In [7]:
def square_int(arg1):
       return arg1*arg1
       """Create a lambda function which takes an integer and a function as arguments and returns the addition of the argument with the return value from the passed function. In below example arguments are 6 and square_int (function)"""
(lambda x,function:x+function(x))(6,square_int)

42

In [8]:
import pandas as pd
# creating and initializing a list
values= [[10,20],[11,21],[30,21]]
# creating a pandas dataframe
df = pd.DataFrame(values,columns=['col1','col2'])
# Applying lambda function to add
# the values of col1 and col2
# df.assign()
df =df.assign(total = lambda x:x['col1'] + x['col2'])
df

   col1  col2  total
0    10    20     30
1    11    21     32
2    30    21     51