[Reference](https://medium.com/cgnal-tech/python-3-tips-and-best-practices-58b095affbc1)

# 1. Do not use dynamic default arguments

In [1]:
from datetime import datetime
from time import sleep
 
def print_time(when: datetime = datetime.now()):
    print(f'This function was called at: {when}')

print_time()
sleep(0.5)
print_time()

This function was called at: 2021-08-26 13:17:15.847442
This function was called at: 2021-08-26 13:17:15.847442

In [2]:
from typing import Optional 

def print_time(when: Optional[datetime] = None):
   if when is None:
       when = datetime.now()
   print(f'This function was called at: {when}')
   
print_time()
sleep(0.5)
print_time()

This function was called at: 2021-08-26 13:20:17.550484
This function was called at: 2021-08-26 13:20:18.051358

In [4]:
from typing import List

def foo(element: float, data: List[float] = []) -> List:
    data.append(element)
    return data
    
foo(5)

[5]

In [5]:
foo(5)

[5, 5]

In [6]:
foo(5)

[5, 5, 5]

In [7]:
from typing import List, Optional

def foo(element: float, data: Optional[List] = None) -> List:
    if data is None:
        data = []
    data.append(element)
    return data
    
foo(5)

[5]

In [8]:
foo(5)

[5]

In [9]:
from typing import List, Optional

def foo(element: float, data: Optional[List] = None) -> List:
    if data is None:
        data = []
    data.append(element)
    return data
    
my_list = [1, 2, 3]
    
foo(5, my_list)

[1, 2, 3, 5]

In [10]:
print(my_list)

[1, 2, 3, 5]

In [11]:
from typing import List, Optional

def foo(element: float, data: Optional[List] = None) -> List:
    if data is None:
        new_data = []
    else:
        new_data = data.copy() #or data[:] or list(data)
    new_data.append(element)
    return new_data
    
my_list = [1, 2, 3]

foo(5, my_list)

[1, 2, 3, 5]

In [12]:
print(my_list)

[1, 2, 3]

In [13]:
from typing import List, Optional

def foo(element: float, data: Optional[List] = None) -> List:
    return (data if data is not None else []) + [element]
    
my_list = [1, 2, 3]

foo(5, my_list)

[1, 2, 3, 5]

# 2. Donâ€™t repeat yourself

In [15]:
ingredients = {'egg': 7, 'chocolate': 200}

In [16]:
n_egg = ingredients.get("egg", 0)
n_ch = ingredients.get("chocolate", 0)
if n_egg>=5 and n_ch>=150:
    print(f"You have {n_egg} eggs and {n_ch}g chocolate. Make a cake!")
else:
    print("Out of stock")

You have 7 eggs and 200g chocolate. Make a cake!

In [18]:
if (n_egg:=ingredients.get("egg", 0))>=5 and (n_ch:=ingredients.get("chocolate", 0))>=150:
    print(f"You have {n_egg} eggs and {n_ch}g chocolate. Make a cake!")
else:
    print("Out of stock")

In [19]:
tenth_ingredients = {}
for i, cnt in ingredients.items():
    tenth = cnt//10
    if tenth>0:
         tenth_ingredients[i] = tenth

In [21]:
{i: tenth for i, cnt in ingredients.items() if (tenth := cnt//10)>0}

In [22]:
ingredients = ['apple', 'chocolate', 'sugar']
print([(last := i) for i in ingredients])
print(f'Last ingredient is {last}')

In [23]:
print([i for i in ingredients])
print(i)

# 3. Be aware of different formatting styles

In [24]:
key = 'my_variable'
value = 0.1234
formatted = '%s = %.2f' % (key, value)
print(formatted)

my_variable = 0.12

In [25]:
formatted = '%s = %.2f' % (value, key)
print(formatted)

TypeError: ignored

In [26]:
name = 'Giovanni'
formatted = '%s goes to school. %s studies math.' % (name, name)
print(formatted)

Giovanni goes to school. Giovanni studies math.

In [27]:
key = 'my_variable'
value = 0.1234
formatted = '%(key)s = %(value).2f' % {'key': key, 'value': value}
print(formatted)

my_variable = 0.12

In [28]:
name = 'Giovanni'
formatted = '%(name)s goes to school. %(name)s studies math.' % {'name': name}
print(formatted)

Giovanni goes to school. Giovanni studies math.

In [29]:
key = 'my_variable'
value = 0.1234
formatted = '{} = {:.2f}'.format(key, value)
print(formatted)

my_variable = 0.12

In [30]:
key = 'my_variable'
value = 0.1234
formatted = '{1} = {0}'.format(key, value)
print(formatted)

0.1234 = my_variable

In [31]:
name = 'Giovanni'
formatted = '{0} goes to school. {0} studies math.'.format(name)
print(formatted)

Giovanni goes to school. Giovanni studies math.

In [32]:
key = 'my_variable'
value = 0.1234
formatted = f'{key} = {value:.2f}'
print(formatted)

my_variable = 0.12

In [33]:
fridge = {'tomatoes': 10.00, 'eggs': 5.00, 'avocados': 1.5}

# c-style
for i, (item, count) in enumerate(fridge.items()):
   print('#%d: %-10s = %d' % (i+1, item.title(), round(count)))
   
# c-style with dictionary
for i, (item, count) in enumerate(fridge.items()):
   print('#%(i)d: %(item)-10s = %(count)d' % {'i': i+1, 
         'item': item.title(), 'count': round(count)})
   
#str format
for i, (item, count) in enumerate(fridge.items()):
   print('#{:d}: {:10s} = {:d}'.format(i+1, item.title(), round(count)))
   
# f-string
for i, (item, count) in enumerate(fridge.items()):
   print(f'#{i+1}: {item.title():<10s} = {round(count)}')

#1: Tomatoes   = 10
#2: Eggs       = 5
#3: Avocados   = 2
#1: Tomatoes   = 10
#2: Eggs       = 5
#3: Avocados   = 2
#1: Tomatoes   = 10
#2: Eggs       = 5
#3: Avocados   = 2
#1: Tomatoes   = 10
#2: Eggs       = 5
#3: Avocados   = 2