[Referenc](https://medium.com/better-programming/a-complete-guide-to-the-python-range-function-d59d5209b14)

In [1]:
print("Getting a sequence of numbers between 0 and 10")
for i in range(10):
    print(i, end =' ')

Getting a sequence of numbers between 0 and 10
0 1 2 3 4 5 6 7 8 9

In [2]:
# Print first 10 numbers starting at 0
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [3]:
# Print integers starting at 1 and ending before 5
for i in range(1, 5):
    print(i, end=' ')

1 2 3 4

In [4]:
for i in range(4, 15, 3):
    print(i, end=' ')

4 7 10 13

In [5]:
for i in range(2, 20, 2):
    print(i, end=' ')

2 4 6 8 10 12 14 16 18

In [6]:
print(type(range(10)))

<class 'range'>

In [7]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [8]:
def float_range(start, stop, stepsize):
    val = start
    while val<stop:
        yield val
        val += stepsize

In [9]:
print(list(float_range(1,10,0.5)))

[1, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5, 8.0, 8.5, 9.0, 9.5]

In [10]:
fruits = ['apple', 'orange', 'banana', 'melon']
for i in range(len(fruits)):
    print(fruits[i], end=' ')

apple orange banana melon

In [11]:
for i in range(5, 0, -1):
    print(i, end=' ')

5 4 3 2 1

In [12]:
# Reversed range
for i in reversed(range(0, 5)):
    print(i, end=' ')

4 3 2 1 0

In [13]:
for i in range(-1, -10, -1):
    print(i, end=' ')

-1 -2 -3 -4 -5 -6 -7 -8 -9

In [14]:
A = range(1,10)[5]

In [15]:
from itertools import chain
res = chain(range(5), range(10))
for i in res:
    print(i, end=' ')

0 1 2 3 4 0 1 2 3 4 5 6 7 8 9