[Reference](https://macxima.medium.com/python-finding-the-index-of-an-item-in-a-list-dd23df7e20c5)

In [1]:
# list of items
MyList = ['Mango', 'Orange', 'Banana', 'Apple', 'Grapes', 'Apple']

#searchable item value
SeachItem='Apple'

#store matching values through enumerate into a list comprehension
indexes = [n for n, x in enumerate(MyList) if x==SeachItem]

#matching indexed value
indexes

[3, 5]

In [2]:
# pandas library for data manipulation in python
import pandas as pd

# list of items
MyList = ['Mango', 'Orange', 'Banana', 'Apple', 'Grapes', 'Apple']

#convert list into series variable
series = pd.Series(MyList)
#values in series variable 
series

0     Mango
1    Orange
2    Banana
3     Apple
4    Grapes
5     Apple
dtype: object

In [3]:
#searchable item value
SeachItem='Apple'

#comparison check
series == SeachItem

0    False
1    False
2    False
3     True
4    False
5     True
dtype: bool

In [4]:
series[series == SeachItem]

3    Apple
5    Apple
dtype: object

In [5]:
#list or tuple
list(series[series == SeachItem].index)

[3, 5]

In [6]:
# list of items
MyList = ['Mango', 'Orange', 'Banana', 'Apple', 'Grapes', 'Apple']

#searchable item valie
SeachItem='Apple'

# converting a list comprehension
mlist = enumerate(MyList)

#for loop
for index, item in mlist:
    if item == SeachItem:
        print(index, item)

3 Apple
5 Apple