[Reference](https://python.plainenglish.io/python-7-mind-blowing-use-cases-of-the-lambda-function-3bb896f866af)

# The Sort Method

In [1]:
li = [23, 56, 89, 32, 12]
li.sort(key=lambda x: str(x)[1])
print(li)

[32, 12, 23, 56, 89]

# The Max Function

In [2]:
li = [1, 0, -1, 2, -3]
print(max(li, key=lambda x: abs(x)))

-3

# The Min Function

In [3]:
li = [1, 2, 3, 4, 5]
print(min(li, key=lambda x: -x))

5

# The Filter Class

In [4]:
li = ['bat', 'tip', 'cat', 'pet']
fr = filter(lambda x: x[1] == 'a', li)
print(list(fr))

['bat', 'cat']

# The Map Class

In [5]:
li = [4, 8, 3, 2, 9]
mp = map(lambda x: x ** 3, li)
print(list(mp))

[64, 512, 27, 8, 729]

# The Reduce Function

In [6]:
from functools import reduce

li = [5, 7, 3, 4, 6]
re = reduce(lambda x, y: x * y, li)
print(re)

2520

# The Sorted Function

In [7]:
li = [59, 38, 81, 66, 43]
so = sorted(li, key=lambda x: str(x)[::-1])
print(so)

[81, 43, 66, 38, 59]