[Reference](https://gaurav-patil21.medium.com/tutorial-3-regular-expressions-in-python-using-regex-metacharacters-6bdaaefadb87)

# 1. metacharacter ‘ ? ’

In [2]:
import re
text = '''Those who live in India: singular - Indian, plural - Indians.
          West-Indies is altogether different. '''

regex_code = re.compile(r'India?')
print(regex_code.findall(text))

['India', 'India', 'India', 'Indi']

In [3]:
import re
text = '''Those who live in India: singular - Indian, plural - Indians.
          West-Indies is altogether different. '''

regex_code = re.compile(r'India\w?')
print(regex_code.findall(text))

['India', 'Indian', 'Indian']

In [4]:
text = 'Vehicle codes for cities are MH, MH1, KA6, MH12, MH4, TN2, B12, MH123'
print(re.findall(r'MH\d?',text))

['MH', 'MH1', 'MH1', 'MH4', 'MH1']

In [5]:
text = 'A name catalogue of students : Branden Amy Ash David'
print(re.findall(r'A\w?',text))

['A', 'Am', 'As']

In [6]:
text = 'an art is awesome'
print(re.findall(r'ar?t',text))

['art']

# 2. metacharacter ‘ * ‘

In [7]:
import re
text = 'Vehicle codes for cities are MH, MH1, KA6, MH12, MH4, TN2, B12, MH123'
print(re.findall(r'MH\d*',text))

['MH', 'MH1', 'MH12', 'MH4', 'MH123']

In [8]:
text = 'A name catalogue of students : Branden Amy Ash David'
print(re.findall(r'A\w*',text))

['A', 'Amy', 'Ash']

# 3. metacharacter ‘ + ’

In [9]:
import re
text = 'Vehicle codes for cities are MH, MH1, KA6, MH12, MH4, TN2, B12, MH123'
print(re.findall(r'MH\d+',text))

['MH1', 'MH12', 'MH4', 'MH123']

In [10]:
text = 'A name catalogue of students : Branden Amy Ash David'
print(re.findall(r'A\w+',text))

['Amy', 'Ash']

# 4. metacharacter ‘ . ‘ (dot)

In [11]:
import re
text = 'Hello world!'
print(re.findall(r'.', text))

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', '!']

In [13]:
import re
text = 'Hello world!'
print(re.sub(r'.', '#', text))

############