[Reference](https://medium.com/@arsalan_zafar/slicing-and-dicing-data-in-pandas-712f5d41572f)

In [1]:
import pandas as pd

In [2]:
series_1 = pd.Series([2,3,4,5,6])
series_1

0    2
1    3
2    4
3    5
4    6
dtype: int64

In [3]:
series_1[3]

5

In [4]:
sale = pd.Series([500,85000,40000,9600,100000],index = ['Cookie', 'Choco', 'Toothpaste', 'Soap', 'Toffee'])
sale

Cookie           500
Choco          85000
Toothpaste     40000
Soap            9600
Toffee        100000
dtype: int64

In [5]:
sale['Toffee']

100000

In [6]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],'year': [2000, 2001, 2002, 2001, 2002, 2003],'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
data = pd.DataFrame(data)
data

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [7]:
data.state

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
5    Nevada
Name: state, dtype: object