[Reference](https://python.plainenglish.io/how-to-sort-different-data-types-in-python-640427a637ce)

In [1]:
lst = [9, 2, 1, 6, 4, 5, 7, 8, 3]

lst.sort()

print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
lst = [9, 2, 1, 6, 4, 5, 7, 8, 3]

sorted_lst = sorted(lst)

print(f'Sorted list: {sorted_lst}')
print(f'Original list: {lst}')

Sorted list: [1, 2, 3, 4, 5, 6, 7, 8, 9]
Original list: [9, 2, 1, 6, 4, 5, 7, 8, 3]

In [3]:
lst = [9, 2, 1, 6, 4, 5, 7, 8, 3]

print(lst.sort())

None

In [4]:
lst = [9, 2, 1, 6, 4, 5, 7, 8, 3]

sorted_lst = sorted(lst, reverse=True)

print(sorted_lst)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [5]:
tup = (9, 2, 1, 6, 4, 5, 7, 8, 3)

tup.sort()

AttributeError: ignored

In [6]:
tup = (9, 2, 1, 6, 4, 5, 7, 8, 3)

sorted_tup = sorted(tup)

print(sorted_tup)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
tup = (9, 2, 1, 6, 4, 5, 7, 8, 3)

sorted_tup = sorted(tup)

print(type(sorted_tup))

<class 'list'>

In [8]:
tup = (9, 2, 1, 6, 4, 5, 7, 8, 3)

sorted_tup = tuple(sorted(tup))

print(type(sorted_tup))
print(sorted_tup)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [9]:
tup = (9, 2, 1, 6, 4, 5, 7, 8, 3)

sorted_tup = tuple(sorted(tup, reverse=True))

print(sorted_tup)

(9, 8, 7, 6, 5, 4, 3, 2, 1)

In [10]:
dct = {
    'Tom': 33,
    'Harry': 23,
    'Ron': 87,
    'John': 13
}

sorted_dct = sorted(dct)

print(sorted_dct)

['Harry', 'John', 'Ron', 'Tom']

In [11]:
dct = {
    'Tom': 33,
    'Harry': 23,
    'Ron': 87,
    'John': 13
}

sorted_dct = sorted(dct.items())

print(sorted_dct)

[('Harry', 23), ('John', 13), ('Ron', 87), ('Tom', 33)]

In [12]:
dct = {
    'Tom': 33,
    'Harry': 23,
    'Ron': 87,
    'John': 13
}

sorted_dct = sorted(dct.items(), key=lambda x: x[1])

print(sorted_dct)

[('John', 13), ('Harry', 23), ('Tom', 33), ('Ron', 87)]

In [13]:
dct = {
    'Tom': 33,
    'Harry': 23,
    'Ron': 87,
    'John': 13
}

sorted_dct = sorted(dct.items(), key=lambda x: x[0])

print(sorted_dct)

[('Harry', 23), ('John', 13), ('Ron', 87), ('Tom', 33)]