[Reference](https://medium.com/@noah.samuel.harrison/stop-looping-through-rows-in-pandas-dataframes-9375dde3410b)

In [1]:
import pandas as pd

df = pd.DataFrame({"old_column": [0,1,2,3,4,5]})
print(df)

   old_column
0           0
1           1
2           2
3           3
4           4
5           5

In [2]:
# Loop version
df["new_column"] = [v*3 for v in df["old_column"]]
# Vector version
df["new_column"] = df["new_column"]*3
print(df)

   old_column  new_column
0           0           0
1           1           9
2           2          18
3           3          27
4           4          36
5           5          45

In [4]:
def scale_conditions(x):
    # example function
    if x > 10:
        return x/3
    else:
        return x*3

In [ ]:
# Loop version
df["scale_column"] = [scale_conditions(v) in df["new_column"]]
# Pandas version
df["scale_column"] = df["new_column"].apply(scale_conditions)
print(df)

In [5]:
# Loop version
df["conditioned"] = [1 if v%2 == 0 else 0 for v in df["old_column"]]
# Pandas version
df["conditioned"] = 0
df.loc[df["conditioned"] % 2 ==0, 'conditioned']=1
print(df)

   old_column  new_column  conditioned
0           0           0            1
1           1           9            1
2           2          18            1
3           3          27            1
4           4          36            1
5           5          45            1

In [7]:
import numpy as np
# numpy version
df["conditioned"] = np.where(df["old_column"] % 2 == 0, 1, 0)
print(df)

   old_column  new_column  conditioned
0           0           0            1
1           1           9            0
2           2          18            1
3           3          27            0
4           4          36            1
5           5          45            0