[Reference](https://blog.jovian.ai/strings-advanced-python-part-5-c4b3a56c18e4)

In [1]:
my_string = 'Hello'
my_string = "Hello"
my_string = "I' m  a 'Geek'"
print(my_string)

I' m  a 'Geek'

In [2]:
my_string = 'I\' m  a "Geek"'
my_string = 'I\' m a \'Geek\''
print(my_string)

I' m a 'Geek'

In [3]:
my_string = """Hello
World"""
print(my_string)

Hello
World

In [4]:
my_string = "Hello \
World"
print(my_string)

Hello World

In [5]:
b = my_string[0]
print(b) # H

H

In [6]:
b = my_string[1:3] # Note that the last index is not included
print(b) # el
b = my_string[:5] # From beginning
print(b) # Hello
b = my_string[6:] # Until the end
print(b) # World
b = my_string[::2] # Start to end with every second item
print(b) # HloWrd
b = my_string[::-1] # Reverse the string with a negative step:
print(b) # dlroW olleH

el
Hello
World
HloWrd
dlroW olleH

In [7]:
greeting = "Hello"
name = "Tom"
sentence = greeting + ' ' + name
print(sentence)

Hello Tom

In [8]:
my_string = 'Hello'
for i in my_string:
    print(i)

H
e
l
l
o

In [9]:
if "e" in "Hello":
    print("yes")
if "llo" in "Hello":
    print("yes")

yes
yes

In [10]:
my_string = my_string.strip()
print(my_string)

Hello

In [11]:
print(len(my_string))

5

In [12]:
print(my_string.upper())
print(my_string.lower())

HELLO
hello

In [13]:
print("hello".startswith("he"))
print("hello".endswith("llo"))

True
True

In [14]:
print("Hello".find("o"))

4

In [15]:
print("Hello".count("e"))

1

In [16]:
message = "Hello World"
new_message = message.replace("World", "Universe")
print(new_message)

Hello Universe

In [17]:
my_string = "how are you doing"
a = my_string.split() # default argument is " "
print(a)
my_string = "one,two,three"
a = my_string.split(",")
print(a)

['how', 'are', 'you', 'doing']
['one', 'two', 'three']

In [18]:
my_list = ['How', 'are', 'you', 'doing']
a = ' '.join(my_list) # the given string is the separator, e.g. ' ' between each argument
print(a)

How are you doing

In [19]:
a = "Hello {0} and {1}".format("Bob", "Tom")
print(a)

Hello Bob and Tom

In [20]:
a = "Hello {} and {}".format("Bob", "Tom")
print(a) 
a = "The integer value is {}".format(2)
print(a)

Hello Bob and Tom
The integer value is 2

In [21]:
a = "The float value is {0:.3f}".format(2.1234)
print(a) # 
a = "The float value is {0:e}".format(2.1234)
print(a) 
a = "The binary value is {0:b}".format(2)
print(a)

The float value is 2.123
The float value is 2.123400e+00
The binary value is 10

In [22]:
print("Hello %s and %s" % ("Bob", "Tom")) 
val =  3.14159265359
print("The decimal value is %d" % val)
print("The float value is %f" % val)
print("The float value is %.2f" % val)

Hello Bob and Tom
The decimal value is 3
The float value is 3.141593
The float value is 3.14

In [23]:
name = "Eric"
age = 25
a = f"Hello, {name}. You are {age}."
print(a)
pi = 3.14159
a = f"Pi is {pi:.3f}"
print(a)

Hello, Eric. You are 25.
Pi is 3.142

In [24]:
a = f"The value is {2*60}"
print(a)

The value is 120

In [25]:
from timeit import default_timer as timer
my_list = ["a"] * 1000000
# Bad
start = timer()
a = ""
for i in my_list:
    a += i
end = timer()
print("concatenate string with + : %.5f" % (end - start))
# Good
start = timer()
a = "".join(my_list)
end = timer()
print("concatenate string with join(): %.5f" % (end - start))

concatenate string with + : 0.45706
concatenate string with join(): 0.01122