[Reference](https://medium.com/dropbase/the-10-most-useful-functions-for-data-analytics-b013ecda9018)

# 1. Find and Replace

In [1]:
def spiritual_ivory_pony(df):
    df.replace(to_replace={"Name": "Startup"}, value="Growth",
               regex=True, inplace=True)
    return df

# 2. Conditional Statements

In [2]:
def nuclear_gray_storm(df):
    if df['Country']=='Canada':
        df['Price']=35
    elif df['Country']=='US':
        df['Price']=25
    return df

# 3. Concatenate/Split
For a split, if you want to split an email address into everything after the “@” symbol to help identify which companies are in your dataset

# 4. Trim
If you have some sort of identifier code like “TOR-32245” or “NYC-32245” that represent the same product sold at two different stores, and only want to keep the product numbers, you could trim the first four characters

# 5. Change Data Types
If you want to do further analysis on data over time, converting a column containing the date to be in a standardized DateTime format will improve the usability of your data

# 6. Unique
Running a unique function on a column that is expected to be unique values such as a transaction ID field, and removing any duplicate columns as to not inflate your transaction numbers

# 7. Sort

In [3]:
def external_jade_quelea(df):
    df = df.sort_values(by="Budget", ascending=True)
    return df

# 8. Filter
Filtering your data lets you create subgroups of data that match (or don’t match) certain parameters

# 9. Removing Outliers

In [4]:
def critical_amethyst_ant(df):
    Q1 = np.nanquantile(df["Housing Price"],0.25)
    Q3 = np.nanquantile(df["Housing Price"],0.75)
    IQ = Q3 - Q1
    lower_fence = Q1 - 1.5*IQ
    upper_fence = Q1 - 1.5*IQ
    return df[(df["Housing Price"] <= upper_fence) & (df["Housing Price"] >= lower_fence)]

# 10. Dropping/Filling Nulls
Null values can skew your predictions and calculations, so removing them entirely or replacing them with a more reasonable value (such as the mean) is incredibly useful