[Reference](https://towardsdatascience.com/the-most-undervalued-standard-python-library-14021632f692)

In [1]:
from collections import namedtuple
Features = namedtuple('Features', ['age', 'gender', 'name'])
row = Features(age=22, gender='male', name='Alex')
print(row.age)

22

In [2]:
from collections import Counter
ages = [22, 22, 25, 25, 30, 24, 26, 24, 35, 45, 52, 22, 22, 22, 25, 16, 11, 15, 40, 30]
value_counts = Counter(ages)
print(value_counts.most_common())

[(22, 5), (25, 3), (30, 2), (24, 2), (26, 1), (35, 1), (45, 1), (52, 1), (16, 1), (11, 1), (15, 1), (40, 1)]

In [3]:
from collections import defaultdict
my_default_dict = defaultdict(int)
for letter in 'the red fox ran as fast as it could':
	my_default_dict[letter] += 1
print(my_default_dict)

defaultdict(<class 'int'>, {'t': 3, 'h': 1, 'e': 2, ' ': 8, 'r': 2, 'd': 2, 'f': 2, 'o': 2, 'x': 1, 'a': 4, 'n': 1, 's': 3, 'i': 1, 'c': 1, 'u': 1, 'l': 1})