[Reference](https://medium.com/@amit25173/tips-for-the-pandas-apply-function-to-every-row-e15929325985)

# Applying a function to every row

In [1]:
import pandas as pd

# Sample DataFrame
data = {
    'Product': ['A', 'B', 'C'],
    'Sales_Q1': [200, 150, 300],
    'Sales_Q2': [300, 200, 400]
}

df = pd.DataFrame(data)

# Function to calculate total sales
def total_sales(row):
    return row['Sales_Q1'] + row['Sales_Q2']

# Applying the function using apply()
df['Total_Sales'] = df.apply(total_sales, axis=1)

print(df)

  Product  Sales_Q1  Sales_Q2  Total_Sales
0       A       200       300          500
1       B       150       200          350
2       C       300       400          700

# Using lambda functions

In [2]:
# Using a lambda function to calculate the sales difference
df['Sales_Difference'] = df.apply(lambda row: row['Sales_Q2'] - row['Sales_Q1'], axis=1)

print(df)

  Product  Sales_Q1  Sales_Q2  Total_Sales  Sales_Difference
0       A       200       300          500               100
1       B       150       200          350                50
2       C       300       400          700               100

# Modifying DataFrame based on apply results

In [3]:
def categorize_sales(total_sales):
    if total_sales > 500:
        return 'High'
    elif total_sales > 300:
        return 'Medium'
    else:
        return 'Low'

df['Sales_Category'] = df['Total_Sales'].apply(categorize_sales)

print(df)

  Product  Sales_Q1  Sales_Q2  Total_Sales  Sales_Difference Sales_Category
0       A       200       300          500               100         Medium
1       B       150       200          350                50         Medium
2       C       300       400          700               100           High