[Reference](https://medium.com/@mark.averchenko/top-5-pyspark-tips-and-tricks-for-beginners-240acd1b7407)

# 1) Split your expression on lines. Don’t write expression in one line

In [1]:
companies.where(col("sales") > 10000).where(col("avg_price") < 100).withColumn("revenue", col("sales") * col("avg_price"))

In [2]:
companies = companies.where(col("sales") > 10000)
companies = companies.where(col("avg_price") < 100)
companies = companies.withColumn("revenue", col("sales") * col("avg_price"))

# 2) Don’t write ‘\’ in your PySpark expressions

In [3]:
df.filter(col("payment_type") == "debit"))\
  .filter(col("age") >= 18))\
  .groupby(col("id"))\
  .count()

In [4]:
(
    df .filter(col(“payment_type”) == “debit”))
      .filter(col("age") >= 18))
      .groupby(col("id"))
      .count()
)

In [5]:
df = df.filter(col(“payment_type”) == “debit”))
df = df.filter(col("age") >= 18))
df = df.groupby(col("id"))
result = df.count()

# 3) Use col if you can

In [6]:
df.orderBy("salary")

In [7]:
df.orderBy(col("salary").desc())

# 4) Be simple and use less python code inside PySpark

In [8]:
tmp = sorted([str(row['price']) for row in sdf.collect()])
result = tmp[0], tmp[-1]

In [9]:
from pyspark.sql import functions as F
result = sdf.select(F.max("price"), F.min("price"))

# 5) Join DataFrames by following syntax

In [10]:
df.join(df2, 'name', 'left')

In [11]:
df1.join(df2, df1.name == df2.name, 'left')

In [12]:
persons.join(users, persons.name == users.username, 'left')