[Reference](https://medium.com/@data.science.enthusiast/the-only-pandas-guideline-you-need-as-a-beginner-data-scientist-5584c2c7a0f7)

# Series

In [1]:
import pandas as pd

In [2]:
series = pd.Series([1, 4, 5, 7, 45, 67,69]) 
series

0     1
1     4
2     5
3     7
4    45
5    67
6    69
dtype: int64

In [3]:
series_index = pd.Series([1, 4, 5, 7, 45, 67,69], index=['a','b','c','d','e', 'f','y'])
series_index

a     1
b     4
c     5
d     7
e    45
f    67
y    69
dtype: int64

In [4]:
series_index_as_dict = pd.Series({'a':1,'b':4,'c':5,'d':7,'e':45, 'f':67,'y':69}) 
series_index_as_dict

a     1
b     4
c     5
d     7
e    45
f    67
y    69
dtype: int64

In [5]:
series_index['b']

4

In [6]:
series_index[['a', 'd', 'f']]= 0 
series_index

a     0
b     4
c     5
d     0
e    45
f     0
y    69
dtype: int64

In [7]:
series_index[series_index > 0]

b     4
c     5
e    45
y    69
dtype: int64

In [8]:
series_index[series_index > 0] * 2

b      8
c     10
e     90
y    138
dtype: int64

In [9]:
series_index.index = ['A', 'B', 'C', 'D','S', 'W','O'] 
series_index

A     0
B     4
C     5
D     0
S    45
W     0
O    69
dtype: int64

In [10]:
# df.reset_index()

# DataFrame

In [11]:
df = pd.DataFrame({ 'Name': ['John', 'Liza', 'Elizabeth', 'Max'],
                     'ID': [1904, 6478, 8749, 8476], 
                     'Age': [25, 49, 34, 58] 
}) 
df

        Name    ID  Age
0       John  1904   25
1       Liza  6478   49
2  Elizabeth  8749   34
3        Max  8476   58

In [12]:
df['Age']

0    25
1    49
2    34
3    58
Name: Age, dtype: int64

In [13]:
df = pd.DataFrame({ 'Name': ['John', 'Liza', 'Elizabeth', 'Max'],
                    'ID': [1904, 6478, 8749, 8476], 
                    'Age': [25, 49, 34, 58] 
                   }, index=['J', 'L', 'E', 'M']) 
df

        Name    ID  Age
J       John  1904   25
L       Liza  6478   49
E  Elizabeth  8749   34
M        Max  8476   58

In [14]:
df.index = ['J', 'L', 'E', 'M'] 
df.index.name = 'Code' 
df

           Name    ID  Age
Code
J          John  1904   25
L          Liza  6478   49
E     Elizabeth  8749   34
M           Max  8476   58

In [15]:
df['Name']

Code
J         John
L         Liza
E    Elizabeth
M          Max
Name: Name, dtype: object

In [16]:
df.loc['J']

Name    John
ID      1904
Age       25
Name: J, dtype: object

In [17]:
df.loc[['J'],'Age']

Code
J    25
Name: Age, dtype: int64

In [18]:
df.iat[1,2]

49

In [19]:
df["Name"].isin(["Liza"])

Code
J    False
L     True
E    False
M    False
Name: Name, dtype: bool

In [20]:
df.drop(['ID'], axis='columns')

           Name  Age
Code
J          John   25
L          Liza   49
E     Elizabeth   34
M           Max   58

In [21]:
# df.to_csv('filename.csv')

In [22]:
df = pd.DataFrame({ 'A': [30,40,50,60], 
                    'B': [23,35,65,45], 
                    'C': [85,87,90,89], 
},index=["1","2","3","4"]) 
print("Initial DataFrame:") 
print(df,"\n")

Initial DataFrame:
    A   B   C
1  30  23  85
2  40  35  87
3  50  65  90
4  60  45  89

In [23]:
scaled_df=df.applymap(lambda a: a*10) 
print("Scaled DataFrame:") 
print(scaled_df,"\n")

Scaled DataFrame:
     A    B    C
1  300  230  850
2  400  350  870
3  500  650  900
4  600  450  890

In [24]:
def cap_letter(x): 
  return x.upper()
data = { 
  "name": ["John","Lizzy","Polly"], 
  "city": ["Lisboa", "Tokyo", "Seatle"] 
} 
df = pd.DataFrame(data) 
print(df)
new_df = df.applymap(cap_letter) 
print(new_df)

    name    city
0   John  Lisboa
1  Lizzy   Tokyo
2  Polly  Seatle
    name    city
0   JOHN  LISBOA
1  LIZZY   TOKYO
2  POLLY  SEATLE

In [25]:
df1 = pd.DataFrame([[1,'Lizzy', 350], 
                    [2,'Sally', 200], 
                     [3,'John', 400]], columns=['Id','Name', 'Credit']) 
print(df1)
df2 = pd.DataFrame([[1,'Smith', 'LA'], 
                    [2,'Miller', 'NY'], 
                    [3,'Williams', 'NY']], columns=['Id_I','Surname', 'Address']) 
print(df2)
df1.merge(df2, left_on='Id', right_on='Id_I')

   Id   Name  Credit
0   1  Lizzy     350
1   2  Sally     200
2   3   John     400
   Id_I   Surname Address
0     1     Smith      LA
1     2    Miller      NY
2     3  Williams      NY

   Id   Name  Credit  Id_I   Surname Address
0   1  Lizzy     350     1     Smith      LA
1   2  Sally     200     2    Miller      NY
2   3   John     400     3  Williams      NY

In [26]:
# df.plot(kind='scatter') 
# df.plot(kind='bar') 
# df.plot(kind='hist') 
# df.boxplot()