[Reference](https://towardsdatascience.com/top-3-methods-for-handling-skewed-data-1334e0debf45)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import load_boston

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
boston = load_boston()

In [3]:
X = boston['data']
Y = boston['target']

In [4]:
cols = boston['feature_names']

In [5]:
df = pd.DataFrame(X, columns = cols)

In [6]:
df['price'] = Y

In [7]:
df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  price
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98   24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14   21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03   34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94   33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33   36.2

[5 rows x 14 columns]

In [8]:
df['CRIM'].skew()

5.223148798243851

# 1. Log Transform

In [9]:
crim_log = np.log(df['CRIM'])

In [10]:
crim_log.skew()

0.4059344988496048

# 2. Square Root Transform

In [11]:
crim_sqrt = np.sqrt(df['CRIM'])

In [12]:
crim_sqrt.skew()

2.024382103123676

# 3. Box-Cox Transform

In [13]:
from scipy import stats
crim_boxcox = stats.boxcox(df['CRIM'])[0]

In [14]:
pd.Series(crim_boxcox).skew()

0.09364917268984103