[Reference](https://levelup.gitconnected.com/learning-python-tuples-b1972bcb8570)

In [1]:
letters = 'a', 'b', 'c', 'd', 'e'
letters

('a', 'b', 'c', 'd', 'e')

In [2]:
letters = ('a', 'b', 'c', 'd','e')
letters

('a', 'b', 'c', 'd', 'e')

In [3]:
print(type(letters))

<class 'tuple'>

In [4]:
notTuple = ('z')
print(type(notTuple))

<class 'str'>

In [5]:
aTuple = ('y','z')
print(type(aTuple))

<class 'tuple'>

In [6]:
newTuple = tuple()
print(type(newTuple))

<class 'tuple'>

In [7]:
wordTuple = tuple("hello")
print(type(wordTuple))

<class 'tuple'>

In [8]:
letters = ('a','b','c','d','e')
print(letters[0], letters[1])

a b

In [11]:
letters

('a', 'b', 'c', 'd', 'e')

In [12]:
print(letters[2:4])

('c', 'd')

In [13]:
grades1 = (91, 88, 84)
grades2 = (91, 89, 84)
grades1 > grades2

False

In [14]:
grades1 < grades2

True

In [15]:
from random import seed
from random import randint

def minMax(lyst):
  return max(lyst), min(lyst)
  
numbers = []
for i in range(1, 11):
  numbers.append(randint(1,100))
print(numbers)
print("Max/min values:",minMax(numbers))

[82, 29, 43, 4, 62, 36, 57, 24, 40, 82]
Max/min values: (82, 4)

In [17]:
def sum(*numlist):
  total = 0
  for i in range(0, len(numlist)):
    total += numlist[i]
  return total
print(sum(1,2,3))
print(sum(1,2,3,4,5))
print(sum(1,2,3,4,5,6,7,8,9,10))

6
15
55

In [18]:
names = ["Jones","Smith"]
grades = [88,81]
roster = zip(names, grades)
for student in roster:
  print(student)

('Jones', 88)
('Smith', 81)

In [19]:
grades = {'Smith':88, 'Jones':81, 'Brown':90}
print(grades.items())

dict_items([('Smith', 88), ('Jones', 81), ('Brown', 90)])

In [20]:
grades

{'Brown': 90, 'Jones': 81, 'Smith': 88}

In [21]:
for student,grade in grades.items():
   print(student,":",grade)

Smith : 88
Jones : 81
Brown : 90

In [22]:
a = 1
b = 2
print("a:",a,"b:",b)
temp = a
a = b
b = temp
print("a:",a,"b:",b)

a: 1 b: 2
a: 2 b: 1

In [23]:
a = 1
b = 2
print("a:",a,"b:",b)
a,b = b,a
print("a:",a,"b:",b)

a: 1 b: 2
a: 2 b: 1

In [24]:
from random import seed
from random import randint

numbers = []
for i in range(1,11):
  numbers.append(randint(1,100))
nums = tuple(numbers)
print(nums)
sortedNums = sorted(nums)
print(sortedNums)

(32, 88, 13, 74, 12, 37, 41, 21, 56, 7)
[7, 12, 13, 21, 32, 37, 41, 56, 74, 88]

In [25]:
from random import seed
from random import randint

numbers = []
for i in range(1,11):
  numbers.append(randint(1,100))
nums = tuple(numbers)
print(nums)
sortedNums = sorted(nums)
print(sortedNums)
numsSorted = tuple(sortedNums)
nums = tuple(numsSorted)
descNums = list(reversed(nums))
print(descNums)

(49, 14, 52, 72, 43, 16, 42, 94, 95, 36)
[14, 16, 36, 42, 43, 49, 52, 72, 94, 95]
[95, 94, 72, 52, 49, 43, 42, 36, 16, 14]