[Reference](https://medium.com/better-programming/5-things-to-know-to-level-up-your-skills-with-tuples-in-python-6e7c1dc16945)

There are four containers: tuple, list, dict, and set.

# 1. Multiple-Variable Assignment

In [2]:
a = 3
b = 'Three'
a, b = b, a
print(a)
print(b)

Three
3

In [3]:
c = 1,
type(c)

tuple

In [4]:
d = 1,2
type(d)

tuple

In [6]:
e, f, g  = (1, 3, 5)
print(f"e: {e}\nf: {f}\ng: {g}")

e: 1
f: 3
g: 5

In [9]:
error_code, message = 404, "Not Found"
print(f"error code is {error_code}\nmessage is {message!r}")

error code is 404
message is 'Not Found'

# 2. Unpacking With _ and *

In [10]:
http_response = (200, "The email has been validated")
_, message = http_response
print(message)
print(_)

The email has been validated
200

In [11]:
scores = (8.9, 9.2, 9.3, 9.4, 9.5, 9.9)
min_score, *valid_scores, max_score = scores
print(f"min score: {min_score}\nvalid scores: {valid_scores}\nmax score: {max_score}")

min score: 8.9
valid scores: [9.2, 9.3, 9.4, 9.5]
max score: 9.9

In [12]:
*valid_scores, max_score = scores
valid_scores
_, *valid_scores = scores
valid_scores

[9.2, 9.3, 9.4, 9.5, 9.9]

# 3. Variable Positional Arguments in Functions

In [13]:
*valid_scores = scores

SyntaxError: ignored

Solution:

In [15]:
*valid_scores, = scores
valid_scores

[8.9, 9.2, 9.3, 9.4, 9.5, 9.9]

In [17]:
def calc_mean(*numbers):
    print(f"{type(numbers)} | {numbers}")
    average = sum(numbers)/len(numbers)
    return average

calc_mean(1,2,3,4,5)

<class 'tuple'> | (1, 2, 3, 4, 5)

3.0

# 4. Relative Immutability

In [18]:
http_response = (200, "Data Fetched")
http_response[1] = "New Data Fetched"

TypeError: ignored

solution:

In [19]:
http_response1 = (200, [1, 2, 3])
http_response1[1].append(4)
http_response1

(200, [1, 2, 3, 4])

In [20]:
http_response2 = (200, {1: 'one'})
http_response2[1][2] = 'two'
http_response2

(200, {1: 'one', 2: 'two'})

In [21]:
http_response1 = (200, [1, 2, 3])
id(http_response1[1])

140162666969672

In [22]:
http_response1[1].append(4)
http_response1
id(http_response1[1])

140162666969672

# 5. Named Tuples

In [25]:
student = ("John Smith", 17, 178044)
print(f"name: {student[0]}\nage: {student[1]}\nstudent id: {student[2]}")

name: John Smith
age: 17
student id: 178044

In [26]:
from collections import namedtuple
Student = namedtuple("Student", "name age student_id")
student = Student("John Smith", 17, 178044)
print(f"name: {student.name}\nage: {student.age}\nstudent id: {student.student_id}")

name: John Smith
age: 17
student id: 178044

In [27]:
from collections import namedtuple
Student = namedtuple("Student", ["name", "age", "student_id"])
student = Student("John Smith", 17, 178044)
print(f"name: {student.name}\nage: {student.age}\nstudent id: {student.student_id}")

name: John Smith
age: 17
student id: 178044

In [28]:
print(issubclass(Student, tuple))
print(isinstance(student, tuple))

True
True