[Reference](https://towardsdatascience.com/the-simplest-tutorial-for-python-decorator-dadbf8f20b0f)

In [5]:
@function_decorator
def func():
    pass

In [2]:
def function_decorator(func):
    def wrapped_func():
        print('=' * 30)
        func()
        print('=' * 30)
    return wrapped_func

In [3]:
@function_decorator
def test():
    print('Hello World!')

In [4]:
@function_decorator
def greeting(name):
    print(f'Hey {name}! Good Morning!')

In [7]:
greeting('Chris')

TypeError: ignored

In [6]:
def function_decorator(func):
    def wrapped_func(*args, **kwargs):
        print('=' * 30)
        func(*args, **kwargs)
        print('=' * 30)
    return wrapped_func

In [8]:
from datetime import datetime

def timed_log(log_msg):
    def time_added(*args, **kwargs):
        return f'[{datetime.now()}] {log_msg(*args, **kwargs)}'
    return time_added

In [9]:
@timed_log
def log_error(line_no):
    return f'There is an error happend at line {line_no}'
    
    
@timed_log
def log_done():
    return 'Great! All processed done.'

In [10]:
print(log_error(50))

[2021-03-23 13:23:29.011198] There is an error happend at line 50

In [11]:
print(log_done())

[2021-03-23 13:23:33.937705] Great! All processed done.

In [12]:
def singleton(_class):
    instances = {}    
    
    def get_instance(*args, **kwargs):
        if _class not in instances:
            print('Connecting to DB...')
            instances[_class] = _class(*args, **kwargs)
            print('Connected')
        else:
            print('Already has a connection, will reuse it.')
        return instances[_class]
    return get_instance

In [13]:
@singleton
class DBConnection:
    def connect_to_db():
        pass

In [14]:
con1 = DBConnection()

Connecting to DB...
Connected

In [15]:
con2 = DBConnection()

Already has a connection, will reuse it.

In [16]:
print(con1 is con2)

True