[Reference](https://towardsdatascience.com/ultimate-pandas-guide-creating-a-dataframe-9f063e590e78)

In [2]:
import pandas as pd
empty_df = pd.DataFrame()
empty_df

Empty DataFrame
Columns: []
Index: []

In [3]:
data = [['panda', 'bamboo', 100], 
       ['koala', 'eucalyptus', 100]]
pd.DataFrame(data, columns = ['animal', 'favorite_food', 'cuteness_level'])

  animal favorite_food  cuteness_level
0  panda        bamboo             100
1  koala    eucalyptus             100

In [5]:
data = {'animal': ['panda', 'koala'],
        'favorite_food': ['bamboo', 'eucalyptus'],
        'cuteness_level': [100, 100]}
pd.DataFrame(data)

  animal favorite_food  cuteness_level
0  panda        bamboo             100
1  koala    eucalyptus             100

In [6]:
data = {'animal': ['panda', 'koala'],
        'favorite_food': ['bamboo', 'eucalyptus'],
        'cuteness_level': [100, 100]}

pd.DataFrame.from_dict(data, orient = 'index', columns = ['first_animal', 'second_animal'])

               first_animal second_animal
animal                panda         koala
favorite_food        bamboo    eucalyptus
cuteness_level          100           100

In [7]:
data = [{'animal': 'panda', 
         'favorite_food': 'bamboo', 
         'cuteness_level': 100},         {'animal': 'koala', 
          'favorite_food': 'eucalyptus', 
           'cuteness_level': 100}]
           
pd.DataFrame(data)

  animal favorite_food  cuteness_level
0  panda        bamboo             100
1  koala    eucalyptus             100

In [10]:
import numpy as np
data = np.array([('panda', 'bamboo', 100), 
                 ('koala', 'eucalyptus', 100)],
               dtype=[('animal', 'U6'), 
              ('favorite_food', 'U6'), 
               ('cuteness_level', int)])
pd.DataFrame(data)

  animal favorite_food  cuteness_level
0  panda        bamboo             100
1  koala        eucaly             100