[Reference](https://awstip.com/usage-of-args-and-kwargs-in-python-extra-example-in-django-46c8fd71d4e1)

In [1]:
def my_func(name, *args):
    print(name, args)

In [2]:
my_func('Alex', 'Bob', 'Danny')

Alex ('Bob', 'Danny')

In [3]:
def my_func(name, *args, other_name=None):
    print(name, args, other_name)

In [4]:
my_func('Alex', 'Bob', 'Danny', other_name='XXXX')

Alex ('Bob', 'Danny') XXXX

In [5]:
def my_func(name, *args, other_name=None):
    print(name, args, other_name)

In [6]:
my_func('Alex', 'Bob', 'Danny', other_name='XXXX', other_name2='YYYY')

TypeError: ignored

In [7]:
def my_func(name, *args, **kwargs):
    print(name, args, kwargs)

In [8]:
my_func('Alex', 'Bob', 'Danny', other_name='XXXX', other_name2='YYYY')

Alex ('Bob', 'Danny') {'other_name': 'XXXX', 'other_name2': 'YYYY'}

In [9]:
def my_func(name, *args, other_name=None, **kwargs):
    print(name, args, other_name, kwargs)

In [10]:
my_func('Alex', 'Bob', 'Danny', other_name='XXXX', other_name1='YYYY', other_name2='ZZZZ')

Alex ('Bob', 'Danny') XXXX {'other_name1': 'YYYY', 'other_name2': 'ZZZZ'}