[Reference](https://medium.com/python-in-plain-english/useful-python-built-in-functions-and-methods-with-examples-a-z-2c54ee15c34f)

In [3]:
x = abs(-7.25)
x

7.25

In [2]:
mylist = [True, True, True]
x = all(mylist)
x

True

In [5]:
mylist = [False, True, False]
x = any(mylist)
x

True

In [6]:
x = ascii("My name is Ståle")
x

"'My name is St\\xe5le'"

In [7]:
x = bin(36)
x

'0b100100'

In [8]:
x = bool(1)
x

True

In [9]:
x = bytearray(4)
x

bytearray(b'\x00\x00\x00\x00')

In [10]:
x = bytearray(4)
x

bytearray(b'\x00\x00\x00\x00')

In [11]:
def x():
  a = 5
print(callable(x))

True

In [12]:
x = chr(97)
x

'a'

In [13]:
x = compile('print(55)', 'test', 'eval')
exec(x)

55

In [14]:
x = complex(3, 5)
x

(3+5j)

In [15]:
class Person:
  name = "John"
  age = 36
  country = "Norway"
  
delattr(Person, 'age')

In [16]:
x = dict(name = "John", age = 36, country = "Norway")
x

{'age': 36, 'country': 'Norway', 'name': 'John'}

In [17]:
x = divmod(5, 2)
x

(2, 1)

In [18]:
x = ('apple', 'banana', 'cherry')
y = enumerate(x)
y

In [19]:
x = 'print(55)'
eval(x)

55

In [20]:
x = 'name = "John"\nprint(name)'
exec(x)

John

In [22]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True
    
adults = filter(myFunc, ages)
    
for x in adults:
  print(x)

18
24
32

In [23]:
x = float(3)
x

3.0

In [24]:
x = format(0.5, '%')
x

'50.000000%'

In [25]:
mylist = ['apple', 'banana', 'cherry']
x = frozenset(mylist)
x

frozenset({'apple', 'banana', 'cherry'})

In [26]:
class Person:
  name = "John"
  age = 36
  country = "Norway"
  
x = getattr(Person, 'age')
x

36

In [27]:
class Person:
  name = "John"
  age = 36
  country = "Norway"
  
x = getattr(Person, 'age')
x

36

In [28]:
class Person:
  name = "John"
  age = 36
  country = "Norway"
  
x = hasattr(Person, 'age')
x

True

In [29]:
x = hex(255)
x

'0xff'

In [30]:
x = ('apple', 'banana', 'cherry')
y = id(x)
y

140666944950064

In [31]:
print('Enter your name:')
x = input()
print('Hello, ' + x)

Enter your name:
Branden
Hello, Branden

In [32]:
x = int(3.5)
x

3

In [33]:
x = isinstance(5, int)
x

True

In [34]:
class myAge:
  age = 36
  
class myObj(myAge):
  name = "John"
  age = myAge
  
x = issubclass(myObj, myAge)

In [35]:
x = iter(["apple", "banana", "cherry"])
print(next(x))
print(next(x))
print(next(x))

apple
banana
cherry

In [37]:
mylist = ["apple", "banana", "cherry"]
x = len(mylist)
x

3

In [38]:
x = list(('apple', 'banana', 'cherry'))
x

['apple', 'banana', 'cherry']

In [39]:
x = list(('apple', 'banana', 'cherry'))
x

['apple', 'banana', 'cherry']

In [40]:
x = locals()
print(x)
x

{'__name__': '__main__', '__doc__': 'Automatically created module for IPython interactive environment', '__package__': None, '__loader__': None, '__spec__': None, '__builtin__': <module 'builtins' (built-in)>, '__builtins__': <module 'builtins' (built-in)>, '_ih': ['', 'x = abs(-7.25)', 'mylist = [True, True, True]\nx = all(mylist)\nx', 'x = abs(-7.25)\nx', 'mylist = [False, True, False]\nx = any(mylist)', 'mylist = [False, True, False]\nx = any(mylist)\nx', 'x = ascii("My name is Ståle")\nx', 'x = bin(36)\nx', 'x = bool(1)\nx', 'x = bytearray(4)\nx', 'x = bytearray(4)\nx', 'def x():\n  a = 5\nprint(callable(x))', 'x = chr(97)\nx', "x = compile('print(55)', 'test', 'eval')\nexec(x)", 'x = complex(3, 5)\nx', 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n  \ndelattr(Person, \'age\')', 'x = dict(name = "John", age = 36, country = "Norway")\nx', 'x = divmod(5, 2)\nx', "x = ('apple', 'banana', 'cherry')\ny = enumerate(x)\ny", "x = 'print(55)'\neval(x)", 'x = \'name = "John"\\nprint(name)\'\nexec(x)', 'ages = [5, 12, 17, 18, 24, 32]def myFunc(x):\n  if x < 18:\n    return False\n  else:\n    return True\n    \nadults = filter(myFunc, ages)\n    \nfor x in adults:\n  print(x)', 'ages = [5, 12, 17, 18, 24, 32]\n\ndef myFunc(x):\n  if x < 18:\n    return False\n  else:\n    return True\n    \nadults = filter(myFunc, ages)\n    \nfor x in adults:\n  print(x)', 'x = float(3)\nx', "x = format(0.5, '%')\nx", "mylist = ['apple', 'banana', 'cherry']\nx = frozenset(mylist)\nx", 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n  \nx = getattr(Person, \'age\')\nx', 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n  \nx = getattr(Person, \'age\')\nx', 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n  \nx = hasattr(Person, \'age\')\nx', 'x = hex(255)\nx', "x = ('apple', 'banana', 'cherry')\ny = id(x)\ny", "print('Enter your name:')\nx = input()\nprint('Hello, ' + x)", 'x = int(3.5)\nx', 'x = isinstance(5, int)\nx', 'class myAge:\n  age = 36\n  \nclass myObj(myAge):\n  name = "John"\n  age = myAge\n  \nx = issubclass(myObj, myAge)', 'x = iter(["apple", "banana", "cherry"])\nprint(next(x))\nprint(next(x))\nprint(next(x))', 'mylist = ["apple", "banana", "cherry"]\nx = len(mylist)', 'mylist = ["apple", "banana", "cherry"]\nx = len(mylist)\nx', "x = list(('apple', 'banana', 'cherry'))\nx", "x = list(('apple', 'banana', 'cherry'))\nx", 'x = locals()\nprint(x)\nx'], '_oh': {2: True, 3: 7.25, 5: True, 6: "'My name is St\\xe5le'", 7: '0b100100', 8: True, 9: bytearray(b'\x00\x00\x00\x00'), 10: bytearray(b'\x00\x00\x00\x00'), 12: 'a', 14: (3+5j), 16: {'name': 'John', 'age': 36, 'country': 'Norway'}, 17: (2, 1), 18: <enumerate object at 0x7fef93490630>, 23: 3.0, 24: '50.000000%', 25: frozenset({'apple', 'banana', 'cherry'}), 26: 36, 27: 36, 28: True, 29: '0xff', 30: 140666944950064, 32: 3, 33: True, 37: 3, 38: ['apple', 'banana', 'cherry'], 39: ['apple', 'banana', 'cherry']}, '_dh': ['/content'], '_sh': <module 'IPython.core.shadowns' from '/usr/local/lib/python3.6/dist-packages/IPython/core/shadowns.py'>, 'In': ['', 'x = abs(-7.25)', 'mylist = [True, True, True]\nx = all(mylist)\nx', 'x = abs(-7.25)\nx', 'mylist = [False, True, False]\nx = any(mylist)', 'mylist = [False, True, False]\nx = any(mylist)\nx', 'x = ascii("My name is Ståle")\nx', 'x = bin(36)\nx', 'x = bool(1)\nx', 'x = bytearray(4)\nx', 'x = bytearray(4)\nx', 'def x():\n  a = 5\nprint(callable(x))', 'x = chr(97)\nx', "x = compile('print(55)', 'test', 'eval')\nexec(x)", 'x = complex(3, 5)\nx', 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n  \ndelattr(Person, \'age\')', 'x = dict(name = "John", age = 36, country = "Norway")\nx', 'x = divmod(5, 2)\nx', "x = ('apple', 'banana', 'cherry')\ny = enumerate(x)\ny", "x = 'print(55)'\neval(x)", 'x = \'name = "John"\\nprint(name)\'\nexec(x)', 'ages = [5, 12, 17, 18, 24, 32]def myFunc(x):\n  if x < 18:\n    return False\n  else:\n    return True\n    \nadults = filter(myFunc, ages)\n    \nfor x in adults:\n  print(x)', 'ages = [5, 12, 17, 18, 24, 32]\n\ndef myFunc(x):\n  if x < 18:\n    return False\n  else:\n    return True\n    \nadults = filter(myFunc, ages)\n    \nfor x in adults:\n  print(x)', 'x = float(3)\nx', "x = format(0.5, '%')\nx", "mylist = ['apple', 'banana', 'cherry']\nx = frozenset(mylist)\nx", 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n  \nx = getattr(Person, \'age\')\nx', 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n  \nx = getattr(Person, \'age\')\nx', 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n  \nx = hasattr(Person, \'age\')\nx', 'x = hex(255)\nx', "x = ('apple', 'banana', 'cherry')\ny = id(x)\ny", "print('Enter your name:')\nx = input()\nprint('Hello, ' + x)", 'x = int(3.5)\nx', 'x = isinstance(5, int)\nx', 'class myAge:\n  age = 36\n  \nclass myObj(myAge):\n  name = "John"\n  age = myAge\n  \nx = issubclass(myObj, myAge)', 'x = iter(["apple", "banana", "cherry"])\nprint(next(x))\nprint(next(x))\nprint(next(x))', 'mylist = ["apple", "banana", "cherry"]\nx = len(mylist)', 'mylist = ["apple", "banana", "cherry"]\nx = len(mylist)\nx', "x = list(('apple', 'banana', 'cherry'))\nx", "x = list(('apple', 'banana', 'cherry'))\nx", 'x = locals()\nprint(x)\nx'], 'Out': {2: True, 3: 7.25, 5: True, 6: "'My name is St\\xe5le'", 7: '0b100100', 8: True, 9: bytearray(b'\x00\x00\x00\x00'), 10: bytearray(b'\x00\x00\x00\x00'), 12: 'a', 14: (3+5j), 16: {'name': 'John', 'age': 36, 'country': 'Norway'}, 17: (2, 1), 18: <enumerate object at 0x7fef93490630>, 23: 3.0, 24: '50.000000%', 25: frozenset({'apple', 'banana', 'cherry'}), 26: 36, 27: 36, 28: True, 29: '0xff', 30: 140666944950064, 32: 3, 33: True, 37: 3, 38: ['apple', 'banana', 'cherry'], 39: ['apple', 'banana', 'cherry']}, 'get_ipython': <bound method InteractiveShell.get_ipython of <google.colab._shell.Shell object at 0x7fef98c7fda0>>, 'exit': <IPython.core.autocall.ZMQExitAutocall object at 0x7fef98235390>, 'quit': <IPython.core.autocall.ZMQExitAutocall object at 0x7fef98235390>, '_': ['apple', 'banana', 'cherry'], '__': ['apple', 'banana', 'cherry'], '___': 3, '_i': "x = list(('apple', 'banana', 'cherry'))\nx", '_ii': "x = list(('apple', 'banana', 'cherry'))\nx", '_iii': 'mylist = ["apple", "banana", "cherry"]\nx = len(mylist)\nx', '_i1': 'x = abs(-7.25)', 'x': {...}, '_i2': 'mylist = [True, True, True]\nx = all(mylist)\nx', 'mylist': ['apple', 'banana', 'cherry'], '_2': True, '_i3': 'x = abs(-7.25)\nx', '_3': 7.25, '_i4': 'mylist = [False, True, False]\nx = any(mylist)', '_i5': 'mylist = [False, True, False]\nx = any(mylist)\nx', '_5': True, '_i6': 'x = ascii("My name is Ståle")\nx', '_6': "'My name is St\\xe5le'", '_i7': 'x = bin(36)\nx', '_7': '0b100100', '_i8': 'x = bool(1)\nx', '_8': True, '_i9': 'x = bytearray(4)\nx', '_9': bytearray(b'\x00\x00\x00\x00'), '_i10': 'x = bytearray(4)\nx', '_10': bytearray(b'\x00\x00\x00\x00'), '_i11': 'def x():\n  a = 5\nprint(callable(x))', '_i12': 'x = chr(97)\nx', '_12': 'a', '_i13': "x = compile('print(55)', 'test', 'eval')\nexec(x)", '_i14': 'x = complex(3, 5)\nx', '_14': (3+5j), '_i15': 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n  \ndelattr(Person, \'age\')', 'Person': <class '__main__.Person'>, '_i16': 'x = dict(name = "John", age = 36, country = "Norway")\nx', '_16': {'name': 'John', 'age': 36, 'country': 'Norway'}, '_i17': 'x = divmod(5, 2)\nx', '_17': (2, 1), '_i18': "x = ('apple', 'banana', 'cherry')\ny = enumerate(x)\ny", 'y': 140666944950064, '_18': <enumerate object at 0x7fef93490630>, '_i19': "x = 'print(55)'\neval(x)", '_i20': 'x = \'name = "John"\\nprint(name)\'\nexec(x)', 'name': 'John', '_i21': 'ages = [5, 12, 17, 18, 24, 32]def myFunc(x):\n  if x < 18:\n    return False\n  else:\n    return True\n    \nadults = filter(myFunc, ages)\n    \nfor x in adults:\n  print(x)', '_i22': 'ages = [5, 12, 17, 18, 24, 32]\n\ndef myFunc(x):\n  if x < 18:\n    return False\n  else:\n    return True\n    \nadults = filter(myFunc, ages)\n    \nfor x in adults:\n  print(x)', 'ages': [5, 12, 17, 18, 24, 32], 'myFunc': <function myFunc at 0x7fef934a0730>, 'adults': <filter object at 0x7fef934a2a58>, '_i23': 'x = float(3)\nx', '_23': 3.0, '_i24': "x = format(0.5, '%')\nx", '_24': '50.000000%', '_i25': "mylist = ['apple', 'banana', 'cherry']\nx = frozenset(mylist)\nx", '_25': frozenset({'apple', 'banana', 'cherry'}), '_i26': 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n  \nx = getattr(Person, \'age\')\nx', '_26': 36, '_i27': 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n  \nx = getattr(Person, \'age\')\nx', '_27': 36, '_i28': 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n  \nx = hasattr(Person, \'age\')\nx', '_28': True, '_i29': 'x = hex(255)\nx', '_29': '0xff', '_i30': "x = ('apple', 'banana', 'cherry')\ny = id(x)\ny", '_30': 140666944950064, '_i31': "print('Enter your name:')\nx = input()\nprint('Hello, ' + x)", '_i32': 'x = int(3.5)\nx', '_32': 3, '_i33': 'x = isinstance(5, int)\nx', '_33': True, '_i34': 'class myAge:\n  age = 36\n  \nclass myObj(myAge):\n  name = "John"\n  age = myAge\n  \nx = issubclass(myObj, myAge)', 'myAge': <class '__main__.myAge'>, 'myObj': <class '__main__.myObj'>, '_i35': 'x = iter(["apple", "banana", "cherry"])\nprint(next(x))\nprint(next(x))\nprint(next(x))', '_i36': 'mylist = ["apple", "banana", "cherry"]\nx = len(mylist)', '_i37': 'mylist = ["apple", "banana", "cherry"]\nx = len(mylist)\nx', '_37': 3, '_i38': "x = list(('apple', 'banana', 'cherry'))\nx", '_38': ['apple', 'banana', 'cherry'], '_i39': "x = list(('apple', 'banana', 'cherry'))\nx", '_39': ['apple', 'banana', 'cherry'], '_i40': 'x = locals()\nprint(x)\nx'}

{'In': ['',
  'x = abs(-7.25)',
  'mylist = [True, True, True]\nx = all(mylist)\nx',
  'x = abs(-7.25)\nx',
  'mylist = [False, True, False]\nx = any(mylist)',
  'mylist = [False, True, False]\nx = any(mylist)\nx',
  'x = ascii("My name is Ståle")\nx',
  'x = bin(36)\nx',
  'x = bool(1)\nx',
  'x = bytearray(4)\nx',
  'x = bytearray(4)\nx',
  'def x():\n  a = 5\nprint(callable(x))',
  'x = chr(97)\nx',
  "x = compile('print(55)', 'test', 'eval')\nexec(x)",
  'x = complex(3, 5)\nx',
  'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n  \ndelattr(Person, \'age\')',
  'x = dict(name = "John", age = 36, country = "Norway")\nx',
  'x = divmod(5, 2)\nx',
  "x = ('apple', 'banana', 'cherry')\ny = enumerate(x)\ny",
  "x = 'print(55)'\neval(x)",
  'x = \'name = "John"\\nprint(name)\'\nexec(x)',
  'ages = [5, 12, 17, 18, 24, 32]def myFunc(x):\n  if x < 18:\n    return False\n  else:\n    return True\n    \nadults = filter(myFunc, ages)\n    \nfor x in adults:\n  print(x)',
  'ages = [5, 12, 17, 18, 24, 32]\n\ndef myFunc(x):\n  if x < 18:\n    return False\n  else:\n    return True\n    \nadults = filter(myFunc, ages)\n    \nfor x in adults:\n  print(x)',
  'x = float(3)\nx',
  "x = format(0.5, '%')\nx",
  "mylist = ['apple', 'banana', 'cherry']\nx = frozenset(mylist)\nx",
  'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n  \nx = getattr(Person, \'age\')\nx',
  'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n  \nx = getattr(Person, \'age\')\nx',
  'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n  \nx = hasattr(Person, \'age\')\nx',
  'x = hex(255)\nx',
  "x = ('apple', 'banana', 'cherry')\ny = id(x)\ny",
  "print('Enter your name:')\nx = input()\nprint('Hello, ' + x)",
  'x = int(3.5)\nx',
  'x = isinstance(5, int)\nx',
  'class myAge:\n  age = 36\n  \nclass myObj(myAge):\n  name = "John"\n  age = myAge\n  \nx = issubclass(myObj, myAge)',
  'x = iter(["apple", "banana", "cherry"])\nprint(next(x))\nprint(next(x))\nprint(next(x))',
  'mylist = ["apple", "banana", "cherry"]\nx = len(mylist)',
  'mylist = ["apple", "banana", "cherry"]\nx = len(mylist)\nx',
  "x = list(('apple', 'banana', 'cherry'))\nx",
  "x = list(('apple', 'banana', 'cherry'))\nx",
  'x = locals()\nprint(x)\nx'],
 'Out': {2: True,
  3: 7.25,
  5: True,
  6: "'My name is St\\xe5le'",
  7: '0b100100',
  8: True,
  9: bytearray(b'\x00\x00\x00\x00'),
  10: bytearray(b'\x00\x00\x00\x00'),
  12: 'a',
  14: (3+5j),
  16: {'age': 36, 'country': 'Norway', 'name': 'John'},
  17: (2, 1),
  18: <enumerate at 0x7fef93490630>,
  23: 3.0,
  24: '50.000000%',
  25: frozenset({'apple', 'banana', 'cherry'}),
  26: 36,
  27: 36,
  28: True,
  29: '0xff',
  30: 140666944950064,
  32: 3,
  33: True,
  37: 3,
  38: ['apple', 'banana', 'cherry'],
  39: ['apple', 'banana', 'cherry']},
 'Person': __main__.Person,
 '_': ['apple', 'banana', 'cherry'],
 '_10': bytearray(b'\x00\x00\x00\x00'),
 '_12': 'a',
 '_14': (3+5j),
 '_16': {'age': 36, 'country': 'Norway', 'name': 'John'},
 '_17': (2, 1),
 '_18': <enumerate at 0x7fef93490630>,
 '_2': True,
 '_23': 3.0,
 '_24': '50.000000%',
 '_25': frozenset({'apple', 'banana', 'cherry'}),
 '_26': 36,
 '_27': 36,
 '_28': True,
 '_29': '0xff',
 '_3': 7.25,
 '_30': 140666944950064,
 '_32': 3,
 '_33': True,
 '_37': 3,
 '_38': ['apple', 'banana', 'cherry'],
 '_39': ['apple', 'banana', 'cherry'],
 '_5': True,
 '_6': "'My name is St\\xe5le'",
 '_7': '0b100100',
 '_8': True,
 '_9': bytearray(b'\x00\x00\x00\x00'),
 '__': ['apple', 'banana', 'cherry'],
 '___': 3,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__loader__': None,
 '__name__': '__main__',
 '__package__': None,
 '__spec__': None,
 '_dh': ['/content'],
 '_i': "x = list(('apple', 'banana', 'cherry'))\nx",
 '_i1': 'x = abs(-7.25)',
 '_i10': 'x = bytearray(4)\nx',
 '_i11': 'def x():\n  a = 5\nprint(callable(x))',
 '_i12': 'x = chr(97)\nx',
 '_i13': "x = compile('print(55)', 'test', 'eval')\nexec(x)",
 '_i14': 'x = complex(3, 5)\nx',
 '_i15': 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n  \ndelattr(Person, \'age\')',
 '_i16': 'x = dict(name = "John", age = 36, country = "Norway")\nx',
 '_i17': 'x = divmod(5, 2)\nx',
 '_i18': "x = ('apple', 'banana', 'cherry')\ny = enumerate(x)\ny",
 '_i19': "x = 'print(55)'\neval(x)",
 '_i2': 'mylist = [True, True, True]\nx = all(mylist)\nx',
 '_i20': 'x = \'name = "John"\\nprint(name)\'\nexec(x)',
 '_i21': 'ages = [5, 12, 17, 18, 24, 32]def myFunc(x):\n  if x < 18:\n    return False\n  else:\n    return True\n    \nadults = filter(myFunc, ages)\n    \nfor x in adults:\n  print(x)',
 '_i22': 'ages = [5, 12, 17, 18, 24, 32]\n\ndef myFunc(x):\n  if x < 18:\n    return False\n  else:\n    return True\n    \nadults = filter(myFunc, ages)\n    \nfor x in adults:\n  print(x)',
 '_i23': 'x = float(3)\nx',
 '_i24': "x = format(0.5, '%')\nx",
 '_i25': "mylist = ['apple', 'banana', 'cherry']\nx = frozenset(mylist)\nx",
 '_i26': 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n  \nx = getattr(Person, \'age\')\nx',
 '_i27': 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n  \nx = getattr(Person, \'age\')\nx',
 '_i28': 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n  \nx = hasattr(Person, \'age\')\nx',
 '_i29': 'x = hex(255)\nx',
 '_i3': 'x = abs(-7.25)\nx',
 '_i30': "x = ('apple', 'banana', 'cherry')\ny = id(x)\ny",
 '_i31': "print('Enter your name:')\nx = input()\nprint('Hello, ' + x)",
 '_i32': 'x = int(3.5)\nx',
 '_i33': 'x = isinstance(5, int)\nx',
 '_i34': 'class myAge:\n  age = 36\n  \nclass myObj(myAge):\n  name = "John"\n  age = myAge\n  \nx = issubclass(myObj, myAge)',
 '_i35': 'x = iter(["apple", "banana", "cherry"])\nprint(next(x))\nprint(next(x))\nprint(next(x))',
 '_i36': 'mylist = ["apple", "banana", "cherry"]\nx = len(mylist)',
 '_i37': 'mylist = ["apple", "banana", "cherry"]\nx = len(mylist)\nx',
 '_i38': "x = list(('apple', 'banana', 'cherry'))\nx",
 '_i39': "x = list(('apple', 'banana', 'cherry'))\nx",
 '_i4': 'mylist = [False, True, False]\nx = any(mylist)',
 '_i40': 'x = locals()\nprint(x)\nx',
 '_i5': 'mylist = [False, True, False]\nx = any(mylist)\nx',
 '_i6': 'x = ascii("My name is Ståle")\nx',
 '_i7': 'x = bin(36)\nx',
 '_i8': 'x = bool(1)\nx',
 '_i9': 'x = bytearray(4)\nx',
 '_ih': ['',
  'x = abs(-7.25)',
  'mylist = [True, True, True]\nx = all(mylist)\nx',
  'x = abs(-7.25)\nx',
  'mylist = [False, True, False]\nx = any(mylist)',
  'mylist = [False, True, False]\nx = any(mylist)\nx',
  'x = ascii("My name is Ståle")\nx',
  'x = bin(36)\nx',
  'x = bool(1)\nx',
  'x = bytearray(4)\nx',
  'x = bytearray(4)\nx',
  'def x():\n  a = 5\nprint(callable(x))',
  'x = chr(97)\nx',
  "x = compile('print(55)', 'test', 'eval')\nexec(x)",
  'x = complex(3, 5)\nx',
  'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n  \ndelattr(Person, \'age\')',
  'x = dict(name = "John", age = 36, country = "Norway")\nx',
  'x = divmod(5, 2)\nx',
  "x = ('apple', 'banana', 'cherry')\ny = enumerate(x)\ny",
  "x = 'print(55)'\neval(x)",
  'x = \'name = "John"\\nprint(name)\'\nexec(x)',
  'ages = [5, 12, 17, 18, 24, 32]def myFunc(x):\n  if x < 18:\n    return False\n  else:\n    return True\n    \nadults = filter(myFunc, ages)\n    \nfor x in adults:\n  print(x)',
  'ages = [5, 12, 17, 18, 24, 32]\n\ndef myFunc(x):\n  if x < 18:\n    return False\n  else:\n    return True\n    \nadults = filter(myFunc, ages)\n    \nfor x in adults:\n  print(x)',
  'x = float(3)\nx',
  "x = format(0.5, '%')\nx",
  "mylist = ['apple', 'banana', 'cherry']\nx = frozenset(mylist)\nx",
  'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n  \nx = getattr(Person, \'age\')\nx',
  'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n  \nx = getattr(Person, \'age\')\nx',
  'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n  \nx = hasattr(Person, \'age\')\nx',
  'x = hex(255)\nx',
  "x = ('apple', 'banana', 'cherry')\ny = id(x)\ny",
  "print('Enter your name:')\nx = input()\nprint('Hello, ' + x)",
  'x = int(3.5)\nx',
  'x = isinstance(5, int)\nx',
  'class myAge:\n  age = 36\n  \nclass myObj(myAge):\n  name = "John"\n  age = myAge\n  \nx = issubclass(myObj, myAge)',
  'x = iter(["apple", "banana", "cherry"])\nprint(next(x))\nprint(next(x))\nprint(next(x))',
  'mylist = ["apple", "banana", "cherry"]\nx = len(mylist)',
  'mylist = ["apple", "banana", "cherry"]\nx = len(mylist)\nx',
  "x = list(('apple', 'banana', 'cherry'))\nx",
  "x = list(('apple', 'banana', 'cherry'))\nx",
  'x = locals()\nprint(x)\nx'],
 '_ii': "x = list(('apple', 'banana', 'cherry'))\nx",
 '_iii': 'mylist = ["apple", "banana", "cherry"]\nx = len(mylist)\nx',
 '_oh': {2: True,
  3: 7.25,
  5: True,
  6: "'My name is St\\xe5le'",
  7: '0b100100',
  8: True,
  9: bytearray(b'\x00\x00\x00\x00'),
  10: bytearray(b'\x00\x00\x00\x00'),
  12: 'a',
  14: (3+5j),
  16: {'age': 36, 'country': 'Norway', 'name': 'John'},
  17: (2, 1),
  18: <enumerate at 0x7fef93490630>,
  23: 3.0,
  24: '50.000000%',
  25: frozenset({'apple', 'banana', 'cherry'}),
  26: 36,
  27: 36,
  28: True,
  29: '0xff',
  30: 140666944950064,
  32: 3,
  33: True,
  37: 3,
  38: ['apple', 'banana', 'cherry'],
  39: ['apple', 'banana', 'cherry']},
 '_sh': <module 'IPython.core.shadowns' from '/usr/local/lib/python3.6/dist-packages/IPython/core/shadowns.py'>,
 'adults': <filter at 0x7fef934a2a58>,
 'ages': [5, 12, 17, 18, 24, 32],
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x7fef98235390>,
 'get_ipython': <bound method InteractiveShell.get_ipython of <google.colab._shell.Shell object at 0x7fef98c7fda0>>,
 'myAge': __main__.myAge,
 'myFunc': <function __main__.myFunc>,
 'myObj': __main__.myObj,
 'mylist': ['apple', 'banana', 'cherry'],
 'name': 'John',
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x7fef98235390>,
 'x': {...},
 'y': 140666944950064}

In [43]:
def myfunc(n):
  return len(n)
  
x = map(myfunc, ('apple', 'banana', 'cherry'))
list(x)

[5, 6, 6]

In [44]:
x = max(5, 10)
x

10

In [45]:
x = memoryview(b"Hello")

print(x)

#return the Unicode of the first character
print(x[0])

#return the Unicode of the second character
print(x[1])

<memory at 0x7fef94f0cf48>
72
101

In [46]:
x = min(5, 10)
x

5

In [47]:
mylist = iter(["apple", "banana", "cherry"])
x = next(mylist)
print(x)
x = next(mylist)
print(x)
x = next(mylist)
print(x)

apple
banana
cherry

In [48]:
x = object()
x

In [49]:
x = oct(12)
x

'0o14'

In [50]:
f = open("demofile.txt", "r")
print(f.read())

In [51]:
x = ord("h")
x

104

In [52]:
x = pow(4, 3)
x

64

In [53]:
print("Hello World")

Hello World

In [54]:
x = range(6)
for n in x:
  print(n)

0
1
2
3
4
5

In [55]:
alph = ["a", "b", "c", "d"]
ralph = reversed(alph)
for x in ralph:
  print(x)

d
c
b
a

In [56]:
x = round(5.76543, 2)
print(x)

5.77

In [57]:
x = round(5.76543, 2)
print(x)

5.77

In [58]:
x = set(('apple', 'banana', 'cherry'))
x

{'apple', 'banana', 'cherry'}

In [59]:
class Person:
  name = "John"
  age = 36
  country = "Norway"

setattr(Person, 'age', 40)

In [60]:
a = ("a", "b", "c", "d", "e", "f", "g", "h")
x = slice(2)
print(a[x])

('a', 'b')

In [61]:
a = ("b", "g", "a", "d", "f", "c", "h", "e")
x = sorted(a)
print(x)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [62]:
x = str(3.5)
x

'3.5'

In [63]:
a = (1, 2, 3, 4, 5)
x = sum(a)
x

15

In [64]:
class Parent:
  def __init__(self, txt):
    self.message = txt

  def printmessage(self):
    print(self.message)

class Child(Parent):
  def __init__(self, txt):
    super().__init__(txt)

x = Child("Hello, and welcome!")

x.printmessage()

Hello, and welcome!

In [65]:
x = tuple(('apple', 'banana', 'cherry'))
x

('apple', 'banana', 'cherry')

In [66]:
a = ('apple', 'banana', 'cherry')
b = "Hello World"
c = 33

x = type(a)
print(x)
y = type(b)
print(y)
z = type(c)
print(z)

<class 'tuple'>
<class 'str'>
<class 'int'>

In [67]:
class Person:
  name = "John"
  age = 36
  country = "norway"

x = vars(Person)
x

mappingproxy({'__dict__': <attribute '__dict__' of 'Person' objects>,
              '__doc__': None,
              '__module__': '__main__',
              '__weakref__': <attribute '__weakref__' of 'Person' objects>,
              'age': 36,
              'country': 'norway',
              'name': 'John'})

In [69]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica")

x = zip(a, b)
list(x)

[('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica')]