[Reference](https://erickleppen.medium.com/what-are-the-different-python-data-types-475ebaf72384)

In [3]:
#Examples of Boolean data type. Boolean is either True or False.
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [4]:
#Boolean data type can return when evaluating an expression too.
var_bool = 4==4
print(type(var_bool))

<class 'bool'>

In [5]:
#Examples of the Integer Data type.
print(type(2))

<class 'int'>

In [6]:
#int values can be very long.
print(type(648165234234234234363466184))#int values can be assigned to variables
var = 5489
print(type(var))

<class 'int'>
<class 'int'>

In [7]:
#Examples of the Float Data type.
print(type(2.58))

<class 'float'>

In [8]:
#float values can use e for scientific notation.
var_float = 578.34e10
print(type(var_float))

<class 'float'>

In [9]:
#Examples of the complex Data type.
print(type(4j))

<class 'complex'>

In [10]:
#float values can also be used in complex numeric data types
var_complex = 45 + 5.5j
print(type(var_complex))

<class 'complex'>

In [11]:
#Example of string (str) data types. 
print(type('single quotes'))
print(type("double quotes"))
print(type('''triple quotes'''))

<class 'str'>
<class 'str'>
<class 'str'>

In [12]:
string = 'CareerFoundry.com rocks!'

In [13]:
#this will return the 3rd character in a string.
print(string[2])#A range of values can be returned. This is called a substring.
print(string[0:6])#Negative numbers can be used to return the end of the string first. 
#-1 would return the last character in the string
print(string[-1])#You can even print a string in reverse!
print(string[::-1])

r
Career
!
!skcor moc.yrdnuoFreeraC

In [14]:
#Example of Python data type list
print(type([1,3,'g', 5, 'z']))

<class 'list'>

In [15]:
#you can have lists within lists!
print(type(['a', 'b', 3, [123, 9, 2], 'y']))

<class 'list'>

In [16]:
#lists have indexes
var_list = ['a', 'b', 3, [123, 9, 2], 'y']
print(var_list[0])

a

In [17]:
#The sublist index can be accessed with an additional []
print(var_list[3][1])

9

In [18]:
#Example of Python data type tuple
print(type((1,3,'g', 5, 'z')))

<class 'tuple'>

In [19]:
#You can have tuples within tuples!
print(type(('a', 'b', 3, (123, 9, 2), 'y')))

<class 'tuple'>

In [20]:
#Example of Python data type set
var_set_list = [1,1,2,3,4,4,5,'a','a','b','c']
var_set = set(var_set_list)

In [21]:
print(type(var_set))

<class 'set'>

In [22]:
print(var_set)

{1, 2, 3, 4, 5, 'c', 'b', 'a'}

In [23]:
#Example of Python data type dictionary
var_dictionary = {'person1':'Eric', 'person2':'Kristen'}

In [24]:
print(type(var_dictionary))

<class 'dict'>

In [25]:
print(var_dictionary.keys())

dict_keys(['person1', 'person2'])

In [26]:
print(var_dictionary.values())

dict_values(['Eric', 'Kristen'])

In [27]:
print(var_dictionary['person1'])

Eric