[Reference](https://towardsdatascience.com/why-you-should-handle-missing-data-and-heres-how-to-do-it-270c321a4d6f)

In [6]:
import pandas as pd
import numpy as np

# #1 Keep the Missing Data

In [7]:
def handle_missing_data(df):

    return df

In [8]:
df = pd.DataFrame([[1, "A", 4], [2, np.nan, 7], [np.nan, np.nan, 5]], 
                  columns = ["colA", "colB", "colC"])

print(df)

df_new = handle_missing_data(df)

print(df_new)

   colA colB  colC
0   1.0    A     4
1   2.0  NaN     7
2   NaN  NaN     5
   colA colB  colC
0   1.0    A     4
1   2.0  NaN     7
2   NaN  NaN     5

# #2 Drop the Missing Data

In [9]:
def handle_missing_data(df, axis = 0):

    return df.dropna(axis = axis)

In [10]:
df = pd.DataFrame([[1, "A", 4], [2, np.nan, 7], [np.nan, np.nan, 5]], 
                  columns = ["colA", "colB", "colC"])

print(df)

df_new = handle_missing_data(df)

print(df_new)

   colA colB  colC
0   1.0    A     4
1   2.0  NaN     7
2   NaN  NaN     5
   colA colB  colC
0   1.0    A     4

In [11]:
df = pd.DataFrame([[1, "A", 4], [2, np.nan, 7], [np.nan, np.nan, 5]], 
                  columns = ["colA", "colB", "colC"])

print(df)

df_new = handle_missing_data(df, axis = 1)

print(df_new)

   colA colB  colC
0   1.0    A     4
1   2.0  NaN     7
2   NaN  NaN     5
   colC
0     4
1     7
2     5

# #3 Fill the Missing Data

In [12]:
df = pd.DataFrame([[1, "A", 4], [2, np.nan, 7], [np.nan, np.nan, 5]], 
                  columns = ["colA", "colB", "colC"])

print(df)

df_new = df.fillna(df.mean())

print(df_new)

   colA colB  colC
0   1.0    A     4
1   2.0  NaN     7
2   NaN  NaN     5
   colA colB  colC
0   1.0    A     4
1   2.0  NaN     7
2   1.5  NaN     5

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

In [13]:
df = pd.DataFrame([[1, "A", 4], [2, np.nan, 7], [np.nan, np.nan, 5]], 
                  columns = ["colA", "colB", "colC"])

print(df)

df_new = df.fillna(df.median())

print(df_new)

   colA colB  colC
0   1.0    A     4
1   2.0  NaN     7
2   NaN  NaN     5
   colA colB  colC
0   1.0    A     4
1   2.0  NaN     7
2   1.5  NaN     5

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

In [14]:
df = pd.DataFrame([[1, "A", 4], [2, np.nan, 7], [np.nan, np.nan, 5]], 
                  columns = ["colA", "colB", "colC"])

print(df)

df_new = df.fillna(df.mode().iloc[0])

print(df_new)

   colA colB  colC
0   1.0    A     4
1   2.0  NaN     7
2   NaN  NaN     5
   colA colB  colC
0   1.0    A     4
1   2.0    A     7
2   1.0    A     5

In [15]:
df = pd.DataFrame([[1, "A", 4], [2, np.nan, 7], [np.nan, np.nan, 5]], 
                  columns = ["colA", "colB", "colC"])

print(df)

df_new = df.fillna({"colA":df['colA'].mean(), "colB": df['colB'].mode().iloc[0]})

print(df_new)

   colA colB  colC
0   1.0    A     4
1   2.0  NaN     7
2   NaN  NaN     5
   colA colB  colC
0   1.0    A     4
1   2.0    A     7
2   1.5    A     5