[Reference](https://towardsdatascience.com/write-clean-python-code-using-pipes-1239a0f3abf5)

In [1]:
!pip install pipe

Collecting pipe
  Downloading pipe-1.6.0-py2.py3-none-any.whl (6.8 kB)
Installing collected packages: pipe
Successfully installed pipe-1.6.0

In [2]:
from pipe import where

# 
Filter Elements in an Iterable

In [3]:
arr = [1, 2, 3, 4, 5]

# filter using list comprehension
[x for x in arr if x % 2 == 0]

[2, 4]

In [4]:
# filter using pipe
list(arr | where(lambda x: x % 2 == 0))

[2, 4]

# Apply a Function to an Iterable

In [5]:
from pipe import select

In [6]:
arr = [1, 2, 3, 4, 5]

In [7]:
list(arr | select(lambda x: x * 2))

[2, 4, 6, 8, 10]

In [8]:
list(map(lambda x: x * 2, filter(lambda x: x % 2 == 0, arr)))

[4, 8]

In [9]:
list(arr | where(lambda x: x % 2 == 0) | select(lambda x: x * 2))

[4, 8]

In [10]:
list(arr | select(lambda x: x * 2) | where(lambda x: x % 2 == 0))

[2, 4, 6, 8, 10]

# Unfold Iterables

## Chain

In [12]:
from pipe import chain

In [13]:
nested = [[1, 2, [3]], [4, 5]]
list(nested | chain)

[1, 2, [3], 4, 5]

## Traverse

In [14]:
from pipe import traverse

In [15]:
list(nested | traverse)

[1, 2, 3, 4, 5]

In [16]:
fruits = [
    {"name": "apple", "price": [2, 5]},
    {"name": "orange", "price": 4},
    {"name": "grape", "price": 5},
]

In [17]:
list(fruits | select(lambda fruit: fruit["price"]) | traverse)

[2, 5, 4, 5]

## Group Elements

In [18]:
from pipe import groupby

In [19]:
list(
    (1, 2, 3, 4, 5, 6, 7, 8, 9)
    | groupby(lambda x: "Even" if x % 2==0 else "Odd")
    | select(lambda x: {x[0]: list(x[1])})
)

[{'Even': [2, 4, 6, 8]}, {'Odd': [1, 3, 5, 7, 9]}]

In [20]:
list(
    (1, 2, 3, 4, 5, 6, 7, 8, 9)
    | groupby(lambda x: "Even" if x % 2==0 else "Odd")
    | select(lambda x: {x[0]: list(x[1] | where(lambda x: x > 2))})
)

[{'Even': [4, 6, 8]}, {'Odd': [3, 5, 7, 9]}]

## Deduplicate

In [21]:
from pipe import dedup

arr = [1, 2, 2, 3, 4, 5, 6, 6, 7, 9, 3, 3, 1]

In [22]:
list(arr | dedup)

[1, 2, 3, 4, 5, 6, 7, 9]

In [23]:
list(arr | dedup(lambda key: key < 5))

[1, 5]

In [24]:
data = [
    {"name": "apple", "count": 2},
    {"name": "orange", "count": 4},
    {"name": "grape", "count": None},
    {"name": "orange", "count": 7},
]

In [25]:
list(
    data
    | dedup(key=lambda fruit: fruit["name"])
    | select(lambda fruit: fruit["count"])
    | where(lambda count: isinstance(count, int))
)

[2, 4]