[Reference](https://medium.com/python-in-plain-english/cleaning-data-in-python-data-types-46f9ebf2feef)

In [1]:
import pandas as pd

In [3]:
data = {'Name': ['Joe','Liz','Kristen'], 
        'Sex': ['Male','Female','Female'], 
        'Age': [30,32,'-'] 
} 
df = pd.DataFrame(data, ['Name','Sex','Age'])

In [4]:
print(df)

         Name     Sex Age
Name      Joe    Male  30
Sex       Liz  Female  32
Age   Kristen  Female   -

In [5]:
print(df.dtypes)

Name    object
Sex     object
Age     object
dtype: object

In [7]:
df['Age'] = pd.to_numeric(df['Age'], errors='coerce') 
df.dtypes

Name     object
Sex      object
Age     float64
dtype: object

In [8]:
print(df)

         Name     Sex   Age
Name      Joe    Male  30.0
Sex       Liz  Female  32.0
Age   Kristen  Female   NaN

In [9]:
df['Sex'] = df['Sex'].astype('category') 
df.dtypes

Name      object
Sex     category
Age      float64
dtype: object

In [10]:
df['Name'] = df['Name'].astype('string') 
df.dtypes

Name      string
Sex     category
Age      float64
dtype: object