[Reference](https://medium.com/code-85/a-beginners-guide-to-python-list-comprehensions-7dbb0039f065)

In [1]:
nums = [n for n in range(1,6)]
print(nums)

[1, 2, 3, 4, 5]

# List Comprehension with Modification

In [2]:
nums = [1,2,3,4,5]
squares = [n*n for n in nums]
print(squares)

[1, 4, 9, 16, 25]

# List Comprehension With Filtering

In [3]:
even_squares = [n*n for n in nums if n%2 != 1]
print(even_squares)

[4, 16]

# List Comprehension With Nested For Loop

In [4]:
matrix = [[x for x in range(1,4)] for y in range(1,4)]
print(matrix)

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [5]:
matrix = [
          [x for x in range(1,4)] 
          for y in range(1,4)
          ]
print(matrix)

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [6]:
people = [{
  "first_name": "Branden",
  "last_name": "Kang",
  "birthday": "4/25/1999"
}, {
  "first_name": "Maria",
  "last_name": "Shin",
  "birthday": "1/11/1995"
}]

birthdays = [
  person[term]
  for person in people
  for term in person
  if term == "birthday"
]

In [7]:
print(birthdays)

['4/25/1999', '1/11/1995']