[Reference](https://medium.com/better-programming/9-things-to-know-to-master-list-comprehensions-in-python-8bc0411ec2ed)

In [1]:
pets = ('bird', 'snake', 'dog', 'turtle', 'cat', 'hamster')
uppercased_pets = []
for pet in pets:
     uppercased_pets.append(pet.upper())
 
uppercased_pets

['BIRD', 'SNAKE', 'DOG', 'TURTLE', 'CAT', 'HAMSTER']

In [2]:
pets = ('bird', 'snake', 'dog', 'turtle', 'cat', 'hamster')
uppercased_pets = [pet.upper() for pet in pets]
uppercased_pets

['BIRD', 'SNAKE', 'DOG', 'TURTLE', 'CAT', 'HAMSTER']

In [3]:
primes = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
squared_primes = [x*x for x in primes if x%10 == 3]
squared_primes

[9, 169, 529]

In [4]:
def has_four_legs(pet):
     return pet in ('pig', 'dog', 'turtle', 'hamster', 'cat')
 
pets = ('bird', 'snake', 'dog', 'turtle', 'cat', 'hamster')
four_legs_pets = [pet.capitalize() for pet in pets if has_four_legs(pet)]
four_legs_pets

['Dog', 'Turtle', 'Cat', 'Hamster']

In [5]:
max_value = 10
numbers = (7, 9, 11, 4, 3, 2, 12)
ceiling_numbers0 = [number if number <= max_value else max_value for number in numbers] 
print(ceiling_numbers0)
ceiling_numbers1 = [(number if number <= max_value else max_value) for number in numbers]
print(ceiling_numbers1)

[7, 9, 10, 4, 3, 2, 10]
[7, 9, 10, 4, 3, 2, 10]

In [6]:
pets = ('bird', 'snake', 'dog', 'turtle', 'cat', 'hamster')
uppercased_pets = list(map(str.upper, pets))
uppercased_pets

['BIRD', 'SNAKE', 'DOG', 'TURTLE', 'CAT', 'HAMSTER']

In [7]:
pets = ('bird', 'snake', 'dog', 'turtle', 'cat', 'hamster')
uppercased_pets = [pet.upper() for pet in pets]
uppercased_pets

['BIRD', 'SNAKE', 'DOG', 'TURTLE', 'CAT', 'HAMSTER']

In [9]:
nested_numbers = ((1, 4, 7, 8), (2, 3, 5))
squares = [x*x for numbers in nested_numbers for x in numbers]
squares

[1, 16, 49, 64, 4, 9, 25]

In [11]:
import random
vowels = [letter.upper() for _ in range(0, 10) if (letter := random.choice(letters)) in list('aeoui')]
vowels

In [12]:
numbers = (1, 34, 5, 8, 10, 12, 3, 90, 70, 70, 90)
unique_even_numbers = {number for number in numbers if number%2 == 0}
unique_even_numbers

{8, 10, 12, 34, 70, 90}

In [13]:
words = ('python', 'is', 'a', 'big', 'snake')
len_words = {word : len(word) for word in words}
len_words

{'a': 1, 'big': 3, 'is': 2, 'python': 6, 'snake': 5}

In [14]:
len_words_p = {word : len(word) for word in words if word.startswith('p')}
len_words_p

{'python': 6}