[Reference](https://medium.com/@aliyannshaikhh/2678fe889d8d)

In [1]:
def greet(name):
    print(f"Hello, {name}!")

greet("Aliyan")

Hello, Aliyan!

# 1. Positional (or Required Arguments)

In [2]:
def add(a, b):
    return a + b

print(add(2))

TypeError: add() missing 1 required positional argument: 'b'

In [3]:
print(add(2, 3))

5

# 2. Default Arguments

In [4]:
def greet(name="Guest"):
    print(f"Hello, {name}!")

greet()

greet("Dua")

Hello, Guest!
Hello, Dua!

# 3. Keyword Arguments

In [5]:
def student_info(name, age, course):
    print(f"{name} is {age} years old and enrolled in {course}.")

student_info(course="Python", name="Rahim", age=23)

Rahim is 23 years old and enrolled in Python.

# 4. Positional-Only Arguments (Python 3.8+)

In [6]:
def evaluate(a, b, /, c):
    return a * b + c

print(evaluate(3, 4, c=2))

14

In [7]:
print(evaluate(a=3, b=4, c=2))

TypeError: evaluate() got some positional-only arguments passed as keyword arguments: 'a, b'

# 5. Keyword-Only Arguments

In [8]:
def register_user(name, *, email, age):
    print(f"Name: {name}, Email: {email}, Age: {age}")

register_user("Ali", email="ali@example.com", age=25)

Name: Ali, Email: ali@example.com, Age: 25

In [9]:
register_user("Ali", "ali@example.com", 25)

TypeError: register_user() takes 1 positional argument but 3 were given

# 6. Variable-Length Arguments: *args and **kwargs

In [10]:
def total(*numbers):
    return sum(numbers)

print(total(1, 2, 3))

6

In [11]:
def show_info(**info):
    for key, value in info.items():
        print(f"{key}: {value}")

show_info(name="Hassan", age=16, course="C++")

name: Hassan
age: 16
course: C++