[Reference](https://towardsdatascience.com/4-tips-to-master-python-f-strings-a70ca896faa4)

In [1]:
simple_math_string = f"2 + 3 is equal to {2+3}"

print(simple_math_string)

2 + 3 is equal to 5

In [2]:
variable = 'alignment!'

print(f'{variable:>20}')
print(f'{variable:<20}')
print(f'{variable:^20}')

          alignment!
alignment!
     alignment!

In [4]:
import pandas as pd

df = pd.DataFrame.from_dict({2019 :[1,4,7,2,5,7,3,1], 2020 :[5,3,6,4,2,4,6,3], 2021 : [5,4,7,3,6,8,6,3]})

for col in [2020, 2021]:
    df[f'{col} Rolling'] = df[col].rolling(5).mean()

print(df)

   2019  2020  2021  2020 Rolling  2021 Rolling
0     1     5     5           NaN           NaN
1     4     3     4           NaN           NaN
2     7     6     7           NaN           NaN
3     2     4     3           NaN           NaN
4     5     2     6           4.0           5.0
5     7     4     8           3.8           5.6
6     3     6     6           4.4           6.0
7     1     3     3           3.8           5.2

In [5]:
df = pd.DataFrame.from_dict({'ID' :[13453466,44,6343,66577,243423]})
print(df)

         ID
0  13453466
1        44
2      6343
3     66577
4    243423

In [6]:
df = pd.DataFrame.from_dict({'ID' :[13453466,44,6343,66577,243423]})
df['Padded'] = [f'{x:09}' for x in df['ID']]
df['Padded2'] = df['ID'].apply(lambda x: f'{x:09}')
print(df)

         ID     Padded    Padded2
0  13453466  013453466  013453466
1        44  000000044  000000044
2      6343  000006343  000006343
3     66577  000066577  000066577
4    243423  000243423  000243423

In [7]:
df = pd.DataFrame.from_dict({'Value' :[234534.43, 987324543.34, 1234345.34, 8234.43]})
df['Currency'] = [f'${x:,.2f}' for x in df['Value']]
df['Currency 2'] = df['Value'].apply(lambda x: f'${x:,.2f}')
print(df)

          Value         Currency       Currency 2
0  2.345344e+05      $234,534.43      $234,534.43
1  9.873245e+08  $987,324,543.34  $987,324,543.34
2  1.234345e+06    $1,234,345.34    $1,234,345.34
3  8.234430e+03        $8,234.43        $8,234.43