[Reference](https://python.plainenglish.io/beginners-guide-to-f-strings-b44d17e9911b)

In [2]:
name = 'Adhyantini'
print('My name is %s! ' %name)

My name is Adhyantini!

In [3]:
first_name = 'Adhyantini'
last_name = 'Bogawat'
age = 22
profession = 'Engineer'
print('My name is %s %s and I am %s years old. I am an %s.' %(first_name, last_name, age, profession))

My name is Adhyantini Bogawat and I am 22 years old. I am an Engineer.

In [4]:
name = 'Adhyantini'
print('My name is {}'.format(name))

My name is Adhyantini

In [6]:
string1 = 'My name is {} and I am {} years old. I am a {}'.format("Adhyantini", 22, "Software Engineer")

In [7]:
string1 = "My name is {first_name} and I am {age} years old. I am a {profession} by profession ".format(first_name = "Adhyantini", age=22, profession="Software Engineer")
print(string1)

My name is Adhyantini and I am 22 years old. I am a Software Engineer by profession

In [8]:
string1 = "My pastime hobbies include {0} or {1}".format("watching movies", "writing")
print(string1)

My pastime hobbies include watching movies or writing

In [9]:
first_name = "adhyantini"
last_name = "bogawat"
string1 = f"My name is {first_name.upper()} {last_name.upper()}"
print(string1)

My name is ADHYANTINI BOGAWAT

In [10]:
person ={'name':'ABC', 'age':23}
string1 = f"My name is {person['name']} and I am {person['age']} years old"
print(string1)

My name is ABC and I am 23 years old

In [11]:
string1 = f"22 times 4 equals {22*4}"
print(string1)

22 times 4 equals 88

In [12]:
for i in range (0,10):
    string1 = f' Number : {i}'
print(string1)

 Number : 9

In [13]:
for i in range (0,10):
    string1 = f' Number : {i:03}'
print(string1)

 Number : 009

In [14]:
pi = 3.1415926
string1 = f'Pi is equal to {pi:.4f}'
print(string1)

Pi is equal to 3.1416

In [15]:
from datetime import datetime
birthday = datetime(1998,7,26)
string1 = f'Date of birth(Year, Month, Date):{birthday}'
print(string1)

Date of birth(Year, Month, Date):1998-07-26 00:00:00

In [16]:
from datetime import datetime
birthday = datetime(1998,7,26)
string1 = f'Date of birth(Month, Date, Year) {birthday:%B %d, %Y}'
print(string1)

Date of birth(Month, Date, Year) July 26, 1998