[Reference](https://medium.com/@aliyannshaikhh/a4a9db97c366)

In [1]:
# Single quotes
string1 = 'Branden'

# Double quotes
string2 = "Python Programming"

# Tripe quptes for multiline strings
string3 = ''' Welcome to
IT For Everybody'''

# String Indexing in Python

In [2]:
text = "Python"

print(text[1])
print(text[-2])

y
o

# String Slicing in Python

In [3]:
text = "Python For Everybody"

print(text[0:6])
print(text[:6])
print(text[11:])
print(text[::2])

Python
Python
Everybody
Pto o vrbd

# Reversing a Python String

In [4]:
text = "Python"

print(text[::-1])

nohtyP

# String Operations in Python

## Concatenation (+)

In [5]:
text1 = "Hello, "
text2 = "World!"
text3 = text1 + text2

print(text3)
print(text1 + "Aliyan!")

Hello, World!
Hello, Aliyan!

## Repetition (*)

In [6]:
text = "Hi!"

print(text*2)

Hi!Hi!

## Membership Operations (in and not in)

In [7]:
text = "I am curious."

print("I" in text)
print("Was" in text)
print("am" not in text)

True
False
False

# Escape Characters in Python Strings

In [10]:
print("He said, "I am awesome!"")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-780279345.py, line 1)

In [11]:
print("He said, \"I am awesome!\"") # He said, "I am awesome!"

He said, "I am awesome!"

In [12]:
print("She is Nimra.\nHe is Rahim.")

She is Nimra.
He is Rahim.

In [13]:
name = "Aliyan"
age = 22

print(f"My name is {name} and I am {age} years old.")

My name is Aliyan and I am 22 years old.

In [14]:
price = 49.99
quantity = 3

print(f"Total cost: {price * quantity:.2f}")

Total cost: 149.97

# String Methods in Python

In [15]:
text = "Python is Fun"

print(text.upper())
print(text.lower())
print(text.title())
print(text.capitalize())
print(text.swapcase())

PYTHON IS FUN
python is fun
Python Is Fun
Python is fun
pYTHON IS fUN

In [16]:
text = "Python Programming"

print(text.find("Pro"))
print(text.find("Java"))

print(text.index("Pro"))
# print(text.index("Java"))  # ValueError: substring not found

print(text.startswith("Py"))
print(text.endswith("ing"))

7
-1
7
True
True

In [17]:
text = "  Hello Python!  "

print(text.replace("Python", "World"))
print(text.strip())
print(text.lstrip())
print(text.rstrip())

  Hello World!
Hello Python!
Hello Python!
  Hello Python!

In [18]:
text = "I love IT For Everybody"

# Splitting
words = text.split()
print(words)

sentence = "Python,C++,C#"
print(sentence.split(","))

# Joining
word_list = ['I', 'love', 'IT', 'For', 'Everybody']
print(" ".join(word_list))
print("-".join(word_list))

['I', 'love', 'IT', 'For', 'Everybody']
['Python', 'C++', 'C#']
I love IT For Everybody
I-love-IT-For-Everybody

In [19]:
text1 = "ITForEverybody"
text2 = "12345"
text3 = "I Love Python"
text4 = "   "

print(text1.isalpha())
print(text2.isdigit())
print(text1.isalnum())
print(text4.isspace())
print(text1.islower())
print(text2.isupper())
print(text3.istitle())

True
True
True
True
False
False
True