[Reference](https://towardsdatascience.com/mastering-string-methods-in-python-456174ede911)

In [1]:
empty_string = ''
print(empty_string)

In [2]:
string1 = 'This movie'
string2 = 'is awesome'
print(string1 + string2)

This movieis awesome

In [3]:
print('*' * 30)
print('Hello World')
print('*' * 30)

******************************
Hello World
******************************

In [4]:
print('The length of string1 is',len(string1))

The length of string1 is 10

In [5]:
def email_list(domains):
    emails = []
    for m, users in domains.items():
        for user in users:
          em = str(user) + '@' + str(m)
          emails.append(em)
    return(emails)

print(email_list({"gmail.com": ["clark.kent", "diana.prince", "peter.parker"], "yahoo.com": ["barbara.gordon", "jean.grey"], "hotmail.com": ["bruce.wayne"]}))

['clark.kent@gmail.com', 'diana.prince@gmail.com', 'peter.parker@gmail.com', 'barbara.gordon@yahoo.com', 'jean.grey@yahoo.com', 'bruce.wayne@hotmail.com']

In [6]:
str_to_idx = 'I love Python for data analytics'
print(str_to_idx[:10])
print(str_to_idx[-3:])

I love Pyt
ics

In [8]:
text = 'This a sampl@ text'
print(text)
corrected_text = text[:12] + 'e ' + text[14:]
print(corrected_text)

This a sampl@ text
This a sample text

In [10]:
string_with_spaces = '    Hello world!   '
string_with_left_spaces = '    Hello world!'
string_with_right_spaces = 'Hello world!   '
print(string_with_spaces.strip())
print(string_with_left_spaces.lstrip())
print(string_with_right_spaces.rstrip())

Hello world!
Hello world!
Hello world!

In [11]:
test_string = 'This is a smaple text'
c = test_string.count('a')
end =test_string.endswith('t')
start =test_string.startswith('T')
print('The character "a" is {} times in the string'.format(c))
print('Does the string end with the character "t"?', end)
print('Does the string start with the character "T"?', start)

The character "a" is 2 times in the string
Does the string end with the character "t"? True
Does the string start with the character "T"? True

In [13]:
list_to_concat = ["I","love","Python",", too"]
print(' '.join(list_to_concat))

I love Python , too

In [14]:
print("This sentence sould be splitted".split())

['This', 'sentence', 'sould', 'be', 'splitted']

In [15]:
name = "Branden"
job = 'Data Scientist'
print("My name is {} and I am a {}".format(name,job))

My name is Branden and I am a Data Scientist

In [17]:
price = 9
tax = price * 0.2
total = price * (1+tax)
print('Base price is ${:.2f}, but total sale price is ${:.2f}'.format(price, total))

Base price is $9.00, but total sale price is $25.20