[Reference](https://medium.com/analytics-vidhya/python-literals-e68cc2d4de41)

# Numeric Literals

In [1]:
# 1.Integer Literal
int_1 = 450 #Decimal Literal
int_2 = 0b1011 #Binary Literal
int_3 = 0o310 #Octal Literal
int_4 = 0x12c #Hexadecimal Literal
# 2.Float Literal
float_1 = 42.3
float_2 = 3.5e2
# 3.Complex Literal
complex_num = 3.14j
print(int_1, int_2, int_3, int_4)
print(float_1, float_2)
print(complex_num, complex_num.imag, complex_num.real)

450 11 200 300
42.3 350.0
3.14j 3.14 0.0

# String Literals

In [2]:
normal_string = "Python is easy"
character_literal = "B"
multiline_string = """This type can be used to declare strings
                   that you have to use multiple code lines"""
unicode_string = u"\u00dcnic\u00f6de"
raw_string = r"See the output and \n you will know what this is!"
print(normal_string)
print(character_literal)
print(multiline_string)
print(unicode_string)
print(raw_string)

Python is easy
B
This type can be used to declare strings
                   that you have to use multiple code lines
Ünicöde
See the output and \n you will know what this is!

# Boolean Literals

In [3]:
choice_1 = (1 == True)
choice_2 = (1 == False)
number_1 = True + 4
number_2 = False + 10

print("choice_1 is", choice_1)
print("choice_2 is", choice_2)
print("number_1:", number_1)
print("number_2:", number_2)

choice_1 is True
choice_2 is False
number_1: 5
number_2: 10

# Special Literals

In [4]:
deadpool_1 = "Available"
deadpool_2 = None

def movie(x):
    if x == deadpool_1:
        print(deadpool_1)
    else:
        print(deadpool_2)

movie(deadpool_1)
movie(deadpool_2)

Available
None

# Literal Collections

In [5]:
flowers = ["lilly", "rose", "tulip"] #list
numbers = (1, 3, 5) #tuple
alphabets = {'a':'avengers', 'b':'black_panther', 'c':'captain_america'} #dictionary
vowels = {'a', 'e', 'i' , 'o', 'u'} #set

print(flowers)
print(numbers)
print(alphabets)
print(vowels)

['lilly', 'rose', 'tulip']
(1, 3, 5)
{'a': 'avengers', 'b': 'black_panther', 'c': 'captain_america'}
{'o', 'a', 'u', 'i', 'e'}