[Reference](https://medium.com/codefile/string-formatting-in-python3-f851a26d8ea4)

In [1]:
name1 = 'Mickey'
print('Is that mouse called %s?' %name1)

Is that mouse called Mickey?

In [2]:
name1 = 'Mickey'
name2 = 'Mouse'
print('The name is %s, %s %s'%(name2,name1,name2))

The name is Mouse, Mickey Mouse

In [3]:
print('The name is %(n2)s, %(n1)s %(n2)s'%{'n1':name1, 'n2':name2})

The name is Mouse, Mickey Mouse

In [4]:
print('Is that mouse called {}?'.format(name1))

Is that mouse called Mickey?

In [5]:
print('The name is {n2}, {n1} {n2}'.format(n1=name1,n2=name2))

The name is Mouse, Mickey Mouse

# F-Strings

In [6]:
num1=6
num2=7
print(f'Did you know that {num1} times {num2} equals {num1*num2}?')

Did you know that 6 times 7 equals 42?

In [7]:
print(f'{num1==num2}')

False