[Reference](https://towardsdatascience.com/advanced-python-list-techniques-c6195fa699a3)

# Filter() Function

In [6]:
original_list = [1,2,3,4,5,6,7,8,9,10]

def filter_three(number):
  return number > 3

filtered = filter(filter_three, original_list)

filtered_list = list(filtered)

print(filtered_list)

[4, 5, 6, 7, 8, 9, 10]

# List Comprehensions

In [5]:
original_list = [1,2,3,4,5,6,7,8,9,10]

filtered_list = [number for number in original_list if number >3]

print(filtered_list)

[4, 5, 6, 7, 8, 9, 10]

# Map() Function

In [9]:
original_list = [1,2,3,4,5,6,7,8,9,10]

def square(number):
  return number ** 2

squares = map(square, original_list)

squares_list = list(squares)

print(squares_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# List Comprehensions

In [10]:
original_list = [1,2,3,4,5,6,7,8,9,10]

squares_list = [number ** 2 for number in original_list]

print(squares_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Zip() Function

In [11]:
numbers = [1,2,3,4,5]

letters = ['a','b','c','d','f']

combined = zip(numbers, letters)

combined_list = list(combined)

In [12]:
print(combined_list)

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'f')]

# Reverse

In [13]:
original_list = [1,2,3,4,5,6,7,8,9,10]

reversed_list = original_list[::-1]

print(reversed_list)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# Membership in a List

In [14]:
games = ['Yankees', 'Yankees', 'Cubs', 'Blue Jays', 'Giants']

def isin(item, list_name):
  if item in list_name: 
    print(f"{item} is in the list!")
  else: 
    print(f"{item} is not in the list!")

isin('Blue Jays', games)
isin('Angels', games)

Blue Jays is in the list!
Angels is not in the list!

# Most Common Item in a List

In [15]:
games = ['heads', 'heads', 'tails', 'heads', 'tails']
items = set(games)
print(max(items, key = games.count))

heads

# Flatten

In [16]:
nested_list = [[1,2,3],[4,5,6],[7,8,9]]

flat_list = [i for j in nested_list for i in j]

print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Uniqueness

In [17]:
list1 = [1,2,3,4,5]
list2 = [1,1,2,3,4]

def isunique(list):
  if len(list) == len(set(list)):
    print('Unique!')
  else: 
    print('Not Unique!')

isunique(list1)
isunique(list2)

Unique!
Not Unique!