[Reference](https://medium.com/@data.science.enthusiast/the-only-pandas-guideline-you-need-as-a-beginner-data-scientist-5584c2c7a0f7)

In [2]:
import pandas as pd

In [3]:
series = pd.Series([1, 4, 5, 7, 45, 67, 69]) 
series

0     1
1     4
2     5
3     7
4    45
5    67
6    69
dtype: int64

In [4]:
series_index = pd.Series([1, 4, 5, 7, 45, 67,69], index=['a','b','c','d','e', 'f','y'])
series_index

a     1
b     4
c     5
d     7
e    45
f    67
y    69
dtype: int64

In [5]:
series_index_as_dict = pd.Series({'a':1,'b':4,'c':5,'d':7,'e':45, 'f':67,'y':69}) 
series_index_as_dict

a     1
b     4
c     5
d     7
e    45
f    67
y    69
dtype: int64

In [6]:
series_index['b']

4

In [7]:
series_index[['a', 'd', 'f']]= 0 
series_index

a     0
b     4
c     5
d     0
e    45
f     0
y    69
dtype: int64

In [8]:
series_index[series_index > 0]

b     4
c     5
e    45
y    69
dtype: int64

In [9]:
series_index[series_index > 0] * 2

b      8
c     10
e     90
y    138
dtype: int64

In [10]:
series_index.index = ['A', 'B', 'C', 'D','S', 'W','O'] 
series_index

A     0
B     4
C     5
D     0
S    45
W     0
O    69
dtype: int64

In [12]:
df = pd.DataFrame({ 'Name': ['John', 'Liza', 'Elizabeth', 'Max'],
                     'ID': [1904, 6478, 8749, 8476], 
                     'Age': [25, 49, 34, 58] 
}) 
df

        Name    ID  Age
0       John  1904   25
1       Liza  6478   49
2  Elizabeth  8749   34
3        Max  8476   58

In [13]:
df['Age']

0    25
1    49
2    34
3    58
Name: Age, dtype: int64

In [14]:
df = pd.DataFrame({ 'Name': ['John', 'Liza', 'Elizabeth', 'Max'],
                    'ID': [1904, 6478, 8749, 8476], 
                    'Age': [25, 49, 34, 58] 
                   }, index=['J', 'L', 'E', 'M']) 
df

        Name    ID  Age
J       John  1904   25
L       Liza  6478   49
E  Elizabeth  8749   34
M        Max  8476   58

In [15]:
df.index = ['J', 'L', 'E', 'M'] 
df.index.name = 'Code' 
df

           Name    ID  Age
Code
J          John  1904   25
L          Liza  6478   49
E     Elizabeth  8749   34
M           Max  8476   58

In [16]:
df['Name']

Code
J         John
L         Liza
E    Elizabeth
M          Max
Name: Name, dtype: object

In [17]:
df.loc['J']

Name    John
ID      1904
Age       25
Name: J, dtype: object

In [18]:
df.loc[['J'], 'Age']

Code
J    25
Name: Age, dtype: int64

In [19]:
df.iat[1,2]

49

In [20]:
df["Name"].isin(["Liza"])

Code
J    False
L     True
E    False
M    False
Name: Name, dtype: bool

In [21]:
df.drop(['ID'], axis='columns')

           Name  Age
Code
J          John   25
L          Liza   49
E     Elizabeth   34
M           Max   58