[Reference](https://medium.com/codex/3-most-effective-yet-underutilized-functions-in-python-d865ffaca0bb)

# Lambda

In [1]:
def multiply_by_2(x):
    x*2

In [2]:
lambda x: x*2

# Map

In [3]:
def square(x):
    return x*x

In [4]:
input_list = [2, 3, 4, 5, 6]

# Without lambda 
result = map(square, input_list)

# Using lambda function 
result = map(lambda x: x*x, input_list)

# converting the numbers into a list
list(result)

[4, 9, 16, 25, 36]

# Filter

In [5]:
def less_than_10(x):
    if x < 10:
        return x

In [6]:
input_list = [2, 3, 4, 5, 10, 12, 14] 

# Without lambda
list(filter(less_than_10, input_list))

# using lambda function 
list(filter(lambda x: x < 10, input_list))

[2, 3, 4, 5]

# Reduce

In [7]:
def addition(x,y):
    return x + y

In [10]:
from functools import reduce

input_list = [1, 2, 3, 4, 5]

# Without Lambda function
# reduce(addition, input_list))

# With Lambda function
reduce(lambda x,y: x+y, input_list)

15