[Reference](https://python.plainenglish.io/getting-started-with-tinydb-in-python-2c82bb23a9a6)

# How to Install TinyDB

In [1]:
pip install tinydb

Collecting tinydb
  Downloading tinydb-4.7.0-py3-none-any.whl (24 kB)
Requirement already satisfied: typing-extensions<5.0.0,>=3.10.0 in /usr/local/lib/python3.7/dist-packages (from tinydb) (3.10.0.2)
Installing collected packages: tinydb
Successfully installed tinydb-4.7.0

# How to Use TinyDB

In [2]:
from tinydb import TinyDB       
db = TinyDB("todo_db.json")

# How to Insert Data in TinyDB

In [3]:
new_item = {"name": "Book", "quantity": 5}
db.insert(new_item)

1

In [4]:
items = [
         {"name": "Cake", "quantity": 1},
         {"name": "Candles", "quantity": 10},
         {"name": "Balloons", "quantity": 50}
         ]
db.insert_multiple(items)

[2, 3, 4]

In [9]:
import pandas as pd
pd.read_json('todo_db.json')

                               _default
1       {'name': 'Book', 'quantity': 5}
2       {'name': 'Cake', 'quantity': 1}
3   {'name': 'Candles', 'quantity': 10}
4  {'name': 'Balloons', 'quantity': 50}

# How to Retrieve Data from TinyDB

In [10]:
from tinydb import Query
Todo = Query()

In [11]:
db.search(Todo.name == 'Book')

[{'name': 'Book', 'quantity': 5}]

In [12]:
db.search(Todo.name == 'Copies')

[]

In [13]:
db.get(Todo.name == 'Book')

{'name': 'Book', 'quantity': 5}

In [14]:
db.get(Todo.name == 'Copies')

In [15]:
db.contains(Todo.name == 'Copies')

False

In [16]:
db.contains(Todo.name == 'Book')

True

In [17]:
db.insert({"name": "Balloons", "quantity": 500})

5

In [18]:
db.count(Todo.name == 'Balloons')

2

In [19]:
len(db)

5

In [20]:
db.all()

[{'name': 'Book', 'quantity': 5},
 {'name': 'Cake', 'quantity': 1},
 {'name': 'Candles', 'quantity': 10},
 {'name': 'Balloons', 'quantity': 50},
 {'name': 'Balloons', 'quantity': 500}]

# How to Update Data in TinyDB

In [21]:
db.update({'name': 'Books'}, Todo.name == 'Book')

[1]

In [22]:
db.update({'quantity': 10})

[1, 2, 3, 4, 5]

In [23]:
db.all()

[{'name': 'Books', 'quantity': 10},
 {'name': 'Cake', 'quantity': 10},
 {'name': 'Candles', 'quantity': 10},
 {'name': 'Balloons', 'quantity': 10},
 {'name': 'Balloons', 'quantity': 10}]

# How to Delete Data in TinyDB

In [24]:
db.remove(Todo.name == 'Cake')

[2]

In [25]:
db.all()

[{'name': 'Books', 'quantity': 10},
 {'name': 'Candles', 'quantity': 10},
 {'name': 'Balloons', 'quantity': 10},
 {'name': 'Balloons', 'quantity': 10}]

In [26]:
db.remove(Todo.name == 'Copies')

[]

In [27]:
db.remove(doc_ids=[4,5])

[4, 5]

In [28]:
db.all()

[{'name': 'Books', 'quantity': 10}, {'name': 'Candles', 'quantity': 10}]

In [29]:
db.truncate()

In [30]:
db.all()

[]