[Reference](https://levelup.gitconnected.com/how-to-work-with-sqlalchemy-query-table-and-orm-classes-in-pandas-477599174b6)

In [2]:
import pandas as pd
from sqlalchemy import create_engine, text

db_url = "mysql+pymysql://root:root@localhost:13306/data"

engine = create_engine(
    db_url, pool_size=5, pool_recycle=3600, isolation_level="AUTOCOMMIT"
)
con = engine.connect()

In [3]:
query = """
    SELECT
        student_id,
        score
    FROM data.student_scores
    WHERE subject = :subject
"""
df_from_sql = pd.read_sql(text(query), con=con, params={"subject": "Math"})

In [4]:
from sqlalchemy import Column, MetaData, String, Table
from sqlalchemy.dialects.mysql import SMALLINT, TINYINT

metadata = MetaData()


student_score = Table(
    "student_scores",
    metadata,
    Column("student_id", SMALLINT, primary_key=True),
    Column("subject", String(50), primary_key=True),
    Column("score", TINYINT),
    schema="data",
)

In [5]:
from sqlalchemy import select

df_from_sql = pd.read_sql(select(student_score), con)
df_from_sql = pd.read_sql(
    select(student_score).where(student_score.c.score >= 80), con
)

In [6]:
from sqlalchemy import Column, MetaData, String
from sqlalchemy.dialects.mysql import SMALLINT, TINYINT
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base(metadata=MetaData(schema="data"))


class StudentScoreV1(Base):
    __tablename__ = "student_scores"
    __table_args__ = {"schema": "data"}

    student_id = Column(SMALLINT, primary_key=True)
    subject = Column(
        String(50),primary_key=True, index=True
    )
    score = Column(TINYINT, index=True)

In [7]:
from sqlalchemy.orm import DeclarativeBase
from sqlalchemy.orm import Mapped
from sqlalchemy.orm import mapped_column


class Base(DeclarativeBase):
    metadata = MetaData(schema="data")


class StudentScoreV2(Base):
    __tablename__ = "student_scores"
    __table_args__ = {"schema": "data"}

    student_id: Mapped[int] = mapped_column(SMALLINT, primary_key=True)
    subject: Mapped[str] = mapped_column(String(50), primary_key=True, index=True)
    score: Mapped[int] = mapped_column(TINYINT, index=True)

In [8]:
from sqlalchemy import select

stmt1 = select(StudentScoreV1).where(StudentScoreV1.score >= 80)
stmt2 = select(StudentScoreV2).where(StudentScoreV2.score >= 80)

df_from_sql1 = pd.read_sql(stmt1, con)
df_from_sql2 = pd.read_sql(stmt2, con)