[Reference](https://medium.com/@tubelwj/pypika-making-sql-queries-easy-with-python-3c0ded0909ba)

In [1]:
pip install pypika

Collecting pypika
  Downloading PyPika-0.48.9.tar.gz (67 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 67.3/67.3 kB 1.1 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: pypika
  Building wheel for pypika (pyproject.toml) ... done
  Created wheel for pypika: filename=PyPika-0.48.9-py2.py3-none-any.whl size=53723 sha256=964deed19b0352d36e134a55b0423eea1d2a5fda854c19a536a096f5e9c863aa
  Stored in directory: /root/.cache/pip/wheels/e1/26/51/d0bffb3d2fd82256676d7ad3003faea3bd6dddc9577af665f4
Successfully built pypika
Installing collected packages: pypika
Successfully installed pypika-0.48.9

In [6]:
from pypika import Query, Table

query = Query.from_('products').select('*')
print(query.get_sql())

SELECT * FROM "products"

In [7]:
from pypika import Query, Table

query = Query.from_('products').select('id', 'name', 'category', 'qty')
print(query.get_sql())

SELECT "id","name","category","qty" FROM "products"

In [10]:
from pypika import Query, Table

# define a table
products = Table('products')

# build an INSERT query
query = Query.into(products).columns( 'name' , 'category' , 'qty' ).insert( 'Introduction to LLM' , 'book', 1000 )
print (query.get_sql())

INSERT INTO "products" ("name","category","qty") VALUES ('Introduction to LLM','book',1000)

In [9]:
from pypika import Query, Table

customers = Table('customers')
query = Query.into(customers).insert((1, 'Jay', 'Doe', 'jay@example.com'),
                                 (2, 'Joe', 'Doe', 'joe@example.com'))

print (query.get_sql())

INSERT INTO "customers" VALUES (1,'Jay','Doe','jay@example.com'),(2,'Joe','Doe','joe@example.com')

In [11]:
from pypika import Query, Table

# define a table
users = Table( 'customers' )

# build an UPDATE query
query = Query.update(customers). set (customers.age, 32 ).where(customers.name == 'Amy' )
print (query.get_sql())

UPDATE "customers" SET "age"=32 WHERE "name"='Amy'

In [13]:
from pypika import Query, Table

# define a table
orders = Table('orders')
customers = Table('customers')

# build a subquery
subquery = Query.from_(orders).select('SUM(amount)').where( orders.customer_id ==customers.id ) #

# build a main query to use the subquery
query = Query.from_(customers).select(customers.name, subquery).where(subquery > 200 )
print (query.get_sql( ))

SELECT "name",(SELECT "orders"."SUM(amount)" FROM "orders" WHERE "orders"."customer_id"="customers"."id") FROM "customers" WHERE (SELECT "orders"."SUM(amount)" FROM "orders" WHERE "orders"."customer_id"="customers"."id")>200

In [14]:
from pypika import Query, Table, functions as fn

# define a table
products = Table('products')

# build function or alias to create query
query = Query.from_(products).select(fn.Count('*').as_ ('total_products'))
print (query.get_sql())

SELECT COUNT(*) "total_products" FROM "products"

In [16]:
from pypika import Query, Table, Case

# define a table
students = Table( 'students' )

# use case statements to create query
query = Query.from_(students).select(
    students.name,
    Case()
    .when(students.score > 90, 'A')
    .when(students.score > 80, 'B')
    .else_('C').as_('grade'))

print(query.get_sql())

SELECT "name",CASE WHEN "score">90 THEN 'A' WHEN "score">80 THEN 'B' ELSE 'C' END "grade" FROM "students"