[Reference](https://aaron-zhu.medium.com/python-read-sql-to-sql-read-and-write-sql-databases-f3fa9b980c33)

In [1]:
!pip install SQLAlchemy
!pip install pandas 
!pip install psycopg2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: SQLAlchemy in /usr/local/lib/python3.9/dist-packages (1.4.47)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.9/dist-packages (from SQLAlchemy) (2.0.2)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.9/dist-packages (2.9.6)

In [2]:
import sqlalchemy
import pandas as pd

# Create Connection to the Database

In [3]:
url = 'postgresql+psycopg2://username:password@host:port/database'
engine = sqlalchemy.create_engine(url)
# engine = sqlalchemy.create_engine(url, connect_args={'options': '-csearch_path=schema_name'}, isolation_level="AUTOCOMMIT")

# Writing to SQL Databases

In [4]:
df = pd.DataFrame(
    columns=["student_id", "class", "gpa"],
    data=[
        [1, "English", 3.7],
        [1, "Math", 4.0],
        [2, "English", 2.7],
        [2, "Math", 3.0],
        [3, "English", 3.5],
        [3, "Math", 3.5],
    ],
)

In [5]:
from sqlalchemy.types import *

df.to_sql(
    name = "table_name", 
    con = engine,
    if_exists = "replace",
    schema='shcema_name',   
    index=False,
     dtype={
        "student_id": Integer,
        "class": Text,
        "gpa": DECIMAL(3,2)
    }
)

# Reading SQL Databases

In [6]:
from sqlalchemy import text

with engine.connect() as conn:
    df = pd.read_sql(sql='SELECT * FROM shcema_name.table_name where gpa > 3', con = conn)

with engine.connect() as conn:
    df = pd.read_sql(sql=text('SELECT * FROM shcema_name.table_name where gpa > 3'), con = conn)

with engine.connect() as conn:
    df = pd.read_sql_query(sql=text('SELECT * FROM shcema_name.table_name where gpa > 3'), con = conn)

In [7]:
with engine.connect() as conn:
    df = pd.read_sql(text('''INSERT INTO random_df_pratice.new_table VALUES (4, 'Math', 4.00); SELECT * FROM random_df_pratice.new_table;'''), con = conn)

In [8]:
with engine.connect() as conn:
    df = pd.read_sql_table(table_name = 'table_name', schema = 'schema_name' , con = conn)