[Reference](https://medium.com/analytics-vidhya/sql-database-with-python-5dda6c9a0c8d)

In [2]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

print("All required packages are imported successfully !")

All required packages are imported successfully !

In [3]:
database = 'tds.sqlite'
conn = sqlite3.connect(database)

In [4]:
cur = conn.cursor()

In [6]:
drop_table_query = "DROP TABLE IF EXISTS job"
cur.execute(drop_table_query)
conn.commit()

In [7]:
create_table_query = "CREATE TABLE IF NOT EXISTS job(\
                        Year INTEGER, DipEngineer INTEGER,\
                        Medical INTEGER, Agriculture INTEGER,\
                        Science INTEGER, Engineer INTEGER,\
                        PGMedical INTEGER, PGAgriculture INTEGER,\
                        PGScience INTEGER)"
cur.execute(create_table_query)
conn.commit()

In [8]:
check_table_cols = "SELECT * FROM job"
cur.execute(check_table_cols)
col_name_list = [tuple[0] for tuple in cur.description]
col_name_list

['Year',
 'DipEngineer',
 'Medical',
 'Agriculture',
 'Science',
 'Engineer',
 'PGMedical',
 'PGAgriculture',
 'PGScience']

In [10]:
# df = pd.read_excel("jobseekers.xls", header=0) 
# df.columns = ["Year", "DipEngineer", "Medical", "Agriculture",\
#               "Veterinary", "Science","Engineer",\
#               "GradTotal", "PGMedical","PGAgriculture",\
#               "PGVeterinary", "PGScieance", "PGTotal"]
# df.head(10)