[Reference1](https://towardsdatascience.com/how-to-handle-json-in-python-d877125df39b) <br>
[Reference2](https://github.com/Tanu-N-Prabhu/Python/blob/master/How_to_handle_JSON_in_Python%3F.ipynb)

In [1]:
example = '{"name": "Jake", "programming languages": ["Python", "Kotlin"]}'
example

'{"name": "Jake", "programming languages": ["Python", "Kotlin"]}'

In [2]:
json_data = '[{"id":"NC04","name":"City Centre"},{"id":"NC66","name":"Cultural Quarter"},{"id":"NC67","name":"Riverside"},{"id":"NC68","name":"Clarendon Park"},{"id":"NE09","name":"Belgrave South"},{"id":"NE10","name":"Belgrave North"}]'
type(json_data)

str

In [3]:
import json

In [4]:
# Importing json module
import json
# Passing the json data to the loads method
neighbourhood = json.loads(json_data)
# Printing the result - list
print(neighbourhood)
print("-----------------------------------------------------")
# Checking the type of the variable
print(type(neighbourhood))
print("-----------------------------------------------------")
# Accessing the first element in the list - Using index
print(neighbourhood[0])

[{'id': 'NC04', 'name': 'City Centre'}, {'id': 'NC66', 'name': 'Cultural Quarter'}, {'id': 'NC67', 'name': 'Riverside'}, {'id': 'NC68', 'name': 'Clarendon Park'}, {'id': 'NE09', 'name': 'Belgrave South'}, {'id': 'NE10', 'name': 'Belgrave North'}]
-----------------------------------------------------
<class 'list'>
-----------------------------------------------------
{'id': 'NC04', 'name': 'City Centre'}

In [5]:
# Importing json module
import json
# Passing the python data to the dumps method
neighbourhood_list = json.dumps(neighbourhood)
# Checking the type of the variable
print(type(neighbourhood_list))
print("-----------------------------------------------------")
# Printing the result - string
print(neighbourhood_list)

<class 'str'>
-----------------------------------------------------
[{"id": "NC04", "name": "City Centre"}, {"id": "NC66", "name": "Cultural Quarter"}, {"id": "NC67", "name": "Riverside"}, {"id": "NC68", "name": "Clarendon Park"}, {"id": "NE09", "name": "Belgrave South"}, {"id": "NE10", "name": "Belgrave North"}]

In [6]:
dictt = {"name": "John Depp", "age": 48}
listt = ["John", "Depp", 48]
strr = "John Depp"
intt = 48

In [7]:
# Python Object 1 - Dictionary
print(json.dumps(dictt))
# Checking the type
print(type(json.dumps(dictt)))
print("-----------------------------------------------------")
# Python Object 2 - List
print(json.dumps(listt))
# Checking the type
print(type(json.dumps(listt)))
print("-----------------------------------------------------")
# Python Object 3 - String
print(json.dumps(strr))
# Checking the type
print(type(json.dumps(strr)))
print("-----------------------------------------------------")
# Python Object 4 - Integer
print(json.dumps(intt))
# Checking the type
print(type(json.dumps(intt)))
print("-----------------------------------------------------")

{"name": "John Depp", "age": 48}
<class 'str'>
-----------------------------------------------------
["John", "Depp", 48]
<class 'str'>
-----------------------------------------------------
"John Depp"
<class 'str'>
-----------------------------------------------------
48
<class 'str'>
-----------------------------------------------------

In [8]:
# Import both JSON and Pandas library
import json
import pandas as pd
# Use the `loads()` method to load the JSON data
df = json.loads(json_data)
# Pass the generated JSON data into a pandas dataframe
df = pd.DataFrame(df)
df

     id              name
0  NC04       City Centre
1  NC66  Cultural Quarter
2  NC67         Riverside
3  NC68    Clarendon Park
4  NE09    Belgrave South
5  NE10    Belgrave North

In [9]:
# Checking the type of the data 
print(type(df))

<class 'pandas.core.frame.DataFrame'>