[Reference](https://medium.com/spatial-data-science/dashboarding-with-python-made-easy-with-voila-gridstack-template-4335480dddee)

# Voilà & Voilà-gridstack Template

In [19]:
import pandas as pd
import ipywidgets
import plotly.express as px
import ipywidgets as widgets

table = pd.read_html('http://floodobservatory.colorado.edu/Archives/MapIndex.htm', header=4)
table

[       Year  DFO #  ... Duration  (days) Unnamed: 9
 0       NaN    NaN  ...              NaN        NaN
 1       NaN    NaN  ...              NaN        NaN
 2    2008.0   52.0  ...             14.0        NaN
 3    2008.0   35.0  ...              9.0        NaN
 4    2008.0    7.0  ...             16.0        NaN
 ..      ...    ...  ...              ...        ...
 388     NaN    NaN  ...              NaN        NaN
 389     NaN    NaN  ...              NaN        NaN
 390     NaN    NaN  ...              NaN        NaN
 391     NaN    NaN  ...              NaN        NaN
 392     NaN    NaN  ...              NaN        NaN

 [393 rows x 10 columns]]

In [20]:
df = table[0]

In [21]:
df['Year'] = pd.to_datetime(df['Began']).dt.year
df.head()

     Year  DFO #  ... Duration  (days) Unnamed: 9
0     NaN    NaN  ...              NaN        NaN
1     NaN    NaN  ...              NaN        NaN
2  2008.0   52.0  ...             14.0        NaN
3  2008.0   35.0  ...              9.0        NaN
4  2008.0    7.0  ...             16.0        NaN

[5 rows x 10 columns]

In [22]:
year_widget1 = widgets.IntRangeSlider(value=[2015, 2020], min=1985,
        max=2020, step=1, description='Years:')

In [ ]:
@ipywidgets.interact(year=year_widget1)
def geo_plot(year):
    fig = px.scatter_geo(
        df[df['Year'].between(year[0], year[1])],
        lat='lat',
        lon='long',
        hover_name='Country',
        size='Dead',
        projection='natural earth',
        )fig.show()