[Reference](https://medium.com/analytics-vidhya/learn-data-analysis-with-python-find-out-the-practical-code-for-data-interpretation-d846c3ec054c)

In [1]:
#Declare all required packages in jupyter notebook
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline
from matplotlib.ticker import PercentFormatter
# Type of Data : Categorical and Numerical  
cate_list=["Apple","Banana","Orange"] 
cate_list 
Output: ['Apple', 'Banana', 'Orange'] 
cate_dict={1:"Apple",2:"Banana",3:"Orange"} 
cate_dict 
Output: {1: 'Apple', 2: 'Banana', 3: 'Orange'} 
num_list=[1,2,6,7,4] 
num_list 
Output: [1, 2, 6, 7, 4] 
print(np.random.rand(5)) 
print(np.random.randint(1,16,10))
# Type of Numerical data : Discrete and Continuous. Age is discrete #data, Month is continuous data.
# Convert dictionary to data frame 
data={'Age': [20,25,20,35,40,45,50,55,60,65,70,75],'Month':[1,2,3,4,5,6,7,8,9,10,11,12]} 
df1=pd.DataFrame.from_dict(data) 
df1

[0.14280901 0.86403491 0.56766059 0.78397109 0.8564391 ]
[ 5 13 14  7  8  6  2 12  5  4]

    Age  Month
0    20      1
1    25      2
2    20      3
3    35      4
4    40      5
5    45      6
6    50      7
7    55      8
8    60      9
9    65     10
10   70     11
11   75     12

In [2]:
# Nominal Data  
nominal_dict={'Gender': ['Female','Male'],'Hair_Color': ['Black','White']} 
df2=pd.DataFrame.from_dict(nominal_dict) 
df2

   Gender Hair_Color
0  Female      Black
1    Male      White

In [3]:
# Ordinal Data 
ordinal_dict={'Rating': ['Satified','Avg Satisfied','Not Satisfied']} 
df3=pd.DataFrame.from_dict(ordinal_dict) 
df3

          Rating
0       Satified
1  Avg Satisfied
2  Not Satisfied

In [4]:
#Interval Data  
interval_data={'Income':[25000,30000,40000]} 
df4=pd.DataFrame.from_dict(interval_data) 
df4

   Income
0   25000
1   30000
2   40000

In [5]:
# Ratio Data : measurement of heights.  
ratio_data={'Height':[160,167,170]} 
df5=pd.DataFrame.from_dict(ratio_data) 
df5

   Height
0     160
1     167
2     170