[Reference](https://medium.com/codex/regular-expressions-in-python-535799f8ddfc)

# String Indexing

In [1]:
string_1 = "The quick brown fox jumps over the lazy dog"

In [2]:
string_1 = "The quick brown fox jumps over the lazy dog"

#The first character in the string is gotten by indexing on 0
print (string_1[0])
# Prints : 'T'

#A negative indexing counts from the last elements in the string
print (string_1[-1])
# Prints : 'g'

#String slicing is used to select a group of characters, the last indexed value is exclusive
print (string_1[0:6])
# Prints : 'The qu'

T
g
The qu

# Stripping Characters

In [3]:
string_2 = " encyclopedia "
print (string_2.strip())
#Prints : 'encyclopedia'

#There is also lstrip and rstrip for removing leading and trailling spaces

print (string_2.lstrip())
#Prints : 'encyclopedia '

print (string_2.rstrip())
#Prints : ' encyclopedia'

string_3 = '$5000'
print (string_3.strip('$')) #lstrip would also work
#Prints : '5000'

encyclopedia
encyclopedia
 encyclopedia
5000

# Finding and Replacing

In [4]:
string_1.index("fox")

16

In [5]:
string_1.index("fox", 0,10)

ValueError: ignored

In [6]:
string_1.replace("fox","monkey")

'The quick brown monkey jumps over the lazy dog'

In [7]:
string_1.replace(" ","_",2)

'The_quick_brown fox jumps over the lazy dog'

# String Formatting

In [8]:
print ("My brother has {} bags and {} oranges in each bag".format(2,8))

My brother has 2 bags and 8 oranges in each bag

In [9]:
print ("My brother has {1} bags and {0} oranges in each bag".format(8,2))

My brother has 2 bags and 8 oranges in each bag

In [10]:
number_1 = 8/3
number_2 = 2/3
print ("8 divided by 3 is {0:.2f} but 2 divided by 3 is {1:.2f}".format(number_1, number_2))

8 divided by 3 is 2.67 but 2 divided by 3 is 0.67

# Regular Expressions

## re.search ( )

In [11]:
#The zip codes in USA have 5 digits. 

import re
statement = 'The zip code of my city is 96162'
regex = r'\d{5}'
zip_code = re.search(regex, statement)
if zip_code:
    print ("Zip Code Found!")
else:
    print ('Not Found!')

Zip Code Found!

## re.sub()

In [12]:
import re
money = ['$1000', '₦300', '₦500','$9000', '$9200', '€5800']

regex = r'[$ ₦ €]'
new_money = []
for i in money: 
    j = re.sub(regex, " ", i)
    j = j.strip()
    new_money.append(j)

print (new_money)

['1000', '300', '500', '9000', '9200', '5800']

## re.split()

In [13]:
import re
string_1 = 'The quick brown fox-jumped over the lazy dog'

split_word = re.split(r'-', string_1)
print (split_word)

['The quick brown fox', 'jumped over the lazy dog']

## re.findall()

In [14]:
import re
phone_class = "The following are the phone numbers of 3 students in a class, Michael : +234 123 456 7890, James : +234 100 000 1000, Sarah : +234 999 999 9999"

regex = r"\d{3}\s\d{3}\s\d{3}\s\d{4}"
phone_number = re.findall(regex, phone_class)
print (phone_number)

['234 123 456 7890', '234 100 000 1000', '234 999 999 9999']

In [15]:
import re
phone_class = "The following are the phone numbers of 3 students in a class, Michael : +234 123 456 7890, James : +234 100 000 1000, Sarah : +234 999 999 9999"

regex = r"(\w+)\s:"
names = re.findall(regex, phone_class)
print (names)

['Michael', 'James', 'Sarah']