[Reference](https://medium.com/@ccpythonprogramming/regular-expressions-regex-in-python-a-guide-with-examples-952c4b69e2bd)

# 1. findall() Function

In [1]:
import re

text = "The rain in Spain falls mainly in the plain."
matches = re.findall(r"\bin\b", text)
print(matches)

['in', 'in']

In [2]:
text = "Umbrella, orange, apple, and elephant are here."
matches = re.findall(r"\b[AEIOUaeiou]\w*", text)
print(matches)

['Umbrella', 'orange', 'apple', 'and', 'elephant', 'are']

# 2. search() Function

In [3]:
match = re.search(r"\bmain\w*\b", text)
if match:
    print(match.group())

In [4]:
text = "Order numbers are 12345 and 67890."
match = re.search(r"\d{5}", text)
if match:
    print(match.group())

12345

# 3. split() Function

In [5]:
text = "Split this string at every vowel."
result = re.split(r"[AEIOUaeiou]", text)
print(result)

['Spl', 't th', 's str', 'ng ', 't ', 'v', 'ry v', 'w', 'l.']

In [6]:
text = "Item123Price456Code789"
result = re.split(r"\d+", text)
print(result)

['Item', 'Price', 'Code', '']

# 4. sub() Function

In [7]:
text = "Replace vowels with asterisks."
result = re.sub(r"[AEIOUaeiou]", "*", text)
print(result)

R*pl*c* v*w*ls w*th *st*r*sks.

In [8]:
text = "123 Main St, Apt 456."
result = re.sub(r"\d+", "NUMBER", text)
print(result)

NUMBER Main St, Apt NUMBER.

# Metacharacters in RegEx

In [9]:
text = "Emails: test.email@domain.com, invalid-email@, user@site.org."
pattern = r"\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b"
emails = re.findall(pattern, text)
print(emails)

['test.email@domain.com', 'user@site.org']

# Special Sequences

In [10]:
text = "Find symbols! @#$ and numbers like 123."
symbols = re.findall(r"\W", text)
print(symbols)

[' ', '!', ' ', '@', '#', '$', ' ', ' ', ' ', ' ', '.']

# Sets in RegEx

In [11]:
text = "Data123ScienceABC!"
matches = re.findall(r"[A-Z0-9]", text)
print(matches)

['D', '1', '2', '3', 'S', 'A', 'B', 'C']

# Match Objects

In [12]:
text = "Contact: 123-456-7890"
match = re.search(r"\d{3}-\d{3}-\d{4}", text)
if match:
    print(match.group())
    print(match.start())
    print(match.end())

123-456-7890
9
21