[Reference](https://medium.com/@aliyannshaikhh/f694edf08d02)

# How to Add and Remove Elements in a Set

In [1]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [2]:
my_set = set([2, 4, 6, 8, 10])
print(my_set)

{2, 4, 6, 8, 10}

# How to Add and Remove Elements in a Set

In [3]:
# Adding a single item
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

# Adding multiple items
my_set.update([5, 6, 7])
print(my_set)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7}

In [4]:
my_set = {1, 2, 3}

# Using remove()
my_set.remove(3)
print(my_set)

# Using discard ()
my_set.discard(10)

# Using pop()
print(my_set.pop())

{1, 2}
1

# How to Perform Set Operations in Python

In [5]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a | b)
print(a.union(b))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [6]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a & b)
print(a.intersection(b))

{3}
{3}

In [7]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a - b)
print(a.difference(b))

{1, 2}
{1, 2}

In [8]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a ^ b)
print(a.symmetric_difference(b))

{1, 2, 4, 5}
{1, 2, 4, 5}

# The Most Frequently Used Set Methods in Python

In [9]:
my_set = {1, 2, 3, 4}
my_set.clear()
print(my_set)

set()

In [10]:
original_set = {1, 2, 3}
copy_set = original_set.copy()
copy_set.add(4)
print(original_set)
print(copy_set)

{1, 2, 3}
{1, 2, 3, 4}

In [11]:
a = {1, 2, 3}
b = {1, 2, 3, 4, 5}
print(a.issubset(b))
print(b.issubset(a))

True
False

In [12]:
a = {1, 2, 3, 4, 5}
b = {1, 2, 3}
print(a.issuperset(b))
print(b.issuperset(a))

True
False

In [13]:
a = {1, 2, 3}
b = {4, 5, 6}
c = {2, 4, 6}
print(a.isdisjoint(b))
print(a.isdisjoint(c))

True
False