[Reference](https://medium.com/@coder033/what-are-sets-in-python-31ab56e5ac9d)

- Set is unordered
- Set is changeable
- Set ais enclosed in curly brackets {,}
- Set will no allow duplicate elements

# Creating Set

In [3]:
alpha = {'a','b','c','d','e','f','g','h'}
number={1,2,3,4,5}
mixed = {5.4,"hello",(3,2,1)}

# Accessing a Set

In [4]:
print(alpha)
print(number)
print(mixed)
print(type(alpha))

{'g', 'a', 'd', 'h', 'b', 'e', 'c', 'f'}
{1, 2, 3, 4, 5}
{(3, 2, 1), 'hello', 5.4}
<class 'set'>

# Add in Set

In [5]:
alpha.add('i')
print(alpha)

{'i', 'g', 'a', 'd', 'h', 'b', 'e', 'c', 'f'}

# Sorted in Set

In [6]:
print(sorted(alpha))

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

# Remove in Set

In [8]:
alpha.remove('i')
print(sorted(alpha))
alpha.discard('h')
print(sorted(alpha))

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
['a', 'b', 'c', 'd', 'e', 'f', 'g']

# Update in Set

In [9]:
alpha.update(['g','h','i'])
print(sorted(alpha))#no Duplication

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

# min and max

In [11]:
print(min(alpha))
print(max(alpha))
print(min(number))
print(max(number))

a
i
1
5

# Pop in Set

In [12]:
mixed.pop()
print(mixed)

{'hello', 5.4}

# Clear in Set

In [13]:
print("Before Clear ",mixed)
mixed.clear()
print("After Clear ",mixed)

Before Clear  {'hello', 5.4}
After Clear  set()

# Looping in Set

In [14]:
for value in alpha:
    print(value)

i
g
a
d
h
b
e
c
f

# Creating some variable for math methods

In [15]:
set1={1,2,3,4,5}
set2={4,5,6,7,8}
set3={1,2,3}
set4={10,20,30}
alpha1 = {'a','b','c','d','e'}
alpha2 = {'d','e','f','g','h'}
alpha3 = {'a','b','c'}
alpha4 = {'x','y','z'}

# Union Set

In [16]:
result = set1.union(set2)
print("Union Result is ",result)
result1 = alpha1 | alpha2
print("Union Result is ",sorted(result1))

Union Result is  {1, 2, 3, 4, 5, 6, 7, 8}
Union Result is  ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

# Intersection Set

In [17]:
result = set1.intersection(set2)
print("Intersection Result is ",result)
result1 = alpha1 & alpha2
print("Intersection Result is ",sorted(result1))

Intersection Result is  {4, 5}
Intersection Result is  ['d', 'e']

# Difference Set

In [19]:
result = set1.difference(set2)
print("Differences Result is ",result)
result1 = alpha1 - alpha2
print("Differences Result is ",sorted(result1))
result2 = set2.difference(set1)
print("Another Differences side Result ",result2)
result3 = alpha2 - alpha1
print("Another Differences side Result ",sorted(result3))

Differences Result is  {1, 2, 3}
Differences Result is  ['a', 'b', 'c']
Another Differences side Result  {8, 6, 7}
Another Differences side Result  ['f', 'g', 'h']

# Symmetric Difference Set

In [20]:
result = set1.symmetric_difference(set2)
print("First Sym-Differences Result ",result)
result1 = alpha1 ^ alpha2
print("Second Sym-Differences Result ",sorted(result1))

First Sym-Differences Result  {1, 2, 3, 6, 7, 8}
Second Sym-Differences Result  ['a', 'b', 'c', 'f', 'g', 'h']

# Subset

In [21]:
result = set3.issubset(set1)
print("Set 3 is child setl is parent ",result)
result1 = set2.issubset(set1)
print("Set 2 is child setl is parent ",result1)
result2 = alpha3 <= alpha1
print("alpha 3 is child alphal is parent ",result2)

Set 3 is child setl is parent  True
Set 2 is child setl is parent  False
alpha 3 is child alphal is parent  True

# Superset

In [22]:
result = set1.issuperset(set3)
print("setl is parent Set 3 is child ",result)
result1 = set2.issuperset(set1)
print("Set 2 is child setl is parent ",result1)
result2 = alpha1 >= alpha3
print("alphal is parent alpha 3 is child ",result2)

setl is parent Set 3 is child  True
Set 2 is child setl is parent  False
alphal is parent alpha 3 is child  True

# Disjoint

In [24]:
result = set3.isdisjoint(set1)
print("The is no matching values",result)
result1 = set4.isdisjoint(set1)
print("The is no matching values",result1)
result2 = alpha3.isdisjoint(alpha1)
print("The is no matching values",result2)
result3 = alpha4.isdisjoint(alpha1)
print("The is no matching values",result3)

The is no matching values False
The is no matching values True
The is no matching values False
The is no matching values True