# union()

In [1]:
A={1,2,3,4,5}
B={2,4,6,8}
print (A.union(B))#Output:{1, 2, 3, 4, 5, 6, 8}
print (A|B)#Output:{1, 2, 3, 4, 5, 6, 8}

{1, 2, 3, 4, 5, 6, 8}
{1, 2, 3, 4, 5, 6, 8}

In [2]:
A={1,2,3,4,5}
B={2,4,6,8,10}
C={1,3,5,7,9}
print (A|B|C)#Output:{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print (A.union(B,C))#Output:{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [3]:
A={1,2,3,4,5}
#iterable is given as list
print (A.union([2,4,6]))#Output:{1, 2, 3, 4, 5, 6}

#iterable is given as tuple
print (A.union((2,4,6)))#Output:{1, 2, 3, 4, 5, 6}

#iterable is given as range object
print (A.union(range(5,10)))#Output:{1, 2, 3, 4, 5, 6, 7, 8, 9}

#iterable is given as a dictionary
print (A.union({'a':6,'b':7}))#Output:{1, 2, 3, 4, 5, 'b', 'a'}

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 'a', 'b'}

In [4]:
A={1,2,3,4,5}
B=[1,2,3]
print (A|B)
#Output:TypeError: unsupported operand type(s) for |: 'set' and 'list'

TypeError: ignored

# update()

In [5]:
#update()
A={1,2,3,4,5}
B={4,5,6,7,8}
print (A.update(B)) #Output: None
print (A) #Output: {1, 2, 3, 4, 5, 6, 7, 8}A={1,2,3,4,5}
B={4,5,6,7,8}
A|=B
print (A) #Output: {1, 2, 3, 4, 5, 6, 7, 8}

None
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [7]:
#update()
A={1,2,3}
B={3,4,5}
C={5,6,7}
print (A.update(B,C)) #Output: None
print (A) #Output: {1, 2, 3, 4, 5, 6, 7}

A={1,2,3}
B={3,4,5}
C={5,6,7}
A|=B|C
print (A) #Output: {1, 2, 3, 4, 5, 6, 7}

None
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [8]:
A={1,2,3}
#iterable is given as list
print (A.update([2,3,4]))#Output:None
print (A)#Output:{1,2,3,4}

#iterable is given as tuple
A={1,2,3}
A.update((2,3,4))
print (A)#Output:{1,2,3,4}

#iterable is given as range object
A={1,2,3}
A.update(range(2,5))
print (A)#Output:{1,2,3,4}

#iterable is given as a dictionary
A={1,2,3}
A.update({2:'a',3:'b'})
print (A) #Output:{1, 2, 3}

None
{1, 2, 3, 4}
{1, 2, 3, 4}
{1, 2, 3, 4}
{1, 2, 3}

In [9]:
#iterable is given as tuple
A={1,2,3}
B=(3,4)
A|=B
#Output:TypeError: unsupported operand type(s) for |=: 'set' and 'tuple'

TypeError: ignored

# intersection()

In [10]:
A={1,2,3,4,5}
B={2,4,6,8}
#intersection is performed by intersection() method or & operator
print (A.intersection(B))#Output:{2,4}
print (A&B)#Output:{2,4}

{2, 4}
{2, 4}

In [11]:
A={1,2,3,4,5}
B={2,4,6,8,10}
C={2,4}
print (A&B&C)#Output:{2,4}
print (A.intersection(B,C))#Output:{2,4}

{2, 4}
{2, 4}

In [12]:
A={1,2,3,4,5}
#iterable is given as list
print (A.intersection([1,4,6]))#Output:{1,4}

#iterable is given as tuple
print (A.intersection((2,4,6)))#Output:{2,4}

#iterable is given as range object
print (A.intersection(range(5,10)))#Output:{5}

#iterable is given as a dictionary
print (A.intersection({1:'a','b':7}))#Output:{1}

{1, 4}
{2, 4}
{5}
{1}

In [13]:
A={1,2,3,4,5}
B=[1,2,3]
print (A&B)
#Output:TypeError: unsupported operand type(s) for &: 'set' and 'list'

TypeError: ignored

# intersection_update()

In [14]:
#intersection_update()
A={1,2,3,4,5}
B={4,5,6,7,8}
print (A.intersection_update(B)) #Output: None
print (A) #Output: {4,5}A={1,2,3,4,5}
B={4,5,6,7,8}
A&=B
print (A) #Output: {4,5}

None
{4, 5}
{4, 5}

# difference()

In [15]:
A={1,2,3,4,5}
B={2,4,6,8}

print (A.difference(B))#Output:{1,3,5}
print (A-B)#Output:{1,3,5}

{1, 3, 5}
{1, 3, 5}

In [16]:
A={1,2,3,4,5}
B={2,4,6,8,10}
C={2,3}
print (A-B-C)#Output:{1,5}
print (A.difference(B,C))#Output:{1,5}

{1, 5}
{1, 5}

In [17]:
A={1,2,3,4,5}
#iterable is given as list
print (A.difference([1,2,3]))#Output:{4,5}

#iterable is given as tuple
print (A.difference((1,2,3)))#Output:{4,5}

#iterable is given as range object
print (A.difference(range(1,4)))#Output:{4,5}

#iterable is given as a dictionary
print (A.difference({1:'a',2:'b',3:'c'}))#Output:{4,5}

{4, 5}
{4, 5}
{4, 5}
{4, 5}

In [18]:
A={1,2,3,4,5}
B=[1,2,3]
print (A-B)
#Output:TypeError: unsupported operand type(s) for -: 'set' and 'list'

TypeError: ignored

# difference_update()

In [19]:
A={1,2,3,4,5}
B={2,4,6}
#Return type is None.
print (A.difference_update(B))#Output:None
#It will update the original set
print (A) #Output: {1,3,5}

# difference_update by using -= operator
A-=(B)
print (A) #Output: {1,3,5}

None
{1, 3, 5}
{1, 3, 5}

In [20]:
#difference_update() will modify the original set.
A={1,2,3}
B={1}
C={2}
#Return type is None.
print (A.difference_update(B,C))#Output:None
#It will update the original set
print (A) #Output: {3}

# difference_update by using -= operator
A={1,2,3}
B={1}
C={2}
A-=B|C
print (A) #Output: {3}

None
{3}
{3}

In [21]:
#iterable is given as list
A={1,2,3}
B=[1]
print (A.difference_update(B))#Output:None
print (A)#Output:{2,3}

None
{2, 3}

In [22]:
A={1,2,3}
B=[1]
A-=B
print (A) 
#Output: TypeError: unsupported operand type(s) for -=: 'set' and 'list'

TypeError: ignored

# symmetric_difference()

In [23]:
A={1,2}
B={2,3}

print (A.symmetric_difference(B))#Output:{1,3}
print (A^B)#Output:{1,3}

{1, 3}
{1, 3}

In [24]:
A={1,2}
B={2,3,5}
C={3,4}

print (A.symmetric_difference(B,C))#Output:TypeError: symmetric_difference() takes exactly one argument (2 given)

TypeError: ignored

In [25]:
A={1,2}
B={2,3,5}
C={3,4}

print (A^B^C)#Output:{1,4,5}

{1, 4, 5}

In [26]:
#iterable is given as list
A={1,2,3}
B=[1]
print (A.symmetric_difference(B))#Output:{2,3}

#iterable is given as tuple
A={1,2,3}
B=(1,)
print (A.symmetric_difference(B))#Output:{2,3}

#iterable is given as range object
A={1,2,3}
B=range(2)
print (A.symmetric_difference(B))#Output:{2,3}

{2, 3}
{2, 3}
{0, 2, 3}

In [27]:
A={1,2,3}
B=[1]
A^B
print (A) #Output: TypeError: unsupported operand type(s) for ^: 'set' and 'list'

TypeError: ignored

In [28]:
#symmetric_difference_update()
A={1,2,3,4,5}
B={4,5,6,7,8}
print (A.symmetric_difference_update(B)) #Output: None
print (A) #Output: {1, 2, 3, 6, 7, 8}

A={1,2,3,4,5}
B={4,5,6,7,8}
A^=B
print (A) #Output: {1, 2, 3, 6, 7, 8}

None
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

# isdisjoint()

In [29]:
#Set A and Set B containing common elements
A={1,2,3,4,5}
B={4,5,6,7,8}
print (A.isdisjoint(B))#Output:False

#Set A and Set B not containing common elements
A={1,2}
B={3,4}
print (A.isdisjoint(B))#Output:True

False
True

# issubset()

In [30]:
A={1,2,3,4,5}
B={4,5,6,7,8}
print (A.issubset(B)) #Output: False
print (A<=B)#Output: False

A={1,2,3}
B={1,2,3,4,5}
print (A.issubset(B)) #Output: True
print (A<=B)#Output: False

False
False
True
True

In [31]:
A={1,2,3,4,5}
B={4,5,6,7,8}
print (A<B)#Output: False

A={1,2,3,4,5}
B={1,2,3,4,5}
print (A<B)#Output: False

A={1,2,3}
B={1,2,3,4,5}
print (A<B)#Output: True

False
False
True

# issuperset()

In [32]:
A={1,2,3,4,5}
B={4,5,6,7,8}
print (A.issuperset(B)) #Output: False
print (A>=B)#Output:True

A={1,2,3,4,5}
B={1,2,3}
print (A.issuperset(B)) #Output: True
print (A>=B)#Output:True

False
False
True
True

In [33]:
A={1,2,3,4,5}
B={4,5}
print (A>B)#Output: True

A={1,2,3,4,5}
B={1,2,3,4,5}
print (A>B)#Output: False

A={1,2,3}
B={1,2,3,4,5}
print (A>B)#Output: True

True
False
False