[Reference](https://medium.com/pythonland/10-advanced-python-tricks-to-write-faster-cleaner-code-f9ee76fa878f)

# 1. Using slotted classes

In [1]:
class Card:
     __slots__ = 'rank', 'suite'
     def __init__(self, rank, suite):
             self.rank = rank
             self.suite = suite
 
qh = Card('queen', 'hearts')

In [2]:
qh

In [3]:
qh.rnak = 'queen'

AttributeError: ignored

In [4]:
class Card:
     def __init__(self, rank, suite):
             self.rank = rank
             self.suite = suite
 
qh = Card('queen', 'hearts')

In [5]:
qh.rnak = 'queen'

In [6]:
qh

# 2. Get the size of an object

In [7]:
import sys

mylist = range(0, 10000)
print(sys.getsizeof(mylist))

48

In [8]:
import sys

myreallist = [x for x in range(0, 10000)]
print(sys.getsizeof(myreallist))

87632

# 3. Using tuples instead of lists

In [9]:
import sys
l = [1,2,3]
t = (1,2,3)
sys.getsizeof(l)

80

In [10]:
sys.getsizeof(t)

80

# 4. Conditional statements (Inline if/else)

In [11]:
def get_status(error):
     return 'OK' if not error else 'We have a problem'

get_status(error=True)

'We have a problem'

In [12]:
get_status(error=False)

'OK'

# 5. Else statements and loops

In [13]:
for n in range(2, 10):
    for x in range(2, n):
            if n % x == 0:
                print(n, 'equals', x, '*', n//x)
                break

else:
    # loop fell through without finding a factor
    print(n, 'is a prime number')

4 equals 2 * 2
6 equals 2 * 3
8 equals 2 * 4
9 equals 3 * 3
9 is a prime number

# 6. Sorting Objects by Multiple Keys

In [14]:
people = [
{ 'name': 'John', "age": 64 },
{ 'name': 'Janet', "age": 34 },
{ 'name': 'Ed', "age": 24 },
{ 'name': 'Sara', "age": 64 },
{ 'name': 'John', "age": 32 },
{ 'name': 'Jane', "age": 34 },
{ 'name': 'John', "age": 99 },
]

In [15]:
import operator

people.sort(key=operator.itemgetter('age'))

In [16]:
people.sort(key=operator.itemgetter('name'))

In [17]:
people

[{'age': 24, 'name': 'Ed'},
 {'age': 34, 'name': 'Jane'},
 {'age': 34, 'name': 'Janet'},
 {'age': 32, 'name': 'John'},
 {'age': 64, 'name': 'John'},
 {'age': 99, 'name': 'John'},
 {'age': 64, 'name': 'Sara'}]

# 7. Comprehensions

In [18]:
mylist = [i for i in range(10)]
print(mylist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [20]:
def some_function(a):
    return (a + 5) / 2
    
my_formula = [some_function(i) for i in range(10)]
print(my_formula)

[2.5, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5, 6.0, 6.5, 7.0]

In [21]:
filtered = [i for i in range(20) if i%2==0]
print(filtered)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

# 8. Data classes

In [22]:
from dataclasses import dataclass

@dataclass
class Card:
    rank: str
    suit: str
    
card = Card("Q", "hearts")

print(card == card)

print(card.rank)

print(card)
Card(rank='Q', suit='hearts')

True
Q
Card(rank='Q', suit='hearts')

Card(rank='Q', suit='hearts')

# 9. Merging dictionaries

In [23]:
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
merged = { **dict1, **dict2 }

print (merged)

{'a': 1, 'b': 3, 'c': 4}

In [25]:
# Python >= 3.9 only
merged = dict1 | dict2

print (merged)

# 10. Using and knowing itertools

In [27]:
import itertools

In [28]:
# Calculate all profucs of an input
list(itertools.product('abc', repeat=2))

[('a', 'a'),
 ('a', 'b'),
 ('a', 'c'),
 ('b', 'a'),
 ('b', 'b'),
 ('b', 'c'),
 ('c', 'a'),
 ('c', 'b'),
 ('c', 'c')]

In [29]:
# Calculate all permutations
list(itertools.permutations('abc'))

[('a', 'b', 'c'),
 ('a', 'c', 'b'),
 ('b', 'a', 'c'),
 ('b', 'c', 'a'),
 ('c', 'a', 'b'),
 ('c', 'b', 'a')]

In [30]:
# Take elements for iterator as long as predicate is True
list(itertools.takewhile(lambda x: x<5, [1,4,6,4,1]))

[1, 4]