[Reference](https://towardsdatascience.com/10-examples-to-master-python-tuples-6c606ed42b96)

# 1. Creating tuples

In [1]:
a = (3, 4)
print(type(a))

<class 'tuple'>

In [2]:
a = (3, 3, 'x', [1,2])
print(a)
print(type(a))

(3, 3, 'x', [1, 2])
<class 'tuple'>

# 2. Creating a tuple with 0 or 1 element

In [3]:
a = ()
print(type(a))

<class 'tuple'>

In [4]:
a = (3)
print(type(a))

<class 'int'>

In [5]:
b = ([1,2])
print(type(b))

<class 'list'>

In [6]:
a = (3,)
print(type(a))

<class 'tuple'>

In [7]:
b = ([1,2],)
print(type(b))

<class 'tuple'>

# 3. Tuples are iterable

In [8]:
a = (1, 2, 3)
for i in a:
   print(i**2)

1
4
9

# 4. Indexing and slicing

In [9]:
a = (3, 5, 'x', 5)
print(f'The first element of tuple a is {a[0]}')
print(f'The last element of tuple a is {a[-1]}')

The first element of tuple a is 3
The last element of tuple a is 5

In [9]:
a = (1, 2, 5, 6, 7)
print(a[-2:])
print(a[:3])

# 5. Tuples are immutable but can have mutable elements

In [10]:
a = (3, 5, 'x', 5)
a[0] = 7

TypeError: ignored

In [13]:
a = ([1,2], ['x', 'y'])
a[0][0] = 99
a[1][0] = 't'
print(a)

([99, 2], ['t', 'y'])

# 6. Sort vs sorted

In [16]:
a = (5, 1, 2)
a.sort()

AttributeError: ignored

In [17]:
a = (3, 5, 8, 1)
b = sorted(a)

In [18]:
print(b)

[1, 3, 5, 8]

In [19]:
print(type(b))

<class 'list'>

# 7. Length of a tuple

In [20]:
a = (3, 5, 8, 1)
len(a)

4

# 8. Count and index methods

In [22]:
a = (3, 's', 3, 3, 's')
print(a.count('s'))
print(a.count(3))

2
3

In [23]:
a = (2, 's', 4, 6, 's')
print(a.index('s'))
print(a.index(2))

1
0

# 9. Adding tuples together

In [24]:
a = (100, 200)
b = ('x', 'y')
c = a + b

In [25]:
print(c)

(100, 200, 'x', 'y')

# 10. Functions that return multiple values

In [26]:
def count_sum(arr):
   count = len(arr)
   sum = arr.sum()
   return count, sum

In [27]:
import numpy as np
arr = np.random.randint(10, size=8)
a = count_sum(arr)
print(a)

(8, 31)

In [28]:
x = [1, 2, 3]
y = x
z = x[:]
t = x.copy()

In [29]:
x.append(4)
print(y)

[1, 2, 3, 4]

In [30]:
print(t)

[1, 2, 3]

In [32]:
a = (1, 2, 3)

b = a
c = a[:]