[Reference](https://towardsdatascience.com/10-interesting-python-tricks-to-knock-your-socks-off-1dd4d8e82101)

# To find new elements of a list

In [1]:
A = [ 1, 3, 5, 7, 9 ]
B = [ 4, 5, 6, 7, 8 ]

In [2]:
set(A) - set(B)

{1, 3, 9}

# Map() Function

In [4]:
def product(n1,n2): 
    return n1 *n2 
    
list1 = (1, 2, 3, 4) 
list2 = (10,20,30,40)
result = map(product, list1,list2) 
list(result)

[10, 40, 90, 160]

# Map + Lambda Combination

In [5]:
list1 = (1,2,3,4)
list2 = (10,20,30,40)

result = map(lambda x,y: x*y, list1, list2)
print(list(result))

[10, 40, 90, 160]

# Start, Stop and Set

In [6]:
x = [ 1, 2, 3, 4, 5, 6, 7, 8 ]
x[ 1: 6: 2]

[2, 4, 6]

In [8]:
x[::-1]

[8, 7, 6, 5, 4, 3, 2, 1]

# Zip and Enumerate together

In [9]:
NAME = ['Sid','John','David']
BIRD = ['Eagle','Sparrow','Vulture']
CITY =['Mumbai','US','London']
for i,(name,bird,city) in enumerate(zip(NAME,BIRD,CITY)):
    print(i,' represents ',name,' , ',bird,' and ',city)

0  represents  Sid  ,  Eagle  and  Mumbai
1  represents  John  ,  Sparrow  and  US
2  represents  David  ,  Vulture  and  London

# Random Sampling

In [11]:
df.sample(n=10)

In [12]:
df.sample(frac=0.5).reset_index(drop=True)

In [13]:
import keras

In [14]:
import warnings 
warnings.filterwarnings(action='ignore')
import keras

In [15]:
def SampleGenerator(n):
    yield n
    n = n+1
    yield n
    n = n+1
    yield n

gen = SampleGenerator(1)

In [16]:
print(next(gen))
print(next(gen))
print(next(gen))

1
2
3

In [17]:
def updatedGenerator(n):
    while(1):
        yield n
        n = n + 1
a = updatedGenerator(1)

for i in range(5):
    print(next(a))

1
2
3
4
5

# Skiprows â€” The Saviour

```python
df = pd.read_csv('artist.csv')
df_new = pd.read_csv('artist.csv',skiprows=50)
df.shape, df_new.shape
```