[Reference](https://levelup.gitconnected.com/10-python-tips-for-better-code-1bbffde3b44d)

# 1. Chaining Operators

In [1]:
candidate_age = 25
candidate_experience = 4
candidate_salary_expectation = 85000

if candidate_age > 18:
    if candidate_experience >= 3:
        if candidate_salary_expectation <= 100000:
            print("You are eligible!")
        else:
            print("You are not eligible!")

You are eligible!

In [2]:
if candidate_age > 18 &candidate_experience >= 3 & candidate_salary_expectation <= 100000:
    print("You are eligible!")
else:
    print("You are not eligible!")

You are eligible!

# 2. Formatting Larger Numbers

In [5]:
num1 = 1135126214
num2 = 6_123_124_123

sum = num1+num2
print(f"{sum:,}")

7,258,250,337

# 3. Inline Conditionals

In [6]:
x = 5
if x==5: print('x equals 5')
for i in range(x+5): print(i)

x equals 5
0
1
2
3
4
5
6
7
8
9

In [7]:
condition = True
if condition: x=1
else: x=0

In [9]:
condition = True
x = 1 if condition else 0

In [10]:
check = lambda x:True if x%5==0 else False
check(10) ## True
check(12) ## False

False

# 4. List Comprehensions

In [11]:
squares = [i*i for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [12]:
squares = [i*i for i in range(10) if i%2==0]
print(squares)

[0, 4, 16, 36, 64]

# 5. F- Strings

In [19]:
name = 'Abhay'
age = 20

In [14]:
print("Hey This is ",name,"and I am ",age)  ## value assignment

Hey This is  Abhay and I am  20

In [15]:
print("Hey This is "+name+"and I am "+str(age)) ## concatenation

Hey This is Abhayand I am 20

In [16]:
print("Hey This is {} and I am {}".format(name,age))

Hey This is Abhay and I am 20

In [17]:
name = 'Abhay'
age =20
print(f"Hey This is {name} and I am {age}")

Hey This is Abhay and I am 20

# 6. Enumerate

In [20]:
list_ = [1,2,3,4,5,6]
for index, value in enumerate(list_):
    if value%2==0:
        list_[index]='Even'
    else:
        list_[index]='Odd'
print(list_)

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

# 7. Argument Unpacking

In [21]:
info = [['Branden','James','Chris'],[20,30,28],['branden@gmail.com','james@gmail.com','chris@gmail.com']]
name, age, email = info
print(name)
print(age)
print(email)

['Branden', 'James', 'Chris']
[20, 30, 28]
['branden@gmail.com', 'james@gmail.com', 'chris@gmail.com']

# 8. Return Many Values From Function

In [23]:
def marks(sub1,sub2,sub3,sub4):
    percentage = ((sub1+sub2+sub3+sub4)*100)/400
    if percentage >= 60: result = 'Pass'
    elif percentage<40: result = 'Fail'

    return percentage, result

percentage, result = marks(100, 80, 90, 70)
print(f"My result is {result} and percentage is {percentage}")

My result is Pass and percentage is 85.0

# 9. Comments

In [24]:
def sub(num1,num2):
    '''
    This sub function subtract two numbers and return the subtraction.
    '''
    print(num1-num2)