[Reference](https://medium.com/geekculture/10-python-code-snippets-that-are-solutions-to-seemingly-simple-but-often-not-straightforward-data-5a765e3de3eb)

# 1. Convert all string to snakecase style

In [2]:
from re import sub

def snake(s):
  return '_'.join(
      sub('([A-Z][a-z]+)', r' \1',
      sub('([A-Z]+)', r' \1',
      s.replace('-', ' '))).split()).lower()
      
## Examples
snake('certainWords')
snake('some text')

'some_text'

# 2. Check if “all” the elements in a list satisfies some condition

In [3]:
def every(lst, f = lambda x: x):
    return all(map(f, lst))## Examples
every([4, 2, 3], lambda x: x > 1)

True

In [4]:
every([1, 2, 3])

True

# 3. Grab all values of a certain key in every dictionary that exists within a list

In [5]:
def extract(lst, key):
    return [x.get(key) for x in lst]
    
# Example
## Say we want to extract all the age values of a family. The family members' information are stored in a list comprised of dictionary elements that correspond to each member.

family = [ { 'name': 'amanda', 'age': 12}, { 'name': 'george', 'age': 23}, { 'name': 'jack', 'age': 54}, { 'name': 'amy', 'age': 52}]
# Example
extract(family, 'age')

[12, 23, 54, 52]

# 4. Map list to dictionary using list elements as dict keys and mapped values as dict values

In [6]:
def map_dictionary(itr, fn):
    return dict(zip(itr, map(fn, itr)))
    
# Example
map_dictionary([1, 2, 3], lambda x: x * 5)

{1: 5, 2: 10, 3: 15}

# 5. Group different elements in a list based on some condition and make it into a dictionary

In [8]:
from collections import defaultdict

def group_by(lst, fn):
    d = defaultdict(list)
    for el in lst:
        d[fn(el)].append(el)
    return dict(d)
    
# Example
from math import floor
group_by([3.0, 3.1, 3.2, 3.3, 4.9], floor)

{3: [3.0, 3.1, 3.2, 3.3], 4: [4.9]}

# 6. Filter non-unique values from a list

In [10]:
from collections import Counter

def filter_non_unique(lst):
 return [item for item, count in Counter(lst).items() if count == 1]
 
# Example
filter_non_unique([1, 2, 2, 3, 4, 4, 5])

[1, 3, 5]

# 7. filter unique values

In [11]:
from collections import Counter

def filter_unique(lst):
  return [item for item, count in Counter(lst).items() if count > 1]
  
# Example
filter_unique([1, 2, 2, 3, 4, 4, 5])

[2, 4]

# 8. Bifurcate List based on some condition

In [12]:
def bifurcate_by(lst, fn):
    return [
        [x for x in lst if fn(x)],        
        [x for x in lst if not fn(x)]
    ]
# Example
bifurcate_by(['beep', 'boop', 'foo', 'bar'], lambda x: x[0] == 'b')

[['beep', 'boop', 'bar'], ['foo']]

# 9. Sort List using another list as indexes

In [13]:
def sort_by_indexes(lst, indexes, reverse=False):
    return [val for (_, val) in sorted(zip(indexes, lst),\
             key=lambda x: x[0], reverse=reverse)]
             
# Example
x = ['Alphabet', 'Microsoft', 'Berkshire Hathaway', 'Amazon', 'Apple', 'Tesla']
y = [3, 2, 6, 4, 1, 5]
             
sort_by_indexes(x, y)

['Apple', 'Microsoft', 'Alphabet', 'Amazon', 'Tesla', 'Berkshire Hathaway']

# 10. Combine Dictionary Values for matching keys

In [14]:
from collections import defaultdict

def combine_values(*dicts):
    res = defaultdict(list)
    for d in dicts:
        for key in d:
            res[key].append(d[key])
    return dict(res)
    
# Example

dict1 = {'a': 1, 'b': 100, 'c': 400}
dict2 = {'a': 3, 'b': 200, 'd': 400}
    
combine_values(dict1, dict2)

{'a': [1, 3], 'b': [100, 200], 'c': [400], 'd': [400]}