[Reference](https://medium.com/@pythonshield/23-python-built-in-functions-you-must-master-f0d03f58583a)

# 1. print()

In [1]:
print("Hello, World!")

Hello, World!

In [2]:
# Forgetting to convert non-string types can lead to errors in certain contexts
value = 42
print("The answer is " + str(value))  # Correct
# print("The answer is " + value)     # Raises TypeError

The answer is 42

In [3]:
# Forgetting to convert non-string types can lead to errors in certain contexts
value = 42
print("The answer is " + str(value))  # Correct
# print("The answer is " + value)     # Raises TypeError

The answer is 42

In [4]:
name = "Alice"
age = 30
print(f"{name} is {age} years old.")

Alice is 30 years old.

In [5]:
from unittest.mock import patch
import io

def greet(name):
    print(f"Hello, {name}!")

@patch('sys.stdout', new_callable=io.StringIO)
def test_greet(mock_stdout):
    greet("Alice")
    assert mock_stdout.getvalue() == "Hello, Alice!\n"

# 2. len()

In [6]:
length = len("Python")

In [7]:
fruits = ['apple', 'banana', 'cherry']
print(len(fruits))  # Correct usage

empty_list = []
print(len(empty_list))  # Outputs 0

3
0

In [8]:
import time

large_list = list(range(1000000))
start = time.time()
length = len(large_list)
end = time.time()
print(f"len() on large list: {length} elements, Time: {end - start} seconds")

len() on large list: 1000000 elements, Time: 0.00014352798461914062 seconds

In [9]:
def get_length(obj):
    return len(obj)

def test_get_length():
    assert get_length([1, 2, 3]) == 3
    assert get_length("hello") == 5
    try:
        get_length(10)
    except TypeError:
        pass  # Expected

# 3. range()

In [10]:
for i in range(5):
    print(i)

0
1
2
3
4

In [11]:
# Off-by-one errors are common when using range
for num in range(1, 10, 2):
    print(num)  # Prints 1, 3, 5, 7, 9

# Expecting 10 to be included, but range is exclusive of the stop value

1
3
5
7
9

In [12]:
import time

start = time.time()
for i in range(1000000):
    pass
end = time.time()
print(f"Loop with range(): {end - start} seconds")

Loop with range(): 0.07840418815612793 seconds

In [13]:
try:
    for i in range("10"):
        print(i)
except TypeError:
    print("Range parameters must be integers.")

Range parameters must be integers.

In [14]:
def generate_numbers(start, stop, step=1):
    return list(range(start, stop, step))

def test_generate_numbers():
    assert generate_numbers(0, 5) == [0, 1, 2, 3, 4]
    assert generate_numbers(1, 10, 2) == [1, 3, 5, 7, 9]
    try:
        generate_numbers(1, "10")
    except TypeError:
        pass  # Expected

# 4. type()

In [15]:
print(type(3.14))

<class 'float'>

In [16]:
data = {'name': 'Bob', 'age': 25}
print(type(data))  # <class 'dict'>

<class 'dict'>

In [17]:
import time

start = time.time()
for _ in range(1000000):
    t = type(123)
end = time.time()
print(f"type() on int: {end - start} seconds")

type() on int: 0.25295448303222656 seconds

In [18]:
def get_type(obj):
    return type(obj)

def test_get_type():
    assert get_type(10) == int
    assert get_type("hello") == str
    assert get_type([]) == list

# 5. int()

In [19]:
num_str = "123"
num_int = int(num_str)
print(num_int + 10)  # Correct: 133

invalid_str = "123abc"
# int(invalid_str)  # Raises ValueError

133

In [20]:
import time

start = time.time()
for i in range(1000000):
    n = int("123")
end = time.time()
print(f"int() conversion: {end - start} seconds")

int() conversion: 0.6487133502960205 seconds

# 6. float()

In [21]:
import time

start = time.time()
for i in range(1000000):
    f = float("3.14")
end = time.time()
print(f"float() conversion: {end - start} seconds")

float() conversion: 0.48337721824645996 seconds

In [22]:
import time

start = time.time()
for i in range(1000000):
    f = float("3.14")
end = time.time()
print(f"float() conversion: {end - start} seconds")

float() conversion: 0.35965895652770996 seconds

# 7. str()

In [23]:
import time

start = time.time()
for i in range(1000000):
    s = str(i)
end = time.time()
print(f"str() conversion: {end - start} seconds")

str() conversion: 0.7674252986907959 seconds

# 8. input()

In [24]:
age = input("Enter your age: ")
# Remember to convert input to the desired type
age = int(age)
print(f"You are {age} years old.")

Enter your age: 30
You are 30 years old.

# 9. sum()

In [25]:
import time

large_list = list(range(1000000))
start = time.time()
total = sum(large_list)
end = time.time()
print(f"sum() on large list: {total}, Time: {end - start} seconds")

sum() on large list: 499999500000, Time: 0.020434141159057617 seconds

# 10. max() and min()

In [26]:
scores = [88, 92, 79, 93, 85]
print("Highest score:", max(scores))
print("Lowest score:", min(scores))

empty = []
# max(empty)  # Raises ValueError

Highest score: 93
Lowest score: 79

In [27]:
import time

large_list = list(range(1000000))
start = time.time()
maximum = max(large_list)
minimum = min(large_list)
end = time.time()
print(f"max() and min() on large list: {maximum}, {minimum}, Time: {end - start} seconds")

max() and min() on large list: 999999, 0, Time: 0.10314607620239258 seconds