[Reference](https://towardsdatascience.com/10-quick-and-clean-coding-hacks-in-python-1ccb16aa571b)

# 1. Do your co-developer a favor and use docstrings

In [ ]:
def get_percent_sales(product,sales,region):
                                    product.
"""Return the product Sales volumes in percent of total in country.
Get percentage of product sales of the region.

This function gets the product and corresponding sales by region and 
returns a percent sales of the region by total sales in that country.
Region input is accepted only by city. Districts are not accepted. 
If city name is not found, exception is thrown.         
            Parameters:              
                        
                        product (str) : Product name             
                        
                        sales (int) : Sales Volume         
            
            Returns: 
             percent_sales (float): Percent of total sales of    
                                    product.
"""

# 2. Make your logic statements intuitive to read

Don't
```python
if is_white == False

if not is_white == False
```

Do
```python
is_white = True

if is_white:
    else: 
```

# 3. Use .join instead of + to perform string concatenation
Don't
```python
my_name = 'firstname'+ ' ' + 'lastname'
```

Do
```python
my_name = " ".join(['firstname','lastname'])
```

# 4. Use List Comprehension for readable for loops

In [1]:
numbers = [1,2,3,4,5,6,7,8,9,10]

Don't

In [2]:
even_halves = [ ]
for num in numbers:
    if num%2 == 0:
       even_halves.append(num/2)

print(even_halves)

[1.0, 2.0, 3.0, 4.0, 5.0]

Do

In [3]:
even_halves = [num/2 for num in numbers if num%2==0]

# 5. If you are assigning a value to a variable, use def functions instead of lambda

Don't

In [5]:
squared = lambda x: x**2

Do

In [6]:
def squared(x):
   return x**2

# 6. Break those long lines

Don't

In [7]:
df = pd.read_excel('This/extremely/long/file/path/that/extends/ /to/the/next/line/and/screws/with/indentation.xlsx')

mylist = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20000,30000,3100000320000]

do backslash and implicit continuation:

In [8]:
filepath = "this/sweet/line/" \
           "continued/prettily/"\
           "looksbetter.xlsx"
           
df = pd.read_excel(filepath)

my_list = [1,2,3,4,5,6,7,8,9,10,11,
          12,13,14,15,16,17,18,19,
          20000,30000,3100000,320000]
          
if this_happens or that_happens \
   or these_happen:
      print('blah')
else:
   print('the other blah')

# 7. Use range instead of a list where possible

Don't

In [10]:
indices = [0,2,4,6,8,10]

for idX in indices:    
    print(name[idX])

Do

In [11]:
for idX in range(0,12,2):    
    print(name[idX])

# 8. Keep a minimum amount of code under Try blocks

Donâ€™t
```python
try:   
    names = get_data(students, classroom)   
    numbers = get_scores(students, classroom)   
    return names,numbers

except KeyError: 
```
Do
```python
try:    
    names = get_data(students, classroom)    
    numbers = get_scores(students, classroom)
except KeyError:
    print('That's not a student in this classroom!')
    
return names, numbers
```

# 9. Use sets a little more than you already do

In [12]:
data = {'find_this', 'among', 'all_the','other','data'}

if 'find_this' in data:   
    print('this exists!')
    
long_stuff = ['this','list','list','is',
             'enormous','oh','my','god',
             'god','what','is',
             'unique','unique']
             
unique_values = set(long_stuff)

this exists!

# 10. use zip to iterate over multiple lists

In [13]:
students = ['tom','dick','harry','larry','tim','benny']

scores = [100,20,40,60,30,40]

Don't

In [16]:
for i in range(len(students)):    
    print(students[i],scores[i])

tom 100
dick 20
harry 40
larry 60
tim 30
benny 40

Do

In [17]:
for student,score in zip(students,scores):
    print(student,score)

tom 100
dick 20
harry 40
larry 60
tim 30
benny 40