[Reference](https://medium.com/geekculture/16-python-and-pandas-hacks-that-will-save-you-time-in-your-project-292da3df0931)

# 1. Check memory usage of your objects

In [1]:
import sys
lst = range(0, 500)
print(sys.getsizeof(lst))

48

# 2. Converting string to byte

In [2]:
s = "I want to convert this string to byte"

s.encode( )

# b'I want to convert this string to byte'

b'I want to convert this string to byte'

# 3. Merge two list objects

In [4]:
a = [1,2,3]
b = [10,20,30]
a.extend(b)
# [1,2,3,10,20,30]

# 4. Retrieve longest and shortest string in a list

In [5]:
word_list = ["I", "am", "handsome"]
max(word_list, key=len)
# 'handsome'
min(word_list,key=len)
# 'I'

'I'

# 5. Count the number of occurrences of a character in a string

In [6]:
"please fine the occurrence of a in this sentence".count('a')
# 2

2

# 6. Unpack unequal number of values into variables

In [8]:
x, y, *z = ['a','b','c','d','e','f','g']
x 
# 'a'
y
# 'b'
z
# 'c','d','e','f','g'

['c', 'd', 'e', 'f', 'g']

# 7. Flatten a list

In [13]:
lst = [[1,2], [3,4], [5,6]]
flattened_lst = [i for j in lst for i in j ]
flattened_lst

[1, 2, 3, 4, 5, 6]

# 8. Print all combinations in a list

In [14]:
from itertools import combinations, combinations_with_replacement
lst= [1,2,3]
list(combinations(lst,2))
# [[(1,2,), (1,3), (2,3)]
list(combinations_with_replacement(lst,2))
# [[(1,1),(1,2),(1,3),(2,2),(2,3),(3,3)]
list(combinations(lst,3))
#[(1,2,3)]

[(1, 2, 3)]

# 9. Thousands Separator

In [29]:
N = 5384200
comma_separated_N = f'{N: , 1}'
comma_separated_N
#5,384,200

# 10. Sum or Multiply all elements of a list

In [18]:
from numpy import prod
from functools import reduce

lst = [1,2,3,4]
p1 = prod(lst) #24
p2 = reduce((lambda x, y: x * y), lst)  #24
s = sum(lst) #10

# 11. Get quotient and remainder

In [19]:
q, r= divmod(25,6)
# q, r= 4, 1

# 12. Most frequent element of a list

In [21]:
from collections import Counter

lst = [1,2,3,1,1,1,10,20,3,4,5,6]
most_freq_e = Counter(lst).most_common()[0][0] 
#1

# 13. Sort Dictionary based on multiple conditions

In [23]:
d = {"HA":5, "AN":5, "AK":10, "STATO":0 , "HEW":10}
lst = sorted(d.items( ), key = lambda x: (x[1], len(x[0]), x[0])) 
#### sorts based on value first, then length of key and finally on the key itself (so alphabetically in this case) #####
new_d = {k:v for k,v in lst}
new_d # {"STATO":0, "AN":5, "HA":5, "AK":10, "HEW":10}

{'AK': 10, 'AN': 5, 'HA': 5, 'HEW': 10, 'STATO': 0}

# 14. Transpose a matrix

In [24]:
mtrx= [[1,2,3], [3,4,5], [5,6,7]]

lst = list(list(x) for x in zip(*mtrx))

# lst = [[1,3,5], [2,4,6], [3,6,7]]

# 15. Use Switch Statement for Python 3.10

In [26]:
# def get_mood(day):
#     match day:
#         case 'Monday':
#             return 'Oh…'
#         case 'Thursday':
#             return 'Getting close!'
#         case 'Friday':
#             return 'Almost there!'
#         case 'Saturday' | 'Sunday':
#             return 'Weekend!!!'
#         case _:
#             return 'Meh…'

# 16. Loading multiple pandas dataframes onto each element of list

In [28]:
import glob
import pandas as pd

files= glob.glob({path})
df_list= [pd.read_csv(file) for file in files]