[Reference](https://towardsdatascience.com/20-examples-to-master-pandas-series-bc4c68200324)

In [8]:
import numpy as np
import pandas as pd

# 1. DataFrame is composed of Series

In [9]:
df = pd.DataFrame(np.array([[1,6,9,2],[2,1,7,2],[3,0,6,3],[5,2,4,8],[4,0,2,3]]))
df

   0  1  2  3
0  1  6  9  2
1  2  1  7  2
2  3  0  6  3
3  5  2  4  8
4  4  0  2  3

In [11]:
a = df.iloc[0, :]
print(type(a))

b = df[0]
type(b)

<class 'pandas.core.series.Series'>

pandas.core.series.Series

# 2. Series consists of values and index

In [14]:
ser = pd.Series(['a','b','c','d','e'])
print(ser.index)
print(ser.values)

RangeIndex(start=0, stop=5, step=1)
['a' 'b' 'c' 'd' 'e']

# 3. Index can be customized

In [16]:
ser = pd.Series(['a','b','c','d','e'], index=[10,20,30,40,50])
print(ser.index)

Int64Index([10, 20, 30, 40, 50], dtype='int64')

# 4. Series from a list

In [17]:
list_a = ['data', 'science', 'machine', 'learning']
ser = pd.Series(list_a)
type(ser)

pandas.core.series.Series

# 5. Series from a NumPy array

In [18]:
arr = np.random.randint(0, 10, size=50)
ser = pd.Series(arr)

# 6. Accessing individual values

In [19]:
ser = pd.Series(['a','b','c','d','e'])
print(ser[0])
print(ser[2])

a
c

# 7. Slicing a Series

In [20]:
ser = pd.Series(['a','b','c','d','e'])

print(ser[:3])
print(ser[2:])

0    a
1    b
2    c
dtype: object
2    c
3    d
4    e
dtype: object

# 8. Data types

In [21]:
ser1 = pd.Series([1,2,3,4,5])
print(ser1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [22]:
ser2 = pd.Series([1,2,3,4,5], dtype='float')
print(ser2)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

# 9. Number of items in a Series

In [23]:
ser = pd.Series([1,2,3,4,5])
len(ser)

5

In [24]:
ser.size

5

In [25]:
ser.shape

(5,)

# 10. Unique and Nunique

In [26]:
ser = pd.Series(['a','a','a','b','b','c'])
ser.unique()

array(['a', 'b', 'c'], dtype=object)

In [27]:
ser.nunique()

3

# 11. Largest and smallest values

In [28]:
ser = pd.Series(np.random.random(size=500))
ser.nlargest(n=3)

348    0.996721
260    0.993279
51     0.991170
dtype: float64

In [29]:
ser.nsmallest(n=2)

28     0.003819
458    0.005042
dtype: float64

# 12. Series from a dictionary

In [30]:
dict_a = {'a':1, 'b':2, 'c':8, 'd':5}
pd.Series(dict_a)

a    1
b    2
c    8
d    5
dtype: int64

# 13. Converting data type

In [31]:
ser = pd.Series(['1','2','3','4'])
ser

0    1
1    2
2    3
3    4
dtype: object

In [32]:
ser.astype('int')

0    1
1    2
2    3
3    4
dtype: int64

# 14. Number of occurrences of values

In [33]:
ser = pd.Series(['a','a','a','b','b','c'])
ser.value_counts()

a    3
b    2
c    1
dtype: int64

# 15. From series to list

In [34]:
ser = pd.Series(np.random.randint(10, size=10))
ser.to_list()

[7, 7, 4, 9, 3, 6, 5, 2, 8, 6]

# 16. Null values

In [35]:
ser = pd.Series([1, 2, 3, np.nan, np.nan])
ser.count()

3

# 17. Null values â€” 2

In [36]:
ser = pd.Series([1, 2, 3, np.nan, np.nan])
ser.isna()

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [37]:
ser.isna().sum()

2

# 18. Rounding up floating point numbers

In [38]:
ser

0    1.0
1    2.0
2    3.0
3    NaN
4    NaN
dtype: float64

In [39]:
ser.round(2)

0    1.0
1    2.0
2    3.0
3    NaN
4    NaN
dtype: float64

# 19. Logical operators

In [40]:
ser = pd.Series([1, 2, 3, 4])
ser.eq(3)

0    False
1    False
2     True
3    False
dtype: bool

In [41]:
ser.gt(2)

0    False
1    False
2     True
3     True
dtype: bool

# 20. Data aggregations

In [42]:
ser = pd.Series([1, 2, 3, 4, 10])
ser.mean()

4.0

In [43]:
ser.agg(['mean','median','sum', 'count'])

mean       4.0
median     3.0
sum       20.0
count      5.0
dtype: float64