[Reference](https://towardsdatascience.com/20-newbie-mistakes-that-even-skilled-python-programmers-make-6879048731a4)

# #1 Using Multiple Print Statements

In [1]:
a, b, c = 10, 5, 3

print(a)
print(b)
print(c)

10
5
3

In [2]:
a, b, c = 10, 5, 3

print(a, b, c, sep = "\n")

10
5
3

In [3]:
a, b, c = 10, 5, 3

print(a, end = "\n---\n")
print(b, end = "\n---\n")
print(c)

10
---
5
---
3

# #2 Printing the same variable using a FOR loop

In [4]:
repeat = 10
a = "ABC"
for _ in range(repeat):
    print(a, end = "")

ABCABCABCABCABCABCABCABCABCABC

In [5]:
repeat = 10
a = "ABC"

print(a*repeat)

ABCABCABCABCABCABCABCABCABCABC

# #3–4 Creating a separate variable to track the index in a loop

In [6]:
idx = 0
char_list = ["a", "b", "c", "d", "e", "f"]

for i in char_list:
    print("index =", idx, "value =", i, sep = " ")
    idx += 1

index = 0 value = a
index = 1 value = b
index = 2 value = c
index = 3 value = d
index = 4 value = e
index = 5 value = f

In [7]:
char_list = ["a", "b", "c", "d", "e", "f"]

for idx in range(len(char_list)):
    print("index =", idx, "value =", char_list[idx], sep = " ")
    idx += 1

index = 0 value = a
index = 1 value = b
index = 2 value = c
index = 3 value = d
index = 4 value = e
index = 5 value = f

In [8]:
char_list = ["a", "b", "c", "d", "e", "f"]

for idx, i in enumerate(char_list):
    print("index =", idx, "value =", i, sep = " ")

index = 0 value = a
index = 1 value = b
index = 2 value = c
index = 3 value = d
index = 4 value = e
index = 5 value = f

# #5 Converting a list to a string using FOR loop

In [9]:
char_list = ["A", "B", "C", "D", "E"]
final_str = ""

for i in char_list:
    final_str += i

print(final_str)

ABCDE

In [10]:
char_list = ["A", "B", "C", "D", "E"]
final_str = "".join(char_list)

print(final_str)

ABCDE

# #6 Removing duplicates from a list using a FOR loop

In [11]:
char_list = ["A", "B", "A", "D", "C", "B", "E"]
final_list = []

for i in char_list:
    if i not in final_list:
        final_list.append(i)

print(final_list)

['A', 'B', 'D', 'C', 'E']

In [12]:
char_list = ["A", "B", "A", "D", "C", "B", "E"]

set(list(char_list))

{'A', 'B', 'C', 'D', 'E'}

In [13]:
char_list = ["A", "B", "A", "D", "C", "B", "E"]

list(set(list(char_list)))

['C', 'B', 'D', 'E', 'A']

# #7 Searching for an element in a list using FOR loop

In [14]:
char_list = ["A", "B", "A", "D", "C", "B", "E"]
search_char = "D"
found = False

for i in char_list:
    if i == search_char:
        found = True
        break

print(found)

True

In [15]:
char_list = ["A", "B", "A", "D", "C", "B", "E"]
search_char = "D"

search_char in char_list

True

# #8 Iterating over two iterables of the same size using an index variable

In [16]:
list1 = [1, 3, 6, 2, 5]
list2 = [0, 4, 1, 9, 7]

for idx in range(len(list1)):
    print("value1 =", list1[idx], "value2 =", list2[idx], sep = " ")

value1 = 1 value2 = 0
value1 = 3 value2 = 4
value1 = 6 value2 = 1
value1 = 2 value2 = 9
value1 = 5 value2 = 7

In [17]:
list1 = [1, 3, 6, 2, 5]
list2 = [0, 4, 1, 9, 7]

for i, j in zip(list1, list2):
    print("value1 =", i, "value2 =", j, sep = " ")

value1 = 1 value2 = 0
value1 = 3 value2 = 4
value1 = 6 value2 = 1
value1 = 2 value2 = 9
value1 = 5 value2 = 7

# #9 Reversing a list using a FOR loop

In [18]:
input_list  = [1, 2, 3, 4, 5]
output_list = []

for idx in range(len(input_list), 0, -1):
    output_list.append(input_list[idx-1])

print(output_list)

[5, 4, 3, 2, 1]

In [19]:
input_list  = [1, 2, 3, 4, 5]

output_list = input_list[::-1]
print(output_list)

[5, 4, 3, 2, 1]

# #10 Checking Palindrome using a FOR loop

In [20]:
input_list  = [1, 2, 3, 2, 1]
output_list = []

for idx in range(len(input_list), 0, -1):
    output_list.append(input_list[idx-1])

print(output_list == input_list)

True

In [21]:
input_list  = [1, 2, 3, 2, 1]

output_list = input_list[::-1]
print(output_list == input_list)

True

# #11 Counting the occurrence of an element in an iterable using FOR loop

In [22]:
char_list = ["A", "B", "A", "D", "C", "B", "E"]
search_char = "B"
char_count = 0

for i in char_list:
    if search_char == i:
        char_count += 1

print(char_count)

2

In [23]:
char_list = ["A", "B", "A", "D", "C", "B", "E"]

char_list.count("A")

2

In [24]:
string = "ABADCBE"

string.count("A")

2

# #12 Obtaining a string’s substring using FOR loop

In [25]:
input_str = "ABCDEFGHIJKL"
start_index = 4
n_chars = 5

output_str = ""

for i in range(n_chars):
    output_str += input_str[i+start_index]

print(output_str)

EFGHI

In [26]:
input_str = "ABCDEFGHIJKL"
start_index = 4
n_chars = 5

output_str = input_str[start_index:start_index+n_chars]
print(output_str)

EFGHI

# #13 Defining long integer constants

In [27]:
x = 1000000000000000000000
x

1000000000000000000000

In [28]:
x = 1_000_000_000_000_000_000_000
x

1000000000000000000000

In [29]:
x = pow(10, 21)

# #14 Swapping case of a String with IF conditions

In [30]:
input_str = "AbCDeFGhIjkl"
output_str = ""

for i in input_str:

    if i.islower():
        output_str += i.upper()

    elif i.isupper():
        output_str += i.lower()
    
    else:
        output_str += i

print(output_str)

aBcdEfgHiJKL

In [31]:
input_str = "AbCDeFGhIjkl"
output_str = input_str.swapcase()

print(output_str)

aBcdEfgHiJKL

# #15 Obtaining a Union of two sets

In [32]:
set_a = {1, 2, 4, 8}
set_b = {3, 8, 7, 1, 9}

union_set = set()

for i in set_a:
    union_set.add(i)

for i in set_b:
    union_set.add(i)

print(union_set)

{1, 2, 3, 4, 7, 8, 9}

In [33]:
set_a = {1, 2, 4, 8}
set_b = {3, 8, 7, 1, 9}

union_set = set_a.union(set_b)
print(union_set)

{1, 2, 3, 4, 7, 8, 9}

In [34]:
set_a = {1, 2, 4, 8}
set_b = {3, 8, 7, 1, 9}
set_c = {5, 9, 10, 3, 2}
set_d = {7, 2, 13, 15, 0}

union_set = set_a.union(set_b, set_c, set_d)
print(union_set)

{0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 13, 15}

# #16 Obtaining the Intersection of two sets

In [35]:
set_a = {1, 2, 4, 8}
set_b = {3, 8, 7, 1, 9}

intersection_set = set()

for i in set_a:
    if i in set_b:
        intersection_set.add(i)

print(intersection_set)

{8, 1}

In [36]:
set_a = {1, 2, 4, 8}
set_b = {3, 8, 7, 1, 9}

intersection_set = set_a.intersection(set_b)

print(intersection_set)

{8, 1}

# #17 Writing Multiple Conditions in an IF statement

In [37]:
a = 1

if a == 1 or a == 2 or a==3:
    a += 1

elif a == 4 or a == 5 or a==6:
    a += 5

else:
    a *= 2

print(a)

2

In [38]:
a = 1

if a in (1, 2, 3):
    a += 1

elif a in (4, 5, 6):
    a += 5

else:
    a *= 2

print(a)

2

# #18 Changing the data type of all elements in a list

In [39]:
input_list  = ["7", "2", "13", "15", "0"]
output_list = []

for idx, i in enumerate(input_list):
    output_list.append(int(input_list[idx]))

print(output_list)

[7, 2, 13, 15, 0]

In [40]:
input_list = ["7", "2", "13", "15", "0"]

output_list = list(map(int, input_list))
print(output_list)

[7, 2, 13, 15, 0]

# #19 Swapping variables

In [41]:
a = "123"
b = "abc"

temp = a
a = b
b = temp

print(a, b)

abc 123

In [42]:
a = "123"
b = "abc"

a, b = b, a
print(a, b)

abc 123

# #20 Generating all combinations of two lists using nested loops

In [43]:
list1 = ["A", "B", "C"]
list2 = [1, 2]

combinations = []

for i in list1:
    for j in list2:
        combinations.append([i, j])

print(combinations)

[['A', 1], ['A', 2], ['B', 1], ['B', 2], ['C', 1], ['C', 2]]

In [44]:
from itertools import product

list1 = ["A", "B", "C"]
list2 = [1, 2]

combinations = list(product(list1, list2))
print(combinations)

[('A', 1), ('A', 2), ('B', 1), ('B', 2), ('C', 1), ('C', 2)]