[Reference](https://medium.com/better-programming/20-valuable-and-essential-python-hacks-for-beginners-112954560aff)

# 1. Swapping values

In [1]:
a, b= 5, 10
print(a, b) 
a, b= b, a
print(a, b)

5 10
10 5

# 2. One string of all items within a list

In [2]:
p = ["Python", "is", "a", "popular", "language"] 
print(" ".join(p))

Python is a popular language

# 3. Most common element in the list

In [3]:
list1 = [0, 1, 2, 3, 3, 2, 3, 1, 4, 5, 4] 
print(max(set(list1), key = list1.count))

3

# 4. Test if two strings are anagrams

In [4]:
def anagram(string_1, string_2):     
    """Test if the strings are anagrams.     
    string_1: string     
    string_2: string     
    returns: boolean     
    """

In [5]:
from collections import Counter 
def anagram(string_1, string_2):      
     return Counter(string_1) == Counter(string_2)
anagram('pqrs','rqsp')

True

In [6]:
anagram('pqrs','rqqs')

False

# 5. Reverse a string

In [7]:
str = "PQRST"
reverse_str = str[::-1]
print(reverse_str)

TSRQP

# 6. Reverse a list

In [8]:
def Reverse(lst): 
 lst1 = lst[::-1] 
 return lst1
 
lst = [5, 6, 7, 8, 9, 10] 
print(Reverse(lst))

[10, 9, 8, 7, 6, 5]

# 7. Transpose a matrix

In [9]:
mat=[(5,6,7),(8,9,10),(11,12,13),(14,15,16)] 
for row in mat: 
    print(row) 
print("\n") 
t_mat = zip(*mat) 
for row in t_mat: 
    print(row)

(5, 6, 7)
(8, 9, 10)
(11, 12, 13)
(14, 15, 16)


(5, 8, 11, 14)
(6, 9, 12, 15)
(7, 10, 13, 16)

In [10]:
x = [(1,2,3),(4,5,6)]

In [11]:
print(list(zip(*x)))

[(1, 4), (2, 5), (3, 6)]

# 8. Chained comparison

In [12]:
a = 3
print(1 < a< 10) 
print(5 < a< 15) 
print(a < 7< a*7 < 49) 
print(8 > a<= 6) 
print(3 == a> 2)

True
False
True
True
True

# 9. Dictionary ‘get’

In [13]:
dict = {"P":1, "Q":2} 
print(dict["P"]) 
print(dict["R"])

1

KeyError: ignored

In [14]:
dict = {"P":1, "Q":2} 
print(dict.get("P")) 
print(dict.get("R")) 
print(dict.get("R","Unavailable! "))

1
None
Unavailable!

# 10. Sort dictionary by value
Construct a dictionary, as well as show all keys in alphabetical order. List both the alphabetically sorted keys and values by the value.

# 11. List comprehension

In [15]:
list1 = [2,4,6,8]
list2 = [3*p for p in list1]
print(list2)

[6, 12, 18, 24]

# 12. Time consumed to implement a part of the program

In [16]:
import time
initial_Time = time.time()
# Program to test follows
x, y= 5,6
z = x+ y
# Program to test ending
ending_Time = time.time()
Time_lapsed_in_Micro_sec = (ending_Time- initial_Time)*(10**6)
Time_lapsed_in_Micro_sec

45.7763671875

# 13. Merge dictionaries

In [17]:
dic1 = {'men': 6, 'boy': 5}
dic2 = {'boy': 3, 'girl': 5}
merged_dic = {**dic1, **dic2}
print(merged_dic)

{'men': 6, 'boy': 3, 'girl': 5}

# 14. Digitize

In [22]:
number = 2468
number

AttributeError: ignored

In [24]:
number = 2468
# with map
digit_list = list(map(int, str(number)))
print(digit_list)
# with list comprehension
digit_list = [int(a) for a in str(number)]
print(digit_list)
# Even simpler approach
digit_list = list(str(number))
print(digit_list)

# 15. Test for uniqueness

In [25]:
def uniq(list):
    if len(list)==len(set(list)):
        print("total items are unique")
    else:
        print("List includes duplicate item")
uniq([0,2,4,6])
# total items are unique
uniq([1,3,3,5])

total items are unique
List includes duplicate item

# 16. Using enumeration

In [26]:
sample_list = [4, 5, 6]
for j, item in enumerate(sample_list):
	print(j, ': ', item)

0 :  4
1 :  5
2 :  6

# 17. Evaluate the factorial of any number in a single line

In [27]:
import functools
fact = (lambda i: functools.reduce(int.__mul__, range(1,i+1),1)(4))

fact

# 18. Return several functions’ elements

In [28]:
def a():
	return 5, 6, 7, 8
# Calling the above function.
w, x, y, z= a()
print(w, x, y, z)

5 6 7 8

# 19. Incorporate a true Python switch-case statement

In [29]:
def aswitch(a): 
	return aswitch._system_dic.get(a, None)
aswitch._system_dic = {'mangoes': 4, 'apples': 6, 'oranges': 8}
print(aswitch('default'))
print(aswitch('oranges'))

None
8

# 20. With splat operator unpacking function arguments

In [30]:
def test(a, b, c):
    print(a, b, c)
test_Dic = {'a': 4, 'b': 5, 'c': 6} 
test_List = [10, 11, 12]
test(*test_Dic)
test(**test_Dic)
test(*test_List)

a b c
4 5 6
10 11 12