[Reference](https://levelup.gitconnected.com/22-code-snippets-that-every-python-programmer-must-learn-b7f7ec35e9df)

# 1. Merge two dictionaries

In [1]:
dictionary1 = {"name": "Joy", "age": 25}
dictionary2 = {"name": "Joy", "city": "New York"}

merged_dict = {**dictionary1, **dictionary2}

print("Merged dictionary:", merged_dict)

Merged dictionary: {'name': 'Joy', 'age': 25, 'city': 'New York'}

# 2. Chain Comparison

In [2]:
a = 5

print(2 < a < 8)
print(1 == a < 3)

True
False

# 3. Print a String N times

In [3]:
n = 5
string = "Hello!"

print(string * n)

Hello!Hello!Hello!Hello!Hello!

# 4. Checking if a File Exists

In [4]:
from os import path

def check_for_file():
    print("Does file exist:", path.exists("data.csv"))

if __name__=="__main__":
    check_for_file()

# 5. Retrieve the Last Element of a List

In [5]:
my_list = ['banana', 'apple', 'orange', 'pineapple']

#Using brute force method
last_element = my_list[len(my_list) - 1]

#Using negative indeces
last_element = my_list[-1]

#Using pop method
last_element = my_list.pop()

# 6. List Comprehension

In [6]:
def get_vowels(string):
    return [vowel for vowel in string if vowel in 'aeiou'] 

print("Vowels are:", get_vowels('This is some random string'))

Vowels are: ['i', 'i', 'o', 'e', 'a', 'o', 'i']

# 7. Calculate Code Execution Time

In [7]:
import time

start_time = time.time()

total = 0
for i in range(10):
  total += i
print("Sum:", total)

end_time = time.time()
time_taken = end_time - start_time
print("Time: ", time_taken)

Sum: 45
Time:  0.0019724369049072266

# 8. Find Element with Most Occurance

In [8]:
def most_frequent(list):
  return max(set(list), key=list.count)

mylist = [1,1,2,3,4,5,6,6,2,2]
print("most frequent item is:", most_frequent(mylist))

most frequent item is: 2

# 9. Convert Two Lists into a Dictionary

In [9]:
def list_to_dictionary(keys, values):
  return dict(zip(keys, values))

list1 = [1, 2, 3]
list2 = ['one', 'two', 'three']

print(list_to_dictionary(list1, list2))

{1: 'one', 2: 'two', 3: 'three'}

# 10. Error Handling

In [10]:
a, b = 1,0

try:
    print(a/b)
except ZeroDivisionError:
    print("Can not divide by zero")
finally:
    print("Executing finally block")

Can not divide by zero
Executing finally block

# 11. Reversing a String

In [11]:
str = "Hello World"

print("Reversed string is:", str[::-1])

Reversed string is: dlroW olleH

# 12. Combining a List of Strings into a Single String

In [12]:
list = ["Hello", "world", "Ok", "Bye!"]
combined_string = " ".join(list)

print(combined_string)

Hello world Ok Bye!

# 13. Get Default Values for Missing Keys

In [13]:
dict = {1:'one', 2:'two', 4:'four'}

#returning three as default value
print(dict.get(3, 'three'))

print("Original dictionary:", dict)

three
Original dictionary: {1: 'one', 2: 'two', 4: 'four'}

# 14. Swap two values without an extra variable

In [14]:
a, b = 5, 10

#Method 1
a, b = b, a

#Method 2
def swap(a,b):
  return b,a
swap(a,b)

(5, 10)

# 15. Regular Expressions

In [15]:
import re

text = "The rain in spain"
result = re.search("rain", text)

print(True if result else False)

True

# 16. Palindrome

In [16]:
def is_palindrome(str):
  return str == str[::-1]

print(is_palindrome('hannah'))

print(is_palindrome('solo'))

True
False

# 17. Filter values

In [17]:
my_list = [0,1,2,3,6,7,9,11]

result = filter(lambda x: x % 2!=0, my_list)

print(list(result))

TypeError: ignored

# 18. Anagrams

In [18]:
from collections import Counter

def is_anagram(string1, string2):
  return Counter(string1) == Counter(string2)

print(is_anagram('race', 'care'))

True

# 19. Memory Usage of Variable

In [19]:
import sys

var1 = 15
list1 = [1,2,3,4,5]

print(sys.getsizeof(var1))
print(sys.getsizeof(list1))

28
112

# 20. Chained function call

In [20]:
def add(a, b):
    return a + b

def subtract(a, b):
    return a - b

a, b = 5, 10

print((add if b > a else subtract)(a,b))

15

# 21. Get the Unique ID of an Object

In [21]:
num = 15
name = 'John'
list1 = [1,2,3,4]

print(id(num))
print(id(name))
print(id(list1))

93896187673536
140024450485296
140024388992688

# 22. Remove Duplicates From a List

In [23]:
list1 = [1,2,3,3,4,'John', 'Ana', 'Mark', 'John']

#Method 1
def remove_duplicate(list_value):
    return set(list_value)
print(remove_duplicate(list1))

#Method 2
result = []
[result.append(x) for x in list1 if x not in result]
print(result)

{1, 2, 3, 4, 'Mark', 'Ana', 'John'}
[1, 2, 3, 4, 'John', 'Ana', 'Mark']