[Reference](https://levelup.gitconnected.com/25-useful-python-snippets-for-everyday-problems-4e1a74d1abae)

In [1]:
lst= ["Mango", "PineApple", "Orange", "Apple"]

#method 1 
lst.sort()
print(lst)

#method 2 generic sorting
new_lst = sorted(lst)
print(new_lst)

#reverse sorting
new_lst = sorted(lst, reverse=True)

['Apple', 'Mango', 'Orange', 'PineApple']
['Apple', 'Mango', 'Orange', 'PineApple']

In [2]:
d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}

#method 1
new_dict = {k: v for k, v in sorted(d.items(), key=lambda item: item[1])}
print(new_dict)

#method 2
new_dict = dict(sorted(d.items(), key=lambda item: item[1]))
print(new_dict)

{0: 0, 2: 1, 1: 2, 4: 3, 3: 4}
{0: 0, 2: 1, 1: 2, 4: 3, 3: 4}

In [3]:
#method 1
print("I'm a Python", end=" ")
print("Programmer")

#method 2
import sys
sys.stdout.write("I'm a Python")
sys.stdout.write(" Programmer")

I'm a Python Programmer
I'm a Python Programmer

In [4]:
def merge_two_dict(x, y):
    z = x.copy()
    z.update(y)
    return z
    
x = {"A" : 1, "B" : 2}
y = {"C" : 3, "D" : 4}
merge_two_dict(x, y)

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [5]:
def reverse(data):
    return data[::-1]
    
reverse("Python")
reverse("23354")

'45332'

In [6]:
def check_duplicates(lst):
    return len(lst) != len(set(lst))
    
lst1 = [1, 2, 3, 3]
lst2 = [1, 2, 3]
print(check_duplicates(lst1))
print(check_duplicates(lst2))

True
False

In [7]:
mylist = [1, 2, 3, 2, 5, 6, 6, 5, 7]

unique = list(set(mylist))
print(unique) #[1, 2, 3, 5, 6, 7]

[1, 2, 3, 5, 6, 7]

In [8]:
def Digitize(num):
  return list(map(int,str(num)))
  
print(Digitize(321))
print(Digitize(900))

[3, 2, 1]
[9, 0, 0]

In [9]:
def byte_size(string):
  return len(string.encode('utf-8'))
  
byte_size("hello") # 5
byte_size("Python Programming") #18

18

In [11]:
def similarity(x, y):
    return [item for item in x if item in y]

x = [1, 2, 3, 4, 5]
y = [1, 2, 3]

similarity(x,y)

[1, 2, 3]

In [12]:
import sys

var1 = 500
var2 = "Python"

print(sys.getsizeof(var1))
print(sys.getsizeof(var2))

28
55

In [13]:
def GetVowels(string):
    return [item for item in string if item in 'aeiou']
    
print(GetVowels("asert"))
print(GetVowels("football"))

['a', 'e']
['o', 'o', 'a']

In [14]:
def palindrome(string):
    return string == string[::-1]
    
print(palindrome('mom'))
print(palindrome('bob'))
print(palindrome('desk'))

True
True
False

In [15]:
#old method
a = 5
b = 6
temp = a
a = b
b = temp 
print(a, b) # 6 5

#new and fast method
a = 5
b = 6
a, b = b, a
print(a, b) # 6 5

6 5
6 5

In [16]:
import random

lst = [1, 2, 3, 4, 5]
random.shuffle(lst)
print(lst) # [1, 2, 3, 5, 4]

random.shuffle(lst)
print(lst) # [4, 2, 5, 3, 1]

[3, 4, 5, 1, 2]
[1, 2, 3, 5, 4]

In [17]:
try:
    print(a) # a not defined error occur
except:
    print(b) # b not defined again error
else: 
    print("Program is still running, Error is handled")

6
Program is still running, Error is handled

In [18]:
string1 = "python programming language"
print(string1.title()) # Python Programming Language

string2 = "learn python"
print(string2.title()) # Learn Python

Python Programming Language
Learn Python

In [19]:
def head(lst):
    return lst[0]
    
def tail(lst):
    return lst[len(lst) - 1]
    
lst = [1, 2, 3, 4, 5]
print(head(lst)) # 1
print(tail(lst)) # 5

1
5

In [21]:
import math

def is_prime(n):
    if n % 2 == 0 and n > 2: 
        return False
    return all(n % i for i in range(3, int(math.sqrt(n)) + 1, 2))
    
print(is_prime(11))
print(is_prime(4))

True
False

In [22]:
def initialize_list(end, start = 0, steps = 1):
    return list(range(start, end + 1, steps))
    
print(initialize_list(5))
print(initialize_list(7, 1))
print(initialize_list(8, 1, 2))

[0, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]
[1, 3, 5, 7]

In [23]:
def convertToBinary(num):
    return bin(num)
    
print(convertToBinary(900))
print(convertToBinary(300))

0b1110000100
0b100101100

In [24]:
import re

def WordToList(string, pattern = '[a-zA-Z-]+'):
  return re.findall(pattern, string)
  
print(WordToList("Python"))
print(WordToList("Are you a Programmer?"))

['Python']
['Are', 'you', 'a', 'Programmer']

In [25]:
#example 1
string = "I'm a Programmer"
string = string.split()

print(string) # ["I'm", 'a', 'Programmer']#example 2
string = "I'm a Programmer"
string = string.split("a") # ["I'm ", ' Progr', 'mmer']

print(string)#example 3
string = "I'm\na\nProgrammer"
string = string.split("\n") # ["I'm", 'a', 'Programmer']

print(string)

["I'm", 'a', 'Programmer']
["I'm ", ' Progr', 'mmer']
["I'm", 'a', 'Programmer']

In [26]:
# example 1
s = "Data"

N = s * 5
print(N) # DataDataDataDataData

#example 2
s = "Python"
N = s * 2 
print(N) # PythonPython

DataDataDataDataData
PythonPython

In [27]:
def flattenList(lst):
    return [a for b in lst for a in b]
    
flattenList([[1,2,3], [4,5], [7,8]]) # [1, 2, 3, 4, 5, 7, 8]
flattenList([[1,2,3], [8,9]]) # [1, 2, 3, 8, 9]

[1, 2, 3, 8, 9]