[Reference](https://towardsdatascience.com/3-python-tricks-that-will-ease-your-life-6b48952caedf)

In [1]:
from datetime import datetime
mydate = datetime(2020, 4, 2, 16, 40)
print(mydate)

2020-04-02 16:40:00

In [2]:
mydate.month

4

In [3]:
mydate.day

2

In [5]:
# one digit month and day
mydate = datetime(2020, 4, 2)
file_path = f"Results_{mydate.year}{mydate.month}{mydate.day}"
print(file_path)

# two-digit month and day
mydate2 = datetime(2020, 11, 24)
file_path = f"Results_{mydate2.year}{mydate2.month}{mydate2.day}"
print(file_path)

Results_202042
Results_20201124

In [6]:
mydate = datetime(2020, 4, 2)
file_path = f"Results_{mydate.year}{mydate.month:02}{mydate.day:02}"
print(file_path)

Results_20200402

# Counter function

In [7]:
from collections import Counter
list_a = [1, 2, 3, 3, 3, 5, 5]
Counter(list_a)

Counter({1: 1, 2: 1, 3: 3, 5: 2})

In [8]:
list_a.count(3)

3

In [9]:
mystring = "aaaabbcbbbcbbcccaaaa"
Counter(mystring)

Counter({'a': 8, 'b': 7, 'c': 5})

In [10]:
mytext = "Python python data science Data Science data"
Counter(mytext.lower().split(" "))

Counter({'data': 3, 'python': 2, 'science': 2})

In [11]:
members = [["John", "Doe", 28], 
           ["Betsy", "Ash", 32], 
           ["Megan", "Sam", 44]]

In [12]:
members.sort(key = lambda inner: inner[1])
members

[['Betsy', 'Ash', 32], ['John', 'Doe', 28], ['Megan', 'Sam', 44]]

In [13]:
members.sort(key = lambda inner: inner[2])
members

[['John', 'Doe', 28], ['Betsy', 'Ash', 32], ['Megan', 'Sam', 44]]