[Reference](https://medium.com/better-programming/3-tips-for-advancing-python-string-formatting-bc4cc8720f2e)

In [1]:
first_name = "Hannibal"
last_name = "Liang"
age = 20

# Method 1
intro = "My name is " + first_name + " " + last_name + " and I'm " + str(age) + " years old."

print(intro)

My name is Hannibal Liang and I'm 20 years old.

In [2]:
first_name = "Hannibal"
last_name = "Liang"
age = 20

# Method 2
intro = "My name is {} {} and I'm {} years old.".format(first_name, last_name, age)

print(intro)

My name is Hannibal Liang and I'm 20 years old.

In [3]:
first_name = "Hannibal"
last_name = "Liang"
age = 20

# Method 3
intro = f"My name is {first_name} {last_name} and I'm {age} years old."

print(intro)

My name is Hannibal Liang and I'm 20 years old.

In [4]:
class Birthday:
    def __init__(self, month, date):
        self.month = month
        self.date = date

me = {'first_name': "Hannibal", 'last_name': "Liang", 'age': 20}
my_birthday = Birthday(4, 20)
lottery = [10, 14, 9]

intro = f"My name is {me['first_name']} {me['last_name']} and I'm {me['age']} years old."
birthday = f"My birthday is on {my_birthday.month}\{my_birthday.date}."
lottery_num = f"I won a lottery with the numbers {lottery[0]}, {lottery[1]}, {lottery[2]}."
print(intro)
print(birthday)
print(lottery_num)

My name is Hannibal Liang and I'm 20 years old.
My birthday is on 4\20.
I won a lottery with the numbers 10, 14, 9.

In [5]:
# Comma seperator
num = 10000**5
big_num = f"Number = {num:,}"
print(big_num)

Number = 100,000,000,000,000,000,000

In [6]:
# Limited digits
e = 2.718281828459045235360287471352
euler_num = f"Euler number = {e:.5f}..."
print(euler_num)

Euler number = 2.71828...

In [7]:
# Space padding
for j in range(5):
    for i in range(5):
        num = j*5 + i + 1
        if i == 4:
            print(f"{num:4}")
        else:
            print(f"{num:4}", end='')

   1   2   3   4   5
   6   7   8   9  10
  11  12  13  14  15
  16  17  18  19  20
  21  22  23  24  25