[Reference](https://rishi-sutar.medium.com/4-ways-to-level-up-your-python-code-c15a87a4e2a4)

# Replace range(len()) with enumerate()

In [1]:
cities = ['Rio', 'Moscow', 'Denver', 'Tokyo']

for i in range(len(cities)):
    print(i, cities[i])

for idx, city in enumerate(cities):
    print(idx, city)

0 Rio
1 Moscow
2 Denver
3 Tokyo
0 Rio
1 Moscow
2 Denver
3 Tokyo

# Simplify Iterating Over Multiple Lists with Zip()

In [4]:
cities = ['Mumbai', 'London', ' Moscow']
countries = ['India', 'England', ' Russia']

for_looped = []
for i in range(len(cities)):
    for_looped.append([cities[i], countries[i]])
print(for_looped)

zipped = zip(cities, countries)
zipped_list = list(zipped)
print(zipped_list)

[['Mumbai', 'India'], ['London', 'England'], [' Moscow', ' Russia']]
[('Mumbai', 'India'), ('London', 'England'), (' Moscow', ' Russia')]

# Stop using Square Brackets to Get Dictionary Items, Use .get() method

In [7]:
ariana = {
    'age':20,
    'gender':'female',
    'employed':'true'
}

print(ariana.get('gender'))
print(ariana.get('age'))

female
20

# Use f-string to Easily Print to the Console

In [9]:
name = 'Richie'
print(f"name = {name}")

name = Richie