[Reference](https://towardsdatascience.com/5-advanced-functions-in-itertools-to-simplify-iterations-in-python-c6213312ca47)

```python
file_list = [path0, path1, path2, ..., pathN]
with open(file_list[0]) as file:
    # do something with the file

with open(file_list[1]) as file:
    # do something with the file

#...
#...

with open(file_list[-1]) as file:
    # do something with the file
```

```python
file_list = [path0, path1, path2, ..., pathN]

for file_path in file_list:
  with open(file_path) as file:

```

In [1]:
for number in range(0, 3):
    print(number)

0
1
2

In [2]:
students = ['John', 'Mike', 'David']
# Use enumerate()
for (student_id, student) in enumerate(students, 27001):
     print(f'{student}, id: {student_id}')

John, id: 27001
Mike, id: 27002
David, id: 27003

In [3]:
activities = ['Basketball', 'Soccer', 'Tennis']
# Use reversed()
for activity in reversed(activities):
     print(activity)

Tennis
Soccer
Basketball

In [5]:
names = ['John', 'Mike', 'Kelly']
ids = [3721, 3472, 3748]

for (student_id, student) in zip(names, ids):
    print(f'{student}, id: {student_id}')

3721, id: John
3472, id: Mike
3748, id: Kelly

In [7]:
import itertools

cash_records = [50000, -2000, -2000, -2000, -2000, -2000]
rate = 1.003
for monthly_record in itertools.accumulate(cash_records, lambda amount, pmt: amount*rate + pmt):
    print(monthly_record)

50000
48149.99999999999
46294.44999999999
44433.333349999986
42566.63335004998
40694.33325010013

In [8]:
employees = ['John Smith', 'Jennifer Brown', 'Zack Dani', 'Peter Shine', 'Aaron Dawson', 'Holly Shaw']
grouped_employees = {}

name_key = lambda x: x.split()[-1][0]

sorted_employees = sorted(employees, key=name_key)

for k, names in itertools.groupby(sorted_employees, key=name_key):
    grouped_employees[k] = list(names)

grouped_employees

{'B': ['Jennifer Brown'],
 'D': ['Zack Dani', 'Aaron Dawson'],
 'S': ['John Smith', 'Peter Shine', 'Holly Shaw']}

In [9]:
def combine_coins(coins, number):
     possible_sums = set()
     for selected_coins in itertools.combinations(coins, number):
         possible_sums.add(sum(selected_coins))
     return sorted(possible_sums)

In [10]:
combine_coins([5, 5, 1, 1, 25, 10, 25], 3)

[7, 11, 12, 16, 20, 27, 31, 35, 36, 40, 51, 55, 60]

In [11]:
combine_coins([1, 1, 10, 5, 25, 25], 4)

[17, 32, 37, 41, 52, 56, 61, 65]

In [15]:
first_names = ['John', 'Adam', 'Danny']
middle_names = ['Douglas', 'Elliot']

for name in itertools.product(first_names, middle_names, ['Thompson']):
     full_name = " ".join(name)
     initials = "".join((x[0] for x in name))
     print(f'Full Name: {full_name}; Initials: {initials}')

Full Name: John Douglas Thompson; Initials: JDT
Full Name: John Elliot Thompson; Initials: JET
Full Name: Adam Douglas Thompson; Initials: ADT
Full Name: Adam Elliot Thompson; Initials: AET
Full Name: Danny Douglas Thompson; Initials: DDT
Full Name: Danny Elliot Thompson; Initials: DET

In [16]:
numbers = [1, 2]

In [17]:
print(list(itertools.combinations(numbers, 2)))

[(1, 2)]

In [18]:
print(list(itertools.permutations(numbers, 2)))

[(1, 2), (2, 1)]

In [19]:
teams = ['Brazil', 'Peru', 'Chile', 'Argentina']

for match in itertools.permutations(teams, 2):
    print(match)

('Brazil', 'Peru')
('Brazil', 'Chile')
('Brazil', 'Argentina')
('Peru', 'Brazil')
('Peru', 'Chile')
('Peru', 'Argentina')
('Chile', 'Brazil')
('Chile', 'Peru')
('Chile', 'Argentina')
('Argentina', 'Brazil')
('Argentina', 'Peru')
('Argentina', 'Chile')