[Reference](https://medium.com/analytics-vidhya/5-awesome-python-tricks-to-make-your-code-more-elegant-41d6e5796f40)

# 1) List comprehensions

In [23]:
a = [1,2,3,4,5]
b = []
for i in range(len(a)):
    b.append(a[i]+1)

In [24]:
b

[2, 3, 4, 5, 6]

In [25]:
a = [1,2,3,4,5]
b = [a[i]+1 for i in range(len(a))]
b

[2, 3, 4, 5, 6]

# 2) Reversing a string

In [26]:
def reverse_string(string):
     result=""
     for c in range(len(string),-1,-1):
          result = result + string[c]
     return result

In [27]:
def reverse_string(string):
    result = [ string[c] for c in range(len(string),-1,-1)]
    return "".join(result)

In [28]:
def reverse_string(string):
    return string[::-1]

# 3) Summing the digits in a number

In [29]:
def sum_a_num(num):
    sum = 0
    while num > 0:
        sum+= num%10
        num//=10    
        
    return sum

In [30]:
def sum_a_num(num):
    return sum(list(map(int,str(num))))

# 4)Swapping two numbers

In [31]:
x = 10
y = 15
x = x + y
y = x - y
x = x - y

In [32]:
x = 10
y = 15
x,y = y,x

# 5) Most frequent element in a list or string

In [33]:
l = [1,2,3,1,4,7,2,4,8,2,3,1,2]
print(max(l,key=l.count))

my_string = "python_is_awesome"
print(sorted(my_string,key = my_string.count)[0])

2
p