[Reference](https://towardsdatascience.com/5-essential-python-tricks-to-make-your-code-more-clean-readable-elegant-33db96d99e84)

# 1 | Replacing nested ifs with if/continue

In [1]:
matrix = [[0,1,2],[3,4,5],[6,7,8]] #3x3 matrix
for row in range(len(matrix)):       #] loop through each row
    for col in range(len(matrix)):   #] loop through each element in each row
        if matrix[row][col] < 6 and row!=1: # if meets a certain condition
            print(row,col)                  # do something with numbers

0 0
0 1
0 2

In [2]:
matrix = [[0,1,2],[3,4,5],[6,7,8]]
for row in range(len(matrix)):
    for col in range(len(matrix)):
        # if the condition is NOT satisfied: go to next iteration
        if not (matrix[row][col] < 6 and row!=1): continue
        print(row,col)

0 0
0 1
0 2

# 2 | Place values for large numbers

In [3]:
var = 394_293_103

In [4]:
var

394293103

In [5]:
print(var*2 + 98_293)

788684499

In [6]:
i = (3_5_7_8) #donâ€™t know why you would do this

In [8]:
i

3578

# 3 | Inline conditional statements

In [9]:
x = 3
if x==3: print('x equals 3')
while x>0: x-=1
for i in range(x+5): print(i)

x equals 3
0
1
2
3
4

In [10]:
condition = True
if condition: x = 1
else: x = 0

In [11]:
condition = True
x = 1 if condition else 0

In [12]:
divisible_by_three = [i for i in range(100) if i%3==0]

In [13]:
divisible_by_three

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [14]:
def divisible_by_three(x): #regular form
    return True if x%3==0 else False

divisible_by_three = lambda x:True if x%3==0 else False #lambda form

# 4 | Multiple variable assignment

In [16]:
# int a{0}, b{0}, c{1};
# double holder;
# map<int,int> dic1, dic2;
# stack<string>;

In [17]:
# int a=4, b=3, c=2, d=1; //integers+numbers are alright
# ArrayList<Integer> array1 = new ArrayList<Integer>(); //all this for a list???
# Map<String,String> stringDictionary = new HashMap<String,String>(); //creating a dictionary...
# // it goes on...

In [18]:
a,b,c,d,array1,stringDictionary = 4,3,2,1,[],{}

In [20]:
num_steps = 10
a, b = 0, 1
for i in range(num_steps):
  a, b = b, a+b #a becomes b, and b becomes a+b

In [21]:
a = b = c = d = 0 #all variables have a value of 0
array1, stringDictionary = [], {}

# 5 | Any and All

In [22]:
searchList = [9, 2, 100, 39, 28, 45, 4]
any([True if item%13==0 else False for item in searchList])

True

In [23]:
testScores = [88, 76, 103, 98, 13, 43]
all([True if 40<=testScore<=100 else False for testScore in testScores])

False