[Reference](https://towardsdatascience.com/5-essential-python-function-and-skills-you-should-know-as-a-data-scientist-c2aa35f22455)

# isinstance

In [3]:
a = 3
c = "python"

In [4]:
if isinstance(a, int):
    print("a is an integer")
else:
    print("a is not an integer")
    
if isinstance(c, list):
    print("c is a list")
else:
    print("c is not a list")

a is an integer
c is not a list

# Lambda

In [5]:
alpha = lambda x: x*3
print(alpha(3))
## output will be 9
print(alpha(4.5))
## output will be 13.5
beta = lambda x: x>0
print(beta(4))
## output will be True
print(beta(-3))
## output will be False

student_tuples = [
     ('john', 'A', 15),
     ('jane', 'B', 12),
     ('dave', 'B', 10),
]
sorted(student_tuples, key=lambda student: student[2])

9
13.5
True
False

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

# Zip

In [7]:
alpha = [1,2,3,4,5,6]
beta = [7,8,9,10,11,12]
gamma = [13,14,15,16,17,18]
output = []

for a, b, c in zip(alpha, beta, gamma):
    output.append(a+b+c)
output

[21, 24, 27, 30, 33, 36]

# filter

In [8]:
alpha = [1,2,3,4,5,6]

filtered = list(filter(lambda x:x%2, alpha))

print(filtered)
## output will be [1, 3, 5]

[1, 3, 5]

# One Line for Loop

In [9]:
## conventional method
for i in range(10):
    print(i)
    
## one line method
for i in range(10): print(i)

## conventional method
output = []
for i in range(10): 
    output.append(i**2)
    
## one line method
output=[]
for i in range(10): output.append(i**2)

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9

In [10]:
values = ['alpha', 'beta', 'gamma', 'phi']
# regular function
def ends_with_a(values):
    valid = []
    for word in values:
        if word[-1].lower() == 'a':
            valid.append(word)
 
    return valid
print(ends_with_a(values))
## output will be ['alpha', 'beta', 'gamma']
# list comprehension
filtered_list = [word for word in values if word[-1].lower() == 'a']
# results
print(filtered_list)
## output will be ['alpha', 'beta', 'gamma']

['alpha', 'beta', 'gamma']
['alpha', 'beta', 'gamma']