[Reference](https://towardsdatascience.com/5-must-know-operations-on-python-sets-827d5b81465a)

In [1]:
mylist = ['A', 'A', 'B', 'A', 'C', 'B']
myset = set(mylist)
print(myset)

{'A', 'C', 'B'}

In [3]:
import numpy as np
a = np.random.randint(0, 5, size=20)
myset = set(a)
print(a)

[4 2 0 0 4 0 4 1 4 2 0 4 1 2 1 0 4 2 4 3]

In [4]:
print(myset)

{0, 1, 2, 3, 4}

In [6]:
myset.add(5)
print(myset)

{0, 1, 2, 3, 4, 5}

In [7]:
myset.add(4)
print(myset)

{0, 1, 2, 3, 4, 5}

In [8]:
myset.remove(4)
print(myset)

{0, 1, 2, 3, 5}

In [9]:
myset = set([0, 1, 2, 3, 5])
myotherset = set([3, 4, 5, 6, 7])

In [10]:
myset.update(myotherset)
print(myset)

{0, 1, 2, 3, 4, 5, 6, 7}

In [11]:
myset = set([0, 1, 2, 3, 5])
mylist = [1, 2, 10,11,12]
myset.update(mylist)
print(myset)

{0, 1, 2, 3, 5, 10, 11, 12}

In [12]:
myset = {'A', 'B', 'C'}
newset = {'B', 'C', 'D', 'E'}
newset2 = {1, 2, 3}
combinedset = myset.union(newset).union(newset2)
print(myset)

{'A', 'C', 'B'}

In [14]:
print(combinedset)

{1, 'C', 'D', 2, 'B', 'E', 3, 'A'}

In [15]:
A = {1, 2, 3, 4, 5}
B = {1, 4, 5}
C = {1, 4, 6}
A.issuperset(B)
B.issubset(A)
A.issuperset(C)

False

In [16]:
D = {1, 4, 5}
E = {1, 4, 5}
D.issuperset(E)

True

In [17]:
D.issubset(E)

True

In [18]:
A = {1, 2, 3, 4, 5}
B = {3, 4, 5, 6, 7, 8}
A.difference(B)

{1, 2}

In [19]:
A.intersection(B)

{3, 4, 5}

In [20]:
B.difference(A)

{6, 7, 8}