[Reference](https://python.plainenglish.io/5-incredible-tricks-to-write-your-code-better-in-python-in-2021-265475079bbc)

# 1. List Comprehension with Python

In [2]:
square_list = []
for x in range(1, 10):
    temp = x**2
    square_list.append(temp)
print(square_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
square_list = [x**2 for x in range(1,10)]
print(square_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

# 2. Using Conditions in Ternary Operator

In [4]:
age = 16
print("Teen") if age>20 & age >= 13 else print("Not a Teen")

Not a Teen

# 3. Repeating the element multiple times

In [6]:
my_list = [3, 7, 3]
multi_list = my_list*3
print(multi_list)

[3, 7, 3, 3, 7, 3, 3, 7, 3]

# 4. Create Number Sequence with range

In [8]:
my_list = list(range(1,20,2))
print(my_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# 5. Checking for Anagram of Two strings

In [9]:
from collections import Counter
string_1 = "BANANAS"
string_2 = "SANANAB"

if (Counter(string_1) == Counter(string_2)):
    print("Anagram")
else:
    print("Not Anagram")

Anagram