[Reference](https://towardsdatascience.com/5-useful-things-to-know-in-python-dac0bc585673)

In [1]:
num_list = [1,2,3,4,5]
cube_list = [num**3 for num in num_list]
print(cube_list)

[1, 8, 27, 64, 125]

In [2]:
cubes_of_odds = [num**3 for num in num_list if num%2 != 0]
print(cubes_of_odds)

[1, 27, 125]

In [3]:
num_list = [1,1,7,3,5,3,2,9,5,1,3,2,2,2,2,2,9]
count_dict = {num:num_list.count(num) for num in num_list}
print(count_dict)

{1: 3, 7: 1, 3: 3, 5: 2, 2: 6, 9: 2}

In [4]:
num_list = [1,1,7,3,5,3,2,9,5,1,3,2,2,2,2,2,9]
count_dict = {num:num_list.count(num) for num in num_list if num_list.count(num)%2==0}
print(count_dict)

{5: 2, 2: 6, 9: 2}

In [5]:
square = lambda num: num**2

In [6]:
square(3)

9

In [7]:
num_list= [42, 56, 39, 59, 99]
for index, element in enumerate(num_list):
    print(index, element)

0 42
1 56
2 39
3 59
4 99

In [8]:
num_list= [42, 56, 39, 59, 99]
for index, element in enumerate(num_list, start=1):
    print(index, element)

1 42
2 56
3 39
4 59
5 99

In [9]:
first_names = ['Jane', 'John', 'Jennifer']
last_names = ['Doe', 'Williams', 'Smith']

full_names = list(zip(first_names, last_names))
print(full_names)

[('Jane', 'Doe'), ('John', 'Williams'), ('Jennifer', 'Smith')]

In [10]:
first_and_last_names = [('Jane', 'Doe'), ('John', 'Williams'), ('Jennifer', 'Smith')]
first_names, last_names = zip(*first_and_last_names)
first_names = list(first_names)
last_names = list(last_names)
print(first_names)
print(last_names)

['Jane', 'John', 'Jennifer']
['Doe', 'Williams', 'Smith']