[Reference](https://medium.com/techtofreedom/5-uses-of-lambda-functions-in-python-97c7c1a87244)

# Use 1: Give It a Name and Use It As Normal

In [1]:
lambda_add_ten = lambda x: x + 10
print(lambda_add_ten(5))

def add_ten(x):
    return x + 10
print(add_ten(5))

15
15

# Use 2: Cooperate With Higher Order Functions

In [2]:
numbers = [1, 12, 37, 43, 51, 62, 83, 43, 90, 2020]

odd_number = []
for n in numbers:
    if n % 2 == 1:
        odd_number.append(n)
print(odd_number)

[1, 37, 43, 51, 83, 43]

In [3]:
print(list(filter(lambda x: x % 2 == 1, numbers)))

[1, 37, 43, 51, 83, 43]

# Use 3: Assign to the “Key” Argument

In [4]:
leaders = ["Warren Buffett", "Branden Kang", "Tim Cook", "Elon Musk"]
print(leaders)
leaders.sort(key=lambda x: len(x))
print(leaders)

['Warren Buffett', 'Branden Kang', 'Tim Cook', 'Elon Musk']
['Tim Cook', 'Elon Musk', 'Branden Kang', 'Warren Buffett']

In [5]:
leaders = {4: "Branden Kang", 2: "Elon Musk", 3: "Tim Cook", 1: "Warren Buffett"}
print(leaders)
leaders = dict(sorted(leaders.items(), key=lambda x: x[0]))
print(leaders)

{4: 'Branden Kang', 2: 'Elon Musk', 3: 'Tim Cook', 1: 'Warren Buffett'}
{1: 'Warren Buffett', 2: 'Elon Musk', 3: 'Tim Cook', 4: 'Branden Kang'}

# Use 4: Immediately Invoke It

In [6]:
(lambda x,y:x*y)(2,3)

6

In [8]:
lambda x,y:x*y

In [9]:
_(2,3)

6

# Use 5: Apply It in Closures

In [10]:
def outer_func():
    leader = "Branden Kang"
    def print_leader(location=""):
        return leader + " in the " + location
    return print_leader

Lead = outer_func()("UK")
print(Lead)

Branden Kang in the UK

In [11]:
def outer_func():
    leader = "Branden Kang"
    return lambda location="": leader + " in the " + location

Lead = outer_func()("UK")
print(Lead)

Branden Kang in the UK