[Reference](https://medium.com/better-programming/6-ways-to-power-up-your-python-code-d2ac5307d7d0)

In [2]:
names = ["Alice", "Brian", "Betty", "Bob", "Christa"]
b_names = []
for name in names:
   if name.startswith("B"):
      b_names.append(name.lower())

In [3]:
print(b_names)

['brian', 'betty', 'bob']

In [4]:
names = ["Alice", "Brian", "Betty", "Bob", "Christa"]
b_names = [name.lower() for name in names if name.startswith("B")]
print(b_names)

['brian', 'betty', 'bob']

In [5]:
person = ("Bob", 22, "4 Adder Avenue")
name = person[0]
age = person[1]
address = person[2]

In [6]:
person = ("Bob", 22, "4 Adder Avenue")
name, age, address = person

In [7]:
people = {
   "Alice": {"age": 21, "profession": "programmer"},
   "Brian": {"age": 30, "profession": "chef"},
   "Betty": {"age": 41, "profession": "streamer"},
   "Bob": {"age": 18, "profession": "chemist"},
   "Christa": {"age": 31, "profession": "data scientist"}
}
ages = {name: info["age"] for name, info in people.items()}
ages

{'Alice': 21, 'Betty': 41, 'Bob': 18, 'Brian': 30, 'Christa': 31}

In [8]:
students = {"Alice": 90, "Bob": 81, "Charlie": 42}
underachievers = [
   name for name, score in students.items() if score < 60
]
for name in underachievers:
   del students[name]

In [12]:
mood = ""
if is_sunny(today):
   mood = "Happy"
else:
   mood = "Sad"

In [13]:
mood = ""
if is_sunny(today):
   mood = "Happy"
else:
   mood = "Sad"