[Reference](https://levelup.gitconnected.com/8-built-in-functions-every-python-programmer-should-know-3552eb768894)

In [1]:
str1 = "Hello World"
a = 12.5
tup = ('a', 'b', 'c')

print('hash value for a string: ', hash(str1))
print('hash value for a decimal: ', hash(a))
print('hash value for a tuple: ', hash(tup))

hash value for a string:  3876084272507111823
hash value for a decimal:  1152921504606846988
hash value for a tuple:  7259379576332965049

In [2]:
def square(n):
    return n * n

num_list = [1,2,3,4]
result = map(square, num_list)
print('Mapped result is: ', list(result))

Mapped result is:  [1, 4, 9, 16]

In [3]:
numbers = [1, 2, 3]
letters = ['One', 'Two', 'Three']

result = zip(numbers, letters)

# converting values to print as set
result = set(result)
print('The zipped result is: ', result)

The zipped result is:  {(1, 'One'), (3, 'Three'), (2, 'Two')}

In [4]:
result1 = eval('10 + 15')

result2 = eval('3 * 8')

print(result1)
print(result2)

25
24

In [5]:
txt1 = "apple#banana#cherry#orange"
txt2 = "Hello how are you"

result1= txt1.split("#")
result2 = txt2.split(" ")

print(result1)
print(result2)

['apple', 'banana', 'cherry', 'orange']
['Hello', 'how', 'are', 'you']

In [6]:
x = ord('a')
y = ord('$')
z = ord(' ')   #space character

print(x)
print(y)
print(z)

97
36
32

In [7]:
class Student:
  name = "Joy",
  age = 16,
  rollNo = 25
  
print(dir(Student))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'age', 'name', 'rollNo']

In [9]:
x = pow(2, 3)
y = pow(3, 3)
print(x)
print(y)

8
27