[Reference](https://levelup.gitconnected.com/8-mind-blowing-python-one-liners-you-should-know-28287b66eb49)

# 1. Swapping Two Variables

In [1]:
a = 10
b = 20

temp = a
a = b
b = temp

print(a, b)

20 10

In [2]:
a = 10
b = 20

a, b = b, a

print(a, b)

20 10

# 2. Multiple Variable Assignments

In [3]:
# More lines of code
a = 1
b = 2
c = "three"
d = 4.0


# One-liner
a, b, c, d = 1, 2, "three", 4.0

In [4]:
first, *rest, last = [1, 2, 3, 4, 5]
print(first)  # Output: 1
print(rest)   # Output: [2, 3, 4]
print(last)   # Output: 5

1
[2, 3, 4]
5

# 3. Comprehensions

In [5]:
# Extended with loop
odd_numbers = []
for i in range(11):
    if i % 2 != 0:
        odd_numbers.append(i)

# One liner - List Comprehension
odd_numbers = [i for i in range(11) if i % 2 != 0]

# 4. Typecasting Whole List

In [6]:
my_list = ['1', '2', '3','4', '5']


# for loop
int_list = []
for x in my_list:
    int_list.append(int(x))

# comprehension
int_list = [int(x) for x in my_list]

# map
int_list = list(map(int, my_list))

In [7]:
from timeit import timeit

def use_loop(my_list: list) -> list:
    my_int_list = []
    for x in my_list:
        my_int_list.append(int(x))
    return my_int_list


def use_comprehension(my_list: list) -> list:
    return [int(x) for x in my_list]


def use_map(my_list: list) -> list:
    return list(map(int, my_list))

input_list = ['1'] * 1_000_000

time_loop = timeit(lambda: use_loop(input_list), number=20)
print(f'{time_loop} seconds')  # Output: 7.9596731000056025 seconds

time_comprehension = timeit(lambda: use_comprehension(input_list), number=20)
print(f'{time_comprehension} seconds')  # Output: 6.988756900012959 seconds

time_map = timeit(lambda: use_map(input_list), number=20)
print(f'{time_map} seconds')  # Output: 4.487833500024863 seconds

4.573282872000007 seconds
2.862475965999991 seconds
1.6946984110000045 seconds

# 5. Lambda Function

In [8]:
# Traditional function
def add_numbers(x, y):
    return x + y


# Lambda function
add_numbers_lambda = lambda x, y: x + y


print(add_numbers(3, 5))  # Output: 8
print(add_numbers_lambda(3, 5))  # Output: 8

8
8

# 6. Print Without Newlines

In [9]:
print(*range(1,5), sep='\n')

1
2
3
4

# 7. Swap Keys and Values in a Dictionary

In [10]:
my_dict = {'one': 1, 'two': 2, 'three': 3}
swapped_dict = {}

# Iterate over items and swap keys and values
for k, v in my_dict.items():
    swapped_dict[v] = k

print(swapped_dict)  # Output: {1: 'one', 2: 'two', 3: 'three'}


# Swap keys and values using dictionary comprehension
swapped_dict = {v: k for k, v in my_dict.items()}
print(swapped_dict)  # Output: {1: 'one', 2: 'two', 3: 'three'}

{1: 'one', 2: 'two', 3: 'three'}
{1: 'one', 2: 'two', 3: 'three'}

# 8. Transpose of a Matrix

In [11]:
matrix = [[1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]]

# Calculate the transpose of the matrix
transpose = []
for j in range(len(matrix[0])):
    row = []
    for i in range(len(matrix)):
        row.append(matrix[i][j])
    transpose.append(row)

In [12]:
transpose = list(zip(*matrix))
transpose

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]