[Reference](https://codefather-tech.medium.com/8-things-to-know-to-count-unique-values-in-a-list-using-python-54f5abf3be72)

In [1]:
numbers = [2, 3, 3, 6, 8, 8, 23, 24, 24, 30, 45, 50, 51, 51]

# 1. Using a For Loop to Count Unique Values in a Python List

In [2]:
def get_unique_values_with_for_loop(values):
    unique_values = []    
    
    for value in values:
        if value not in unique_values:
            unique_values.append(value)    
            
    return unique_values

In [3]:
numbers = [2, 3, 3, 6, 8, 8, 23, 24, 24, 30, 45, 50, 51, 51]
unique_values = get_unique_values_with_for_loop(numbers)
number_of_unique_values = len(unique_values)
print("The list of unique values is: {}".format(unique_values))
print("The number of unique values is: {}".format(number_of_unique_values))

The list of unique values is: [2, 3, 6, 8, 23, 24, 30, 45, 50, 51]
The number of unique values is: 10

# 2. Count Unique Values in a Python List Using a Set

In [4]:
def get_unique_values_with_set(values):
    return set(values)
numbers = [2, 3, 3, 6, 8, 8, 23, 24, 24, 30, 45, 50, 51, 51]
unique_values = get_unique_values_with_set(numbers)
number_of_unique_values = len(unique_values)

# 3. Using a Dictionary to Get the Number of Unique Values in a List

In [6]:
def get_unique_values_with_dictionary(values):
    new_values = {}    
    
    for value in values:
        if value in new_values.keys():
            new_values[value] += 1
        else:
            new_values[value] = 1
    
    print(new_values)
    return new_values.keys()

numbers = [2, 3, 3, 6, 8, 8, 23, 24, 24, 30, 45, 50, 51, 51]
unique_values = get_unique_values_with_dictionary(numbers)
number_of_unique_values = len(unique_values)

{2: 1, 3: 2, 6: 1, 8: 2, 23: 1, 24: 2, 30: 1, 45: 1, 50: 1, 51: 2}

# 4. Collections.Counter To Count Unique Values in a List

In [7]:
from collections import Counter
Counter([1,2,3,3])

Counter({1: 1, 2: 1, 3: 2})

In [8]:
from collections import Counter
numbers = [2, 3, 3, 6, 8, 8, 23, 24, 24, 30, 45, 50, 51, 51]
new_values = Counter(numbers)

In [10]:
new_values.keys()

dict_keys([2, 3, 6, 8, 23, 24, 30, 45, 50, 51])

In [11]:
from collections import Counter

def get_unique_values_with_counter(values):
    return Counter(values).keys()

numbers = [2, 3, 3, 6, 8, 8, 23, 24, 24, 30, 45, 50, 51, 51]
unique_values = get_unique_values_with_counter(numbers)
number_of_unique_values = len(unique_values)

# 5. Counting Unique Values in a List Using NumPy

In [12]:
import numpy as np
print(np.unique(numbers))
print(np.unique(numbers, return_counts=True))

[ 2  3  6  8 23 24 30 45 50 51]
(array([ 2,  3,  6,  8, 23, 24, 30, 45, 50, 51]), array([1, 2, 1, 2, 1, 2, 1, 1, 1, 2]))

In [13]:
import numpy as np

def get_unique_values_with_numpy(values):
    return np.unique(values)
numbers = [2, 3, 3, 6, 8, 8, 23, 24, 24, 30, 45, 50, 51, 51]
unique_values = get_unique_values_with_numpy(numbers)
number_of_unique_values = len(unique_values)

# 6. Using Pandas to Get Unique Values in a List

In [14]:
import pandas as pd

def get_unique_values_with_pandas(values):
    return pd.unique(pd.Series(values))

numbers = [2, 3, 3, 6, 8, 8, 23, 24, 24, 30, 45, 50, 51, 51]
unique_values = get_unique_values_with_pandas(numbers)
number_of_unique_values = len(unique_values)

# 7. Count Unique Values in a List of Dictionaries

In [15]:
countries = [{"name": "Italy"}, {"name": "UK"}, {"name": "Germany"}, {"name": "Brazil"}, {"name": "Italy"}, {"name": "UK"}]

In [16]:
names = [country['name'] for country in countries]
print(names)

['Italy', 'UK', 'Germany', 'Brazil', 'Italy', 'UK']

In [17]:
from collections import Counter
Counter(names)

Counter({'Brazil': 1, 'Germany': 1, 'Italy': 2, 'UK': 2})

In [18]:
Counter(names).keys()

dict_keys(['Italy', 'UK', 'Germany', 'Brazil'])

In [19]:
len(Counter(names).keys())

4

# 8. Which One is the Faster Approach to Count Unique List Values?

In [20]:
import random
random_numbers = [random.randrange(10) for i in range(10)]
print(random_numbers)

[0, 3, 4, 7, 4, 3, 1, 7, 5, 6]

In [21]:
random_numbers = [random.randrange(100) for i in range(1000000)]

In [22]:
import timeit

testfunction = '''
def get_unique_values_with_for_loop(values):
    unique_values = []    
    
    for value in values:
        if value not in unique_values:
            unique_values.append(value)    
    
    return unique_values
'''

random_numbers = [random.randrange(100) for i in range(1000000)]
print(timeit.timeit(testfunction, number=100000000))

6.742184784000074