[Reference](https://medium.com/techtofreedom/9-fabulous-python-tricks-that-make-your-code-more-elegant-bf01a6294908)

# 1. Avoid Nested Python Loops Using product() Function

In [1]:
list_a = [1, 2020, 70]
list_b = [2, 4, 7, 2000]
list_c = [3, 70, 7]

for a in list_a:
    for b in list_b:
        for c in list_c:
            if a + b + c == 2077:
                print(a, b, c)

70 2000 7

In [2]:
from itertools import product

list_a = [1, 2020, 70]
list_b = [2, 4, 7, 2000]
list_c = [3, 70, 7]

for a, b, c in product(list_a, list_b, list_c):
    if a + b + c == 2077:
        print(a, b, c)

70 2000 7

# 2. Walrus Operator: A Cute Trick for Assignment Expressions

In [3]:
author = "Kang"
print(author)

Kang

In [4]:
print(author="Kang")

TypeError: ignored

In [5]:
print(author:="Kang")

Kang

# 3. Ternary Conditional Operator: Writing a Simple If-Else Structure in One Line

In [6]:
min = a if a < b else b

In [7]:
if a<b:
  min = a
else:
  min = b

# 4. Using Lambda Functions To Define Simple Functions

In [8]:
def fib(x):
    if x<=1:
        return x
    else:
        return fib(x-1) + fib(x-2)

In [9]:
fib = lambda x: x if x <= 1 else fib(x - 1) + fib(x - 2)

# 5. List Comprehensions: Get a List in a Pythonic Way

In [10]:
Genius = ["Jerry", "Jack", "tom", "yang"]
L1 = [name if name.startswith('y') else 'Not Genius' for name in Genius]
print(L1)

['Not Genius', 'Not Genius', 'Not Genius', 'yang']

# 6. Leveraging the Higher-Order Functions in Python

In [12]:
names = ['yAnG', 'MASk', 'thoMas', 'LISA']
names = map(str.capitalize, names)
print(list(names))

['Yang', 'Mask', 'Thomas', 'Lisa']

In [13]:
from functools import reduce

city = ['L', 'o', 'n', 'd', 'o', 'n', 2, 0, 2, 0]
city_to_str = reduce(lambda x, y: str(x) + str(y), city)
print(city_to_str)

London2020

# 7. Union Operators: The Easiest Way To Merge Dictionaries

In [18]:
cities_us = {'New York City': 'US', 'Los Angeles': 'US'}
cities_uk = {'London': 'UK', 'Birmingham': 'UK'}

cities = cities_us or cities_uk
print(cities)

{'New York City': 'US', 'Los Angeles': 'US'}

In [21]:
# cities_us = {'New York City': 'US', 'Los Angeles': 'US'}
# cities_uk = {'London': 'UK', 'Birmingham': 'UK'}

# cities_us |= cities_uk
# print(cities_us)

# 8. F-Strings: The Pythonic String Formatting Technique

In [22]:
pi = 3.1415926
print(f'Pi is approximately equal to {pi:.2f}')
# Pi is approximately equal to 3.14

id = 1  # need to print a 3-digit number
print(f"The id is {id:03d}")
# The id is 001

N = 1000000000  # need to add separator
print(f'His networth is ${N:,d}')

Pi is approximately equal to 3.14
The id is 001
His networth is $1,000,000,000

In [23]:
from datetime import datetime

print(f"Today is {datetime.today()}")

Today is 2022-12-07 10:16:25.474486

# 9. Using Asterisks for Unpacking Iterables and Destructuring Assignments

In [24]:
A = [1, 2, 3]
B = (4, 5, 6)
C = {7, 8, 9}
L = [*A, *B, *C]
print(L)

[1, 2, 3, 4, 5, 6, 8, 9, 7]

In [25]:
a, *mid, b = [1, 2, 3, 4, 5, 6]
print(a, mid, b)

1 [2, 3, 4, 5] 6