[Reference](https://medium.com/@SergiAlfonso/a-quick-introduction-to-four-great-python-features-3468aa9a7d37)

In [2]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
new_list= []# Where one would normally write a nested loop.
for x in fruits:
  if "a" in x:
       new_list.append(x)# Can do the same but on one line in a much more elegant way.
new_list = [x for x in fruits if "a" in x]
obj = ["Even" if i%2==0 else "Odd" for i in range(8)]
print(obj)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [3]:
import datetime
name = 'Fred'
age = 50
anniversary = datetime.date(1991, 10, 12)
print(f'My name is {name}, my age next year is {age+1}, my anniversary is {anniversary:%A, %B %d, %Y}.')

My name is Fred, my age next year is 51, my anniversary is Saturday, October 12, 1991.

In [5]:
# Say I want to get a string object exactly like this.
x = '{name}' # Note this is not an f-string.# How would you do this using an f-string? You can't.
n = 'name'
print(f'{n}')
print(f'{{n}}')

name
{n}

In [6]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
user_input = 'apple'
is_fruit = True if user_input in fruits else False
is_fruit

True