[Reference](https://medium.com/@pranjalgoyal13/best-tips-to-increase-your-productivity-in-python-856fb038a676)

In [1]:
students = ['Sam', 'Billy', 'John', 'Lucas']
new_students = []

for student in students:
    new_students.append(student)

print(new_students)

['Sam', 'Billy', 'John', 'Lucas']

In [2]:
students = ['Sam', 'Billy', 'John', 'Lucas']
new_students = [student for student in students]

print(new_students)

['Sam', 'Billy', 'John', 'Lucas']

In [3]:
name = 'John Doe'
age = 21
gender = 'Male'
print("The name is " + name + " age: " + str(age) + " gender: " + gender)
#or
print("The name is %s age: %s and gender: %s" % (name, age, gender))

The name is John Doe age: 21 gender: Male
The name is John Doe age: 21 and gender: Male

In [4]:
name = 'John Doe'
age = 21
gender = 'Male'
print(f'The name is {name} age: {age} and gender:{gender}')

The name is John Doe age: 21 and gender:Male

# Enumerate Looping:

In [5]:
students = ['Sam', 'Billy', 'John', 'Lucas']

for i in range(len(students)):
    print(f'The index : {i}, Name: {students[i]}')

The index : 0, Name: Sam
The index : 1, Name: Billy
The index : 2, Name: John
The index : 3, Name: Lucas

In [6]:
students = ['Sam', 'Billy', 'John', 'Lucas']

for index, student in enumerate(students):
    print(f'The index : {index}, Name: {student}')

The index : 0, Name: Sam
The index : 1, Name: Billy
The index : 2, Name: John
The index : 3, Name: Lucas

# Using Generators:

In [7]:
get_range_sum = [num for num in range(100000)]
print(sum(get_range_sum))

4999950000

In [8]:
get_range_sum = (num for num in range(100000))
print(sum(get_range_sum))

4999950000