[Reference](https://towardsdatascience.com/python-best-practices-for-writing-industry-standard-code-66b848783e0b)

In [3]:
x = 'Nathaniel Branden'
y, z = x.split()
print(z, y, sep=', ')

Branden, Nathaniel

In [4]:
name = 'Nathaniel Branden'
first_name, last_name = name.split()
print(last_name, first_name, sep=', ')

Branden, Nathaniel

# 2. Comments in function

In [5]:
a = 10 # Single line comment

In [6]:
""" Example of Multi-line comment 
    Line 2 of a multiline comment
"""

' Example of Multi-line comment \n    Line 2 of a multiline comment\n'

In [7]:
def function_name(param1, param2):
    print(param1)

In [9]:
def function_name(param1, param2):
    """Example function with PEP 484 type annotations.

    Args:
        param1: The first parameter.
        param2: The second parameter.

    Returns:
        The return value. True for success, False otherwise.

    """    
    print(param1)

# 3. Indentation

In [10]:
def function(var_one):
    print(var_one)

In [12]:
# Arguments in 2nd line are not aligned with arguments in the 1st line.
func = function_name(var_one, var_two,
      var_three, var_four)

# Further indentation required as indentation is not distinguishable - Arguments are having same indentation as print function
def function_name(
    var_one, var_two, var_three,
    var_four):
    print(var_one)

In [13]:
# Arguments in 2nd line are aligned with arguments in the 1st line.
func = function_name(var_one, var_two,
                     var_three, var_four)

# Add 4 spaces (an extra level of indentation) to distinguish arguments from the rest.
def function_name(
        var_one, var_two, var_three,
        var_four):
    print(var_one)

# 4. Maximum Line Length

In [14]:
#having length more than 79 characters. 
joined_df = pd.merge(countries_df, countries_lat_lon, on = 'CountryCode', how = 'inner')

In [15]:
#Having length less than 79 characters - within parenthesis line continuation is by default. 
joined_df = pd.merge(countries_df, countries_lat_lon,
                     on = 'CountryCode', how = 'inner')# Using \ for the line continuation
from mypackage import example1, \
                      example2, example3

# 5. Imports on separate lines

In [16]:
import sys, os, pandas

In [17]:
import os
import sys
import pandas

# 6. Spacing Recommendations

In [21]:
i=i+1
submitted +=1
x = x * 2 - 1
hypot2 = x * x + y * y
c = (a + b) * (a - b)

In [20]:
i = i + 1
submitted += 1
x = x*2 - 1
hypot2 = x*x + y*y
c = (a+b) * (a-b)