[Reference](https://towardsdatascience.com/a-concise-notes-on-functional-programming-with-python-45ad0f05ace1)

In [1]:
name_1 = input("Your Name Here:")
year_of_birth_1 = int(input())

name_2 = input("Your Name Here:")
year_of_birth_2 = int(input())

name_3 = input("Your Name Here:")
year_of_birth_3 = int(input())

print("Check",name_1,"'s YOB is Leap or Not:")
if(year_of_birth_1%4==0):
    if(year_of_birth_1%100==0):
        if(year_of_birth_1%400==0):
            print("Leap Year")
        else:
            print("Not Leap Year")
    else:
        print("Leap Year")
else:
    print("Not Leap Year")
    
print("Check",name_2,"'s YOB is Leap or Not:")
if(year_of_birth_2%4==0):
    if(year_of_birth_2%100==0):
        if(year_of_birth_2%400==0):
            print("Leap Year")
        else:
            print("Not Leap Year")
    else:
        print("Leap Year")
else:
    print("Not Leap Year")
    
print("Check",name_3,"'s YOB is Leap or Not:")
if(year_of_birth_3%4==0):
    if(year_of_birth_3%100==0):
        if(year_of_birth_3%400==0):
            print("Leap Year")
        else:
            print("Not Leap Year")
    else:
        print("Leap Year")
else:
    print("Not Leap Year")

Your Name Here:Branden
2000
Your Name Here:Lilly
2003
Your Name Here:Jack
2001
Check Branden 's YOB is Leap or Not:
Leap Year
Check Lilly 's YOB is Leap or Not:
Not Leap Year
Check Jack 's YOB is Leap or Not:
Not Leap Year

In [2]:
def check_leap(YOB):
    if(year_of_birth_3%4==0):
        if(year_of_birth_3%100==0):
            if(year_of_birth_3%400==0):
                print("Leap Year")
            else:
                print("Not Leap Year")
        else:
            print("Leap Year")
    else:
        print("Not Leap Year")
        
name_1 = input("Your Name Here:")
year_of_birth_1 = int(input())

name_2 = input("Your Name Here:")
year_of_birth_2 = int(input())

name_3 = input("Your Name Here:")
year_of_birth_3 = int(input())

print("Check",name_1,"'s YOB is Leap or Not:")
check_leap(year_of_birth_1)

print("Check",name_2,"'s YOB is Leap or Not:")
check_leap(year_of_birth_2)

print("Check",name_3,"'s YOB is Leap or Not:")
check_leap(year_of_birth_3)

Your Name Here:Branden
2000
Your Name Here:Lilly
2003
Your Name Here:Jack
2001
Check Branden 's YOB is Leap or Not:
Not Leap Year
Check Lilly 's YOB is Leap or Not:
Not Leap Year
Check Jack 's YOB is Leap or Not:
Not Leap Year

# Function without argument and without return value

In [3]:
def eligible():
    print("You are Eligible to take the Exam")
    
def not_eligible():
    print("You are not Eligible to take the Exam")
    
age = int(input("Enter Your Age:"))

if(age<20):
    not_eligible()
elif(age>=20 and age<35):
    eligible()
else:
    not_eligible()

Enter Your Age:30
You are Eligible to take the Exam

# Function without argument and with return value

In [4]:
def low_dosage():
   return 75
def med_dosage():
   return 100
def high_dosage():
   return 150
   
age = int(input("Patient's Age:"))
temp = float(input("Body Temperature:"))


if(age<10 and temp>98 and temp<99):
    print("The medicine with ",low_dosage(),"mgs is enough.")
elif(age<10 and temp>99):
    print("The medicine with",med_dosage(),"mgs is enough.")
elif(age>10 and temp>98 and temp<99):
    print("The medicine with",med_dosage(),"mgs is enough.")
elif(age>10 and temp>99):
    print("The medicine with",high_dosage(),"mgs is enough.")

Patient's Age:38
Body Temperature:110
The medicine with 150 mgs is enough.

# Function with arguments and without return value

In [5]:
def low(amount,year):
    rate = 6.5
    interest = amount * year * rate/100
    if(year<5):
        print("Your interest will be",interest * 1.2)
    else:
        print("Your interest will be",interest * 1.4)

def high(amount,year):
    rate = 8.5
    interest = amount * year * rate/100
    if(year<5):
        print("Your interest will be",interest * 1.2)
    else:
        print("Your interest will be",interest * 1.4)
        
amount = int(input("Investment Amount:"))
year = int(input("No of Years:"))

if(amount<100000):
    low(amount,year)
else:
    high(amount,year)

Investment Amount:150000
No of Years:8
Your interest will be 142800.0

# Function with arguments and with return value

In [6]:
def low(amount,year):
    rate = 6.5
    interest = amount * year * rate/100
    if(year<5):
        return interest*1.2
    else:
        return interest*1.4
def high(amount,year):
    rate = 8.5
    interest = amount * year * rate/100
    if(year<5):
        return interest*1.2
    else:
        return interest*1.4
        
amount = int(input("Investment Amount:"))
year = int(input("No of Years:"))

if(amount<100000):
    print("Your Interest will be",low(amount,year))
else:
    print("Your Interest will be",high(amount,year))

Investment Amount:100000
No of Years:6
Your Interest will be 71400.0

In [7]:
def question():
    print("Your Name:")
def type():
    print("Type of Account")
def savings():
    return 1.8
def fixed():
    return 2.3
def interest_calc(amount,year,rate):
    interest_amt=amount * year * rate/100
    return interest_amt
def total_calc(amount,interest):
    return amount+interest
def info(name,total,year):
    print(name,"'s Total amount after",year,"is",total)
    
question()
name = input()
type()
t=int(input("Savings(1)/Fixed(2)"))
if(t==1):
    rate = savings()
elif(t==2):
    rate = fixed()
amount = int(input("Amount:"))
year = int(input("Year:"))
interest = interest_calc(amount,year,rate)
total = total_calc(amount,interest)
info(name,total,year)

Your Name:
Branden
Type of Account
Savings(1)/Fixed(2)2
Amount:200000
Year:6
Branden 's Total amount after 6 is 227600.0

# Scope of Variable

In [8]:
def info():
    value = 5
    print("The value is",value)
def test():
    print("The value is",value)

info()
test()

The value is 5

NameError: ignored

In [10]:
def info():
    global value
    value = 5
    print("The value is",value)
def test():
    print("The value is",value)

info()
test()

The value is 5
The value is 5

# *args and **kwargs in Python

In [11]:
def function(*args):
    for x in args:
        print(x)
        
function("Braden","Jake")

Braden
Jake

In [12]:
def function(name ,*args):
    print(name)
    for x in args:
        print(x)
        
function("Branden Kang", "Runner",  "Data")

Branden Kang
Runner
Data

In [13]:
def myfunction(**kwargs):
    for x,y in kwargs.items():
        print(y)

myfunction(First_name = "Branden", Last_name = "Kang")

Branden
Kang

# Lambda function in Python

In [14]:
x = lambda a, b, c : a+b-c
print(x(5,6,3))

8