[Reference](https://medium.com/swlh/essential-collections-in-python-43fc0d445a4c)

# List

In [ ]:
list_ = []
list_ = [1,2,3]
list_ = ['a','b','c']
list_ = list()

list_ = [100] * 10
print(list_)

[100, 100, 100, 100, 100, 100, 100, 100, 100, 100]

In [ ]:
list_ = [1,2,3,4,5]
len(list_) # 5

print(list_[0])  # 1
print(list_[2])  # 3
print(list_[-1]) # 5

list_[4] = 999
print(list_) # [1,2,3,4,999]

print(list_[5])

1
3
5
[1, 2, 3, 4, 999]

IndexError: ignored

In [ ]:
fruit_list = ["kiwi","apple","banana","orange","grape"]

if "apple" in fruit_list:  #true
    print("true")

true

In [ ]:
num_list = [1,2,3,4,5,6,7,8,9,10]

print(num_list[0:5]) # 0,1,2,3   !NOTE THAT 4 IS NOT INCLUDED IN RANGE

print(num_list[::2]) # 0,2,4,6,8

print(num_list[::-1]) # PRINT IN REVERSE : 9,8,7,6,5,4,3,2,1,0

print(num_list[8:2:-1]) # 7,6,5,4,3,2

[1, 2, 3, 4, 5]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[9, 8, 7, 6, 5, 4]

In [ ]:
print(num_list[:])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
fruit_list = ["kiwi","apple","banana","orange","grape"]

for fruit in fruit_list:    
    print(fruit)

for index, fruit in enumerate(fruit_list):
    print("index {}: {}".format(index, fruit))

print(fruit_list)

kiwi
apple
banana
orange
grape
index 0: kiwi
index 1: apple
index 2: banana
index 3: orange
index 4: grape
['kiwi', 'apple', 'banana', 'orange', 'grape']

In [ ]:
fruit_list = ["kiwi","apple","banana","orange"]

fruit_list.append("grape")
print(fruit_list)

fruit_list.extend(["mango", "pear"])
print(fruit_list)

del fruit_list[2]
print(fruit_list)

['kiwi', 'apple', 'banana', 'orange', 'grape']
['kiwi', 'apple', 'banana', 'orange', 'grape', 'mango', 'pear']
['kiwi', 'apple', 'orange', 'grape', 'mango', 'pear']

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(min(nums))
print(max(nums))
print(sum(nums))

1
10
55

In [ ]:
fruit_list = ["kiwi","apple","banana","orange"]
print(', '.join(fruit_list))

kiwi, apple, banana, orange

In [ ]:
num_list = [3,10,2,1,5,7,8,4,6,9]

print(sorted(num_list))
num_list.sort()
print(num_list)

print(sorted(num_list, reverse=True))
num_list.sort(reverse=True)
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# Tuple

In [60]:
tuple_ = ()
tuple_ = (1,2,3)
tuple_ = ('a','b','c')
tuple_ = tuple()
tuple_ = (1,2,3) * 2

print(tuple_)

(1, 2, 3, 1, 2, 3)

In [64]:
fruit_tuple = ("kiwi","apple","banana","orange","grape")
if "apple" in fruit_tuple:
    print("True")

true

In [63]:
set_ = (1,2,3,4,5)
print(len(set_)) # 5

print(set_[0])  # 1
print(set_[2])  # 3
print(set_[-1]) # 5

# print(set_[5])

set_[4] = 999
print(set_) # [1,2,3,4,999]

5
1
3
5

TypeError: ignored

In [65]:
num_tuple = (1,2,3,4,5,6,7,8,9,10)

print(num_tuple[0:5]) # 0,1,2,3   !NOTE THAT 4 IS NOT INCLUDED IN RANGE

print(num_tuple[::2]) # 0,2,4,6,8

print(num_tuple[::-1]) # PRINT IN REVERSE : 9,8,7,6,5,4,3,2,1,0

print(num_tuple[8:2:-1]) # 7,6,5,4,3,2

(1, 2, 3, 4, 5)
(1, 3, 5, 7, 9)
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
(9, 8, 7, 6, 5, 4)

In [67]:
fruit_tuple = ("kiwi","apple","banana","orange","grape")

for fruit in fruit_tuple:    
    print(fruit)

for index, fruit in enumerate(fruit_tuple):
    print("index {}: {}".format(index, fruit))

print(fruit_tuple)

kiwi
apple
banana
orange
grape
index 0: kiwi
index 1: apple
index 2: banana
index 3: orange
index 4: grape
('kiwi', 'apple', 'banana', 'orange', 'grape')

In [76]:
num_tuple = (3,10,2,1,5,7,8,4,6,9)

print(sorted(num_tuple))
# num_tuple.sort()
print(num_tuple)

print(sorted(num_tuple, reverse=True))
# num_tuple.sort(reverse=True)
print(num_tuple)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(3, 10, 2, 1, 5, 7, 8, 4, 6, 9)
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
(3, 10, 2, 1, 5, 7, 8, 4, 6, 9)

# Dictionary

In [ ]:
dict_ = {}
dict_ = dict()

dict_ = {
    "fruit": ["kiwi","apple","banana","orange"],
    "animal": ["horse","bird","cow","monkey"]
}

print(dict_["fruit"])

['apple', 'hp', 'google']

In [ ]:
dict_ = {
    "fruit": ["kiwi","apple","banana","orange"],
    "animal": ["horse","bird","cow","monkey"]
}
print(dict_["fruit"])


print(dict_.get("country", "mango")) 
print(dict_["country"])

['kiwi', 'apple', 'banana', 'orange']
mango

KeyError: ignored

In [ ]:
dict_ = {
    "fruit": ["kiwi","apple","banana","orange"],
    "animal": ["horse","bird","cow","monkey"]
}
if "fruit" in dict_:
    print("True")
else:
    print("False")

True

In [ ]:
person = {
    "Name": 'Branden',
    "Specialty": 'IT',
    "Location": 'US',
}
print(person) 

person["Specialty"] = 'Data Science'
print(person) 

del person["Location"]
print(person) 

person.update({
    "Location": 'US',
    "Language": 'Python'
})
print(person)

{'Name': 'Branden', 'Specialty': 'IT', 'Location': 'US'}
{'Name': 'Branden', 'Specialty': 'Data Science', 'Location': 'US'}
{'Name': 'Branden', 'Specialty': 'Data Science'}
{'Name': 'Branden', 'Specialty': 'Data Science', 'Location': 'US', 'Language': 'Python'}

In [ ]:
person = {
    "Name": 'Branden',
    "Specialty": 'IT',
    "Location": 'US',
    "Language": 'Python'
}
print(person.pop("Language"))
print(person)

Python
{'Name': 'Branden', 'Specialty': 'IT', 'Location': 'US'}

In [ ]:
dict_= dict()
print(dict_.setdefault("key", 'value1'))
print(dict_)
print(dict_.setdefault("key", 'value2'))

value1
{'key': 'value1'}
value1

In [ ]:
person = {
    "Name": 'Branden',
    "Specialty": 'IT',
    "Location": 'US',
}

for key in person:
    print(key)

for key, value in person.items():
    print("{}: {}".format(key, value))

for value in person.values():
    print(value)

Name
Specialty
Location
Name: Branden
Specialty: IT
Location: US
Branden
IT
US

# Set

In [ ]:
set_ = set()
set_ = {1, 2, 2, 2, 2, 2, 3, 4, 4, 4, 4, 4, 5}

print(set_)

print(5 in set_)

{1, 2, 3, 4, 5}
True

In [41]:
num_set = set()

for x in range(5):
    num_set.add(x)

  
print(num_set)

num_set.remove(0)
print(num_set)

num_set.discard(1)
print(num_set)

num_set.discard(1)
print(num_set)

{0, 1, 2, 3, 4}
{1, 2, 3, 4}
{2, 3, 4}
{2, 3, 4}

In [54]:
num_set.clear()
print(num_set)

set()

In [45]:
set_ = {1, 2, 3, 4, 5, 10, 20, 100}
for i in set_:
    print(i)

1
2
3
4
5
100
10
20

In [ ]:
import random

set_one = set()
set_two = set()

for x in range(13):
    set_one.add(x)

for _ in range(13):
    set_two.add(random.randint(7,20))
  
  
union_set = set_one | set_two
union_set = set_one.union(set_two)

intersection_set = set_one & set_two
intersection_set = set_one.intersection(set_two)

difference_set = set_one - set_two
difference_set = set_one.difference(set_two)

symmetric_difference_set = set_one ^ set_two
symmetric_difference_set = set_one.symmetric_difference(set_two)

print(set_one)
print(set_two)
print(union_set)
print(intersection_set)
print(difference_set)
print(symmetric_difference_set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
{7, 8, 10, 11, 13, 14, 17, 20}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 17, 20}
{8, 10, 11, 7}
{0, 1, 2, 3, 4, 5, 6, 9, 12}
{0, 1, 2, 3, 4, 5, 6, 9, 12, 13, 14, 17, 20}

In [53]:
set_one = {1,2,3}
set_two = {1,2,3,4,5}
print(set_one.issubset(set_two))
print(set_two.issubset(set_one))

True
False

In [49]:
set_one = {1,2,3}
set_two = {1,2,3,4,5}
print(set_one.issuperset(set_two))
print(set_two.issuperset(set_one))

False
True

In [50]:
set_one = {1,2,3}
set_two = {1,2,3,4,5}
print(set_one.isdisjoint(set_two))

False

In [51]:
set_one = {1,2,3}
set_two = {4,5,6}
print(set_one.isdisjoint(set_two))

True