[Reference](https://towardsdatascience.com/stop-using-csvs-for-storage-this-file-format-is-150-times-faster-158bd322074e)

In [2]:
# Pip
!pip install feather-format

# Anaconda
# conda install -c conda-forge feather-format

Requirement already satisfied: feather-format in /usr/local/lib/python3.7/dist-packages (0.4.1)
Requirement already satisfied: pyarrow>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from feather-format) (3.0.0)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.7/dist-packages (from pyarrow>=0.4.0->feather-format) (1.19.5)

In [3]:
import feather
import numpy as np
import pandas as pd

np.random.seed = 42
df_size = 10_000_000

df = pd.DataFrame({
    'a': np.random.rand(df_size),
    'b': np.random.rand(df_size),
    'c': np.random.rand(df_size),
    'd': np.random.rand(df_size),
    'e': np.random.rand(df_size)
})
df.head()

          a         b         c         d         e
0  0.659658  0.863879  0.835850  0.291780  0.404530
1  0.069656  0.544565  0.286784  0.360850  0.161545
2  0.612896  0.627702  0.506951  0.869151  0.855483
3  0.903759  0.235213  0.924350  0.462579  0.612130
4  0.913682  0.520012  0.869538  0.832040  0.682076

In [4]:
df.to_feather('1M.feather')

In [5]:
feather.write_dataframe(df, '1M.feather')

In [6]:
df = pd.read_feather('1M.feather')

In [7]:
df

                a         b         c         d         e
0        0.659658  0.863879  0.835850  0.291780  0.404530
1        0.069656  0.544565  0.286784  0.360850  0.161545
2        0.612896  0.627702  0.506951  0.869151  0.855483
3        0.903759  0.235213  0.924350  0.462579  0.612130
4        0.913682  0.520012  0.869538  0.832040  0.682076
...           ...       ...       ...       ...       ...
9999995  0.597385  0.075042  0.247008  0.261488  0.709833
9999996  0.485247  0.627313  0.129470  0.529333  0.287709
9999997  0.877610  0.973281  0.254596  0.631542  0.025624
9999998  0.321090  0.969953  0.605495  0.388423  0.724932
9999999  0.205484  0.639245  0.557358  0.659544  0.053563

[10000000 rows x 5 columns]

In [8]:
df = feather.read_dataframe('1M.feather')

In [9]:
df

                a         b         c         d         e
0        0.659658  0.863879  0.835850  0.291780  0.404530
1        0.069656  0.544565  0.286784  0.360850  0.161545
2        0.612896  0.627702  0.506951  0.869151  0.855483
3        0.903759  0.235213  0.924350  0.462579  0.612130
4        0.913682  0.520012  0.869538  0.832040  0.682076
...           ...       ...       ...       ...       ...
9999995  0.597385  0.075042  0.247008  0.261488  0.709833
9999996  0.485247  0.627313  0.129470  0.529333  0.287709
9999997  0.877610  0.973281  0.254596  0.631542  0.025624
9999998  0.321090  0.969953  0.605495  0.388423  0.724932
9999999  0.205484  0.639245  0.557358  0.659544  0.053563

[10000000 rows x 5 columns]