[Reference](https://medium.com/@suela.isaj/grouping-by-and-applying-functions-on-pandas-16c3e8802f31)

In [1]:
import pandas as pd
data=pd.DataFrame({'Customers':['Jane', 'Maria', 'Maria', 'Joch', 'Daniel', 'Daniel', 'Daniel'],
        'Product':['Wine', 'Milk', 'Cookies', 'Bread', 'Gnocchi', 'Tomatos', 'Parmesian'],
        'Price':[30.6, 1.5, 2.6, 0.7, 1.5, 0.9, 3.5]})

In [2]:
data.groupby('Customers')

In [3]:
for group, mini_df in data.groupby('Customers'):
    print('group:', group)
    print('df:\n', mini_df)
    print('\n')

group: Daniel
df:
   Customers    Product  Price
4    Daniel    Gnocchi    1.5
5    Daniel    Tomatos    0.9
6    Daniel  Parmesian    3.5


group: Jane
df:
   Customers Product  Price
0      Jane    Wine   30.6


group: Joch
df:
   Customers Product  Price
3      Joch   Bread    0.7


group: Maria
df:
   Customers  Product  Price
1     Maria     Milk    1.5
2     Maria  Cookies    2.6

In [4]:
data.groupby('Customers').Price.sum()

Customers
Daniel     5.9
Jane      30.6
Joch       0.7
Maria      4.1
Name: Price, dtype: float64

In [5]:
def order_products (df):
    return df.sort_values('Price', ascending=False)

In [6]:
data.groupby('Customers').apply(order_products)

            Customers    Product  Price
Customers
Daniel    6    Daniel  Parmesian    3.5
          4    Daniel    Gnocchi    1.5
          5    Daniel    Tomatos    0.9
Jane      0      Jane       Wine   30.6
Joch      3      Joch      Bread    0.7
Maria     2     Maria    Cookies    2.6
          1     Maria       Milk    1.5

In [7]:
data.groupby('Customers').apply(lambda df: df.sort_values('Price', ascending=False))

            Customers    Product  Price
Customers
Daniel    6    Daniel  Parmesian    3.5
          4    Daniel    Gnocchi    1.5
          5    Daniel    Tomatos    0.9
Jane      0      Jane       Wine   30.6
Joch      3      Joch      Bread    0.7
Maria     2     Maria    Cookies    2.6
          1     Maria       Milk    1.5