[Reference](https://betterprogramming.pub/how-to-rename-columns-in-pandas-with-speed-b29f298f1ab7)

# Renaming Columns in Pandas

In [1]:
import pandas as pd
import numpy as np

## Create data
df=pd.DataFrame(
  data=np.random.uniform(
      size=(10000, 1000)
  ),
  index=np.arange(
    0, 
    10000
  ),
  columns=map(
    str, 
    np.arange(0, 1000)
  )
 )

## Dictionary to rename all columns
rename_cols={
  str(i):str(i+1) for 
  i in np.arange(0, 1000)
}

In [2]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0.638422,0.499253,0.299647,0.007102,0.489672,0.811625,0.370911,0.747679,0.954826,0.423034,...,0.850258,0.533356,0.001691,0.235438,0.203004,0.420616,0.985565,0.516309,0.674621,0.133031
1,0.795100,0.753120,0.229833,0.996844,0.385457,0.849385,0.131006,0.122994,0.451164,0.037951,...,0.187116,0.229814,0.021343,0.884832,0.760615,0.360988,0.849568,0.056954,0.198506,0.887887
2,0.984595,0.897503,0.487460,0.312233,0.199991,0.705428,0.818531,0.320694,0.687132,0.378258,...,0.603398,0.714564,0.738644,0.720488,0.378884,0.721458,0.787978,0.144898,0.153513,0.941673
3,0.053433,0.777127,0.440899,0.100460,0.213823,0.928387,0.928513,0.987350,0.216349,0.149197,...,0.300388,0.258632,0.617800,0.519418,0.608668,0.800260,0.177115,0.705666,0.286137,0.460459
4,0.940123,0.483216,0.572905,0.503164,0.077866,0.643836,0.445265,0.801587,0.516690,0.061842,...,0.921731,0.597830,0.525582,0.074747,0.766913,0.505575,0.910659,0.394546,0.409683,0.378134

In [3]:
df = df.rename(columns=rename_cols)

In [4]:
df.head()

,1,2,3,4,5,6,7,8,9,10,...,991,992,993,994,995,996,997,998,999,1000
0,0.638422,0.499253,0.299647,0.007102,0.489672,0.811625,0.370911,0.747679,0.954826,0.423034,...,0.850258,0.533356,0.001691,0.235438,0.203004,0.420616,0.985565,0.516309,0.674621,0.133031
1,0.795100,0.753120,0.229833,0.996844,0.385457,0.849385,0.131006,0.122994,0.451164,0.037951,...,0.187116,0.229814,0.021343,0.884832,0.760615,0.360988,0.849568,0.056954,0.198506,0.887887
2,0.984595,0.897503,0.487460,0.312233,0.199991,0.705428,0.818531,0.320694,0.687132,0.378258,...,0.603398,0.714564,0.738644,0.720488,0.378884,0.721458,0.787978,0.144898,0.153513,0.941673
3,0.053433,0.777127,0.440899,0.100460,0.213823,0.928387,0.928513,0.987350,0.216349,0.149197,...,0.300388,0.258632,0.617800,0.519418,0.608668,0.800260,0.177115,0.705666,0.286137,0.460459
4,0.940123,0.483216,0.572905,0.503164,0.077866,0.643836,0.445265,0.801587,0.516690,0.061842,...,0.921731,0.597830,0.525582,0.074747,0.766913,0.505575,0.910659,0.394546,0.409683,0.378134

# Method 2: replace column attribute

In [5]:
import pandas as pd
import numpy as np

## Create data
df=pd.DataFrame(
  data=np.random.uniform(
      size=(10000, 1000)
  ),
  index=np.arange(
    0, 
    10000
  ),
  columns=map(
    str, 
    np.arange(0, 1000)
  )
 )

df.columns = [rename_cols[col] for col in df.columns]
df.head()

,1,2,3,4,5,6,7,8,9,10,...,991,992,993,994,995,996,997,998,999,1000
0,0.880231,0.637982,0.330200,0.533268,0.826022,0.743020,0.077639,0.510986,0.772184,0.286964,...,0.426725,0.871927,0.446098,0.508292,0.947288,0.945564,0.063037,0.441885,0.726402,0.596730
1,0.942867,0.363995,0.340554,0.454042,0.212358,0.937554,0.614978,0.173034,0.921757,0.042325,...,0.400824,0.400408,0.283203,0.866897,0.235850,0.268516,0.092086,0.928769,0.902997,0.303044
2,0.540985,0.157083,0.491194,0.561289,0.551182,0.101117,0.308439,0.925245,0.682692,0.085726,...,0.186504,0.921396,0.999969,0.349197,0.485588,0.235106,0.239734,0.919754,0.492379,0.718019
3,0.147078,0.878835,0.181845,0.476693,0.258073,0.768629,0.213126,0.454095,0.330666,0.986919,...,0.126225,0.109299,0.609572,0.009424,0.700037,0.429706,0.819546,0.533727,0.952823,0.077302
4,0.418674,0.011734,0.187944,0.218957,0.871377,0.405660,0.391940,0.436365,0.541899,0.758550,...,0.627970,0.957709,0.558951,0.587405,0.416130,0.265759,0.135118,0.705849,0.182849,0.806516

# Improving Performance

In [7]:
def _set_axis_nocheck(self, labels, axis: Axis, inplace: bool_t):
  # NDFrame.rename with inplace=False calls set_axis(inplace=True) on a copy.
  if inplace:
   setattr(self, self._get_axis_name(axis), labels)
  else:
   obj = self.copy()
   obj.set_axis(labels, axis=axis, inplace=True)
   return obj