[Reference](https://towardsdatascience.com/how-and-why-to-use-f-strings-in-python3-adbba724b251)

In [2]:
name = 'Andy'
age = 20
print("I am " + name + ". I am " + str(age) + " years old")

I am Andy. I am 20 years old

In [3]:
print("I am %s. I am %s years old" % (name, age))

I am Andy. I am 20 years old

In [4]:
print("I am {}. I am {} years old".format(name, age))

I am Andy. I am 20 years old

In [5]:
print("I am {name}. I am {age} years old".format(name = name, age = age))

I am Andy. I am 20 years old

In [6]:
data = {'name':'Andy','age':20}
print("I am {name}. I am {age} years old".format(**data))

I am Andy. I am 20 years old

In [7]:
print(f"I am {name}. I am {age} years old")

I am Andy. I am 20 years old

In [8]:
num1 = 4
num2 = 5
print(f"The sum of {num1} and {num2} is {num1+num2}.")

The sum of 4 and 5 is 9.

In [10]:
def totalFruits(apples,oranges):
    return apples+oranges
    
    
data = {'name':'Andy','age':20}

apples = 20
oranges = 30

print(f"{data['name']} has {totalFruits(apples,oranges)} fruits")

Andy has 50 fruits

In [11]:
num1 = 4
num2 = 5
print(f'''The sum of 
{num1} and 
{num2} is 
{num1+num2}.''')

The sum of
4 and
5 is
9.

In [12]:
numFloat = 10.23456678
print(f'Printing Float with 2 decimals: {numFloat:.2f}')

Printing Float with 2 decimals: 10.23