[Reference](https://medium.com/better-programming/how-to-return-multiple-values-from-a-function-in-python-3-ddb131279cd)

In [1]:
def hours_to_write(happy_hours):
   week1 = happy_hours + 2
   week2 = happy_hours + 4
   week3 = happy_hours + 6
   return [week1, week2, week3]
 
print(hours_to_write(4))

[6, 8, 10]

# Dictionary

In [2]:
people={
  'Robin': 24,
  'Odin': 26,
  'David': 25
}

In [3]:
def people_age(): 
    d = dict(); 
    d['Jack'] = 30
    d['Kim'] = 28
    d['Bob'] = 27
    return d
d = people_age() 
print(d)

{'Jack': 30, 'Kim': 28, 'Bob': 27}

# List

In [4]:
def test(): 
    str1 = "Happy"
    str2 = "Coding"
    return [str1, str2];
 
list = test() 
print(list)

['Happy', 'Coding']

In [5]:
def natural_numbers(numbers = []):
   
   for i in range(1, 16):
       numbers.append(i)
   return numbers
 
print(natural_numbers())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

# Tuple

In [6]:
def fun(): 
    str1 = "Happy"
    str2 = "Coding"
    return str1, str2; # we could also write (str1, str2)
str1, str2= fun() 
print(str1) 
print(str2)

Happy
Coding

In [8]:
def student(name, class):
  return (name, class)
print(student("Brayan", 10))

SyntaxError: ignored

# Object

In [9]:
# A Python program to return multiple values using class 
class Intro: 
 def __init__(self): 
  self.str1 = "hello"
  self.str2 = "world"
# This function returns an object of Intro
def message(): 
 return Intro() 
 
x = message() 
print(x.str1) 
print(x.str2)

hello
world

In [10]:
from dataclasses import dataclass
@dataclass
class Item_list:
    name: str
    perunit_cost: float
    quantity_available: int = 0
    def total_cost(self) -> float:
        return self.perunit_cost * self.quantity_available
    
book = Item_list("better programming.", 50, 2)
x = book.total_cost()
print(x)
print(book)

100
Item_list(name='better programming.', perunit_cost=50, quantity_available=2)