[Reference](https://codefather-tech.medium.com/how-to-check-for-duplicates-in-a-python-list-codefather-4cb3b6582877)

In [1]:
planets = ['mercury', 'earth', 'mars', 'jupiter', 'mars']
set(planets)

{'earth', 'jupiter', 'mars', 'mercury'}

In [2]:
len(planets)

5

In [3]:
len(set(planets))

4

In [4]:
def has_duplicates(values):
     if len(values) != len(set(values)):
             return True
     else:
             return False

In [5]:
has_duplicates(planets)

True

In [6]:
planets = ['mercury', 'earth', 'mars', 'jupiter']
has_duplicates(planets)

False

In [9]:
from collections import Counter
Counter(planets)

Counter({'earth': 1, 'jupiter': 1, 'mars': 1, 'mercury': 1})

In [10]:
[key for key in Counter(planets).keys() if Counter(planets)[key]>1]

[]

In [11]:
planets1 = ['mercury', 'earth', 'mars']
planets2 = ['earth', 'jupiter', 'saturn']

In [12]:
p1 = set(planets1)
p2 = set(planets2)

In [13]:
help(p1.intersection)

Help on built-in function intersection:

intersection(...) method of builtins.set instance
    Return the intersection of two sets as a new set.

    (i.e. all elements that are in both sets.)

In [14]:
p1.intersection(p2)

{'earth'}

In [15]:
p1 & p2

{'earth'}

In [16]:
scores = [('Jane', 45), ('Anthony', 340), ('Jake', 34), ('Jane', 45)]

from collections import Counter
Counter(scores)

Counter({('Anthony', 340): 1, ('Jake', 34): 1, ('Jane', 45): 2})

In [17]:
from collections import Counter 

def has_duplicates(elements):
    counter = Counter(elements)     
    
    for key, value in counter.items():
        if value > 1:
            raise ValueError("Duplicate score found {}".format(key))
 
scores = [('Jane', 45), ('Anthony', 340), ('Jake', 34), ('Jane', 45)]
has_duplicates(scores)

ValueError: ignored

In [18]:
users = [{'name':'Jane', 'score': 45}, {'name':'Anthony', 'score': 234}, {'name':'John', 'score': 786}, {'name':'Jane', 'score': 45}]

In [19]:
[list(user.values()) for user in users]

[['Jane', 45], ['Anthony', 234], ['John', 786], ['Jane', 45]]

In [20]:
from collections import Counter
>>> Counter([['Jane', 45], ['Anthony', 234], ['John', 786], ['Jane', 45]])

TypeError: ignored

In [21]:
[tuple(user.values()) for user in users]

[('Jane', 45), ('Anthony', 234), ('John', 786), ('Jane', 45)]

In [22]:
Counter([tuple(user.values()) for user in users])

Counter({('Anthony', 234): 1, ('Jane', 45): 2, ('John', 786): 1})

In [25]:
from collections import Counter 

def get_duplicates(values):
    return [key for key in Counter(values).keys() if Counter(values)[key]>1]
    
planets = ['mercury', 'earth', 'mars', 'jupiter', 'mars', 'earth']
duplicates = get_duplicates(planets)
print(duplicates)

['earth', 'mars']

In [26]:
[index for index, value in enumerate(planets)]

[0, 1, 2, 3, 4, 5]

In [27]:
def get_indexes_for_element(values, element):
    element_indexes = [index for index, value in enumerate(values) if value == element]
    return { element : element_indexes }

In [28]:
planets = ['mercury', 'earth', 'mars', 'jupiter', 'mars', 'earth']
print(get_indexes_for_element(planets, 'earth'))

{'earth': [1, 5]}

In [29]:
def get_indexes_for_duplicates(values, duplicates):
    indexes_for_duplicates = []     
    
    for duplicate in duplicates:
        indexes_for_duplicates.append(get_indexes_for_element(values, duplicate))    
        
    return indexes_for_duplicates

In [30]:
from collections import Counter 

def get_duplicates(values):
    return [key for key in Counter(values).keys() if Counter(values)[key]>1] 
    
def get_indexes_for_element(values, element):
    element_indexes = [index for index, value in enumerate(values) if value == element]
    return { element : element_indexes } 
    
def get_indexes_for_duplicates(values, duplicates):
    indexes_for_duplicates = []     
    
    for duplicate in duplicates:
        indexes_for_duplicates.append(get_indexes_for_element(values, duplicate))   
        
    return indexes_for_duplicates

planets = ['mercury', 'earth', 'mars', 'jupiter', 'mars', 'earth']
duplicates = get_duplicates(planets)
print(get_indexes_for_duplicates(planets, duplicates))

[{'earth': [1, 5]}, {'mars': [2, 4]}]

In [31]:
planets = ['mercury', 'earth', 'mars', 'jupiter', 'mars', 'earth']
planets.remove('earth')
planets

['mercury', 'mars', 'jupiter', 'mars', 'earth']

In [32]:
planets.remove('mars')
planets

['mercury', 'jupiter', 'mars', 'earth']

In [33]:
from collections import Counter 

def get_duplicates(values):
    return [key for key in Counter(values).keys() if Counter(values)[key]>1]
    
planets = ['mercury', 'earth', 'mars', 'jupiter', 'mars', 'earth']
print("The initial list is {}".format(planets)) 

while len(get_duplicates(planets)) != 0:
    duplicates = get_duplicates(planets)
    print("Loop iteration: the duplicates in the list are {}".format(duplicates)) 
    planets.remove(duplicates[0])
    
print("The list without duplicates is {}".format(planets))

The initial list is ['mercury', 'earth', 'mars', 'jupiter', 'mars', 'earth']
Loop iteration: the duplicates in the list are ['earth', 'mars']
Loop iteration: the duplicates in the list are ['mars']
The list without duplicates is ['mercury', 'jupiter', 'mars', 'earth']

In [34]:
def get_list_without_duplicates(values):
    print("The initial list is {}".format(values))     
    
    while len(get_duplicates(values)) != 0:
        duplicates = get_duplicates(values)
        print("Loop iteration: the duplicates in the list are {}".format(duplicates))
        values.remove(duplicates[0])    
        
    print("The list without duplicates is {}".format(values))
    return values

In [35]:
planets = ['mercury', 'earth', 'mars', 'jupiter', 'mars', 'earth']
print(get_list_without_duplicates(planets))

The initial list is ['mercury', 'earth', 'mars', 'jupiter', 'mars', 'earth']
Loop iteration: the duplicates in the list are ['earth', 'mars']
Loop iteration: the duplicates in the list are ['mars']
The list without duplicates is ['mercury', 'jupiter', 'mars', 'earth']
['mercury', 'jupiter', 'mars', 'earth']

In [36]:
numbers = [1, 2, 3, 3, 3, 4, 3, 5, 5, 7, 54, 45, 43, 43, 2, 1]
print(get_list_without_duplicates(numbers))

The initial list is [1, 2, 3, 3, 3, 4, 3, 5, 5, 7, 54, 45, 43, 43, 2, 1]
Loop iteration: the duplicates in the list are [1, 2, 3, 5, 43]
Loop iteration: the duplicates in the list are [2, 3, 5, 43]
Loop iteration: the duplicates in the list are [3, 5, 43]
Loop iteration: the duplicates in the list are [3, 5, 43]
Loop iteration: the duplicates in the list are [3, 5, 43]
Loop iteration: the duplicates in the list are [5, 43]
Loop iteration: the duplicates in the list are [43]
The list without duplicates is [4, 3, 5, 7, 54, 45, 43, 2, 1]
[4, 3, 5, 7, 54, 45, 43, 2, 1]