[Reference](https://medium.com/datatau/what-they-are-and-how-to-use-lambda-expressions-in-python-41aa87852c83)

```python
#I write p1 and p2 as parameters 1 and 2 of the function.
lambda p1, p2: expression
```

In [1]:
#Here we have a function created to add up.
def sum(x,y):
    return(x + y)
    
#Here we have a lambda function that also adds up.
lambda x,y : x + y

#In order to use it we need to save it in a variable.
sum_two = lambda x,y : x + y

In [2]:
#import pandas and numpy to create a DataFrame
import pandas as pd
import numpy as np

#created a DataFrame with two columns, Celsius and Kelvin, both with equal data
data = {'Celsius': [22, 36, 20, 26, 30, 38],
        'Kelvin': [22, 36, 20, 26, 30, 38]}
        
#created the DataFrame with its index and Celsius and Kelvin columns
df = pd.DataFrame(data, index = ['Londres','Madrid','Barcelona','Sevilla','Cádiz','Lima'])

#Creating a lambda function to pass the degrees Celsius to Kelvin
to_kelvin = lambda x: (x + 273,15)

#apply the Lambda to the [Kelvin] column with the apply() method
df = df['Kelvin'].apply(to_kelvin)

In [3]:
df

Londres      (295, 15)
Madrid       (309, 15)
Barcelona    (293, 15)
Sevilla      (299, 15)
Cádiz        (303, 15)
Lima         (311, 15)
Name: Kelvin, dtype: object

# Lambda in lists with the filter() method

In [4]:
#I have a list with many numbers
check = [38,24,99,42,2,3,11,23,53,21,3,53,77,12,34,92,122,1008,26]

#I create a variable and apply filter() and lambda
filt = filter(lambda x: x % 2 == 0, check)

#I create a variable to convert the result of 'filt' into a list 
pairs = list(filt)

#Finally I get the list with the results that have returned True when passing the filter
print(pairs)

[38, 24, 42, 2, 12, 34, 92, 122, 1008, 26]