[Reference](https://medium.com/analytics-vidhya/mastering-the-itertools-module-in-python-d4ec2b0abf05)

# Infinite iterators

## 1. count(start=0, step=1)

In [2]:
from itertools import count

for i in count(0,2):
    print(i, end=" ")
    if i == 20:
        break

0 2 4 6 8 10 12 14 16 18 20

In [3]:
count_floating_negative = count(start=0.5, step=-0.5)
print(list(next(count_floating_negative) for _ in range(10)))

[0.5, 0.0, -0.5, -1.0, -1.5, -2.0, -2.5, -3.0, -3.5, -4.0]

## 2. cycle(iterable)

In [4]:
from itertools import cycle

count = 0
for i in cycle('ABC'):
    print(i, end = ' ')
    count += 1
    if count == 6:
        break

A B C A B C

## 3. repeat

In [10]:
from itertools import repeat
for i in repeat(1,5):
    print(i, end = ' ')

1 1 1 1 1

In [12]:
print(list(map(pow, range(10), repeat(2))))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# Terminating iterators

## 1. accumulate(iterable[, func, *, initial=None])

In [14]:
from itertools import accumulate
from operator import mul

iterable = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(list(accumulate(iterable)))

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [15]:
print(list(accumulate(iterable, mul)))

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [16]:
from itertools import accumulate

data = [-1, 2, 5, 7, -20, 9, 12, 9, 16, 4]

print(list(accumulate(data, min)))

[-1, -1, -1, -1, -20, -20, -20, -20, -20, -20]

In [17]:
print(list(accumulate(data, max)))

[-1, 2, 5, 7, 7, 9, 12, 12, 16, 16]

In [18]:
my_func = lambda a,b: (a + b) * 2

print(list(accumulate(data, my_func)))

[-1, 2, 14, 42, 44, 106, 236, 490, 1012, 2032]

## 2. chain(*iterables)

In [19]:
from itertools import chain

for i in chain([0,1,2,3], range(4,11), 'ABC'):
    print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9 10 A B C

In [20]:
my_iterable = [[0,1,2],[3,4],[5,6,7,8,9,10],['ABC']]
for i in chain.from_iterable(my_iterable):
    print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9 10 ABC

## 3. compress(data, selectors)

In [21]:
from itertools import chain

for i in chain([0,1,2,3], range(4,11), 'ABC'):
    print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9 10 A B C

In [22]:
my_iterable = [[0,1,2],[3,4],[5,6,7,8,9,10],['ABC']]
for i in chain.from_iterable(my_iterable):
    print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9 10 ABC

# 4. dropwhile(predicate, iterable)

In [23]:
from itertools import dropwhile

iterable = [1, 3, 5, 7, 2, 4, 6, 9, 11]
predicate = lambda x: x%2==1

for i in dropwhile(predicate, iterable):
    print(i, end = ' ')

2 4 6 9 11

## 5. filterfalse(predicate, iterable)

In [24]:
from itertools import filterfalse

iterable = [1, 3, 5, 7, 2, 4, 6, 9, 11]
predicate = lambda x: x%2==0

for i in filterfalse(predicate, iterable):
    print(i, end = ' ')

1 3 5 7 9 11

## 6. groupby(iterable, key=None)

In [25]:
from itertools import groupby

a_list = [("Even", 2), 
		("Odd", 5), 
		("Even", 8), 
		("Odd", 3)]
 
iterator = groupby(a_list, key = lambda x:x[0]) 

for key, group in iterator: 
	key_and_group = {key : list(group)} 
	print(key_and_group)

{'Even': [('Even', 2)]}
{'Odd': [('Odd', 5)]}
{'Even': [('Even', 8)]}
{'Odd': [('Odd', 3)]}

# 7. islice(iterable, start, stop[, step])

In [26]:
from itertools import islice

l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in islice(l, 1, 9, 1):
    print(i, end =' ')

2 3 4 5 6 7 8 9

## 8. starmap(function, iterable)

In [27]:
from itertools import starmap
from operator import add, mul
iterable = [(1,3), (2,4), (3,0), (5,6)]

for i in starmap(add, iterable):
    print(i, end = ' ')

4 6 3 11

In [28]:
for i in starmap(mul, iterable):
    print(i, end = ' ')

3 8 0 30

In [29]:
for i in starmap(min, iterable):
    print(i, end = ' ')

1 2 0 5

# 9. takewhile(predicate, iterable)

In [30]:
from itertools import takewhile

iterable = [1, 3, 5, 7, 2, 4, 6, 9, 11]
predicate = lambda x: x%2==1

for i in takewhile(predicate, iterable):
    print(i, end = ' ')

1 3 5 7

## 10. tee(iterable, n=2)

In [31]:
from itertools import tee

iterable = [1, 2, 4, 6, 7, 13]
for i in tee(iterable, 4):
    print(list(i))

[1, 2, 4, 6, 7, 13]
[1, 2, 4, 6, 7, 13]
[1, 2, 4, 6, 7, 13]
[1, 2, 4, 6, 7, 13]

# 11. zip_longest(*iterables, fillvalue=None)

In [32]:
from itertools import zip_longest

iter1 = [1, 2, 3, 4, 5, 6]
iter2 = [1, 4, 9, 16, 25]
iter3 = [1, 8, 27, 64, 125]

for i in zip_longest(iter1, iter2, iter3, fillvalue = 0):
    print(i)

(1, 1, 1)
(2, 4, 8)
(3, 9, 27)
(4, 16, 64)
(5, 25, 125)
(6, 0, 0)