[Reference](https://muhammadanas0716.medium.com/itertools-advanced-python-part-7-571584e4faab)

# 1. Product()

In [1]:
from itertools import product
prod = product([1, 2], [3, 4])
print(list(prod)) # Note that we convert the iterator to a list for printing

[(1, 3), (1, 4), (2, 3), (2, 4)]

In [2]:
prod = product([1, 2], [3], repeat=2)
print(list(prod)) # Note that we convert the iterator to a list for printing

[(1, 3, 1, 3), (1, 3, 2, 3), (2, 3, 1, 3), (2, 3, 2, 3)]

# 2. Permutations()

In [3]:
from itertools import permutations
perm = permutations([1, 2, 3])
print(list(perm))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [4]:
perm = permutations([1, 2, 3], 2)
print(list(perm))

[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

# 3. Combinations() & Combinationswithreplacement()

In [5]:
from itertools import combinations, combinations_with_replacement
comb = combinations([1, 2, 3, 4], 2)
print(list(comb))

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]

In [6]:
comb = combinations_with_replacement([1, 2, 3, 4], 2)
print(list(comb))

[(1, 1), (1, 2), (1, 3), (1, 4), (2, 2), (2, 3), (2, 4), (3, 3), (3, 4), (4, 4)]

# 4. Groupby()

In [7]:
from itertools import groupby
def smaller_than_3(x):
    return x < 3
group_obj = groupby([1, 2, 3, 4], key=smaller_than_3)
for key, group in group_obj:
    print(key, list(group))

True [1, 2]
False [3, 4]

In [8]:
group_obj = groupby(["hi", "nice", "hello", "cool"], key=lambda x: "i" in x)
for key, group in group_obj:
    print(key, list(group))

True ['hi', 'nice']
False ['hello', 'cool']

# 5. Infinite Iterators: Count(), Cycle(), Repeat()

In [9]:
from itertools import count
for i in count(10):
    print(i)
    if  i >= 13:
        break

10
11
12
13

In [10]:
from itertools import cycle
count = 0
for i in cycle('AB'):
    if count > 7:
        break
    else:
        print(i, end = " ")
        count += 1

A B A B A B A B

In [11]:
from itertools import repeat
print (list(repeat(25, 4))) # x is required, n by default is infinity, here I have changed it to 4

[25, 25, 25, 25]