[Reference](https://avinashsdalvi.medium.com/learning-about-lambda-function-in-python-d237c23f44c6)

In [1]:
def sum(a,b):
    return a+b

print(sum(2,3))

5

In [2]:
sum = lambda a,b: a+b 
print(sum(2,3))

5

In [3]:
(lambda x, y: x + y)(2, 3)

5

In [4]:
def square(a):
    return (lambda x: x*x)(a)

print(square(2))

4

In [5]:
def square(x): 
    return lambda : x*x

functions = [square(i) for i in [1,2,3,4,5,6]]
for function in functions: 
    print(function())

1
4
9
16
25
36

In [6]:
functions = [lambda i=i: i*i for i in range(1, 6)]
for function in functions:
   print(function())

1
4
9
16
25