[Reference](https://medium.com/@betofc89/making-operations-between-pandas-dataframes-and-series-fdf80c1116f2)

In [1]:
import numpy as np
import pandas as pd

In [2]:
A = pd.DataFrame(
    np.random.randint(0,10,size=(3,5)),
    columns=['A','B','C','D','E']
)
A

   A  B  C  D  E
0  3  0  8  4  0
1  6  3  0  7  7
2  1  6  9  1  2

In [4]:
B = pd.DataFrame(
    np.random.randint(0,10,size=(1,5)),
    columns=['A','B','C','D','E']
)
B

   A  B  C  D  E
0  0  4  8  5  0

In [5]:
A + B

     A    B     C    D    E
0  3.0  4.0  16.0  9.0  0.0
1  NaN  NaN   NaN  NaN  NaN
2  NaN  NaN   NaN  NaN  NaN

In [6]:
B = B.squeeze()

In [7]:
type(B)

pandas.core.series.Series

In [8]:
A

   A  B  C  D  E
0  3  0  8  4  0
1  6  3  0  7  7
2  1  6  9  1  2

In [9]:
B.values

array([0, 4, 8, 5, 0])

In [10]:
A + B

   A   B   C   D  E
0  3   4  16   9  0
1  6   7   8  12  7
2  1  10  17   6  2