[Reference](https://medium.com/better-programming/exploring-map-vs-starmap-in-python-6bcf32f5fa4a)

# map

In [1]:
def square(x):
    return x*x

num=[1,2,3,4]
s=map(square,num)

#Returns a map object
print(s)
print(type(s))
print(list(s))

<map object at 0x7fe7a1f98eb8>
<class 'map'>
[1, 4, 9, 16]

In [2]:
num=[1,2,3,4]
s=map(lambda x:x*x,num)

#Returns a map object
print(s)
print(type(s))
print(list(s))

<map object at 0x7fe7a1f98fd0>
<class 'map'>
[1, 4, 9, 16]

In [3]:
def multiply(x,y):
    return x*y

num1=[1,2,3,4]
num2=[2,4,6,8]
s=map(multiply,num1,num2)
#Returns a map object
print(s)
print(type(s))
print(list(s))

<map object at 0x7fe7a1fc1320>
<class 'map'>
[2, 8, 18, 32]

In [4]:
def multiply(x):
    return x
num1=[1,2,3,4]
num2=[2,4,6,8]
s=map(multiply,num1,num2)
print(list(s))

TypeError: ignored

In [5]:
def multiply(x,y,z):
    return x*y*z
num1=[1,2,3,4]
num2=[2,4,6,8]
num3=[2,3,4,5]
s=map(multiply,num1,num2,num3)
print (list(s))

[4, 24, 72, 160]

In [6]:
def multiply(x,y,z):
    return x*y*z
num1=[1,2,3,4,5,6,7,8,9,10]
num2=[2,4]
num3=[2,3,4,5,6]
s=map(multiply,num1,num2,num3)
print(list(s))

[4, 24]

In [7]:
def square(x):
    return x*x
num1=[1,2,3,4,5]
s=map(square,num1)
for i in s:
    print (i)

1
4
9
16
25

In [8]:
def square(x):
    return x*x
num=[1,2,3,4,5]
s=map(square,num)
print (next(s))
print (next(s))
print (next(s))
print (next(s))
print (next(s))

1
4
9
16
25

In [9]:
colors=['red','yellow','blue']
s=list(map(str.upper,colors))
print(s)

['RED', 'YELLOW', 'BLUE']

In [10]:
def square(x):
    return x*x
t1=(1,2,3)
s=tuple(map(square,t1))
print (s)

(1, 4, 9)

# itertools.starmap()

In [11]:
from itertools import starmap

num = [(1, 2), (2, 3)]

def multiply(x, y):
    return x * y

m = starmap(multiply, num)
print(m)
num2 = list(m)
print(num2)

<itertools.starmap object at 0x7fe7a1756f28>
[2, 6]

In [12]:
import itertools
num=itertools.starmap(pow,[(0,2),(1,2),(2,2)])
print(num)
print(list(num))

<itertools.starmap object at 0x7fe7a1f98828>
[0, 1, 4]

In [13]:
num=map(pow,[0,1,2],[2,2,2])
print(list(num))

[0, 1, 4]

In [14]:
import itertools
num=itertools.starmap(lambda x:x**2,[1,2,3])
print(list(num))

TypeError: ignored

In [15]:
import itertools
num=itertools.starmap(lambda x,y:x+y,[(0,1),(1,2),(2,3)])
print(list(num))

[1, 3, 5]

In [16]:
import itertools
num = itertools.starmap(lambda x, y: x + y, [(0, 1), (1, 2), (2, 3)])
for i in num:
    print(i)

1
3
5

In [17]:
import itertools
num=itertools.starmap(lambda x,y:x+y,[(0,1),(1,2),(2,3)])
print(next(num))
print(next(num))
print(next(num))

1
3
5