[Reference](https://towardsdatascience.com/does-python-still-need-the-map-function-96787ea1fb05)

In [1]:
numbers = [1, 4, 5, 10, 17]
def double(x):
    return x*2

In [2]:
double(10)

20

In [3]:
double(numbers)

[1, 4, 5, 10, 17, 1, 4, 5, 10, 17]

In [4]:
doubled_numbers = map(double, numbers)

In [5]:
doubled_numbers #doctest: +ELLIPSIS

In [6]:
list(doubled_numbers)

[2, 8, 10, 20, 34]

In [7]:
list(doubled_numbers)

[]

In [8]:
def sum_of_squares(x, y, z):
    return x**2 + y**2 + z**2
x = range(5)
y = [1, 1, 1, 2, 2]
z = (10, 10, 5, 5, 5)
SoS = map(sum_of_squares, x, y, z)
list(SoS)

[101, 102, 30, 38, 45]

In [9]:
doubled_numbers_gen = (double(x) for x in numbers)

In [10]:
doubled_numbers_list = [double(x) for x in numbers]

In [11]:
import multiprocessing
def double(x):
    return x*2

if __name__ == "__main__":
    numbers = [1, 4, 5, 10, 17]
    mode = "parallel" # or "sequential"
    if mode == "parallel":
        p = multiprocessing.Pool(2)
        map_func = p.map
    elif mode == "sequential":
        map_func = map
    else:
        raise NotImplementedError("Use mode of 'parallel' or 'sequential'")
    results = list(map_func(double, numbers))
    if mode == "parallel":
        p.close()
    print(results)

[2, 8, 10, 20, 34]