[Reference](https://turgutguvenc60.medium.com/must-know-built-in-python-functions-vol-1-1e2180355c3d)

In [1]:
# let's write a function to find out the square number.
def squared(x):
    """Its returns squared number from given number"""
    return x * x

num_list= [1,2,3,4,5,6,7] # we have created a list

result = map(squared, num_list)
print(result) # It returns map object location

# to see the results, you can convert to map object list,tuple or set
print(list(map(squared, num_list)))

<map object at 0x7f934eb25e90>
[1, 4, 9, 16, 25, 36, 49]

In [2]:
# It returns map object ocation
map(lambda x : x ** x, [1,2,3,4,5,6,7,8,9]) 

# To see exact result
print(list(map(lambda x : x ** x, [1,2,3,4,5,6,7,8,9])))

[1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489]

In [3]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]
list3 = [9,10,11,12,13] 
map(lambda x,y,z : x * y * z, list1,list2, list3) # It returns map object location

print(list(map(lambda x,y,z : x * y * z, list1,list2, list3)))

[45, 120, 231, 384]

In [5]:
liste = ["Pyhon","Java","Go","Php"]

# we want to make the output like this [(0,'Python'),(1,'Java'),(2,'Go'),(3,'Php')] 
# Hardway:
result = list() #make an empty list to be a container
a = 0
for i in liste:
    result.append((a,i))
    a +=1
print(result)

[(0, 'Pyhon'), (1, 'Java'), (2, 'Go'), (3, 'Php')]

In [6]:
liste = ["Pyhon","Java","Go","Php"]
print(enumerate(liste)) # it returned object is an enumerate object.(actuallt its location)
list(enumerate(liste))

<enumerate object at 0x7f934c7caaf0>

[(0, 'Pyhon'), (1, 'Java'), (2, 'Go'), (3, 'Php')]

In [7]:
list(enumerate(liste,start=10)) # we determine the start point to 10 using start parameter

[(10, 'Pyhon'), (11, 'Java'), (12, 'Go'), (13, 'Php')]

In [8]:
from functools import reduce # we have to import the reduce() function

reduce(lambda x,y : x + y , [23,21,45,98])

187

In [9]:
def maksimum(x,y):
    if (x > y):
        return x
    else:
        return y
        
reduce(maksimum, [-2,1,100,35,32])

# this is a very simple and more clear usage of the same example
reduce(lambda x,y : x if (x > y) else y, [-2,1,100,35,32])

100