[Reference](https://medium.com/techtofreedom/5-levels-of-understanding-the-mutability-of-python-objects-a5ed839d6c24)

In [1]:
leaders = ["Elon Mask"]
print(leaders, id(leaders))
leaders.append("Branden")
print(leaders, id(leaders))  # Same id

['Elon Mask'] 140185372403848
['Elon Mask', 'Branden'] 140185372403848

In [2]:
Leader = "branden"
print(Leader, id(Leader))

Leader.capitalize()
print(Leader, id(Leader))  # the Leader itself wasn't changed

Cap_Leader = Leader.capitalize()
print(Cap_Leader, id(Cap_Leader))

branden 140185372151568
branden 140185372151568
Branden 140185371455024

In [3]:
leaders = ["Elon Mask"]
print(leaders, id(leaders))
leaders.append("Branden")
print(leaders, id(leaders))  # Same id
leaders = ["Mark Zuckerberg"]
print(leaders, id(leaders))  # the id changed!

['Elon Mask'] 140185372402312
['Elon Mask', 'Branden'] 140185372402312
['Mark Zuckerberg'] 140185372403848

In [4]:
A = ["Elon", "Yang"]
B = A
print(B, A)
print(id(B) == id(A))

B.append("Mark")
print(B, A)
print(id(B) == id(A))

B = ["Mark"]
print(B, A)

['Elon', 'Yang'] ['Elon', 'Yang']
True
['Elon', 'Yang', 'Mark'] ['Elon', 'Yang', 'Mark']
True
['Mark'] ['Elon', 'Yang', 'Mark']

In [5]:
def updateNumber(val):
    val += 10
    print(val)
b = 5
updateNumber(b)
print(b)

15
5

In [6]:
def updateNumber(val):
    print(id(val)) # 10914624

b = 5
print(id(b))  # 10914624
updateNumber(b)  # 10914624

10914624
10914624

In [7]:
L = [1, 2, 3]

def func(vals):
    vals.append(4)
    print(vals)

func(L)
print(L)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [8]:
L = [1, 2, 3]

def func(vals):
    vals = [7, 8, 9]
    print(vals)

func(L)
print(L)

[7, 8, 9]
[1, 2, 3]

In [9]:
tp = ([1, 2, 3], 4, 5)
tp[0].append(4)
print(tp)

([1, 2, 3, 4], 4, 5)