[Reference](https://medium.com/analytics-vidhya/is-pypolars-the-new-alternative-to-pandas-916400f03fd7)

In [1]:
pip install py-polars

Collecting py-polars
  Downloading https://files.pythonhosted.org/packages/08/fc/78604eb069f3289c12f8a9e12ba6ca57133aad4606f36012356d001a261e/py_polars-0.6.7-cp37-cp37m-manylinux2010_x86_64.whl (9.6MB)
     |████████████████████████████████| 9.6MB 5.0MB/s
Requirement already satisfied: pyarrow==3.0 in /usr/local/lib/python3.7/dist-packages (from py-polars) (3.0.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from py-polars) (1.19.5)
Installing collected packages: py-polars
Successfully installed py-polars-0.6.7

In [2]:
import pypolars as pl 
df= pl.DataFrame({'City':['A','B','C','D','E','F','G','H'],         'Temperature':[30.5,32,25,38,40,29.6,21.3,24.9],
 'Rain':[103,125,90,75,130,200,155,127] })

In [3]:
df

shape: (8, 3)
╭──────┬─────────────┬──────╮
│ City ┆ Temperature ┆ Rain │
│ ---  ┆ ---         ┆ ---  │
│ str  ┆ f64         ┆ i64  │
╞══════╪═════════════╪══════╡
│ "A"  ┆ 30.5        ┆ 103  │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ "B"  ┆ 32          ┆ 125  │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ "C"  ┆ 25          ┆ 90   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ "D"  ┆ 38          ┆ 75   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ "E"  ┆ 40          ┆ 130  │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ "F"  ┆ 29.6        ┆ 200  │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ "G"  ┆ 21.3        ┆ 155  │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ "H"  ┆ 24.9        ┆ 127  │
╰──────┴─────────────┴──────╯

In [4]:
df.head()

shape: (5, 3)
╭──────┬─────────────┬──────╮
│ City ┆ Temperature ┆ Rain │
│ ---  ┆ ---         ┆ ---  │
│ str  ┆ f64         ┆ i64  │
╞══════╪═════════════╪══════╡
│ "A"  ┆ 30.5        ┆ 103  │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ "B"  ┆ 32          ┆ 125  │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ "C"  ┆ 25          ┆ 90   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ "D"  ┆ 38          ┆ 75   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ "E"  ┆ 40          ┆ 130  │
╰──────┴─────────────┴──────╯

In [5]:
df[df['Rain']>120]

shape: (5, 3)
╭──────┬─────────────┬──────╮
│ City ┆ Temperature ┆ Rain │
│ ---  ┆ ---         ┆ ---  │
│ str  ┆ f64         ┆ i64  │
╞══════╪═════════════╪══════╡
│ "B"  ┆ 32          ┆ 125  │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ "E"  ┆ 40          ┆ 130  │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ "F"  ┆ 29.6        ┆ 200  │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ "G"  ┆ 21.3        ┆ 155  │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ "H"  ┆ 24.9        ┆ 127  │
╰──────┴─────────────┴──────╯

In [6]:
import numpy as np 
df1= pl.DataFrame({'Humidity':np.random.rand(8)})
df1

shape: (8, 1)
╭──────────╮
│ Humidity │
│ ---      │
│ f64      │
╞══════════╡
│ 0.327    │
├╌╌╌╌╌╌╌╌╌╌┤
│ 0.239    │
├╌╌╌╌╌╌╌╌╌╌┤
│ 0.818    │
├╌╌╌╌╌╌╌╌╌╌┤
│ 0.624    │
├╌╌╌╌╌╌╌╌╌╌┤
│ 0.837    │
├╌╌╌╌╌╌╌╌╌╌┤
│ 0.794    │
├╌╌╌╌╌╌╌╌╌╌┤
│ 0.863    │
├╌╌╌╌╌╌╌╌╌╌┤
│ 0.972    │
╰──────────╯

In [7]:
df.hstack(df1.get_columns())

shape: (8, 4)
╭──────┬─────────────┬──────┬──────────╮
│ City ┆ Temperature ┆ Rain ┆ Humidity │
│ ---  ┆ ---         ┆ ---  ┆ ---      │
│ str  ┆ f64         ┆ i64  ┆ f64      │
╞══════╪═════════════╪══════╪══════════╡
│ "A"  ┆ 30.5        ┆ 103  ┆ 0.327    │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ "B"  ┆ 32          ┆ 125  ┆ 0.239    │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ "C"  ┆ 25          ┆ 90   ┆ 0.818    │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ "D"  ┆ 38          ┆ 75   ┆ 0.624    │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ "E"  ┆ 40          ┆ 130  ┆ 0.837    │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ "F"  ┆ 29.6        ┆ 200  ┆ 0.794    │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ "G"  ┆ 21.3        ┆ 155  ┆ 0.863    │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ "H"  ┆ 24.9        ┆ 127  ┆ 0.972    │
╰──────┴─────────────┴──────┴──────────╯

In [8]:
df2= df.clone()
df2.vstack(df)

shape: (16, 3)
╭──────┬─────────────┬──────╮
│ City ┆ Temperature ┆ Rain │
│ ---  ┆ ---         ┆ ---  │
│ str  ┆ f64         ┆ i64  │
╞══════╪═════════════╪══════╡
│ "A"  ┆ 30.5        ┆ 103  │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ "B"  ┆ 32          ┆ 125  │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ "C"  ┆ 25          ┆ 90   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ "D"  ┆ 38          ┆ 75   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ ...  ┆ ...         ┆ ...  │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ "D"  ┆ 38          ┆ 75   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ "E"  ┆ 40          ┆ 130  │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ "F"  ┆ 29.6        ┆ 200  │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ "G"  ┆ 21.3        ┆ 155  │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ "H"  ┆ 24.9        ┆ 127  │
╰──────┴─────────────┴──────╯

In [9]:
pandas_df=df2.to_pandas()
type(pandas_df)

pandas.core.frame.DataFrame

In [10]:
import pypolars as pl
from pypolars.lazy import *
lazy_df = df.lazy()
lazy_df

In [11]:
lazy_df = lazy_df.filter(col("Rain") > (lit(120))) 
lazy_df.collect()

shape: (5, 3)
╭──────┬─────────────┬──────╮
│ City ┆ Temperature ┆ Rain │
│ ---  ┆ ---         ┆ ---  │
│ str  ┆ f64         ┆ i64  │
╞══════╪═════════════╪══════╡
│ "B"  ┆ 32          ┆ 125  │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ "E"  ┆ 40          ┆ 130  │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ "F"  ┆ 29.6        ┆ 200  │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ "G"  ┆ 21.3        ┆ 155  │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ "H"  ┆ 24.9        ┆ 127  │
╰──────┴─────────────┴──────╯