[Reference](https://levelup.gitconnected.com/python-sets-basics-and-usecases-af1fbe8906f4)

In [1]:
set_of_numbers = {1,2,3,4,5}
mixed_set = {'a',1,2,'c','d'}

In [2]:
empty_set = set()
set_from_list = set([1,2,3,4])

In [5]:
demo_set = set()
demo_set.add(2)
demo_set.update([2,4,5])
demo_set.update((1,3))
print(demo_set)

{1, 2, 3, 4, 5}

In [6]:
demo_set = {1,2,3,4,5}
demo_set.remove(2)
demo_set.discard(3)
print(demo_set)

{1, 4, 5}

In [8]:
demo_set = {1,2,3,4,5}
print(2 in demo_set)
print('a' in demo_set)

True
False

In [9]:
demo_set = {1,2,3}

for element in demo_set:
    print(element)

1
2
3

In [10]:
set_a = {1,2,3}
set_b = {3,4,5}

set_c = set_a.union(set_b) 
#OR
set_c = set_a | set_b

print(set_c)

{1, 2, 3, 4, 5}

In [11]:
set_a = {1,2,3}
set_b = {3,4,5}

set_c = set_a.intersection(set_b) 
#OR
set_c = set_a & set_b

print(set_c)

{3}

In [12]:
set_a = {1,2,3}
set_b = {3,4,5}

set_c = set_a.difference(set_b) 
#OR
set_c = set_a - set_b

print(set_c)

{1, 2}

In [13]:
set_a = {1,2,3}
set_b = {3,4,5}

set_a.difference_update(set_b)

print(set_a)

{1, 2}

In [14]:
set_a = {1,2,3}
set_b = {3,4,5}

set_c = set_a.symmetric_difference(set_b) 
#OR
set_c = set_a ^ set_b

print(set_c)

{1, 2, 4, 5}

In [15]:
set_a = {1,2,3}
set_b = {3,4,5}

set_a.symmetric_difference_update(set_b) 

print(set_a)

{1, 2, 4, 5}

In [16]:
set_a = {1,2,3}
set_b = {4,5}

print(set_a.isdisjoint(set_b))

True

In [17]:
set_a = {1,2,3}
set_b = {1,2,3,4,5}

print(set_a.issubset(set_b))

True

In [18]:
set_a = {1,2,3,4,5}
set_b = {1,2,3}

print(set_a.issuperset(set_b))

True

In [21]:
list_a = [1,2,3,4,5]
for i in list_a: 
    if(i == 2) : 
        print (True)
        
print(2 in set_a)

True
True

In [22]:
list_a = [1,2,3,4,5]
set_a = set(list_a)

print(2 in set_a)

True

In [23]:
list_a = [1,5,2,3,3,4,5,1]
set_a = set(list_a)
list_a = list(set_a)
print(list_a)

[1, 2, 3, 4, 5]

In [26]:
def merge_if_intersect(m_list):
    for i,set1 in enumerate(m_list):
        for j,set2 in enumerate(m_list[i+1:],i+1):
           if not set1.isdisjoint(set2): #or set1.intersection(set2)
              m_list[i]=set1.union(m_list.pop(j))
              return merge_if_intersect(m_list)
    return m_list
    
list_a = [{1,2,3},{4,5},{5,6},{3,7},{8}]
    
merged_list = merge_if_intersect(list_a)
print(merged_list)

[{1, 2, 3, 7}, {4, 5, 6}, {8}]