[Reference](https://medium.com/@yaduvanshineelam09/10-python-functions-every-data-scientist-must-memorize-fc5ff51d6c91)

# 1. Print Function

In [1]:
def display_sales_info(product, sales, revenue):
    print('Product', product, sep=': ')
    print('Total Sales', sales, sep=': ')
    print('Total Revenue', revenue, sep=': ')

display_sales_info('Laptop', 1500, '3000 USD')

Product: Laptop
Total Sales: 1500
Total Revenue: 3000 USD

# 2. Help Function

In [2]:
def calculate_discounted_price(price, discount):
    """ Calculate the discounted price of a product.
    price: original price of the product
    discount: discount percentage to be applied returns: float
    """
    return price * (1 - discount / 100)
# Example of using the help function
help(calculate_discounted_price)

Help on function calculate_discounted_price in module __main__:

calculate_discounted_price(price, discount)
    Calculate the discounted price of a product.
    price: original price of the product
    discount: discount percentage to be applied returns: float

# 3. Range Function

In [3]:
def generate_sales_days(start_day, end_day):
    return list(range(start_day, end_day + 1))

In [4]:
print(generate_sales_days(1, 7)) # Generates days of the week

[1, 2, 3, 4, 5, 6, 7]

# 4. Map Function

In [5]:
def apply_discount(prices, discount):
    return list(map(lambda x: x * (1 - discount / 100), prices))

print(apply_discount([100, 200, 300, 400, 500], 10)) # Apply a 10% discount

[90.0, 180.0, 270.0, 360.0, 450.0]

# 5. Filter Function

In [6]:
def filter_high_sales(sales, threshold):
    return list(filter(lambda x: x > threshold, sales))

print(filter_high_sales([100, 200, 50, 300, 150], 150)) # Filter sales greater than 150

[200, 300]

# 6. Sorted Function

In [7]:
def sort_sales_data_by_sales(data):
    return sorted(data, key=lambda x: x['Sales'])

sales_data = [
 {'Product': 'Laptop', 'Sales': 150},
 {'Product': 'Mouse', 'Sales': 300},
 {'Product': 'Keyboard', 'Sales': 200},
]

print(sort_sales_data_by_sales(sales_data))

[{'Product': 'Laptop', 'Sales': 150}, {'Product': 'Keyboard', 'Sales': 200}, {'Product': 'Mouse', 'Sales': 300}]

# 7. Enumerate Function

In [8]:
def list_products_with_index(products):
    for index, product in enumerate(products):
        print(f"{index + 1}. {product}")

In [9]:
list_products_with_index(['Laptop', 'Mouse', 'Keyboard'])

1. Laptop
2. Mouse
3. Keyboard

# 8. Zip Function

In [10]:
def combine_sales_data(products, sales):
    return list(zip(products, sales))

In [11]:
print(combine_sales_data(['Laptop', 'Mouse', 'Keyboard'], [150, 300, 200]))

[('Laptop', 150), ('Mouse', 300), ('Keyboard', 200)]

# 9. Open Function

In [12]:
def write_sales_to_file(filename, content):
    """Writes content into file"""
    with open(filename, "w") as file:
        file.write(content)

In [13]:
def read_sales_file(filename):
    """Reads content in file only"""
    with open(filename, "r") as file:
        return file.read()
def append_sales_to_file(filename, content):
    """Appends new content to original content"""
    with open(filename, "a") as file:
        file.write(content)

write_sales_to_file("sales.txt", "Product: Laptop\nSales: 150")
print(read_sales_file("sales.txt"))

append_sales_to_file("sales.txt", "\nProduct: Mouse\nSales: 300")
print(read_sales_file("sales.txt"))

Product: Laptop
Sales: 150
Product: Laptop
Sales: 150
Product: Mouse
Sales: 300

# 10. Sum Function:

In [14]:
def calculate_total_sales(sales):
    return sum(sales)

print(calculate_total_sales([150, 300, 200]))

650