[Reference](https://towardsdatascience.com/python-beginner-breakthroughs-top-python-built-in-functions-19a6d978035b)

In [1]:
# abs() function
x = -24
print(abs(x))

# any() function
y = [0, 1, 2, 3, 4]
print(any(y))

# len() function
print(len(y))

24
True
5

In [2]:
# max() function
l = [1, 4, 7, 21, 35]
m = [[1, 2, 3], [1, 2], [0, 3, 2, 1]]
print(max(l))
print(max(m, key=len))

# min() function
l = [1, 4, 7, 21, 35]
m = [[1, 2, 3], [1, 2], [0, 3, 2, 1]]
print(min(l))
print(min(m, key=len))

# print() function
x = 'hello world'
print(x)

35
[0, 3, 2, 1]
1
[1, 2]
hello world

In [3]:
#round() function
x = 24.3452
print(round(x))
print(round(x, ndigits=2))

# sum() function
z = [1, 3, 5, 10, 51]
print(sum(z))

24
24.35
70

In [4]:
#enumerate() function
k = ['first', 'second', 'third', 'fourth']
z = enumerate(k)
print(list(z))

# filter() function
p = [1, 2, 3, 4, 5]
q = filter(lambda x: x % 2 == 0, p)
print(list(q))

[(0, 'first'), (1, 'second'), (2, 'third'), (3, 'fourth')]
[2, 4]

In [5]:
# map() function
z = [0 , 2, 5, 21]
y = map(lambda x: x ** 2, z)
print(list(z))

# sorted function
a = ['r', 'd', 'a', 'b', 'z']
print(sorted(a))
print(sorted(a, reverse=True))

# zip() function
number_list = [1, 2, 3]
str_list = ['one', 'two', 'three']
zipped = list(zip(number_list, str_list))
print(zipped)
[(1, 'one'), (2, 'two'), (3, 'three')]
unzipped = list(zip(*zipped))
print(unzipped)

[0, 2, 5, 21]
['a', 'b', 'd', 'r', 'z']
['z', 'r', 'd', 'b', 'a']
[(1, 'one'), (2, 'two'), (3, 'three')]
[(1, 2, 3), ('one', 'two', 'three')]

In [7]:
# type() function
x = 'string'
print(type(x))

x = 2.14
print(type(x))

#int() function
p = 2.21
print(int(p))

# str() function
z = 21
print(str(z))

# dict() function
z = dict()
print(z)

<class 'str'>
<class 'float'>
2
21
{}