[Reference](https://towardsdatascience.com/become-a-python-one-liners-specialist-8c8599d6f9c5)

# Swapping

In [1]:
a = 1
b = 2
temp = a
a = b
b = temp

In [2]:
a, b = b, a

# List comprehension

In [3]:
ls = []
for i in range(5):
    ls.append(i)

In [4]:
ls = [i for i in range(5)]

In [5]:
ls = [-1, 2, -3, 6, -5]
ls = [i for i in ls if i > 0] #ls = [2, 6], positive integers only
ls

[2, 6]

# Map method

In [6]:
ls = list(map(int, ["1", "2", "3"])) #ls = [1, 2, 3]
ls

[1, 2, 3]

# Filter method

In [7]:
ls1 = [1, 3, 5, 7, 9]
ls2 = [0, 1, 2, 3, 4]
common = list(filter(lambda x: x in ls1, ls2)) #common = [1, 3]
common

[1, 3]

# Reduce method

In [8]:
from functools import reduce

print(reduce(lambda x, y: x*y, [1, 2, 3])) #print 6

6

# Lambda function

In [9]:
def fullName(first, last):
    return f"{first} {last}"
    
name = fullName("Tom", "Walker") #name = Tom Walker

In [10]:
fullName = lambda first, last: f"{first} {last}"

name = fullName("Tom", "Walker") #name = Tom Walker

In [11]:
highOrder = lambda x, func: x + func(x)

result1 = highOrder(5, lambda x: x*x) #result1 = 30
result2 = highOrder(3, lambda x : x*2) #result2 = 9

# reverse method

In [12]:
ls = [1, 2, 3]
ls = ls[::-1] #ls = [3, 2, 1]

In [13]:
ls = [1, 2, 3]
ls.reverse() #ls = [3, 2, 1]

# using *

In [14]:
for i in range(5):
    print("x", end = "") #print xxxxx

xxxxx

In [15]:
print("x"*5) #print xxxxx

xxxxx

# Finding the factorial of a number

In [16]:
def fact(n):
    if n == 1:
        return 1
    else:
        return n*fact(n-1)

In [18]:
n = 5

In [19]:
from functools import reduce
reduce(lambda x, y: x*y, range(1, n+1)) #n factorial

120

# Finding a Fibonacci number

In [20]:
def fib(n):
    if n == 0 or n == 1:
        return n
    else:
        return fib(n-1) + fib(n-2)
        
print(fib(5)) #prints the nth Fibonacci number

5

In [21]:
fib = lambda x: x if x<=1 else fib(x-1) + fib(x-2)

print(fib(5)) #prints the nth Fibonacci number

5

# Check if a string is a palindrome

In [22]:
def is_palindrome(string):
    if string == string[::-1]:
        return True
    else:
        return False
        
print(is_palindrome("abcba")) #prints True

True

In [23]:
string = "abcba" #a palindrome

print(string == string[::-1]) #prints True

True

# Flattening a 2-D array

In [24]:
ls = [[1, 2], [3, 4], [5, 6]]
ls2 = []

for i in ls:
    for j in i:
        ls2.append(j)
        
print(ls2) #prints [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [25]:
ls = [[1, 2], [3, 4], [5, 6]]

print([i for j in ls for i in j]) #prints [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]