# 1. f-Strings

In [1]:
name = "Leonardo"
surname = "Da Vinci"
Occupation_1 = "Artist"
Occupation_2 = "Inventor"
Occupation_3 = "Scientist"
Occupation_4 = "Mathematician"
Occupation_5 = "Philosopher"

print ("%s %s was an %s, %s, %s, %s and %s." % (name, surname, Occupation_1, Occupation_2, Occupation_3, Occupation_4, Occupation_5))

Leonardo Da Vinci was an Artist, Inventor, Scientist, Mathematician and Philosopher.

In [2]:
print (("{name} {surname} was an {Occupation_1}, {Occupation_1}, {Occupation_1}, {Occupation_1} and {Occupation_1}.").format(name = name, surname = surname, Occupation_1 = Occupation_1, Occupation_2 = Occupation_2, Occupation_3 = Occupation_3, Occupation_4 = Occupation_4, Occupation_5 = Occupation_5))

Leonardo Da Vinci was an Artist, Artist, Artist, Artist and Artist.

In [3]:
f'{name} {surname} was an {Occupation_1}, {Occupation_2}, {Occupation_3}, {Occupation_4} and {Occupation_5}.'

'Leonardo Da Vinci was an Artist, Inventor, Scientist, Mathematician and Philosopher.'

In [4]:
f'{2*3}'
f'{name.lower()}'

'leonardo'

# 2. Lists and Dictionaries (Packing, Unpacking)

In [5]:
def some_function (a,b,c,d):
       print (a,b,c,d)
       
some_list = [1,2,3,4]
some_dictionary = {'a':1, 'b':2, 'c':13, 'd':14}

In [6]:
some_function(some_list)

TypeError: ignored

In [7]:
some_function(*some_list)

1 2 3 4

In [8]:
some_function(**some_dictionary)

1 2 13 14

In [11]:
some_dictionary_2 = {'x':1, 'y':2, 'z':13, 'w':14}
some_function(**some_dictionary_2)

TypeError: ignored

In [13]:
# List Packing 
def some_list_packing(*args):
       args = list(args)
       
       args[0] = 'I am about to'
       args[1] = 'pack lists'       
       some_function(*args) # use the previous function unpacking
some_list_packing('I am packing','','','')

# I am about to pack lists

# Dictionary Packing
def some_dictionary_packing(**kwargs):
    for key in kwargs:        
        print(f'{key} = {kwargs[key]}')
            # See how I used the f-string there?

some_dictionary_packing(a= "I", b= "am", c= "about", d= "to write..")

I am about to pack lists
a = I
b = am
c = about
d = to write..

# 3. Dynamic New Type

In [14]:
NewClass = type("NewClass", (object,), {"intro": "This is an awesome new class"})

n = NewClass()
n.intro

'This is an awesome new class'

In [15]:
class NewClass(object):
        intro = "This is an awesome new class"
n = NewClass()
n.intro

'This is an awesome new class'

# 4. Try Except

In [16]:
def some_function (a,b,c,d):
       print (a,b,c,d)

a_list = [1,2,3,4]
try:
    some_function (a_list)
except:
    print("Put * before the input list in the function")

Put * before the input list in the function

In [17]:
try:
    some_function (a_list)
except:
    pass

# 5. Mutable Defaults

In [18]:
def something(x=[]):
        x.append(1)
        print (x)
something()

[1]

In [19]:
something()

[1, 1]

In [20]:
something()

[1, 1, 1]

In [21]:
def something(x= None):
        if x is None:
            x= []
        x.append(1)
        print (x)

In [22]:
something()

[1]

In [23]:
something()

[1]

# 6. Value Swapping
```
void swap(int a, int b)
{
    int temp = a;
    a = b;
    b = temp;
    // a and b are copies of the original values.
}

```

In [26]:
a = 10
b = 5
a, b = b, a
print(a)
print(b)

5
10

# 7. Replace white spaces with braces

In [27]:
a = 1000
print(a)

1000

In [28]:
from __future__ import print_function
print a

SyntaxError: ignored

In [29]:
print (a)

1000