[Reference](https://medium.com/probably-programming/python-using-the-range-function-2ed348f004f5)

In [1]:
for i in range(0, 3):
    print(i)

0
1
2

In [2]:
for i in range(1, 4):
    print(i)

1
2
3

In [3]:
numbers = list(range(0, 4))
print(numbers)

[0, 1, 2, 3]

In [4]:
even_numbers = list(range(0, 30, 2))
print(even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [5]:
squared = []
for value in range(1, 4):
    square = value ** 2
    squared.append(square)
print(squared)

[1, 4, 9]

In [6]:
numbers = [0, 1, 2, 3]
print(min(numbers))
print(max(numbers))
print(sum(numbers))

0
3
6

In [7]:
squared = [value ** 2 for value in range(1, 4)]
print(squared)

[1, 4, 9]