[Reference](https://codeburst.io/reduce-vs-accumulate-in-python-3ecee4ee8094)

# Reduce()

In [1]:
from functools import reduce

In [2]:
reduce(lambda x, y: x+y, [1, 2, 3, 4, 5])

15

![reduce](https://miro.medium.com/max/1400/1*xRT9Mh9WncXo62vXDKg02Q.png)

In [3]:
num1 = [1,2,3,4,5]
print(reduce(lambda x,y:x+y,num1))

15

In [4]:
num1=[80,100,90,95,85]
print(reduce(lambda x,y: x if x>y else y, num1))

100

![reduce-max](https://miro.medium.com/max/1400/1*iGaQRrKrUO3uiBkyA1rnZw.png)

In [6]:
def sum1(x,y):
    return x+y
num1 = [1,2,3,4,5]
print(reduce(sum1,num1))

15

In [7]:
def sum1(x,y):
    return x+y
num1 = [1,2,3,4,5]
print(reduce(sum1,num1,10))

25

In [8]:
def sum1(x,y):
    return x+y
num1 = [1]
print(reduce(sum1,num1))

1

In [9]:
def sum1(x,y):
    return x+y
num1 = []
print(reduce(sum1,num1,10))

10

# Accumulate()

In [15]:
from itertools import accumulate
import itertools
import operator

In [13]:
num2=accumulate([1,2,3,4,5],operator.mul)
print (list(num2))

[1, 2, 6, 24, 120]

![accumulate](https://miro.medium.com/max/1400/1*X1yIc_Pn04YZrxDnu_tnNw.png)

In [16]:
num1=itertools.accumulate([1,2,3,4,5])
print(num1)

<itertools.accumulate object at 0x7fa631958bc8>

In [17]:
print(list(num1))

[1, 3, 6, 10, 15]

In [18]:
r1=reduce(operator.add,[1,2,3,4,5])
print (r1)

15

In [19]:
num1=accumulate([80,100,90,95,85],max)
print(list(num1))

[80, 100, 100, 100, 100]

In [23]:
num2=accumulate([5],lambda x,y:x+y)
print(list(num2))

[5]

In [24]:
num2=accumulate([5,6,7],lambda x,y:x+y)
for i in num2:
    print (i)

5
11
18