[Reference](https://medium.com/@etirismagazine/simplify-your-python-code-with-the-versatile-enumerate-function-examples-and-tips-7835f3cf8bda)

In [1]:
fruits = ['apple', 'banana', 'cherry']

for index, value in enumerate(fruits):
    print(index, value)

0 apple
1 banana
2 cherry

In [2]:
fruits = ['apple', 'banana', 'cherry']

for index, value in enumerate(fruits, start=1):
    print(index, value)

1 apple
2 banana
3 cherry

# Performance optimization

In [3]:
fruits = ['apple', 'banana', 'cherry']
prices = [0.5, 0.25, 1.0]

for fruit, price in zip(fruits, prices):
    print(fruit, price)

apple 0.5
banana 0.25
cherry 1.0

# Updating values in a list:

In [4]:
numbers = [1, 2, 3, 4, 5, 6]

for index, value in enumerate(numbers):
    if index % 2 == 0:
        numbers[index] = value + 10
        
print(numbers)

[11, 2, 13, 4, 15, 6]

# Creating a dictionary from a list:

In [5]:
fruits = ['apple', 'banana', 'cherry']

fruits_dict = {}

for index, value in enumerate(fruits):
    fruits_dict[index] = value
    
print(fruits_dict)

{0: 'apple', 1: 'banana', 2: 'cherry'}

# Printing a numbered list:

In [6]:
tasks = ['clean the house', 'buy groceries', 'do laundry']

for index, task in enumerate(tasks, start=1):
    print(f"{index}. {task}")

1. clean the house
2. buy groceries
3. do laundry