[Reference](https://towardsdatascience.com/single-line-of-code-to-interchange-between-python-objects-and-json-b0f23fbaaa65)

In [1]:
pip install attrs

Requirement already satisfied: attrs in /usr/local/lib/python3.7/dist-packages (20.3.0)

In [2]:
pip install cattrs

Collecting cattrs
  Downloading https://files.pythonhosted.org/packages/06/40/9a3f0e80af334bd808549c0b09fafe44269ddf261933f97723fd9b3f0deb/cattrs-1.6.0-py3-none-any.whl
Requirement already satisfied: attrs in /usr/local/lib/python3.7/dist-packages (from cattrs) (20.3.0)
Installing collected packages: cattrs
Successfully installed cattrs-1.6.0

In [3]:
from attr import attrs, attrib
import cattr

In [4]:
from typing import Tuple

cattr.structure([1.01, True, False, "2", "I will be ignored"], Tuple[int, int, int, int])

(1, 1, 0, 2)

In [14]:
@attrs
class Person:
    name = attrib()
    age = attrib()
  
    def tell_age(self):
        print(f'My name is {self.name} and my age is {self.age}.')

In [15]:
from attr import asdict

p1 = Person('Chris', 32)
asdict(p1)

{'age': 32, 'name': 'Chris'}

In [16]:
cattr.unstructure(p1)

{'age': 32, 'name': 'Chris'}

In [17]:
p2 = cattr.structure({'name': 'Chelsea', 'age': 1}, Person)

In [18]:
p2

Person(name='Chelsea', age=1)

In [19]:
p2.tell_age()

My name is Chelsea and my age is 1.

In [20]:
p_list_raw = [
  {'name': 'Alice', 'age': 20},
  {'name': 'Bob', 'age': 25},
  {'name': 'Chris', 'age': 32}
]

In [21]:
from typing import List

p_list = cattr.structure(p_list_raw, List[Person])

In [22]:
p_list

[Person(name='Alice', age=20),
 Person(name='Bob', age=25),
 Person(name='Chris', age=32)]

In [23]:
for p in p_list:
    p.tell_age()

My name is Alice and my age is 20.
My name is Bob and my age is 25.
My name is Chris and my age is 32.

In [24]:
import json

json_obj = json.dumps(cattr.unstructure(p_list))
print(json_obj)

[{"name": "Alice", "age": 20}, {"name": "Bob", "age": 25}, {"name": "Chris", "age": 32}]

In [25]:
p_list = cattr.structure(json.loads(json_obj), List[Person])
p_list

[Person(name='Alice', age=20),
 Person(name='Bob', age=25),
 Person(name='Chris', age=32)]

In [26]:
for p in p_list:
    p.tell_age()

My name is Alice and my age is 20.
My name is Bob and my age is 25.
My name is Chris and my age is 32.