[Reference](https://medium.com/geekculture/revising-python-concepts-a64cace1690c)

# Combine two lists as a dictionary

In [ ]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]
dictionary = dict(zip(keys, values))
print(dictionary)

{'a': 1, 'b': 2, 'c': 3}

# Merge two dictionaries into one

In [ ]:
x = {"a": 1, "b": 2}
y = {"b": 3, "c": 4}
z = {**x, **y}
print(z)

{'a': 1, 'b': 3, 'c': 4}

# Indexing strings

In [ ]:
a = "abcd"
x1 = a[-1]      # last item in the array
x2 = a[-2:]     # last two items in the array
x3 = a[:-2]     # everything except the last two items
x4 = a[::-1]    # all items in the array, reversed
x5 = a[1:3]     # index 1,2 (excluding 3)
print(x1)       # OUTPUT: d
print(x2)       # OUTPUT: cd
print(x3)       # OUTPUT: ab
print(x4)       # OUTPUT: dcba
print(x5)       # OUTPUT: bc

d
cd
ab
dcba
bc

# Appending vs Extending a Python List

In [ ]:
x = [1, 2, 3]
y = [4, 5]
x.append(y)
print(x)

[1, 2, 3, [4, 5]]

In [ ]:
x = [1, 2, 3]
y = [4, 5]
x.extend(y)
print(x)

[1, 2, 3, 4, 5]

In [ ]:
prog_language = ['Python', 'Java']
prog_language.append('Dart')
print(prog_language)

['Python', 'Java', 'Dart']

In [ ]:
num1 = [4, 5, 6]
num2 = [5, 6, 7]
result = num1 + num2
print(result)

[4, 5, 6, 5, 6, 7]

# Switch case in Python

In [ ]:
def numbers_to_strings(argument):
    # argument: key of a dictionary
    switcher = {
        0: "zero",
        1: "one",
        2: "two",
    }
    return switcher.get(argument, "Data Not Available")
if __name__ == "__main__":
    result = numbers_to_strings(1)
    print(result)                        # output: one

one

In [ ]:
def numbers_to_strings(argument):
    switcher = {
        0: "zero",
        1: "one",
        2: "two",
    }
    return switcher.get(argument, "Data Not Available")
if __name__ == "__main__":
    result = numbers_to_strings(4)
    print(result)

Data Not Available

# Open text file

In [ ]:
file = open('filename.txt')

In [ ]:
file = open('filename.txt')
try:
    # do whatever you want to do with your file.
finally:
    file.close()

In [ ]:
with open('filename.txt') as my_file:
    # do whatever you want to do with your file.

# Use generators inside a function

In [ ]:
x = sum(i for i in range(10))
print(x)

45

# Transpose a matrix

In [ ]:
x = [[31, 17], [40, 51], [13, 12]]
print(list(zip(*x)))

[(31, 40, 13), (17, 51, 12)]

# Built-in functions of List

In [ ]:
language = ["Python", "Java", "Dart"]
language.reverse()
print(language)

['Dart', 'Java', 'Python']

In [ ]:
x = [1, 2, 3, 4, 5, 6, 7, 8]
x.insert(0, 10)               # insert 10, at position 0
print(x)

[10, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
x = [1, 2, 3, 4, 1, 1]
print(x.count(1))

3

In [ ]:
x = [1, 2, 3, 4, 1, 1]
x.clear()
print(x)

[]

In [ ]:
x = ["a", "b", "c", "d", "e", "f"]
print(x.index("d"))

3

In [ ]:
x = ["a", "b", "c", "d", "e", "f"]
print(len(x))

6

In [ ]:
x = ["a", "b", "c", "d", "e", "f"]
print(x.pop())             # output: f
print(x)                   # output: ['a', 'b', 'c', 'd', 'e']

f
['a', 'b', 'c', 'd', 'e']

In [ ]:
x = [2, 1, 3, 5, 4]
x.sort()                # sort in ascending order
print(x)                # output: [1, 2, 3, 4, 5]
y = [2, 1, 3, 5, 4]
y.sort(reverse=True)    # sort in descending order
print(y)                # output: [5, 4, 3, 2, 1]

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [ ]:
x = [2, 1, 3, 5, 4, 3, 3]
x.remove(3)                      # remove the first occurrence of 3
print(x)                         # output: [2, 1, 5, 4, 3, 3]

[2, 1, 5, 4, 3, 3]

# Remove all occurrences of an item from a list

In [ ]:
# remove all 2 from the list 
a = [1, 2, 3, 2, 2, 2, 3, 4]
b = filter(lambda x: x != 2, a)
print(list(b))
# output: [1, 3, 3, 4]

[1, 3, 3, 4]

In [ ]:
a = [1, 2, 3, 2, 2, 2, 3, 4]
b = filter((2).__ne__, a)
print(list(b))
# output: [1, 3, 3, 4]

[1, 3, 3, 4]

# Find min/max from a list of int/str

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
min_a = min(a)
max_a = max(a)
print(min_a)       # OUTPUT: 1
print(max_a)       # OUTPUT: 10

1
10

In [ ]:
a = ["flower", "flow", "flights"]
min_a = min(a)
max_a = max(a)
print(min_a)       # OUTPUT: flights
print(max_a)       # OUTPUT: flower

flights
flower

In [ ]:
a = ["flower", "flow", "flights"]
min_a = min(a, key=len)
max_a = max(a, key=len)
print(min_a)      # OUTPUT: flow
print(max_a)      # OUTPUT: flights

flow
flights

# The difference among remove, del, pop

In [ ]:
x = [2, 1, 4, 3]
x.remove(1)
print(x)

[2, 4, 3]

In [ ]:
x = [2, 1, 4, 3]
del x[0]                           # delete the item in index 0
print(x)

[1, 4, 3]

In [ ]:
x = [2, 1, 4, 3]
print(x.pop(0))

2

# When to use: List vs Tuple vs Set

In [ ]:
x = set(["foo", "bar", "baz", "foo", "qux"])
print(type(x))             # output: <class 'set'>
print(x)                   # output: {'qux', 'baz', 'foo', 'bar'}

# another way to define set
x = {"foo", "bar", "baz", "foo", "qux"}
print(x)

<class 'set'>
{'qux', 'foo', 'baz', 'bar'}
{'qux', 'foo', 'baz', 'bar'}

In [ ]:
x = {42, "foo", (1, 2, 3), 3.14159}
print(x)

{'foo', 42, 3.14159, (1, 2, 3)}

# Common operations in set

In [ ]:
x = {"a", "b", "c", "d"}
y = {"b", "d", "a", "e"}
z1 = x | y
z2 = x.union(y)
print(z1)                    # output: {'d', 'e', 'c', 'b', 'a'}
print(z2)

{'a', 'b', 'e', 'd', 'c'}
{'a', 'b', 'e', 'd', 'c'}

In [ ]:
a = {1, 2, 3, 4}
b = {2, 3, 4, 5}
c = {3, 4, 5, 6}
d = {4, 5, 6, 7}
union = a.union(b, c, d)
intersection = a.intersection(b, c, d)
print(union)                 # output: {1, 2, 3, 4, 5, 6, 7}
print(intersection)

{1, 2, 3, 4, 5, 6, 7}
{4}

# Check the memory usage

In [ ]:
import sys
a, b, c, d = "abcde", "xy", 2, 15.06
print(sys.getsizeof(a))
print(sys.getsizeof(b))
print(sys.getsizeof(c))
print(sys.getsizeof(d))

54
51
28
24

# *args and **kwargs

In [ ]:
def sum_lists(*args):
    return list(map(sum, zip(*args)))
a = [1, 2, 3]
b = [1, 2, 3]
c = [2, 3, 4]
result = sum_lists(a, b, c)
print(result)
# output: [4, 7, 10]

[4, 7, 10]

In [ ]:
def get_move_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key} = {value}")
print()
if __name__ == "__main__":
# movie info 1
    get_move_info(
        name="Interstellar", 
        release_year=2014,  
        director="Christopher Nolan")
# movie info 2
    get_move_info(
    name="The Machinist",
    release_year=2004,
    director="Brad Anderson",
    lead_actor="Christian Bale")

name = Interstellar
release_year = 2014
director = Christopher Nolan
name = The Machinist
release_year = 2004
director = Brad Anderson
lead_actor = Christian Bale

In [ ]:
def information(**data):
    for key, value in data.items():
        print(f"{key}: {value}")
    print()
if __name__ == "__main__":
    information(
            Firstname="Sadman", 
            Lastname="Soumik", 
            Age=26, 
            Phone=1234567890
    )
    information(
            Firstname="John",
            Lastname="Wood",
            Email="johnwood@nomail.com",
            Country="Wakanda",
            Age=25,
            Phone=9876543210,
        )

Firstname: Sadman
Lastname: Soumik
Age: 26
Phone: 1234567890

Firstname: John
Lastname: Wood
Email: johnwood@nomail.com
Country: Wakanda
Age: 25
Phone: 9876543210

# Check if a file exists

In [ ]:
import os
if os.path.isfile(filepath):       # filepath = location of the file
   print("File exists")

# Check if a directory exists, if not, create the directory

In [ ]:
SAVE_DIR = "target_dir"  
if not os.path.exists(SAVE_DIR):        
    os.makedirs(SAVE_DIR)

# Lambda, Map, and Filter

In [ ]:
# a function that adds 10 with every number
def add_ten(x):
    return x + 10
x = [1, 2, 3, 4]
ans = map(add_ten, x)
print(list(ans))

[11, 12, 13, 14]

In [ ]:
seq = [1, 2, 3, 4]
result = filter(lambda x: x + 1, seq)
print(list(result))

[1, 2, 3, 4]

In [ ]:
seq = [1, 2, 3, 4]
result = filter(lambda x: x + 1, seq)
print(list(result))

[1, 2, 3, 4]

In [ ]:
def even_numbers(num):
    # return the numbers which are only divisible by 2
    return num % 2 == 0
db = [1, 2, 3, 4, 5, 6, 7, 8, 9]
even_numbers = filter(even_numbers, db)
print(list(even_numbers))

[2, 4, 6, 8]

# Collections module

## Find the most frequent element in a list

In [52]:
from collections import Counter

words = ["a", "b", "c", "a", "b", "a"]

print(dict(Counter(words)))
# {'a': 3, 'b': 2, 'c': 1}
print(list(Counter(words).keys()))
# ['a', 'b', 'c']
print(list(Counter(words).values()))
# [3, 2, 1]

{'a': 3, 'b': 2, 'c': 1}
['a', 'b', 'c']
[3, 2, 1]

In [53]:
from collections import Counter


def most_frequent(lst):
    data = Counter(lst)
    return data.most_common(1)  # returns most frequent 1 element


list = [2, 1, 2, 2, 1, 3, 3, 3, 2]
print(most_frequent(list))

[(2, 4)]

In [54]:
from collections import Counter


def most_frequent(lst):
    data = Counter(lst)
    return data.most_common(1)[0][0]      
               # [0][0] is the first element of a matrix

list = [2, 1, 2, 2, 1, 3, 3, 3, 2]
print(most_frequent(list))

2

## Creating class using namedtuple

In [55]:
class Transaction:
    def __init__(self, amount, sender, receiver, date):
        self.amount = amount
        self.sender = sender
        self.receiver = receiver
        self.date = date
trnsaction_1 = Transaction(100, "Alice", "Bob", "2019-01-01")
print(trnsaction_1.receiver)

Bob

In [56]:
from collections import namedtuple
Transaction = namedtuple('Transaction', ["amount", "sender", "receiver", "date"])
transaction_1 = Transaction(amount=100, sender="Alice", receiver="Bob", date="2019-01-01")
print(transaction_1.receiver)

Bob

In [57]:
print(transaction_1._asdict())

OrderedDict([('amount', 100), ('sender', 'Alice'), ('receiver', 'Bob'), ('date', '2019-01-01')])

## Create dictionaries using defaultdict from collections module.

In [61]:
from collections import defaultdict

employee_record = [
    ("Kabir", "ML", "level-b"),
    ("Sunehra", "SDE", "level-b"),
    ("Smith", "ML", "level-c"),
    ("William", "HR", "level-c"),
]

employee_name_by_dept = defaultdict(list)

for name, dept, level in employee_record:
    employee_name_by_dept[dept].append(name) # dept as key, name as values

print(dict(employee_name_by_dept))

## deque from collections module

In [64]:
from collections import deque


employee_list = ["Soumik", "Jamie", "Smith"]
employee_list_deque = deque(employee_list)

# O(1) time performance
employee_list_deque.appendleft("Sunehra")
print(list(employee_list_deque))

## Creating a list of dictionaries from multiple dictionaries

In [63]:
from collections import ChainMap

salary = {"SDE": 100000, "HR": 80000, "MTO": 60000}
office_hq = {"Asia": "Singapore", "Europe": "Dublin", "North America": "USA"}
age_limit = {"SDE": 40, "HR": 50}

employee_info = ChainMap(salary, office_hq, age_limit)
print(employee_info.maps)

[{'SDE': 100000, 'HR': 80000, 'MTO': 60000}, {'Asia': 'Singapore', 'Europe': 'Dublin', 'North America': 'USA'}, {'SDE': 40, 'HR': 50}]

## Create ordered dictionary using OrderedDict

In [65]:
import collections

# remembers the order
d = collections.OrderedDict()
d["A"] = 65
d["C"] = 67
d["B"] = 66
d["D"] = 68

for key, value in d.items():
    print(key, value)

A 65
C 67
B 66
D 68

# Object-Oriented Programming concepts

## Creating class in Python

In [66]:
class Transaction:
    def __init__(self, sender, recipient, amount):
        self.sender = sender
        self.recipient = recipient
        self.amount = amount
    def __str__(self):
        return f"{self.sender} -> {self.recipient} : {self.amount}"

if __name__ == "__main__":
    transaction_1 = Transaction("Alice", "Bob", 100)
    print(transaction_1)

Alice -> Bob : 100

## Inheritance in Python

In [67]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
    def __str__(self):
        return f"{self.name} earns {self.salary}"

if __name__ == "__main__":
    e1 = Employee("John", 100)
    print(e1)

John earns 100

In [68]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
    def __str__(self):
        return f"{self.name} earns {self.salary}"

class Manager(Employee):
    def __init__(self, name, salary, bonus):
        super().__init__(name, salary)
        self.bonus = bonus
    def __str__(self):
        return f"{self.name} earns {self.salary} and gets  {self.bonus} bonus"

if __name__ == "__main__":
    e1 = Employee("John", 100)
    e2 = Manager("John", 100, 10)
    print(e2)

John earns 100 and gets  10 bonus

## Polymorphism in Python

In [69]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
    def full_name(self, first_name=None, last_name=None):
        if first_name and last_name:
            return f"{first_name} {last_name}"
        else:
            return f"{self.name}"
if __name__ == "__main__":
    employee = Employee("John", 10000)
    print(employee.full_name())
    print(employee.full_name("John", "Doe"))

John
John Doe

## Method Overriding in Python

In [70]:
class Dog:
    def bark(self):
        print("WOOF")

class BobyDog(Dog):
    def bark(self):
        print("WoOoOoF!")
if __name__ == "__main__":
    big_dog = Dog()
    big_dog.bark()
    baby_dog = BobyDog()
    baby_dog.bark()

WOOF
WoOoOoF!

## Encapsulation in Python

In [71]:
class Human:
    def __init__(self):
        self.__var = "private variable"
        self.var = "public variable"
    def print_var(self):
        # we can access the private variable in the class
        print(self.__var)
if __name__ == "__main__":
    h = Human()
    h.print_var()        # prints "private variable"
    
    print(h.var)         # prints "public variable"
    
    # private variable cannot be accessed outside the class 
    print(h.__var)       # does not work, will give error

private variable
public variable

AttributeError: ignored