[Reference](https://muhammadanas0716.medium.com/tuples-advanced-python-part-2-1398d7b3f385)

In [1]:
my_tuple = ("Max", 28, "New York")

# Creating Tuples

In [2]:
tuple_1 = ("Max", 28, "New York")
tuple_2 = "Linda", 25, "Miami" # Parentheses are optional

In [3]:
tuple_3 = (25,)
print(tuple_1)  # ('Max', 28, 'New York')
print(tuple_2) # ('Linda', 25, 'Miami')
print(tuple_3) # (25,)

('Max', 28, 'New York')
('Linda', 25, 'Miami')
(25,)

In [4]:
tuple_4 = tuple([1,2,3])
print(tuple_4) # (1, 2, 3)

(1, 2, 3)

# Accessing Elements, letâ€™s catch em!

In [5]:
item = tuple_1[0]
print(item) # Max

Max

In [6]:
item = tuple_1[-1]
print(item) # New York

New York

In [7]:
# tuple_1[2] = "Boston"

# # Output
# # ---------------------------------------------------------------------------
# # TypeError                                 Traceback (most recent call last)
# # <ipython-input-7-c391d8981369> in <module>
# # ----> 1 tuple_1[2] = "Boston"

# # TypeError: 'tuple' object does not support item assignment

# Deleting a Tuple

In [8]:
del tuple_2 # This will delete tuple_2

# Iterating

In [9]:
for i in tuple_1:
    print(i)

Max
28
New York

# Check the existence of an item!

In [10]:
if "New York" in tuple_1:
    print("yes")
else:
    print("no")

yes

# Worthwhile Tuple Methods

In [11]:
my_tuple = ('a','p','p','l','e',)
# len() : get the number of elements in a tuple
print(len(my_tuple)) 

# count(x) : Return the number of items that is equal to x
print(my_tuple.count('p')) 

# index(x) : Return index of first item that is equal to x
print(my_tuple.index('l'))

# repetition
my_tuple = ('a', 'b') * 5
print(my_tuple) 

# concatenation
my_tuple = (1,2,3) + (4,5,6)
print(my_tuple) 

# convert list to a tuple and vice versa
my_list = ['a', 'b', 'c', 'd']
list_to_tuple = tuple(my_list)
print(list_to_tuple) 

tuple_to_list = list(list_to_tuple)
print(tuple_to_list) 

# convert string to tuple
string_to_tuple = tuple('Hello')
print(string_to_tuple)

5
2
3
('a', 'b', 'a', 'b', 'a', 'b', 'a', 'b', 'a', 'b')
(1, 2, 3, 4, 5, 6)
('a', 'b', 'c', 'd')
['a', 'b', 'c', 'd']
('H', 'e', 'l', 'l', 'o')

# Slicing

In [12]:
# a[start:stop:step], default step is 1
a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
b = a[1:3] # Note that the last index **(n-1)** is not included
print(b)
b = a[2:] # From 2nd index till the last index
print(b)
b = a[:3]  # From beginning till the 2nd index
print(b)
b = a[::2] # Start to end with every second item
print(b)
b = a[::-1] # Reverse the Tuple
print(b)

(2, 3)
(3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3)
(1, 3, 5, 7, 9)
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

# Unpacking Tuples

In [13]:
tuple_1 = ("Max", 28, "New York")
name, age, city = tuple_1
print(name) # Max
print(age) # 28
print(city) # New York

Max
28
New York

In [14]:
my_tuple = (0, 1, 2, 3, 4, 5)
item_first, *items_between, item_last = my_tuple
print(item_first) # 0
print(items_between) # [1, 2, 3, 4]
print(item_last) # 5

0
[1, 2, 3, 4]
5

# Nested tuples

In [15]:
a = ((0, 1), ('age', 'height'))
print(a) # ((0, 1), ('age', 'height'))
print(a[0]) # (0, 1)

((0, 1), ('age', 'height'))
(0, 1)

# Tuple VS List

In [16]:
import sys
my_list = [0, 1, 2, "hello", True]
my_tuple = (0, 1, 2, "hello", True)
print(sys.getsizeof(my_list), "bytes") 
print(sys.getsizeof(my_tuple), "bytes")

96 bytes
80 bytes

In [17]:
import timeit
print(timeit.timeit(stmt="[0, 1, 2, 3, 4, 5]", number=1000000))
print(timeit.timeit(stmt="(0, 1, 2, 3, 4, 5)", number=1000000))

0.2422974450000197
0.026282993999984683