[Reference](https://towardsdatascience.com/understanding-advanced-functions-in-python-with-codes-and-examples-2e68bbb04094)

In [1]:
def squares(num):
    square = num * num 
    # You can also write square = num ** 2
    return square
    
squares(5)

25

In [2]:
f = lambda x:x**2
f(5)

25

In [3]:
def even(a):
    new_list = []
    for i in a:
        if i%2 == 0:
            new_list.append(i)
    return(new_list)
    
a = [1,2,3,4,5]
even(a)

[2, 4]

In [4]:
a = [1, 2, 3, 4, 5]
even = list(filter(lambda x: (x%2 == 0), a))
print(even)

[2, 4]

In [5]:
def square(a):
    new_list = []
    for i in a:
        i = i*i
        new_list.append(i)
    return(new_list)
    
a = [1,2,3,4,5]
square(a)

[1, 4, 9, 16, 25]

In [6]:
a = [1, 2, 3, 4, 5]
squares = list(map(lambda x: x ** 2, a))
print(squares)

[1, 4, 9, 16, 25]

In [7]:
def prod(a):
    product = 1
    for i in a:
        product = product*i
    return product

a = [1,2,3,4,5]
prod(a)

120

In [8]:
from functools import reduce

a = [1, 2, 3, 4, 5]
product = reduce(lambda x, y: x*y, a)
print(product)

120