[Reference](https://medium.com/towards-artificial-intelligence/what-is-unpacking-in-python-5bd22954ce4d)

# Using list, tuple & string

In [1]:
x, y, z = 10, 20, 30
print("x = {0}, y = {1}, z = {2}".format(x, y, z))

x = 10, y = 20, z = 30

In [2]:
# list example
x, y, z = [40, 50, 60]
print("x = {0}, y = {1}, z = {2}".format(x, y, z))

x = 40, y = 50, z = 60

In [3]:
# tuple example
x, y, z = (70, 80, 90)
print("x = {0}, y = {1}, z = {2}".format(x, y, z))

x = 70, y = 80, z = 90

In [4]:
# string example
w, x, y, z = 'Data'
print("w = {0}, x = {1}, y = {2}, z = {3}".format(w, x, y, z))

w = D, x = a, y = t, z = a

# Using sets and dictionaries

In [5]:
# dictionary example
x, y, z = {'k1': 101, 'k2':102, 'k3': 103}
print("x = {0}, y = {1}, z = {2}".format(x, y, z))

x = k1, y = k2, z = k3

In [6]:
# set example
x, y, z = {104, 105, 106}
print("x = {0}, y = {1}, z = {2}".format(x, y, z))

x = 104, y = 105, z = 106

# * Operator

In [7]:
# list example
x, *y = [100, 200, 300]
print("x = {0}, y = {1}".format(x, y))

x = 100, y = [200, 300]

In [8]:
# tuple example
x, *y, z = (400, 500, 600, 700)
print("x = {0}, y = {1}, z = {2}".format(x, y, z))

x = 400, y = [500, 600], z = 700

In [9]:
# string example
x, *y = 'Data'
print("x = {0}, y = {1}".format(x, y))

x = D, y = ['a', 't', 'a']

In [10]:
x, *y, z = [100, 'Data', 'Science', 200]
print("x = {0}, y = {1}, z = {2}".format(x, y, z))

x = 100, y = ['Data', 'Science'], z = 200

In [11]:
# set example 2
x, *y, z = {100, 200, 300, 400, 500}
print("x = {0}, y = {1}, z = {2}".format(x, y, z))

x = 100, y = [200, 300, 400], z = 500

In [12]:
# dictionary example 1
x, *y = {'key1':100, 'key2': 200, 'key3':300}
print("x = {0}, y = {1}".format(x, y))

x = key1, y = ['key2', 'key3']

In [13]:
# dictionary example 2
x, *y, z = {'key1':100, 'key2':200, 'key3':300, 'key4':400, 'key5':500}
print("x = {0}, y = {1}, z = {2}".format(x, y, z))

x = key1, y = ['key2', 'key3', 'key4'], z = key5

# ** Operator

In [14]:
d1 = {'k1':10, 'k2':20}
d2 = {'k3':30, 'k4':40}
d3 = {'k5':50, 'k6':60}

dict_1 = {*d1, *d2, *d3}
dict_2 = {**d1, **d2, **d3}
print('*  operator: ', dict_1)
print('** operator: ', dict_2)

*  operator:  {'k3', 'k2', 'k4', 'k5', 'k6', 'k1'}
** operator:  {'k1': 10, 'k2': 20, 'k3': 30, 'k4': 40, 'k5': 50, 'k6': 60}

In [15]:
d1 = {'k1':10, 'k2':20}
d2 = {'k3':30, 'k4':40}
d3 = {'k4':50, 'k6':60}

dict_1 = {*d1, *d2, *d3}
dict_2 = {**d1, **d2, **d3}
print('*  operator: ', dict_1)
print('** operator: ', dict_2)

*  operator:  {'k3', 'k2', 'k4', 'k6', 'k1'}
** operator:  {'k1': 10, 'k2': 20, 'k3': 30, 'k4': 50, 'k6': 60}

# Nested unpacking

In [16]:
a, b, c = [10, 20, (30, 40, 50)]
print("a = {0}, b = {1}, c = {2}".format(a, b, c))

a = 10, b = 20, c = (30, 40, 50)

In [17]:
a, b, (c, d, e) = [10, 20, (30, 40, 50)]
print("a = {0}, b = {1}, c = {2}, d = {3}, e = {4}".format(a, b, c, d, e))

a = 10, b = 20, c = 30, d = 40, e = 50

In [18]:
a, *b, (c, d, e, f) = [10, 20, 30, ('Data')]
print("a = {0}, b = {1}, c = {2}, d = {3}, e = {4}, f = {5}".format(a, b, c, d, e, f))

a = 10, b = [20, 30], c = D, d = a, e = t, f = a

In [19]:
# * Operator should be used only once on LHS. But in this case its nested so this is accepted
a, *b, (c, *d, e) = [10, 20, 30, ('Medium')]
print("a = {0}, b = {1}, c = {2}, d = {3}, e = {4}".format(a, b, c, d, e))

a = 10, b = [20, 30], c = M, d = ['e', 'd', 'i', 'u'], e = m