[Reference](https://codefather-tech.medium.com/how-do-you-use-json-in-python-lets-find-out-codefather-601e3c44a867)

In [1]:
user = {'name': 'John', 'email': 'test@email.com'}
type(user)

dict

# What is JSON Dumps in Python?

In [2]:
import json
user_json = json.dumps(user)
print(user_json)
type(user)

{"name": "John", "email": "test@email.com"}

dict

# What is JSON Loads in Python?

In [5]:
user = json.loads(user_json)
print(user)
type(user)

{'name': 'John', 'email': 'test@email.com'}

dict

# How Do You Read a JSON File in Python?

In [6]:
[
  { 
    "userId": 1,
    "postId": 1,
    "title": "How to Convert a JSON Object into a Python Object"
  },
  { 
    "userId": 1,
    "postId": 2,
    "title": "How to Convert a Python Object into a JSON Object"
  }
]

[{'postId': 1,
  'title': 'How to Convert a JSON Object into a Python Object',
  'userId': 1},
 {'postId': 2,
  'title': 'How to Convert a Python Object into a JSON Object',
  'userId': 1}]

In [7]:
import json
with open('posts.json') as json_file:
     data = json.load(json_file)
 
print(data)

In [8]:
print(type(data[0]))
print(data[0]['title'])

# How Do You Write a JSON File in Python?

In [9]:
data = [{'userId': 1, 'postId': 1, 'title': 'How to Convert a JSON Object into a Python Object'}, {'userId': 1, 'postId': 2, 'title': 'How to Convert a Python Object into a JSON Object'}]

In [10]:
data[0]['body'] = ''

In [11]:
data[1]['body'] = ''

In [12]:
print(data)

[{'userId': 1, 'postId': 1, 'title': 'How to Convert a JSON Object into a Python Object', 'body': ''}, {'userId': 1, 'postId': 2, 'title': 'How to Convert a Python Object into a JSON Object', 'body': ''}]

In [13]:
with open('posts.json') as json_file:
     json.dump(data, json_file)

FileNotFoundError: ignored

In [14]:
with open('posts.json', 'w') as json_file:
     json.dump(data, json_file)

In [15]:
with open('posts.json') as json_file:
     print(json_file.read())

[{"userId": 1, "postId": 1, "title": "How to Convert a JSON Object into a Python Object", "body": ""}, {"userId": 1, "postId": 2, "title": "How to Convert a Python Object into a JSON Object", "body": ""}]

# JSON Conversion Table in Python

In [16]:
weekdays_json = '["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]'

In [17]:
import json
weekdays = json.loads(weekdays_json)
print(weekdays)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [18]:
print(weekdays[2])

Wednesday

In [19]:
json_value = '{"weekdays": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]}'
value = json.loads(json_value)
print(value)
print(type(value))

{'weekdays': ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']}
<class 'dict'>

In [20]:
print(type(value['weekdays']))

<class 'list'>

# Converting Boolean, Numeric and Null Values from JSON to Python

In [21]:
json_value = '{"value1": true, "value2": false, "value3": 1, "value4": 3.4, "value5": null}'
value = json.loads(json_value)
print(value)

{'value1': True, 'value2': False, 'value3': 1, 'value4': 3.4, 'value5': None}

In [24]:
print(type(value['value1']))
print(type(value['value2']))
print(type(value['value3']))
print(type(value['value4']))
print(type(value['value5']))

<class 'bool'>
<class 'bool'>
<class 'int'>
<class 'float'>
<class 'NoneType'>

In [25]:
print(value)

{'value1': True, 'value2': False, 'value3': 1, 'value4': 3.4, 'value5': None}

In [26]:
json_value = json.dumps(value)
print(json_value)

{"value1": true, "value2": false, "value3": 1, "value4": 3.4, "value5": null}

# How to Pretty Print JSON Data

In [27]:
print(json_value)

{"value1": true, "value2": false, "value3": 1, "value4": 3.4, "value5": null}

In [28]:
print(json.dumps(value, indent=0))

{
"value1": true,
"value2": false,
"value3": 1,
"value4": 3.4,
"value5": null
}

In [29]:
print(json.dumps(value, indent=1))

{
 "value1": true,
 "value2": false,
 "value3": 1,
 "value4": 3.4,
 "value5": null
}

In [30]:
print(json.dumps(value, indent=2))

{
  "value1": true,
  "value2": false,
  "value3": 1,
  "value4": 3.4,
  "value5": null
}

# Separators For JSON Objects in Python

In [31]:
print(json.dumps(value, indent=2))

{
  "value1": true,
  "value2": false,
  "value3": 1,
  "value4": 3.4,
  "value5": null
}

In [32]:
print(json.dumps(value, indent=2, separators=(',',':')))

{
  "value1":true,
  "value2":false,
  "value3":1,
  "value4":3.4,
  "value5":null
}

In [33]:
user = {'name': 'John', 'surname': 'Red', 'age':35}
print(json.dumps(user))

{"name": "John", "surname": "Red", "age": 35}

In [34]:
print(json.dumps(user, sort_keys=True))

{"age": 35, "name": "John", "surname": "Red"}

# Using a For Loop to Print Elements in a JSON Array

In [35]:
{
  "users": [
    {
      "id": 1,
      "first_name": "John",
      "last_name": "Red",
      "email": "johnred@example.com"
    },
    {
      "id": 2,
      "first_name": "Mike",
      "last_name": "Yellow",
      "email": "mikeyellow@example.com"
    },
    {
      "id": 3,
      "first_name": "Jane",
      "last_name": "Green",
      "email": "janegreen@example.com"
    }
  ]
}

{'users': [{'email': 'johnred@example.com',
   'first_name': 'John',
   'id': 1,
   'last_name': 'Red'},
  {'email': 'mikeyellow@example.com',
   'first_name': 'Mike',
   'id': 2,
   'last_name': 'Yellow'},
  {'email': 'janegreen@example.com',
   'first_name': 'Jane',
   'id': 3,
   'last_name': 'Green'}]}

# How to Get JSON From an API Using Python

In [36]:
import urllib.request
response = urllib.request.urlopen('https://dog.ceo/api/breeds/list/all').read().decode()

In [37]:
print(response[:200])

{"message":{"affenpinscher":[],"african":[],"airedale":[],"akita":[],"appenzeller":[],"australian":["shepherd"],"basenji":[],"beagle":[],"bluetick":[],"borzoi":[],"bouvier":[],"boxer":[],"brabancon":[

In [38]:
import json
data = json.loads(response)
print(type(data))

<class 'dict'>