[Reference](https://medium.com/techtofreedom/5-levels-of-using-sets-in-python-fd126e360458)

In [1]:
s = {1, 2, 2, 2, 3}
print(s)  # duplicate numbers were removed
# {1, 2, 3}

s = {1, 2, (3, 4)} # tuple is an immutable type
print(s)
# {1, 2, (3, 4)}

s = {1, 2, [3, 4]}  # can't contain a mutable type

{1, 2, 3}
{1, 2, (3, 4)}

TypeError: ignored

In [5]:
leaders = ["Branden", "Elon Mask", "Branden"]
unique_leaders = list(set(leaders))
print(unique_leaders)

['Branden', 'Elon Mask']

In [3]:
s = {1,2,3,4}
type(s)

set

In [6]:
s = set([1,2,3,4])
type(s)

set

In [7]:
d = {1: "Y", 2: "A", 3: "N", 4: "G"}
s = set(d) # Use its keys by default
print(s)
# {1, 2, 3, 4}
s2 = set(d.values())
print(s2)

{1, 2, 3, 4}
{'Y', 'G', 'A', 'N'}

In [8]:
s = {i for i in range(10)}
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}