[Reference](https://medium.com/analytics-vidhya/the-art-of-one-lining-in-python-1b96fc6fc5a9)

In [1]:
if 10 % 2 == 0:
  print('Even!')
else:
  print("Odd!")

Even!

In [2]:
print("Even!" if 10 % 2 == 0 else "Odd!") # Value = Even!

Even!

In [3]:
nums = []
for n in range(10):
  nums.append(n)

In [4]:
nums = [n for n in range(10)] # Value = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
nums = [n for n in range(10) if n % 2 == 0] # Value = [1, 3, 5, 7, 9]
nums

[0, 2, 4, 6, 8]

In [6]:
nums = [ x for y in range(5) for x in range(y) ] # Value = [0, 0, 1, 0, 1, 2, 0, 1, 2, 3]
nums

[0, 0, 1, 0, 1, 2, 0, 1, 2, 3]

In [7]:
nums = []
for y in range(5):
  for x in range(y):
    nums.append(x)

In [8]:
nums = [1, 1, 1, 2, 2, 3]
set_nums = set(nums) # Value = {1, 2, 3}
set_nums

{1, 2, 3}

In [9]:
min([5, 3, 1, 4]) # Value = 1

1

In [10]:
max([5, 3, 1, 4]) # Value = 5

5

In [11]:
sum([5, 3, 1, 4]) # Value = 13

13

In [12]:
not_nums = ['1', '2', '3']
nums = list(map(int, not_nums)) # Value = [1, 2, 3]

In [13]:
nums = [2, 4, 5, 6, 7]
nums = list(filter(lambda x: x % 2 == 0, nums)) # Value = [2, 4, 6]

In [14]:
N = 167 #
num = 163 if N >= 163 else N # Value = 163

In [15]:
inp = [1, 2, 3, 4, 5]
# if-then-else with list comprehension

nums = [x for x in inp if x % 2 == 0]

# With Filter

nums = list(filter(lambda x: x % 2 == 0, inp))
nums

[2, 4]

In [16]:
inp = '1 2 3' # Input string
nums = list(map(int, inp.split())) # Value = [1, 2, 3]
nums

[1, 2, 3]

In [17]:
inp = '1 2 3' # Input string
nums = sum(list(map(int, inp.split()))) # Value = 6
nums

6

In [18]:
inp = '1 1 1 2 2 3' # Input string
nums = len(set(map(int, inp.split()))) # Value = 3
nums

3

In [19]:
inp = [ [1, 2, 3], [4, 5, 6], [7, 8, 9] ]
nums = [x for y in inp for x in y] # Value = [1, 2, 3, 4, 5, 6, 7, 8, 9]
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
N = 5
nums = [ [x for x in range(y * n, (y + 1) * n)] for y in range(n)]
nums

[[0, 1, 2, 3, 4, 5, 6, 7, 8],
 [9, 10, 11, 12, 13, 14, 15, 16, 17],
 [18, 19, 20, 21, 22, 23, 24, 25, 26],
 [27, 28, 29, 30, 31, 32, 33, 34, 35],
 [36, 37, 38, 39, 40, 41, 42, 43, 44],
 [45, 46, 47, 48, 49, 50, 51, 52, 53],
 [54, 55, 56, 57, 58, 59, 60, 61, 62],
 [63, 64, 65, 66, 67, 68, 69, 70, 71],
 [72, 73, 74, 75, 76, 77, 78, 79, 80]]

In [21]:
inp1 = 'abcdcba'
inp2 = 'aab'

# Check if letter n is equal to letter length-n and store it in an array

pal1 = min([inp1[x] == inp1[len(inp1) - x - 1] for x in range(len(inp1))]) # True
pal2 = min([inp2[x] == inp2[len(inp2) - x - 1] for x in range(len(inp2))]) # False