[Reference](https://oliviawl.medium.com/10-useful-python-tricks-check-wether-you-know-them-all-cb97489b6985)

# 1. Merge two dictionaries

In [ ]:
# using ** to unzip dictionary
def merge_dict(dict1, dict2):
    merged_dict = {**dict1, **dict2}
    return merged_dict
dict1 = {"programming language1": "python"}
dict2 = {"programming language2": "java"}
dict3 = merge_dict(dict1, dict2)
print(dict3)

{'programming language1': 'python', 'programming language2': 'java'}

# 2. Chain Comparison

In [ ]:
date = "2021-5-20"
num = 2
print("2020-5-1" < date < "2021-5-31")
print(2 == num > 5)

True
False

# 3. Find the Most Frequent Element Appeared in the List

In [ ]:
def most_frequent(list_):
    n = max(set(list_), key = list_.count)
    return n
list_ = [1, 1, 2, 2, 3, 3, 3]
print(most_frequent(list_))

3

# 4. Convert two lists to a dictionary

In [ ]:
def list_to_dict(key, value):
    return dict(zip(key, value))
key = ["name", "age", "city"]
value = ["Olivia", "24", "San Diego"]
print(list_to_dict(key, value))

{'name': 'Olivia', 'age': '24', 'city': 'San Diego'}

# 5. Return a value to return if the specified key does not exist

In [ ]:
dict_ = {'name': 'Olivia', 'age': '24', 'city': 'San Diego'}
print(dict_.get('name'),  dict_.get('gender', 'Female')) # 'gender' does not exist in dict_

Olivia Female

# 6. Filter certain elements in a list

In [ ]:
# find odd numbers in the list
nums = [0, 1, 2, 3, 4, 5, 6, 7, 8] 
odd_nums = filter(lambda x: x % 2 != 0, nums)
print(list(odd_nums))

[1, 3, 5, 7]

# 7. Map functions to every element in the list

In [ ]:
animal_list = ["dog", "dog", "dog", "cat", "cat", "cat", "panda"]
 
# here we intend to change all animal names
# to upper case and return the same
uppered_animals = list(map(lambda animal: str.upper(animal), animal_list))
 
print(uppered_animals)

['DOG', 'DOG', 'DOG', 'CAT', 'CAT', 'CAT', 'PANDA']

# 8. Count word frequency

In [ ]:
from collections import Counter
animal_list = ["dog", "dog", "dog", "cat", "cat", "cat", "panda"]
result = Counter(animal_list)
print(result)

Counter({'dog': 3, 'cat': 3, 'panda': 1})

# 9. Apply functions with conditions

In [ ]:
def add(x, y):
    return x+y
def divide(x, y):
    return x/y
x, y = 1, 2
result = (add if x > y else divide)(x, y)
print(result)

0.5

# 10. Remove duplicated elements in the list

In [ ]:
# Method 1
def remove_duplicate(list_):
    return list(set(list_))
list_ = [1, 1, 1, "Olivia", "Olivia", "John", "John"]
print(remove_duplicate(list_))

[1, 'Olivia', 'John']

In [ ]:
# Method 2
list_ = [1, 1, 1, "Olivia", "Olivia", "John", "John"]
result = []
[result.append(x) for x in list_ if x not in result]
print(result)

[1, 'Olivia', 'John']