[Reference](https://python.plainenglish.io/5-python-features-that-has-made-me-less-miserable-d0342cfde9f1?gi=60fc40d9fcad)

# 1) Tuple Unpacking

In [ ]:
dog = ["pipi", 6, "poodle", "male", "brown"]
name = dog[0]
age = dog[1]
breed = dog[2]
gender = dog[3]
color = dog[4]

In [ ]:
name, age, breed, gender, color = dog

# 2) Pprint (Pretty-Print)

In [ ]:
dogs = [
    ["pipi", 6, "poodle", "male", ["brown"]],
    ["rocky", 8, "german shepherd", "male", ["brown", "black"]],
    ["fifi", 15, "german shepherd", "female", ["brown", "black"]],
    ["lexi", 2, "mongrel", "female", ["yellow"]],
]

In [ ]:
print(dogs)

[['pipi', 6, 'poodle', 'male', ['brown']], ['rocky', 8, 'german shepherd', 'male', ['brown', 'black']], ['fifi', 15, 'german shepherd', 'female', ['brown', 'black']], ['lexi', 2, 'mongrel', 'female', ['yellow']]]

In [ ]:
for dog in dogs:
    print(dog)# this prints each dog list line by line

['pipi', 6, 'poodle', 'male', ['brown']]
['rocky', 8, 'german shepherd', 'male', ['brown', 'black']]
['fifi', 15, 'german shepherd', 'female', ['brown', 'black']]
['lexi', 2, 'mongrel', 'female', ['yellow']]

In [ ]:
from pprint import pprint
pprint(dogs)

[['pipi', 6, 'poodle', 'male', ['brown']],
 ['rocky', 8, 'german shepherd', 'male', ['brown', 'black']],
 ['fifi', 15, 'german shepherd', 'female', ['brown', 'black']],
 ['lexi', 2, 'mongrel', 'female', ['yellow']]]

# 3) Writing To An Output File

In [ ]:
# with open("out.txt", "w") as f:
#     f.write(stuff)
# print(stuff)

In [ ]:
# python run.py > out.txt

# 4) The Zip Function

In [ ]:
fruits = ["apple", "orange", "pear", "pineapple"]
prices = [4, 5, 6, 7]
origins = ["malaysia", "thailand", "vietnam", "indonesia"]

In [ ]:
smallest = min(len(fruits), len(prices), len(origins))

for i in range(smallest):
    fruit = fruits[i]
    price = prices[i]
    origin = origins[i]    
    
    print(fruit, price, origin)   # do stuff with info

apple 4 malaysia
orange 5 thailand
pear 6 vietnam
pineapple 7 indonesia

In [ ]:
for fruit, price, origin in zip(fruits, prices, origins):
    print(fruit, price, origin)   # do stuff with info

apple 4 malaysia
orange 5 thailand
pear 6 vietnam
pineapple 7 indonesia

# 5) Ternary Operator

In [ ]:
score = 85

if score >= 50:
    grade = "pass"
else:
    grade = "fail"

In [ ]:
score = 85
grade = "pass" if score>=50 else "fail"

In [ ]:
score = 85

if score >= 75:
    grade = "A"
    
elif score >= 50:
    grade = "B"
    
else:
    grade = "F"

In [ ]:
score = 85
grade = "A" if score>=75 else "B" if score>=50 else "F"