[Reference](https://towardsdev.com/8-useful-functions-in-python-5aefa1e0d629)

# 1. sorted()

In [28]:
sorted_list = sorted([3, 4, 2, 6, 5, 1])
print(sorted_list)

[1, 2, 3, 4, 5, 6]

In [29]:
sorted_string = sorted("string")
print(sorted_string)

['g', 'i', 'n', 'r', 's', 't']

In [30]:
sorted_list = sorted([3, 4, 2, 6, 5, 1], reverse=True)
print(sorted_list)

[6, 5, 4, 3, 2, 1]

# 2. reversed()

In [31]:
reversed_list = list(reversed([1, 2, 4, 3, 6]))
print(reversed_list)

[6, 3, 4, 2, 1]

In [32]:
reversed_string = list(reversed("This is a string"))
print(reversed_string)

['g', 'n', 'i', 'r', 't', 's', ' ', 'a', ' ', 's', 'i', ' ', 's', 'i', 'h', 'T']

# 3. map()

In [33]:
squared = map(lambda x : x*x, [1,2,3,4,5])
print(squared)
print(list(squared))

<map object at 0x7f8876f07990>
[1, 4, 9, 16, 25]

In [34]:
squared = list(map(lambda x: x.upper(), 'python'))
print(squared)

['P', 'Y', 'T', 'H', 'O', 'N']

In [35]:
def square(x):
    return x*x

squared = list(map(square, [1,2,3,4,5]))
print(squared)

[1, 4, 9, 16, 25]

# 4. filter()

In [36]:
l = [1,2,3,4,5]
answer = filter(lambda x: x%2 == 0, l)
print(answer)
print(list(answer))

<filter object at 0x7f8876f4a310>
[2, 4]

In [37]:
l = "Some random text"
answer = filter(lambda x: x in 'aeiou', l)
print(answer)
print(list(answer))

<filter object at 0x7f8876f4aa90>
['o', 'e', 'a', 'o', 'e']

In [38]:
l = [0,1,2,3,4,0,5,6]
answer = filter(None, l)
print(list(answer))

[1, 2, 3, 4, 5, 6]

# 5. enumerate()

In [39]:
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November",
          "December"]

print(list(enumerate(months)))

[(0, 'January'), (1, 'February'), (2, 'March'), (3, 'April'), (4, 'May'), (5, 'June'), (6, 'July'), (7, 'August'), (8, 'September'), (9, 'October'), (10, 'November'), (11, 'December')]

In [40]:
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November",
          "December"]

print(list(enumerate(months, start=1)))

[(1, 'January'), (2, 'February'), (3, 'March'), (4, 'April'), (5, 'May'), (6, 'June'), (7, 'July'), (8, 'August'), (9, 'September'), (10, 'October'), (11, 'November'), (12, 'December')]

# 6. min()/max()

In [41]:
l = [1,2,3,4,5,6,7,8,9,10]
print(min(l))
print(max(l))

1
10

In [42]:
d = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}
print(min(d))
print(max(d))

a
e

In [43]:
d = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}
print(min(d.values()))
print(max(d.values()))

1
5

In [44]:
d = {'a':'Trial', 'b':'Text', 'c':'For', 'd':'Mi', 'e':'A'}
print(min(d.values(), key=len))
print(max(d.values(), key=len))

A
Trial

In [45]:
d = {}
print(max(d.values(), default=None))

None

# 7. all()/any()

In [46]:
l = [1,2,3,4,5]
print(all(l))
print(any(l))

True
True

In [47]:
l = [1,2,0,3,4,5]
print(all(l))
print(any(l))

False
True

In [48]:
l = {}
print(all(l))
print(any(l))

True
False

In [49]:
l = [0, False, None]
print(all(l))
print(any(l))

False
False

In [50]:
l = [1,2,3,4,5]
a = all(x%2 == 0 for x in l)
b = any(x%2 == 0 for x in l)
print(a)
print(b)

False
True

In [51]:
l = [0,2,4,6,8]
a = all(x%2 == 0 for x in l)
b = any(x%2 == 0 for x in l)
print(a)
print(b)

True
True

# 8. zip()

In [53]:
test_list = [1,2,3]
zip_result = zip(test_list)
for i in zip_result:
    print(i)

(1,)
(2,)
(3,)

In [54]:
test_list1 = [1,2,3]
test_list2 = ['a','b','c']
zip_result = zip(test_list1, test_list2)
for i in zip_result:
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')