[Reference](https://towardsdatascience.com/python-tricks-101-what-every-new-programmer-should-know-c512a9787022)

# 1: String manipulation

In [1]:
my_string = "Hi Medium..!"
print(my_string * 2)

Hi Medium..!Hi Medium..!

In [2]:
print(my_string + " I love Python" * 2)

Hi Medium..! I love Python I love Python

In [3]:
print(my_string[::-1])

!..muideM iH

In [4]:
my_list = [1,2,3,4,5]
print(my_list[::-1])

[5, 4, 3, 2, 1]

In [5]:
word_list = ["awesome", "is", "this"]
print(' '.join(word_list[::-1]) + '!')

this is awesome!

# 2: List comprehensions

In [6]:
def stupid_func(x):
     return x**2 + 5

In [7]:
my_list = [1, 2, 3, 4, 5]
new_list = []
for x in my_list:
    if x % 2 != 0:
        new_list.append(stupid_func(x))
print(new_list)

[6, 14, 30]

In [8]:
my_list = [1, 2, 3, 4, 5]
print([stupid_func(x) for x in my_list if x % 2 != 0])

[6, 14, 30]

In [9]:
print([x ** 2 + 5 for x in my_list if x % 2 != 0])

[6, 14, 30]

# 3: Lambda & Map

In [10]:
stupid_func = (lambda x : x ** 2 + 5)
print([stupid_func(1), stupid_func(3), stupid_func(5)])

[6, 14, 30]

In [11]:
my_list = [2, 1, 0, -1, -2]
print(sorted(my_list))

[-2, -1, 0, 1, 2]

In [12]:
print(sorted(my_list, key = lambda x : x ** 2))

[0, 1, -1, 2, -2]

In [13]:
print(list(map(lambda x, y : x * y, [1, 2, 3], [4, 5, 6])))

[4, 10, 18]

In [14]:
x, y = [1, 2, 3], [4, 5, 6]
z = []
for i in range(len(x)):
    z.append(x[i] * y[i])
print(z)

[4, 10, 18]

# 4: if, elif and else condition one-liners

In [15]:
x = int(input())
if x >= 10:
    print("Horse")
elif 1 < x < 10:
    print("Duck")
else:
    print("Baguette")

11
Horse

In [16]:
print("Horse" if x >= 10 else "Duck" if 1 < x < 10 else "Baguette")

Horse