[Reference](https://medium.com/hackernoon/python-tricks-101-2836251922e0)

# Swapping values

In [1]:
a, b = 5, 10
print(a, b)
a, b = b, a
print(a, b)

5 10
10 5

# Create a single string from all the elements in list

In [3]:
a = ["Python", "is", "awesome" ]
print(" ".join(a))

Python is awesome

# Find The Most Frequent Value In A List.

In [4]:
a = [1, 2, 3, 1, 2, 3, 2, 2, 4, 5, 1]
print(max(set(a), key = a.count))
from collections import Counter
cnt = Counter(a)
print(cnt.most_common(3))

2
[(2, 4), (1, 3), (3, 2)]

# Checking if two words are anagrams

In [6]:
from collections import Counter
str1 = 'hello'
str2 = 'olleh'
Counter(str1) == Counter(str2)

True

# Reverse a String

In [7]:
a = "abcdefghijklmnopqrstuvwxyz"
print(a[::-1])
for char in reversed(a):
    print(char)
num = 123456789
print(int(str(num)[::-1]))

zyxwvutsrqponmlkjihgfedcba
z
y
x
w
v
u
t
s
r
q
p
o
n
m
l
k
j
i
h
g
f
e
d
c
b
a
987654321

# Reverse a list

In [8]:
a = [5, 4, 3, 2, 1]
print(a[::-1])
for ele in reversed(a):
    print(ele)

[1, 2, 3, 4, 5]
1
2
3
4
5

# Transpose 2d array

In [9]:
original = [['a','b'], ['c', 'd'], ['e', 'f']]
transposed = zip(*original)
print(list(transposed))

[('a', 'c', 'e'), ('b', 'd', 'f')]

# Chained Comparison

In [10]:
b=6
print(4 < b < 7)
print(1 == b < 20)

True
False

# Chained function call

In [11]:
def product(a, b):
    return a * b
    
def add(a, b):
    return a + b

b = True
print( (product if b else add) (5, 7))

35

# Copying List

In [12]:
a = [10, 2, 3, 4, 5]
b = a
b[0] = 10

b = a[:]
b[0] = 10

a = [1, 2, 3, 4, 5]
print(list(a))

a = [1, 2, 3, 4, 5]
print(a.copy())

from copy import deepcopy
l = [[1, 2], [3, 4]]
l2 = deepcopy(l)
print(l2)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[[1, 2], [3, 4]]

# Dictionary Get

In [13]:
d= {'a': 1,'b': 27}
print(d.get('c', 3))

3

# Sort Dictionary by Value

In [14]:
d= {'apple': 10, 'orange': 20, 'banana': 5, 'rotten tomato': 1}
print(sorted(d.items(), key=lambda x: x[1]))

from operator import itemgetter
print(sorted(d. items( ), key=itemgetter(1)))
print(sorted(d, key=d.get))

[('rotten tomato', 1), ('banana', 5), ('apple', 10), ('orange', 20)]
[('rotten tomato', 1), ('banana', 5), ('apple', 10), ('orange', 20)]
['rotten tomato', 'banana', 'apple', 'orange']

# For Else

In [15]:
a = [1, 2, 3, 4, 5]
for el in a:
    if el == 0:
        break
else:
    print('did not break out of for loop')

did not break out of for loop

# Convert list to comma separated

In [16]:
items = ['foo', 'bar', 'xyz']
print (','.join(items))

numbers = [2, 3, 5, 10]
print (','.join(map(str, numbers)))

data = [2,'hello', 3, 3.4]
print(','.join(map(str, data)))

foo,bar,xyz
2,3,5,10
2,hello,3,3.4

# Merge dictâ€™s

In [17]:
d1 = {'a': 1}
d2 = {'b': 2}
print({**d1, **d2})
print(dict(d1.items() | d2. items( )) )
d1.update(d2)
print(d1)

{'a': 1, 'b': 2}
{'b': 2, 'a': 1}
{'a': 1, 'b': 2}

# Min and Max index in List

In [20]:
lst = [40, 10, 20, 30]
def minIndex(lst):
    return min(range(len(lst)), key=lst.__getitem__)
def maxIndex(lst):
    return max(range(len(lst)), key=lst.__getitem__)
print(minIndex(lst))
print(maxIndex(lst))

1
0

# Remove duplicates from a list

In [21]:
items = [2, 2, 3, 3, 1]
newitems2 = list(set(items) )
print(newitems2)
from collections import OrderedDict
items = ["foo","bar","bar","foo" ]
print(list(OrderedDict.fromkeys(items).keys()))

[1, 2, 3]
['foo', 'bar']