[Reference](https://medium.com/nerd-for-tech/tips-and-tricks-for-python-lists-ee096eb39a1c)

In [2]:
a = ['a1','a2','a3']
b = ['b1','b2','b3']
c = a + b
print('a + b = ', c)

a + b =  ['a1', 'a2', 'a3', 'b1', 'b2', 'b3']

In [3]:
for x in a:
    for y in b:
        z = x + y
        print(z)

a1b1
a1b2
a1b3
a2b1
a2b2
a2b3
a3b1
a3b2
a3b3

In [4]:
for x, y in zip(a, b):
    z = x + y
    print(z)

a1b1
a2b2
a3b3

In [5]:
results = []
for x, y in zip(a, b):
    z = x + y
    results.append(z)

In [7]:
def add(list_1, list_2, solution):
    for x, y in zip(list_1, list_2):
        z = x + y
        solution.append(z)    
        
    return solution

a = [1,2,3,4,5]
b = [6,7,8,9,10]
c = []

add(a, b, c)

[7, 9, 11, 13, 15]

In [8]:
def zip_dict(keys, values, new_dict):
    for key, value in zip(keys, values):
        new_dict[key] = value    
        
    return new_dict

keys = ['key_1', 'key_2', 'key_3']
values = [1, 2, 3]
new_dict = {}

zip_dict(keys, values, new_dict)

{'key_1': 1, 'key_2': 2, 'key_3': 3}

In [9]:
def partition(list_1, new_list, n):
    for i in range(0, len(list_1), n):
        group = list_1[i:i+n]
        new_list.append(group)    
        
    return new_list
    
list_1 = [1, 2, 3, 4, 5, 6, 7]
new_list = []
n = 2

partition(list_1, new_list, n)

[[1, 2], [3, 4], [5, 6], [7]]

In [10]:
def tup_partition(list_1, new_list, n):
    for i in range(0, len(list_1), n):
        group = list_1[i:i+n]
        tup_group = tuple(group)
        new_list.append(tup_group)    
        
    return new_list

list_2 = [1,3,2,4,6,5]
new_list = []
n = 2

tup_partition(list_2, new_list, n)

[(1, 3), (2, 4), (6, 5)]

In [11]:
def flatten(lists, new_list):
    for list in lists:
        for item in list:
            new_list.append(item)
    
    return new_list
lists = [[1, 2], [3, 4], [5, 6], [7]]
new_list = []

flatten(lists, new_list)

[1, 2, 3, 4, 5, 6, 7]

In [12]:
a = [1,2,3]
b = a.copy()
c = b.copy()

a.remove(2)    # Use .remove() to delete a specific element
b.pop(0)       # Use .pop() to delete an element at a specific index print('a = ', a)
print('b = ', b)
print('c = ', c)

b =  [2, 3]
c =  [1, 2, 3]

In [13]:
a = [1, 3]
b = [2, 3]

a.clear()
b.clear()

b.append('done')

print(a)
print(b)

[]
['done']