[Reference](https://blog.jovian.ai/dictionaries-advanced-python-part-3-bea02c205255)

In [1]:
my_dict = {"name":"Max", "age":28, "city":"New York"}
print(my_dict)

{'name': 'Max', 'age': 28, 'city': 'New York'}

In [2]:
my_dict_2 = dict(name="Lisa", age=27, city="Boston")
print(my_dict_2)

{'name': 'Lisa', 'age': 27, 'city': 'Boston'}

In [3]:
name_in_dict = my_dict["name"]
print(name_in_dict)

Max

In [4]:
# print(my_dict["lastname"])

In [5]:
print(my_dict.get("firstname")) # None
print(my_dict.get("lastname")) # Max

None
None

In [6]:
my_dict["email"] = "max@xyz.com"
print(my_dict)

{'name': 'Max', 'age': 28, 'city': 'New York', 'email': 'max@xyz.com'}

In [7]:
my_dict["email"] = "coolmax@xyz.com"
print(my_dict)

{'name': 'Max', 'age': 28, 'city': 'New York', 'email': 'coolmax@xyz.com'}

In [8]:
del my_dict["email"]
print(my_dict)

{'name': 'Max', 'age': 28, 'city': 'New York'}

In [9]:
print("popped value:", my_dict.pop("age"))

popped value: 28

In [10]:
print("popped item:", my_dict.popitem())

popped item: ('city', 'New York')

In [11]:
my_dict.clear()
print(my_dict)

{}

In [12]:
my_dict = {"name":"Max", "age":28, "city":"New York"}
if "name" in my_dict:
    print(my_dict["name"])

Max

In [13]:
try:
    print(my_dict["firstname"])
except KeyError:
    print("No key found")

No key found

In [14]:
for key in my_dict.keys():
    print(key)

name
age
city

In [15]:
for value in my_dict.values():
    print(value)

Max
28
New York

In [16]:
dict_org = {"name":"Max", "age":28, "city":"New York"}
dict_copy = dict_org
dict_copy["name"] = "Lisa"
print(dict_copy) # {'name': 'Lisa', 'age': 28, 'city': 'New York'}
print(dict_org) # {'name': 'Lisa', 'age': 28, 'city': 'New York'}

{'name': 'Lisa', 'age': 28, 'city': 'New York'}
{'name': 'Lisa', 'age': 28, 'city': 'New York'}

In [17]:
dict_org = {"name":"Max", "age":28, "city":"New York"}
dict_copy = dict_org.copy()
# dict_copy = dict(dict_org)
dict_copy["name"] = "Lisa"
print(dict_copy) # {'name': 'Lisa', 'age': 28, 'city': 'New York'}
print(dict_org) # {'name': 'Max', 'age': 28, 'city': 'New York'}

{'name': 'Lisa', 'age': 28, 'city': 'New York'}
{'name': 'Max', 'age': 28, 'city': 'New York'}

In [18]:
my_dict = {"name":"Max", "age":28, "email":"max@xyz.com"}
my_dict_2 = dict(name="Lisa", age=27, city="Boston")
my_dict.update(my_dict_2)
print(my_dict)

{'name': 'Lisa', 'age': 27, 'email': 'max@xyz.com', 'city': 'Boston'}

In [19]:
my_dict = {3: 9, 6: 36, 9:81}
print(my_dict[3], my_dict[6], my_dict[9]) # 9 36 81

9 36 81

In [20]:
my_tuple = (8, 7)
my_dict = {my_tuple: 15}
print(my_dict[my_tuple])
# print(my_dict[8, 7]) # 15

15

In [21]:
# my_list = [8, 7]
# my_dict = {my_list: 15}

In [22]:
my_dict_1 = {"name": "Max", "age": 28}
my_dict_2 = {"name": "Alex", "age": 25}
nested_dict = {"dictA": my_dict_1,
               "dictB": my_dict_2}
print(nested_dict)

{'dictA': {'name': 'Max', 'age': 28}, 'dictB': {'name': 'Alex', 'age': 25}}