[Reference](https://medium.com/geekculture/mastering-python-dictionaries-tricks-and-techniques-e165cc611963)

# Dictionary Comprehension

In [1]:
# Create a dictionary from another dictionary
original_dict = {'a': 1, 'b': 2, 'c': 3}
new_dict = {key: value for key, value in original_dict.items() if value % 2 == 0}
print(new_dict)

# Create a dictionary from a list of key-value pairs
pairs = [('a', 1), ('b', 2), ('c', 3)]
new_dict = {key: value for key, value in pairs if value % 2 == 0}
print(new_dict)

{'b': 2}
{'b': 2}

In [2]:
# Extract specific fields from a list of dictionaries
data = [{'name': 'John', 'age': 35, 'city': 'New York'},        
        {'name': 'Jane', 'age': 28, 'city': 'London'},        
        {'name': 'Jim', 'age': 42, 'city': 'Paris'}]

names = {d['name']: d['age'] for d in data}
print(names)
# Convert a list of strings into a dictionary mapping each string to its length
words = ['dog', 'cat', 'elephant', 'giraffe']
lengths = {word: len(word) for word in words}
print(lengths)

{'John': 35, 'Jane': 28, 'Jim': 42}
{'dog': 3, 'cat': 3, 'elephant': 8, 'giraffe': 7}

In [3]:
# Group a list of numbers based on whether they are even or odd
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
grouped = {'even': [n for n in numbers if n % 2 == 0],
           'odd': [n for n in numbers if n % 2 != 0]}
print(grouped)
# Group a list of strings based on their first letter
words = ['apple', 'banana', 'cherry', 'date', 'elderberry']
grouped = {letter: [word for word in words if word[0] == letter]
           for letter in set(word[0] for word in words)}
print(grouped)

{'even': [2, 4, 6, 8, 10], 'odd': [1, 3, 5, 7, 9]}
{'c': ['cherry'], 'b': ['banana'], 'e': ['elderberry'], 'a': ['apple'], 'd': ['date']}

In [4]:
# Count the frequency of words in a text
text = 'the quick brown fox jumps over the lazy dog'
words = text.split()
frequency = {word: words.count(word) for word in set(words)}
print(frequency)

# Count the number of times each character appears in a string
string = 'hello world'
frequency = {char: string.count(char) for char in set(string)}
print(frequency)

{'dog': 1, 'over': 1, 'lazy': 1, 'the': 2, 'brown': 1, 'quick': 1, 'fox': 1, 'jumps': 1}
{'h': 1, 'l': 3, 'e': 1, 'r': 1, 'o': 2, ' ': 1, 'd': 1, 'w': 1}

In [5]:
# mapping letters to their corresponding ASCII code
letters_to_ascii = {letter: ord(letter) for letter in 
                    'abcdefghijklmnopqrstuvwxyz'}
print(letters_to_ascii)

# mapping countries to their capitals
countries_to_capitals = {
    "United States": "Washington, D.C.",
    "France": "Paris",
    "Germany": "Berlin",
    "Japan": "Tokyo"
}

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [6]:
# inverting the mapping of countries to their capitals
capitals_to_countries = {value: key for key, value in countries_to_capitals.items()}
print(capitals_to_countries)

{'Washington, D.C.': 'United States', 'Paris': 'France', 'Berlin': 'Germany', 'Tokyo': 'Japan'}

In [8]:
# d = {'a': 1, 'b': 2}
# keys = d.viewkeys()
# values = d.viewvalues()
# items = d.viewitems()

# # Modify the dictionary
# d['c'] = 3

# # The views are updated to reflect the changes
# print(keys)
# print(values)
# print(items)

In [9]:
d = {'a': 1, 'b': 2}

# Use get() method to access a key with a default value
print(d.get('a', 0)) # 1
print(d.get('c', 0)) # 0

1
0

In [10]:
d = {'a': 1, 'b': 2}
print(d.get('a'))
print(d.get('c', 0))
print(d['c'], 0)

1
0

KeyError: ignored

In [11]:
d = {'a': 1, 'b': 2}

# Use setdefault() method to access a key with a default value
print(d.setdefault('a', 0))
print(d)

print(d.setdefault('c', 0))
print(d)

1
{'a': 1, 'b': 2}
0
{'a': 1, 'b': 2, 'c': 0}

In [12]:
from collections import defaultdict

# Create a defaultdict
dd = defaultdict(int)
print(dd['not_present'])

# Use a defaultdict with a lambda function as the default factory
dd = defaultdict(lambda: 'default_value')
print(dd['not_present'])

0
default_value

In [13]:
from collections import defaultdict

d = defaultdict(int)

d['a'] = 1
d['b'] = 2

# Accessing keys that are not present in the defaultdict
print(d['c'])

0

In [14]:
from collections import defaultdict

# Example 1: using defaultdict to initialize keys with default values
d = defaultdict(int) # Initialize defaultdict with default value 0

d['a'] = 1
d['b'] = 2

print(d['a']) # 1
print(d['b']) # 2
print(d['c']) # 0 (default value)

# Example 2: using defaultdict with a custom default value
d = defaultdict(lambda: 'not found') # Initialize defaultdict with custom default value

d['a'] = 1
d['b'] = 2

print(d['a']) # 1
print(d['b']) # 2
print(d['c']) # 'not found' (default value)

# Example 3: using defaultdict to keep count of items
words = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
word_count = defaultdict(int) # Initialize defaultdict with default value 0

for word in words:
    word_count[word] += 1

print(word_count)

1
2
0
1
2
not found
defaultdict(<class 'int'>, {'apple': 3, 'banana': 2, 'orange': 1})

In [15]:
from collections import Counter

# Create a Counter from a list
c = Counter([1, 2, 2, 3, 3, 3, 4, 4, 4, 4])
print(c)

# Use a Counter to count items in a string
c = Counter('hello world')
print(c)

Counter({4: 4, 3: 3, 2: 2, 1: 1})
Counter({'l': 3, 'o': 2, 'h': 1, 'e': 1, ' ': 1, 'w': 1, 'r': 1, 'd': 1})

In [16]:
# Merge dictionaries using the update() method
d1 = {'a': 1, 'b': 2}
d2 = {'b': 3, 'c': 4}
d1.update(d2)
print(d1)

# Merge dictionaries using the ** operator
d1 = {'a': 1, 'b': 2}
d2 = {'b': 3, 'c': 4}
d3 = {**d1, **d2}
print(d3)

# Merge dictionaries using the dict() constructor
d1 = {'a': 1, 'b': 2}
d2 = {'b': 3, 'c': 4}
d3 = dict(d1, **d2)
print(d3)

{'a': 1, 'b': 3, 'c': 4}
{'a': 1, 'b': 3, 'c': 4}
{'a': 1, 'b': 3, 'c': 4}

In [17]:
# Sort a dictionary by keys
d = {'a': 1, 'b': 3, 'c': 2}
sorted_dict = dict(sorted(d.items()))
print(sorted_dict)

# Sort a dictionary by values
d = {'a': 1, 'b': 3, 'c': 2}
sorted_dict = dict(sorted(d.items(), key=lambda item: item[1]))
print(sorted_dict)

{'a': 1, 'b': 3, 'c': 2}
{'a': 1, 'c': 2, 'b': 3}

In [18]:
from collections import namedtuple

# Create a named tuple
Person = namedtuple('Person', ['name', 'age'])
person = Person('John', 30)
print(person.name)
print(person.age)

John
30

In [19]:
# Store multiple values using lists
d = {'a': [1, 2, 3], 'b': [4, 5, 6]}
print(d)

# Store multiple values using sets
d = {'a': {1, 2, 3}, 'b': {4, 5, 6}}
print(d)

# Store multiple values using dictionaries
d = {'a': {'x': 1, 'y': 2}, 'b': {'x': 3, 'y': 4}}
print(d)

{'a': [1, 2, 3], 'b': [4, 5, 6]}
{'a': {1, 2, 3}, 'b': {4, 5, 6}}
{'a': {'x': 1, 'y': 2}, 'b': {'x': 3, 'y': 4}}

In [20]:
from collections import OrderedDict

# Create a regular dictionary
d = {'banana': 3, 'apple': 4, 'pear': 1, 'orange': 2}

# Create an OrderedDict from the regular dictionary
od = OrderedDict(d)

# Iterate over the items in the OrderedDict
for key, value in od.items():
    print(key, value)

banana 3
apple 4
pear 1
orange 2

In [21]:
from collections import OrderedDict

# Create a dictionary of numbers
d = {'one': 1, 'three': 3, 'four': 4, 'two': 2}

# Sort the dictionary by key
od = OrderedDict(sorted(d.items(), key=lambda t: t[0]))

# Sort the dictionary by value
od2 = OrderedDict(sorted(d.items(), key=lambda t: t[1]))

# Print the sorted dictionaries
print(od)
print(od2)

OrderedDict([('four', 4), ('one', 1), ('three', 3), ('two', 2)])
OrderedDict([('one', 1), ('two', 2), ('three', 3), ('four', 4)])