[Reference](https://medium.com/dev-genius/python-dictionary-operations-68e19b08ea30)

In [1]:
x = {1: "one", 2: "two", 3: "three"}
y = {'first': 1, ("Python", "Year"): ("Love", 1991)}

In [2]:
x

{1: 'one', 2: 'two', 3: 'three'}

In [3]:
y

{('Python', 'Year'): ('Love', 1991), 'first': 1}

In [4]:
y = {}
x = {1: "one", 2: "two", 3: "three"}

In [5]:
y = {}
y['one'] = 1
y['two'] = 2
print(y)

{'one': 1, 'two': 2}

In [6]:
y['two'] = 'dos'
print(y)

{'one': 1, 'two': 'dos'}

In [7]:
y = {'one': 1, 'two': 2}
print(y)

{'one': 1, 'two': 2}

In [8]:
del y['two']

In [9]:
print(y)

{'one': 1}

In [10]:
x = {'one': 0, 'two': 2}
y = {'one': 1, 'three': 3}
x.update(y)
print(x)

{'one': 1, 'two': 2, 'three': 3}

In [11]:
x = {'one': 0, 'two': 2}
print(len(x))

2

In [12]:
x = {'one': 1, 'two': 2}
print(x.keys())

dict_keys(['one', 'two'])

In [13]:
x = {'one': 1, 'two': 2}
print(x.values())

dict_values([1, 2])

In [14]:
x = {'one': 1, 'two': 2}
print(x.items())

dict_items([('one', 1), ('two', 2)])

In [15]:
y = {'one': 1, 'two': 2}
del y['three']

KeyError: ignored

In [16]:
y = {'one': 1, 'two': 2}
if 'three' in y: 
    del y['three']
    
print(y)

{'one': 1, 'two': 2}

In [17]:
y = {'one': 1, 'two': 2}
print(y.get('one'))
print(y.get('three'))
print(y.get('three', 'The key does not exist.'))

1
None
The key does not exist.

In [18]:
y = {'one': 1, 'two': 2}
print(y.setdefault('three', '3'))
print(y.setdefault('two', 'dos'))
print(y)

3
2
{'one': 1, 'two': 2, 'three': '3'}