[Reference](https://pub.towardsai.net/17-pandas-trick-i-wish-i-knew-before-as-a-data-scientist-16ab7b37513a)

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

df = sns.load_dataset('titanic')
df = df.select_dtypes(include=[np.number])  # Select only numeric columns

# Multiply all numeric values by 10
df = df.applymap(lambda x: x*10)

In [2]:
df = sns.load_dataset('flights')
df.set_index('year', inplace=True)  # Set year as the index

# Calculate the 3-year rolling average of passengers
df['rolling_avg'] = df['passengers'].rolling(3).mean()

In [3]:
df = sns.load_dataset('titanic')

df = (df
      .rename(columns={'class': 'passenger_class'})
      .assign(age_in_months=lambda x: x.age*12))

In [4]:
df = sns.load_dataset('titanic')

# Drop columns with missing values
df = df.dropna(axis=1)

In [5]:
df = sns.load_dataset('titanic')

# Convert 'sex' and 'embarked' to category datatype
df[['sex', 'embarked']] = df[['sex', 'embarked']].astype('category')

In [6]:
df = sns.load_dataset('titanic')

# Find most frequent values in 'embark_town'
most_frequent = df['embark_town'].value_counts().idxmax()
print(f"Most frequent embark town: {most_frequent}")

Most frequent embark town: Southampton

In [7]:
df = sns.load_dataset('titanic')

# Apply different aggregations to different columns
aggregated = df.agg({
    'age': ['min', 'max', 'mean'],
    'fare': ['sum', 'mean']
})
print(aggregated)

            age          fare
min    0.420000           NaN
max   80.000000           NaN
mean  29.699118     32.204208
sum         NaN  28693.949300

In [8]:
df = sns.load_dataset('titanic')

# Sort by 'class' and then 'fare'
df = df.sort_values(by=['class', 'fare'])

In [9]:
df = sns.load_dataset('titanic')

# Filter rows where 'class' is either 'First' or 'Second'
df = df[df['class'].isin(['First', 'Second'])]

In [10]:
df = sns.load_dataset('titanic')

# Group by 'class' and get data for 'First' class
grouped = df.groupby('class')
first_class_data = grouped.get_group('First')

In [11]:
df = sns.load_dataset('titanic')

# Select a random sample of 5 rows
sample = df.sample(5)

In [12]:
df = sns.load_dataset('titanic')

# Set 'class' as the index
df.set_index('class', inplace=True)

In [13]:
df = sns.load_dataset('titanic')

# Rename all columns to lower case
df.columns = df.columns.str.lower()

In [14]:
df = sns.load_dataset('titanic')

# Get unique values in 'class'
unique_classes = df['class'].unique()

In [15]:
df = sns.load_dataset('planets')

# Split 'method' into two columns
df[['method_1', 'method_2']] = df['method'].str.split(' ', 1, expand=True)

<ipython-input-15-94ce915cf9c3>:4: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['method_1', 'method_2']] = df['method'].str.split(' ', 1, expand=True)

In [16]:
df = sns.load_dataset('titanic')

# Get value at specific location
value = df.at[5, 'age']

In [17]:
df = sns.load_dataset('titanic')

# Create a pivot table
pivot_table = df.pivot_table(values='survived', index='class', columns='sex')