[Reference](https://medium.com/@deyanupama18/6-pandas-tricks-every-data-geek-should-know-78391172890c)

# 1. Creating DataFrames with Ease

In [1]:
import pandas as pd
data = {
 'Name': ['Alice', 'Bob', 'Charlie'],
 'Age': [25, 30, 35],
 'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

# 2. Chaining for Clarity and Brevity

In [2]:
df_filtered = df[df['Age'] > 28].sort_values(by='Name').reset_index(drop=True)
print(df_filtered)

      Name  Age         City
0      Bob   30  Los Angeles
1  Charlie   35      Chicago

In [4]:
def categorize_age(age):
 if age < 30:
    return 'Young'
 elif age < 40:
    return 'Middle-aged'
 else:
    return 'Senior'
df['Age Category'] = df['Age'].apply(categorize_age)
print(df)

      Name  Age         City Age Category
0    Alice   25     New York        Young
1      Bob   30  Los Angeles  Middle-aged
2  Charlie   35      Chicago  Middle-aged

# 4. Taming Missing Data with `fillna`

In [6]:
df['City'].fillna('Unknown', inplace=True)

<ipython-input-6-66fcc146152a>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['City'].fillna('Unknown', inplace=True)

In [7]:
df['City'].fillna('Unknown', inplace=True)

<ipython-input-7-66fcc146152a>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['City'].fillna('Unknown', inplace=True)

# 5. Aggregating with `groupby`

In [8]:
grouped_df = df.groupby('Age Category').agg({'Name': 'count'})
print(grouped_df)

              Name
Age Category
Middle-aged      2
Young            1

In [9]:
summary = df.groupby('City').agg({
 'Age': ['mean', 'min', 'max'],
 'Name': 'count'
}).reset_index()
print(summary)

          City   Age          Name
                mean min max count
0      Chicago  35.0  35  35     1
1  Los Angeles  30.0  30  30     1
2     New York  25.0  25  25     1

# 6. Merging DataFrames Like a Boss

In [10]:
df1 = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Age': [25, 30]})
df2 = pd.DataFrame({'Name': ['Alice', 'Charlie'], 'City': ['New York', 'Chicago']})
merged_df = pd.merge(df1, df2, on='Name', how='inner')
print(merged_df)

    Name  Age      City
0  Alice   25  New York