[Reference](https://towardsdatascience.com/6-pandas-dataframe-tasks-anyone-learning-python-should-know-1aadce307d26)

In [1]:
# Import Module
import pandas as pd
import numpy as np

dates = pd.date_range("20220101", periods=6)

# Create DataFrame
df = pd.DataFrame(np.random.randn(6, 2), index=dates, columns=['column 1', 'column 2'])
df

            column 1  column 2
2022-01-01  0.065073  0.417443
2022-01-02 -1.746934  0.168432
2022-01-03 -0.066018  1.019440
2022-01-04 -0.136645  1.885620
2022-01-05 -0.120790 -0.410259
2022-01-06 -0.685406  2.186948

# 1. Add a New Column

In [2]:
df['column 3'] = np.random.randn(6, 1)
df

            column 1  column 2  column 3
2022-01-01  0.065073  0.417443 -0.246525
2022-01-02 -1.746934  0.168432 -0.358943
2022-01-03 -0.066018  1.019440  1.044675
2022-01-04 -0.136645  1.885620 -0.004542
2022-01-05 -0.120790 -0.410259  2.082266
2022-01-06 -0.685406  2.186948 -0.865727

In [3]:
df.insert(0,"new column 1", np.random.randn(6, 1), allow_duplicates = True)
df

            new column 1  column 1  column 2  column 3
2022-01-01     -0.507715  0.065073  0.417443 -0.246525
2022-01-02      0.701256 -1.746934  0.168432 -0.358943
2022-01-03      0.727386 -0.066018  1.019440  1.044675
2022-01-04     -2.125341 -0.136645  1.885620 -0.004542
2022-01-05      0.447683 -0.120790 -0.410259  2.082266
2022-01-06     -0.641795 -0.685406  2.186948 -0.865727

# 2. Add a New Row

In [5]:
df.loc[pd.date_range("20220107", periods=1)[0]] = ['new value', 'new value','new value', 'new value'] 
df

           new column 1   column 1   column 2   column 3
2022-01-01    -0.507715   0.065073   0.417443  -0.246525
2022-01-02     0.701256  -1.746934   0.168432  -0.358943
2022-01-03     0.727386  -0.066018    1.01944   1.044675
2022-01-04    -2.125341  -0.136645    1.88562  -0.004542
2022-01-05     0.447683   -0.12079  -0.410259   2.082266
2022-01-06    -0.641795  -0.685406   2.186948  -0.865727
2022-01-07    new value  new value  new value  new value

# 3. Delete a Column

In [6]:
df.drop('new column 1', axis=1)
del df['new column 1']

# 4. Delete Empty Fields

In [7]:
df.loc['20220101', 'column 3'] = 1.0
df

             column 1   column 2   column 3
2022-01-01   0.065073   0.417443        1.0
2022-01-02  -1.746934   0.168432  -0.358943
2022-01-03  -0.066018    1.01944   1.044675
2022-01-04  -0.136645    1.88562  -0.004542
2022-01-05   -0.12079  -0.410259   2.082266
2022-01-06  -0.685406   2.186948  -0.865727
2022-01-07  new value  new value  new value

In [8]:
df.dropna(how="any")

             column 1   column 2   column 3
2022-01-01   0.065073   0.417443        1.0
2022-01-02  -1.746934   0.168432  -0.358943
2022-01-03  -0.066018    1.01944   1.044675
2022-01-04  -0.136645    1.88562  -0.004542
2022-01-05   -0.12079  -0.410259   2.082266
2022-01-06  -0.685406   2.186948  -0.865727
2022-01-07  new value  new value  new value

In [9]:
df.fillna(value=0)

             column 1   column 2   column 3
2022-01-01   0.065073   0.417443        1.0
2022-01-02  -1.746934   0.168432  -0.358943
2022-01-03  -0.066018    1.01944   1.044675
2022-01-04  -0.136645    1.88562  -0.004542
2022-01-05   -0.12079  -0.410259   2.082266
2022-01-06  -0.685406   2.186948  -0.865727
2022-01-07  new value  new value  new value

In [10]:
pd.isna(df)

            column 1  column 2  column 3
2022-01-01     False     False     False
2022-01-02     False     False     False
2022-01-03     False     False     False
2022-01-04     False     False     False
2022-01-05     False     False     False
2022-01-06     False     False     False
2022-01-07     False     False     False

# 5. Delete a Row

In [11]:
df.drop(pd.to_datetime('2022-01-01'), axis=0)

             column 1   column 2   column 3
2022-01-02  -1.746934   0.168432  -0.358943
2022-01-03  -0.066018    1.01944   1.044675
2022-01-04  -0.136645    1.88562  -0.004542
2022-01-05   -0.12079  -0.410259   2.082266
2022-01-06  -0.685406   2.186948  -0.865727
2022-01-07  new value  new value  new value

In [13]:
# df.drop(df[df['column 1'] > 0.1].index)

# 6. Merge Pandas Objects

In [14]:
s1 = pd.Series(['a', 'b'])
s2 = pd.Series(['c', 'd'])
pd.concat([s1, s2])

0    a
1    b
0    c
1    d
dtype: object

In [15]:
df1 = pd.DataFrame([['a', 1], ['b', 2]],
                   columns=['letter', 'number'])
print(df1)

df2 = pd.DataFrame([['c', 3], ['d', 4]],
                   columns=['letter', 'number'])
print(df2)

  letter  number
0      a       1
1      b       2
  letter  number
0      c       3
1      d       4

In [16]:
df1 = pd.DataFrame([['a', 1], ['b', 2]],
                   columns=['letter', 'number'])
print(df1)

df2 = pd.DataFrame([['c', 3], ['d', 4]],
                   columns=['letter', 'number'])
print(df2)

  letter  number
0      a       1
1      b       2
  letter  number
0      c       3
1      d       4

In [19]:
pd.concat([df1, df2], join="inner")

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4