[Reference](https://towardsdatascience.com/6-things-that-you-probably-didnt-know-you-could-do-with-pandas-d365b3362a55)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from base64 import b64encode
from io import BytesIO
from IPython.display import HTML

%matplotlib inline

In [2]:
n = 100

data = [
    ('Bitcoin',   40000*np.random.rand(n).round(2)), 
    ('Ethereum',   2000*np.random.rand(n).round(2)), 
    ('BNB',     500*np.random.rand(n).round(2)),
    ('Litecoin',   150*np.random.rand(n).round(2)),
    
]
df = pd.DataFrame(data, columns=['Name', 'Price History'])
df.head()

       Name                                      Price History
0   Bitcoin  [26000.0, 36000.0, 14800.0, 37600.0, 800.0, 30...
1  Ethereum  [1820.0, 860.0, 200.0, 460.0, 560.0, 1380.0, 1...
2       BNB  [45.0, 105.0, 65.0, 15.0, 25.0, 415.0, 365.0, ...
3  Litecoin  [7.5, 122.99999999999999, 93.0, 111.0, 148.5, ...

In [3]:
def create_line(data, **kwags):
    
    # Convert data to a list
    data = list(data)
    
    # Create a figure and axis object with given size and keyword arguments
    fig, ax = plt.subplots(1, 1, figsize=(3, 0.25), **kwags)
    
    # Plot the data
    ax.plot(data)
    
    # Remove the spines from the plot
    for k,v in ax.spines.items():
        v.set_visible(False)
        
    # Remove the tick marks from the x and y axes
    ax.set_xticks([])
    ax.set_yticks([])
    
    # Plot a red dot at the last point of the data
    plt.plot(len(data) - 1, data[len(data) - 1], 'r.')
    
    # Fill the area under the plot with alpha=0.1
    ax.fill_between(range(len(data)), data, len(data)*[min(data)], alpha=0.1)
    
    # Close the plot to prevent displaying it
    plt.close(fig)
    
    # Save the plot image as png and get its binary data
    img = BytesIO()    
    fig.savefig(img, format='png')
    encoded = b64encode(img.getvalue()).decode('utf-8')  
    
    # Return the encoded image data as an HTML image tag
    return '<img src="data:image/png;base64,{}"/>'.format(encoded)

In [4]:
df['Price History Line']  = df['Price History'].apply(create_line)
HTML(df.drop(columns = ["Price History"]).to_html(escape=False))

In [5]:
!pip install pandas_flavor

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandas_flavor
  Downloading pandas_flavor-0.5.0-py3-none-any.whl (7.1 kB)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.10/dist-packages (from pandas_flavor) (1.5.3)
Requirement already satisfied: xarray in /usr/local/lib/python3.10/dist-packages (from pandas_flavor) (2022.12.0)
Requirement already satisfied: lazy-loader>=0.1 in /usr/local/lib/python3.10/dist-packages (from pandas_flavor) (0.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23->pandas_flavor) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23->pandas_flavor) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23->pandas_flavor) (1.22.4)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from xarray->pandas_flavor) (23.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas_flavor) (1.16.0)
Installing collected packages: pandas_flavor
Successfully installed pandas_flavor-0.5.0

In [6]:
# my_pandas.py

import pandas as pd
import pandas_flavor as pf

@pf.register_dataframe_method
def add_row(df, row):
    
    df.loc[len(df)] = row

In [7]:
df = pd.DataFrame([["Mercury", 1], 
                   ["Venus",   2]],
                   columns = ["Planet", "Position"])

In [8]:
new_row = ["Earth", 3]
df.add_row(new_row)

print(df)

    Planet  Position
0  Mercury         1
1    Venus         2
2    Earth         3

In [9]:
from dataclasses import dataclass

@dataclass
class Point:
    x_loc: int
    y_loc: int

In [10]:
points = [Point(1, 2),
          Point(4, 5),
          Point(3, 7)]

In [11]:
pd.DataFrame(points)

   x_loc  y_loc
0      1      2
1      4      5
2      3      7

In [12]:
from tqdm.notebook import tqdm
tqdm.pandas()

In [13]:
df = pd.DataFrame([['Roy', 25, 50000],
                   ['Bob', 30, 60000],
                   ['Joe', 35, 70000]], 
                   columns = ["Names", "Age", "Salary"])

In [14]:
caption = 'This is a caption'

df.style.set_caption(caption)

In [15]:
df

  Names  Age  Salary
0   Roy   25   50000
1   Bob   30   60000
2   Joe   35   70000

In [16]:
df.style.format({"Height": "{:20,.0f} cm", 
                 "Weight": "{:20,.0f} kgs",
                 "Saving":"${:20,.0f}"})