[Reference](https://medium.com/@anala007/a-beginners-guide-to-the-pandas-explode-function-ab222e326b1)

In [1]:
import pandas as pd

animal_df = pd.DataFrame(
    {
        "name": [
            ["lion", "elephant"],
            ["lizard", "snake"],
            "tuna",
            ["eagle", "parrot"],
            ["frog"],
        ],
        "species": ["mammal", "reptiles", "fish", "birds", "abphibians"],
    }
)
print(animal_df)

               name     species
0  [lion, elephant]      mammal
1   [lizard, snake]    reptiles
2              tuna        fish
3   [eagle, parrot]       birds
4            [frog]  abphibians

In [2]:
animal_df.explode('name', ignore_index=True)

       name     species
0      lion      mammal
1  elephant      mammal
2    lizard    reptiles
3     snake    reptiles
4      tuna        fish
5     eagle       birds
6    parrot       birds
7      frog  abphibians

In [3]:
animal_series = pd.Series(
    [["lion", "elephant"], ["lizard", "snake"], "tuna", ["eagle", "parrot"], ["frog"]]
)
print(animal_series)

0    [lion, elephant]
1     [lizard, snake]
2                tuna
3     [eagle, parrot]
4              [frog]
dtype: object

In [4]:
animal_series.explode(ignore_index=True)

0        lion
1    elephant
2      lizard
3       snake
4        tuna
5       eagle
6      parrot
7        frog
dtype: object