[Reference](https://medium.com/@jscvcds/a-beginners-guide-to-dataframes-with-examples-9aa6bf53fc06)

In [1]:
import pandas as pd

# Creating a dataframe from a dictionary
data = {'Name': ['John', 'Emma', 'Peter', 'Lisa'],
       'Age': [25, 28, 22, 30],
       'City': ['New York', 'London', 'Paris', 'Sydney']}
df = pd.DataFrame(data)

# Displaying the dataframe
print(df)

    Name  Age      City
0   John   25  New York
1   Emma   28    London
2  Peter   22     Paris
3   Lisa   30    Sydney

In [3]:
# Filtering the dataframe based on a condition
filtered_df = df[df['Age'] > 25]

# Displaying the filtered dataframe
print(filtered_df)

   Name  Age    City
1  Emma   28  London
3  Lisa   30  Sydney

In [4]:
# Sorting the dataframe based on the age in descending order
sorted_df = df.sort_values(by='Age', ascending=False)

# Displaying the sorted dataframe
print(sorted_df)

    Name  Age      City
3   Lisa   30    Sydney
1   Emma   28    London
0   John   25  New York
2  Peter   22     Paris

In [5]:
# Creating a second dataframe
data2 = {'Name': ['John', 'Emma', 'Michael'],
        'Salary': [5000, 6000, 4500]}
df2 = pd.DataFrame(data2)

# Merging the two dataframes based on the 'Name' column
merged_df = pd.merge(df, df2, on='Name')

# Displaying the merged dataframe
print(merged_df)

   Name  Age      City  Salary
0  John   25  New York    5000
1  Emma   28    London    6000

In [6]:
# Grouping the dataframe by city and calculating the average age
grouped_df = df.groupby('City').mean()

# Displaying the grouped dataframe
print(grouped_df)

           Age
City
London    28.0
New York  25.0
Paris     22.0
Sydney    30.0

<ipython-input-6-52797d35f45d>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_df = df.groupby('City').mean()