[Reference](https://medium.com/@antoniolui/applying-custom-functions-in-pandas-e30bdc1f4e76)

- map works element-wise on a series, and is optimized for mapping values to a series (e.g. one column of a DataFrame).
- applymap works element-wise on a DataFrame, and is optimized for mapping values to a DataFrame.
- apply works on both series and DataFrames, but it’s relatively slow and should only be used if you’re running out of other options.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([[1, 2, 'cat', []]
    ,[3, 4, 'dog', [1,2,3]]
    ,[5, 1, np.nan, [3,5,5]]], columns=['A', 'B', 'C', 'D'])

In [3]:
df['C'] = df['C'].map({'cat': 'kitten', 'dog': 'puppy'})

In [4]:
df['C'] = df['C'].map(lambda x: 'unknown' if x is np.NaN else x.upper())

In [5]:
def get_avg_rating(lst):
    if len(lst) == 0:
        return np.nan
    else:
        return round(sum(lst) / len(lst), 1)

In [6]:
df['D'] = df['D'].map(get_avg_rating)

# APPLYMAP

In [7]:
df.applymap(lambda x: len(str(x)))

   A  B  C  D
0  1  1  6  3
1  1  1  5  3
2  1  1  7  3

In [8]:
df[['A', 'B']].applymap(lambda x: x**2)

    A   B
0   1   4
1   9  16
2  25   1

# APPLY

In [9]:
df['A-B'] = df.apply(lambda x: x.A - x.B if x.C != 'unknown' else np.nan, axis=1)

In [10]:
df[['A', 'B']].apply(lambda x: x.max(), axis=0)

A    5
B    4
dtype: int64

In [11]:
df['T'] = df[['A', 'B']].apply(tuple, axis=1)

In [12]:
def task_helper(a, b):
    d = {}
    d[a] = b
    return d
df['task'] = df.apply(lambda x: task_helper(x['C'], x['T']), axis=1)