[Reference](https://medium.com/@syncwithdanish/bring-colors-to-your-data-frames-cfb7707259a6)

In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({
    "A": [0, -5, 12, -4, 3],
    "B": [12.24, 3.14, 2.71, -3.14, np.nan],
    "C": [0.5, 1.2, 0.3, 1.9, 2.2],
    "D": [2000, np.nan, 1000, 7000, 5000]
})

In [2]:
df.style.hide_index()

<ipython-input-2-046e9c3a6dbb>:1: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  df.style.hide_index()

In [3]:
df.style.format("- {:.4f} -")

In [4]:
df.style.format({
    "A": "{:.3f}",
    "B": "{:,.20f}",
    "C": "{:.2f}",
    "D": "$ {:,.4f}"
})

In [5]:
df.style.highlight_max()

In [6]:
df.style.highlight_min()

In [7]:
df.style.highlight_null(null_color="red")

<ipython-input-7-1b35ae8595c3>:1: FutureWarning: `null_color` is deprecated: use `color` instead
  df.style.highlight_null(null_color="red")

In [8]:
df.style.format(na_rep="Missing").highlight_null(null_color="red")

<ipython-input-8-c0ee7d958d01>:1: FutureWarning: `null_color` is deprecated: use `color` instead
  df.style.format(na_rep="Missing").highlight_null(null_color="red")

In [9]:
df.style.background_gradient()

In [10]:
df.style.background_gradient(subset=["B", "D"])

In [11]:
df.style.text_gradient(subset=["C"], cmap="RdYlGn", vmin=0, vmax=2.5)

In [12]:
df.style.background_gradient(subset=["C"], cmap="RdYlGn", vmin=0, vmax=2.5)

In [13]:
df.style.format(precision=2).bar(color="orange")

In [17]:
# df.style.format(precision=2).bar(align="mid", color="red", "lightgreen") set_properties(**{"border": "1px solid black"})

In [16]:
properties = {"border": "2px solid gray", "color": "green", "font-size": "16px"}
df.style.set_properties(**properties)

In [18]:
cell_hover = {
    "selector": "td:hover",
    "props": [("background-color", "#FFFFE0")]
}
index_names = {
    "selector": ".index_name",
    "props": "font-style: italic; color: darkgrey; font-weight:normal;"
}
headers = {
    "selector": "th:not(.index_name)",
    "props": "background-color: #800000; color: white;"
}

In [19]:
headers = {
    "selector": "th:not(.index_name)",
    "props": "background-color: #800000; color: white; text-align: center"
}
properties = {"border": "1px solid black", "width": "65px", "text-align": "center"}

df.style.format(precision=2).set_table_styles([cell_hover, index_names, headers]).set_properties(**properties)

In [20]:
def mean_highlighter(x):
    style_lt = "background-color: #EE2E31; color: white; font-weight: bold;"
    style_gt = "background-color: #31D843; color: white; font-weight: bold;"
    gt_mean = x > x.mean()
    return [style_gt if i else style_lt for i in gt_mean]


df.style.apply(mean_highlighter)

In [21]:
def negative_highlighter(x):
    is_negative = x < 0
    return ["color: #EE2E31" if i else "color: #000000" for i in is_negative]

df.style.apply(negative_highlighter)

In [22]:
df.style.background_gradient(cmap="RdYlGn").to_excel("table.xlsx")