[Reference](https://medium.com/@tubelwj/data-conversion-between-pandas-dataframe-and-built-in-data-structures-400c8b9e67ed)

In [1]:
import pandas as pd

df = pd.DataFrame({"product": ["Laptop", "Smartphone", "Tablet"],
                   "price": [1500, 800, 600],
                   "quantity": [5, 10, 7]})

print(df)

      product  price  quantity
0      Laptop   1500         5
1  Smartphone    800        10
2      Tablet    600         7

# 1. df.to_records()

In [2]:
import pandas as pd

df = pd.DataFrame({"product": ["Laptop", "Smartphone", "Tablet"],
                   "price": [1500, 800, 600],
                   "quantity": [5, 10, 7]})

# Output records including the index
print(df.to_records())

# Output records without the index
print(df.to_records(index=False))

# Convert records without the index into a list
print(df.to_records(index=False).tolist())

[(0, 'Laptop', 1500,  5) (1, 'Smartphone',  800, 10)
 (2, 'Tablet',  600,  7)]
[('Laptop', 1500,  5) ('Smartphone',  800, 10) ('Tablet',  600,  7)]
[('Laptop', 1500, 5), ('Smartphone', 800, 10), ('Tablet', 600, 7)]

# 2. 2. df.to_dict()

In [3]:
import pandas as pd

df = pd.DataFrame({"product": ["Laptop", "Smartphone", "Tablet"],
                   "price": [1500, 800, 600],
                   "quantity": [5, 10, 7]})

# Return a Python dictionary, where the key is the column name and the value is each corresponding column
print(df.to_dict())

# Remove the index from the dictionary
print(
    {k: tuple(v.values()) for k, v in df.to_dict().items()}
)

# Manually implement to_dict() by converting each column into a tuple
print(
    {col: tuple(df[col]) for col in df.columns}
)

{'product': {0: 'Laptop', 1: 'Smartphone', 2: 'Tablet'}, 'price': {0: 1500, 1: 800, 2: 600}, 'quantity': {0: 5, 1: 10, 2: 7}}
{'product': ('Laptop', 'Smartphone', 'Tablet'), 'price': (1500, 800, 600), 'quantity': (5, 10, 7)}
{'product': ('Laptop', 'Smartphone', 'Tablet'), 'price': (1500, 800, 600), 'quantity': (5, 10, 7)}

# 3. df.to_dict(orient="records")

In [4]:
import pandas as pd

df = pd.DataFrame({"product": ["Laptop", "Smartphone", "Tablet"],
                   "price": [1500, 800, 600],
                   "quantity": [5, 10, 7]})

# Convert the DataFrame to a Python list, where each element is a dictionary representing each row of data
print(df.to_dict(orient="records"))

[{'product': 'Laptop', 'price': 1500, 'quantity': 5}, {'product': 'Smartphone', 'price': 800, 'quantity': 10}, {'product': 'Tablet', 'price': 600, 'quantity': 7}]

In [5]:
import pandas as pd

data = [{'product': 'Laptop', 'price': 1500, 'quantity': 5},
        {'product': 'Smartphone', 'price': 800, 'quantity': 10},
        {'product': 'Tablet', 'price': 600, 'quantity': 7}]

# For this kind of data, we can use the from_records method of DataFrame
# The dictionaries in the list represent each row of the DataFrame,
# and each dictionary has the same keys, which represent the columns of the DataFrame
print(pd.DataFrame.from_records(data))

      product  price  quantity
0      Laptop   1500         5
1  Smartphone    800        10
2      Tablet    600         7

In [6]:
# Alternatively, it's simpler to call pd.DataFrame directly
print(pd.DataFrame(data))

      product  price  quantity
0      Laptop   1500         5
1  Smartphone    800        10
2      Tablet    600         7

In [7]:
# What happens if the dictionaries in the list do not have the same keys?
data[2]["discount"] = 50  # Adding a new key for the last dictionary
print(pd.DataFrame(data))

      product  price  quantity  discount
0      Laptop   1500         5       NaN
1  Smartphone    800        10       NaN
2      Tablet    600         7      50.0

In [9]:
import pandas as pd

data = {'2024-10-01': {'product': 'Laptop', 'price': 1500, 'quantity': 5},
        '2024-10-02': {'product': 'Smartphone', 'price': 800, 'quantity': 10},
        '2024-10-03': {'product': 'Tablet', 'price': 600, 'quantity': 7}}

# Create a DataFrame from a dictionary with dates as keys
# The orient="index" parameter indicates that the keys will be used as the index

print(pd.DataFrame.from_dict(data, orient="index"))

               product  price  quantity
2024-10-01      Laptop   1500         5
2024-10-02  Smartphone    800        10
2024-10-03      Tablet    600         7

In [10]:
import pandas as pd

data = {'product': ['Laptop', 'Smartphone', 'Tablet'],
        'price': [1500, 800, 600],
        'quantity': [5, 10, 7]}

# Simply call DataFrame to create a DataFrame from the dictionary

print(pd.DataFrame(data))

      product  price  quantity
0      Laptop   1500         5
1  Smartphone    800        10
2      Tablet    600         7