[Reference](https://python.plainenglish.io/excel-style-conditional-formatting-in-pandas-1238277ed70a)

In [2]:
import pandas as pd
df = pd.DataFrame([[-1, 2.3, 2],
                   [-1.25, 0, -1.5],
                   [1.8, -2.6, 1.3],
                   [0.5, 2.1, -7]], columns=['A','B', 'C'])

# Altering Appearances using .apply() and .applymap()

In [4]:
def green_red(value):
    if value < 0:
        return 'color: red; font-weight: bold'
    elif value == 0:
        return None
    else:
        return 'color: green; font-weight: bold'
    
df.style.applymap(green_red)

In [6]:
def min_max(col):
    # empty property list to be filled in the loop
    props = ['font-weight: bold;'] * len(col)
    for idx, value in enumerate(col):
        # color max value green
        if value == max(col):
            props[idx] += 'background-color: lightgreen;'
        # color min value red
        if value == min(col):
            props[idx] += 'background-color: lightcoral'
        
    return props
    
df.style.apply(min_max)

# Altering Appearances Using .pipe()

In [8]:
def color_scales(styler):
    styler.set_caption("Cute Table")
    styler.background_gradient(axis=0, cmap="RdYlGn")
    styler.format(precision=2)
    return styler
    
df.style.pipe(color_scales)