[Reference](https://bindichen.medium.com/exploding-a-list-like-column-with-pandas-explode-method-3ffd41f9f7e2)

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'class': ['Year 1', 'Year 2'],
    'students': [['Tom', 'Jane'], ['Liz', 'James']]
})

df.head()

    class      students
0  Year 1   [Tom, Jane]
1  Year 2  [Liz, James]

In [3]:
df['students'].explode()

0      Tom
0     Jane
1      Liz
1    James
Name: students, dtype: object

In [4]:
df.explode('students')

df.explode('students', ignore_index=True)

    class students
0  Year 1      Tom
1  Year 1     Jane
2  Year 2      Liz
3  Year 2    James

# Series use cases

## Other singular entries

In [5]:
s = pd.Series(
    [
        ['Tom', 'Jane'], 
        ['Liz', 'James'],
        'not a list', # a string
        101,          # a scalar
        ['Katie','Sean']

    ]
)

In [6]:
s

0      [Tom, Jane]
1     [Liz, James]
2       not a list
3              101
4    [Katie, Sean]
dtype: object

In [7]:
s.explode()

0           Tom
0          Jane
1           Liz
1         James
2    not a list
3           101
4         Katie
4          Sean
dtype: object

## Empty list

In [8]:
s = pd.Series(
    [
        ['Tom', 'Jane'], 
        ['Liz', 'James'],
        [],                 # Empty list
        ['Katie','Sean']

    ]
)

In [9]:
s.explode()

0      Tom
0     Jane
1      Liz
1    James
2      NaN
3    Katie
3     Sean
dtype: object

## String with delimiter

In [10]:
s = pd.Series([
    'Tom, Jane', 
    'Liz, James', 
    'Katie, Sean'
])

s.str.split(",").explode()

0       Tom
0      Jane
1       Liz
1     James
2     Katie
2      Sean
dtype: object

# Dataframe use cases

## Other singular entries

In [11]:
df = pd.DataFrame({
    'class': ['Year 1', 'Year 2', 'Year 3', 'Year 4'],
    'students': [
        ['Tom', 'Jane'], 
        'I am a string', 
        101, 
        ['Katie', 'Sean']
    ]
})

df.explode('students')

    class       students
0  Year 1            Tom
0  Year 1           Jane
1  Year 2  I am a string
2  Year 3            101
3  Year 4          Katie
3  Year 4           Sean

## Empty list

In [12]:
df = pd.DataFrame({
    'class': ['Year 1', 'Year 2', 'Year 3', 'Year 4'],
    'students': [
        ['Tom', 'Jane'], 
        ['Liz', 'James'], 
        [], 
        ['Katie', 'Sean']
    ]
})

df.explode('students')

    class students
0  Year 1      Tom
0  Year 1     Jane
1  Year 2      Liz
1  Year 2    James
2  Year 3      NaN
3  Year 4    Katie
3  Year 4     Sean

## Multiple list-like columns

In [13]:
df = pd.DataFrame({
    'class': ['Year 1', 'Year 2'],
    'students': [['Tom', 'Jane'], ['Liz', 'James']],
    'sex': [['M', 'F'], ['F', 'M']]
})

df.explode(['students', 'sex'])

    class students sex
0  Year 1      Tom   M
0  Year 1     Jane   F
1  Year 2      Liz   F
1  Year 2    James   M

## String with delimiter

In [14]:
df = pd.DataFrame({
    'class': ['Year 1', 'Year 2'],
    'students': ['Tom, Jane', 'Liz, James']
})

df.assign(students=df['students'].str.split(",")).explode("students")

    class students
0  Year 1      Tom
0  Year 1     Jane
1  Year 2      Liz
1  Year 2    James