[Reference](https://medium.com/@moonchangin/how-to-filter-a-dataframe-based-on-a-list-of-strings-in-python-pandas-8652fe5ee25f)

In [4]:
import pandas as pd

df = pd.DataFrame({'A': ['apple', 'banana', 'orange', 'apple', 'banana'],
                   'B': [1, 2, 3, 4, 5],
                   'C': [6, 7, 8, 9, 10]})

print(df)

        A  B   C
0   apple  1   6
1  banana  2   7
2  orange  3   8
3   apple  4   9
4  banana  5  10

In [5]:
fruits = ['apple', 'orange']

In [6]:
filtered_df = df[df['A'].isin(fruits)]
print(filtered_df)

        A  B  C
0   apple  1  6
2  orange  3  8
3   apple  4  9

In [7]:
filtered_df = df[df['A'].isin(fruits) & df['B'].isin([1, 3])]
print(filtered_df)

        A  B  C
0   apple  1  6
2  orange  3  8