[Reference](https://medium.com/@tubelwj/how-to-apply-the-aggregate-function-agg-to-pandas-dataframe-or-series-data-06fc64616c92)

In [1]:
import pandas as pd

# Create a sample DataFrame with new data
df = pd.DataFrame({
    "name": ["Sophia", "Liam", "Emma", "Noah", "Olivia"],  # Names of individuals
    "gender": ["F", "M", "F", "M", "F"],  # Gender of individuals
    "age": [28, 32, 26, 37, 29],  # Age of individuals
    "salary": [4500, 5200, 4800, 6100, 5400],  # Monthly salary in USD
    "hire_date": ["2024-06-15", "2023-09-10", "2022-03-22", "2023-11-05", "2019-07-30"]  # Hire date in YYYY-MM-DD format
})

# Display the DataFrame
print(df)

     name gender  age  salary   hire_date
0  Sophia      F   28    4500  2024-06-15
1    Liam      M   32    5200  2023-09-10
2    Emma      F   26    4800  2022-03-22
3    Noah      M   37    6100  2023-11-05
4  Olivia      F   29    5400  2019-07-30

In [4]:
df.columns

Index(['name', 'gender', 'age', 'salary', 'hire_date'], dtype='object')

In [5]:
print(df[["age", "salary"]].agg(["sum", "mean", "max", "min"]))

        age   salary
sum   152.0  26000.0
mean   30.4   5200.0
max    37.0   6100.0
min    26.0   4500.0

In [6]:
print(df["salary"].agg("sum"))

26000

In [7]:
print(df["salary"].agg(["sum", "mean", "max", "min"]))

sum     26000.0
mean     5200.0
max      6100.0
min      4500.0
Name: salary, dtype: float64

In [8]:
print(df[["age", "salary"]].agg("sum"))

age         152
salary    26000
dtype: int64

In [9]:
print(df[["age", "salary"]].agg(["sum", "mean", "max", "min"]))

        age   salary
sum   152.0  26000.0
mean   30.4   5200.0
max    37.0   6100.0
min    26.0   4500.0

In [10]:
print(df.agg({"name": "count", "gender": "count", "age": "mean", "salary": "sum", "hire_date": ["min", "max"]}))

       name  gender   age   salary   hire_date
count   5.0     5.0   NaN      NaN         NaN
mean    NaN     NaN  30.4      NaN         NaN
sum     NaN     NaN   NaN  26000.0         NaN
min     NaN     NaN   NaN      NaN  2019-07-30
max     NaN     NaN   NaN      NaN  2024-06-15

In [11]:
print(df.groupby("gender")[["age", "salary"]].agg("sum"))

        age  salary
gender
F        83   14700
M        69   11300

In [12]:
print(df.groupby("gender").agg({"name": "count", "age": "mean", "salary": ["sum", "max"], "hire_date": "min"}))

        name        age salary         hire_date
       count       mean    sum   max         min
gender
F          3  27.666667  14700  5400  2019-07-30
M          2  34.500000  11300  6100  2023-09-10