[Reference](https://ai.plainenglish.io/missing-data-in-pandas-d41cbcec04e0)

In [1]:
import pandas as pd
import numpy as np

In [2]:
s=pd.Series(["Sam",np.nan,"Tim","Kim"])
s

0    Sam
1    NaN
2    Tim
3    Kim
dtype: object

In [3]:
s.isnull()

0    False
1     True
2    False
3    False
dtype: bool

In [4]:
s.notnull()

0     True
1    False
2     True
3     True
dtype: bool

In [5]:
s[3]=None
s.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [6]:
s.dropna()

0    Sam
2    Tim
dtype: object

In [7]:
from numpy import nan as NA

In [8]:
df=pd.DataFrame([[1,2,3],[4,NA,5],
                 [NA,NA,NA]])
df

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  5.0
2  NaN  NaN  NaN

In [9]:
df.dropna()

     0    1    2
0  1.0  2.0  3.0

In [10]:
df.dropna(how="all")

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  5.0

In [11]:
df

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  5.0
2  NaN  NaN  NaN

In [12]:
df[1]=NA
df

     0   1    2
0  1.0 NaN  3.0
1  4.0 NaN  5.0
2  NaN NaN  NaN

In [13]:
df.dropna(axis=1,how="all")

     0    2
0  1.0  3.0
1  4.0  5.0
2  NaN  NaN

In [14]:
df

     0   1    2
0  1.0 NaN  3.0
1  4.0 NaN  5.0
2  NaN NaN  NaN

In [15]:
df.dropna(thresh=3)
df

     0   1    2
0  1.0 NaN  3.0
1  4.0 NaN  5.0
2  NaN NaN  NaN

In [16]:
df.fillna(0)

     0    1    2
0  1.0  0.0  3.0
1  4.0  0.0  5.0
2  0.0  0.0  0.0

In [17]:
df.fillna({0:15,1:25,2:35})
df

     0   1    2
0  1.0 NaN  3.0
1  4.0 NaN  5.0
2  NaN NaN  NaN

In [18]:
df.fillna(0,inplace=True)
df

     0    1    2
0  1.0  0.0  3.0
1  4.0  0.0  5.0
2  0.0  0.0  0.0

In [19]:
df=pd.DataFrame([[1,2,3],[4,NA,5],
                 [NA,NA,NA]])
df

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  5.0
2  NaN  NaN  NaN

In [20]:
df.fillna(method="ffill")

     0    1    2
0  1.0  2.0  3.0
1  4.0  2.0  5.0
2  4.0  2.0  5.0

In [21]:
df.fillna(method="ffill",limit=1)

     0    1    2
0  1.0  2.0  3.0
1  4.0  2.0  5.0
2  4.0  NaN  5.0

In [22]:
data=pd.Series([1,0,NA,5])
data

0    1.0
1    0.0
2    NaN
3    5.0
dtype: float64

In [23]:
data.fillna(data.mean())
data

0    1.0
1    0.0
2    NaN
3    5.0
dtype: float64

In [24]:
df

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  5.0
2  NaN  NaN  NaN

In [25]:
df.fillna(df.mean())
df

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  5.0
2  NaN  NaN  NaN