[Reference](https://medium.com/@anala007/how-to-use-groupby-in-pandas-for-effective-data-analysis-a859eed9499d)

In [1]:
import pandas as pd

df = pd.DataFrame({'name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charlie'],
                   'course': ['math', 'science', 'english', 'math', 'science', 'english'],
                   'grade': [90, 80, 95, 85, 75, 95]})
df

      name   course  grade
0    Alice     math     90
1      Bob  science     80
2  Charlie  english     95
3    Alice     math     85
4      Bob  science     75
5  Charlie  english     95

In [2]:
grouped = df.groupby('course')
grouped

In [3]:
mean_grades = grouped.mean()
print(mean_grades)

         grade
course
english   95.0
math      87.5
science   77.5

In [4]:
def top_three(group):
    return group.sort_values(by='grade', ascending=False).head(3)

top_students = grouped.apply(top_three)
print(top_students)

              name   course  grade
course
english 2  Charlie  english     95
        5  Charlie  english     95
math    0    Alice     math     90
        3    Alice     math     85
science 1      Bob  science     80
        4      Bob  science     75

In [5]:
grouped = df.groupby(['course', 'name'])
mean_grades = grouped.mean()
print(mean_grades)

                 grade
course  name
english Charlie   95.0
math    Alice     87.5
science Bob       77.5