[Reference](https://medium.com/@tubelwj/how-to-split-columns-in-a-dataframe-using-python-pandas-05272d17f4f2)

In [1]:
import pandas as pd

# Sample DataFrame with English names and addresses
df = pd.DataFrame(
    {
        "Name": ["John Smith", "Emily Davis", "Michael Johnson"],
        "Address": [
            "California, Los Angeles, Downtown",
            "Texas, Houston, Midtown",
            "New York, Manhattan, Harlem",
        ],
    }
)

print(df)

              Name                            Address
0       John Smith  California, Los Angeles, Downtown
1      Emily Davis            Texas, Houston, Midtown
2  Michael Johnson        New York, Manhattan, Harlem

In [2]:
# Extract the city information from the "Address" column
df["City"] = df["Address"].str.split(",", expand=True)[1]

# Extract the surname from the "Name" column
df["Surname"] = df["Name"].str.split(" ", expand=True)[0]

print(df)

              Name                            Address          City  Surname
0       John Smith  California, Los Angeles, Downtown   Los Angeles     John
1      Emily Davis            Texas, Houston, Midtown       Houston    Emily
2  Michael Johnson        New York, Manhattan, Harlem     Manhattan  Michael

In [3]:
df[["State", "City", "District"]] = df["Address"].str.split(",", expand=True)
print(df)

              Name                            Address          City  Surname  \
0       John Smith  California, Los Angeles, Downtown   Los Angeles     John
1      Emily Davis            Texas, Houston, Midtown       Houston    Emily
2  Michael Johnson        New York, Manhattan, Harlem     Manhattan  Michael

        State   District
0  California   Downtown
1       Texas    Midtown
2    New York     Harlem

In [5]:
df["State"], df["City"], df["District"] = zip(*df["Address"].str.split(","))
print(df)

              Name                            Address          City  Surname  \
0       John Smith  California, Los Angeles, Downtown   Los Angeles     John
1      Emily Davis            Texas, Houston, Midtown       Houston    Emily
2  Michael Johnson        New York, Manhattan, Harlem     Manhattan  Michael

        State   District
0  California   Downtown
1       Texas    Midtown
2    New York     Harlem

In [6]:
import pandas as pd

# Create a DataFrame with six phone numbers
df = pd.DataFrame(
    {
        "OrderNumber": ["01", "02", "03", "04", "05", "06"],
        "PhoneNumber": [
            "5551234567",
            "5559876543",
            "5556543210",
            "5558765432",
            "5552345678",
            "5557654321",
        ],
    }
)

# Truncate the phone numbers to keep only the last 4 digits
df["TruncatedPhoneNumber"] = df["PhoneNumber"].str.split(
    r"\d{6}",  # Matches the first 6 digits
    expand=True,
    regex=True,
)[1]

print(df)

  OrderNumber PhoneNumber TruncatedPhoneNumber
0          01  5551234567                 4567
1          02  5559876543                 6543
2          03  5556543210                 3210
3          04  5558765432                 5432
4          05  5552345678                 5678
5          06  5557654321                 4321