[Reference](https://medium.com/@anala007/how-to-use-the-pandas-between-function-to-filter-your-records-a0895c13c10e)

In [1]:
import pandas as pd
fruit_data = {
    "fruit": ["apples", "oranges", "bananas", "strawberries"],
    "count": [5, 7, 3, 2],
    "price": [3.5, 4.5, 2.1, 3.0],
    "date_of_sale": ["2020-08-04", "2020-08-07", "2020-08-08", "2020-06-08"],
}
df = pd.DataFrame(fruit_data)
display(df)

          fruit  count  price date_of_sale
0        apples      5    3.5   2020-08-04
1       oranges      7    4.5   2020-08-07
2       bananas      3    2.1   2020-08-08
3  strawberries      2    3.0   2020-06-08

In [2]:
df[df['count'].between(4, 7, inclusive='both')]

     fruit  count  price date_of_sale
0   apples      5    3.5   2020-08-04
1  oranges      7    4.5   2020-08-07

In [3]:
df[df['count'].between(2, 7, inclusive='neither')]

     fruit  count  price date_of_sale
0   apples      5    3.5   2020-08-04
2  bananas      3    2.1   2020-08-08

In [4]:
df[df['date_of_sale'].between('2020-06-08','2020-08-07', inclusive='both')]

          fruit  count  price date_of_sale
0        apples      5    3.5   2020-08-04
1       oranges      7    4.5   2020-08-07
3  strawberries      2    3.0   2020-06-08