[Reference](https://towardsdev.com/pandas-the-difference-between-pivot-and-groupby-functions-41105188591b)

In [1]:
import pandas as pd
df = pd.DataFrame({'Country': ['USA', 'USA', 'China', 'China'], 

                   'Year': ['2000', '2001', '2000', '2001'], 

                   'Population': [281, 282, 1260, 1261]}) 
df

  Country  Year  Population
0     USA  2000         281
1     USA  2001         282
2   China  2000        1260
3   China  2001        1261

In [2]:
df.pivot(index='Country', columns='Year', values='Population')

Year     2000  2001
Country
China    1260  1261
USA       281   282

In [3]:
grp = df.groupby(by=['Country','Year'])
grp

In [4]:
df.groupby(by=['Country','Year']).sum()

              Population
Country Year
China   2000        1260
        2001        1261
USA     2000         281
        2001         282