[Reference](https://medium.com/@akaivdo/pandas-how-to-convert-a-multi-value-column-to-multiple-rows-75c8d4cc2f4a)

In [1]:
import pandas as pd

df = pd.DataFrame({
    "name": ["Kevin", "Jack", "Mary"],
    "sex": ["M", "M", "F"],
    "hobbies": ["Writing,Chess", "Drawing,Coding", "Music,Reading"]
}, index=["K", "J", "M"])

df

    name sex         hobbies
K  Kevin   M   Writing,Chess
J   Jack   M  Drawing,Coding
M   Mary   F   Music,Reading

In [2]:
df["hobbies"] = df["hobbies"].str.split(",") 
df

    name sex            hobbies
K  Kevin   M   [Writing, Chess]
J   Jack   M  [Drawing, Coding]
M   Mary   F   [Music, Reading]

In [3]:
df = df.explode("hobbies") 
df

    name sex  hobbies
K  Kevin   M  Writing
K  Kevin   M    Chess
J   Jack   M  Drawing
J   Jack   M   Coding
M   Mary   F    Music
M   Mary   F  Reading