[Reference](https://medium.com/analytics-vidhya/python-pandas-basic-functions-61b44e3e5774)

In [1]:
import pandas as pd
import numpy as np
 
s = pd.Series(np.random.randn(4))
print(s)

0    0.286633
1   -2.452731
2    0.056622
3    0.081278
dtype: float64

In [2]:
import pandas as pd
import numpy as np
 
s = pd.Series(np.random.randn(4))
print(s.axes)

[RangeIndex(start=0, stop=4, step=1)]

In [3]:
import pandas as pd
import numpy as np
 
s = pd.Series(np.random.randn(4))
print(s.empty)

False

In [4]:
import pandas as pd
import numpy as np
 
s = pd.Series(np.random.randn(4))
print(s.ndim)

1

In [5]:
import pandas as pd
import numpy as np
 
s = pd.Series(np.random.randn(4))
print(s.size)

4

In [6]:
import pandas as pd
import numpy as np
 
s = pd.Series(np.random.randn(4))
print(s.values)

[ 0.14228663 -0.10908069 -0.98707961 -0.95880929]

In [7]:
import pandas as pd
import numpy as np
 
s = pd.Series(np.random.randn(4))
print(s.head(2))

0   -0.722711
1    1.269161
dtype: float64

In [8]:
import pandas as pd
import numpy as np
 
s = pd.Series(np.random.randn(4))
print(s.tail(2))

2   -0.224926
3    1.191647
dtype: float64