[Reference](https://medium.com/analytics-and-data/become-a-pro-at-pandas-pythons-data-manipulation-library-264351b586b1)

In [2]:
!pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.1.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.27)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.8.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.6.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.10.0.2)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26781 sha256=d8432bdcdd0e33487d4407c79528416c616df0c8ffc12a67dfd08c3952ad0e0e
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [3]:
import pandas as pd
import pandasql as pdsql

pysql = lambda q: pdsql.sqldf(q, globals())

mydataframe = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['uid','test'])
pysql("select uid, (test / 2) as new_val from mydataframe;")

   uid  new_val
0    1        1
1    3        2
2    5        3

In [4]:
!pip install prettypandas

Collecting prettypandas
  Downloading prettypandas-0.0.4.tar.gz (6.5 kB)
Requirement already satisfied: babel in /usr/local/lib/python3.7/dist-packages (from prettypandas) (2.9.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from prettypandas) (1.19.5)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from prettypandas) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->prettypandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->prettypandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.17.1->prettypandas) (1.15.0)
Building wheels for collected packages: prettypandas
  Building wheel for prettypandas (setup.py) ... done
  Created wheel for prettypandas: filename=prettypandas-0.0.4-py3-none-any.whl size=6441 sha256=18eabaf58b0e4775f60d9a1594e87d922393e4e9a4b6f1aa701bfe3e76c63921
  Stored in directory: /root/.cache/pip/wheels/35/47/0e/65585272aa3e5b3f82b90cd0177f13deabe7b6a4f14e2d6d2c
Successfully built prettypandas
Installing collected packages: prettypandas
Successfully installed prettypandas-0.0.4

In [5]:
import pandas as pd
import prettypandas as pp

df = pd.DataFrame([[1,2,3],[4,5,6]], columns=['a','b','c'])
df \
    .pipe(pp.PrettyPandas) \
    .as_currency('EUR', subset='b') \
    .total() \
    .average()

           a    b    c
0        1.0  2.0  3.0
1        4.0  5.0  6.0
Total    5.0  7.0  9.0
Average  2.5  3.5  4.5