[Reference](https://lekha-bhan88.medium.com/most-powerful-pandas-functions-for-better-data-handling-89a73bb2913a)

# 1. Combining DataFrames

## Concatenate

In [1]:
# # Vertical concat
# pd.concat([october_df, november_df, december_df], axis=0)

In [2]:
# # Horizontal concat
# pd.concat([features_1to5_df, features_6to10_df, features_11to15_df], axis=1)

## Merging

In [3]:
# pd.merge(left=ids_and_time_df,
#          right=ids_and_videos_df,
#          on="id")

# 2. Reshaping DataFrames

## Transpose

In [4]:
import numpy as np
import pandas as pd
d1 = {'c1': [2, 3], 'c2': [4, 5]}
df1 = pd.DataFrame(data=d1)
df1

   c1  c2
0   2   4
1   3   5

In [5]:
df1_transposed = df1.T # or df1.transpose()
df1_transposed

    0  1
c1  2  3
c2  4  5

## Groupby

In [6]:
# groups_df = df.groupby('Player')

# for player, group in groups_df:
#    print("----- {} -----".format(player))
#    print(group)
#    print("")

## Stacking

In [7]:
# df = df.stack()

# print(df)

# 3. Working with time data Library

In [8]:
from itertools import product
import pandas as pd
import numpy as np

col_names = ["Day", "Month", "Year"]

df = pd.DataFrame(list(product([10, 11, 12], [8, 9], [2018, 2019])),
                   columns=col_names)

df['data'] = np.random.randn(len(df))

df = df.sort_values(['Year', 'Month'], ascending=[True, True])

df.insert(loc=0, column="date", value=pd.to_datetime(df[col_names]))
df = df.drop(col_names, axis=1).squeeze()

print(df)

         date      data
0  2018-08-10 -0.230338
4  2018-08-11  0.298402
8  2018-08-12 -1.822654
2  2018-09-10  1.240731
6  2018-09-11 -1.355824
10 2018-09-12 -2.335625
1  2019-08-10  0.904413
5  2019-08-11 -0.457722
9  2019-08-12 -0.938022
3  2019-09-10  0.411480
7  2019-09-11  0.165867
11 2019-09-12 -1.610061

# 4. Mapping into Groups

In [10]:
# def membership_map(pandas_series, groups_dict):
#     groups = {x: k for k, v in groups_dict.items() for x in v}
#     mapped_series = pandas_series.map(groups)
#     return mapped_series
    
# mapped_data = membership_map(foods, groups_dict)
# print(list(mapped_data))