[Reference](https://medium.com/codex/python-pro-tips-8-advance-data-manipulation-functions-worth-looking-at-41f4719bd2e4)

# 1. explode():

In [1]:
import pandas as pd
# Create a sample dataframe
data = {'Name': ['John', 'Mike'], 'Items': [['apple', 'banana', 'orange'], ['car', 'bike']]}
df = pd.DataFrame(data)
# Use the explode function to transform the 'Items' column into multiple rows
df_explode = df.explode('Items')
df_explode

   Name   Items
0  John   apple
0  John  banana
0  John  orange
1  Mike     car
1  Mike    bike

# 2. implode:

In [3]:
# Group by column 'A' and aggregate column 'B' using list as aggregation function
df_implode = df_explode.groupby('Name', as_index=False).agg(lambda x: x.tolist())

# Print the dataframe
print(df_implode)

   Name                    Items
0  John  [apple, banana, orange]
1  Mike              [car, bike]

# 3. Melt

In [4]:
import pandas as pd

# Create a sample dataframe
data = {'Name': ['John', 'Mike'], 'Item1': ['apple', 'car'], 'Item2': ['banana', 'bike'], 'Item3': ['orange', 'bus']}
df = pd.DataFrame(data)

# Use the melt function to reshape the DataFrame
df = df.melt(id_vars=['Name'], value_vars=['Item1', 'Item2', 'Item3'], var_name='Item Type', value_name='Item Name')

# 4. pivot_table():

In [5]:
import pandas as pd

# Create a sample dataframe
data = {'Name': ['John', 'Mike', 'John', 'Mike'], 'Item': ['apple', 'car', 'banana', 'bike'], 'Quantity': [1, 2, 3, 4]}
df = pd.DataFrame(data)

# Use the pivot_table function to create a pivot table
table = df.pivot_table( index='Name', columns='Item', values='Quantity', aggfunc='sum')

# 5. stack(): & 6. unstack():

In [6]:
# Using the df created above 
# Use the stack function to change the shape of pivoted DataFrame
df_stack = table.stack()
# Use the unstack function to change the shape of the stacked DataFrame
df_unstack = df_stack.unstack()

# 7.crosstab():

In [7]:
import pandas as pd

# Create a sample dataframe
data = {'Name': ['John', 'Mike', 'John', 'Mike'], 'Item': ['apple', 'car', 'banana', 'bike'], 'Quantity': [1, 2, 3, 4]}
df = pd.DataFrame(data)

# Use the crosstab function to create a cross-tabulation of the Name and Item columns
pd.crosstab(df['Name'], df['Item'])

Item  apple  banana  bike  car
Name
John      1       1     0    0
Mike      0       0     1    1

# 8. cut() and qcut():

In [8]:
import pandas as pd

# Create a sample dataframe
df = pd.DataFrame({'A': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]})

# Divide the column 'A' into 3 bins using the cut function
bins = [0, 3, 6, 10]
df['binned_A'] = pd.cut(df['A'], bins)

# Divide the column 'A' into 3 bins of equal number of observations using the qcut function
df['binned_A_qcut'] = pd.qcut(df['A'], 3)

# Print the dataframe
df

    A binned_A binned_A_qcut
0   1   (0, 3]  (0.999, 4.0]
1   2   (0, 3]  (0.999, 4.0]
2   3   (0, 3]  (0.999, 4.0]
3   4   (3, 6]  (0.999, 4.0]
4   5   (3, 6]    (4.0, 7.0]
5   6   (3, 6]    (4.0, 7.0]
6   7  (6, 10]    (4.0, 7.0]
7   8  (6, 10]   (7.0, 10.0]
8   9  (6, 10]   (7.0, 10.0]
9  10  (6, 10]   (7.0, 10.0]