[Reference](https://medium.com/@alexandre.tkint/send-pandas-data-frame-via-email-in-python-c346314321fa)

In [1]:
import pandas as pd
import requests
import json
response = requests.get("https://api.covid19api.com/summary")
covid_data = pd.json_normalize(response.json()["Countries"])
covid_data

                                       ID  ...                      Date
0    76078a18-a4b1-475a-a8a4-58bf5dc8495e  ...  2021-12-14T12:49:41.928Z
1    c793a745-7c8e-4be3-bdae-7ac428983a62  ...  2021-12-14T12:49:41.928Z
2    a83c3c2f-42f5-4e5d-be64-8848f0af9e34  ...  2021-12-14T12:49:41.928Z
3    184b7efc-c887-4ad5-bb25-3db8fe9fdc8b  ...  2021-12-14T12:49:41.928Z
4    a3d3b1f1-494a-4ff2-9153-3c1b31a17556  ...  2021-12-14T12:49:41.928Z
..                                    ...  ...                       ...
188  d1b37e57-f15b-4e17-8eaa-63644c6b7537  ...  2021-12-14T12:49:41.928Z
189  728284e2-b231-465f-97f9-e7b02beb02ef  ...  2021-12-14T12:49:41.928Z
190  e54daddf-9930-44d9-b151-435c78d293c4  ...  2021-12-14T12:49:41.928Z
191  693019b2-fb6c-4477-83eb-7f07aa52c273  ...  2021-12-14T12:49:41.928Z
192  fe1c980b-af5d-46d4-9589-a96e222d70d8  ...  2021-12-14T12:49:41.928Z

[193 rows x 11 columns]

In [2]:
from email.mime.application import MIMEApplication
from email.mime.multipart import MIMEMultipart
from email.mime.text import MIMEText
import smtplib
def send_email(send_to, subject, df):
    send_from = "dummy@gmail.com"
    password = "your_password"
    message = """\
    <p><strong>This is a test email&nbsp;</strong></p>
    <p><br></p>
    <p><strong>Greetings&nbsp;</strong><br><strong>Alexandre&nbsp;    </strong></p>
    """
for receiver in send_to:
        multipart = MIMEMultipart()
        multipart["From"] = send_from
        multipart["To"] = receiver
        multipart["Subject"] = subject  
        attachment = MIMEApplication(df.to_csv())
        attachment["Content-Disposition"] = 'attachment; filename=" {}"'.format(f"{subject}.csv")
        multipart.attach(attachment)
        multipart.attach(MIMEText(message, "html"))
        server = smtplib.SMTP("smtp.gmail.com", 587)
        server.starttls()
        server.login(multipart["From"], password)
        server.sendmail(multipart["From"], multipart["To"], multipart.as_string())
        server.quit()

In [3]:
send_email(["alexandre@gmail.com", "test@gmail.com"], "Covid-19 data per country", covid_data)