[Reference](https://medium.com/@amit25173/understanding-pandas-update-cell-value-b35f20d3b4c9)

In [1]:
import pandas as pd

# Sample DataFrame
data = {'Student': ['Alice', 'Bob', 'Charlie'],
        'Score': [85, 90, 78]}
df = pd.DataFrame(data)

print(df)

   Student  Score
0    Alice     85
1      Bob     90
2  Charlie     78

# Using .loc Method

In [2]:
# Update Alice's score to 95
df.loc[0, 'Score'] = 95

print(df)

   Student  Score
0    Alice     95
1      Bob     90
2  Charlie     78

# Using .iloc Method

In [3]:
# Update Bob's score to 92 using iloc
df.iloc[1, 1] = 92

print(df)

   Student  Score
0    Alice     95
1      Bob     92
2  Charlie     78

# Using Conditions to Update Multiple Values

In [4]:
# Increase scores of students below 80 by 10
df.loc[df['Score'] < 80, 'Score'] += 10

print(df)

   Student  Score
0    Alice     95
1      Bob     92
2  Charlie     88

# Using .replace Method

In [5]:
# Replace a score of 92 with 100
df.replace(92, 100, inplace=True)

print(df)

   Student  Score
0    Alice     95
1      Bob    100
2  Charlie     88

# # Replace a score of 92 with 100
df.replace(92, 100, inplace=True)

print(df)

In [6]:
# Update scores by adding 5%
df['Score'] = df['Score'].apply(lambda x: x * 1.05)

print(df)

   Student   Score
0    Alice   99.75
1      Bob  105.00
2  Charlie   92.40