[Reference](https://towardsdatascience.com/be-careful-when-using-pandas-groupby-with-categorical-data-type-a1d31f66b162)

In [1]:
import pandas as pd
names = pd.Series(["John", "Jane", "James"] * 1000000, dtype="string")
names.memory_usage()

24000128

In [2]:
names = pd.Series(["John", "Jane", "James"] * 1000000, dtype="category")
names.memory_usage()

3000260

In [3]:
df = pd.DataFrame({
    "col1": pd.Categorical(
        ["A", "A", "B", "A", "B"], 
        categories=["A","B","C"], 
        ordered=False
    ),
    "col2": [10, 14, 20, 25, 23]
})

In [4]:
df["col1"]

0    A
1    A
2    B
3    A
4    B
Name: col1, dtype: category
Categories (3, object): ['A', 'B', 'C']

In [5]:
df.groupby("col1")["col2"].sum()

col1
A    49
B    43
C     0
Name: col2, dtype: int64

In [6]:
df.groupby("col1", observed=True)["col2"].sum()

col1
A    49
B    43
Name: col2, dtype: int64

In [8]:
import numpy as np
df.loc[5,:] = [np.nan, 30]

In [9]:
df.groupby("col1", dropna=False)["col2"].sum()

col1
A    49.0
B    43.0
C     0.0
Name: col2, dtype: float64

In [10]:
df.groupby("col1", observed=True, dropna=False)["col2"].sum()

col1
A    49.0
B    43.0
Name: col2, dtype: float64

In [11]:
df["col1"] = df["col1"].astype("string")
df.groupby("col1", dropna=False)["col2"].sum()

col1
A      49.0
B      43.0
NaN    30.0
Name: col2, dtype: float64