[Reference](https://medium.com/@shahooda637/all-about-class-method-in-python-e278d394551b)

In [1]:
# defining a class

class school:

  # defining the constructor __init__() method of the class to enable the class to take the data
  def __init__(self, name, email):
    self.name = name
    self.email = email

  # defining a class method which overloads the __init__() method
  @classmethod
  def details(cls, name1, email1):
    return cls(name1, email1)

  # defining an instance method inside the class
  def school_details(self):
    print("This School was established in 1950s")

In [2]:
# using the class method to add data into the class through constructor

sch1 = school.details('Central School', 'centralschool@gmail.com')

In [3]:
sch1.email

'centralschool@gmail.com'

In [4]:
sch1.name

'Central School'

In [5]:
sch1.school_details()

This School was established in 1950s

In [6]:
class bank:

  def __init__(self, account_number, balance):
    self.account_number = account_number
    self.balance = balance

  mobile = 7089251232

  @classmethod
  def change_mobile(cls, mobile_num):
    bank.mobile = mobile_num

  @classmethod
  def details(cls, account_number, balance):
    return cls(account_number, balance)

  def customer_details(self):
    print('account number: ' , self.account_number)
    print('balance: ', self.balance)
    print('Mobile: ', bank.mobile)

In [7]:
cus1 = bank.details('1287655825665', '1153225')

In [8]:
cus1.customer_details()

account number:  1287655825665
balance:  1153225
Mobile:  7089251232

In [9]:
cus1.mobile

7089251232

In [10]:
cus1.change_mobile(4535786624)

In [11]:
cus1.mobile

4535786624