[Reference](https://betterprogramming.pub/python-elegant-and-concise-models-with-the-dataclasses-3992b5f5a08d)

In [1]:
from dataclasses import dataclass


@dataclass
class Position:
  lat: float
  lon: float

if __name__ == '__main__':
  position = Position(37.6216, -122.3929)
  print(position)

Position(lat=37.6216, lon=-122.3929)

In [2]:
from dataclasses import dataclass


@dataclass
class Position:
  lat: float
  lon: float


if __name__ == '__main__':
  position = Position(37.6216, -122.3929)
  print(position == Position(37.6216, -122.3929))

True

In [3]:
from dataclasses import dataclass

import math


@dataclass
class Position:
  lat: float
  lon: float

  def distance_to(self, position):
    """
    Calculate harversine distance between two positions
    :param position: other position object
    :return: a float representing distance in kilometers between two positions
    """
    r = 6371.0  # Earth radius in kilometers
    lam1, lam2 = math.radians(self.lon), math.radians(position.lon)
    phi1, phi2 = math.radians(self.lat), math.radians(position.lat)
    delta_lam, delta_phi = lam2 - lam1, phi2 - phi1
    a = math.sin(delta_phi / 2) ** 2 + math.cos(phi1) * math.cos(phi2) * math.sin(delta_lam / 2) ** 2
    return r * (2 * math.atan2(math.sqrt(a), math.sqrt(1 - a)))


if __name__ == '__main__':
  paris = Position(2.3522219, 48.856614)
  san_francisco = Position(37.6216, -122.3929)
  print(paris.distance_to(san_francisco))

15479.614752629424

In [4]:
from dataclasses import dataclass


@dataclass
class Position:
  lat: float
  lon: float


@dataclass
class Town:
  name: str
  position: Position


if __name__ == '__main__':
  paris = Town('Paris', Position(2.3522219, 48.856614))
  san_francisco = Town('San Francisco', Position(37.6216, -122.3929))
  print(paris.distance_to(san_francisco))

AttributeError: ignored

In [5]:
from dataclasses import dataclass


@dataclass
class Position:
  lat: float
  lon: float


@dataclass
class Town(Position):
  name: str


if __name__ == '__main__':
  paris = Town(2.3522219, 48.856614, 'Paris')
  san_francisco = Town(37.6216, -122.3929, 'San Francisco')

In [6]:
from dataclasses import dataclass


@dataclass
class Position:
  lat: float
  lon: float


@dataclass
class Town(Position):
  name: str


@dataclass
class Capital(Town):
  pass


if __name__ == '__main__':
  paris = Capital(2.3522219, 48.856614, 'Paris')
  san_francisco = Town(37.6216, -122.3929, 'San Francisco')

In [8]:
from dataclasses import dataclass, field


@dataclass
class Position:
  lat: float = field(default=0.0, metadata={'unit': 'degrees'})
  lon: float = field(default=0.0, metadata={'unit': 'degrees'})


@dataclass
class Town(Position):
  # Default arguments cannot be followed by non-default arguments
  name: str = None


if __name__ == '__main__':
  paris = Town(2.3522219, 48.856614, 'Paris')
  san_francisco = Town(37.6216, -122.3929, 'San Francisco')

In [9]:
from dataclasses import dataclass, field
from typing import List


@dataclass(frozen=True)
class Position:
  lat: float = field(default=0.0, metadata={'unit': 'degrees'})
  lon: float = field(default=0.0, metadata={'unit': 'degrees'})


@dataclass(frozen=True)
class Town(Position):
  name: str = None


@dataclass(frozen=True)
class Capital(Town):
  pass


@dataclass
class Country:
  code: str
  towns: List[Town] = field(default_factory=list)

  def get_capital(self):
    try:
      return list(filter(lambda x: isinstance(x, Capital), self.towns)).__getitem__(0)
    except IndexError:
      return None


if __name__ == '__main__':
  paris = Capital(2.3522219, 48.856614, 'Paris')
  san_francisco = Town(37.6216, -122.3929, 'San Francisco')
  washington = Capital(47.751076, -120.740135, 'Washington')
  united_states = Country('US', [san_francisco, washington])
  print(united_states.get_capital())

Capital(lat=47.751076, lon=-120.740135, name='Washington')