[Reference](https://towardsdatascience.com/python-objects-and-classes-a957d113063e)

In [1]:
class Employee:
    pass
    
employee1=Employee()
employee2=Employee()

print("Employee 1 is", employee1)
print("Employee 2 is", employee2)

Employee 1 is <__main__.Employee object at 0x7fc09cff44d0>
Employee 2 is <__main__.Employee object at 0x7fc09e812510>

In [2]:
class Employee:
    pass
    
employee1=Employee()
employee1.name='Matt'
employee1.income=50000

print(employee1.name)
print(employee1.income)
employee2=Employee()
employee2.name='Penelope'
employee2.income=90000

print(employee2.name)
print(employee2.income)

Matt
50000
Penelope
90000

In [3]:
class Employee:
    def earning(self):
        if self.income >= 80000:
            return 'High Earning'
        elif (self.income<8000) & (self.income>50000):
            return "Medium Earning"
        else:
            return "Low Earning"

In [4]:
employee1=Employee()
employee1.name='Matt'
employee1.income=50000
level_earning=employee1.earning()
print(level_earning)

Low Earning

In [5]:
employee1=Employee()
employee1.name='Matt'
employee1.income=50000
evel_earning=employee1.earning()
print(level_earning)

employee2=Employee()
employee2.name='Penelope'
employee2.income=90000
level_earning=employee2.earning()
print(level_earning)

Low Earning
High Earning

In [6]:
class Employee:
    def __init__(self, name, income):
        self.name=name
        self.income=income
        
    def earning(self):
        if self.income >= 80000:
            return 'High Earning'
        elif (self.income<8000) & (self.income>50000):
            return "Medium Earning"
        else:
            return "Low Earning"
            
employee1=Employee('Matt',50000)
print(employee1.name)
print(employee1.income)

Matt
50000

In [7]:
class Employee:
    def __init__(self, name, income):
        self.name=name
        self.income=income
        
    def earning(self):
        if self.income >= 80000:
            return 'High Earning'
        elif (self.income<8000) & (self.income>50000):
            return "Medium Earning"
        else:
            return "Low Earning"
            
employee1=Employee('Matt',50000)
print(employee1.name)
print(employee1.income)

employee2=Employee('Penelope',90000)
print(employee2.name)
print(employee2.income)

Matt
50000
Penelope
90000

In [8]:
class Employee:
    def __init__(self, name, income):
        self.name=name
        self.income=income
        
    def earning(self):
        if self.income >= 80000:
            return 'High Earning'
        elif (self.income<8000) & (self.income>50000):
            return "Medium Earning"
        else:
            return "Low Earning"

employee1=Employee('Matt',50000)
level_earning=employee1.earning()
print(employee1.name, "=", level_earning)

employee2=Employee('Penelope',90000)
level_earning=employee2.earning()
print(employee2.name, "=", level_earning)

Matt = Low Earning
Penelope = High Earning