[Reference](https://medium.com/@crisbed321/talking-about-objects-in-python-fecdab439fca)

In [1]:
#!/usr/bin/python3
# Declaring  string objects:
str1 = "Hello"
str2 = "World"
str3 = "Hello"
# Declaring int objects:
num1 = 1
num2 = 1024
num3 = 1
num4 = 1024
# Getting their ids:
print("str1 id is:", id(str1))
print("str1 id is:", id(str1), "and str3 id is:", id(str3))
print("str2 id is:", id(str2))
print("num1 id is:", id(num1), "and num3 id is:", id(num3))
print("num2 id is:", id(num2), "and num2 id is:", id(num4))

str1 id is: 140579491173520
str1 id is: 140579491173520 and str3 id is: 140579491173520
str2 id is: 140579491173632
num1 id is: 10914496 and num3 id is: 10914496
num2 id is: 140579491294384 and num2 id is: 140579491294160

In [2]:
#!/usr/bin/python3
# Declaring  string objects:
str1 = "Hello"
str2 = "World"
str3 = "Hello"
# Declaring int objects:
num1 = 1
num2 = 1024
num3 = 1
num4 = 1024
# Getting their type:
print('Type of str1:', type(str1))
print('Type of num1:', type(num1))

Type of str1: <class 'str'>
Type of num1: <class 'int'>

In [3]:
#!/usr/bin/python3
# declaring a list
animals = ["cow", "pig", "chiken"]
print(animals)

animals[0] = "bull"
animals[-1] = "rooster"
print(animals)

['cow', 'pig', 'chiken']
['bull', 'pig', 'rooster']

In [4]:
#!/bin/bash/python3
x = 10
y = x               # y refers to the same object (number 10) as x
x = 11              # x now refers to a different object (number 11), 
                    # since integers are immutable
print(y)            # but y is still referring to the same object

# Exceptions with Immutable Objects
a = "Hello"            # reserved string 
b = "Hello"
print(a is b)
a = "Hello World!"     # not reserved sttign
b = "Hello world!"
print(a is b)
a = 256.               # reserved int
b = 256
print(a is b)
a = 257                # not reserved int
b = 257
print(a is b)
a = ()                 # empy tupple
b = ()
print(a is b)
a = (1, )              # not empty tupple              
b = (1, )
print(a == b)
print(a is b)

10
True
False
False
False
True
True
False

In [5]:
#!/usr/bin/python3
def increment_1(n):
    n += 1

def increment_2(n):
    n.append(4)

if __name__ == "__main__":
    a = 1
    increment_1(a)
    print(a)

    list1 = [1, 2, 3]
    increment_2(list1)
    print(list1)

1
[1, 2, 3, 4]