[Reference](https://lukianovihor.medium.com/python-data-classes-62ce5a190728)

In [1]:
# standard class
class Hotel:
    def __init__(self, rooms_number: int, city: str, stars: int, avg_room_price: float) -> None:
        self.room_number = rooms_number
        self.city = city
        self.stars = stars
        self.avg_room_price = avg_room_price

# create an object for Hilton
Hilton = Hotel(144, 'Paris', 5, 107.5)

print(Hilton)

<__main__.Hotel object at 0x7d18988e6260>

In [2]:
# class with __str__ or __repr__
class Hotel:
    def __init__(self, rooms_number: int, city: str, stars: int, avg_room_price: float) -> None:
        self.room_number = rooms_number
        self.city = city
        self.stars = stars
        self.avg_room_price = avg_room_price

    def __repr__(self):
        return f"The hotel in {self.city} has {self.room_number}"

# create an object for Hilton
Hilton = Hotel(144, 'Paris', 5, 107.5)

print(Hilton)

The hotel in Paris has 144

In [4]:
# compare two objects of a class
Hilton = Hotel(144, 'Paris', 5, 107.5)
Hilton2 = Hotel(144, 'Paris', 5, 107.5)

print(Hilton == Hilton2)

False

In [5]:
from dataclasses import dataclass

# rewrite class in a data class format
@dataclass
class Hotel:
    rooms_number: int
    city: str
    stars: int
    avg_room_price: float

Hilton = Hotel(144, 'Paris', 5, 107.5)
print(Hilton)

Hotel(rooms_number=144, city='Paris', stars=5, avg_room_price=107.5)

In [6]:
from dataclasses import dataclass, field
from random import randint

# add default fielt
@dataclass
class Hotel:
    rooms_number: int
    city: str
    stars: int
    avg_room_price: float
    staff_names: list[str] = field(default_factory=list)
    id: str = field(init=False, default=randint(1, 100))

Hilton = Hotel(144, 'Paris', 5, 107.5)
print(Hilton)

Hotel(rooms_number=144, city='Paris', stars=5, avg_room_price=107.5, staff_names=[], id=27)

In [7]:
from dataclasses import dataclass, field
from random import randint

# add post_init
@dataclass
class Hotel:
    rooms_number: int
    city: str
    stars: int
    avg_room_price: float
    staff_names: list[str] = field(default_factory=list)
    id: str = field(init=False, default=randint(1, 100))
    max_revenue: float = field(init=False)

    def __post_init__(self) -> None:
        self.max_revenue = self.rooms_number * self.avg_room_price

Hilton = Hotel(144, 'Paris', 5, 107.5)
print(Hilton)

Hotel(rooms_number=144, city='Paris', stars=5, avg_room_price=107.5, staff_names=[], id=50, max_revenue=15480.0)

In [8]:
from collections import namedtuple

Hotel = namedtuple("Hotel", "rooms_number city stars avg_room_price")
Hilton = Hotel(144, 'Paris', 5, 107.5)
print(Hilton)

Hotel(rooms_number=144, city='Paris', stars=5, avg_room_price=107.5)

In [9]:
import typing
Hotel = typing.NamedTuple('Hotel',
                          [('rooms_number', int),
                           ('city', str),
                           ('stars', int),
                           ('avg_room_price', float)])

Hilton = Hotel(144, 'Paris', 5, 107.5)
print(Hilton)

Hotel(rooms_number=144, city='Paris', stars=5, avg_room_price=107.5)

In [10]:
from typing import NamedTuple

class Hotel(NamedTuple):
    rooms_number: int
    city: str
    stars: int
    avg_room_price: float

Hilton = Hotel(144, 'Paris', 5, 107.5)
print(Hilton)

Hotel(rooms_number=144, city='Paris', stars=5, avg_room_price=107.5)