[Reference](https://medium.com/analytics-vidhya/python-object-oriented-programming-tips-db4b40c9e314)

In [2]:
class Person(object):
    def __init__(self, first_name, last_name, address):
        self.first_name = first_name
        self.last_name = last_name
        self.address = address

    @classmethod
    def create_using_full_name(cls, full_name, address):
        name = full_name.split(' ')
        return cls(name[0], name[1], address)

class Employees(object):
    def __init__(self):
        self.employees_list = []

    def __len__(self):
        return len(self.employees_list)

    def __getitem__(self, item):
        return self.employees_list[item]

    @classmethod
    def add_employee_to_list(cls, list_of_emps=[]):
        self = cls()
        for emp in list_of_emps:
            self.employees_list.append(emp)
        return self

    def print_emp_name(self):
        return [person.first_name + person.last_name for person in self.employees_list]

person1 = Person('Henry', 'Thiery', 'France')
person2 = Person('Xaxi', 'Hernandez', 'Spain')
person3 = Person('Erling', 'Haaland', 'Sweden')
employees = Employees.add_employee_to_list([person1, person2, person3])
employees.print_emp_name()

['HenryThiery', 'XaxiHernandez', 'ErlingHaaland']

In [3]:
employees = Employees.add_employee_to_list([person1, person2, person3])
len(employees)

3

In [4]:
employees[1]

In [5]:
employees[1].first_name

'Xaxi'

In [6]:
class Employees(object):
    def __init__(self):
        self.employees_list = []

    def __len__(self):
        return len(self.employees_list)

    def __getitem__(self, item):
        return self.employees_list[item]

    def __getattr__(self, item):
        return getattr(self.employees_list, item)

    @classmethod
    def add_employee_to_list(cls, list_of_emps=[]):
        self = cls()
        for emp in list_of_emps:
            self.employees_list.append(emp)
        return self
    
    def print_emp_name(self):
        return [person.first_name + person.last_name for person in self.employees_list]

In [7]:
employees = Employees.add_employee_to_list([person1, person2, person3])
employees.append

In [8]:
employees.sort

In [10]:
employees.index

In [14]:
class Person(object):
    def __init__(self, name, age, sex, profession):
        self.name = name
        self.age = age
        self.sex = sex
        self.profession = profession

In [12]:
def print_table(objects, attrs, format):
    format.heading(attrs)
    for obj in objects:
        rows = [str(getattr(obj, attr_name)) for attr_name in attrs]
        format.contents(rows)

In [16]:
class Formatter(object):
    def __init__(self, save_file=None):
        if save_file:
            self.save_file = save_file

    def heading(self, headers):
        raise NotImplementedError

    def contents(self, rows):
        raise NotImplementedError


class TextFormatter(
    Formatter):  # if i want to support width param or add a feature then I would need to init parent and create my var

    def __init__(self, save_file=None, width=20):
        self.width = width
        super().__init__(save_file=save_file)

    def heading(self, headers):
        for header in headers:
            print(header, end='\t')
        print()

    def contents(self, rows):
        print()
        for row in rows:
            print({}.format(row), end="\t")


class CVSFormatter(Formatter):
    def heading(self, headers):
        for header in headers:
            print(header, end=',')
        print()

    def contents(self, rows):
        for row in rows:
            print('{}'.format(row), end=",")
        print()


class HTMLFormatter(Formatter):
    def heading(self, headers):
        for header in headers:
            print('<h>{}</h>'.format(header), end=' ')
        print()

    def contents(self, rows):
        for row in rows:
            print('<t>{}</t>'.format(row), end=" ")
        print()

class QuoterMixin(object):
    def contents(self, rows):
        quoted = ['"{}"'.format(text) for text in rows]
        super().contents(quoted)

class Formatter(QuoterMixin, CVSFormatter):
    pass

formatter = Formatter()

person1 = Person('Thiery Henry', '42', 'M', 'Footballer')
person2 = Person('Hernandez Xaxi', '35', 'M', 'Footballer')
person3 = Person('Erling Haaland', '21', 'M', 'Footballer')

persons = [person1, person2, person3]

# Creating a formatter
formatter = CVSFormatter()
print_table(persons, ['name', 'age', 'profession'], format=formatter)

# Creating another formatter
formatter = HTMLFormatter()
print_table(persons, ['name', 'age', 'profession'], format=formatter)

name,age,profession,
Thiery Henry,42,Footballer,
Hernandez Xaxi,35,Footballer,
Erling Haaland,21,Footballer,
<h>name</h> <h>age</h> <h>profession</h>
<t>Thiery Henry</t> <t>42</t> <t>Footballer</t>
<t>Hernandez Xaxi</t> <t>35</t> <t>Footballer</t>
<t>Erling Haaland</t> <t>21</t> <t>Footballer</t>