[Reference](https://towardsdev.com/python-inheritance-how-to-use-existing-code-all-around-the-world-bb43a6d8c71)

In [1]:
class Vehicle:
    def __init__(self, year, mpg, tank, mileage):
        self.year = year
        self.tank = tank
        self.mpg = mpg
        self.mileage = mileage

    def drive(self, n_miles):
        self.tank = self.tank - n_miles / self.mpg
        self.mileage += n_miles
        
        return self.tank, self.mileage

class Car(Vehicle):
    pass

In [2]:
sedan = Car(2020, mpg=56, tank=10, mileage=1000)

print(
    f"This sedan was built in {sedan.year}. It has {sedan.tank} gallons in tank. "
    f"Its mileage is at {sedan.mileage}"
)

tank, mileage = sedan.drive(50)
print(f"Drove for 50 miles. Mileage is currently at {mileage} miles. {round(tank, 2)} gallons remaining.")

This sedan was built in 2020. It has 10 gallons in tank. Its mileage is at 1000
Drove for 50 miles. Mileage is currently at 1050 miles. 9.11 gallons remaining.

In [3]:
type(sedan)

__main__.Car

In [4]:
isinstance(sedan, Vehicle)

True

In [5]:
isinstance(sedan, Car)

True

In [6]:
simple_vehicle = Vehicle(2020, 60, 15, 1e7)  # Generic Vehicle object

isinstance(simple_vehicle, Vehicle)

True

In [7]:
isinstance(simple_vehicle, Car)

False

In [8]:
class Car(Vehicle):
    def __init__(self, year, mpg, tank, mileage, model, color):
        self.year = year
        self.tank = tank
        self.mpg = mpg
        self.mileage = mileage
        # NEW ATTRIBUTES
        self.color = color
        self.model = model

In [9]:
jaguar = Car(2015, 23, 10, 1000, 'Jaguar', 'black')
jaguar.color

'black'

In [10]:
class Car(Vehicle):
    def __init__(self, year, mpg, tank, mileage, model, color):
        # Iinitialize the attributes of the parent class
        Vehicle.__init__(self, year, mpg, tank, mileage)
        # New attributes here
        self.color = color
        self.model = model
jaguar = Car(2015, 23, 10, 1000, 'Jaguar', 'black')
print(jaguar.year)
print(jaguar.mpg)
print(jaguar.model)

2015
23
Jaguar

In [11]:
class Car(Vehicle):
    def __init__(self, year, mpg, tank, mileage, model, color):
        Vehicle.__init__(self, year, mpg, tank, mileage)
        self.color = color
        self.model = model
    
    def is_old(self):
        if self.year <= 2010:
            return True
        else: return False

In [12]:
car = Car(2004, 15, 5, 750000, 'Toyota', 'white')
car.is_old()

True

In [13]:
class Airplane(Vehicle):
    
    def __init__(self, mpg, tank, mileage, n_passengers):
        self.mpg = mpg
        self.tank = tank
        self.mileage = mileage
        self.n_passengers = n_passengers
    
    def fly(self, n_miles):
        return Vehicle.drive(self, n_miles * self.n_passengers)
boeing = Airplane(51, 3500, 2e7, 200)
tank, mileage = boeing.fly(500)
print(f"Flew for 500 miles. "
      f"{round(tank, 2)} gallons remaining in tank.")

Flew for 500 miles. 1539.22 gallons remaining in tank.

In [14]:
class Car(Vehicle):
    def __init__(self, year, mpg, tank, mileage, model, color):
        super().__init__(year, mpg, tank, mileage)
        self.color = color
        self.model = model

In [15]:
class Parent:
    
    def my_method(self):
        print("This method will be overridden by the child.")

class Child(Parent):
    
    def my_method(self):
        print("This method overrode the parent's method.")
obj = Child()
obj.my_method()

This method overrode the parent's method.

In [16]:
parent_obj = Parent()
parent_obj.my_method()

This method will be overridden by the child.

In [17]:
class A:
    pass

class B(A):
    pass

class C(B):
    pass

obj = C()

print(isinstance(obj, A))
print(isinstance(obj, B))

True
True